= '\n'
//= secondMenu =
//-=(source/scss/layout/header/secondMenu/_secondMenu.scss)=
.second-menu
    ul.second-menu__inner
        each val in secondMenu
            if (val.name === subTitle)
                li.active
                    a(class=val.class href=val.href)= val.name
            else
                li
                    a(class=val.class href=val.href)= val.name

//= End secondMenu =
= '\n'