@import 'vars/_variable.scss';

.nav {
    &--page {
        position: relative;
        z-index: 2;
    }

    &__container {
        position: relative;

        &--left {
            float: left;
        }

        &--right {
            float: right;
        }

        &--fixed {
            padding: 0 52px 0 59px;
        }

        &Inner {
            position: relative;
            float: left;
            width: 100%;
        }
    }

    &__button {
        line-height: (46px / $nav__baseFontSize);
        position: relative;
        display: block;
        padding: 0 20px;
        transition: all .2s linear;
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        background: $nav__buttonBackgroundColor;

        &:before {
            position: relative;
            display: inline-block;
            width: 19px;
            height: 10px;
            content: '';
            background: url('../images/nav/icon/primaryMenu.png') no-repeat;
        }

        &:hover {
            background: $nav__buttonBackgroundColor--active;
        }
    }

    &__drop {
        position: fixed;
        z-index: 101;
        top: 0;
        bottom: 0;
        left: 0;
        width: 320px;
        padding: 46px 0 0;
        transition: all .2s linear;
        transform: translateX(-100%);
        background: $nav__dropBackgroundColor;

        &Top {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            left: 0;
            height: 46px;
            background: $nav__backgroundColor;
        }

        &Close {
            position: absolute;
            top: 50%;
            right: 15px;
            width: 16px;
            height: 16px;
            margin: -8px 0 0 0;
            background: url('../images/nav/icon/close.png') no-repeat;
        }

        &Content {
            position: relative;
            overflow: auto;
            height: 100%;
            padding: 15px 30px 30px 7px;
        }
    }

    .row {
        &:last-child {
            background: $base;
            padding: 20px 0 0;
        }
    }

    @import 'module/primaryMenu/_primaryMenu.scss';
    @import 'module/mobileMenu/_mobile-menu.scss';
    @import 'module/secondaryMenu/_secondaryMenu.scss';
    @import 'module/userbar/_userbar.scss';
    @import '../header/module/menu/_menu.scss';

    @media (max-width: $screenMbMax) {
        &--page {
            margin-bottom: 30px;
        }
    }

    @media (min-width: $screenXsMin) {
        &__container {
            padding: 0 15px;

            &--fixed {
                padding-right: 240px;
                padding-left: 240px;
            }
        }

        &__button {
            width: 210px;

            &:before {
                margin: 0 10px 0 0;
            }
        }
    }

    @media (max-width: $screenSmMax) {
        $primaryMenuDrop__borderColor:      $borderColor !default;
        $primaryMenuDrop__backgroundColor:  $base !default;

        &--page {
            .primaryMenu {
                &__drop {
                    padding: 0 20px;
                    border: 1px solid $primaryMenuDrop__borderColor;
                    border-radius: 10px;
                    background: $primaryMenuDrop__backgroundColor;
                }
            }
        }
    }

    @media (min-width: $screenMdMin) {
        .row {
            &:last-child {
                display: none;
            }
        }
    }

    @media (min-width: 1200px) {
        &__container {
            &--fixed {
                padding-left: 290px;
            }
        }
    }
}
