include vars/_variable.pug

//= Nav =
nav#nav.nav
    .container
        .row
            .nav__container.nav__container--left

                include module/primaryMenu/_primaryMenu.pug

                a.nav__button.hide-md-min(href='javascript:void(0);')
                    span.hide-mb-max Меню

            .nav__container.nav__container--right

                include module/userbar/_userbar.pug

            .nav__container.nav__container--fixed
                .nav__containerInner

                    - hideClass = 'hide-sm-max'

                    - var secondaryMenuNav = true
                    include module/secondaryMenu/_secondaryMenu.pug

                    - hideClass = 'hide-xs-min'

                    include ../header/module/menu/_menu.pug

                    - hideClass = ''

            //-.nav__drop.hide-md-min
                .nav__dropTop
                    a.nav__dropClose(href='javascript:void(0);')

                .nav__dropContent

                    include module/primaryMenu/module/drop/_drop.pug
                    include module/secondaryMenu/_secondaryMenu.pug
            - var secondaryMenuNav = false
            include module/mobileMenu/_mobile-menu.pug

        .row
            a.button.button--buy.button--catalog(href='javascript:void(0);') 
                span.button__text Каталог товарів


//= End nav =
= '\n'
