.add-comment {

    &.active {
        display: block;
    }

    position: relative;
    max-width: 458px;
    width: 100%;
    display: none;
    //height: 192px;

    a {
        color: $brandPrimary;
        font-family: $fontFamilyMuseoSansCyrl_Rg2;
        font-size: $fontSizeLarge;
        margin-top: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap;
    }


    @media (min-width: 600px) {


    }
}
