.advices {

    h1 {
        margin: 24px 0;
    }

    ul {
        counter-reset: section;

        >li {
            font-size: $fontSizeLarge;
            font-weight: 300;
            color: $grayDarker;
            line-height: 1.5;
            position: relative;

            &:before {
                counter-increment: section;
                content: counters(section, ".") ".";
                font-size: $fontSizeLarge;
                color: $brandPrimary;
            }

            ul {
                padding-left: 20px;

                li {
                    font-size: $fontSizeMedium;
                    position: relative;

                    &:before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        position: absolute;
                        background: $brandPrimary;
                        border-radius: 50%;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -12px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        ul {
            >li {
                font-size: 24px;
                line-height: 36px;

                &:before {
                    counter-increment: section;
                    content: counters(section, ".") ".";
                    font-size: 24px;
                    color: $brandPrimary;
                }
            }
        }
    }
}
