.cart {
    max-width: 1250px;
    width: 100%;


    &__header {
        display: none;
        justify-content: space-between;
    }

    &__cell {

        text-align: center;
        padding: 5px;
        color: $grayLighter;
        font-size: $fontSizeLarge;



        &--size,
        &--color {
            width: 100%;
            .size {
                max-width: 43px;
                font-size: $fontSizeMedium;
                margin: 0 auto;
            }
            .color {
                margin: 0;
            }
        }
        &--quantity {
            .quantity {
                margin: auto;
            }
        }
    }

    &__adaptive {
        display: flex;
    }
    // cart-item
    &-item {
        display: flex;
        align-items: center;
        border: 1px solid $grayLight;
        border-bottom-width: 0;
        flex-direction: column;
        width: 100%;
        &:last-child {
            border-bottom-width: 1px;
        }
        .cart {
            &__cell {
                &--name {
                    display: flex;

                    align-items: center;
                    .div {
                        text-align: left;
                    }
                    h3 {
                        font-size: $fontSizeLarge;
                        color: $grayDarker;
                    }
                    p {
                        font-size: $fontSizeBase;
                    }
                }
                &--remove {
                    height: 16px;
                    width: 16px;
                    background: url(../images/close.svg)no-repeat center center;

                    align-self: flex-end;
                    margin: 5px 5px 0 0;
                    cursor: pointer;
                }
            }
        }
    }

    &__picture {
        display: block;
        max-width: 130px;
        width: 100%;
        margin-right: 5px;
    }

    @media (min-width: 600px) {
        &-item {
            flex-direction: row;

            .cart {
                &__cell {

                    &--remove {
                        margin: 0;
                        align-self: center;
                        flex-shrink: 0;
                        padding: 10px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        &__header {
            display: flex;
        }

        &__cell {
            width: (100% / 5);

            &--size,
            &--color {
                width: 100%;
            }

            &--remove {
                width: 3%;
                flex-shrink: 0;
            }
        }

        &-item {
            justify-content: space-between;
            .cart {
                &__cell {
                    &--name {
                        flex-wrap: wrap;
                    }
                    &--size,
                    &--color {

                        .size {
                            font-size: $fontSizeLarge;
                        }
                    }
                }
            }
        }


        &__adaptive {
            max-width: 295px;
            width: 100%;
        }
    }
    @media (min-width: 1024px) {

        &__cell {
            &--name {
                max-width: 465px;
                width: 100%;
            }
        }

        &-item {
            .cart {
                &__picture {
                    margin-right: 40px;
                }
                &__cell {
                    &--remove {
                        width: 3%;
                    }
                }
            }
        }
    }
}
