.characteristics {

    &__content {
        .price {
            display: flex;
            align-items: center;
            span,
            p,
            a {
                order: -1;
                color: $brandPrimary;
                font-size: $fontSizeH3;
                font-size: 28px;
                white-space: nowrap;
                padding: 0 5px 0 0;
            }
        }
    }
    p,
    span {
        color: $grayLighter;
        font-size: $fontSizeMedium;
    }

    b {
        color: $grayDarker;
    }

    &__color {
        display: flex;
        margin-bottom: 30px;
    }

    &__sizes {
        display: flex;
        .size {
            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__panel {
        display: flex;

        .button {
            line-height: 50px;
            max-height: 50px;
        }
        .quantity {
            margin-right: 24px;
        }
    }
}
