.cookies {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    max-width: 447px;
    width: 100%;
    transition: all .6s;
    z-index: 101;
    background: $brandPrimary;
    border-radius: 6px;
    display: flex;
    max-width: 300px;

    &__close {
        overflow: hidden;
        text-indent: 100%;
        width: 12px;
        overflow: hidden;
        text-indent: 100%;
        position: absolute;
        top: 9px;
        height: 12px;
        right: 9px;
        cursor: pointer;

        &:before,
        &:after {
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            content: '';
            transition: all .2s linear;
            background: url('../images/icons/exit-cookies.svg')no-repeat;
        }
    }

    &__image {
        background: url(../images/cookies/cookies.svg)no-repeat;
        width: 90px;
        height: 90px;
        flex-shrink: 0;
        display: none;
    }

    h2 {
        text-transform: uppercase;
        font-family: $fontFamilyBase;
        color: $base;
        margin: 0;
        font-weight: 600;
        font-size: 24px;
    }

    p {
        font-family: $fontFamilyBase;
        color: $base;
        margin: 0 0 14px 0;
        font-size: 16px;
    }

    &__link {
        display: flex;
        align-items: center;
        margin: 0 -17px;

        &-item {
            margin: 0 17px;
            color: $base;
            border: 1px solid $base;
            border-radius: 6px;
            text-decoration: none;
            padding: 4px 5px;
            font-size: $fontSizeSmall;
            text-transform: uppercase;
            font-size: 16px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
    }

    @media (min-width: $screenMdMin) { //1080
        bottom: 20px;
        top: auto;
        right: 20px;
        left: auto;
        transform: none;
        padding: 15px;
        max-width: 447px;

        &__image {
            display: block;
        }

        h2 {
            font-size: 24px;
        }

        p {
            font-size: $fontSizeLarge;
        }

        &__link {
            &-item {
                padding: 9px 12px;
                font-size: $fontSizeLarge;
            }
        }
    }
}
