.filter-all {
    position: relative;

    &__button {
        display: flex;
        justify-content: flex-start;
        height: 40px;
        margin: 0 8px 10px 0;
        position: relative;

        p {
            width: 40px;
            background: $brandPrimary;
            border-radius: 5px 0px 0px 5px;
            position: relative;
            margin: 0;
            border: 1px solid $brandPrimary;

            &:after {
                content: '';
                background: url(../images/container/filterAll.svg);
                width: 18px;
                height: 20px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        a {
            border: 1px solid $grayLight;
            border-radius: 0px 5px 5px 0px;
            font-size: $fontSizeMedium;
            line-height: 40px;
            color: $brandPrimary;
            padding: 0 24px;
            text-decoration: none;
        }
    }

    .drop {
        position: absolute;
        top: 40px;
        left: 0;
        margin: 0;
        padding: 24px 24px 0;
        text-align: left;
        background: $base;
        border-radius: 5px;
        display: none;

        &.open {
            visibility: visible;
            display: block;
            z-index: 105;
        }
    }
}
