
.filter {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__left {
        display: flex;
        min-width: 280px;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
        flex-flow: column nowrap;

        .filter {
            &__container {
                min-width: 300px;
                display: block;
                border: 0;
                flex: none;
                max-width: 0;
            }
        }
    }

    &__right {
        //display: table-cell;
        padding-left: 48px;
        flex: 0 0 auto;
        max-width: none;
        flex-grow: 1;
        display: flex;
        flex-flow: column nowrap;
        min-width: 300px;
        padding: 0;
    }

    &__container {
        //border-bottom: 1px solid rgba(178, 178, 178, 0.25);
        margin: 0 0 21px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        &:last-child {
            padding: 0;
            border: 0;
            //margin: 0 0 3px;

            .filter {
                &__more,
                &__box {
                    padding: 0;
                }
            }
        }

        &.verticalCenter {
            align-items: center;
            margin: 40px 0 25px;

            .filter__title {
                margin: 0 10px 17px 0;
            }

            .filter__box {
                padding: 0;
            }
        }

        &.price {
            order: 2;
        }

        &.type {
            order: 1;
        }

        &.placing {
            order: 3;
        }

        &.cost {
            order: 3;
        }
    }

    &__top-box {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin: 0 -11px;
    }

    &__top-inner {
        padding: 4px;
        width: 33.3333%;
        cursor: pointer;
        display: flex;

        &.active {
            .filter__top-img {
                border: 1px solid $base;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: -9px;
                    right: -9px;
                    background: url('../images/container/check-mark-white.svg') left top no-repeat;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    &__top-img {
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 5px;
        display: flex;
        //justify-content: center;
        align-items: center;
        flex-flow: column nowrap;

        img {
            padding: 0px 30px;
            filter: brightness(0) invert(1);
        }

        p {
            font-size: 12px;
            color: $base;
            margin: 0 auto;
        }
    }

    &__title {
        min-width: 200px;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        width: 100%;
        margin-bottom: 15px;

        &:after {
            content: '';
            display: inline-block;
            margin-right: -100%;
            margin-left: 20px;
            border: 1px solid rgba(229, 229, 229, 0.25);
            width: 100%;
            height: 1px;
            vertical-align: middle;
        }
    }

    &__button {
        position: absolute;
        top: 7px;
        right: -2px;
        width: 19px;
        height: 10px;
        text-decoration: none;
        outline: none;
        background: url(../images/container/filter-arrow.png) no-repeat;
        transform: rotate(180deg);
        cursor: pointer;
        transition: all .2s ease;

        &:hover {
            top: 7px;
        }

        &.rotate {
            transform: rotate(0deg);

            &:hover {
                //top: 3px;
            }
        }
    }

    &__box {
        position: relative;
        display: table;
        width: 100%;

        &.overflow {
            //max-height: 100%;
            //padding: 0 0 5px 0;
            column-count: 1;
            display: block;
            margin: 0 0 5px;
            flex-grow: 1;

        }
    }

    &__list-item {
        padding-bottom: 18px;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
    }

    &__item {
        position: relative;
        padding-left: 0;
        color: $base;
        white-space: nowrap;
        font-weight: normal;
        font-size: 14px;
        //margin-bottom: 18px;
        display: block;
        padding-top: 2px;

        &.disabled {
            color: $brandInfo;

            input[type=checkbox] {
                border: 1px solid $brandInfo;
            }
        }

        input[type=checkbox] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            border-radius: 3px;
            outline: none;
            right: 0;
            left: auto;
            border: 1px solid $base;

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                width: 14px;
                height: 10px;
                content: '';
                background: url('../images/container/checker-avtr-green.svg') no-repeat;
                transition: opacity 0.2s ease-out;
            }

            &:checked {
                border: 1px solid $base;
                background: $base;

                &:before {
                    opacity: 1;
                }
            }
        }

        &-counter {
            //color: $grayXLight;
            padding: 0 0 0 5px;
        }
    }

    &__range {
        margin: 49px auto 0;
        width: 85%;

        &-toddler {
            position: relative;
            top: -12px;
            margin: 0 -6px;
        }

        &-input {
            position: relative;
            width: 100%;
            //max-width: 74px;
            height: 38px;
            text-align: center;
            //border: 1px solid $borderColor;
            color: $grayBase;
            outline: none;
            background: none;
            border: 0;
            margin: 5px 0;
            font-size: 24px;

            &:first-child {
                border-right: 1px solid rgba(178, 178, 178, 0.5);
            }
        }

        &-text {
            position: relative;
            margin: 0 11px;
            //color: $grayXLight;
            font-size: $fontSizeBase;
        }

        &-controls {
            position: relative;
            margin: 7px 0 11px;
            display: flex;
            align-items: center;
            border: 1px solid rgba(178, 178, 178, 0.5);
            border-radius: 5px;
            display: none;
        }
    }

    @media (min-width: 600px) {
        flex-flow: row nowrap;
        align-items: normal;
        justify-content: center;

        &__left {
            min-width: 300px;

            &.filter__inner {
                min-width: 250px;

                .filter {
                    &__container {
                        min-width: 250px;
                    }
                }
            }
        }

        &__right {
            padding-left: 48px;
            width: 1%;
            min-width: 280px;
            max-width: 300px;

            &.filter {

                &__inner {
                    min-width: 300px;
                }
            }
        }

        &__range {
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        justify-content: normal;

        &__top-inner {
            width: 50%;
            padding: 10px;

            &.active {
                .filter__top-img {
                    border: 1px solid $brandPrimary;
                    position: relative;

                    &:before {
                        top: -9px;
                        right: -9px;
                        background: url('../images/container/check-mark.svg') left top no-repeat;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        &__top-img {
            border: 1px solid $brandSuccess;
            width: 100%;

            img {
                padding: 14px 0 9px;
            }

            p {
                color: $grayBase;
                font-size: 16px;
                margin: 0px auto 14px;
            }
        }

        &__title {
            min-width: 135px;
            color: $brandPrimary;
            position: relative;
            font-size: 18px;
            text-transform: none;
            margin: 0 0 10px 0;
            width: auto;

            &:after {
                display: none;
            }
        }

        &__range {
            margin: 28px auto 0;

            &-controls {
                display: flex;
            }
        }

        &__container {
            flex-flow: row nowrap;
            border-bottom: 1px solid rgba(178, 178, 178, 0.25);

            &.price {
                order: 1;
            }

            &.type {
                order: 2;
            }
        }

        &__top-img {

            img {
                filter: brightness(1) invert(0);
            }
        }

        &__item {
            color: $grayDarker;
            font-size: 16px;
            font-weight: 600;
            padding-left: 35px;

            input[type=checkbox] {
                position: absolute;
                left: 0;
                width: 24px;
                height: 24px;
                border: 1px solid #B2B2B2;

                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    width: 20px;
                    height: 14px;
                    content: '';
                    background: url('../images/container/checker-avtr.svg') no-repeat;
                    transition: opacity 0.2s ease-out;
                }

                &:checked {
                    border: 1px solid $brandPrimary;
                    background: $brandPrimary;
                }
            }
        }

        &__right{
            min-width: auto;
            max-width: none;
        }
    }

    @media (min-width: 840px) {

        &__title {
            min-width: 200px;
        }
    }

    @media (min-width: 1040px) {

        &__box {

            &.overflow {
                column-count: 2;
            }
        }
    }

    @media (min-width: 1260px) {

        &__box {

            &.overflow {
                column-count: 3;
            }
        }
    }
}

/**
 * ------------------------------------------------------------------------------------------------------
 * CSS Filters
 * ------------------------------------------------------------------------------------------------------
**/


.filters-mobile-slide {
    position: fixed;
    //width: 27rem;
    //top: 0;
    //bottom: 0;
    top: 100%;
    // margin-right: -26rem;
    //left: 0;
    z-index: 100;
    transition: all .2s linear;
    background-color: $brandPrimary;
    //border-right: 2px solid $brandSuccess;
    will-change: transform;
    overflow-y: auto;
    //height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    &.active {
        top: 0;
    }
}

.body-overlay:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    //opacity: .5;
    z-index: 900;
}

.toggle-filters-mobile-slide {
    width: 48px;
    height: 48px;
    background-color: $brandPrimary;
    box-shadow: 0 0 6px rgba(0,0,0,.25);
    padding: .7rem;
    cursor: pointer;
    text-align: center;
    z-index: 10;
    transition: all .2s linear;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110px;
    cursor: pointer;

    i,
    &:before,
    &:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        display: block;
        height: 2px;
        content: '';
        background: $base;
        left: 50%;
        transform: translateX(-50%);
    }

    &:before {
        width: 22px;
        top: 21px;
    }

    i {
        width: 14px;
        top: 26px;
    }

    &:after {
        width: 8px;
        top: 31px;
    }

    // &:after {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: -6px;
    //     left: 0;
    //     width: 6px;
    //     width: 0;
    //     content: '';
    //     background: $brandSuccess;
    // }

    .toggleFilter,
    .toggleClose {
        line-height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }


    .toggleFilter {
        background: url(../images/filter.png) no-repeat;
        background-size: 25px;
    }

    .toggleClose {
        display: none;
        background: url(../images/clear-button.png) no-repeat;
        background-size: 25px;
    }
}

.dwelling-filter {
    margin: 0;
    display: block;

    @media (min-width: 768px) {
        display: none;
    }

    &__filter {
    }

    &__wrap {
        padding: 15px 8px 0;
        border-top: 1px solid rgba(229, 229, 229, 0.25);
    }

    &__top {
        position: relative;
        margin-bottom: 17px;
        width: 100%;
    }

    &__close {
        font-size: 30px;
        color: $base;
        width: 20px;
        height: 20px;
        line-height: 17px;
        position: absolute;
        cursor: pointer;
    }

    &__title {
        font-size: 16px;
        line-height: 14px;
        color: $base;
        text-align: center;
    }

    &__cancel {
        right: 0;
        position: absolute;
        line-height: 17px;
        top: 0;

        a {
            font-size: 13px;
            line-height: 14px;
            color: $base;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .filter {
        border: 0;
    }
}

.strainer {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}
