.guide {
    margin-bottom: 48px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 -15px;

        .guides__item {
            width: (100 / 1)*1%;
            transition: all .3s;
            border-radius: 5px;
            flex-shrink: 1;
            width: 100%;
            max-width: 290px;
            margin: 0 auto 15px;

            &:hover {
                box-shadow: 0px 8px 16px rgba(153, 153, 153, 0.3);
            }
        }
    }

    @media (min-width: 580px) {
        &__wrapper {
            .guides__item {
                max-width: 320px;
            }
        }
    }

    @media (min-width: 600px) {
        &__wrapper {
            .guides__item {
                width: calc(50% - 30px);
                margin: 0 15px 15px;
                max-width: none;
            }
        }
    }

    @media (min-width: 768px) {
        &__wrapper {
            .guides__item {
                width: calc(50% - 30px);
                margin: 0 15px 30px;
            }
        }
    }

    @media (min-width: 1024px) {
        &__wrapper {
            .guides__item {
                width: calc(33.3333% - 30px);
            }
        }
    }

    @media (min-width: 1560px) {

        &__wrapper{

            .guides__item {
                width: calc(25% - 30px);
                max-width: 360px;
            }
        }
    }
}
