.guides {

    &__item {
        border-radius: 5px;
        //height: 300px;
        margin-right: 32px;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
        width: (100 / 3)*1%;
        box-shadow: 0px 8px 16px rgba(153, 153, 153, 0.16);

        .review {
            margin: 0 0 0 8px;
        }

        .review__title-photo {
            width: 64px;
            height: 64px;
            border: 2px solid $base;
            margin: 0;

            img {
                width: 100%;
                min-width: auto;
            }
        }
    }

    &__img {
        position: relative;
        display: block;
        height: 80px;
        overflow: hidden;
        border-radius: 5px 5px 0 0;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1F1C1B 100%);
            border-radius: 5px 5px 0px 0px;
            z-index: 1;
        }

        img {
            border-radius: 5px 5px 0 0;
            width: 100%;
            position: relative;
            min-width: 500px
        }
    }

    &__top {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    &__rating {
        font-family: $fontFamilyBase;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $base;
        padding: 5px 7px;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 3px;
        position: relative;
        margin-right: 8px;

        &:hover p {
            display: block;
        }

        &:hover p:after {
            display: block;
        }

        p {
            box-sizing: border-box;
            position: absolute;
            //left: 50%;
            bottom: 48px;
            //transform: translateX(-50%);
            transition: .25s ease-in-out;
            background: $base;
            padding: 9px;
            display: none;
            z-index: 100;
            font-size: 13px;
            font-family: $fontFamilyBase;
            color: $grayLight;
            line-height: 1.615;
            text-align: center;
            box-shadow: 0px 0px 15px rgba(125, 125, 125, 0.2);
            margin: 0;
            border-radius: 3px;
            right: 2px;

            &:after,
            &:before {
                top: 100%;
                //left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                right: 9px;
            }

            &:after {
                border-color: rgba(125, 125, 125, 0);
                border-top-color: $base;
                border-width: 12px;
                margin-left: -12px;
            }

            &:before {
                border-color: rgba(194, 225, 245, 0);
                border-top-color: rgba(125, 125, 125, 0.03);
                border-width: 15px;
                margin-left: -15px;
            }

            span {
                line-height: 24px;
                font-size: 16px;
                text-align: center;
                color: $grayDarker;
                border-bottom: 0
            }

            a {
                line-height: 24px;
                font-size: 16px;
                text-align: center;
                color: $brandPrimary;
                position: relative;
                text-decoration: none;
                white-space: nowrap;

                &:hover i {
                    border-bottom: 1px solid $brandPrimary;
                }
            }

            i {
                font-family: $fontFamilyBase;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: $brandPrimary;
                margin-right: 3px;
            }
        }
    }

    &__title {
        font-family: $fontFamilyMuseoSansCyrl_Rg;
        font-weight: 600;
        font-size: $fontSizeLarge;
        line-height: 24px;
        color: $grayDarker;
        margin-bottom: 8px;
        display: block;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            text-decoration: underline;
        }
    }

    &__city {

        a {
            text-decoration: none;
            transition: all .3s;

            &:hover {
                text-decoration: underline;
            }

            span {
                font-family: $fontFamilyBase;
                font-weight: 300;
                font-size: $fontSizeSmall;
                line-height: 16px;
                color: rgba(18, 18, 18, 0.75);
                position: relative;
                padding-left: 12px;

                &:after {
                    content: '';
                    background: url(../images/container/city.svg) left top no-repeat;
                    width: 12px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    &__info {
        padding: 8px 8px 20px;
    }

    &__info-top {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 8px 0 10px;

        &-column {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
        }

        a.guides__title {
            margin-bottom: 3px;
        }

        .guides__rating {
            font-family: $fontFamilyBase;
            font-weight: normal;
            font-size: $fontSizeBase;
            line-height: 18px;
            color: $base;
            position: relative;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 3px;
            padding: 3px 6px;

            &:hover p {
                display: block;
            }

            &:hover p:after {
                display: block;
            }

            p {
                box-sizing: border-box;
                display: block;
                position: absolute;
                left: 50%;
                bottom: 39px;
                transform: translateX(-50%);
                transition: .25s ease-in-out;
                background: $base;
                padding: 12px 11px;
                display: none;
                z-index: 100;
                font-size: 13px;
                font-family: $fontFamilyBase;
                color: $grayLight;
                line-height: 1.615;
                text-align: center;
                box-shadow: 0px 0px 15px rgba(125, 125, 125, 0.2);

                border-radius: 5px;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 100%;
                    transform: translateX(-50%);
                    left: 50%;
                    height: 16px;
                    width: 34px;
                    background: url(../images/container/toptre.svg) no-repeat;
                    transition: .25s ease-in-out;
                    display: none;
                    z-index: 101;
                }

                span {
                    line-height: 24px;
                    font-size: 16px;
                    text-align: center;
                    color: $grayDarker;
                    border-bottom: 0
                }

                a {
                    line-height: 24px;
                    font-size: 16px;
                    text-align: center;
                    color: $brandPrimary;
                    position: relative;
                    text-decoration: none;
                    white-space: nowrap;

                    &:hover i {
                        border-bottom: 1px solid $brandPrimary;
                    }
                }

                i {
                    font-family: $fontFamilyBase;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 18px;
                    color: $brandPrimary;
                    margin-right: 3px;
                }
            }
        }
    }

    &__info-tags {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -4px 12px;

        li {
            font-family: $fontFamilyMuseoSansCyrl_lt2;
            font-size: $fontSizeBase;
            line-height: 16px;
            position: relative;
            padding: 6px 8px;
            background: $grayLight;
            border-radius: 5px;
            margin: 2px 4px;

            &:after {
                content: '';
                display: none;
            }

            a {
                text-decoration: none;
                transition: all .3s;
                color: $grayDarker;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__info-text {
        font-family: $fontFamilyMuseoSansCyrl_lt2;
        font-size: $fontSizeBase;
        line-height: 21px;
        color: $grayDarker;

        text-overflow: ellipsis;
        display: -webkit-box;
        height: 65px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        //height: auto;
        overflow: hidden;

        &:after {
            content: '';
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 70%;
            height: 1.2em;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }

        @supports (-webkit-line-clamp: 3) {
            text-overflow: ellipsis;
            display: -webkit-box;
            //max-height: 65px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            height: 65px;

            &:after {
                display: none;
            }
        }

    }

    &__watch-report {
        display: flex;
        align-items: center;

        span {
            font-family: $fontFamilyBase;
            font-size: 16px;
            line-height: 19px;
            color: $base;
            display: block;
            position: relative;
            padding-left: 36px;

            &:before {
                content: '';
                background-image: url(../images/route/eye.svg);
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        a {
            font-family: $fontFamilyBase;
            font-size: 16px;
            line-height: 19px;
            color: $base;
            display: block;
            position: relative;
            padding-left: 36px;
            font-style: normal;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                text-decoration: underline;
            }

            &:before {
                content: '';
                background-image: url(../images/route/com.svg);
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__watch {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 3px;
        padding: 5px 10px;

        span {
            font-family: $fontFamilyBase;
            font-size: 12px;
            line-height: 19px;
            color: $base;
            display: block;
            position: relative;
            padding-left: 20px;

            &:before {
                content: '';
                background-image: url(../images/route/eye-white.svg);
                width: 16px;
                height: 10px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__report {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 3px;
        padding: 5px 10px;
        margin-left: 5px;

        a {
            font-family: $fontFamilyBase;
            font-size: 12px;
            line-height: 19px;
            color: $base;
            display: block;
            position: relative;
            padding-left: 18px;
            font-style: normal;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                text-decoration: underline;
            }

            &:before {
                content: '';
                background-image: url(../images/route/comment-white.svg);
                width: 15px;
                height: 14px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    @media (min-width: 768px) {

        &__item {

            .review {
                margin: 0 0 0 16px;
            }

            .review__title-photo {
                width: 88px;
                height: 88px;

                img {
                    width: 100%;
                    min-width: auto;
                }
            }
        }

        &__img {
            height: 120px;

            img {
                width: auto;
            }
        }

        &__title {
            color: $grayDarker;
            font-size: 24px;
            line-height: 24px;
        }

        &__town {
            color: rgba(153, 153, 153, 0.75);
        }

        &__city {

            a {

                span {
                    color: rgba(18, 18, 18, 0.75);
                    font-size: $fontSizeBase;
                    padding-left: 19px;

                    &:after {
                        background: url(../images/container/city.svg) left top no-repeat;
                    }
                }
            }
        }

        &__info-tags {
            margin: 0 -4px 20px;
        }

        &__info-text {
            font-size: $fontSizeMedium;
            line-height: 24px;
            height: 73px;
        }

        &__info-top {
            margin: 0 0 13px 0;
            align-items: flex-start;
            padding: 0;

            a.guides__title {
                margin-bottom: 15px;
            }

            .guides__rating {
                color: $grayDarker;
                padding: 9px 10px;
                background: #D9D9D9;
                border-radius: 5px;
                font-size: $fontSizeH1;
                padding: 5px 8px;
                font-weight: 600;
            }
        }

        &__info {
            padding: 24px 16px 20px;
        }

        &__watch {
            background: transparent;
            border-radius: 0;
            padding: 0;

            span {
                font-size: 16px;
                color: $base;
                padding-left: 36px;

                &:before {
                    background-image: url(../images/route/eye.svg);
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &__report {
            background: transparent;
            border-radius: 0;
            padding: 0;
            margin-left: 15px;

            a {
                font-size: 16px;
                color: $base;
                padding-left: 36px;

                &:before {
                    background-image: url(../images/route/com.svg);
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &__rating {
            color: $base;
            background: $brandPrimary;
            border-radius: 5px 0 0 5px;
            font-size: $fontSizeH1;
            padding: 8px;
            font-weight: 600;
            margin: 0;
            border-radius: 5px 0 0 5px;
        }
    }
}