.indexBlock {

    .swiper {

        &-wrapper {
            align-items: flex-end;
        }

        &-slide {
            border-radius: 125px;
            //height: 300px;

            &.swiper-slide-active {
                //width: 37% !important;
                //width: 18.6vw !important;
                //height: 500px;
                //height: 20%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-end;

                img{
                    //height: 380px;
                }
            }

            img{
                border-radius: 5px 5px 0 0;
            }

            &__info {
                background-color: $base;
                padding: 16px 16px 14px;
                border-radius: 0 0 5px 5px;

                &-bottom {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 26px;
                }
            }

            &__title {
                font-family: $fontFamilyMuseoSansCyrl_Rg;
                font-weight: 600;
                font-size: $fontSizeLarge;
                line-height: 18px;
                color: $grayDarker;
                margin-bottom: 17px;
                display: block;
                text-decoration: none;
                transition: all .3s;

                &:hover {
                    text-decoration: underline;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 22px;

                li{
                    font-family: $fontFamilyMuseoSansCyrl_Rg;
                    font-size: $fontSizeBase;
                    line-height: 14px;
                    color: $brandPrimary;
                    position: relative;
                    padding: 0 20px 0 0;

                    &:after {
                        content: '/';
                        position: absolute;
                        left: calc(100% - 13px);
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        z-index: 1;
                    }

                    &:last-child {

                        &:after {
                            display: none;
                        }
                    }

                    a {
                        text-decoration: none;
                        transition: all .3s;
                        color: $brandPrimary;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &__city {
                font-family: $fontFamilyBase;
                font-weight: 300;
                font-size: $fontSizeBase;
                line-height: 16px;
                color: rgba(18, 18, 18, 0.75);
                position: relative;
                padding-left: 19px;
                text-decoration: none;
                transition: all .3s;

                &:hover {
                    text-decoration: underline;
                }

                &:after {
                    content: '';
                    background: url(../images/container/city.svg) left top no-repeat;
                    width: 12px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            &__town {
                font-family: $fontFamilyBase;
                font-style: normal;
                font-weight: normal;
                font-size: $fontSizeBase;
                line-height: 14px;
                align-items: center;
                color: rgba(153, 153, 153, 0.75);
            }

            &__price,
            &__oldprice {
                font-family: $fontFamilyBase;
                font-size: 28px;
                line-height: 28px;
                color: $brandPrimary;

                &:before {
                    content: '₴';
                    padding-right: 7px;
                }
            }

            &__oldprice {
                font-family: $fontFamilyMuseoSansCyrl_lt2;
                font-weight: 300;
                font-size: 24px;
                line-height: 24px;
                color: rgba(153, 153, 153, 0.75);
                display: inline-block;
                text-decoration: line-through;

                &:before {
                    content: '₴';
                }
            }

            a {
                text-decoration: none;
                transition: all .3s;

                &:hover {
                    text-decoration: underline;
                }
            }
        }


        &-button-next,
        &-button-prev {
            position: absolute;
            //top: 15.3%;
            width: 6px;
            height: 12px;
            //margin-top: -3px;
            z-index: 10;
            cursor: pointer;
            outline: none;
            width: 60px;
            height: 60px;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 50%;
            position: relative;
            order: 3;
            //top: -34px;
            transition: all .3s;

            &:hover {
                background: rgba(255, 255, 255, 0.5);
            }

            &:before {
                content: '';
                width: 6px;
                height: 12px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-size: 6px 12px;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
            }
        }

        &-button-next:before {
            background: url(../images/container/swiper-button.svg) -6px 0 no-repeat;

        }

        &-button-prev:before {
            background: url(../images/container/swiper-button.svg) 0 0 no-repeat;
        }

        &__recommended {
            font-family: $fontFamilyBase;
            font-weight: 300;
            font-size: 24px;
            line-height: 36px;
            color: $base;
            position: absolute;
            left: 180px;
            top: calc(100% + 44px);
        }
    }

    @media (min-width: 720px) {

        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            top: calc(100% + 54px);
            bottom: auto;
            order: 0;
        }

        .swiper-button-next {
            left: 182px;
        }

        .swiper-button-prev {
            left: -1px;
        }
    }

    @media (min-width: 1200px) {

        .swiper-button-next {
            left: calc(50% - 391px);
            left: 84px;
        }

        .swiper-button-prev {
            left: calc(50% - 574px);
            left: 0;
        }
    }
}

.index {

    &__routes {

        .swiper-slide.swiper-slide-active {
            width: 37% !important;
        }
    }

    &__whereToStay {

        .indexBlock__Right {
            margin-top: 104px;
            right: -185px;

            @media (min-width: 1200px) {
                width: calc(50% + 185px);
            }
        }

        .swiper-slide.swiper-slide-active {
            width: 35.4% !important;
            //width: 405px !important;
        }

        .swiper-slide__info {
            padding: 16px 16px 20px;
        }

        .swiper-slide__info-top {
            position: relative;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &-column {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
            }

            a.swiper-slide__title {
                margin-bottom: 8px;
            }

            .swiper-slide__rating {
                font-family: $fontFamilyBase;
                font-weight: 600;
                font-size: $fontSizeH1;
                line-height: 18px;
                color: $grayDarker;
                padding: 9px 10px;
                background: #D9D9D9;
                border-radius: 5px;
                position: relative;

                &:hover p {
                    display: block;
                }

                &:hover p:after {
                    display: block;
                }

                p {
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 39px;
                    transform: translateX(-50%);
                    transition: .25s ease-in-out;
                    background: $base;
                    padding: 12px 11px;
                    display: none;
                    z-index: 100;
                    font-size: 13px;
                    font-family: $fontFamilyBase;
                    color: $grayLight;
                    line-height: 1.615;
                    text-align: center;
                    box-shadow: 0px 0px 15px rgba(125, 125, 125, 0.2);

                    border-radius: 5px;

                    &::after {
                        content:'';
                        display: block;
                        position: absolute;
                        top: 100%;
                        transform: translateX(-50%);
                        left: 50%;
                        height: 16px;
                        width: 34px;
                        background: url(../images/container/toptre.svg) no-repeat;
                        transition: .25s ease-in-out;
                        display: none;
                        z-index: 101;
                    }

                    span {
                        line-height: 24px;
                        font-size: 16px;
                        text-align: center;
                        color: $grayDarker;
                        border-bottom: 0
                    }

                    a {
                        line-height: 24px;
                        font-size: 16px;
                        text-align: center;
                        color: $brandPrimary;
                        position: relative;
                        text-decoration: none;
                        white-space: nowrap;

                        &:hover i {
                            border-bottom: 1px solid $brandPrimary;
                        }
                    }

                    i {
                        font-family: $fontFamilyBase;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 18px;
                        color: $brandPrimary;
                        margin-right: 3px;
                    }
                }
            }
        }

        .swiper-slide__like {
            position: relative;
            cursor: pointer;
            margin: 7px 7px 0 0;

            img {
                width: 30px;
                height: 25px;
                position: relative;
            }

            img.favorite-icon {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
            }

            img.favorite-icon.active {
                opacity: 1;
            }
        }
    }

    &__state {

        .indexBlock__Right {
            margin-top: 165px;
            right: -110px;

            @media (min-width: 1200px) {
                width: calc(50% + 110px);
            }
        }

        .swiper-slide.swiper-slide-active {
            width: 36.7% !important;
            //width: 393px !important;
        }

        .swiper-slide {

            img {
                border-radius: 5px;
            }

            &__info {
                background-color: transparent;
                padding: 16px 0 14px;

                .swiper-slide__title {
                    color: $base;
                    margin-bottom: 10px;
                }

                ul li {
                    color: $base;

                   a {
                        color: $base;
                    }
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            top: calc(100% + 19px);
        }
    }

    &__blog {

        .indexBlock__Right {
            margin-top: 90px;
            right: -280px;

            @media (min-width: 1200px) {
                width: calc(50% + 280px);
            }
        }

        .swiper-slide {
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                border-radius: 5px;
                width: 100%;
                height: 100%;
                background: transparent;
                z-index: -1;
                transition: all .3s;
                top: 0;
                left: 0;
            }

            &:hover {

                &:after {
                    background: rgba(255, 255, 255, 0.25);
                }

                img {
                    border-radius: 0;
                    transition: all .3s;
                }

                .swiper-slide__info {
                    padding: 6px 16px 14px;
                    transition: all .3s;
                }

                .swiper-slide__top {
                    padding: 0 16px 0;
                    transition: all .3s;
                }
            }

            &__top {
                display: flex;
                align-items: center;
                margin: 16px 0;

                img {
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                }

                &-name {
                    font-family: $fontFamilyBase;
                    font-size: $fontSizeBase;
                    line-height: 17px;
                    color: $base;
                    margin-left: 10px;
                }
            }

            &__info {
                background-color: transparent;
                padding: 6px 0 14px;

                .swiper-slide__title {
                    color: $base;
                    line-height: 27px;
                    margin-bottom: 13px;
                    max-height: 54px;
                    overflow: hidden;
                }

                &-bottom {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0;

                    .swiper-slide {

                        &__watch-report {
                            display: flex;
                            align-items: center;

                            span {
                                font-family: $fontFamilyBase;
                                font-size: 16px;
                                line-height: 19px;
                                color: $base;
                                display: block;
                                position: relative;
                                padding-left: 36px;

                                &:before {
                                    content: '';
                                    background-image: url(../images/container/eye.svg);
                                    width: 24px;
                                    height: 24px;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }

                            i {
                                font-family: $fontFamilyBase;
                                font-size: 16px;
                                line-height: 19px;
                                color: $base;
                                display: block;
                                position: relative;
                                padding-left: 36px;
                                margin-left: 32px;
                                font-style: normal;

                                &:before {
                                    content: '';
                                    background-image: url(../images/container/comment.svg);
                                    width: 24px;
                                    height: 24px;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }

                        &__date {
                            font-family: $fontFamilyBase;
                            font-size: 16px;
                            line-height: 19px;
                            color: $base;
                        }
                    }
                }
            }
        }
    }
}
