.objects {

    &__item {
        border-radius: 5px;
        //height: 300px;
        margin-right: 32px;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
        width: (100 / 3)*1%;

        &.active {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            width: 35.4% !important;
        }

        a.objects__icon {
            font-size: 16px;
            line-height: 18px;
            padding: 6px 16px;
            color: $base;
            background-color: $brandPrimary;
            position: absolute;
            left: 16px;
            top: 16px;
            border-radius: 0px 5px 5px 0px;
            margin: 0;
            display: none;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__img {
        position: relative;
        display: block;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1F1C1B 100%);
            border-radius: 5px;
        }

        img {
            border-radius: 5px;
            width: 100%;
        }
    }

    &__info {
        padding: 0 7px 20px;
        border-radius: 0 0 5px 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: column wrap;
    }

    &__title {
        font-family: $fontFamilyMuseoSansCyrl_Rg;
        font-weight: 600;
        font-size: $fontSizeLarge;
        line-height: 18px;
        color: $base;
        margin-bottom: 8px;
        display: block;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            text-decoration: underline;
        }
    }

    &__city {

        a {
            text-decoration: none;
            transition: all .3s;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 3px;
            padding: 5px 8px;
            margin: 0 4px;
            color: $base;

            &:last-child {
                display: inline;
            }

            &:hover {
                text-decoration: underline;
            }

            span {
                font-family: $fontFamilyBase;
                font-weight: 300;
                font-size: $fontSizeSmall;
                line-height: 16px;
                color: $base;
                position: relative;
                padding-left: 12px;

                &:after {
                    content: '';
                    background: url(../images/container/city-white.svg) left top no-repeat;
                    width: 8px;
                    height: 12px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        a.objects__guide {

            span {
                padding: 0;

                &:after {
                    content: '';
                    display: none;
                }
            }
        }
    }

    &__info-top {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 12px;
        order: 1;

        &-column {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
        }

        a.objects__title {
            margin-bottom: 12px;
        }

        .objects__rating {
            font-family: $fontFamilyBase;
            font-weight: 600;
            font-size: $fontSizeH1;
            line-height: 18px;
            color: $grayDarker;
            padding: 9px 10px;
            background: #D9D9D9;
            border-radius: 5px;
            position: relative;

            &:hover p {
                display: block;
            }

            &:hover p:after {
                display: block;
            }

            p {
                box-sizing: border-box;
                display: block;
                position: absolute;
                left: 50%;
                bottom: 39px;
                transform: translateX(-50%);
                transition: .25s ease-in-out;
                background: $base;
                padding: 12px 11px;
                display: none;
                z-index: 100;
                font-size: 13px;
                font-family: $fontFamilyBase;
                color: $grayLight;
                line-height: 1.615;
                text-align: center;
                box-shadow: 0px 0px 15px rgba(125, 125, 125, 0.2);

                border-radius: 5px;

                &::after {
                    content:'';
                    display: block;
                    position: absolute;
                    top: 100%;
                    transform: translateX(-50%);
                    left: 50%;
                    height: 16px;
                    width: 34px;
                    background: url(../images/container/toptre.svg) no-repeat;
                    transition: .25s ease-in-out;
                    display: none;
                    z-index: 101;
                }

                span {
                    line-height: 24px;
                    font-size: 16px;
                    text-align: center;
                    color: $grayDarker;
                    border-bottom: 0
                }

                a {
                    line-height: 24px;
                    font-size: 16px;
                    text-align: center;
                    color: $brandPrimary;
                    position: relative;
                    text-decoration: none;
                    white-space: nowrap;

                    &:hover i {
                        border-bottom: 1px solid $brandPrimary;
                    }
                }

                i {
                    font-family: $fontFamilyBase;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 18px;
                    color: $brandPrimary;
                    margin-right: 3px;
                }
            }
        }
    }

    ul.objects__info-tags {
        margin: 0 -4px 14px;

        li {
            font-family: $fontFamilyMuseoSansCyrl_lt2;
            font-size: $fontSizeBase;
            line-height: 16px;
            position: relative;
            padding: 6px 8px;
            background: $grayLight;
            border-radius: 5px;
            margin: 4px;

            &:after {
                content: '';
                display: none;
            }

            a {
                text-decoration: none;
                transition: all .3s;
                color: $grayDarker;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media (min-width: 768px) {

        &__item {

            a.objects__icon {
                display: block;
                left: 16px;
            }
        }

        &__info {
            padding: 16px 0 20px;
            position: relative;
            background-color: $base;
            display: block;
        }

        &__img {

            &:after {
                display: none;
            }
        }

        &__title {
            color: $grayDarker;
        }

        &__city {

            a {
                background: transparent;
                border-radius: 0;
                padding: 0;
                margin: 0;

                &:last-child {
                    display: none;
                }

                span {
                    color: rgba(18, 18, 18, 0.75);
                    font-size: $fontSizeBase;
                    padding-left: 19px;

                    &:after {
                        background: url(../images/container/city.svg) left top no-repeat;
                        width: 12px;
                        height: 18px;
                    }
                }
            }
        }

        &__info-top {
            margin-bottom: 15px;
            align-items: flex-start;

            a.objects__title {
                margin-bottom: 10px;
            }
        }
    }


    @media (min-width: 1560px) {

        &__item {

            a.objects__icon {
                left: 32px;
            }
        }
    }
}
