#gsapContainer {
    height: 100%;
    width: 100%;

    #dots {
        position: absolute;
        z-index: 100;
        left: 50%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        transform: translateX(-50%) rotate(-90deg);
        bottom: 83px;

        .dot {
            width: 4px;
            height: 6px;
            border-radius: 2px;
            position: relative;
            float: left;
            cursor: pointer;
            transition: all .3s;
            border: 1px solid white;
            flex-shrink: 0;

            &:not(:first-child) {
                margin: 8px 0 0;
            }

            &.active {
                width: 4px;
                height: 16px;
                background: white;
            }

            span {
                font-family: $fontSizeBase;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: $base;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: none;
            }
        }
    }

    #gsapSlider {
        width: 100%;
        height: 100%;
        background-color: #222;
        padding: 0px;
        margin: 0px;
        overflow: hidden;


        .panel {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            overflow: hidden;

            &.active {
                z-index: 5;
            }
        }
    }

    @media (min-width: 1024px) {
        #dots {
            display: flex;
            margin-left: 15px;
            width: 39px;
            transform: translateY(-50%);
            top: 50%;
            left: auto;

            .dot {
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: rgba(255,255,255,0.35);
                border: none;

                &:not(:first-child) {
                    margin: 92px 0 0;
                }

                &:last-child:after {
                    content: '';
                    border: 1px solid rgba(255, 255, 255, 0.24);
                    height: 80px;
                    position: absolute;
                    left: calc(50% - 2px);
                    bottom: -87px;
                }

                &:before {
                    content: '';
                    border: 1px solid rgba(255, 255, 255, 0.24);
                    height: 80px;
                    position: absolute;
                    left: calc(50% - 2px);
                    top: -87px;
                }

                &.active {
                    width: 39px;
                    height: 39px;
                    background: rgba(255,255,255,0.35);

                    span {
                        display: block;
                    }
                }
            }
        }

        #gsapSlider {

            .panel {

                &:nth-child(2) {

                    .panel-box__Left {
                        margin: 16px 0 0 0;
                        padding-left: 120px;
                    }
                }

                .panel-box__Left {
                    text-align: left;

                    .panel-box__text p {
                        margin: 0 0 51px;
                    }
                }

                &:nth-child(1) {
                    display: block;
                }
            }
        }
    }

    @media (min-width: 1560px) {

        #dots {
            margin-left: calc(50% - 775px);
        }

        #gsapSlider {

            .panel {

                &:nth-child(2) {

                    .panel-box__Left {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
