.region {
    margin-bottom: 80px;
    &__wrapper {
        display: flex;
        .swiper {
            &-slide {

                .catalog {
                    &__item {
                        width: 100%;
                    }
                }
                .dwellings {
                    &__item {
                        width: 100%;
                        //max-width: 360px;
                    }
                }
            }
        }
    }
}
