.response {
    background: rgba(229, 229, 229, 0.25);
    border-radius: 5px;
    padding: 10px 16px;
    max-width: 458px;
    width: 100%;
    position: relative;
    display: none;

    &.active {
        display: block;
    }

    .close {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 10px;
        right: 10px;
        background: url(../images/route/close.svg)no-repeat;
    }


    h4 {
        margin: 12px 0;
        font-size: 24px;
        color: $grayDarker;
        font-weight: normal;
    }

    form {
        margin-top: 29px;
        .form-group {
            display: flex;
            align-items: center;
            position: relative;

            &:not(:nth-child(2)) {
                flex-direction: column;
                align-items: unset;
            }

            label {
                font-size: $fontSizeMedium;
                color: $grayLighter;
                font-family: $fontFamilyMuseoSansCyrl_lt2;
            }

            input,
            textarea {

                background: $base;
                border: 1px solid $grayLight;
                border-radius: 5px;
                resize: none;
                font-size: $fontSizeBase;
                color: $grayDarker;
                padding: 8px;
            }

            .help-block {
                display: none;
                font-size: 0;
            }

            &.has-error {

                input,
                textarea {
                    border: 1px solid red;
                }
            }

            &.required:after {
                position: absolute;
                top: 9px;
                right: -10px;
                content: '*';
                z-index: 1;
                color: #da0600;
                font-size: 18px;
            }

            textarea {
                height: 112px;
            }
            // Стили для чекбокса
            &:nth-child(2) {
                margin: 8px 0 24px 0;

                label {
                    color: $grayDarker;
                    font-size: $fontSizeBase;
                    display: flex;
                    align-items: center;
                    input[type=checkbox] {
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    .rating {
        &-item {
            &:after {}
        }
    }

    &__send {

        .image,
        .movie {
            display: flex;
            position: relative;
            overflow: hidden;
            width: 42px;
            height: 30px;

            label {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
        }

        .image {
            background: url(../images/route/image.svg)no-repeat;
            margin-right: 8px;
        }

        .movie {
            background: url(../images/route/movie.svg)no-repeat;
        }

        input[type=file] {
            display: none;
        }

        .button {
            padding: 0 16px;
            flex-grow: 1;
            max-width: 142px;
            font-size: $fontSizeBase;
            line-height: 30px;
        }
    }

    &__user-content-add {
        display: flex;
        justify-content: flex-start;
        margin: 20px 0;

        &-preview {
            margin: 0 5px 5px 0;

            &-link {
                display: block;
                position: relative;
                height: 50px;

                &:hover > .response__user-content-add-preview-close {
                    opacity: 1;
                    visibility: visible;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }

                &.responsive-video {

                    &:after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 30px;
                        height: 22px;
                        background: url('../images/container/Youtube.svg')no-repeat;
                    }
                }
            }

            &-close {
                text-decoration: none;
                position: absolute;
                right: -4px;
                top: -4px;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1;
                font-size: 15px;
                font-weight: 700;
                border-radius: 50%;
                background: $brandPrimary;
                color: $base;
                cursor: pointer;
                opacity: 0;
                visibility: visible;
                transition: all .2s;
                z-index: 5;
            }

        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        margin-bottom: 45px;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
    }
    // Стили для звезд рейтинга
    .rating {
        &-item {
            width: 29px;
            height: 29px;
            margin-right: 5px;
            &:after {
                width: 29px;
                height: 29px;
                background: url(../images/example/stars-big.svg)no-repeat;
            }
        }
        &-full {
            &:after {
                background-position: -32px 0;
            }
        }
    }

}
