.review {
    margin: 0 0 10px 0;
    transition: all ease .3s;

    &__title {
        display: flex;
        align-items: center;

        &-photo {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background: $brandInfo;
            margin-right: 16px;
            flex-shrink: 0;
            position: relative;

            span,
            p,
            a {
                position: absolute;
                bottom: 0;
                right: -10px;
                width: 32px;
                height: 32px;
                background: $brandPrimary;
                border-radius: 50%;
                color: $base;
                font-size: $fontSizeBase;
                font-family: $fontFamilyMuseoSansCyrl_Rg;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;

                &:empty {
                    display: none;
                }
            }
            //overflow: hidden;
        }

        &-info {
            margin-top: 10px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        flex-wrap: wrap;

        span {
            font-size: $fontSizeBase;
            color: $base;
            background: $brandPrimary;
            border-radius: 5px;
            padding: 5px;
            margin-right: 16px;
        }
    }

    &__name {
        margin: 0;
        font-size: $fontSizeLarge;
        color: $grayBase;
        text-decoration: none;
    }

    &__date {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .rating {
            margin-right: 15px;
        }

        span {
            font-size: $fontSizeMedium;
            color: $grayDarker;
            opacity: 0.5;
        }
    }

    &__description {
        font-size: $fontSizeMedium;
        color: $grayDarker;
        font-weight: 300;
        margin: 0;

        b {
            font-weight: 600;
            color: $brandPrimary;
        }
    }

    &__text {
        position: relative;
        overflow: hidden;
        margin-top: 10px;
        font-size: $fontSizeMedium;
        line-height: 24px;
        transition: all ease .3s;
        text-overflow: ellipsis;
        color: $grayDarker;
    }

    a[data-readmore-toggle]{
        font-family: $fontFamilyMuseoSansCyrl_Rg2;
        font-size: $fontSizeMedium;
    }
    @media (min-width: 480px) {

        &__text {
            padding-left: 75px;
        }

        a[data-readmore-toggle] {
            padding-left: 75px;
        }
    }

    @media (min-width: 1200px) {
        &__title {
            &-photo {
                span {
                    right: 10px;
                }
            }
        }
    }
}
