.review {

    &__text {
      height:72px;
      overflow:hidden;
      transition: all .5s ease;
    }

    a.review__readmore{
        font-family: $fontFamilyMuseoSansCyrl_Rg2;
        font-size: $fontSizeMedium;
        display: block;
    }

    @media (min-width: 480px) {

        &__text {
            padding-left: 75px;
        }

        a.review__readmore {
            padding-left: 75px;
        }
    }
}
