.routes {

    &__item {
        border-radius: 5px;
        //height: 300px;
        margin-right: 32px;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
        width: (100 / 3)*1%;

        .review {
            margin: 0;
            padding: 15px 0;
        }

        .review__title-photo {
            width: 48px;
            height: 48px;
        }

        &.active {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            width: 35.4% !important;
        }

        &.transparent {

            .review__name,
            .routes__title {
                color: $base;
            }

            .review__name {
                font-size: 14px;
            }

            .routes__info {
                background-color: transparent;
            }

            .routes__watch-report {

                span {
                    color: $base;

                    &:before {
                        background-image: url(../images/container/eye.svg);
                    }
                }

                a {
                    color: $base;

                    &:before {
                        background-image: url(../images/container/comment.svg);
                    }
                }
            }

            .routes__date {
                color: $base;
            }

            .routes__img {

                img {
                    border-radius: 5px;
                }
            }

            ul li {
                color: $base;

               a {
                    color: $base;
                }
            }
        }

        a.routes__icon {
            font-size: 16px;
            line-height: 18px;
            padding: 6px 16px;
            color: $base;
            background-color: $brandPrimary;
            position: absolute;
            left: 0;
            top: 16px;
            border-radius: 0px 5px 5px 0px;
            margin: 0;
            display: none;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__img {
        position: relative;
        display: block;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1F1C1B 100%);
            border-radius: 5px;
        }

        img {
            border-radius: 5px;
            width: 100%;
        }
    }

    &__info {
        padding: 0 6px;
        border-radius: 0 0 5px 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: column wrap;

        &-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 26px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 4px;

            li {
                font-family: $fontFamilyMuseoSansCyrl_Rg;
                font-size: $fontSizeBase;
                line-height: 14px;
                color: $base;
                position: relative;
                padding: 0 20px 0 0;

                &:after {
                    content: '/';
                    position: absolute;
                    left: calc(100% - 13px);
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                }

                &:last-child {
                    padding: 0;

                    &:after {
                        display: none;
                    }
                }

                a {
                    text-decoration: none;
                    transition: all .3s;
                    color: $base;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__rating {
        font-family: $fontFamilyBase;
        font-weight: 600;
        font-size: $fontSizeH1;
        line-height: 18px;
        color: $grayDarker;
        padding: 9px 10px;
        background: #D9D9D9;
        border-radius: 5px;
        position: relative;

        &:hover p {
            display: block;
        }

        &:hover p:after {
            display: block;
        }

        p {
            box-sizing: border-box;
            display: block;
            position: absolute;
            left: 50%;
            bottom: 39px;
            transform: translateX(-50%);
            transition: .25s ease-in-out;
            background: $base;
            padding: 12px 11px;
            display: none;
            z-index: 100;
            font-size: 13px;
            font-family: $fontFamilyBase;
            color: $grayLight;
            line-height: 1.615;
            text-align: center;
            box-shadow: 0px 0px 15px rgba(125, 125, 125, 0.2);

            border-radius: 5px;

            &::after {
                content:'';
                display: block;
                position: absolute;
                top: 100%;
                transform: translateX(-50%);
                left: 50%;
                height: 16px;
                width: 34px;
                background: url(../images/container/toptre.svg) no-repeat;
                transition: .25s ease-in-out;
                display: none;
                z-index: 101;
            }

            span {
                line-height: 24px;
                font-size: 16px;
                text-align: center;
                color: $grayDarker;
                border-bottom: 0
            }

            a {
                line-height: 24px;
                font-size: 16px;
                text-align: center;
                color: $brandPrimary;
                position: relative;
                text-decoration: none;
                white-space: nowrap;

                &:hover i {
                    border-bottom: 1px solid $brandPrimary;
                }
            }

            i {
                font-family: $fontFamilyBase;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: $brandPrimary;
                margin-right: 3px;
            }
        }
    }

    &__like {
        position: relative;
        cursor: pointer;
        margin: 0 0 -4px 0;

        img {
            width: 30px;
            height: 25px;
            position: relative;
        }

        img.favorite-icon {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 30px;
            height: 25px;
        }

        img.favorite-icon.active {
            opacity: 1;
        }
    }

    &__title {
        font-family: $fontFamilyMuseoSansCyrl_Rg;
        font-weight: 600;
        font-size: $fontSizeLarge;
        line-height: 25px;
        color: $base;
        margin-bottom: 8px;
        display: block;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            text-decoration: underline;
        }
    }

    &__city {
        margin: 0 -4px;

        a {
            text-decoration: none;
            transition: all .3s;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 3px;
            padding: 5px 8px;
            margin: 0 4px;
            color: $base;

            &:hover {
                text-decoration: underline;
            }

            span {
                font-family: $fontFamilyBase;
                font-weight: 300;
                font-size: $fontSizeSmall;
                line-height: 16px;
                color: $base;
                position: relative;
                padding-left: 12px;

                &:after {
                    content: '';
                    background: url(../images/container/city-white.svg) left top no-repeat;
                    width: 8px;
                    height: 12px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        a.routes__guide {
            display: inline;

            span {
                padding: 0;

                &:after {
                    content: '';
                    display: none;
                }
            }
        }
    }

    &__town {
        font-family: $fontFamilyBase;
        font-style: normal;
        font-weight: normal;
        font-size: $fontSizeBase;
        line-height: 14px;
        align-items: center;
        color: rgba(153, 153, 153, 0.75);
    }

    &__price,
    &__oldprice {
        font-family: $fontFamilyBase;
        font-size: 28px;
        line-height: 28px;
        color: $brandPrimary;

        &:before {
            content: '₴';
            padding-right: 7px;
        }
    }

    &__oldprice {
        font-family: $fontFamilyMuseoSansCyrl_lt2;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        color: rgba(153, 153, 153, 0.75);
        display: inline-block;
        text-decoration: line-through;

        &:before {
            content: '₴';
        }
    }

    &__info-top {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 12px;
        order: 1;

        &-column {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
        }

        a.routes__title {
            margin-bottom: 12px;
            //max-height: 38px;
            //height: 100%;
            overflow: hidden;
            height: 47px;
        }

        .routes__rating {
            font-family: $fontFamilyBase;
            font-weight: 600;
            font-size: $fontSizeH1;
            line-height: 18px;
            color: $grayDarker;
            padding: 9px 10px;
            background: #D9D9D9;
            border-radius: 5px;
            position: relative;

            &:hover p {
                display: block;
            }

            &:hover p:after {
                display: block;
            }

            p {
                box-sizing: border-box;
                display: block;
                position: absolute;
                left: 50%;
                bottom: 39px;
                transform: translateX(-50%);
                transition: .25s ease-in-out;
                background: $base;
                padding: 12px 11px;
                display: none;
                z-index: 100;
                font-size: 13px;
                font-family: $fontFamilyBase;
                color: $grayLight;
                line-height: 1.615;
                text-align: center;
                box-shadow: 0px 0px 15px rgba(125, 125, 125, 0.2);

                border-radius: 5px;

                &::after {
                    content:'';
                    display: block;
                    position: absolute;
                    top: 100%;
                    transform: translateX(-50%);
                    left: 50%;
                    height: 16px;
                    width: 34px;
                    background: url(../images/container/toptre.svg) no-repeat;
                    transition: .25s ease-in-out;
                    display: none;
                    z-index: 101;
                }

                span {
                    line-height: 24px;
                    font-size: 16px;
                    text-align: center;
                    color: $grayDarker;
                    border-bottom: 0
                }

                a {
                    line-height: 24px;
                    font-size: 16px;
                    text-align: center;
                    color: $brandPrimary;
                    position: relative;
                    text-decoration: none;
                    white-space: nowrap;

                    &:hover i {
                        border-bottom: 1px solid $brandPrimary;
                    }
                }

                i {
                    font-family: $fontFamilyBase;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 18px;
                    color: $brandPrimary;
                    margin-right: 3px;
                }
            }
        }
    }

    ul.routes__info-tags {
        margin: 0 -4px 14px;

        li {
            font-family: $fontFamilyMuseoSansCyrl_lt2;
            font-size: $fontSizeBase;
            line-height: 16px;
            position: relative;
            padding: 6px 8px;
            background: $grayLight;
            border-radius: 5px;
            margin: 4px;

            &:after {
                content: '';
                display: none;
            }

            a {
                text-decoration: none;
                transition: all .3s;
                color: $grayDarker;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__info-text {
        font-family: $fontFamilyMuseoSansCyrl_lt2;
        font-size: $fontSizeMedium;
        line-height: 24px;
        color: $grayDarker;
        margin-bottom: 14px;
    }

    &__watch-report {
        display: flex;
        align-items: center;

        span {
            font-family: $fontFamilyBase;
            font-size: 16px;
            line-height: 19px;
            color: $grayDarker;
            display: block;
            position: relative;
            padding-left: 36px;

            &:before {
                content: '';
                background-image: url(../images/route/eye1.svg);
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        a {
            font-family: $fontFamilyBase;
            font-size: 16px;
            line-height: 19px;
            color: $grayDarker;
            display: block;
            position: relative;
            padding-left: 36px;
            margin-left: 32px;
            font-style: normal;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                text-decoration: underline;
            }

            &:before {
                content: '';
                background-image: url(../images/route/comment.svg);
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__date {
        font-family: $fontFamilyBase;
        font-size: 16px;
        line-height: 19px;
        color: $grayDarker;
    }

    &__block {
        padding: 8px 0 14px;

        .routes__title {
            line-height: 24px;
        }

        .routes__info-bottom {
            margin-top: 16px;
        }
    }

    &__state {
        padding: 16px 0 14px;

        .routes__title {
            color: $base;
            margin-bottom: 10px;
        }
    }

    &-user {
        display: none;

        &.active {
            display: block;
        }
    }

    @media (min-width: 768px) {

        &__item {

            a.routes__icon {
                display: block;
            }
        }

        &__info {
            padding: 16px 16px 20px;
            position: relative;
            background-color: $base;
            display: block;

            ul {
                margin: 0;

                li {
                    color: $brandPrimary;

                    a {
                        color: $brandPrimary;
                    }
                }
            }
        }

        &__img {

            &:after {
                display: none;
            }

            img {
                width: auto;
            }
        }

        &__title {
            color: $grayDarker;
        }

        &__city {

            a {
                background: transparent;
                border-radius: 0;
                padding: 0;
                margin: 0;

                span {
                    color: rgba(18, 18, 18, 0.75);
                    font-size: $fontSizeBase;
                    padding-left: 19px;

                    &:after {
                        background: url(../images/container/city.svg) left top no-repeat;
                        width: 12px;
                        height: 18px;
                    }
                }
            }

            a.routes__guide {
                display: none;
            }
        }

        &__info-top {
            margin-bottom: 15px;
            align-items: flex-start;

            a.routes__title {
                margin-bottom: 10px;
            }
        }

        &__like {
            margin: 7px 0 0 0;
        }
    }
}
