.social {
    position: relative;

    &__list {
        display: flex;
        margin: 0 -7px;

        &-item {
            position: relative;
            margin: 0 7px;
        }

        &-link {
            position: relative;
            display: block;
            width: 19px;
            height: 19px;

            &:hover {
                svg {
                    path {
                        fill: #8d26bd;
                        transition: all .3s;
                    }
                }
            }

            // -webkit-mask: url(../images/example/f.svg) no-repeat 50% 50%;
            // mask: url(../images/example/f.svg) no-repeat 50% 50%;
            // -webkit-mask-size: contain;
            // mask-size: contain;
            // background-color: black;
        }
    }
}