.tab {
    position: relative;

    &-menu {
        position: relative;
    }

    &-list {
        position: relative;
        display: flex;

        margin: 0 -25px;
    }

    &-item {
        position: relative;

        margin: 25px;

        &.active {
            color: #8d26bd;
        }
    }

    &-link {
        color: inherit;
    }

    &-content {
        position: relative;
    }

    &-box {
        display: none;

        &.active {
            display: block;
        }
    }
}
