
.topBlock {
    position: relative;
    z-index: 1;

    &__item {
        //margin: (15px / 1920px) * 100% 0 (30px / 1920px) * 100% ;
        margin: 20px 0 0;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        color: $grayDarker;
        margin: 12px 0 22px;
        line-height: .9;
        display: none;
    }

    @media (min-width: 768px) {

        &__title {
            display: block;
        }
    }
}
