//- REVIEWS
//------------------------------------------------

$reviews__baseFontSize:         $fontSizeBase !default;

$reviews__borderColor:          $borderColor !default;

$reviews__nameTextFontSize:     $fontSizeH6 !default;

$reviews__dateTextColor:        $grayExtraLight !default;

$reviews__voteTextFontSize:     $fontSizeH6 !default;
$reviews__voteLikeTextColor:    #51d256 !default;
$reviews__voteDislikeTextColor: #db0000 !default;

$reviews__replyTextColor:       #51d256 !default;

$reviews__moreTextColor:        #51d256 !default;
