= '\n'
//= about-content =
//- (source/assets/css/module/_about-content.scss)
.about-content
    - var titleHead = 'Про комплекс'
    include _title-head.pug
    span Готель “ GEOGRAPHY” це новий заклад, що знаходиться неподалік м. Рівного. Сучасно оформлені помешкання готелю "Geography" забезпечено телевізорами із Smart TV, сучасними, новими меблями, кондиціонерами та телефонами. Номерний фонд готелю складається з 26 номерів різних категорій, а саме: одномісні, двомісні стандарти та напівлюкси, сімейні номери. Всі номери оснащені якісною сантехнікою та душовими кабінами, також у ванній кімнаті є вся необхідна косметика для гостей. Готель пропонує відмінне обслуговування і найкраще співвідношення ціни та якості. В готелі працює цілодобовий ресторан. Порівняно з іншими готелями, наші гості отримують більше за ті ж гроші. Готель завжди радий своїм гостям та високо цінує їх думку.
    ul.about-content__list
        li
            .about-content__image
                img(src="data/about/1.svg", alt="")
            p Траса М-06 “Київ-Чоп, 338 кілометр”
        li
            .about-content__image
                img(src="data/about/2.svg", alt="")
            p Ресторан з авторською кухнею без ГМО, працює цілодобово та обслуговує номери
        li
            .about-content__image
                img(src="data/about/union.svg", alt="")
            p Номерний фонд 26 номерів
    include _slider.pug
.about-content
    - var titleHead = 'Розміщення тварин та дітей'
    include _title-head.pug
    span Готель надає можливість розміщення гостей з тваринами за додаткову плату – від 100 грн. ( Готель залишає за собою право відмовити гостю в поселенні з твариною у випадку якщо власник не надав ветеринарне свідоцтво про вакцинацію тварини, та якщо тварина небезпечна для інших гостей готелю) Готель не бере додатковоїї плати з гостей за дітей, якщо для цього не потрібно окреме спальне місце. Для інших випадків в наявності є сімейні номери з трьома спальними місцями.
//= End about-content =
= '\n'
