= '\n'
//= Address =
-
    color = (dark && pageTitle != 'main') ? "dark" : ""
    modifier = (pointer) ? 'address--pointer' : ''

-
    itemprop = (micromarking) ? 'address' : false
    itemtype = (micromarking) ? 'http://schema.org/PostalAddress' : false
    itempropInner = (micromarking) ? 'streetAddress' : false

.address(class= modifier class= color itemscope= itemscope itemprop= itemprop itemtype= itemtype)
    span(itemprop= itempropInner)!= address

//= End address =
= '\n'
