= '\n'
//=  =
//-=(source/assets/css/layout/form/_appearance.scss)=
.form-group.appearance.appearance--services
	label.control-label= controlLabelName

	div
		each val in appearanceServices
			label
				input.form-control(type='checkbox' checked= val.checked)
				!= val.input

				if (val.value && val.units)
					span
						!= val.from
						i= val.value
						!= val.units
//= End  =
= '\n'
