= '\n'
//= articles =
//- (source/assets/css/module/_articles.scss)
.articles
    .articles__hash
        each item in hashTags
            a(href="javascript:void(0)" class= item.class)= item.name

    .articles__block
        - for(var i = 0; i < 8; i++)
            include _publication.pug

    include _pagination.pug
//= End articles =
= '\n'
