= '\n'
//= form-box =
//-=(source/assets/css/module/_form-box.scss)=
.form-box
	if (pageTitle == 'order')
		.form-box__filling
			a(href='#') Зареєструйтесь
			| на сайті щоб ця інформація заповнилася автоматично

	.form-box__wrap
		each val in formBox
			.form-box__inner
				.form-group(class = val.class class = val.classError)
					input.form-control(type='text' placeholder = val.placeholder)
					.help-block

//= End form-box =
= '\n'
