= '\n'
//= form =
//-=(source/assets/css/layout/form/_form-visitor.scss)=
//-=(source/assets/css/layout/form/_appearance.scss)=
form.form-visitor(action='' method='')

	- nameTitle = 'Інформація про гостя'
	- classTitle = 'caption--small'
	//- classTitle = 'caption--base'
	//- classTitle = 'caption--large'

	include _caption.pug

	include _form-box.pug

	include _appearance-payment.pug

	- nameTitle = 'Додаткові побажання'
	- classTitle = 'caption--small'
	include _caption.pug

	- controlLabelName = 'Безкоштовні послуги:'
	include _appearance-services.pug

	- controlLabelName = 'Платні послуги:'
	- appearanceServices = appearanceServices2
	include _appearance-services.pug

	- nameTitle = 'Коментарі та побажання'
	- classTitle = 'caption--small'
	include _caption.pug

	include _textarea.pug

	.form-group.button-group
		.button__back
			button.button(type='submit' disabled) Назад
			//button.button(type='submit') Назад
			//a.button.disabled(href='#') Назад
			//a.button(href='#') Назад
		.button__next
			//button.button(type='submit' disabled) Далі
			button.button(type='submit') Далі
			//a.button.disabled(href='#') Далі
			//a.button(href='#') Далі
//= End form =
= '\n'
