each item in enterPopup
	form.form-popup.mfp-hide(id= item.id action='' method='')
		h2= item.title
		if(item.input)
			each val in item.input

				.form-group.necessary
					input.form-control(type= val.type placeholder= val.placeholder)
					.help-block
		if(item.registration)
			.form-popup__picture
				img(src='data/form/1.png' alt='')
		.form-group.form-group--button
			button.form-control.pin(type='button' disabled)= item.button
