= '\n'
//= _gallery-inner =
//- (source/assets/css/module/_gallery-inner.scss)
.gallery-inner
    - titleHead = 'Заголовок'
    include _title-head.pug
    .layout-box__photos
        each item in photosGallery
            a.layout-box__photos-link(href='data/photo/' + item.img_big + '.png')
                img(src='data/photo/' + item.img + '.png', alt='')

//= End  _gallery-inner=
= '\n'
