= '\n'
//= gps =
//- (source/assets/css/module/_gps.scss)

.gps GPS
    a(href='#') 50.581911, 26.155695
    a.gps__route(rel="nofollow" href="http://maps.google.com/maps?daddr=050.5816360,026.1556710") Прокласти маршрут

//= End gps =
= '\n'
