= '\n'
//= hotel-tabs =
//- (source/assets/css/module/_hotel-tabs.scss)
-
    micromarking = true

    itemscope = (micromarking) ? true : false
    itemtype = (micromarking) ? 'http://schema.org/Product' : false

.hotel-tabs(itemscope= itemscope itemtype= itemtype)

    -
        itempropInnerName = (micromarking) ? 'name' : false
        itempropBrand = (micromarking) ? 'brand' : false
        itempropBrandContent = (micromarking) ? 'hotel-geography' : false

        itempropInnerImage = (micromarking) ? 'image' : false

    .hotel-tabs__item
        include _hotel-rooms.pug

    .hotel-tabs__right
        - var breadcrumbs = ['Головна', pageTitle]
        include _breadcrumbs.pug

        meta(itemprop= itempropBrand content= itempropBrandContent)
        h2(itemprop= itempropInnerName) Покращений номер

        ul.hotel-tabs__menu
            li(class='active')
                a.hotel-tabs__link(href='javascript:void(0);') Одномісний
            li
                a.hotel-tabs__link(href='javascript:void(0);') Двомісний стандарт
            li
                a.hotel-tabs__link(href='javascript:void(0);') Одномісний

        p *Готель не бере додатковоїї плати з гостей за дітей, якщо для цього не потрібно окреме пальне місце.Для інших випадків в наявності є сімейні номери з трьома спальними місцями.

        -
            itemscope = (micromarking) ? true : false
            itemprop = (micromarking) ? 'offers' : false
            itemtype = (micromarking) ? 'http://schema.org/Offer' : false

        form(id ='' action='' method='')
            include _menology
            .popular__info-box(itemprop= itemprop itemscope= itemscope itemtype= itemtype)
                -
                    itempropPrice = (micromarking) ? 'price' : false
                    itempropPriceContent = (micromarking) ? '1866' : false

                    itempropCurr = (micromarking) ? 'priceCurrency' : false
                    itempropCurrContent = (micromarking) ? 'UAH' : false

                link(itemprop='availability' href='http://schema.org/InStock')
                meta(itemprop='url' content='https://hotel-geography.com/rooms/odnomisnij-standart')

                .popular__info-price(itemprop= itempropPrice content= itempropPriceContent) 1866
                    span(itemprop= itempropCurr content= itempropCurrContent) грн
                .form-group
                    a.hotel-tabs__reserve.pin(href='#reserve') Забронювати


- micromarking = false

//= End hotel-tabs =
= '\n'
