= '\n'
//= hotel-menu =
//- (source/assets/css/module/_hotel-menu.scss)
.hotel-menu
    ul
        each item, index in hotelMenu
            li(class=item.class)
                if (index == 0)
                    span= item.name
                else
                    a(href='#0')= item.name
//= End hotel-menu =
= '\n'
