= '\n'
//= hotel =
//- (source/assets/css/module/_hotel.scss)
.hotel
    form.hotel__search
        include _menology

    .hotel__catalog
        h2 На даний момент немає вільних номерів класу Люкс
        p Ви можете вибрати інший номер
        a.pin(href='javascript:void(0)') Каталог

    .hotel__wrapper
        each item in popularHotelItems
            include _popular.pug
include _reserve-success.pug
//= End hotel =
= '\n'
