= '\n'
//= Languages =
- modifier = (pageTitle != 'main') ? 'languages--dark' : ''
.languages(class = modifier)
    each item, index in languagesItem
        - modifier = (item.active) ? 'active' : ''
        if (index == 0)
            span.languages__item(class= modifier)= item.value
        else
            a(href='#0' class= modifier).languages__item= item.value

//= End languages =
= '\n'
