= '\n'
//= Logo32x32 =

.logo32x32
    a.logo32x32__link(href='http://www.32x32.com.ua/')
        img(src='data/32x32.svg', alt='')
    span.logo32x32__text
        |Розробка та підтримка
        br
        a(href='http://www.32x32.com.ua/') в компанії 32x32

//= End logo32x32 =
= '\n'