
if(pageTitle == 'hotel')
	.menology.menology--hotel

		.form-group.calendar
			label В’їзд
			input.form-control.calendar(type='text', placeholder='22.05.2018')
			span.arrow
		.form-group.calendar
			label Виїзд
			input.form-control.calendar(type='text', placeholder='22.05.2018')
			span.arrow
		.form-group.menology__room
			label(for="select") Номер
			select.form-control
				option(value='0') Люкс
				option(value='1') Покращений
			.help-block
		.form-group.menology__quantity
			label Кількість місць
			button(type='button').button.button--plus
			input(type='number' min='1' max='5' value='2' )
			button(type='button').button.button--minus
		.form-group.menology__button
			button.pin Шукати
else
	.menology
		.form-group.calendar
			label В’їзд
			input.form-control.calendar(type='text', placeholder='22.05.2018')
			span.arrow
		.form-group.calendar
			label Виїзд
			input.form-control.calendar(type='text', placeholder='22.05.2018')
			span.arrow
