= '\n'
//= multipurpose =
//-=(source/assets/css/module/_multipurpose.scss)=
.multipurpose
	ul
		each val in multipurpose
			li
				span=val.value
				span
				span=val.name
//= End multipurpose =
= '\n'
