= '\n'
//= page404 =
//- (source/assets/css/module/_page404.scss)
.page404
    -
        footer = true
    img(src="data/404/404.png", alt="")
    include ../module/_logo.pug
    - navigationItems = navigationListItems
    include ../layout/_navigation.pug
//= End page404 =
= '\n'
