= '\n'
//= page-name =
//- (source/assets/css/module/_page-name.scss)
.page-name
    .page-name__wrapper
        a(href='index.html') Головна
        .page-name__title
            h1 !{titleInfo}
        span !{subInfo}
//= End page-name =
= '\n'
