= '\n'
//= pagination =
//- (source/assets/css/module/_pagination.scss)
.pagin
   ul.pagination
       li.prev.disabled
           span
       li(class='active')
           a(href='#0') 1
       li
           a(href='#0') 2
       li
           a(href='#0') 3
       li.next
           a(href='#')
//= End pagination =
= '\n'
