= '\n'
//= publication =
//- (source/assets/css/module/_publication.scss)
.publication
    a(href="javascript:void(0)").publication__image
    .publication__wrapper
        a(href="javascript:void(0)").publication__text
            span.publication__data 20.09.2018
            h1.publication__title Software Development Forum: Головна подія найбільшої ІТ-спільноти країни
            span.publication__content 27 жовтня у Києві відбудеться масштабна конференція Software Development Forum, що вже шостий рік поспіль виступає комунікаційним майданчиком для лідерів. 27 жовтня у Києві відбудеться масштабна конференція Software Development Forum, що вже шостий рік поспіль виступає комунікаційним майданчиком для лідерів.
        .publication__links
            each item in hashTags
                a(href="javascript:void(0)")= item.name

//= End publication =
= '\n'
