= '\n'
//= reserve-success =
//- (source/assets/css/module/_reserve-success.scss)
.reserve-success
    .reserve-success__inner Заявку на бронювання відправлено
        a.reserve-success__close(href='#0')
//= End reserve-success =
= '\n'
