= '\n'
//= restourant-top =
//- (source/assets/css/module/_restourant-top.scss)
if (pageTitle == 'Ресторан')
    .restourant-top
        img(src="data/restourant/1.png", alt="")
        - var titleInfo = 'Ресторан'
        include _page-name.pug

if (pageTitle == 'Відгуки')
    .restourant-top
        img(src="data/restourant/2.png", alt="")
        - var titleInfo = 'Відгуки'
        include _page-name.pug

if (pageTitle == 'Статті')
    .restourant-top
        img(src="data/restourant/2.png", alt="")
        - var titleInfo = 'Статті'
        include _page-name.pug

if (pageTitle == 'Куди піти')
    .restourant-top
        img(src="data/restourant/3.png", alt="")
        - var titleInfo = 'Куди піти'
        include _page-name.pug

if (pageTitle == 'Про комплекс')
    .restourant-top
        img(src="data/restourant/about.png", alt="")
        - var titleInfo = 'Географія'
        - var subInfo = 'Готельно-ресторанний комплекс'
        include _page-name.pug
//= End restourant-top =
= '\n'
