= '\n'
//= Review =
-
    micromarking = true

    itemscope = (micromarking) ? true : false
    itemprop = (micromarking) ? 'review' : false
    itemtype = (micromarking) ? 'http://schema.org/Review' : false

.review(itemscope= itemscope itemprop= itemprop itemtype= itemtype)
    -
        itempropInnerReviewed = 'itemReviewed'
        contentReviewed = 'Назва товару статті'

        itempropInnerPublished = 'datePublished'
        itempropInnerImage = 'image'
        itempropInnerBody = 'reviewBody'
        itempropInnerAuthor = 'author'

    meta(itemprop= itempropInnerReviewed content= contentReviewed)

    .review__title
        .review__title-photo
            img(src='data/reviews/' + item.img + '.svg', alt='' itemprop= itempropInnerImage)
        .review__title-box
            .review__title-name(itemprop= itempropInnerAuthor)= item.name
            .review__title-date(itemprop= itempropInnerPublished)= item.date
    .review__text(itemprop= itempropInnerBody)= item.text

//- - micromarking = false

//= End review =
= '\n'
