= '\n'
//= smile =
//-=(source/assets/css/module/_smile.scss)=
.smile
	each val in smile
		.smile__wrap
			.smile__title= val.name
			.smile__img
				each drop in val.drop
					ul.smile__list
						each title in drop.title
							li.smile__item
								a(class= title data-target= title)
//= End smile =
= '\n'
