= '\n'
//= textarea =
//-=(source/assets/css/module/_textarea.scss)=
.form-group.textarea
	if (pageTitle == 'order')
		label.control-label Коментар:
	textarea.form-control(type='text' placeholder='')
	.help-block
//= End textarea =
= '\n'
