= '\n'
//= togo =
//- (source/assets/css/module/_togo.scss)

.togo
    h2 Тунель кохання
    span За декілька кілометрів на схід від селища Клевань ви виявите стару залізничну колію. Вона завдовжки 4 кілометри і тягнеться до Оржівського деревообробного комбінату. Вздовж цієї колії неспроста ростуть дерева. Раніше у довколишніх селах розташовувались військові бази, дорогу до яких замаскували деревами. Їх з двох боків постійно підрізали, тому вони почали густо рости вгору. Через деякий час дерева утворили «живий коридор». Таким чином, на кілометровому відрізку залізничної смуги з'явився тунель.

    include _slider.pug
.togo
    h2 Тараканівський форт
    span Оборонна споруда, архітектурна пам'ятка 19 століття. Розташована неподалік від села Тараканів Дубенського району Рівненської області, в мальовничій місцевості над річкою Іквою. Тараканівський форт – прекрасний приклад того, як важливо стратегічно діяти у воєнні часи. Незгоди спіткали цю споруду одразу ж після її зведення: побудований 1890 році за наказом царя Олександра ІІІ, форпост з каменю та бетону повинен був стати на захист залізної дороги, що сполучала Львів та Київ. Однак, замість цього, розпочалися темні сторінки історії цього місця – йому судилося стати воєнним складом та в’язницею для полонених.
    include _slider.pug

//= End togo =
= '\n'
