doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Articles Samples
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main

                        = '\n'
                        // box
                        .box
                            .box__content
                                - let breadcrumbs = {item: ['Home', 'Samples'],current: 'Hamlet'}
                                include modules/_breadcrumbs.pug


                                = '\n'
                                // samples
                                .samples.article
                                    h1.samples__title Free Samples
                                    .samples__label GRABMYESSAY.COM OFFERS TO EVALUATE SAMPLES OF VARIOUS TYPES OF PAPERS
                                    h2.samples__subtitle Hamlet
                                    .samples__info Essay・5 pages・MLA
                                    .samples__text
                                        p.
                                            Shakespeare wrote Hamlet after the death of his only son in 1601. Literary scholars assume that the death of his son inspired his authorship, while some critics’ point is that the loss of his father motivated his writing (Carlson 22). Shakespeare was influenced by the real life happenings like other writers who depicted what was happening in the society. As a student of traditional drama, Shakespeare was simply presenting the theme of revenge, which was done in ghastly and dramatic manner.  Moreover, some authors believe that the ancient works such as Beowulf influenced the writing of Hamlet. Therefore, Hamlet provided a reflection of the society because the issues that were affecting the town were well described all through the play.
                                        p.
                                            In the beginning of the play, Hamlet, who was the Prince of Denmark, loses his father, who was the King. Claudius, Hamlet’s uncle, married Gertrude and retained the throne. The King emerged like a ghost to Hamlet, unfolded the truth about his death, and asked his son to revenge his death (Carlson 23). Furthermore, he maintained that he could not rest in peace because he was murdered. According to the Ghost’s claims, Claudius put the toxic substance in King’s ear while the latter was asleep.
                                        p.
                                            The play presents a fight over the control of a country, which finally leads to the authority being taken by a foreign power. Shakespeare intended to warn England not to repeat the mistake of struggling over the throne after the death of Henry VIII. He believed the conflict was going to cripple the country and allow Spain to take over the administration.  The playwright also wanted to present the idea of mortality to the public. Death is being addressed from the start of the play, and Hamlet keeps figuring out the meaning of life after the murder of his father. Several questions concerning mortality arise all through the play, bringing out the purpose of the author in teaching the public about death (Shakespeare 1-68). In the character's mind, the idea of dying is considered to be something immoral, while life is doubstful. Apart from this, the playwright wanted to present the idea of madness in the society. Hamlet resorts to fooling the people around him by making them think he is harmless as he investigates the death of his father.

                                        .samples__box.samples__box--first
                                            .samples__box-text Busy at work, have a lot on your plate, in addition, your research paper is due?
                                            .samples__box-button.button Get Professional Help

                                        p.
                                            It is believed that the author’s personal experience does influence his writing. Shakespeare lived between the sixteenth and seventieth centuries, and most of his plays reflected what was happening in the society at those times. In particular, as a tragedy, Hamlet is used as a metaphor to depict the high tensions that were happening in the society during the Reformation period. During those times, there was conflict in the determination whether the Catholics were legitimate or the Protestants. Shakespeare artistically brings the idea well into the play. The transition between Catholics and Protestants affected Shakespeare’s way of thinking by making him question the things motivation behind the revenge in the play (Shakespeare 1-68). Thus, the author’s purpose in the play was to depict the theme religion, and it contributed to conflicts in the society.
                                        p.
                                            In addition to this, the primary plot of the play is revenge and murder because Shakespeare did encounter murder in actual life circumstances.  Shakespeare was also full of revenge, which was seen among his friends.  For instance, O'Brien (12) notes that Shakespeare’s occupant at Stratford killed his daughter. Similarly, his son also killed the man who sold the house to Shakespeare, which motivated the writing of Hamlet. Furthermore, Shakespeare performed some of the characters himself on stage, including the Ghost of King Hamlet and Duncan, a victim of murder committed by Macbeth. Still, Hamlet is mainly displeased with the situation in Denmark as well as with his family. He is disillusioned with his mother for marrying his uncle. Apart from this, Hamlet also breaks up with Ophelia, a woman he formerly declared to adore, in the cruellest terms. Here, the hate is clear because Hamlet usually use words that frequently signify his general disgust and distrust of women.
                                        p.
                                            Women in Shakespeare’s life have a connection with the ones displayed in the play.  For example, the playwright’s wife Anne had a conflicted relationship with him. Theproblem was triggered by Shakespeare’s absenteeism after the birth of their three children. Furthermore, towards the close of the sixteenth century, Shakespeare was encountering numerous difficulties, which prompted his scripts. The relationship with his wife was getting critical. The international theatre was shifted to another location, and during this period, he lacked the necessary inspiration for writing. Furthermore, marriage during this time was just a social function and was not supposed to be based on love. Therefore, matrimonies are displayed tragedies and are filed with multiple betrayals. Apart from this, the deaths of women in the play imply a social clarification, which explains why Hamlet is usually agitated when he interacts with women (Shakespeare 1-68). Therefore, Shakespeare wanted to portray the picture of marriage in the sixteenth century through the tragic play Hamlet.
                                        p.
                                            During the sixteenth century, it was common for writers to borrow ideas from other literary texts. Thus, Shakespeare must have borrowed ideas from other pieces of literature written at that time. He could have taken ideas from several sources, including the twelfth-century history of Denmark developed by Saxon Grammaticus and the French writing by Francois called The Traiques (Taxidou 50). Furthermore, he used language like the implied metaphor to depict the distressful life Hamlet experienced after getting a visit from the ghost (Shakespeare 67-68).
                                        p.
                                            Betrayal and political problems were common during the sixteenth century since most people were hungry for power and used unethical means to attain authority in the community (O'Brien 21). For example, for the modern audience, killing the king and gaining power and property are unjust ways.  Thereby, Shakespeare was mainly portraying the whitewash happening in the society. In Hamlet, revenge is depicted as the best way of getting justice for the death of the king and an accepted political aspect in the community (Shakespeare 1-68).

                                        .samples__box.samples__box--second
                                            .samples__box-text Get your paper written by a professional writer!
                                            .samples__box-button.button Order Paper Like This

                                        h3.samples__heading Works Cited
                                        ol
                                            li Carlson, Marvin. <em>Theories of the theatre: A historical and critical survey from the Greeks to the present.</em> Expanded ed. Ithaca and London: Cornell University Press. 1993.
                                            li Shakespeare, William, and Cyrus Hoy. <em>Hamlet.</em> New York: W.W. Norton, 1996.
                                            li O’Brien, Nick. <em>Stanislavski in practice.</em> London: Routledge. 2010.
                                            li Taxidou, Olga. <em>Tragedy, modernity and mourning.</em> Edinburgh: Edinburgh UP. 2004.
                                // end samples
                                = '\n'

                            .box__side
                                .box__item
                                    include modules/_getaprice.pug
                                .box__item
                                    include modules/_prices.pug
                                .box__item
                                    include modules/_notice.pug

                        // end box
                        = '\n'

                        include modules/_need.pug
                        include modules/_safe.pug

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
