doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Blog
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main

                        = '\n'
                        // box
                        .box
                            .box__content
                                - let breadcrumbs = {item: ['Home', 'Blog'],current: 'Halloween discounts!'}
                                include modules/_breadcrumbs.pug

                                = '\n'
                                // article
                                .article
                                    .article__title Halloween discounts!
                                    .article__tags
                                        .article__tag #discount
                                        .article__tag #promo
                                        .article__tag #helloween
                                    .article__picture
                                        img.article__image(src='assets/data/2.png' alt='')
                                    .article__text Do you love Halloween as much as we do? This holiday has probably the most creative vibe and even the smallest details transform into unique art objects. It's a great chance to express your ideas and to become someone else for a day. And of course, you can get a lot of treats (or do a lot of tricks ;) )! This year at GrabMyEssay we prepared a special gift for you. <span>Get $13 off</span> your order with the total of $25 or more! Hurry up! The offer is available only till November 5th. Spend holidays celebrating instead of worrying about your papers.
                                    .article__code
                                        include modules/_code.pug

                                    .article__action
                                        a.article__button.button.button--light(href="#") Open Comments
                                // end article
                                = '\n'

                            .box__side
                                .box__item
                                    include modules/_subscribe.pug
                                .box__item
                                    include modules/_recent.pug
                                .box__item
                                    include modules/_getaprice.pug
                        // end box
                        = '\n'

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
