doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Blog
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main

                        = '\n'
                        // box
                        .box
                            .box__content
                                - let breadcrumbs = {item: ['Home', 'Blog'],current: 'Guide to Writing Research Papers in APA Style'}
                                include modules/_breadcrumbs.pug

                                = '\n'
                                // article
                                .article
                                    .article__title Guide to Writing Research Papers in APA Style
                                    .article__tags
                                        .article__tag #research paper writing
                                        .article__tag #research paper
                                        .article__tag #research paper format
                                    .article__picture
                                        img.article__image(src='assets/data/3.png' alt='')
                                    .article__text
                                        p.
                                            Writing a research paper poses a problem for most students because of the level of difficulty it takes just to produce one for each subject. Professors are inclined to assign certain types of writing styles – ones that taught in school, but hardly ever understood. This means that a student not only has to study several writing concepts, they have to use it in a practical setting when writing essays, term papers, theses, etc. There are several writing styles in existence – for example, in MLA style, Chicago, Harvard, CGOS, and CBE. In this article, we will be discussing the APA research style format.
                                    h2.article__subtitle What is the APA Style?
                                    .article__text
                                        p.
                                            The American Psychological Association or APA research format is a writing method recommended by the aforementioned organization. This is usually used in social science subjects and is written using two general concepts.
                                    h3.article__name Two General APA Concepts
                                    .article__text
                                        ol
                                            li Firstly, an APA style paper can be used for scientific research papers in order to present an existing and proven theory. This means that the paper must be written using present perfect or past tense when quoting and citing sources.
                                            li Secondly, an APA format research paper prioritizes the year of the publication. It should always be featured after each name sourced in the paper.
                                        p.
                                            For example:
                                        p.
                                            “Harrison (1997) posited that women were programmed to nurture their young.”
                                    h3.article__name Practical Rules for the Format of the Research Paper
                                    .article__text
                                        ol
                                            li Always use double spacing when writing any text on your paper. This includes references, quotations, citations, and notes.
                                            li There must always be a one-inch margin on all sides of the page, such as the top, bottom, right, and left sides.
                                            li When citing quotations from other people – either directly or indirectly – always use parentheses.
                                            li You should always prepare a reference page for all of the parenthetical citations.
                                            li When writing your research paper, always underline titles of plays, films, journals, recordings, books, etc.
                                            li When referencing titles of articles, book chapters, anthologies, or lectures, always place them between quotation marks.
                                            li The page number must be placed on the upper right-hand corner of the page. A running head must be included.
                                    h3.article__name    Basic Writing Rules for APA Style
                                    .article__text
                                        ol
                                            li Format
                                                ul
                                                    li The APA recommends using standard-sized papers when writing. A good-sized paper would have 8.5” x 11” dimensions.
                                                    li The commonly used font for APA is Times New Roman using a 12 pt. size.
                                                    li There must always be a page header, commonly referred to as the “running head.” It must be placed at the top of every page. It is a shortened version of your title and it should always maintain a 50-character limit. This include spacing and punctuation.
                                            li    Parts of the Paper
                                                ul
                                                    li The APA requires you to write a title page, an abstract, the main body, and the references.
                                            li    Title Pages
                                                ul
                                                    li The title page must contain the author’s name and the institute that they are affiliated with. There should be a page header here as well. Indicate that it is a running head on the title page and place the number of the first page. Do not, however, mention it again in the succeeding pages. For example, on the title page.
                                            li    Citations
                                                ul
                                                    li When citing an author or a publication, you may apply the year of publication next to the name when it is written along with the sentence. If the author is not mentioned, you may place the citation at the end of the sentence.
                                                    li When referencing page numbers, write it next to the year of publication by placing a comma, then using the symbol p. or pp. to indicate which page the text came from.
                                                    li You can also place the page number, with the same format, at the end of the sentence.
                                                    li When writing a citation for more than one paragraph, place an indentation in the succeeding paragraphs to denote that they are included in the citation.
                                                    li When citing a source with three to five authors, you can mention them all on the first citation. However, the succeeding citations require only one last name. For example, (Jones, et. al., 1998) If you are citing work from more five authors, mention only the first.
                                                    li If there are no authors to cite, use the word “Anonymous” instead. Another option is to cite the name of the publication only.
                                            li    Reference Page
                                                ul
                                                    li The reference page is necessary in order to avoid plagiarizing anybody’s work. Each person, who has contributed to your paper must be properly credited on this page. This also includes books, periodicals, computer sources, etc.
                                            li    Abstract
                                                ul
                                                    li APA requires abstract to be no less than 80 words in order to be recognized. This page follows the title page and this is where the reader will find the purpose of the research, the thesis, as well as the conclusion to the essay or paper.
                                        p.
                                            When writing an abstract, it is best to remember that this is the most eye-catching part of the paper. The content, although condensed, must be accurate and readable. There is no need to add a paragraph indentation on this page.
                                        p.
                                            While all this information may seem like a lot, in fact, it offers a rigid framework that structurizes your writing thus making it easier to digest. If you find formatting your paper difficult, use <span>EdTech</span> tools. With their help, you'll research information faster and process it easier. They also can help you memorize the APA formatting rules.
                                        p.
                                            The APA Style can be used for different types of papers, such as essays, theses, dissertations, etc. You can also use these for <span>argumentative research paper topics</span>, expository essays for minor subjects and any more. Once you get used to this style of writing, you won’t have to refer back to the style guides as much.
                                    .article__action
                                        a.article__button.button.button--light(href="#") Open Comments
                                // end article
                                = '\n'

                            .box__side
                                .box__item
                                    include modules/_subscribe.pug
                                .box__item
                                    include modules/_recent.pug
                                .box__item
                                    include modules/_getaprice.pug
                        // end box
                        = '\n'

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
