doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Blog
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main

                        = '\n'
                        // box
                        .box
                            .box__content
                                include modules/_blog.pug
                            .box__side
                                .box__item
                                    include modules/_subscribe.pug
                                .box__item
                                    include modules/_recent.pug
                                .box__item
                                    include modules/_getaprice.pug
                        // end box
                        = '\n'

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
