doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Contact us
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main

                        = '\n'
                        // contact
                        .contact
                            .contact__info
                                h1.contact__title Contact us
                                .contact__label Our Customer Support Department is Working 24/7/365
                                .contact__text
                                    p.
                                        No matter how unsolved your questions might be - our trained Customer Care Representatives can answer all questions you might have!
                                    p.
                                        Whether you need assistance with placing an order or simply want to get a free quote - <span>Contact us</span> any time of the day or night! Even on holidays!
                            .contact__list
                                .contact__item
                                    .contact__picture
                                        img.contact__image(src='assets/img/phone.svg')
                                    .contact__data
                                        .contact__name 1-888-980-1257
                                        .contact__value Toll Free: US & UK
                                .contact__item
                                    .contact__picture
                                        img.contact__image(src='assets/img/mail.svg')
                                    .contact__data
                                        .contact__name support@grabmyessay.com
                                        .contact__value You may reach us via  E-mail
                                .contact__item
                                    .contact__picture
                                        img.contact__image(src='assets/img/oval.svg')
                                    .contact__data
                                        .contact__name Live Chat
                                        .contact__value 24/7 customer support
                        // end contact
                        = '\n'

                        include modules/_need.pug
            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
