//- TOGETHER CHEAPER
//------------------------------------------------

$togetherCheaper__baseFontSize:                     $fontSizeBase !default;

$togetherCheaper__borderColor:                      $brandPrimary !default;

$togetherCheaper__specialTextColor:                 $base !default;

$togetherCheaper__specialDiscountBackgroundColor:   #e30613 !default;

$togetherCheaper__priceTextFontSize:                $fontSizeH6 !default;
$togetherCheaper__priceTextColor:                   $brandPrimary !default;

$togetherCheaper__priceOldTextColor:                $grayLighter !default;


$togetherCheaper__totalTextFontSize:                $fontSizeLarge !default;
$togetherCheaper__totalTextColor:                   $grayExtraLight !default;

$togetherCheaper__totalPriceTextFontSize:           $fontSizeH5 !default;
$togetherCheaper__totalSumTextFontSize:             $fontSizeH2 !default;


$togetherCheaper__slickBorderColor:                 $borderColor !default;
$togetherCheaper__slickBorderColor--active:         $brandPrimary !default;

$togetherCheaper__slickDotsBackgroundColor:         $base !default;
