@import 'vars/_variable.scss';

.map-category {
    position: fixed;

    &__close {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        transition: visibility 0s step-end .1s, opacity .1s linear;
        background: url('../images/content/icon/close.png') no-repeat;
    }

    &__menu {
        position: relative;

        &-item {
            position: relative;
            margin: 0 0 10px;
        }

        &-link {
            font-size: 24px;
            text-decoration: none;

            &--shop {
                color: $mapCategory__shopTextColor;
            }

            &--food {
                color: $mapCategory__foodTextColor;
            }

            &--service {
                color: $mapCategory__serviceTextColor;
            }

            &--entertainment {
                color: $mapCategory__entertainmentTextColor;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__list {
        font-size: $mapCategory__textFontSize;
        position: relative;
        display: none;
        padding: 15px 5px;
        margin: 0 0 10px;
    }

    &__item {
        position: relative;
        margin: 0 0 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &--active {
            .map-category {
                &__box {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background: $mapCategory__boxBackgroundColor;
                    box-shadow: 0 0 3px $mapCategory__boxShadowColor;

                    &-close {
                        visibility: visible;
                        opacity: 1;
                        transition: visibility 0s step-end .1s, opacity .1s linear .1s;
                    }
                }
            }
        }
    }

    &__box {
        position: relative;
        padding: 0 15px;
        transition: all .2s linear;

        &--open {
            padding-top: 10px;
            padding-bottom: 10px;
            background: $mapCategory__boxBackgroundColor;
            box-shadow: 0 0 3px $mapCategory__boxShadowColor;
        }

        &-close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 15px;
            height: 15px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s step-end .1s, opacity .1s linear;
            background: url('../images/content/icon/close.png') no-repeat;
        }
    }

    &__link {
        line-height: 1;
        display: inline-block;
        transition: all .2s linear;
        text-decoration: none;
        border-bottom: 1px dashed transparent;

        &--type1 {
            color: $mapCategory__typeColor1;
        }

        &--type2 {
            color: $mapCategory__typeColor2;
        }

        &--type3 {
            color: $mapCategory__typeColor3;
        }

        &--type4 {
            color: $mapCategory__typeColor4;
        }

        &--type5 {
            color: $mapCategory__typeColor5;
        }

        &:hover {
            &.map-category {
                &__link {
                    &--type1 {
                        border-bottom-color: $mapCategory__typeColor1;
                    }

                    &--type2 {
                        border-bottom-color: $mapCategory__typeColor2;
                    }

                    &--type3 {
                        border-bottom-color: $mapCategory__typeColor3;
                    }

                    &--type4 {
                        border-bottom-color: $mapCategory__typeColor4;
                    }

                    &--type5 {
                        border-bottom-color: $mapCategory__typeColor5;
                    }
                }
            }
        }
    }

    &__count {
        margin: 0 0 0 4px;
        color: $mapCategory__countTextColor;
    }

    &__drop {
        position: relative;
        display: none;
    }

    &__floor {
        position: relative;
        margin: 5px 0 0;

        &-item {
            position: relative;
        }

        &-link {
            text-decoration: none;
            color: $mapCategory__countTextColor;;

            &:hover {
                text-decoration: underline;
            }
        }

        &-list {
            line-height: (21px / $mapCategory__textFontSize);
            position: relative;
            margin: 3px -6px 0;

            @include clearfix;

            &-item {
                position: relative;
                float: left;
                margin: 0 2px 5px;
            }

            &-link {
                display: block;
                padding: 0 4px;
                text-decoration: none;
                transition: all .2s linear;
                color: $mapCategory__listTextColor;

                &:hover,
                &--active {
                    background: $mapCategory__listBackgroundColor--active;
                }
            }
        }
    }

    @media (max-width: $screenSmMax) {

        z-index: 200;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 30px;
        overflow: auto;
        transition: visibility 0s step-end .2s, opacity .2s linear;
        visibility: hidden;
        opacity: 0;
        background: $base;

        &--active {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s step-end, opacity .2s linear;
        }

    }

    @media (min-width: $screenMdMin) {

        position: relative;

        &__item {
            margin-bottom: 5px;
        }

    }
}
