include vars/_variable.pug

= '\n'
//= Product bar =
.productBar
    .productBar__content
        .productBar__image
            img(src='data/product/image3.jpg' alt='')

        .prodcutBar__title Samsung Galaxy S8 64GB Midnight Black + карта памяти 128гб в подарок!

        .productBar__section
            .productBar__container.productBar__container--left
                .productBar__price 19 000 грн

            .productBar__container.productBar__container--right
                button.button.button--buy
                    .button__text В корзину

        .productBar__section
            .productBar__container.productBar__container--left
                .productBar__menu
                    ul.productBar__menuList

                        each menu in productBarMenu

                            if ('active' in menu && menu.active)
                                li.productBar__menuItem.productBar__menuItem--active
                                    a.productBar__menuLink(href='#' class='productBar__menuLink--' + menu.class)

                            else
                                li.productBar__menuItem
                                    a.productBar__menuLink(href='#' class='productBar__menuLink--' + menu.class)

            .productBar__container.productBar__container--right
                .productBar__benefit
                    ul.productBar__benefitList

                        each benefit in productBarBenefit
                            li.productBar__benefitItem
                                .productBar__benefitContent(class='productBar__benefitContent--' + benefit.class)

                                    if ('text' in benefit)
                                        .productBar__benefitDrop!= benefit.text
//= End product bar =
= '\n'
