include vars/_variable.pug

- var mapPanzoomInit = true

= '\n'
//= Map =
.map
    a.map__button.hide-md-min(href='javascript:void(0);' style="margin-top: 10px;") Категории

    .map__pagination
        .map__pagination-title.hide-sm-max Поверхи

        ul.map__pagination-list
            li.map__pagination-item
                a.map__pagination-link(href='#floor3' data-floor='3')
                    img(src='assets/images/content/icon/map/floor3.png' alt='')
                    img.map__pagination-hover(src='assets/images/content/icon/map/floor3_hover.png' alt='')
                    span.map__pagination-number 3

            li.map__pagination-item
                a.map__pagination-link(href='#floor2' data-floor='2')
                    img(src='assets/images/content/icon/map/floor2.png' alt='')
                    img.map__pagination-hover(src='assets/images/content/icon/map/floor2_hover.png' alt='')
                    span.map__pagination-number 2

            li.map__pagination-item
                a.map__pagination-link(href='#floor1' data-floor='1')
                    img(src='assets/images/content/icon/map/floor1.png' alt='')
                    img.map__pagination-hover(src='assets/images/content/icon/map/floor1_hover.png' alt='')
                    span.map__pagination-number 1

            li.map__pagination-item
                a.map__pagination-link(href='#floor-1' data-floor='-1')
                    img(src='assets/images/content/icon/map/floor-1.png' alt='')
                    img.map__pagination-hover(src='assets/images/content/icon/map/floor-1_hover.png' alt='')
                    span.map__pagination-number -1

    .map__inner
        #floor3.map__floor(data-floor='3')
            .panzoom
                include floor3.svg

            .map__controls
                a.zoom-in.map__plus(href='javascript:void(0);') +
                a.zoom-out.map__minus(href='javascript:void(0);') -

        #floor2.map__floor(data-floor='2')
            .panzoom
                include floor2.svg

            .map__controls
                a.zoom-in.map__plus(href='javascript:void(0);') +
                a.zoom-out.map__minus(href='javascript:void(0);') -

        #floor1.map__floor(data-floor='1')
            .panzoom
                include floor1.svg

            .map__controls
                a.zoom-in.map__plus(href='javascript:void(0);') +
                a.zoom-out.map__minus(href='javascript:void(0);') -

        #floor-1.map__floor(data-floor='-1')
            .panzoom
                include floor-1.svg

            .map__controls
                a.zoom-in.map__plus(href='javascript:void(0);') +
                a.zoom-out.map__minus(href='javascript:void(0);') -

        .map__info(style='display: none;')
            a.map__info-close(href='javascript:void(0);')

            a.map__info-image(href='#')
                img(src='data/map/logo.png' alt='')

            .map__info-title
                a.map__info-link(href='#') Brocard

            .map__info-floor - 1 поверх

            .map__info-feature
                each val in mapFeature
                    .map__info-feature-item(class='map__info-feature-item--' + val.class)= val.text

    .map__legend
        each val in mapLegend
            .map__legend-item
                img(src='assets/images/content/icon/map/' + val.image + '.png' alt='')
                = val.text
//= End map =
= '\n'

