//- DROP
//------------------------------------------------

-
    phoneDrop = [
        {
            number: '(093) 453 40 40',
            link: '0934534040',
            operator: 'Lifecell'
        },
        {
            number: '(099) 453 40 40',
            link: '0994534040',
            operator: 'Vodafone'
        },
        {
            number: '(099) 453 40 40',
            link: '0994534040',
            viber: true
        }
    ]
