//- CATEGORY MENU
//------------------------------------------------

-
    categoryMenu = [
        {
            active: true,
            title: 'Гарантия и сервис'
        },
        {
            title: 'Доставка и оплата'
        },
        {
            title: 'Статьи'
        },
        {
            title: 'Контакты'
        }
    ]
