//- CATEGORY MENU
//------------------------------------------------

$category__baseFontSize:                $fontSizeBase !default;

$categoryMenu__textColor:               $grayExtraLight !default;
$categoryMenu__borderColor:             #e4e4e4 !default;
$categoryMenu__backgroundColor--active: $brandInfo !default;
