@import 'vars/_variable.scss';

.glossary {
    margin: 34px 0 0 0;

    &__alphabet {
        margin: 0 -12px 40px -12px;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 41px;
                text-align: center;
                
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $grayExtraLight;
                    font-size: $fontSizeH6;
                    font-weight: bold;
                    line-height: 24px;
                    cursor: default;

                    &.active {
                        color: $grayDark;
                        cursor: pointer;

                        &:hover {
                            color: $brandActive;
                        }
                    }
                }
            }

            &:last-child {
                padding: 15px 0 0 0;
            }
        }
    }

    &__content {
        width: 100%;
        max-width: 1010px;
    }

    @import 'module/item/_item.scss';

    @media (min-width: $screenSmMin) {

        margin: 0 0 0 30px;
    }
}

