
include vars/_variable.pug

= '\n'
//= Glossary =

.glossary
    .glossary__alphabet
        ul
            each item in glossaryEng
                li
                    a(href='javascript:void(0);' class= item.class)= item.char
        ul
            each item in glossaryRu
                li
                    a(href='javascript:void(0);' class= item.class)= item.char
    .glossary__content
    
        - for (let i = 0; i < 3; i++)

            include module/item/_item.pug

//= End glossary =
= '\n'