.header {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    background: $base;
    transition: all .3s ease;

    .container {
        padding: 0 0 0 15px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    &.fixed {
        background: $base;
        position: fixed;
        top: 0;
        left: 0;
        bottom: auto;
        width: 100%;
        z-index: 100;
        -webkit-transform: none;
        transform: none;
        //transition: all .3s ease;
    }

    @media (min-width: 480px) {
        .container {
            padding: 0 15px 0 15px;
        }
        &__wrapper {
            margin: 0;
        }
    }
}
