.navigation {
    display: none;
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid $footerBackground;
    &__content {
        display: flex;
        align-items: flex-start;
    }
    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 1024px) {
        margin-bottom: 15px;
    }
}
