include vars/_variable.pug

= '\n'
//= Catalog type =
.catalog-type
    ul.catalog-type__list
        li.catalog-type__item
            i.catalog-type__icon.catalog-type__icon--tile

        li.catalog-type__item
            a.catalog-type__link(href='#')
                i.catalog-type__icon.catalog-type__icon--list
//= End catalog type =
= '\n'
