//- PAGE 404
//------------------------------------------------

-
    page404Menu = ['ВСЕ СМАРТФОНЫ', 'APPLE', 'SAMSUNG', 'HUAWEI', 'MEIZU', 'XIAOMI', 'МОБИЛЬНЫЕ ТЕЛЕФОНЫ', 'АКСЕССУАРЫ', 'ЗАЩИТНЫЕ ЧЕХЛЫ', 'НАУШНИКИ', 'РЮКЗАКИ И СУМКИ']
