//- PAGE 404
//------------------------------------------------

$page404__baseFontSize:         $fontSizeBase !default;

$page404__titleTextFontSize:    $fontSizeH1 !default;

$page404__buttonTextFontSize:   $fontSizeH4 !default;

$page404__menuTextColor:        $grayExtraLight !default;
$page404__menuBorderColor:      $borderColor !default;
$page404__menuBackgroundColor:  $brandPrimary !default;
