-
    accountOrdersTableItems = [
        {
            thead: [
                {
                    name: 'Номер заказа' 
                },
                {
                    name: 'Дата оформления'
                },
                {
                    name: 'Количество товаров' 
                },
                {
                    name: 'Сумма'
                },
                {
                    name: 'Статус Заказа'
                }
            ]
        },
        {
            class: 'top',
            hideclass: 'hide',
            drop: true,
            tbody: [
                {
                    inner: true,
                    name: '#484475',
                    class: 'orders__number',
                    innerClass: 'link'
                },
                {
                    name: 'от 31.10.2018' 
                },
                {
                    name: '4 шт.'
                },
                {
                    name: '45 681 грн.'
                },
                {
                    inner: true,
                    status: true,
                    class: 'done',
                    name: 'Выполнен'
                }
            ]
        },
        {
            drop: true,
            activeclass: 'active',
            tbody: [
                {
                    inner: true,
                    name: '#484475',
                    class: 'orders__number',
                    innerClass: 'link'
                },
                {
                    name: 'от 31.10.2018' 
                },
                {
                    name: '4 шт.'
                },
                {
                    name: '45 681 грн.'
                },
                {
                    inner: true,
                    status: true,
                    class: 'canceled',
                    name: 'Отменен'
                }
            ]
        },
        {
            drop: true,
            hideclass: 'hide',
            tbody: [
                {
                    inner: true,
                    name: '#484475',
                    class: 'orders__number',
                    innerClass: 'link'
                },
                {
                    name: 'от 31.10.2018' 
                },
                {
                    name: '4 шт.'
                },
                {
                    name: '45 681 грн.'
                },
                {
                    inner: true,
                    status: true,
                    class: 'processed',
                    name: 'Обрабатывается'
                }
            ]
        },
        {
            drop: true,
            hideclass: 'hide',
            tbody: [
                {
                    inner: true,
                    name: '#484475',
                    class: 'orders__number',
                    innerClass: 'link'
                },
                {
                    name: 'от 31.10.2018' 
                },
                {
                    name: '4 шт.'
                },
                {
                    name: '45 681 грн.'
                },
                {
                    inner: true,
                    status: true,
                    class: 'processed',
                    name: 'Обрабатывается'
                }
            ]
        }
    ]