//- FILTER
//------------------------------------------------

$filter__baseFontSize:                          $fontSizeBase !default;

$filter__borderColor:                           $borderColor !default;

$filter__selectedLinkRemoveBackgroundColor:     $brandPrimary !default;
$filter__selectedLinkBackgroundColor--active:   $brandInfo !default;

$filter__menuTextColor--active:                 $brandPrimary !default;
$filter__menuNumTextColor:                      $grayExtraLight !default;

$filter__priceControlsTextColor:                $grayExtraLight !default;

$filter__confirmTextFontSize:                   $fontSizeSmall !default;
$filter__confirmTextColor:                      $grayExtraLight !default;
$filter__confirmBorderColor:                    $brandPrimary !default;
$filter__confirmBackgroundColor:                $base !default;

$filter__confirmCountTextColor:                 $grayDark !default;

$filter__confirmButtonBackgroundColor:          $brandSecondary !default;
