//- FILTER
//------------------------------------------------

-
    filterManufacturers = [
        {
            title: 'Lenovo',
            counter: '(22)'
        },
        {
            title: 'Xiaomi',
            counter: '(22)'
        },
        {
            checked: true,
            title: 'LeEco',
            counter: '(22)'
        },
        {
            title: 'Meizu',
            counter: '(22)'
        },
        {
            title: 'Samsung',
            counter: '(22)'
        },
        {
            title: 'Huawei',
            counter: '(22)'
        }
    ]

    filterGuarantee = [
        {
            title: 'Разрешение записи в видеокамере (кадров/сек.)'
        },
        {
            title: '6 месяцев'
        },
        {
            checked: true,
            title: '12 месяцев'
        }
    ]

    filter3G = [
        {
            title: 'Есть'
        },
        {
            title: 'Нет'
        }
    ]

    filterAccessoriesCatalog = [
        {
            title: 'Lenovo',
            counter: '(22)'
        },
        {
            title: 'Xiaomi',
            counter: '(22)'
        },
        {
            checked: true,
            title: 'LeEco',
            counter: '(22)'
        }
    ]
