//- RADIo
//------------------------------------------------

$radio__baseFontSize:            $fontSizeBase !default;

$radio__textFontSize:            $fontSizeSmall !default;
$radio__textColor:               $grayExtraLight !default;
$radio__borderColor:             $borderColor !default;
$radio__borderColor--active:     $brandSecondary !default;
$radio__backgroundColor:         $base !default;
$radio__backgroundColor--active: $brandSecondary !default;

$radio__linkTextColor--active:   $brandPrimary !default;
