//- NEWS
//------------------------------------------------

$news__borderColor:                 #dcdbdb !default;

$news__sectionTitleTextFontSize:    $fontSizeH1 !default;
$news__sectionTitleTextColor:       #f72498 !default;

$news__dateTextFontSize:            $fontSizeH4 !default;
$news__dateTextColor:               $base !default;
$news__dateBackgroundColor:         #f72498 !default;

$news__titleTextFontSize:           $fontSizeLarge !default;
$news__titleTextColor:              $grayBase !default;

$news__descriptionTextColor:        #7a7a7a !default;
