//- NEWS
//------------------------------------------------

-
    var news = [
        {
            image: 'image',
            date: '01 / 09 / 2017',
            title: 'У ТЦ "ЗЛАТА ПЛАЗА" з\'явився новий осінній декор',
            description: 'А от і перший осінній день… Не варто сумувати, адже це пора обіймів, теплих пледів і затишку. Ще не відчуваєте прихід осені? А ми вже повністю поринули...'
        },
        {
            image: 'image2',
            date: '01 / 09 / 2017',
            title: 'Біля ТЦ "ЗЛАТА ПЛАЗА" відбудеться фестиваль їжі FoodFest.PLAZA',
            description: 'Фестиваль відбудеться 16 та 17 вересня у суспільному просторі PLAZA (майдан Короленка поруч ТЦ «ЗЛАТА ПЛАЗА»). Рівняни зможуть спробувати незвичну...'
        },
        {
            image: 'image3',
            date: '01 / 09 / 2017',
            title: 'Літня тераса NYSP вже працює!',
            description: 'Чудові новини для гурманів - літню терасу кафе NYSP вже відкрито! Поспішайте завітати, щоб оцінити високу якість страв, вишукану подачу і потішитися...'
        },
        {
            image: 'image',
            date: '23 / 08 / 2017',
            title: 'Біля ТЦ "ЗЛАТА ПЛАЗА" відбудеться фінал FCA Streetball League',
            description: 'Біля ТЦ "ЗЛАТА ПЛАЗА" відбудеться фінальний тур Streetball League Rivne 2017'
        },
        {
            image: 'image2',
            date: '23 / 08 / 2017',
            title: 'У центрі Рівного з’явився перший суспільний простір PLAZA',
            description: 'Суспільний простір знаходиться поруч із ТЦ «ЗЛАТА ПЛАЗА» на майдані Короленка. У червні цього року почалася реконцепція площі, з’явилися нові місця...'
        },
        {
            image: 'image3',
            date: '19 / 08 / 2017',
            title: 'Ми відкрили магазин KSD Aurum в ТЦ "ЗЛАТА ПЛАЗА"!',
            description: 'Сьогодні, 19 серпня, усі відвідувачі можуть взяти участь у розіграші подарунків, серед яких прикраси з діамантами, сертифікати та фірмові цукерки KSD ...'
        }
    ]
