include vars/_variable.pug

- var aboutOwlCarouselInit = true

= '\n'
//= About =
.about
    .about__section
        .container
            .about__title Історія

            .about__history
                p
                    strong Торгово-розважальний центр «ЗЛАТА ПЛАЗА»
                    |  - результат реконструкції ТЦ «Будинок Одягу», який 35 років успішно працював в м.Рівне з торговими площами близько 5000 м.кв. Розташований у центрі міста Рівне на головній торговельній, транспортній і пішохідній артерії - вул. Соборній, між головними площами: пл. Театральній та пл. Незалежності. З північної сторони примикає парк з озером, це надає об'єкту естетичного наповнення. ТРЦ "ЗЛАТА ПЛАЗА" є одним з найулюбленіших і популярних місць здійснення покупок жителями міста Рівне та області ось уже протягом багатьох років

            .about__media
                .about__media-item
                    a.about__media-link.about__media-link--pdf(href='#') Завантажити детальну презентацію
                        br
                        span.about__media-link-name ТРЦ "ЗЛАТА ПЛАЗА"

                .about__media-item
                    a.about__media-link.about__media-link--video(href='#') Переглянути відео про
                        br
                        span.about__media-link-name ТРЦ "ЗЛАТА ПЛАЗА"

                .about__media-item
                    a.about__media-link.about__media-link--tour3d(href='#') 3D тур

            //- .about__history
                .about__history-content
                    .about__history-box.about__history-box--bottom
                        .about__history-box-inner
                            .about__history-box-year 1964
                            .about__history-box-text Засновано підприємство
                                br
                                | «ФІРМА-ОДЯГ»

                    .about__history-box.about__history-box--top
                        .about__history-box-inner
                            .about__history-box-year 1974
                            .about__history-box-text Побудовано магазин
                                br
                                | «Будинок Одягу»

                    .about__history-box.about__history-box--bottom
                        .about__history-box-inner
                            .about__history-box-year 1993
                            .about__history-box-text Реконструкція «Будинку
                                br
                                | Одягу». Площа торгового
                                br
                                | залу - 5300 м2

                    .about__history-box.about__history-box--top
                        .about__history-box-inner
                            .about__history-box-year 2006
                            .about__history-box-text Реконструкції тогочасного
                                br
                                | торговельно-розважального
                                br
                                | центру

                    .about__history-box.about__history-box--bottom
                        .about__history-box-inner
                            .about__history-box-year 2010
                            .about__history-box-text Відкриття першої черги ТРЦ «ЗЛАТА ПЛАЗА».
                                br
                                | ТРЦ вмістив в собі близько сотні магазинів.
                                br
                                | Розпочав працювати супермаркет «Фуршет»

                    .about__history-box.about__history-box--top
                        .about__history-box-inner
                            .about__history-box-year 2012
                            .about__history-box-text Завершилася друга черга реконструкції, що
                                br
                                | дозволило збільшити загальну площу ТРЦ
                                br
                                | до 20 000 м2

                    .about__history-box.about__history-box--bottom
                        .about__history-box-inner
                            .about__history-box-year 2017
                            .about__history-box-text Створення суспільного
                                br
                                | простору PLAZA

    .about__section.about__section--grey
        .container
            .about__text
                .about__text-content
                    .about__text-inner
                        h2 Наша місія
                        p Час, проведений з сім’єю та друзями — безцінний, тому ми створюємо комфортне, сучасне  та  безпечне середовище для мешканців, змінюючи їх життя на краще!

                .about__text-image
                        img(src='assets/images/content/about/logo.png' alt='')

    .about__section
        .container
            .about__title Наші цінності

            .about__values
                ul.about__values-list
                    li.about__values-item.about__values-item--effectiveness Результативність
                    li.about__values-item.about__values-item--care Турбота про людей та довкілля
                    li.about__values-item.about__values-item--innovation Інноваційність
                    li.about__values-item.about__values-item--responsibility Відповідальність

    .about__section.about__section--grey
        .container
            .about__text.about__text--awards
                .about__text-content
                    .about__text-inner
                        h2 Наша гордість
                        p 7 грудня 2016 року ТРЦ  «ЗЛАТА ПЛАЗА» став переможцем номінації Премії Retail Awards 2016 «Вибір споживача», як найкращий торговельний центр міста Рівне.

                .about__text-image
                        img(src='assets/images/content/about/awards2016.png' alt='')

    .about__section
        .container
            .about__title Проекти суспільно-громадського спрямування

            .about__project
                .about__project-owl-carousel.owl-carousel
                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image.png')

                            | Велопарковка та велосервіс

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image2.png')

                            | Собача вбиральня

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image3.png')

                            | Утилізація батарейок

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image4.png')

                            | Суспільний простір PLAZA

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image5.png')

                            | Різдвяна казка

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image6.png')

                            | FoodFestPLAZA

    .about__section.about__section--border
        .container
            .about__title Маркетингові проекти

            .about__project
                 .about__project-owl-carousel.owl-carousel
                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image4.png')

                            | Суспільний простір PLAZA

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image5.png')

                            | Різдвяна казка

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image6.png')

                            | FoodFestPLAZA

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image.png')

                            | Велопарковка та велосервіс

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image2.png')

                            | Собача вбиральня

                    .owl-carousel-item
                        a.about__project-link(href='#')
                            .about__project-image
                                img(src='data/about/image3.png')

                            | Утилізація батарейок

    .about__quote
        .container
            .about__quote-text Ми хочемо бути місцем щасливих людей та щирих посмішок
                span(style='color: #ad4191') :)
//= End about =
= '\n'
