-
    listItems = [
        {
             main: true,
             title: 'list 1',
             list: [
                 {
                     title: 'list 1.1'
                 },
                 {
                    title: 'list 1.2'
                 },
                 {
                     title: 'list 1.3'
                 },
                 {
                     title: 'list 1.4'
                 },
                 {
                     title: 'list 1.5'
                 },
                 {
                     title: 'list 1.6'
                 },
                 {
                     title: 'list 1.7'
                 },
                 {
                     title: 'list 1.8'
                 }
             ]
        },
        {
            main: true,
            title: 'list 2',
            list: [
                {
                    title: 'list 2.1'
                },
                {
                    title: 'list 2.2'
                },
                {
                    main: true,
                    title: 'list 2.3',
                    list: [
                        {
                            title: 'list 2.3.1'
                        },
                        {
                            title: 'list 2.3.2'
                        },
                        {
                            title: 'list 2.3.3'
                        },
                        {
                            title: 'list 2.3.4'
                        },
                        {
                            title: 'list 2.3.5'
                        }
                    ]
                },
                {
                    main: true,
                    title: 'list 2.4',
                    list: [
                        {
                            title: 'list 2.4.1'
                        },
                        {
                            title: 'list 2.4.2'
                        },
                        {
                            title: 'list 2.4.3'
                        },
                        {
                            title: 'list 2.4.4'
                        }
                    ]
                },
                {
                    main: true,
                    title: 'list 2.5',
                    list: [
                        {
                            title: 'list 2.5.1'
                        },
                        {
                            title: 'list 2.5.2'
                        },
                        {
                            title: 'list 2.5.3'
                        },
                        {
                            title: 'list 2.5.4'
                        },
                        {
                            title: 'list 2.5.5'
                        },
                        {
                            title: 'list 2.5.6'
                        }
                    ]
                },
                {
                    title: 'list 2.6'
                },
                {
                    title: 'list 2.7'
                },
                {
                    title: 'list 2.8'
                },
                {
                    title: 'list 2.9'
                },
                {
                    title: 'list 2.10'
                },
                {
                    title: 'list 2.11'
                }
            ]
        }
    ]

     socialListItems = [
         '<svg width="10" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.414.004L7.068 0c-2.636 0-4.34 1.744-4.34 4.444v2.05H.368A.369.369 0 0 0 0 6.862v2.97c0 .203.165.367.369.367h2.36v7.492c0 .204.164.369.368.369h3.078a.369.369 0 0 0 .369-.369V10.2h2.758a.368.368 0 0 0 .37-.368V6.862a.368.368 0 0 0-.369-.368h-2.76V4.757c0-.835.2-1.26 1.29-1.26h1.58a.369.369 0 0 0 .37-.368V.372a.369.369 0 0 0-.37-.368z" fill="#C5A26D"/></svg>',
         '<svg width="19" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.723 0H2.275C1.282 0 .47.813.47 1.806v14.448c0 .993.813 1.806 1.806 1.806h14.448c.993 0 1.806-.813 1.806-1.806V1.806C18.529.813 17.716 0 16.723 0zM9.499 5.418a3.622 3.622 0 0 1 3.612 3.612 3.623 3.623 0 0 1-3.612 3.612A3.623 3.623 0 0 1 5.887 9.03 3.623 3.623 0 0 1 9.5 5.418zM2.727 16.254c-.271 0-.452-.181-.452-.452V8.127h1.896c-.09.27-.09.632-.09.903 0 2.98 2.438 5.418 5.418 5.418s5.418-2.438 5.418-5.418c0-.271 0-.632-.09-.903h1.896v7.675c0 .271-.18.452-.452.452H2.727zm13.996-12.19c0 .27-.18.45-.452.45h-1.806c-.27 0-.451-.18-.451-.45V2.256c0-.27.18-.451.451-.451h1.806c.271 0 .452.18.452.451v1.806z" fill="#C5A26D"/></svg>',
         '<svg width="23" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 2.143c-.821.364-1.702.61-2.627.721a4.594 4.594 0 0 0 2.01-2.53 9.223 9.223 0 0 1-2.906 1.111 4.575 4.575 0 0 0-7.796 4.171A12.99 12.99 0 0 1 2.25.836a4.54 4.54 0 0 0-.619 2.3c0 1.587.809 2.988 2.035 3.807a4.576 4.576 0 0 1-2.072-.574v.057a4.58 4.58 0 0 0 3.67 4.486c-.384.103-.788.16-1.206.16-.296 0-.581-.029-.862-.084a4.578 4.578 0 0 0 4.273 3.177 9.18 9.18 0 0 1-5.682 1.955c-.369 0-.733-.022-1.09-.062a12.932 12.932 0 0 0 7.012 2.058c8.416 0 13.017-6.971 13.017-13.017l-.015-.592A9.137 9.137 0 0 0 23 2.143z" fill="#C5A26D"/></svg>'
    ]

    breadcrumbExampleItems = [
        {
            name: 'Example'
        },
        {
            name: 'Щось'
        },
        {
            active: true,
            name: 'Щось конкретно'
        }
    ]

    breadcrumbMainItems = [
        {
            name: 'Main'
        },
        {
            name: 'Інше'
        },
        {
            active: true,
            name: 'Щось конкретно'
        }
    ]

    filterListItems = [
        {
            hide: true,
            title: 'Производитель',
            list: [
                {
                    name: 'Embawood',
                    counter: '(5)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Arbor Drev',
                    counter: '(14)',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'BRW Брест',
                    counter: '(3)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Dizi',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                },
                {
                    name: 'Luxe Studio',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                }
            ]
        },
        {
            title: 'Производитель',
            list: [
                {
                    name: 'Embawood',
                    counter: '(5)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Arbor Drev',
                    counter: '(14)',
                    checked: true,
                    disabled: false
                },
                {
                   name: 'BRW Брест',
                    counter: '(3)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Dizi',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                },
                {
                    name: 'Luxe Studio',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                }
            ]
        }
    ]

    //****
    languageItems = [
        {
            link: '#',
            name: 'ua'
        },
        {
            link: '#',
            name: 'ru'
        },
        {
            link: '#',
            name: 'en'
        }
    ]

    primaryMenu = [
        {
            href: 'routes.html',
            name: 'Маршрути',
            title: 'Маршрути для подорожі',
            button: 'Всі маршрути',
            //new: true,
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            href: 'objects.html',
            name: 'Міста',
            title: 'Міста для подорожі',
            button: 'Всі міста',
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            href: 'dwellings.html',
            name: 'Житло',
            title: 'Житло',
            button: 'Все житло',
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            href: 'blogs.html',
            name: 'Блог',
            title: 'Блог',
            button: 'Все в блозі',
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            href: 'guides.html',
            name: 'Гіди',
            title: 'Гіди',
            button: 'Все в блозі',
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]

    primaryMenustore = [
        {
            href: 'routes.html',
            name: 'Маршрути',
            title: 'Маршрути для подорожі',
            button: 'Всі маршрути',
            //new: true,
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            href: 'objects.html',
            name: 'Міста',
            title: 'Міста для подорожі',
            button: 'Всі міста',
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            href: 'dwellings.html',
            name: 'Житло',
            title: 'Житло',
            button: 'Все житло',
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            href: 'blogs.html',
            name: 'Блог',
            title: 'Блог',
            button: 'Все в блозі',
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            href: 'guides.html',
            name: 'Гіди',
            title: 'Гіди',
            button: 'Все в блозі',
            drop: [
                {
                    col: [
                        {
                            title: [
                                'Популярні',
                                'Від експертів',
                                'З гідом',
                                'Екскурсії',
                                'Одноденні',
                                'Дводенні',
                                'Багатоденні'
                            ]
                        }
                    ],
                    inner: [
                        {
                            les: [
                                {
                                    img:'1',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'2 дні',
                                    li2:'Низька',
                                    li3:'9 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'2',
                                    titleinner: 'Батурин і Козелець',
                                    li1:'1 день',
                                    li2:'Низька',
                                    li3:'3 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'3',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'4',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ],
                        },
                        {
                            les: [
                                {
                                    img:'5',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        },
                        {
                            les: [
                                {
                                    img:'6',
                                    titleinner: 'Печери Хмельнитчини',
                                    li1:'7 днів',
                                    li2:'Низька',
                                    li3:'15 км'
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]

    primaryMenuForApp = [
        {
            href: 'dwelling.html',
            name: 'Житло',
            class: 'active',
            image: '1.svg',
        },
        {
            href: 'blog.html',
            name: 'Блог',
            image: '2.svg'
        },
        {
            href: 'route.html',
            name: 'Маршрути',
            image: '3.svg'
        },
        {
            href: 'cities.html',
            name: 'Об’єкти',
            image: '4.svg'
        },
        {
            href: 'profile.html',
            name: 'Профіль',
            image: '5.svg'
        }
    ]

    primaryMenuForMobile = [
        {
            href: 'index.html',
            name: 'Головна',
            image: 'main.svg',
        },
        {
            href: '#admission-drive',
            class: 'admission-modal',
            name: 'Профіль',
            image: '5.svg'
        },
        {
            href: 'routes.html',
            name: 'Маршрути',
            image: '3.svg'
        },
        {
            href: 'dwellings.html',
            name: 'Житло',
            image: '1.svg'
        },
        {
            href: 'blogs.html',
            name: 'Блог',
            image: '2.svg'
        },
        {
            href: 'objects.html',
            name: 'Об’єкти',
            image: 'objects.svg'
        },
        {
            href: 'guides.html',
            name: 'Гіди',
            image: 'hunter.svg'
        },
        {
            href: 'store.html',
            name: 'Магазин',
            image: 'shop.svg'
        }
    ]

    primaryMenuFooter = [
        {
            href: 'route.html',
            name: 'Маршрути',
        },
        {
            href: 'cities.html',
            name: 'міста',
        },
        {
            href: 'dwelling.html',
            name: 'Житло',
        },
        {
            href: 'blog.html',
            name: 'Блог',
        }
    ]

    deviceMenu_mobil = [
        {
            href: 'main.html',
            name: 'Головна'
        },
        {
            href: 'routes.html',
            name: 'Маршрути'
        },
        {
            href: 'cities.html',
            name: 'Міста'
        },
        {
            href: 'dwelling.html',
            name: 'Житло'
        },
        {
            href: 'blog.html',
            name: 'Блог'
        }
    ]

    searchDropList = [
        {
            drop: [
                {
                    title: 'Маршрути',
                    link: [
                        'Камянець-Подільська фортеця',
                        'Кругла башта в Острозі'
                    ]
                },
                {
                    title: 'Житло',
                    link: [
                        'Вежа мурована в Острозі',
                        'Палац Четвертинських у селі Стригани',
                        'Луцька вежа в Острозі',
                        'Фаселіс',
                        'Римська опера',
                        'Кругла башта в Острозі',
                    ]
                },
                {
                    title: 'Блог',
                    link: [
                        'Площа ринок',
                        'Фортеця',
                        'Древній Рим'
                    ]
                }
            ],
            inner: [
                {
                    img: '1',
                    name: 'Вежа мурована в Острозі'
                },
                {
                    img: '2',
                    name: 'Палац Четвертинських у селі Стригани'
                },
                {
                    img: '3',
                    name: 'Луцька вежа в Острозі'
                },
                {
                    img: '4',
                    name: 'Фаселіс'
                },
                {
                    img: '5',
                    name: 'Римська опера'
                },
                {
                    img: '6',
                    name: 'Вежа мурована в Острозі'
                },
            ]
        }
    ]

    routes = [
        {
            img: 'slider1/11',
            title: 'Зимові Карпати: Паренек',
            li1: '1 день',
            li2: 'Низька',
            li3: '1278 м',
            city: 'Хребет Кукул',
            src: 'routes'
        }
    ]

    dwelling = [
        {
            //href: 'dwelling-inner.html',
            img: 'slider2/1',
            infotop: true,
            infotopTitle: '«Хата різьбяра»',
            town: 'м.Славське',
            price: '1500',
            oldprice: '1500',
            src: 'dwellings'
        }
    ]

    state = [
        {
            //href: 'dwelling-inner.html',
            img: 'slider3/1',
            title: 'Львівщина',
            li1: '1589 об’єктів',
            li2: '157 маршрутів',
            li3: '463 готелів',
            src: 'catalog'
        }
    ]

    blog = [
        {
            imgtop: '1',
            name: 'Гембаровський Олександр',
            img: 'slider4/1',
            title: 'Запорізька січ — місце де зародилась демократія',
            watch: '1079',
            report: '1079',
            date: '13.30.2019',
            src: 'blogs'
        }
    ]

    objects = [
        {
            img: 'slider5/1',
            title: 'Івано-франківськ',
            city: 'Львівська область'
        }
    ]

    guides = [
        {
            img: 'slider6/1',
            imgtop: '2',
            watch: '1079',
            report: '1079',
            title: 'Гембаровський Олександр',
            city: 'Хребет Кукул'
        }
    ]

    headerRegistration = [
        {
            href: 'javascript:void(0)',
            class: 'header__search'
        },
        {
            href: 'javascript:void(0)',
            class: 'header__lang'
        },
        {
            href: '#person-modal',
            class: 'header__person'
        }
    ]

    advices = [
        {
            text: 'Флішеві виходи на р. Прут біля Яремче утворюють',
            list:[
                'Найкраще до води спускатись вул.',
                'Підкрісельною (одразу за супермаркетом), або вул. Руднєва — нею пройти 200 метрів та звернути направо',
                'Флішеві виходи на р. Прут біля Яремче утворюють'
            ]
        },
        {
            text: 'Поодаль від центру Яремче розташована одна з найвищих вершин тутешніх місць'
        },
        {
            text: 'Так звані «флішеві виходи» здалеку нагадують велетенського слона.',
            list: [
                'Зручно влаштувавшись на одній з кількох просторих зелених галявин.',
                'Можна підійти ближче, спустившись від центру міста до річки.',
                'Скелі «Слон» – місце, де немає активних розваг.'
            ]
        }
    ]

    photosAdvice = ['1.png','2.png','3.png']

    reviewItems = [
        {
            img: '1.png',
            status: false,
            name: 'Гембаровський Олександр',
            date: '8 липень, 2019',
            text:'',
            description: false,
            rating: false
        }
    ]

    dayList = [
        {
            img: 'city1.png',
            description: ' - поодаль від центру Яремче розташована одна з найвищих вершин тутешніх місць – гора Маковиця (984.5 м). Її західний схил впирається у стрімкі води Прута: ці оголені від лісу скелі з будь-якої точки огляду важко не помітити!',
            city: 'Івано - Франківськ'
        },
        {
            img: 'city21.png',
            description: ' - центральний майдан у Львові, історичне серце сучасного міста, характерне явище для середньовічної архітектури європейських міст.центральний майдан у Львові, історичне серце сучасного міста, характерне явище для середньовічної архітектури європейських міст.',
            city: 'Площа-ринок'
        },
        {
            img: 'city22.png',
            description: ' - На 86 полях загальною площею 40 га тут розміщені понад 300 тис. поховань, на могилах встановлено близько 500 скульптур і рельєфів. Відкритий 1786 року, один із найстарших існуючих комунальних цвинтарів Європи.',
            city: 'Державний історико-культурний музей-заповідник «Лича́ківський цви́нтар»'
        }
    ]

    dayListSecond = [
        {
            img: 'city4.png',
            description: ' - поодаль від центру Яремче розташована одна з найвищих вершин тутешніх місць – гора Маковиця (984.5 м). Її західний схил впирається у стрімкі води Прута: ці оголені від лісу скелі з будь-якої точки огляду важко не помітити!',
            city: 'Дністровський каньйон'
        }
    ]

    photoList = [
        {
            img: '1.png',
            href: 'data/route/photos/1.png'
        },
        {
            img: '2.png',
            href: 'data/route/photos/2.png'
        },
        {
            img: '3.png',
            href: 'data/route/photos/3.png'
        },
        {
            img: '4.png',
            href: 'data/route/photos/4.png'
        },
        {
            img: '5.png',
            href: 'data/route/photos/5.png'
        },
        {
            img: '6.png',
            href: 'data/route/photos/6.png'
        }
    ]

    routeList = [
        {
            value: 'Складність:',
            name: 'Для новачків'
        },
        {
            value: 'Тривалість:',
            name: '12 днів'
        },
        {
            value: 'Об’єктів:',
            name: '63'
        },
        {
            value: 'Приблизні витрати:',
            name: '15 455 грн'
        },
        {
            value: 'Сезонність:',
            name: 'Весна, Літо'
        },
        {
            class: 'many-names',
            value: 'Міста:',
            name: 'Ясіня, Ділове, Лазещина, Сколе, Мукачево, Нижній Студений, Орів, Вінниця Ясіня, Ділове, Лазещина, Сколе, Мукачево, Нижній Студений, Орів, Вінниця'
        }
    ]

    commentItems = [
        {
            img: '3.png',
            status: false,
            name: 'Бугримова Наталья',
            date: 'День тому',
            text:'Покупал в Розетке, резерв делал через колл-центр. Приехал на Петровку, ну хочу сказать что магазин супер, много всего сделали удобного и крутого! Посмотрел на витрине много телефоном - но выбор как изначально был Asus так и остался, и визуальный осмотр остальных не убедил сменить мнение...Покупал в Розетке, резерв делал через колл-центр. Приехал на Петровку, ну хочу сказать что магазин супер, много всего сделали удобного и крутого! Посмотрел на витрине много телефоном - но выбор как изначально был Asus так и остался, и визуальный осмотр остальных не убедил сменить мнение...',
            description: false,
            rating: true
        }
    ]

    commentItem = [
        {
            img: '3.png',
            status: false,
            name: 'Владислав Терновський',
            date: 'Два тижні тому',
            text:'При оформлении уточнила, чтобы прислали в заводской упаковке-выполнили. Все, что заявлено в комплектации есть в наличии. Работает, со старого телефона все перенесено по аккаунту. Довольна телефоном и сервисом магазина.',
            description: false,
            rating: true
        }
    ]

    subcomment = [
        {
            img: '3.png',
            status: 'Відповідь',
            name: 'Віталій Шмицький',
            date: 'Два тижні тому',
            text:'При оформлении уточнила, чтобы прислали в заводской упаковке-выполнили. Все, что заявлено в комплектации есть в наличии. Работает, со старого телефона все перенесено по аккаунту. Довольна телефоном и сервисом магазина.',
            description: false,
            rating: true
        }
    ]

    report = [
        {
            img: '1.png',
            status: false,
            name: 'Гембаровський Олександр',
            text:'',
            description: false,
            rating: false,
            date: false
        }
    ]

    blogPlaces = [
        {
            class1: 'active',
            img: '1',
            name: 'Міста'
        },
        {
            img: '2',
            name: 'Селища'
        },
        {
            img: '3',
            name: 'Курорти'
        },
        {
            img: '4',
            name: 'Гори'
        },
        {
            img: '5',
            name: 'Річки'
        }
    ]

    panelBox = [
        {
            name: 'panel-box--routes',
            banner: 'background-image: url(data/indexBlock/banner1.png);',
            title: 'Маршрути',
            text: 'Сплануй свою подорож: знаходь місця та події, що варто відвідати, бронюй житло у Карпатах та наповнюй кожен день новими враженнями!',
            info: false,
            link: 'всі маршрути',
            swiper__recommended: 'Рекомендуємо',
            routes: true
        },
        {
            name: 'panel-box--stay',
            banner: 'background-image: url(data/indexBlock/banner2.png);',
            title: 'Де зупинитися',
            text: 'Сплануй свою подорож: знаходь місця та події, що варто відвідати, бронюй житло у Карпатах та наповнюй кожен день новими враженнями!',
            info: false,
            link: 'каталог житла',
            swiper__recommended: 'Рекомендуємо',
            dwelling: true
        },
        {
            name: 'panel-box--state',
            banner: 'background-image: url(data/indexBlock/banner3.png);',
            title: 'Чернігівщина',
            text: 'Сплануй свою подорож: знаходь місця та події, що варто відвідати, бронюй житло у Карпатах та наповнюй кожен день новими враженнями!',
            info: true,
            link: 'до нових пригод',
            swiper__recommended: false,
            state: true
        },
        {
            name: 'panel-box--blog',
            banner: 'background-image: url(data/indexBlock/banner3.png);',
            title: 'Блог',
            text: 'Сплануй свою подорож: знаходь місця та події, що варто відвідати, бронюй житло у Карпатах та наповнюй кожен день новими враженнями!',
            info: false,
            link: 'до нових пригод',
            swiper__recommended: false,
            blog: true
        }
    ]
    var apartment = [
        {
            img: '1.svg',
            name: 'Двоспальне ліжко'
        },
        {
            img: '2.svg',
            name: 'Сейф'
        },
        {
            img: '3.svg',
            name: 'Спортзал'
        },
        {
            img: '4.svg',
            name: 'Цілодобово'
        },
        {
            img: '5.svg',
            name: 'Односпальне ліжко'
        },
        {
            img: '6.svg',
            name: 'Кондиціонер'
        },
        {
            img: '7.svg',
            name: 'Кухня'
        },
        {
            img: '8.svg',
            name: 'Басейн'
        },
        {
            img: '9.svg',
            name: 'Душ'
        },
        {
            img: '10.svg',
            name: 'Телебачення'
        },
        {
            img: '11.svg',
            name: 'Бар'
        }
    ]

    mobileNaviagtion = [
        {
            name: 'Житло',
            image: '1.svg'
        },
        {
            name: 'Блог',
            image: '2.svg'
        },
        {
            name: 'Маршрути',
            image: '3.svg'
        },
        {
            name: 'Об’єкти',
            image: '4.svg'
        },
        {
            name: 'Профіль',
            image: '5.svg'
        }
    ]

    guide = [
        {
            img: '1.png',
            name: 'Гембаровський Олександр',
            point: '7.9'
        }
    ]

    guideBlogs = [
        {
            img: '1.png',
            name: 'Гембаровський Олександр',
        }
    ]

    hashTag = [
        '#giro','#italy','#giroditalia','#italia','#cycling','#giro101', '#ciclismo', '#bici', '#bike', '#travel', '#rosa', '#cyclinglife', '#igerslazio', '#trip','#giroditalia2019', '#turismo', '#verona', '#sport', '#nature','#terracina', '#mountains', '#sorriso', '#yallerslazio', '#terracina_foto', '#terracina_weekend', '#visitlazio', '#visitterracina'
    ]

    colorPanel = [
        'background-color: #B30909',
        'background-color: #DA3030',
        'background-color: #DADA0C',
        'background-color: #07790F',
        'background-color: #3976DA',
    ]

    boxSize = [
        'XS','S','M','L','XL','XXL','XXXL'
    ]

    catalogCarouselBig = [
        {
            href: 'data/slider/big/1.png',
            image: '1.png',
            class: 'image',
        },
        {
            href: 'data/slider/big/2.png',
            image: '2.png',
            class: 'image'
        },
        {
            href: 'data/slider/big/3.png',
            image: '3.png',
            class: 'image'
        },
        {
            href: 'data/slider/big/4.png',
            image: '4.png',
            class: 'image'
        },
        {
            href: 'data/slider/big/5.png',
            image: '5.png',
            class: 'image'
        }
    ]

    deliveryValue = [
        'Самовивіз', 'Укрпошта', 'Нова пошта'
    ]

    deliveryPrice = [
        {
            name: 'Доставка:',
            value: '120 грн'
        },
        {
            name: 'Всього:',
            value: '1549 грн'
        }
    ]
