//- CATEGORY
//------------------------------------------------

-
    var category = [
        {
            class: 'type1',
            title: 'Жіночий одяг',
            count: '29'
        },
        {
            class: 'type2',
            title: 'Чоловічий одяг',
            count: '12'
        },
        {
            class: 'type3',
            title: 'Дитячий одяг та товари',
            count: '7'
        },
        {
            class: 'type4',
            title: 'Взуття',
            count: '3'
        },
        {
            class: 'type1',
            title: 'Аксесуари',
            count: '16'
        },
        {
            class: 'type3',
            title: 'Косметика і парфумерія',
            count: '14'
        },
        {
            class: 'type5',
            title: 'Для дому',
            count: '6'
        },
        {
            class: 'type1',
            title: 'Електроніка',
            count: '9'
        },
        {
            class: 'type2',
            title: 'Білизна',
            count: '5'
        },
        {
            class: 'type1',
            title: 'Подарунки та сувеніри',
            count: '9'
        },
        {
            class: 'type3',
            title: 'Гастрономія',
            count: '10'
        }
    ]
