//- CATEGORY
//------------------------------------------------

$category__textFontSize:        $fontSizeH4 !default;

$category__buttonTextColor:     $grayLight !default;
$category__buttonBorderColor:   #dcdbdb !default;

$category__backgroundColor:     $base !default;
$category__shadowColor:         rgba(156, 53, 127, .4) !default;

$category__countTextColor:      #a2a2a2 !default;

$category__typeColor1:          #e6007e !default;
$category__typeColor2:          #d2072a !default;
$category__typeColor3:          #b24493 !default;
$category__typeColor4:          #f7a600 !default;
$category__typeColor5:          #ed6939 !default;
