//- BENEFIT
//------------------------------------------------

-
    benefit = [
        {
            image: 'delivery',
            imageTitle: 'Доставка товара по Украине',
            title: '<span>доставка</span>товара по Украине'
        },
        {
            image: 'payment',
            imageTitle: 'Оплата наличными или картой',
            title: '<span>Оплата</span>наличными или картой'
        },
        {
            image: 'certificates',
            imageTitle: 'Скидки и подарочные сертификаты',
            title: '<span>скидки</span>подарочные сертификаты'
        },
        {
            image: 'work',
            imageTitle: 'Работаем без выходных',
            title: '<span>график</span>работаем без выходных'
        }
    ]
