//- SOCNET
//------------------------------------------------

$socnet__titleFontSize:     $fontSizeH3 !default;
$socnet__titleColor:        $gray !default;

$socnet__borderColor:       #e6a3c8 !default;
