.icon-32x32 {
  width: 90px;
  height: 22px;
  fill: #000;
  stroke: initial;
}
.icon-arrow {
  width: 16px;
  height: 10px;
  fill: #fff;
  stroke: initial;
}
.icon-bottle {
  width: 24px;
  height: 31px;
  fill: #C2D5FC;
  stroke: initial;
}
.icon-button {
  width: 23px;
  height: 17px;
  fill: #2A6AF0;
  stroke: initial;
}
.icon-close {
  width: 12px;
  height: 12px;
  fill: #111;
  stroke: initial;
}
.icon-facebook {
  width: 12px;
  height: 24px;
  fill: #000;
  stroke: initial;
}
.icon-filter-button {
  width: 22px;
  height: 12px;
  fill: initial;
  stroke: #fff;
}
.icon-instagram {
  width: 24px;
  height: 24px;
  fill: #000;
  stroke: initial;
}
.icon-mail {
  width: 16px;
  height: 11px;
  fill: #2A6AF0;
  stroke: initial;
}
.icon-minus {
  width: 11px;
  height: 3px;
  fill: #111;
  stroke: initial;
}
.icon-phone {
  width: 16px;
  height: 16px;
  fill: #2A6AF0;
  stroke: initial;
}
.icon-pointer {
  width: 16px;
  height: 21px;
  fill: #2A6AF0;
  stroke: initial;
}
.icon-twitter {
  width: 30px;
  height: 24px;
  fill: #000;
  stroke: initial;
}
.icon-youtube {
  width: 27px;
  height: 19px;
  fill: #000;
  stroke: initial;
}
