@import 'vars/_variable.scss';

.page404 {
    font-size: 0;
    position: relative;
    overflow: auto;
    height: 100vh;
    text-align: center;

    &:before {
        position: relative;
        display: inline-block;
        width: 0;
        height: 100%;
        content: '';
        vertical-align: middle;
    }

    &__main {
        font-size: $page404__baseFontSize;
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 50px 0;
        vertical-align: middle;
    }

    &__logo {
        position: relative;
        margin: 0 0 40px;
        text-align: center;

        &__link {
            position: relative;
            display: inline-block;
        }
    }

    &__code {
        position: relative;
        margin: 0 0 35px;

        &:before {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 8px;
            content: '';
            background: url('../images/page404/bg/logo.png') repeat-x;
        }

        img {
            position: relative;
        }
    }

    &__title {
        font-size: $page404__titleTextFontSize;
        font-weight: 700;
        line-height: 1;
        position: relative;
        margin: 0 0 8px;
    }

    &__text {
        position: relative;
        margin: 0 0 37px;
    }

    &__menu {
        position: relative;
        display: table;
        width: 100%;
        max-width: 1080px;
        margin: 50px auto 0;
        padding: 9px 0;
        white-space: nowrap;
        text-transform: uppercase;

        &List {
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }

        &Item {
            line-height: 1;
            position: relative;
            flex-grow: 1;
            padding: 9px 5px;
            //border-bottom: 1px solid #dbdbdb;

            &:after {
                position: absolute;
                content: '';
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 20px;
                width: 1px;
                background: #dbdbdb;
            }

            &:last-child {
                &:after {
                    opacity: 0;
                }
            }
        }

        &Link {
            position: relative;
            display: inline-block;
            transition: all .2s linear;
            text-decoration: none;
            color: $page404__menuTextColor;

            &:before {
                position: absolute;
                right: 50%;
                bottom: -10px;
                left: 50%;
                height: 2px;
                content: '';
                transition: all .2s linear;
                background: $page404__menuBackgroundColor;
            }

            &:hover {
                color: inherit;

                &:before {
                    right: 0;
                    left: 0;
                }
            }
        }
    }

    .button {
        font-size: $page404__buttonTextFontSize;
        line-height: (50px / $page404__buttonTextFontSize);
        max-width: 280px;
        height: 50px;
        margin: 0 auto;
    }
}
