include vars/_variable.pug

='\n'
//= Page 404 =
.page404
    .page404__main
        .page404__logo
            a.page404__logoLink(href='#')
                img(src='images/header/logo.png' alt='')

        .page404__code
            img(src='images/page404/logo.png' alt='')

        .page404__title Cтраница не найдена
        .page404__text Возможно, Вы ошиблись при вводе адреса. Проверьте ее, пожалуйста, еще раз

        a.button.button--buy(href='#')
            span.button__text На главную

        .page404__menu.hide-sm-max
            ul.page404__menuList

                each val in page404Menu
                    li.page404__menuItem
                        a.page404__menuLink(href='#')= val

//= End page 404 =
='\n'
