//- TAB
//------------------------------------------------

$tab__menuTextFontSize:         $fontSizeH4 !default;
$tab__menuTextColor:            #ababab !default;
$tab__menuTextColor--active:    #e6007e !default;
$tab__menuBackgroundColor:      rgba(235, 235, 235, 0.85) !default;
