= '\n'
//= Footer =

footer#footer.footer
    .footer__wrapper
        include ../module/_up.pug
        .footer__logo
            include ../module/_logo.pug
        if !siteMap
            a(href='sitemap.html') Карта сайту
        .footer__logo32x32
            include ../module/_logo32x32.pug
    p © 2019 «water».Всі права захищені.

//= End footer =
= '\n'
