= '\n'
//= Navigation =

nav.nav
    ul.nav__list
        each prop in navListItems
            li.nav__list-item(class= (prop.active) ? 'active' : '')
                a(href= prop.link)= prop.name

//= End navigation =
= '\n'
