doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Discounts
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main

                        = '\n'
                        // box
                        .box
                            .box__content

                                = '\n'
                                // discounts
                                .discounts
                                    .discounts__header
                                        .discounts__title Discounts
                                        .discounts__label Take a look at the savings you can “pocket” with us
                                        .discounts__text
                                            p.
                                                First-Time User? - Great! Welcome aboard. Simply use the discount code “GME15OFF” when you place that first order and get a 15% discount.
                                            p.
                                                Steady Customer? For your loyalty, we will offer a special discount system! Enjoy!
                                    .discounts__block
                                        .discounts__block-title Life-time Discounts
                                        .discounts__list
                                            .discounts__item
                                                .discounts__name <span>5%</span> off
                                                .discounts__value You are eligible for <b>5%</b> life-time discount <b>after 15 pages</b> ordered
                                            .discounts__item
                                                .discounts__name <span>10%</span> off
                                                .discounts__value You are eligible for <b>10%</b> life-time discount <b>after 50 pages</b> ordered
                                            .discounts__item
                                                .discounts__name <span>15%</span> off
                                                .discounts__value You are eligible for <b>15%</b> life-time discount <b>after 100 pages</b> ordered
                                    .discounts__support
                                        .discounts__support-info
                                            .discounts__support-data
                                                .discounts__support-title Customer support 24/7
                                                .discounts__support-text Contact us via Live Chat if you have any questions
                                            a.discounts__support-button(href='#').button.button--dark Online Chat
                                // end discounts
                                = '\n'

                            .box__side
                                .box__item
                                    = '\n'
                                    // discount
                                    .discount
                                        .discount__title Instant<br> discount
                                        .discount__label USE CODE: GME15OFF
                                        .discount__text Get <span>15% discount</span> off your first order! Don’t forget your discount!
                                    // end discount
                                    = '\n'
                                .box__item
                                    include modules/_notice.pug
                        // end box
                        = '\n'

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
