-
    pageTitle = 'main'
    main = true
    nameTitle = 'main'

doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Base Project
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main
                        include modules/_calculator.pug
                        include modules/_advantages.pug
                        include modules/_step.pug
                        include modules/_sample.pug

                        - always = true
                        include modules/_section.pug
                        - always = false

                        include modules/_testimonials.pug
                        include modules/_need.pug

                        - services = true
                        include modules/_section.pug
                        - services = false

                        - discounts = true
                        include modules/_section.pug
                        - discounts = false
                        = '\n'

                        include modules/_faq.pug
                        include modules/_safe.pug

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
