-
    pageTitle = 'Landing'
    main = true
    nameTitle = 'Landing'

doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Landing
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main


                        = '\n'
                        // box
                        .box
                            .box__content

                                = '\n'
                                // landing
                                .landing
                                    include modules/_landing-block.pug
                                    .landing__name A Custom Writing Service for Any Need!
                                    .landing__text
                                        p.
                                            The bulk of our clientele is composed of students of all ages and academic levels who usually come to us for custom writing paper assistance. Here they find a friendly and committed cadre of administrators, customer service professionals, and, most importantly, a significant group of expert researchers, writers, and editors. True custom writing requires this kind of staffing so that we are prepared and capable of providing the following to any client:
                                        ul
                                            li Individualized service from the placement of an order until that order is completed and delivered and the client is thrilled with the results.
                                            li The most comprehensive service of any custom writing company in existence. We can virtually accept an order for any type of writing that a student or business professional may need.
                                            li The best custom writing can only be produced by qualified and credentialed experts in all fields of study and all career fields as well. This is what we bring to the table. You only need to provide us with what you need!
                                            li A commitment to high quality, plagiarism-free, exceptionally-written products and a guarantee that we will deliver on time.

                                    .landing__info.landing__info--free
                                        .landing__info-title Plagiarism free
                                        .landing__info-text Zero tolerance to plagiarism! We have a strong policy against any kind plagiarism and properly cite all used sources of information. every order is written from scratch, properly formatted and checked.

                                    .landing__text
                                        p.
                                            With its current staff, GrabMyEssay.com can deliver the following custom writing service:
                                        ul
                                            li Custom Writing Services For Students
                                            li Basic essays of any type and purpose, for high school through graduate-level students
                                            li Term and research papers on any topic and at any level
                                            li Presentations, speeches, debate points, and content
                                            li Book and movie reports and reviews
                                            li Analytical response/reaction essays and papers
                                            li Coursework writing assignments (review questions, etc.)

                                    .landing__name Custom Writing For Job Seekers
                                    .landing__text
                                        ul
                                            li Cover letters customized for each position opportunity
                                            li Resumes - several versions and formats, dependent upon specific positions
                                            li Curriculum Vitae
                                        p.
                                            Given the comprehensive nature of the work of our custom writing company and our uncompromising standards of excellence, it stands to reason that we employ, on a contract basis, the very best writers that we can be found. Our screening and selection process is rigorous, and includes the following steps:
                                        ol
                                            li Verification of all degrees, association memberships, licenses, and certifications;
                                            li Review of previous writing samples;
                                            li Evaluation of an original piece of writing, on a topic of our choice;
                                            li Review of portfolios of previous work in the area for which the individual wishes to be considered;
                                            li Candidate acceptance of a binding contract that imposes strict policies and guidelines for the production of any written material.

                                        p.
                                            Because we are very careful about writer selection, and as a result, we can state without exception that we offer the best custom writing in the business.
                                        p.
                                            The process for ordering and receiving custom writing from GrabMyEssay.com is direct and simple.

                                    include modules/_place.pug

                                    .landing__text
                                        ol
                                            li The client completes our order form, stipulating all instructions and requirements;
                                            li The order is thoroughly analyzed and a writer is located;
                                            li Payment is made, and the client is provided a personal account page on our site;
                                            li If an order is unique, complex, or otherwise difficult to specify on the order form, the client contacts our customer service department and discusses the project. A price quote will be provided;
                                            li Deadlines must be provided, and we consider them carved in stone.

                                        p.
                                            Upon delivery, the following will occur:
                                        ol
                                            li The delivered product is reviewed by the client;
                                            li The client may accept the product as written, and our job is finished;
                                            li The client may request revisions, which we are quick to complete;
                                            li We ask for client feedback, so that we may improve continually.

                                        p.
                                            During the production process, the client can expect the following:
                                        ol
                                            li Direct and open communication with their writer, through the message board on the personal account page
                                            li Regular updates regarding the progress
                                            li Drafts for review and comment delivered on the account page
                                            li 24-hour access to the customer service department (365 days a year!) via live chat, telephone, or email.

                                    .landing__info.landing__info--writers
                                        .landing__info-title Professional writers
                                        .landing__info-text Our extensive pool of academic writers allows us to arrange a non-stop flow of professionally-written papers on any topic.

                                    .landing__text
                                        p.
                                            Custom writing service from GrabMyEssay.com is both comprehensive and exceptional. We value our new and returning clients, and because we do, we offer great discounts for first-time customers, as well as liberal loyalty discounts for those who return to us often. We are all about relationship building, and we want you as a client for as long as you require us. Contact us today we have a perfect writer waiting to begin your project!

                                // end landing
                                = '\n'

                            .box__side
                                .box__item.media0
                                    include modules/_getaprice.pug
                                .box__item
                                    include modules/_satisfied.pug
                                .box__item
                                    include modules/_notice.pug
                                .box__item
                                    include modules/_prices.pug
                                .box__item
                                    include modules/_security.pug
                        // end box
                        = '\n'

                        include modules/_need.pug
                        include modules/_safe.pug

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
