doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Prices
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main

                        = '\n'
                        // box
                        .box
                            .box__content

                                = '\n'
                                // price
                                .price
                                    .price__title Prices
                                    .price__text
                                        p.price__slogan.
                                            The price for your custom paper depends mainly on three aspects:
                                        ul
                                            li Urgency
                                            li Academic level
                                            li Number of pages
                                        p.
                                            The given table shows the price per 1 page of your order for writing from scratch. Use Type of Service button to choose the specific type of assignment and/or service you need.

                                    .price__form

                                        label.price__checkbox
                                            input.price__checkbox-input(type='checkbox' checked='checked')
                                            span.price__checkbox-checker
                                            span.price__checkbox-label I’m a new customer <span>(15% OFF)</span>

                                        .price__box
                                            .price__field.f_group.currency
                                                label.price__label Select currency
                                                .price__check.currency_check
                                                    input(type='radio' name='currency' id='currency_USD' checked='checked')
                                                    label(for='currency_USD') USD
                                                    input(type='radio' name='currency' id='currency_GBP')
                                                    label(for='currency_GBP') GBP
                                                    input(type='radio' name='currency' id='currency_EUR')
                                                    label(for='currency_EUR') EUR
                                                    input(type='radio' name='currency' id='currency_CAD')
                                                    label(for='currency_CAD') CAD
                                                    input(type='radio' name='currency' id='currency_AUD')
                                                    label(for='currency_AUD') AUD

                                            .price__field.f_group
                                                label.price__label Type of paper
                                                .price__select.f_select
                                                    select
                                                        option Essay
                                                        option Essay

                                            .price__field.f_group
                                                label.price__label Type of service
                                                .price__select.f_select
                                                    select
                                                        option Academic paper writing
                                            .price__field.f_group
                                                label.price__label Academic level
                                                .price__select.f_select
                                                    select
                                                        option Hight school
                                                        option Hight school

                                            .price__field.f_group
                                                label.price__label Urgency
                                                .price__select.f_select
                                                    select
                                                        option 14 days
                                                        option 14 days

                                            .price__field.f_group.pages
                                                label.price__label Pages *825 words
                                                .price__select.spin_edit_wrapper
                                                    input(type='text')



                                        -
                                            let price = [
                                                {
                                                    days: '14 days',
                                                    date: '06/01/2020',
                                                    price: '$ 14.99/page'
                                                },
                                                {
                                                    days: '10 days',
                                                    date: '05/28/2020',
                                                    price: '$ 15.99/page'
                                                },
                                                {
                                                    days: '7 days',
                                                    date: '05/25/2020',
                                                    price: '$ 16.99/page'
                                                },
                                                {
                                                    days: '6 days',
                                                    date: 'Sunday at 9:27 AM',
                                                    price: '$ 17.99/page'
                                                },
                                                {
                                                    days: '5 days',
                                                    date: 'Saturday at 9:27 AM',
                                                    price: '$ 19.99/page'
                                                },
                                                {
                                                    days: '4 days',
                                                    date: 'Wednesday at 9:27 AM',
                                                    price: '$ 21.99/page'
                                                },
                                                {
                                                    days: '3 days',
                                                    date: 'Thursday at 9:27 AM',
                                                    price: '$ 23.99/page'
                                                },
                                                {
                                                    days: '48 hours',
                                                    date: 'Wednesday at 9:27 AM',
                                                    price: '$ 25.99/page'
                                                },
                                                {
                                                    days: '24 hours',
                                                    date: 'Tomorrow at 9:27 AM',
                                                    price: '$ 29.99/page'
                                                },
                                                {
                                                    days: '18 hours',
                                                    date: 'Tomorrow at 9:27 AM',
                                                    price: '$ 33.99/page'
                                                },
                                                {
                                                    days: '12 hours',
                                                    date: 'Today at 9:27 AM',
                                                    price: '$ 38.99/page'
                                                },
                                                {
                                                    days: '8 hours',
                                                    date: 'Today at 9:27 AM',
                                                    price: '$ 43.99/page'
                                                },
                                                {
                                                    days: '6 hours',
                                                    date: 'Today at 9:27 AM',
                                                    price: '$ 49.99/page'
                                                },
                                                {
                                                    days: '3 hours',
                                                    date: 'Today at 9:27 AM',
                                                    price: '$ 54.99/page'
                                                },
                                            ]
                                        each item in price
                                            label.price__item
                                                .price__days= item.days
                                                .price__date= item.date
                                                .price__price= item.price
                                                input.price__input(type='radio' name='price')
                                                .price__checker

                                        .price__total
                                            a.price__button.button(href='#') Proceed to Order
                                            .price__value
                                                .price__label Total price
                                                .price__cost $ 14.99

                                // end price
                                = '\n'

                            .box__side
                                .box__item
                                    include modules/_notice.pug
                                .box__item
                                    include modules/_security.pug
                        // end box
                        = '\n'

                        include modules/_need.pug
                        include modules/_safe.pug

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
