doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Samples
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main

                        = '\n'
                        // box
                        .box
                            .box__content

                                -
                                    let samples = [
                                        {
                                            info: 'Essay・5 pages・MLA',
                                            title: 'Hamlet',
                                            text: 'Shakespeare wrote Hamlet after the death of his only son in 1601. Literary scholars assume that the death of his son inspired his authorship, while some critics’ point is that the loss of his father motivated his writing (Carlson 22). Shakespeare was influenced by the real life happenings like other writers who…'
                                        },
                                        {
                                            info: 'Dissertation Chapter・42 pages・APA',
                                            title: 'The Importance of Using Technology in Human Resource and how it Organizes the Department to be more Efficient and Effective',
                                            text: 'Shakespeare wrote Hamlet after the death of his only son in 1601. Literary scholars assume that the death of his son inspired his authorship, while some critics’ point is that…'
                                        },
                                        {
                                            info: 'Essay・2 pages・APA',
                                            title: 'Etruscan Paintings',
                                            text: 'The Etruscan civilization existed between the eighth to third century BC and was rich in artistic and architectural embellishments, which are the only surviving artifacts of this ancient way of life. These artifacts depict the Etruscan lifestyles, beliefs, and craftsmanship, and have been preserved through…'
                                        },
                                        {
                                            info: 'Research Paper・14 pages・APA',
                                            title: 'Global Terrorism',
                                            text: 'Terrorists use different methods to achieve their objectives. The major strategies that they employ include: attrition, spoiling, provocation, intimidation, and outbidding. Indeed, all the plans used are aimed at gaining control of a targeted group of people or region. However, an analysis of the trends in terrorist…'
                                        },
                                        {
                                            info: 'Biology Problem・3 pages・MLA',
                                            title: 'Fish biology: Anatomy and Physiology',
                                            text: 'Teleost is the fish group that contains the majority of the cultured fin fishes; teleost fish group is evolutionarily advanced, physically structured, contains multiple subgroups of fishes, and is the member of Teleosti infraclass. The skeleton of the teleost contains the head skull, vertebral column, and fins. The structure of these…'
                                        },
                                        {
                                            info: 'Essay・2 pages・MLA',
                                            title: 'Descriptive and Inferential Statistics',
                                            text: 'Inferential statistics seem more suitable for the study of the usefulness of inflatable sleeping surfaces in the prevention of bedsores among the elderly. According to Creswell (2014), researchers should identify the type of statistics most suitable to their investigation question. In this case, the research question seeks to make…'
                                        },
                                        {
                                            info: 'Essay・11 pages・Harvard',
                                            title: 'Gulf View Inc, Sales',
                                            text: 'Location (Gulf view or no Gulf view) of a condominium and property listing prices are very essential part of number of days it takes to sell a property and real estate sales price. An understanding of how location of a condominium, the sales price, listing price, and the duration of time in days it takes to sell are very important to real estate firm like…'
                                        },
                                        {
                                            info: 'Research Paper・2 pages・APA',
                                            title: 'Transnational Crime: Drug Trafficking In China and South Africa',
                                            text: 'Drug trafficking is a great menace in the world. In the discourse in which this vice unfolds, the governments of China and South Africa have found themselves entrenched in a ditch, fighting this transnational crime for years with only less milestone at hand. Illicit drug use is…'
                                        },
                                        {
                                            info: 'Q&A・2 pages・MLA',
                                            title: 'Impact of Schools Essay',
                                            text: 'The Teacher-Student relationship (TSR) is a significant everyday interactive experience as it contributes to the developmental of student`s cognitive processes. As a result, this affiliation needs to be examined critically in regards to the role that the teacher partakes. For instance, the perception of students toward a…'
                                        },
                                        {
                                            info: 'Term Paper・9 pages・APA',
                                            title: 'Innovation in National Health Service (NHS) of the UK',
                                            text: 'National Health Service (NHS) in the UK was launched in 1948. It was as a result of the long-held ideal which advocated for good health care for everyone regardless of their background. Except for some charges in optical services, prescriptions, and dental services, NHS is…'
                                        },
                                    ]
                                = '\n'
                                // samples
                                .samples
                                    .samples__header
                                        h1.samples__title Our Sample Works
                                        .samples__label GRABMYESSAY.COM OFFERS TO EVALUATE SAMPLES OF VARIOUS TYPES OF PAPERS
                                        .samples__text.
                                            We have gathered all of them to show you the qualification and high professional level of our writers. You will definitely find the one you need! If not, Contact our Support Department!

                                    .samples__list
                                        each item in samples
                                            .samples__wrapper
                                                .samples__item
                                                    .samples__info
                                                        .samples__info-text= item.info
                                                        .samples__info-eye
                                                    .samples__name= item.title
                                                    .samples__description= item.text
                                                    .samples__button.button Read Sample
                                    .samples__pagination
                                        include modules/_pagination.pug
                                // end samples
                                = '\n'

                            .box__side
                                .box__item
                                    include modules/_getaprice.pug
                                .box__item
                                    include modules/_prices.pug
                                .box__item
                                    include modules/_notice.pug

                        // end box
                        = '\n'

                        include modules/_safe.pug

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
