//- NAV
//------------------------------------------------

$nav__baseFontSize:                     $fontSizeBase !default;

$nav__backgroundColor:                  $brandInfo !default;

$nav__buttonBackgroundColor:            $brandSecondary !default;
$nav__buttonBackgroundColor--active:    $brandPrimary !default;

$nav__dropBackgroundColor:              $base !default;
