include vars/_variable.pug

//= Socnet =
.socnet
    .socnet__title ми в мережі

    ul.socnet__list
        each val in footerSocnet
            li.socnet__item
                a.socnet__link(href='#' class='socnet__link--' + val)
//= End socnet =
= '\n'
