include vars/_variable.pug

- var secondaryMenuAdditionClass = (secondaryMenuNav) ? 'secondaryMenu--relative' : ''

= '\n'
//= Secondary menu =
.secondaryMenu(class= hideClass class= secondaryMenuAdditionClass)
    ul.secondaryMenu__list

        each val in secondaryMenu

            if ('list' in val)
                li.secondaryMenu__item.secondaryMenu__itemParent
                    a.secondaryMenu__link(href='#' class='secondaryMenu__link--' + val.image)= val.title

                    .secondaryMenu__drop
                        ul.secondaryMenu__dropList
                            each list in val.list
                                li.secondaryMenu__dropItem
                                    a.secondaryMenu__dropLink(href='#')= list
            else
                li.secondaryMenu__item
                    a.secondaryMenu__link(href='#' class='secondaryMenu__link--' + val.image)= val.title
    

//= End secondary menu =
= '\n'
