include vars/_variable.pug

- modifier = (valentine) ? 'logo--valentine' : ''

= '\n'
//= Logo =
.logo(class= modifier)

    if (pageTitle == 'Main page')
        if valentine
            img(src='images/header/valentines/logo-valentine.svg' alt='Patifon')
        else 
            img(src='images/header/logo.svg' alt='Patifon')

    else
        a.logo__link(href='#')
            if valentine
                img(src='images/header/valentines/logo-valentine.svg' alt='Patifon')
            else 
                img(src='images/header/logo.svg' alt='Patifon')

//= End logo =
= '\n'
