= '\n'
//= about =
//- (source/assets/css/module/_about.scss)
.about.text

    h2 Company
    section.icon-right

        p
            b.
                For several years running Zagrava Games remains the biggest game development studio in Rivne region. Thanking to a winning combination of gamedev veterans’ experience and newbies’ enthusiasm our company is always at the progress’s cutting edge. As casual games developers we can do everything and even more!



        .about__image.decoration
            img(src="data/about/1.jpg", alt="")

        p Our portfolio contains dozens of successful projects made as ‘work-for-hire’ or in partnership with such companies as Playrix, Maddata, Renatus, Nord Current etc.

        p We strongly believe that GameDev is the most creative IT industry sector. It doesn’t admit of routine and boredom. Our mission is to bring joy to the people. That is why our work should always be full of FUN and JOY. Without these ingredients even the best game will turn into…sad trash ? For this reason we carefully select our employees each of which becomes a Zagrava Games family member.

        a.button.button--pinch(href="javascript:void(0)") Read More



    hr



    h2 Our history
    section.icon-left
        p Our history originates from 2003 when the very first game development studio “Friends Games” had been founded in the Western Ukraine. Those self-taught enthusiasts managed to make something new and attracted attention of that time game industry giant Oberon Media. By the end of 2007 the M&A process had been completed and the small Rivne Company became an internal development studio of Oberon Media / I-Play.

        p
            b.
                During the next 2 years we have made almost 10 projects each of which became a bestseller. More information about it you can find here: Games Archive

        p In 2009 Oberon Media continued staking on PC Downloadable games while the smartphones started to sweep the market. By the end of that year all the Eastern European studios (Saint Petersburg, Kyiv, Rivne and Bucharest) had been closed.

        p After the Rivne studio closing in December 2009 some of our guys joined other gamedev companies, but we managed to keep the core team and self-assembled into an independent company Zagrava Games (from the Ukrainian “zagrava” – distant lightning).

        p We decided to start with the game outsource. Having an excellent team and solid reputation we easily found our first clients, some of them keep working with us till now. Within the next 2 years our studio grew from 10 to 40 people. Since 2010 we have participated in +50 games and created 6 our own.

        .about__image.decoration
            img(src="data/about/2.jpg", alt="")

    hr



    h2 Our values
    section
        p
            b.
                From the day dot we based our work on two pillars – the Team and the Quality. Without a team of like-minded professionals any idea will remain balderdash, and an IT company will be nothing, but computers warehouse. People are the ones who substantialize and whip up the dreams, bringing some magic into this world.

        .about__image.decoration
            img(src="data/about/3.jpg", alt="")

        p We did our best to make a family-like company rather than another IT sweatshop. That’s why Zagrava Games is primarily a comfortable place of work. We appreciate an informal friendly setting, trust and team spirit. We don’t have any laymen, and employee is the integral team member.

        p It allows us to maintain the highest quality level we are proud of. We love our work and do it very well. Every our employee is proper place and knows that his personal contribution effects the whole team’s results.

        a.button.button--pinch(href="javascript:void(0)") Read More




//= End about =
= '\n'


