= '\n'
//= Contacts =

.contacts
    .contacts__phone
        a(href='tel:+380362460062') +380 362 460 062
        link(itemprop= itempropTel content='+380362460062')
    .contacts__mail
        a(href='mailto:company@zagravagames.com' itemprop= itempropEmail) company@zagravagames.com
- micromarking = false
//= End contacts =
= '\n'
