= '\n'
//= Info-mask =

.info-mask
    .info-mask__inner
        .info-mask__title= prop.title
        .info-mask__text
            p= prop.text
    a.button(href= prop.link class= pinch ? 'button--pinch' : '')= buttonText

//= End info-mask =
= '\n'
