= '\n'
//= inner-info =
//- (source/assets/css/module/_inner-info.scss)

.inner-info
-
    micromarking = true
    itemscope = (micromarking) ? true : false
    itemprop = (micromarking) ? 'offers' : false
    itemtype  = (micromarking) ? 'http://schema.org/Offer' : false

.inner-info(itemprop= itemprop itemscope= itemscope itemtype= itemtype)
    -
        itempropPrice           = (micromarking) ? 'price' : false
        itempropPriceContent    = (micromarking) ? '1866' : false

        itempropCurr            = (micromarking) ? 'priceCurrency' : false
        itempropCurrContent     = (micromarking) ? 'UAH' : false

    span.invisible(itemprop= itempropPrice content= itempropPriceContent) 1,000.00
    span.invisible(itemprop= itempropCurr content= itempropCurrContent) грн.

    meta(itemprop="url" content="game.html")


    .inner-info__description(itemprop="description")
        h2 PROJECT DESCRIPTION
        p Easter is coming and millions of kids all over the world are braced for the egg hunt. Help the cute bunnies to collect the eggs and surmount all the hurdles. Otherwise the holiday will be spoiled and desperate children won’t get their chocolate eggs! Greedy Bunnies is an exciting and addictive adventure Match 2 (NOT Match 3!) game with hundreds of smart and balanced levels you may play everywhere. Make perfect matches to lead the bunnies to carrots and help them collecting Easter eggs. Greedy Bunnies is completely free to play game with only few optional purchase options. No age restriction, just absolute fun!

    .inner-info__details
        .inner-info__list
            h2 Project details
            ul
                each val in detailsList
                    li= val

        .inner-info__link
            each item in linksList
                a(href="javascript:void(0)")
                    img(src="data/icons/" + item, alt="")

- micromarking = false

//= End inner-info =
= '\n'

