= '\n'
//= Join =

.join
    img(src='data/main.jpg' alt='')
    iframe
    //- iframe(src="https://www.youtube.com/embed/_ODbdQXY2Nk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" marginheight="0" marginwidth="0" align = 'middle' allowfullscreen )

    .join__info
        h1 join our team
        a.button(href='career.html') find more
//= End join =
= '\n'
