= '\n'
//= page404 =
//- (source/assets/css/module/_page404.scss)
.page404
    img(src="data/404/404.svg", alt="")
    p Article not found
    span please try one on the following pages:
    a.button.button--fill(href='index.html') home page
//= End page404 =
= '\n'




