= '\n'
//= Privacy =
-
    itemtype                    = (micromarking) ? 'http://schema.org/CreativeWork' : false
    itempropInner               = (micromarking) ? 'copyrightHolder' : false
    typeOfInner                 = (micromarking) ? 'Organization' : false
.privacy(itemscope= itemscope itemtype= itemtype)
    each value in privacyListItems
        a(href='javascript:void(0);')= value

//= End privacy =
= '\n'
