= '\n'
//= slider =
//- (source/assets/css/module/_slider.scss)
.slider

        a.slider__image.gallery(itemprop= itempropInnerImage href= 'data/slider/games-1.jpg' data-group="gallery" style='background:url(../data/slider/games-1.jpg) center center / cover;')
        a.slider__image.gallery(href= 'data/slider/games-2.jpg' data-group="gallery" style='background:url(../data/slider/games-2.jpg) center center / cover;')
            //- if (item.itemprop)
            //-     //-img(itemprop= itempropInnerImage  src="data/slider/" + item.image, alt="")
            //- else
            //-     //-img(src="data/slider/" + item.image, alt="")
//= End slider =
= '\n'
