= '\n'
//= success =
//- (source/assets/css/module/_success.scss)
.success#success

    .success__wrapper
        p Congratulations!!!
        span your briefcase was
        span successfully submitted
        button.button.button--fill ok
//= End success =
= '\n'
