.account-menu {
    border: 1px solid $grayLight;
    background: $grayLighter;

    &__item {
        margin-left: -1px;
        padding: 0 20px;
        cursor: pointer;
        transition: all .2s ease-out;
        border-left: 2px solid transparent;

        &:last-child {
            .account-menu {
                &__link {
                    border-color: transparent;
                }
            }
        }

        &--active,
        &:hover {
            border-color: $brandPrimary;

            .account-menu {
                &__link {
                    color: $brandPrimary;

                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &__link {
        font-size: $fontSizeBase;
        line-height: 1;
        position: relative;
        display: block;
        padding: 17px 0 16px 36px;
        transition: all .2s ease-out;
        text-decoration: none;
        color: $gray;
        border-bottom: 1px solid $grayLight;

        &:before,
        &:after {
            position: absolute;
            top: 50%;
            left: -2px;
            width: 24px;
            height: 25px;
            margin-top: -12px;
            content: '';
            background: url('../images/content/icon/account-menu.png') no-repeat;
        }

        &:after {
            transition: all .2s ease-out;
            opacity: 1;
        }

        &--user {
            &:before {
                background-position: -24px 0;
            }

            &:after {
                background-position: 0 0;
            }
        }

        &--orders {
            &:before {
                background-position: -24px -25px;
            }

            &:after {
                background-position: 0 -25px;
            }
        }

        &--edit {
            &:before {
                background-position: -24px -50px;
            }

            &:after {
                background-position: 0 -50px;
            }
        }

        &--password {
            &:before {
                background-position: -24px -75px;
            }

            &:after {
                background-position: 0 -75px;
            }
        }

        &--logout {
            &:before {
                background-position: -24px -100px;
            }

            &:after {
                background-position: 0 -100px;
            }
        }
    }

    @media (min-width: $screenMdMin) {
        &__link {
            font-size: $fontSizeH4;
        }
    }
}
