.account-form {
    width: 100%;
    max-width: 876px;

    .table-title {
        margin: 0;
        border-bottom: none;
    }

    .form-group {
        .help-block {
            display: none;
            font-size: 0;
        }

        &.has-error {

            input,
            textarea {
                border: 1px solid red;
            }
        }

        .checkbox {
            padding: 0;
        }
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 16px;

        flex-wrap: wrap;
        label {
            width: 100%;
            margin: 0 3px 0 0;
        }
    }

    input {
        width: 100%;
        border: 1px solid $grayLight;
        font-family: $fontFamilySansSerif;
        color: $gray;
        font-size: $fontSizeSmall;
        padding: 14px;
    }

    .select2 {
        &-dropdown {
            border: 1px solid $grayLighter;
            border-radius: 0;
        }

        &-container {
            width: auto!important;
        }

        &-selection {
            &--single {
                height: auto;
                border-radius: 0;
                border: 1px solid $grayLighter;
                padding: 9px 9px 9px 8px;
                width: auto;
            }
        }
    }


    &__personal {
        display: flex;
        justify-content: center;
        border: 1px solid $grayLight;
        margin: 0 0 24px;
        padding: 16px 16px;
        flex-wrap: wrap;

        .form-group {
            position: relative;
            max-width: 400px;
            width: 100%;
            margin: 16px 0 8px 0;

            input {
                padding: 14px 0 14px 30px;
            }
        }

        .discount {
            position: relative;
            width: 100%;
            border: 1px solid $grayLight;
            padding: 14px 0 14px 30px;
            margin: 16px 0;
            font-size: $fontSizeSmall;
            span {
                font-weight: 700;
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 5px;
        padding: 0 5px 0 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__wrapper {
        max-width: 400px;
        width: 100%;
        flex-shrink: 0;
        margin: 0 20px;
    }

    &__button {
        margin: 0;
        display: block;
        color: $brandPrimary;
        text-decoration: underline;
        background: transparent;
        border: none;
    }

    //address
    &__position {
        border: 1px solid $grayLight;
        padding: 16px ;
        margin: 0 0 24px 0;
    }

    &__address {
        margin: 0 0 16px 0;
        border-bottom: 1px dashed $grayLight;

        h3 {
            margin: 10px 0 0;
            font-size: $fontSizeLarge;
            font-family: $fontFamilySansSerif;
            font-weight: 700;
            color: $gray;
        }

        +.account {
            &-form {
                &__button {
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    font-size: $fontSizeH4;
                }
            }
        }

        .form-group {
            margin: 7px 0;
            flex-shrink: 0;
        }
    }

    &__global {
        display: flex;
        justify-content: space-between;
        max-width: 640px;
        width: 100%;
        flex-wrap: wrap;
        .form-group {
            width: 49%;

            &:last-child {
                margin-right: 0;
            }

            input {
                width: 100%;
                padding: 14px;
                border: 1px solid $grayLight;
            }
        }
    }

    &__local {
        display: flex;
        justify-content: space-between;
        max-width: 640px;
        margin: 0 0 3px;
        flex-wrap: wrap;

        .form-group {
            max-width: 312px;
            //width: 100%;
            width: 49%;
        }
    }

    label {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        input {
            order: -1;
            flex-shrink: 0;
        }
    }

    textarea {
        max-width: 640px;
        width: 100%;
        border: 1px solid $grayLight;
        padding: 4px 14px;
        margin: 13px 0 11px 0;
        resize: none;
    }

    //password
    &__password {
        border: 1px solid $grayLight;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 16px;
        margin: 0 0 16px 0;

        .form-group {
            max-width: 222px;
            width: 100%;
            margin: 4px 8px;

            input {
                width: 100%;
            }
        }

        .catalog {
            &__button {
                max-width: 128px;
                margin: 0 0 0 8px;
                height: auto;
                line-height: 44px;
            }
        }
    }

    @media (min-width: 480px) {

        input {
            font-size: $fontSizeBase;
        }

        .discount {
            font-size: $fontSizeBase;
            padding: 14px 0 14px 65px;
        }

        &__image {
            left: 16px;
            padding: 0 16px 0 0;
            border-right: 1px solid #e5e5e5;
        }

        &__select {
            flex-wrap: nowrap;
            label {
                width: auto;
            }
        }

        &__personal {
            .form-group {
                input {
                    padding: 14px 0 14px 65px;
                }
            }
        }

        &__address {
            .form-group {
                flex-shrink: 0;
            }
        }
    }

    @media (min-width: 768px) {
        &__local {
            .form-group {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @media (min-width: 960px) {
        &__global {
            flex-wrap: nowrap;
        }
    }

    @media (min-width: 1024px) {

        &__wrapper {
            max-width: none;
            width: 47%;
        }

        &__personal {
            padding: 0;
            flex-wrap: nowrap;
        }
    }

    @media (min-width: 1200px) {
        &__wrapper {
            max-width: 400px;
            width: 100%;
        }

        &__local {
            .form-group {
                max-width: 148px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__password {
            .form-group {
                max-width: 222px;
                width: 100%;
                margin: 0 8px;

                &:first-child {
                    margin: 0 8px 0 0;
                }
            }
        }
    }
}

