.account-uesrinfo {
    margin: 0 -15px;

    @include clearfix;

    &__item {
        padding: 0 15px;
    }

    &__content {
        display: table-cell;
        vertical-align: middle;
    }

    &__field {
        font-size: $fontSizeBase;
        line-height: (24px / $fontSizeBase);
        position: relative;
        display: table;
        width: 100%;
        min-height: 60px;
        margin-bottom: 30px;
        padding-left: 90px;
        color: $grayMiddle;
        border: 1px solid $grayLight;
        background: $base;

        strong {
            white-space: nowrap;
        }

        span {
            display: inline-block;
            white-space: nowrap;
        }

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 70px;
            content: '';
            border-right: 1px solid $grayLight;
            background: url('../images/content/icon/contacts.png') 170px 0 no-repeat;
        }

        &--home {
            &:before {
                background-position: 0 50%;
            }
        }

        &--calendar {
            &:before {
                background-position: -70px 50%;
            }
        }

        &--letter {
            &:before {
                background-position: -140px 50%;
            }
        }

        &--callback {
            &:before {
                background-position: -210px 50%;
            }
        }

        &--phone {
            &:before {
                background-position: -280px 50%;
            }
        }

        &--user {
            &:before {
                background-position: -350px 50%;
            }
        }

        &--discount {
            &:before {
                background-position: -420px 50%;
            }
        }
    }

    @media (min-width: $screenMdMin) {
        &__field {
            font-size: $fontSizeH4;
            line-height: (24px / $fontSizeH4);
        }

        &__item {
            float: left;
            width: 50%;
            padding: 0 15px;

            &:nth-child(2n+1) {
                clear: both;
            }
        }
    }
}
