.bonus {
    display: flex;
    flex-direction: column;
    border: 1px solid $grayLight;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 30px;

    &__title {
        display: flex;
        align-items: center;
        padding: 22px;
        background: $tableBg;
        flex-wrap: wrap;

        h1 {
            font-family: $fontFamilySansSerif;
            font-size: $fontSizeH2;
            color: $gray;
            margin: 0;
            font-weight: 400;


            span,
            a,
            p {
                font-size: $fontSizeLarge;
                display: block;
            }
        }
    }

    &__image {
        background: url(../images/content/bonus.svg)no-repeat;
        width: 80px;
        height: 80px;
        margin-right: 24px;
        flex-shrink: 0;
    }

    &__statistic {
        display: flex;
        flex-wrap: wrap;
    }

    &__quantity {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-shrink: 0;
        padding: 16px;
        border: 1px solid $grayLight;
        border-right: none;
        border-bottom: none;

        &:first-child {
            border-left: none;
        }

        p,
        a {
            font-family: $fontFamilySansSerif;
            color: $gray;
            font-size: $fontSizeH2;
            font-weight: 700;
            text-decoration: none;
            margin: 0;

        }

        span {
            font-size: $fontSizeLarge;
            font-weight: 400;
            margin-left: 3px;
        }
    }

    @media (min-width: 600px) {
        &__quantity {
            max-width: 33.33334%;
        }
    }

    @media (min-width: 768px) {
        &__quantity {
            max-width: 100%;
        }
    }

    @media (min-width: 960px) {

        h1 {
            font-size: $fontSizeH10;
        }

        &__quantity {
            max-width: 33.33334%;
            align-items: center;
        }
    }
}
