.date-picker {

    .my-orders {
        &__title {
            margin: 13px 0 14px 0;
        }
    }

    .select2 {
        &-dropdown {
            border: 1px solid $grayLighter;
            border-radius: 0;
        }

        &-container {
            width: auto!important;
            margin: 0 8px 0 0;
        }

        &-selection {
            &--single {
                height: auto;
                border-radius: 3px;
                border: 1px solid $grayLighter;
                padding: 1px 14px 1px 8px;
                width: auto;

                .select2 {
                    &-selection {
                        &__rendered {
                            padding-right: 13px;
                        }
                    }
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;

        .date-picker {
            &__calendar {
                position: absolute;
                left: -325px;
            }
        }

        &.show-calendar {

            .date-picker {
                &__calendar {
                    position: relative;
                    left: 0;
                }
            }

            .calendar-button {
                display: none;
            }
        }
    }

    &__calendar {
        margin: 0 0 10px 0;
        transition: all ease .5s;
        overflow: hidden;

        .datepicker {
            background: rgba(229, 229, 229, 0.5);
            border-radius: 5px;
            width: 275px;
            height: 275px;

            &--nav {
                padding: 25px 4px 4px;
                justify-content: center;

                &-title {
                    font-size: $fontSizeH4;
                    text-transform: uppercase;
                    color: $gray;
                    i {
                        color: $gray;
                    }
                }

                &-action {
                    &[data-action=prev],
                    &[data-action=next] {
                        svg {
                            display: none;
                        }
                        background: url(../images/content/icon/arrow.svg)no-repeat center center;

                    }
                    &[data-action=prev] {
                        transform: rotate(90deg);
                    }

                    &[data-action=next] {
                        transform: rotate(-90deg);
                    }
                }
            }

            &--cell {
                font-family: $fontFamilySansSerif;
                font-size: $fontSizeH4;
                color: $gray;

                &-day {
                    &.-selected-,
                    &.-focus- {
                        background: transparent;
                        color: $base;
                        position: relative;
                        transition: all ease .2s;

                        &:after {
                            content: '';
                            position: absolute;
                            width: 28px;
                            height: 28px;
                            border-radius: 50%;
                            background: $brandPrimary;
                            z-index: -1;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            width: 16px;
                            height: 16px;
                            background: url(../images/content/icon/day-check.svg)no-repeat;
                            z-index: 1;
                        }
                    }

                    &.-other {
                        &-month- {
                            opacity: 0;
                        }
                    }
                }
            }

            &--day {
                &-name {
                    color: $grayMiddle;
                    font-size: $fontSizeBase;
                    font-family: $fontFamilySansSerif;
                    text-transform: lowercase;
                }
            }
        }
    }

    &__select {
        display: flex;
        flex-direction: column;

        .form-group {
            margin: 0 0 16px 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .calendar {
            &-button {
                margin: 10px 0 0 48px;
                position: relative;

                &:before {
                   content:'';
                   width: 24px;
                   height: 24px;
                   position: absolute;
                   background: url(../images/content/icon/calendar.svg)no-repeat;
                   top: 50%;
                   transform: translateY(-50%);
                   left: -35px;
                }
            }
        }
    }

    &__remove {
        display: none;

        &.show {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid rgba(180, 44, 44, 0.5);
            background: url(../images/content/icon/cross.svg)no-repeat center center;
            flex-shrink: 0;
            display: block;
        }
    }

    @media (min-width: 480px) {

        &__select {
            .calendar {
                &-button {
                    margin: 0 0 0 48px;
                    position: relative;
                }
            }
        }
    }

    @media (min-width: 600px) {

        &__calendar {
            margin: 0 10px 10px 0;
        }

        &__select {

            .form-group {
                flex-wrap: nowrap;
            }
        }
    }

    @media (min-width: 768px) {
        &__wrapper {
            flex-wrap: nowrap;
        }

        &__calendar {
            margin: 0 24px 0 0;

            .datepicker {

                width: 320px;
                height: 276px;

                &--content {
                    padding: 0 40px 40px;
                }
            }
        }
    }
}
