.delivery {
    margin: 0 -15px;

    @include clearfix;

    &__item {
        padding: 0 15px;
    }

    &__inner {
        padding-top: 22px;
        padding-bottom: 10px;
        border: 1px solid $grayLight;
        background: url('../images/content/delivery.png') bottom center no-repeat;

        @include clearfix;
    }

    &__title {
        font-size: $fontSizeH3;
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 9px;
        text-align: center;
        color: $gray;

        &:before {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 41px;
            height: 1px;
            margin-left: -20px;
            content: '';
            background: $brandPrimary;
        }

        &:after {
            position: absolute;
            bottom: -2px;
            left: 50%;
            width: 5px;
            height: 5px;
            margin-left: -2px;
            content: '';
            border-radius: 50%;
            background: $brandPrimary;
        }
    }

    &__box {
        margin-bottom: 12px;
        text-align: center;
    }

    &__time {
        font-size: $fontSizeH4;
        font-weight: 700;
    }

    &__description {
        font-size: $fontSizeBase;
        font-style: italic;
        line-height: (24px / $fontSizeH4);
        color: $grayDark;
    }

    &__color {
        &--success {
            color: $brandPrimary;
        }

        &--danger {
            color: $brandDanger;
        }
    }

    @media (min-width: $screenXsMin) {
        &__title {
            font-size: $fontSizeH2;
        }

        &__time {
            font-size: $fontSizeH3;
        }

        &__description {
            font-size: $fontSizeH4;
        }

        &__box {
            float: left;
            width: 50%;
            margin-bottom: 12px;
            text-align: center;
        }
    }

    @media (max-width: $screenSmMax) {
        &__item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: $screenMdMin) {
        &__item {
            float: left;
            width: 50%;
        }
    }
}
