.device-bottom {
    width: 100%;
    min-height: 1px;
    margin-top: 40px;

    &__menu {
        position: fixed;
        z-index: 54;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        border: 1px solid $grayLight;
        background: $base;
        box-shadow: 0 -2px 2px rgba(0,0,0, .2);

        @include clearfix;
    }

    &__item {
        float: left;
        width: 50%;
        height: inherit;
        text-align: center;
        border-right: 1px solid $grayLight;
        margin: 0 0 0 auto !important;

        &:last-child {
            border-right: none;
        }
    }

    &__link {
        font-size: $fontSizeH4;
        font-weight: 700;
        display: inline-block;
        width: 100%;
        height: inherit;
        padding-top: 9px;
        transition: all .2s ease-out;
        vertical-align: middle;
        text-decoration: none;
        color: $gray;

        &:hover {
            color: $brandPrimary;
        }
    }

    &__title {
        font-size: $fontSizeH4;
        font-weight: 700;
        text-decoration: none;
        color: $gray;
    }

    &__select {
        top: -17px;
    }

    @media (min-width: $screenMdMin) {
        display: none;
    }
}
