.filter {
    &__link {
        font-size: $fontSizeBase;
        position: relative;
        display: block;
        margin-top: -1px;
        padding: 10px 10px 10px 20px;
        transition: all .2s ease-out;
        text-decoration: none;
        color: $gray;
        border: 1px solid $grayLight;

        &:hover {
            color: $brandPrimary;
            background: $filterItemBg;
        }

        &--active {
            color: $base!important;
            background: $brandPrimary!important;
        }
    }
}
