.goods-day {
    margin-bottom: 27px;
    padding: 10px 10px 80px 10px;
    text-align: center;
    background: $grayLighter;

    &__picture {
        position: relative;
        display: block;
        margin-bottom: 2px;
        padding-bottom: 8px;
    }

    &__link {
        position: relative;
        display: inline-block;
    }

    &__image {
        margin-top: 20px;
    }

    .calendar {
        bottom: 0;
    }

    &__data {
        position: relative;
        top: -5px;
        min-height: 75px;
    }

    &__title {
        font-size: $fontSizeH4;
        font-weight: 700;
        line-height: (21px / $fontSizeH4);
        margin: 0 -1px;
        text-transform: uppercase;
        color: $gray;
    }

    &__description {
        font-size: $fontSizeBase;
        color: $grayDark;
    }

    &__price {
        font-size: $fontSizeH4;
        position: relative;
        margin-top: 12px;
        padding-top: 10px;
        color: $gray;

        &:before {
            position: absolute;
            top: 0;
            left: 50%;
            width: 41px;
            height: 1px;
            margin-left: -20px;
            content: '';
            background: $grayLight;
        }

        &:after {
            position: absolute;
            top: -2px;
            left: 50%;
            width: 5px;
            height: 5px;
            margin-left: -3px;
            content: '';
            border-radius: 50%;
            background: $grayLight;
        }
    }
}
