.infobox {
    position: fixed;
    z-index: 52;
    bottom: 10px;
    max-width: 200px;
    width: 100%;
    //right: 15px;
    left: 15px;
    //padding: 18px 21px;
    //padding: 0 21px 0 0;
    transition: all 0.2s ease-out;
    background: #99ca46;
    border-radius: 0 18px 0 18px;
    padding: 4px;
    //border: 1px solid #e5e5e5;
    margin-left: 21px;
    //box-shadow: 0 0 6px rgba(255,255,255, 0.5);

    &__close {
        position: absolute;
        z-index: 1;
        top: 0;
        //right: -6px;
        //right: -30px;
        left: -30px;
        width: 24px;
        height: 24px;
        text-decoration: none;
        border: 1px solid #99ca46;
        border-radius: 50%;
        background: #99ca46;
        transition: all 0.2s ease-out;
        cursor: pointer;
        //box-shadow: 0 0 6px rgba(255,255,255, 0.5);

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            right: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            background: url('../images/content/icon/infoboxclose.png') 50px 50px no-repeat;
            transition: opacity 0.2s ease-out;
            transform: translate(-50%, -50%) scale(0.8);
        }

        &:before {
            background-position: -32px 0;
            opacity: 1;
        }

        &:after {
            background-position: -16px 0;
            opacity: 0;
        }

        &:hover {
            //background: transparent;
            background: $base;
            border-color: #99ca46;

            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    &__picture {
        display: block;
        text-decoration: none;
        //border-radius: 0 18px 0 18px;
        border-radius: 18px;
        overflow: hidden;
        //border: 1px solid #e5e5e5;
    }

    &__image {
        min-width: 100%;
        width: 100%;
        display: block;
        height: auto;
    }

    @media (min-width: 600px) {
        max-width: 333px;
    }

    @media (min-width: 1024px) {
        max-width: 394px;
        right: 38px;
        left: auto;

        margin-right: 21px;
        margin-left: 0;

        &__close {
            right: -30px;
            left: auto;
        }
    }



}
