.mailing {
    width: 100%;
    margin-bottom: 30px;

    label {
        display: flex;
        align-items: center;
        font-family: $fontFamilySansSerif;
        font-size: $fontSizeLarge;
        font-weight: 700;
        color: $gray;

        input {
            order: -1;
        }
    }

    &__box {
        margin-bottom: 35px;

        span,
        a,
        p {
            padding-left: 31px;
            font-family: $fontFamilySansSerif;
            font-size: $fontSizeH4;
            color: $grayMiddle;
            display: block;
        }
    }

    .catalog {
        &__button {
            margin: 0;
        }
    }
}
