.message {
    &__text {
        font-size: $fontSizeLarge;
        padding: 25px 0;
        transition: all .2s ease-out;
        text-align: center;
    }

    @media (max-width: 420px) {
        &__text {
            font-size: $fontSizeH5;
            padding: 15px 0;
        }
    }
}
