.product {
    margin-top: 25px;

    @include clearfix;

    &__picture {
        &-link {
            display: inline-block;
            text-decoration: none;
            outline: none;
        }
    }

    &__slider {
        position: relative;
        z-index: 1;
        width: 270px;
        margin: auto;
        margin-bottom: 20px;
        display: block;
        vertical-align: top;
        //margin-right: -274px;

        .bx-wrapper {
            border: 2px solid $brandPrimary;
        }
    }

    &__slider-list {
        overflow: hidden;
        margin: 20px -8px;
    }

    &__slider-item {
        float: left;
        width: 33.333334%;
        padding: 0 8px;
    }

    &__slider-image {
        min-width: 100%;
        border: 1px solid $grayLight;
    }

    &__data {
        position: relative;
        width: 100%;
        display: inline-block;
    }

    &__title {
        font-size: $fontSizeH2;
        font-weight: 700;
        line-height: 1;
        margin-top: -4px;
        text-align: center;
        color: $gray;
    }

    &__code {
        text-align: center;
        color: $lightText;

        span {
            padding-left: 5px;
        }
    }

    &__info {
        position: relative;
        margin-top: 25px;
        margin-bottom: 20px;
        border-top: 1px solid $grayLight;
        border-bottom: 1px solid $grayLight;
        min-height: 49px;
        text-align: center;
        padding: 10px 0;
        transition: all 0.2s ease-out;

        .rating {
            margin-bottom: 10px;
            vertical-align: middle;
        }

        .vote-wrap {
            display: inline-block;
            vertical-align: middle;
            margin-left: -5px;
        }

        .vote-block {
            height: 18px;
            width: 135px;
        }

        .vote-result {
            margin-top: 0;
            margin-left: 0;
            padding-left: 145px;
            white-space: nowrap;
        }
    }

    &__order-info {
        min-height: 47px;
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        white-space: nowrap;

        .calendar {
            position: static;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
        }

        &-text {
            font-size: $fontSizeBase;
            font-weight: 700;
            line-height: (21px / $fontSizeBase);
            position: relative;
            display: inline-block;
            width: 153px;
            min-height: inherit;
            padding-left: 12px;
            vertical-align: middle;
            color: $gray;
            border: 1px solid $brandPrimary;
            background: $base;
            text-align: left;
            white-space: normal;

            &:before {
                position: absolute;
                z-index: -1;
                top: 50%;
                left: -4px;
                width: 14px;
                height: 14px;
                margin-top: -7px;
                content: '';
                transform: rotate(45deg);
                border: 1px solid $brandPrimary;
                background: $base;
            }
        }
    }

    &__order {
        overflow: hidden;
    }

    &__order-item {
        text-align: center;

        &-title {
            font-size: $fontSizeBase;
            margin-bottom: 10px;
            color: $lightText;
        }

        &-old {
            font-size: $fontSizeBase;
            font-weight: 700;
            position: relative;
            display: inline-block;
            color: $priceOld;

            &:before {
                position: absolute;
                top: 50%;
                right: -1px;
                left: -1px;
                height: 1px;
                margin-top: -1px;
                content: '';
                background: $priceOld;
            }
        }

        &-sum {
            font-weight: bold;
            margin-top: 20px;
        }

        &-price {
            margin-top: -4px;
        }

        &-number {
            font-size: $fontSizeH3;
            font-weight: 700;
            display: inline-block;
            color: $brandPrimary;
        }

        &-postfix {
            font-size: $fontSizeH4;
            font-weight: 700;
            display: inline-block;
            color: $brandPrimary;
        }

        &-btn {
            width: 100%;
            min-width: 110px;
            max-width: 180px;
            margin-top: 25px!important;
            padding: 0!important;
            text-align: center;
        }

        &-quantity {
            margin-bottom: 15px;

            .quantity {
                position: relative;
                top: 5px;

                &-output {
                    font-size: $fontSizeBase;
                }

                &-arrow {
                    margin: 0 5px;
                }
            }
        }
    }

    &__feature {
        margin-top: 27px;
        color: $lightText;

        @include clearfix;
    }

    &__feature-title {
        font-size: $fontSizeH4;
        font-weight: 700;
        line-height: (21px / $fontSizeH4);
    }

    &__feature-field {
        font-size: $fontSizeBase;
        line-height: (21px / $fontSizeBase);
        float: left;
        width: 100%;
        margin-top: 7px;
        border-bottom: 1px dotted transparent;
    }

    &__feature-name {
        position: relative;
        bottom: -4px;
        padding-bottom: 2px;
        background: $base;
    }

    &__feature-value {
        font-weight: 700;
        position: relative;
        bottom: -4px;
        margin-left: 20px;
        padding-bottom: 2px;
        background: $base;
    }

    @media (min-width: 500px) {
        &__info {
            display: table;
            width: 100%;
            text-align: left;
            padding: 0;

            .rating {
                display: table-cell;
                text-align: left;
                margin-bottom: 0;
            }
        }

        &__order-info {
            display: table-cell;
        }
    }


    @media (min-width: $screenMdMin) and (max-width: 1100px) {
        &__order {
            &-info {
                &-text {
                    font-size: $fontSizeSmall;
                    width: 126px;
                    padding-top: 4px;
                    padding-left: 7px;
                }
            }
        }
    }

    @media (min-width: $screenXsMin) {
        &__data {
            &-title {
                margin-right: 120px;
            }
        }

        &__code {
            position: absolute;
            top: 8px;
            right: 0;
        }

        &__title,
        &__code {
            text-align: left;
        }

        &__order {
            text-align: justify;

            &:after {
                display: inline-block;
                width: 100%;
                height: 0;
                content: '';
            }

            &-item {
                display: inline-block;
                vertical-align: top;
            }
        }

        &__feature-field {
            border-color: $lightText;
        }

        &__feature-name {
            float: left;
        }

        &__feature-value {
            float: right;
            margin-left: 0;
        }
    }

    @media (min-width: $screenSmMin) {
        &__slider {
            //float: left;
            //margin: 0;
            margin: auto -274px auto auto;
            display: inline-block;
            vertical-align: top;
        }

        &__data {
            padding-left: 300px;
        }
    }

    @media (min-width: $screenMdMin) {
        /*&__order {
            &-info {
                top: 59px;
            }
        }*/

        &__title {
            font-size: $fontSizeH1;
        }

        &__feature-title {
            font-size: $fontSizeLarge;
            line-height: (21px / $fontSizeLarge);
        }

        &__feature-field {
            font-size: $fontSizeBase;
            line-height: (21px / $fontSizeBase);
        }
    }

    @media (min-width: 1100px) {
        &__order {
            &-info {
                .calendar {
                    margin-right: 21px;
                }
            }

            &-item {
                &-title {
                    font-size: $fontSizeH4;
                }

                &-old {
                    font-size: $fontSizeH4;
                }

                &-number {
                    font-size: $fontSizeH6;
                }

                &-postfix {
                    font-size: $fontSizeH3;
                }
            }
        }
    }
}

.tabs {
    margin-top: 30px;

    &__btn {
        font-size: $fontSizeBase;
        font-weight: 700;
        display: inline-block;
        margin-right: 7px;
        padding: 14px 18px;
        cursor: pointer;
        transition: all .2s ease-out;
        text-decoration: none;
        text-transform: uppercase;
        color: $gray;
        border: 1px solid $grayLight;

        &:hover,
        &--active {
            color: $base;
            border: 1px solid $brandPrimary;
            background: $brandPrimary;
        }
    }

    &__save {
        text-align: right;
    }

    &__link {
        font-size: $fontSizeH4;
        display: inline-block;
        text-decoration: none;
        color: $brandPrimary;
        border-bottom: 1px dashed $brandPrimary;

        &:hover {
            border-color: transparent;
        }
    }

    @media (max-width: $screenMbMax) {
        &__btn {
            margin-bottom: 6px;
            padding: 8px 9px;
        }
    }
}
