.profile-menu {
    border: 1px solid $grayLight;
    //background: $grayLighter;

    &__item {
        margin-left: -1px;
        padding: 0 20px;
        cursor: pointer;
        transition: all .2s ease-out;
        border-left: 2px solid transparent;

        &:last-child {
            .account-menu {
                &__link {
                    border-color: transparent;
                }
            }
        }

        &--active,
        &:hover {
            border-color: $brandPrimary;
            background: rgba(150, 201, 61, 0.05);

            .profile-menu {

                &__link {

                    .profile-menu{

                        &__image {

                            img {
                                filter: invert(84%) sepia(34%) saturate(818%) hue-rotate(27deg) brightness(85%) contrast(90%);
                            }
                        }

                        &__name {
                            color: $brandPrimary;
                        }
                    }
                }
            }
        }
    }

    &__link {
        font-size: $fontSizeBase;
        line-height: 1;
        position: relative;
        display: flex;
        padding: 17px 0 16px;
        transition: all .2s ease-out;
        text-decoration: none;
        color: $gray;
        //border-bottom: 1px solid $grayLight;
        align-items: center;
    }

    &__image {
        margin-right: 14px;
    }

    &__name {
        font-size: $fontSizeBase;
        color: $gray;
    }

    @media (min-width: $screenMdMin) {
        &__link {
            font-size: $fontSizeH4;
        }
    }
}
