.reviews-box {
    padding-top: 15px;

    &__item {
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__picture {
        width: 70px;
        display: inline-block;
        vertical-align: top;
        margin-right: -74px;
        position: relative;
        z-index: 1;
    }
    &__image {

    }
    &__data {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        padding-left: 90px;
        position: relative;
    }
    &__title {
        font-size: 16px;
        line-height: (21px / 16px);
        color: #534746;
    }


    &__info {
        position: absolute;
        right: 0;
        top: 0;
    }
    &__ratio {
        display: inline-block;
    }
    &__date {
        display: inline-block;
        font-size: 14px;
        line-height: (21px / 14px);
        color: #534746;
        font-style: italic;
    }

    &__like {
        display: inline-block;
    }
    &__dislike {
        display: inline-block;
    }


    &__text {
        font-size: 14px;
        line-height: (21px / 14px);
        color: #999999;
    }
    &__link {
        font-size: 14px;
        line-height: 1;
        color: #534746;
        display: inline-block;
        font-family: $fontFamilySansSerif;

        text-decoration: none;
        border-bottom: 1px dashed #534746;
        //transition: all 0.2s ease-out;

        &:hover {
            border-bottom-color: transparent;
        }
    }
}
