.sitemap-menu {
    margin-top: 23px;

    &__item {
        padding: 6px 0 5px;
    }

    &__link {
        font-size: $fontSizeH4;
        font-weight: bold;
        line-height: (24px / $fontSizeH4);
        text-decoration: none;
        text-transform: uppercase;
        color: $brandPrimary;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (min-width: $screenMdMin) {
        &__link {
            font-size: $fontSizeLarge;
            line-height: (24px / $fontSizeLarge);
        }
    }
}
