.sitemap {
    margin: 12px 0 50px;

    &__title {
        font-size: $fontSizeH4;
        line-height: (21px / $fontSizeH4);
        margin: 19px 0 11px;
        text-transform: uppercase;

        &-link {
            text-decoration: none;
            color: $brandPrimary;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__subitem {
        font-size: $fontSizeBase;
        line-height: (21px / $fontSizeBase);
        margin-top: 10px;

        &-link {
            text-decoration: none;
            color: $brandPrimary;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__item {
        padding: 5px 0 0;
    }

    &__link {
        font-size: $fontSizeBase;
        line-height: (21px / $fontSizeBase);
        color: $gray;

        &:hover {
            text-decoration: none;
        }
    }

    @media (min-width: $screenXsMin) {
        @include clearfix;

        &__box {
            float: left;
            width: 50%;
            padding-left: 30px;

            &:nth-child(2n+1) {
                clear: both;
            }
        }
    }

    @media (min-width: $screenMdMin) {
        &__box {
            width: 33.333334%;

            &:nth-child(2n+1) {
                clear: none;
            }

            &:nth-child(3n+1) {
                clear: both;
            }
        }

        &__title {
            font-size: $fontSizeLarge;
            line-height: (21px / $fontSizeLarge);
        }
    }
}
