.smsBlock-rate,
.smsBlock-improve,
.smsBlock-youAlready,
.smsBlock-thank {
    text-align: center;
    max-width: 320px;
    margin: 0 auto;

    &__logo {
        margin: 40px auto;
    }

    &__title {
        margin: 0 auto;
        font-size: 28px;
        font-family: $fontFamilyNatilus;
        color: $gray;
        line-height: 0.929;
        text-align: center;
        margin-bottom: 34px;
    }

    &__forms {
        background-color: $grayLighter;
        text-align: center;
        margin: 0 24px;

        &-title {
            font-size: 18px;
            font-family: $fontFamilySansSerif;
            color: $gray;
            font-weight: bold;
            padding: 16px 0 13px;
        }

        &-next {
            text-align: center;
            margin: 5px 20px 0;
            padding-bottom: 20px;
        }

        &-button {
            border-style: solid;
            border-width: 1px;
            border-color: $brandPrimary;
            background-color: $brandPrimary;
            height: 38px;
            outline: 0;
            font-size: 16px;
            font-family: $fontFamilySansSerif;
            color: $base;
            line-height: 34px;
            text-align: center;
            width: 100%;
            cursor: pointer;
        }

        ul {
            margin: 0 20px;

            li {

                a {
                    border: 1px solid $brandPrimary;
                    background-color: $grayLighter;
                    width: 100%;
                    height: 38px;
                    font-size: 16px;
                    color: $gray;
                    text-decoration: none;
                    display: block;
                    margin: 0 auto 10px;
                    line-height: 36px;

                    &:hover {
                        transition: all .2s;
                        background-color: $brandPrimary;
                        color: $base;
                    }
                }
            }
        }
    }
}
