.user-aside {
    border: 1px solid $grayLight;
    padding: 22px 10px 22px 23px;
    border-bottom: 0;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__img {
        margin-right: 16px;

        img {
            border-radius: 50%;
            max-width: none;
        }
    }

    &__info {

        &-name {
            font-weight: bold;
            font-size: $fontSizeBase;
            line-height: 21px;
            color: $gray;
            margin-bottom: 5px;
        }

        &-email {
            font-size: $fontSizeBase;
            color: $gray;
        }
    }
}
