include vars/_variable.pug

= '\n'
//= Category menu =
.categoryMenu
    ul.categoryMenu__list
        each val in categoryMenu
            if ('active' in val && val.active)
                li.categoryMenu__item.categoryMenu__item--active
                    a.categoryMenu__link(href='javascript:void(0);')= val.title
            else
                li.categoryMenu__item
                    a.categoryMenu__link(href='#')= val.title
//= End category menu =
= '\n'
