@import 'vars/_variable.scss';

.categoryMenu {
    position: relative;
    width: 295px;
    border: 1px solid $categoryMenu__borderColor;

    &__list {
        position: relative;
    }

    &__item {
        position: relative;

        &--active {
            .categoryMenu {
                &__link {
                    color: inherit;
                    background: $categoryMenu__backgroundColor--active;
                }
            }
        }
    }

    &__link {
        line-height: (40px / $category__baseFontSize);
        position: relative;
        display: block;
        padding: 0 20px;
        transition: all .2s linear;
        text-decoration: none;
        color: $categoryMenu__textColor;

        &:hover {
            color: inherit;
        }
    }
}
