//- SUBSCRIBE
//------------------------------------------------

$subscribe__textFontSize:           $fontSizeSmall !default;
$subscribe__textColor:              $gray !default;

$subsctibe__formTextFontSize:       $fontSizeSmall !default;
$subsctibe__formTextColor:          $base !default;
$subsctibe__formbgColor:            #efc0da !default;
$subsctibe__formButtonBgColor:      #e6a3c8 !default;
$subsctibe__formPlaceholderColor:   $base !default;

