//- ORDER
//------------------------------------------------

$order__backgroundColor:            #feffce !default;

$order__titleTextFontSize:          $fontSizeLarge !default;
$order__titleTextColor:             $brandPrimary !default;

$order__titleCountTextFontSize:     $fontSizeH5 !default;
$order__titleCountTextColor:        $grayDark !default;
$order__titleCountBorderColor:      $brandPrimary !default;
$order__titleCountBackgroundColor:  $base !default;

$order__requiredTextFontSize:       $fontSizeSmall !default;
$order__requiredTextColor:          $grayLighter !default;

$order__buttonTextFontSize:         $fontSizeH4 !default;
