//- ORDER
//------------------------------------------------

-
    orderFormContacts = [
        {
            title: 'Введите Ваше ФИО',
            placeholder: 'Николай',
            require: true
        },
        {
            title: 'Введите Ваш телефон',
            placeholder: '+38 (___) ___-__-__'
        },
        {
            title: 'Введите Ваш email',
            placeholder: 'testpatifon@gmail.com'
        }
    ]

    orderFormPay = [
        {
            title: 'Выберите способ доставки',
            radio: [
                {
                    checked: true,
                    text: 'Новой почтой',
                    name: 'delivery'
                },
                {
                    text: 'Самовывоз',
                    name: 'delivery'
                },
                {
                    text: 'Курьер',
                    name: 'delivery'
                }
            ]
        },
        {
            select: true,
            tabs: true,
            active: true,
            title: 'Пункты выдачи',
            placeholder: 'г. Ровно, ул. Киевская, 21'
        },
        {
            tabs: true,
            text: 'г. Ровно, ул. Киевская, 21'
        },
        {
            tabs: true,
            title: 'Введите адрес доставки',
            placeholder: 'г. Ровно, ул. Киевская, 21'
        },
        {
            title: 'Выберите способ оплаты',
            radio: [
                {
                    checked: true,
                    text: 'Наложеный платеж',
                    name: 'pay'
                },
                {
                    text: 'Предоплата',
                    name: 'pay'
                }
            ]
        },
        {
            textarea: true,
            title: 'Комментарий',
            placeholder: 'Комментарий к заказу'
        }
    ]
