@import 'vars/_variable.scss';

.comparison {
    position: relative;
    transition: all .2s linear;

    @include clearfix;

    &--block {
        opacity: 0;

        &.loaded {
            opacity: 1;
        }
    }

    &__clear {
        line-height: (34px / $comparison__baseFontSize);
        position: relative;
        top: 2px;
        display: block;
        margin-top: 10px;
        padding: 0 10px 1px;
        transition: all .2s linear;
        text-decoration: none;
        color: inherit;
        border: 1px solid $comparison__borderColor;
        border-radius: (36px / 2);

        &:hover {
            background: $comparison__clearBackgroundColor--active;
        }
    }

    &__side {
        position: absolute;
        padding: 183px 0 0;

        .comparison {
            &__content {
                border: 1px solid $comparison__borderColor;
                border-radius: 0 10px 10px 0;
                box-shadow: 0 0 20px $comparison__shadowColor;
            }
        }
    }

    &__container {
        position: relative;
        padding: 215px 0 0;

        &Inner {
            position: relative;
            border: 1px solid $comparison__borderColor;
        }
    }

    &__owlCarousel {
        position: relative;
        margin: -215px 0 0;

        .owl-nav {

            .owl {
                &-prev,
                &-next {
                    position: fixed;
                }

                &-prev {
                    left: 0;
                }

                &-next {
                    right: 0;
                }
            }
        }
    }

    &__col {
        position: relative;
        padding: 15px 0 0;
    }

    &__tabs {
        font-weight: 700;
        line-height: (32px / $comparison__baseFontSize);
        position: relative;
        z-index: 1;

        &List {
            position: relative;

            @include clearfix;
        }

        &Item {
            position: relative;
            float: left;
            background: $comparison__baseBackgroundColor;

            &--active {
                .comparison {
                    &__tabs {
                        &Link {
                            &:before {
                                right: -1px;
                                left: -1px;
                            }
                        }
                    }
                }
            }

            &:first-child {
                .comparison {
                    &__tabs {
                        &Link {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        &Link {
            position: relative;
            display: block;
            margin-left: -1px;
            text-decoration: none;
            color: inherit;
            border: 1px solid $comparison__borderColor;
            border-radius: 6px 6px 0 0;

            &:before {
                position: absolute;
                top: -1px;
                right: 50%;
                left: 50%;
                display: block;
                height: 3px;
                content: '';
                transition: all .2s linear;
                border-radius: 6px 6px 0 0;
                background: $comparison__borderColor--active;
            }

            &:hover {
                &:before {
                    right: -1px;
                    left: -1px;
                }
            }
        }
    }

    &__product {
        position: relative;
        height: 149px;
        padding: 10px 9px 0 10px;
        margin: 0 0 52px;

        @include clearfix;

        &Top {
            position: relative;
            overflow: hidden;
            height: 53px;
            margin: 0 0 5px;
            padding: 0 0 0 55px;
        }

        &Image {
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 50px;
            height: 50px;
            text-align: center;

            &:before {
                position: relative;
                display: inline-block;
                width: 0;
                height: 100%;
                content: '';
                vertical-align: middle;
            }

            img {
                font-size: $comparison__baseFontSize;
                max-height: 100%;
            }
        }

        &Title {
            position: relative;
            max-width: 150px;
            top: -4px;
            margin: 0 0 0 -4px;

            &Link {
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &Price {
            font-size: $comparison__priceTextFontSize;
            font-weight: 700;
            position: relative;
            margin-bottom: 10px;
        }

        &Menu {
            position: relative;

            &List {
                position: relative;

                @include clearfix;
            }

            &Item {
                position: relative;
                float: left;
                padding: 0 10px;
                border-right: 1px solid $comparison__borderColor;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                    border-right: none;
                }
            }

            &Link {
                position: relative;
                display: block;
                height: 25px;

                &:before,
                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    transition: all .2s linear;
                    background: url('../images/content/icon/comparison__menu.png') no-repeat;
                }

                &:after {
                    opacity: 0;
                }

                &:hover {
                    &:before {
                        opacity: 0;
                    }

                    &:after {
                        opacity: 1;
                    }
                }

                &--myFavorites {
                    width: 26px;

                    &:before {
                        background-position: 0 0;
                    }

                    &:after {
                        background-position: 0 -26px;
                    }
                }

                &--buy {
                    width: 24px;

                    &:before {
                        background-position: -27px 0;
                    }

                    &:after {
                        background-position: -27px -26px;
                    }
                }
            }
        }

        &Remove {
            position: absolute;
            top: -15px;
            right: 9px;
            display: block;
            width: 16px;
            height: 16px;
            content: '';

            &:before,
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                transition: all .2s linear;
                background: url('../images/content/icon/comparison--remove.png') no-repeat;
            }

            &:after {
                opacity: 0;
                background-position: 0 -17px;
            }

            &:hover {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }

    &__content {
        position: relative;
        top: -1px;
        overflow: hidden;
        margin: 0 0 -1px;
    }

    &__list {
        position: relative;

        &--hide {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 0 0 10px 10px;
            overflow: hidden;

            .comparison {
                &__item {
                    min-height: 41px;

                    &:nth-child(2n+1) {
                        background: $comparison__backgroundColor;

                        .comparison {
                            &__title {
                                background: $comparison__backgroundColor;
                            }
                        }
                    }

                    &:nth-child(2n+2) {
                        .comparison {
                            &__title {
                                background: $comparison__baseBackgroundColor;
                            }
                        }
                    }
                }

                &__title {
                    font-weight: 700;
                    position: absolute;
                    z-index: 2;
                    top: -1px;
                    right: 0;
                    left: 0;
                    height: 26px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    text-align: center;
                    border-top: 1px solid $comparison__borderColor;
                    border-bottom: 1px solid $comparison__borderColor;
                }
            }
        }
    }

    &__item {
        font-size: 0;
        position: relative;
        padding: 10px 9px 10px 10px;

        &:before {
            position: relative;
            display: inline-block;
            width: 0;
            height: 100%;
            content: '';
            vertical-align: middle;
        }
    }

    &__title {
        font-size: ($comparison__baseFontSize - 2px);
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .owl {
        &-carousel {
            z-index: auto;
        }

        &-item {
            &.active {
                .comparison {
                    &__product {
                        border-right: 1px solid $comparison__borderColor;
                    }

                    &__list {
                        border-right: 1px solid $comparison__borderColor;
                    }
                }
            }
        }

        &-prev,
        &-next {
            z-index: 2;
            margin-top: 67px;
        }

        &-prev {
            left: -20px;
        }

        &-next {
            right: -20px;
        }
    }

    @media (max-width: 359px) {
        &__side {
            right: 0;
        }

        &__tabs {
            &Item {
                width: 50%;
            }

            &Link {
                text-align: center;
            }
        }

        &__product {
            &Title {
                font-size: 12px;
            }
        }

        &__item {
            padding-top: 35px;
        }
    }

    @media (min-width: 360px) {
        &__tabs {
            &Link {
                padding: 0 15px;
            }
        }

        &__product {
            &Top {
                height: 62px;
            }

            &Title {
                top: -6px;
                margin-bottom: -6px;
            }
        }

        &__list {
            &--hide {
                .comparison {
                    &__title {
                        height: 29px;
                    }
                }
            }
        }

        &__title {
            font-size: $comparison__baseFontSize;
        }

        @media (max-width: $screenSmMax) {
            &__item {
                padding-top: 38px;
            }
        }
    }

    @media (max-width: 419px) {
        &__product {
            &Menu {
                margin-top: 10px;
            }
        }
    }

    @media (min-width: 420px) {
        &__side {
            padding-top: 143px;
        }

        &__container {
            padding-top: 175px;
        }

        &__owlCarousel {
            margin-top: -175px;
        }

        &__product {
            height: 109px;

            &Price {
                float: left;
            }

            &Menu {
                float: right;
            }
        }
    }

    @media (min-width: $screenXsMin) {
        &__product {
            padding-right: 19px;
            padding-left: 20px;

            &Top {
                padding-left: 60px;
            }

            &Remove {
                right: 19px;
            }
        }

        &__item {
            padding-right: 19px;
            padding-left: 20px;
        }
    }

    @media (max-width: 719px) {
        .owl {
            &-item {
                &.active {
                    + .active {
                        .comparison {
                            &__product {
                                border-right: none;
                            }

                            &__list {
                                border-right: none;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 720px) {
        @media (max-width: 959px) {
            .owl {
                &-item {
                    &.active {
                        + .active {
                            + .active {
                                .comparison {
                                    &__product {
                                        border-right: none;
                                    }

                                    &__list {
                                        border-right: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 960px) {
        @media (max-width: $screenSmMax) {
            .owl {
                &-item {
                    &.active {
                        + .active {
                            + .active {
                                + .active {
                                    .comparison {
                                        &__product {
                                            border-right: none;
                                        }

                                        &__list {
                                            border-right: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screenSmMax) {
        &__clear {
            float: right;
        }

        &__side {
            top: 0;
            left: 0;
        }

        &__tabs {
            z-index: 2;
        }
    }

    @media (min-width: $screenMdMin) {
        &__side {
            position: relative;
            z-index: 1;
            float: left;
            width: 304px;
            padding-top: 123px;
        }

        &__container {
            padding-top: 155px;

            &Inner {
                padding: 0 0 0 324px;
            }
        }

        &__owlCarousel {
            margin-top: -155px;
    
            .owl-nav {
    
                .owl {
                    &-prev,
                    &-next {
                        position: absolute;
                    }
    
                    &-prev {
                        left: -20px;
                    }
    
                    &-next {
                        right: -20px;
                    }
                }
            }
        }

        &__product {
            margin-bottom: 32px;
        }

        .owl {
            &-prev,
            &-next {
                margin-top: 57px;
            }

            &-prev {
                left: -43px;
            }
        }

        @media (max-width: $screenMdMax) {
            .owl {
                &-item {
                    &.active {
                        + .active {
                            + .active {
                                .comparison {
                                    &__product {
                                        border-right: none;
                                    }

                                    &__list {
                                        border-right: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screenLgMin) {
        .owl {
            &-item {
                &.active {
                    + .active {
                        + .active {
                            + .active {
                                .comparison {
                                    &__product {
                                        border-right: none;
                                    }

                                    &__list {
                                        border-right: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screenXlMin) {
        &__side {
            width: 350px;
        }

        &__container {
            &Inner {
                padding-left: 370px;
            }
        }
    }
}
