@import 'vars/_variable.scss';

.section {
    position: relative;
    margin: 0 0 30px;

    &__title {
        font-size: ($section__titleFontSize - 6px);
        position: relative;
        margin: 0 0 14px;
        text-transform: uppercase;
        text-align: center;
        color: $section__titleColor;
    }

    &__link {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (min-width: $screenXsMin) {

        margin-bottom: 60px;

        &__title {
            font-size: $section__titleFontSize;
            margin-bottom: 28px;
        }

    }
}
