.button {
    border: 2px solid $brandPrimary;
    outline: none;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    background: $base;
    transition: all 0.2s ease-out;
    width: 100%;
    max-width: 130px;
    border-radius: 4px;
    position: relative;
    font-size: 10px;
    height: 62px;
    line-height: (58px / 10px);
    text-transform: uppercase;

    &:hover {
        background: $brandPrimary;
        color: $base;
    }

    @media (min-width: 600px) {
        font-size: $fontSizeH8;
        height: 62px;
        line-height: (58px / $fontSizeH8);
        max-width: 200px;
    }
}
