//- MENU
//------------------------------------------------

$menu__baseFontSize:            $fontSizeBase !default;

$menu__textColor--active:       #0f61a7 !default;
$menu__borderColor:             #e4e4e4 !default;

$menu__countTextFontSize:       $fontSizeSmall !default;
$menu__countTextColor:          $grayDark !default;
$menu__countBackgroundColor:    $brandPrimary !default;
