//- MENU
//------------------------------------------------

-
    menu = [
        {
            image: 'comparison',
            count: '10',
            title: 'Сравнение'
        },
        {
            image: 'myFavorites',
            title: 'Избранное'
        },
        {
            image: 'cart',
            count: '10',
            title: 'Корзина'
        }
    ]
