//- LANG
//------------------------------------------------

$lang__textFontSize:        $fontSizeH5 !default;

$lang__linkColor:           $grayDark !default; // $base !default;
$lang__greetingLinkColor:   $base !default;
$lang__linkColor--active:   $linkColor--active !default;
