//- LANG
//------------------------------------------------

-
    var lang = [
        {
            name: 'укр',
            active: true
        },
        {
            name: 'рус'
        }
    ]
