= '\n'
//= Contacts =

.contacts
    .contacts__phones
        a(href='tel:+380982579410') +38 (098) 25-79-410
            +icon('icon-phone')
        a(href='tel:+380362432343') +38 (0362) 43-23-43
            +icon('icon-phone')
    .contacts__mail
        a(href='mailto:dimvodu2017@gmail.com') dimvodu2017@gmail.com
            +icon('icon-mail')
    .contacts__address Україна, 35331, Рівненська область, Рівненський район, с. Городок, вул. Барона Штейнгеля, 3а
        +icon('icon-pointer')


//= End contacts =
= '\n'