= '\n'
//= Cookies =

.cookies.--hide
    a.cookies__close(href="javascript:void(0)")
    .cookies__wrapper
        h2 cookie
        p
            |Цей веб-сайт використовує файли cookie, щоб покращити роботу користувачів.
        .cookies__link
            a.cookies__link-item.submit(href='javascript:void(0);')
                |Зрозуміло
    .cookies__image
//= End cookies =
= '\n'
