= '\n'
//= dummy =
//- (source/assets/css/module/_dummy.scss)
.dummy
    .dummy__text
        h1 Каталог постачальників води в #[a.modaal-inline(href='#search') Рівному]
        a.button.button--bright(href="catalog.html") переглянути

//= End dummy =
= '\n'
