= '\n'
//= filter-button =

//- (source/assets/css/module/_filter-button.scss)
a.filter-button.call-aside(href='javascript:void(0);' data-trigger='filter')
    +icon('icon-filter-button')

//= End filter-button =
= '\n'
