= '\n'
//= Filter =

.filter.form.perfect-scroll#filter
    .filter__wrapper
        .filter__container
            a.filter__close.close-aside(href='javascript:void(0);')
                +icon('icon-close')
            include _logo.pug
            label.filter__switch
                input#togBtn(type='checkbox')
                div
                    span Для дому
                    span Для офісу
            each item, i in filterListItems

                .filter__section(class= (i > 0) ? 'minimized' : '')
                    .filter__section-title!= item.title
                        a.filter__section-arrow(href='javascript:void(0);' class= (i > 0) ? 'rotate' : '')
                    .filter__section-block.appearance
                        each elem in item.list
                            - disabled = (elem.disabled) ? 'disabled' : ''
                            label(class= disabled)= elem.name
                                input(type='checkbox' checked= elem.checked disabled= elem.disabled)
                                span.filter__section-counter= elem.counter

//= End filter =
= '\n'
