= '\n'
//= Logo =

.logo
    if main
        img(src='data/logo.svg' alt='')
        span Доставка води для дому та офісу
    else
        a.logo__link(href='index.html')
            img(src='data/logo.svg' alt='')
            span Доставка води для дому та офісу

//= End logo =
= '\n'