= '\n'
//= Mobile menu =

.mobile-menu.hide-screen-l-min
    #mobile-drop.mobile-menu__drop
        .mobile-menu__wrapper
            .mobile-menu__content
                a.mobile-menu__close.close-aside(href='javascript:void(0);')
                    +icon('icon-close')
                include ../layout/_nav.pug
                span Вибір міста
                a.city.modaal-inline(href="#search") Івано-Франківськ
                    +icon('icon-pointer')
        .mobile-menu__footer
            include _logo.pug
            include _languages.pug

//= End mobile menu =
= '\n'
