= '\n'
//= News =

.news
    a.news__image(href='news-inner.html')
        img(src=`data/news/${prop.img}.jpg` alt='')
    .news__info
        .news__info-date= prop.date
        a.news__info-category(href='javascript:void(0);')= prop.category
    if prop.title
        a.news__title(href='news-inner.html')= prop.title

//= End news =
= '\n'