= '\n'
//= Page404 =

.page404
    .page404__wrapper
        include _logo.pug
        img(src=`data/404.svg` alt='')
        .page404__text
            b Ой-Ой, схоже у нас закінчилась вода!
            span Ми прикладаємо максимум зусиль для вирішення цієї проблеми.
    include ../layout/_nav.pug

//= End page404 =
= '\n'