= '\n'
//= Price =

.price
    .price__wrapper
        each prop in priceProductItems
            .price__item
                .price__item-title= prop.item
                .price__item-info= prop.info


//= End price =
= '\n'