= '\n'
//= Product =

.provider(class= details ? 'provider--details --no-image' : '')
    .provider__logo(class= (i < 1) ? 'hide' : '' class= details ? '__lift' : '')
        if details
            .provider__logo-image
                img(src='data/provider/logo1.png')
            .provider__logo-contacts
                h2 Контакти
                include _contacts.pug
        else
            a(href='details.html').provider__logo-image
                img(src='data/provider/logo1.png')

    .provider__info(class= details ? '__base' : '')
        .provider__info-wrapper
            .provider__info-rating
                include _rating.pug
                a(href='details.html#reviews') 242
                    span відгуків
            .name
                if details
                    .name__title «AQUA SOFT»
                else
                    a(href='details.html').name__title «AQUA SOFT»

                .name__address м.Рівне, Рівненська область
            .provider__info-price
                include _price.pug

            if !details
                include _contacts.pug
            if details
                .provider__info-description
                    h2 Опис
                    p ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для производства всех видов воды. Уникальное месторождение чистой питьевой воды ТМ «Эталон» глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического горизонта.
                    p На такой глубине вода защищена шарами влагоустойчивой глины и гранита, а также магнитным шаром Земли, она не участвует в круговороте воды в природе, поэтому наличие в ней промышленных и радиационных загрязнений полностью исключено.
        if details
            .provider__reviews#reviews
                a(href='#addreview').provider__reviews-add.link Додати відгук
                h2 Відгуки
                - for(let index = 0; index < 4; index++)
                    include _review.pug
                form.form#addreview(action='' method='')
                    .form-group.has-error
                        label.control-label
                        input.form-control(type='text' placeholder='Ім\'я...')
                        .help-block
                    .form-group.has-error
                        label.control-label
                        input.form-control(type='text' placeholder='Прізвище...')
                        .help-block
                    .form-group.form-group--textarea
                        label.control-label
                        textarea.form-control(type='text' placeholder='Комментар...')
                        .help-block
                    .form__buttons
                        .form-group
                            button.form-control.button.button--bright(type='submit') опублікувати
                        a.button(href='javascript:void(0);') відміна



//= End product =
= '\n'
