= '\n'
//= Review =

.review
    .review__author
        .review__author-picture
            .review__author-image.--no-image
                span W
                img(src='data/provider/logo1.png')
            .review__date 22 вер
        .review__name
            .review__rating
                include _rating.pug
            span.review__name-person Вероніка Суходольська
            span.review__name-position Директор адиміністрації
    .review__text
        p ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для производства всех видов воды. Уникальное месторождение чистой питьевой воды ТМ «Эталон» глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического горизонта.
        a(href='#addreview').review__reply.link Ответить
    if index == 0
        .review.review--answer
            .review__author
                .review__author-picture
                    .review__author-image.no-image
                        span W
                    .review__date 22 вер
                .review__name
                    span.review__name-person Вероніка Суходольська
                    span.review__name-position Директор адиміністрації
            .review__text
                p ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для производства всех видов воды.


//= End review =
= '\n'
