= '\n'
//= Sitemap =

.sitemap
    .sitemap__item
        h2 Каталог
        ul
            +nested-list(sitemapFirstListItems)
    .sitemap__item
        h2 Блог
        ul
            +nested-list(sitemapSecondListItems)
    .sitemap__item
        h2 Партнерам
        ul
            +nested-list(sitemapThirdListItems)

//= End sitemap =
= '\n'
