@import 'vars/_variable.scss';

.share-page-inner {
    position: relative;
    margin: 0 0 30px;

    @include clearfix;

    &__image {
        position: relative;
    }

    &__content {
        position: relative;
    }

    &__date {
        line-height: (30px / $sharePageInner__dateTextFontSize);
        position: relative;
        display: inline-block;
        height: 30px;
        margin: 0 0 15px;
        padding: 0 10px;
        color: $sharePageInner__dateTextColor;
        background: $sharePageInner__dateBackgroundColor;

        &-text {
            text-transform: uppercase;
        }

        &-value {
            font-size: $sharePageInner__dateTextFontSize;
        }
    }

    &__description {
        position: relative;
        top: -8px;
        margin: 0 0 1px;

        :first-child {
            margin-top: 0 !important;
        }

        :last-child {
            margin-bottom: 0 !important;
        }

        h2,
        h3,
        h4,
        h5,
        h6,
        ul,
        ol,
        li,
        p {
            margin: 10px 0;
        }

        ul,
        ol {
            margin-left: 20px;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }
    }

    &__link {
        color: $sharePageInner__linkTextColor;
    }

    .breadcrumbs {
        float: none;

        &__title {
            color: $sharePageInner__titleTextColor;
        }
    }

    @media (max-width: $screenXsMax) {

        &__image {
            margin: 0 -15px 30px;
            text-align: center;
        }

    }

    @media (min-width: $screenSmMin) {

        &__image {
            z-index: 1;
            float: left;
            width: (570 / 1170 * 100%);
            margin: 0 30px 30px 0;
        }

    }
}
