include vars/_variable.pug

//= Share page inner =
.share-page-inner
    .share-page-inner__image
        img(src='data/share/image4.jpg' alt='' style="height: 436px")

    .share-page-inner__content
        .share-page-inner__date
            span.share-page-inner__date-text Акція діє:
            span.share-page-inner__date-value з 01.10 по 31.10.2017

        .breadcrumbs
            h1.breadcrumbs__title Золота осінь разом з КЮЗ!

        .share-page-inner__description
            p Осінь - це час збору врожаю, гучних весіль  та романтичних вражень.
                br
                | Відчуй на собі Золоті обійми осені  разом з Київським ювелірним заводом!
                br
                | З 1 по 31 жовтня КЮЗ дарує знижку 20% на певну групу золотих прикрас.
                br
                | За детальною інформацією звертайтеся до продавців-консультантів.
                br
                | Чекаємо на Вас в наших магазинах!

        a.share-page-inner__link(href='#') КЮЗ
//= End share page inner =
= '\n'
