 @import 'vars/_variable.scss';

.primary-menu {
    font-weight: 300;
    position: relative;
    cursor: default;

    &__list {
        position: relative;

        @include clearfix;
    }

    &__item {
        position: relative;
    }

    &__box {
        position: relative;
    }

    &__link {
        font-size: $primaryMenu__linkFontSize;
        position: relative;
        display: block;
        padding: 10px 0;
        transition: all .2s linear .2s;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__sub {
        &list {
            font-size: $fontSizeH3;
            position: relative;
        }

        &item {
            position: relative;
        }

        &link {
            text-decoration: none;
        }
    }

    @media (max-width: $screenSmMax) {

        margin: 0 -30px 15px;
        padding: 0 30px 15px;
        border-bottom: 1px solid #e5e5e5;

        &__box {
            &--shop {
                .primary-menu {
                    &__link {
                        &:before {
                            width: 34px;
                            height: 29px;
                            background-image: url('../images/nav/icon/shop--device.png');
                        }

                        &:hover {
                            color: $primaryMenu__shopBgColor;
                        }
                    }
                }
            }

            &--food {
                .primary-menu {
                    &__link {
                        &:before {
                            background-image: url('../images/nav/icon/food--device.png');
                        }

                        &:hover {
                            color: $primaryMenu__foodBgColor;
                        }
                    }
                }
            }

            &--service {
                .primary-menu {
                    &__link {
                        &:before {
                            background-image: url('../images/nav/icon/service--device.png');
                        }

                        &:hover {
                            color: $primaryMenu__serviceBgColor;
                        }
                    }
                }
            }

            &--entertainment {
                .primary-menu {
                    &__link {
                        &:before {
                            background-image: url('../images/nav/icon/entertainment--device.png');
                        }

                        &:hover {
                            color: $primaryMenu__entertainmentBgColor;
                        }
                    }
                }
            }
        }

        &__link {
            &:before {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 30px;
                margin: 0 15px 0 0;
                content: '';
                background-repeat: no-repeat;
            }
        }

        &__sub {
            &list {
                display: none;
                margin: -15px 0 0;
            }

            &item {
                margin: 10px 0;

                &:first-child {
                    margin-top: 0 !important;
                }
            }

            &link {
                transition: all .2s linear;

                &:hover {
                    color: $primaryMenu__sublinkColor--active;
                }
            }
        }

    }

    @media (min-width: $screenMdMin) {

        &__item {
            float: left;
            width: 25%;
            height: 77px;
            transition: all .3s linear;
            will-change: transform;
        }

        &__box {
            top: 0;
            padding: 13px 0 90px;
            transition: all .2s linear .2s;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &:before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                transition: all .2s linear .2s;
            }

            &:after {
                position: absolute;
                z-index: -1;
                top: -45px;
                left: 50%;
                display: block;
                width: 90px;
                height: 90px;
                margin: 0 0 0 -45px;
                content: '';
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center 10px;
            }

            &--shop {
                background-image: url('../images/nav/bg/shop.jpg');

                &:before {
                    background: $primaryMenu__shopBgColor;
                }

                &:after {
                    background-color: $primaryMenu__shopBgColor;
                    background-image: url('../images/nav/icon/shop.png');
                }

                &:hover {
                    &:before {
                        background: $primaryMenu__shopMaskBgColor;
                    }
                }
            }

            &--food {
                background-image: url('../images/nav/bg/food.jpg');

                &:before {
                    background: $primaryMenu__foodBgColor;
                }

                &:after {
                    background-color: $primaryMenu__foodBgColor;
                    background-image: url('../images/nav/icon/food.png');
                }

                &:hover {
                    &:before {
                        background: $primaryMenu__foodMaskBgColor;
                    }
                }
            }

            &--service {
                background-image: url('../images/nav/bg/service.jpg');

                &:before {
                    background: $primaryMenu__serviceBgColor;
                }

                &:after {
                    background-color: $primaryMenu__serviceBgColor;
                    background-image: url('../images/nav/icon/service.png');
                }

                &:hover {
                    &:before {
                        background: $primaryMenu__serviceMaskBgColor;
                    }
                }
            }

            &--entertainment {
                background-image: url('../images/nav/bg/entertainment.jpg');

                &:before {
                    background: $primaryMenu__entertainmentBgColor;
                }

                &:after {
                    background-color: $primaryMenu__entertainmentBgColor;
                    background-image: url('../images/nav/icon/entertainment.png');
                }

                &:hover {
                    &:before {
                        background: $primaryMenu__entertainmentMaskBgColor;
                    }
                }
            }

            &:hover {
                .primary-menu {
                    &__link {
                        top: 0;
                    }

                    &__sub {
                        &list {
                            opacity: 1;
                            transition: all .2s linear .5s;
                        }
                    }
                }
            }
        }

        &__link {
            top: -13px;
            padding: 17px 0;
            text-align: center;
            color: $primaryMenu__linkColor;
        }

        &__sub {
            &list {
                padding: 0 (25 / 292.5 * 100%);
                opacity: 0;
                transition: all .2s linear .2s;
            }

            &link {
                color: $primaryMenu__sublinkColor;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}
