include vars/_variable.pug

= '\n'
//= Primary menu =
.primary-menu
    ul.primary-menu__list
        each val in primaryMenu
            li.primary-menu__item
                .primary-menu__box(class='primary-menu__box--' + val.class)
                    a.primary-menu__link(href='#')= val.name

                    ul.primary-menu__sublist
                        each sublist in val.sublist
                            li.primary-menu__subitem
                                a.primary-menu__sublink(href='#')= sublist
//= End primary menu =
= '\n'
