.footer {
    position: relative;
    background: $brandPrimary;

    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        padding: 30px 0 0;

        .logo {
            width: 168px;
            height: 95px;
        }
    }

    &__menu {
        padding: 20px 0 30px;

        .primary-menu__inner {
            display: flex;
            flex-flow: column wrap;

            li {
                margin: 0 !important;
            }
        }
    }

    &__soc {
        padding: 20px 0;
    }

    &__pic {
        padding: 0 0 40px;
    }

    &__cover {
        position: absolute;
        bottom: 4px;

        p {
            color: $base;
            font-size: 10px;
            line-height: 12px;
            margin: 0;
        }
    }

    //768px
    @media (min-width: $screen_M_Min) {
        &__wrapper {
            flex-flow: row wrap;
        }

        &__logo,
        &__soc,
        &__pic {
            padding: 0;
        }
    }

    @media (min-width: $screen_M_Min) and (max-width: 820px) {

        &__pic {
            .pic {
                &__icon {
                    a {
                        img {
                            width: 130px;
                        }
                    }
                }
            }
        }
    }
}
