.layout {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    flex-grow: 1;
    flex-shrink: 0;

    &__box {
        position: relative;
    }

    &__top {
        height: 100vh;
    }
}

#footer {
    position: relative;
    min-width: 320px;
    flex-shrink: 0;
}

p {
    margin: 0 0 10px;
}

.title__block {
    font-size: 20px;
    line-height: 31px;
    color: $grayBase;
    text-align: center;
    padding: 35px 0 29px;
    margin: 0;

    &--pain {
        font-size: 24px;
        line-height: 36px;
        color: $grayBase;
        text-align: center;
        padding: 35px 0 29px;
        margin: 0;

        //768px
        @media (min-width: $screen_M_Min) {
            font-size: 26px;
        }

        //1080px
        @media (min-width: $screen_L_Min) {
            font-size: 28px;
        }
    }

    //768px
    @media (min-width: $screen_M_Min) {
        font-size: 22px;
    }

    //1080px
    @media (min-width: $screen_L_Min) {
        font-size: 24px;
    }
}

.title__complaint {
    font-size: 48px;
    line-height: 62px;
    color: $base;
}

.button-purple {
    font-size: $fontSize18;
    line-height: 23px;
    //letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $base;
    border: 0;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    width: 180px;
    min-width: 150px;
    max-width: 200px;
    display: block;
    background: none;
    background: $brandPrimary;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    cursor: pointer;
    margin-top: -5px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid;
        border-color: $brandPrimary;
        //border-top: 2px solid $grayDarker;
        border-radius: inherit;
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
        clip-path: url(../index.html#clipBox);
        -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
        transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    &:after {
        display: none;
    }

    &:hover {
        background: $base;
        transition: all 1s;

        &::before {
            transform: translate3d(0, 0, 0);
            border: 2px solid $brandPrimary;
        }

        & .button__icon {
            transition-delay: 0.1s;
            transform: translate3d(-50%, -100%, 0);
        }

        &>span {
            opacity: 0;
            transform: translate3d(0, -50%, 0);
            transition-delay: 0s;
        }
    }

    .button__icon {
        position: absolute;
        top: 100%;
        left: 50%;
        padding: 30px 20px;
        transform: translate3d(-50%, 0, 0);
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 27px;
            transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
            transform-origin: 50% 100%;
            background: url('../images/fly.svg') left top no-repeat;
        }
    }

    &>span {
        display: block;
        padding: 12px 20px 5px;
        transition: transform 0.3s, opacity 0.3s;
        transition-delay: 0.3s;
        vertical-align: middle;
    }

    &.active {
        border: 2px solid $brandPrimary;
        height: 40px;
        background: $base;

        &:before {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 38px;
            height: 35px;
            transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
            transform-origin: 50% 100%;
            background: url('../images/check-mark.svg') left top no-repeat;
            display: block;
            transform: translate(-50%, -50%);
        }

        &:hover {

            & .button__icon {
                display: none;
                transition-delay: 0s;
            }

            &>span {
                display: none;
            }
        }

        .button__icon {
            display: none;
        }

        span {
            display: none;
        }
    }
}


//1080px
@media (min-width: $screen_L_Min) {
    .hide-screen-l-min {
        display: none !important;
    }
}

//1079px
@media (max-width: $screen_M_Max) {
    .hide-screen-m-max {
        display: none !important;
    }
}

//768px
@media (min-width: $screen_M_Min) {
    .hide-screen-m-min {
        display: none !important;
    }
}

//767px
@media (max-width: $screen_S_Max) {
    .hide-screen-s-max {
        display: none !important;
    }
}
