include ../mixin/_sprite-svg.pug

-
    navListItems = [
        {
            name: 'КАТАЛОГ',
            link: 'catalog.html',
            active: true
        },
        {
            name: 'БЛОГ',
            link: 'news.html'
        },
        {
            name: 'ПАРТНЕРАМ',
            link: 'news-inner.html'
        }
    ]

    sliderItems = [
        'news-inner.jpg', 'news-inner.jpg', 'news-inner.jpg', 'news-inner.jpg', 'news-inner.jpg'
    ]

    languagesItems = [
        'ru', 'ua'
    ]

    priceProductItems = [
        {
            item: 'Доставка',
            info: 'з 10:00 до 18:00'
        },
        {
            item: 'Ціна',
            info: 'від 40 грн'
        },
        {
            item: 'Ціна',
            info: 'від 55 грн'
        },
        {
            item: 'Ціна',
            info: 'від 60 грн'
        }
    ]

    breadcrumbDetailsItems = [
        {
            name: 'Головна',
            link: 'index.html'
        },
        {
            name: 'каталог',
            link: 'catalog.html'
        }
    ]

    breadcrumbCatalogItems = [
        {
            name: 'Головна',
            link: 'index.html'
        },
        {
            name: 'каталог'
        }
    ]

    breadcrumbNewsItems = [
        {
            name: 'Головна',
            link: 'index.html'
        }
    ]

    breadcrumbNewsInnerItems = [
        {
            name: 'Головна',
            link: 'index.html'
        },
        {
            name: 'новини',
            link: 'news.html'
        }
    ]

    newsCartsItems = [
        {
            img: 'news1',
            date: '22 лис 2019',
            category: 'Доставка',
            title: 'Компанія «AQUA SOFT»'
        },
        {
            img: 'news2',
            date: '22 лис 2019',
            category: 'Доставка',
            title: 'Кришталь Джерельна води доставка швидко'
        },
        {
            img: 'news3',
            date: '22 лис 2019',
            category: 'Доставка',
            title: 'Доставка питьевой воды на дом'
        }
    ]

    newsCartsInnerItem = [
        {
            img: 'news-inner',
            date: '22 лис 2019',
            category: 'Доставка'
        }
    ]

    categoryListItem = [
        'новини', 'лайфхаки', 'поради'
    ]

    filterListItems = [
        {
            title: 'Тип',
            list: [
                {
                    name: 'Фільтрована',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'Артезіанська',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'Іонізована',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Для дітей',
                    disabled: true,
                    checked: false
                },
                {
                    name: 'Знежирена',
                    disabled: false,
                    checked: false
                },
                {
                    name: 'Газована',
                    disabled: false,
                    checked: false
                },
            ]
        },
        {
            title: 'Мінералізація',
            list: [
                {
                    name: 'Артезіанська',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'Іонізована',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'Для дітей',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Фільтрована',
                    disabled: false,
                    checked: true
                },
                {
                    name: 'Знежирена',
                    disabled: false,
                    checked: false
                },
                {
                    name: 'Газована',
                    disabled: false,
                    checked: false
                },
            ]
        },
        {
            title: 'Вміст кисню на дм<sup>3</sup>',
            list: [
                {
                    name: 'Артезіанська',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'Іонізована',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'Для дітей',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Фільтрована',
                    disabled: false,
                    checked: true
                },
                {
                    name: 'Знежирена',
                    disabled: false,
                    checked: false
                },
                {
                    name: 'Газована',
                    disabled: false,
                    checked: false
                },
            ]
        },
        {
            title: 'об\’єм',
            list: [
                {
                    name: 'Артезіанська',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'Іонізована',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'Для дітей',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Фільтрована',
                    disabled: false,
                    checked: true
                },
                {
                    name: 'Знежирена',
                    disabled: false,
                    checked: false
                },
                {
                    name: 'Газована',
                    disabled: false,
                    checked: false
                },
            ]
        },
    ]

    ciriesList = [
        {
            name: 'Бахмут'
        },
        {
            name: 'Біла Церква'
        },
        {
            name: 'Бориспіль'
        },
        {
            name: 'Васильків'
        },
        {
            name: 'Вінниця',
            strong: true
        },
        {
            name: 'Горішні'
        },
        {
            name: 'Плавні'
        },
        {
            name: 'Дніпро'
        },
        {
            name: 'Житомир',
            strong: true
        },
        {
            name: 'Жмеринка'
        },
        {
            name: 'Жовті Води'
        },
        {
            name: 'Запоріжжя'
        },
        {
            name: 'Івано-Франківськ',
            strong: true
        },
        {
            name: 'Ізмаїл'
        },
        {
            name: 'Ірпінь'
        },
        {
            name: 'Калинівка'
        },
        {
            name: 'Калуш'
        },
        {
            name: 'Кам\'янець-Подільський'
        },
        {
            name: 'Кам\'янське'
        },
        {
            name: 'Київ',
            strong: true,
            class: 'active'
        },
        {
            name: 'Коростень'
        },
        {
            name: 'Коростишів'
        },
        {
            name: 'Крамат\'орськ'
        },
        {
            name: 'Кременчук'
        },
        {
            name: 'Кропивницький'
        },
        {
            name: 'Лисичанськ'
        },
        {
            name: 'Луцьк'
        },
        {
            name: 'Львів',
            strong: true
        },
        {
            name: 'Маріуполь'
        },
        {
            name: 'Мелітополь'
        },
        {
            name: 'Миколаїв'
        },
        {
            name: 'Могилів-Подільський'
        },
        {
            name: 'Новомосковськ'
        },
        {
            name: 'Обухів'
        },
        {
            name: 'Одеса',
            strong: true
        },
        {
            name: 'Охтирка'
        }
    ]

    sitemapFirstListItems = [
        {
            title: 'Вода',
            list: [
                {
                    title: 'BonAqua'
                },
                {
                    title: 'Боржомі'
                },
                {
                    title: 'Червона калина'
                },
                {
                    title: 'Моршинська'
                },
                {
                    title: 'Интеркерама'
                },
                {
                    title: 'BonAqua'
                },
                {
                    title: 'Боржомі'
                },
                {
                    title: 'Червона калина'
                },
                {
                    title: 'Моршинська'
                },
                {
                    title: 'Интеркерама'
                }
            ]
        },
        {
            title: 'Вода',
            list: [
                {
                    title: 'BonAqua'
                },
                {
                    title: 'Боржомі'
                },
                {
                    title: 'Червона калина'
                }
            ]
        },
        {
            title: 'Вода',
            list: [
                {
                    title: 'BonAqua'
                },
                {
                    title: 'Боржомі'
                },
                {
                    title: 'Червона калина'
                },
                {
                    title: 'Моршинська'
                },
                {
                    title: 'Интеркерама'
                },
                {
                    title: 'Alaska'
                }
            ]
        },
        {
            title: 'Вода',
            list: [
                {
                    title: 'BonAqua'
                },
                {
                    title: 'Боржомі'
                },
                {
                    title: 'Червона калина'
                },
                {
                    title: 'Моршинська'
                }
            ]
        }
    ]

    sitemapSecondListItems = [
        {
            title: 'Новини',
            list: [
                {
                    title: 'BonAqua'
                },
                {
                    title: 'Боржомі'
                }
            ]
        },
        {
            title: 'Поради',
            list: [
                {
                    title: 'BonAqua'
                },
                {
                    title: 'Боржомі'
                },
                {
                    title: 'Червона калина'
                },
                {
                    title: 'Моршинська'
                }
            ]
        },
        {
            title: 'Лайфхаки',
            list: [
                {
                    title: 'BonAqua'
                },
                {
                    title: 'Боржомі'
                },
                {
                    title: 'Червона калина'
                }
            ]
        }
    ]

    sitemapThirdListItems = [
        {
            title: 'Олата да досавка'
        },
        {
            title: 'Повернення товару'
        },
        {
            title: 'Програма лояльності'
        }
    ]
