.index-services {
    margin: 30px auto 60px;

    &__wrapper {
        max-width: 1275px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 30px;
        width: 100%;
    }

    &__inner {
        display: flex;
        flex-flow: row wrap;
        padding: 25px 10px 0 20px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background: rgba(129, 129, 129, 0.8);
            filter: blur(10px);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 0 25px;
        position: relative;
        z-index: 1;
    }

    &__icon {
        .icon-services-town {
            width: 31px;
            height: 31px;
        }

        .icon-services-star {
            width: 28px;
            height: 37px;
        }

        .icon-services-monitor {
            width: 30px;
            height: 30px;
        }

        .icon-services-hand {
            width: 27px;
            height: 36px;
        }
    }

    &__block {

    }

    &__text {
        font-family: $rr;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 19px;
        padding-left: 22px;
    }

    //600px
    @media (min-width: $screen_S_Min) {

        &__inner {
            padding: 40px 40px 10px;
        }
    }

    //768px
    @media (min-width: $screen_M_Min) {
        margin: 80px auto 200px;

        &__inner {
            padding: 30px 40px;
            &:after {
                background: rgba(129, 129, 129, 0.58);
                box-shadow: 30px 30px 15px 20px rgba(0, 0, 0, 0.25);
                filter: none;
            }
        }

        &__info {
            width: 50%;
            padding: 20px;
        }

        &__icon {
            .icon-services-town {
                width: 52px;
                height: 52px;
            }

            .icon-services-star {
                width: 46px;
                height: 62px;
            }

            .icon-services-monitor {
                width: 51px;
                height: 51px;
            }

            .icon-services-hand {
                width: 43px;
                height: 59px;
            }
        }

        &__text {
            font-size: 20px;
            line-height: 24px;
            padding-left: 30px;
        }
    }

    //1080px
    @media (min-width: $screen_L_Min) {

        &__info {
            width: 50%;
            padding: 40px;
        }

        &__text {
            font-size: 25px;
            line-height: 29px;
            padding-left: 30px;
        }
    }
}


//.services {
//    font-size: 0;
//    position: relative;
//    overflow: auto;
//    height: 100vh;
//
//    &:before {
//        position: relative;
//        display: inline-block;
//        width: 0;
//        height: 100%;
//        content: '';
//        vertical-align: middle;
//    }
//}
