.logo {
    position: absolute;
    z-index: 1;
    width: 76px;
    left: 30px;
    top: 69px;
    transform: none;

    //480px
    @media (min-width: $screen_XS_Min) {
        width: 150px;
        transform: translateY(-50%);
        top: 50%;
    }

    //600px
    @media (min-width: 600px) {
        width: 100px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    //768px
    @media (min-width: $screen_M_Min) {
        width: 150px;
    }

    //1080px
    @media (min-width: $screen_L_Min) {
        width: auto;
        top: auto;
        transform: translateX(-50%);
    }

}
