:root {
    --circle-1: 84px;
    --circle-2: 185px;
    --circle-3: 295px;
    --circle-4: 416px;
    --circle-5: 540px;
    --button: 70px;
    --border-color: rgba(19, 75, 91, .05);
    --border-color-bright: rgb(19, 75, 91);
}

@media (min-width: $screen_L_Min) {
    :root {
        --circle-1: 86px;
        --circle-2: 308px;
        --circle-3: 498px;
        --circle-4: 696px;
        --circle-5: 900px;
    }
}

.footer {
    position: relative;
    overflow: hidden;
    padding: 35px 0 0;

    &__inner {
        background: $brandDarkBlue;
        padding: 70px 0 14px;
    }

    &__decoration {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        &:before,
        &:after {
            position: absolute;
            content: '';
            border-color: var(--border-color);
            border-style: solid;
            border-top: none;
            left: 50%;
            top: 35px;
            transform: translateX(-50%);
            border-radius: 0 0 50% 50% / 0 0 100% 100%;
            z-index: -1;
        }

        &:before {
            border-width: calc(var(--circle-3) / 2 - var(--button) / 2);
            width: var(--circle-3);
            height: calc(var(--circle-3) / 2);
        }

        &:after {
            border-width: calc(var(--circle-2) / 2 - var(--button) / 2);
            width: var(--circle-2);
            height: calc(var(--circle-2) / 2);
        }

        &-inner {
            position: absolute;
            content: '';
            left: 50%;
            top: 35px;
            transform: translateX(-50%);
            border-radius: 0 0 50% 50% / 0 0 100% 100%;
            border: calc(var(--circle-1) / 2 - var(--button) / 2) solid var(--border-color-bright);
            border-top: none;
            width: var(--circle-1);
            height: calc(var(--circle-1) / 2);
            background: transparent;

            &:before,
            &:after {
                position: absolute;
                content: '';
                border-color: var(--border-color);
                border-style: solid;
                border-top: none;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                border-radius: 0 0 50% 50% / 0 0 100% 100%;
                z-index: -2;
            }

            &:before {
                border-width: calc(var(--circle-5) / 2 - var(--button) / 2);
                width: var(--circle-5);
                height: calc(var(--circle-5) / 2);
            }

            &:after {
                border-width: calc(var(--circle-4) / 2 - var(--button) / 2);
                width: var(--circle-4);
                height: calc(var(--circle-4) / 2);
            }
        }
    }

    .container {
        position: relative;
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .logo {
            display: none;
        }

        .nav {
            margin: 0 0 7px;

            &__list {
                margin: 0 -11px;
                flex-direction: column;

                &-item {
                    padding: 0 11px;

                    a {
                        color: $brandPrimary;
                        font-size: 16px;

                        &:hover {
                            color: $brandLightBlue;
                        }
                    }

                    &.active {
                        a {
                            color: $brandLightBlue;
                        }
                    }

                    &:nth-last-child(n+2) {
                        margin: 0 0 15px;
                    }
                }
            }
        }

        .contacts {
            display: none;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 23px 0 0;

        > p {
            color: $brandDirtBlue;
            font-size: 12px;
            order: 2;
        }

        .social {
            flex-shrink: 0;
        }

        .privacy {
            order: -1;
        }
    }

    @media (min-width: $screen_L_Min) {
        &__inner {
            padding: 120px 0 40px;
        }

        &__menu {
            justify-content: space-between;

            .logo {
                display: flex;
            }

            .nav {
                display: block;
                margin: 0 0 6px -14px;

                &__list {
                    flex-direction: row;

                    &-item {
                        &:nth-last-child(n+2) {
                            margin: 0;
                        }
                    }
                }
            }

            .contacts {
                display: flex;
            }
        }

        &__social {
            justify-content: space-between;
            flex-direction: row;
            margin: 70px 0 0;

            > p {
                font-size: $fontSizeSmall;
                margin: 16px 0;
                width: 50%;
                order: initial;
            }

            .privacy {
                display: flex;
                order: initial;
                width: 50%;
                justify-content: flex-end;
            }
        }
    }

    @media (min-width: $screen_XL_Min) {
        &__inner {
            padding: 170px 0 60px;
        }

        &__social {
            margin: 125px 0 0;
        }
    }

    @media (min-width: $screen_XXL_Min) {
        &__menu {
            .nav {
                &__list {
                    margin: 0 -30px;

                    &-item {
                        padding: 0 30px;
                    }
                }
            }
        }
    }
}
