.header {
    position: relative;
    background: $grayLight;
    border-bottom: 5px solid $brandPrimary;
    z-index: 1;

    &__wrapper {
        display: flex;
        justify-content: center;
        min-height: 95px;
        position: relative;
    }

    &__menu {
        display: flex;
        align-items: center;

        .logo {
            padding: 10px 0 0;
        }

        .nav {
            margin: 0 0 0 45px;
            display: none;
        }
    }

    &__languages {
        display: none;
        align-items: center;
        padding: 0 0 0 45px;
        background: linear-gradient(105deg, #efeff0, $grayLight 85%);
    }

    @media (min-width: $screen_L_Min) {
        &__wrapper {
            justify-content: space-between;
        }

        &__menu {
            .nav {
                display: block;
            }
        }

        &__languages {
            display: flex;
        }
    }

    @media (min-width: $screen_XL_Min) {
        &__wrapper {
            min-height: 107px;
        }

        &__menu {
            .nav {
                margin: 0 0 0 87px;
            }
        }

        &__languages {
            padding: 0 0 0 85px;
        }
    }
}
