include vars/_variable.pug

-
    var pageTitle = '404 page'

doctype html
html
    include core/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include region/header/_header.pug

            //= Main =
            main#main.main
                #nav_side.nav.nav-side.hide-sm-max
                    include region/nav/module/secondaryMenu/_secondaryMenu.pug

                .container
                    include module/page404/_page404.pug
            //= End main =
            = '\n'

        //= End layout =

        include region/footer/_footer.pug
        include module/deviceMenu/_deviceMenu.pug
        include core/_script.pug
