include vars/_variable.pug

-
    var pageTitle = 'Map page'
    var breadcrumbsLastItem = 'Карта поверхів'
    // var breadcrumbsTitle = 'Карта поверхів'
    var panzoom = true

doctype html
html
    include core/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include region/header/_header.pug

            //= Main =
            main#main.main
                #nav_side.nav.nav-side.hide-sm-max
                    include region/nav/module/secondaryMenu/_secondaryMenu.pug

                .container
                    include module/breadcrumbs/_breadcrumbs.pug

                    .main__sidebar
                        include module/mapCategory/_mapCategory.pug

                    .main__content
                        .main__content-inner
                            include module/map/_map.pug
            //= End main =
            = '\n'

        //= End layout =

        include region/footer/_footer.pug
        include module/deviceMenu/_deviceMenu.pug
        include module/tour3d/_tour3d.pug
        include core/_script.pug
