include vars/_variable.pug

= '\n'
//= Presentation =
.presentation
    h2 Удобный и эргономичный
    p Плавные линии корпуса, отсутствие выступов камеры, утонченная и элегантная отделка позволяют получить настоящее удовольствие от использования смартфона.почувствуйте себя профессиональным фотографом. Наличие широкого выбора фильтров позволяет подойти к процессу съемки более креативно. Теперь каждая фотография будет особенной.
//= End presentation =
= '\n'
