@import 'vars/_variable.scss';

.presentaiont {
    position: relative;

    :first-child {
        margin-top: 0 !important;
    }

    :last-child {
        margin-bottom: 0 !important;
    }

    h2,
    h2,
    h3,
    h4,
    h5,
    h6,
    table,
    ul,
    ol,
    li,
    p {
        margin: 10px 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
    }

    h2 {
        font-size: 30px;
    }

    ul,
    ol {
        margin-left: 20px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }
}
