-
    var mobileMenu = [
        {
            title: 'Про нас'
        },
        {
            title: 'Оренда спецтехніки',
            class: 'arrow',
            flyout: true,
            list: [
                {
                    name: 'Екскаватор'
                },
                {
                    name: 'Навантажувач'
                },
                {
                    name: 'Каток'
                },
                {
                    name: 'Автогрейдер'
                }
            ]
        },
        {
            title: 'Вантажні перевезення'
        },
        {
            title: 'Будівельні послуги'
        },
        {
            title: 'Контакти'
        }
    ]

= '\n'
//= Mobile menu =
.mobile-menu
    a.mobile-menu__button(href='javascript:void(0)')
        i.mobile-menu__button-line

    .mobile-menu__drop
        .mobile-menu__drop-top
            a.mobile-menu__close(href='#')

        .mobile-menu__wrapper
            .mobile-menu__content

                ul.mobile-menu__list

                    each val, index in mobileMenu
                        - var modifier = (index == 1) ? 'active' : ''
                        li.mobile-menu__item(class= modifier)

                            a.mobile-menu__link(href='#')= val.title

                            if ('flyout' in val && val.flyout)
                                .mobile-menu__flyout
                                    .mobile-menu__flyoutList
                                        ul.mobile-menu__sublist

                                            if (val.list)
                                                each item in val.list
                                                    li.mobile-menu__subitem
                                                        a.mobile-menu__sublink(href='#')= item.name
//= End mobile menu =
= '\n'
