//- HEADER
//------------------------------------------------

$header__backgroundColor:           #fbeef5 !default;

$header__deviceBackgroundColor:     $grayDark !default;
$header__deviceDropBackgroundColor: $base !default;
