= '\n'
//= company =
//- (source\scss\module\_company.scss)
.company(style='background-image: url(images/block1.png);')
    .container.company__main
        //-Біль ЦЕ ПОРУШЕННЯ ТВОЇХ ПРАВ
        .company__slogan--first
            h1 Біль
                
                span 
                    |це порушення
                    br
                    |твоїх прав
            .line
        //-не став крапку на людському житті
        .company__slogan--second 
            h2 
                |не став крапку 
                br
                |на людському
                br
                |житті
            .circle
        //-запитай свого лікаря про знеболення
        .company__slogan--third
            .ic ?
            h2 
                |запитай 
                br
                |свого лікаря
                br
                |про знеболення

        .company__mouse
            .company__wheel
//= End company =
= '\n'