= '\n'
//= info =
//-=(source\scss\module\_info.scss)=
ul.info
    li
        +icon('icon-adress')
        p 
            |м. Рівне, 
            br
            |вул. Черновола, 74-Б 
    li
        +icon('icon-phone')
        ul
            li
                p.hide-screen-m-max 38 (068) 166-88-12
                a.hide-screen-l-min(href='tel:+380681668812') 38 (068) 166-88-12
            li
                p.hide-screen-m-max 38 (066) 103-49-35
                a.hide-screen-l-min(href='tel:+380661034935') 38 (066) 103-49-35 
    li
        +icon('icon-mail')
        a(href='mailto:med.pravo@ukr.net') med.pravo@ukr.net

//= End info =
= '\n'
