= '\n'
//= Logo =
//-=(source\scss\module\_logo.scss)=
.logo
    //-+icon('icon-logo-paint')
    //-+icon('icon-logo-text')
    //-+icon('icon-logo-comma')
    img(src='images/logo.svg' alt='')
//= End logo =
= '\n'