= '\n'
//= pain =
//- (source\scss\module\_pain.scss)
.pain#pain
    .container
        h2.title__block--pain !{titleInfo}
        .pain__main
            //-each item in pain
                .pain__wrap
                    .pain__image
                        //- +icon('icon-' + item.image)
                        img(src='images/pain/' + item.image + '.svg', alt="")
                    p!= item.text
            .pain__wrap
                .pain__image
                    img(src='images/pain/bl21.svg', alt="")
                    img.jowl(src='images/pain/jowl.png', alt="")
                p  
                    |Низький рівень знань
                    br
                    |про паліативну допомогу 
                    br 
                    |в цільової аудиторії

            .pain__wrap
                .pain__image
                    img(src='images/pain/bl22.svg', alt="")
                p  
                    |Мала кількість уваги
                    br
                    |суспільства та медпрацівників 
                    br 
                    |до проблем болю

            .pain__wrap
                .pain__image
                    img(src='images/pain/bl23.svg', alt="")
                    img.jowl(src='images/pain/skull.png', alt="")
                p  
                    |Табуювання
                    br
                    |теми
                    br 
                    |смерті як такої  
                    
            .pain__wrap
                .pain__image
                    img(src='images/pain/bl24.svg', alt="")
                p  
                    |Відчуття покинутості
                    br
                    |у доглядальників
                    br 
                    |хворого
                    
            .pain__wrap
                .pain__image
                    img(src='images/pain/bl25.svg', alt="")
                p  
                    |Низький рівень обізнаності
                    br
                    |лікарів щодо своїх прав
                    br 
                    |обов’язків
        
            .pain__wrap
                    .pain__image
                        img(src='images/pain/bl26.svg', alt="")
                    p  
                        |Загальне старіння
                        br
                        |населення
                        br 
                        |та актуалізація теми
            
//= End pain =
= '\n'