= '\n'
//= pharmacies =
//- (source\scss\module\_pharmacies.scss)
.pharmacies#pharmacies
    .pharmacies__title(data-description='Hатисни і побачиш аптеки')
        .container
            .pharmacies__wrap
                +icon('icon-apl')
                .pharmacies__inner
                    //-+icon('icon-arrowss')
                    .arrow-8
                    h2.title__block !{titleInfo}
                    //- +icon('icon-arrowss')
                    .arrow-8
                +icon('icon-apr')
    .pharmacies__map
        img(src='images/map.png', alt="")

//= End pharmacies =
= '\n'