= '\n'
//= pic =
//- (source\scss\module\_pic.scss)
.pic
    .pic__icon
        //- +icon('icon-logof1')
        //- +icon('icon-logof2')
        a(href='#')
            img(src='images/pic/fund.svg' alt='')
        a(href='#')
            img(src='images/pic/100life.svg' alt='')
//= End pic =
= '\n'