= '\n'
//= reviews =
//- (source\scss\module\_reviews.scss)
.reviews#reviews
    .container
        h2.title__block !{titleInfo}
        .reviews__main#slider
            each item in slider
                .reviews__item
                    .reviews__item-inner
                        .reviews__name= item.name
                        .reviews__disease= item.disease
                        .reviews__line
                            +icon('icon-cross')
                        .reviews__info
                            .reviews__info-text= item.text

//= End reviews =
= '\n'