= '\n'
//= tell =
//- (source\scss\module\_tell.scss)
.tell#tell
    .container
        .tell__main
            h2.title__block !{titleInfo}
            .tell__wrap
                .tell__inner
                    .tell__image
                        img(src='images/tell/1.png', alt="")

                .tell__inner
                    .tell__quote
                        blockquote – «Настільки боляче, що не можу дихати».
                        blockquote – «Я кричала від болю, а мені казали “потерпи”».
                        blockquote – «Боюсь вихідних, бо на вихідних не виписують ліки».
                        blockquote – «Я би оцінив свою біль у 10 балів з 10. Але, можливо, потім вона буде ще сильнішою?»
                
                .tell__inner
                    .tell__image
                        img(src='images/tell/2.png', alt="")
//= End tell =
= '\n'