= '\n'
//= understand =
//- (source\scss\module\_understand.scss)
.understand#understand
    //-.understand__cub
        .understand__nen
    .understand__bg
    .container.understand__main
        h2.title__block !{titleInfo}
        .understand__wrap
            //- each val in understand
            //-     p!= val.text
            p
                span !
                |Твоє життя – цінне.
            p
                span ?
                |Біль – це не є нормально.
            p
                span .
                |Гідно – означає без болю.
            p
                span ...
                |Не потрібно терпіти.
            p
                span ;
                |Поскаржся на біль.
            p
                span (
                |Ти маєш право на гідне життя.
                span )
            p
                span «
                |Народження і смерть – це
                br
                |рівноцінні частини життя.
                span »
      
//= End understand =
= '\n'