= '\n'
//= Footer =
footer#footer.footer
    .container

        .footer__main
            .footer__top
                .footer__menu
                    include footer/menu/_menu.pug
                .footer__info
                    include footer/info/_info.pug
                .footer__phone
                    include footer/phone/_phone.pug
                .footer__map
                    .footer__mapIframe
                        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1265.732580938739!2d26.25844625479815!3d50.61847505615392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f13506ebb3219%3A0x2a29546fb8977c9e!2z0YPQuy4g0KHQvtCx0L7RgNC90LDRjywgMTTQsCwg0KDQvtCy0L3Qviwg0KDQvtCy0LXQvdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzMzAwMA!5e0!3m2!1sru!2sua!4v1546527621872")

            .footer__bottom
                .footer__logo
                    include footer/logo/_logo.pug
                .footer__logo32x32
                    include footer/logo32x32/_logo32x32.pug

        include ../module/_pageUp.pug

//= End footer =
