
- var newClass = (innerPage) ? innerPage : ''

= '\n'
//= Header =
//-=(/assets/css/layout/_header.scss)=
header.header#header(class = newClass)
    .container

        .header__main

            .header__logo
                include header/logo/_logo.pug

            .header__aside
                    include header/primaryMenu/_primaryMenu.pug
                    include header/phone/_phone.pug

            //-layout/header/device/_device.scss
            .header-device.hide-md-min
                - var deviceFlag = true

                a.header-button(href='javascript:void(0);')
                    i.button-line
    .header__nav
        if (secondMenu)
            .header__secondMenu
                .container
                    include header/secondMenu/_secondMenu.pug

        if (thirdMenu)
            .header__thirdMenu
                include header/thirdMenu/_thirdMenu.pug
//= End header =
= '\n'
