= '\n'
//= Header-device =
//-=(layout/header/device/_device.scss)=
.header-device
    - var deviceFlag = true

    a.button(href='javascript:void(0);')
        i.button-line

    .drop.scrollMobailMenu
        .drop-content

            .drop-box
                include header/phone/_phone.pug

            .drop-box
                = '\n'
                //= Nav =
                nav#nav
                    include nav/deviceMenu/_deviceMenu.pug
                    //-include header/mobile-menu/_mobile-menuIncanto.pug
                    //-include header/primaryMenu/_primaryMenu.pug

                //= End nav =
                = '\n'

        .drop-bottom
            = '\n'


//= End Header-device =
= '\n'
