= '\n'
//= sliderBig (module/_slick.scss, layout/_sliderMain.scss)=
.sliderBig
    .sliderMain#main_slider
        .slider__item

            .slider__img(style='background-image: url(data/slider/slider1.png);')
                //-img(src='data/slider/slider1.png' alt='')

        .slider__item

            .slider__img(style='background-image: url(data/slider/slider2.png);')
                //-img(src='data/slider/slider2.png' alt='')

        .slider__item

            .slider__img(style='background-image: url(data/slider/slider1.png);')
                //-img(src='data/slider/slider1.png' alt='')

    .sliderMain__image
        .slide
            .slide__img(style='background-image: url(data/slider/lido.png);')
            //-img(src='data/slider/lido.png' alt='')
        .slide
            .slide__img(style='background-image: url(data/slider/saunas.png);')
            //-img(src='data/slider/saunas.png' alt='')

    .container.sliderMain__container
        .sliderMain__title
            h1 Басейни&Сауни Салон магазин

        .sliderMain__square
            .sliderMain__squareText.sliderMain__squareText--lido
                h3.lido Басейни
            .sliderMain__squareText.sliderMain__squareText--saunas
                h3.saunas Сауни

//= End sliderBig =
= '\n'
