.header-device {
    position: relative;

    @media (min-width: 1024px) {
        display: none;
    }
}

.header-device.open {
    //top: 18px;
    z-index: 103;
}

.header-device.open .button-close {
    position: fixed;
    z-index: 102;
    top: 14px;
    left: 8px;
    opacity: 0;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.header-device.open .button-close:before {
    content: '';
    background: url(../images/header/close.svg) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);

}

.header-device.open .button-line {
    //left: 21px;
    //opacity: 0;
}

.header-device .header-button {
    position: relative;
    display: block;
    width: 20px;
    //height: 16px;
    padding: 6px 0 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-device .header-button:before,
.header-device .header-button:after {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    height: 2px;
    content: '';
    background: $base;
}

.header-device .header-button:before {
    top: 0;
}

.header-device .header-button:after {
    bottom: 0;
    right: 7px;
}

.header-device .button-line {
    position: absolute;
    display: block;
    height: 2px;
    background: $base;
    left: 0;
    right: 0;
}

.header-device .drop {
    position: fixed;
    z-index: 101;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    padding: 0;
    transition: all .2s linear;
    transform: translateX(-320px);
    background: #fff;
    overflow: auto;
}

.header-device .drop-content {
    position: relative;
    overflow: auto;
    max-height: 100%;
    padding: 0;
}

.header-device .drop-box {
    position: relative;
    margin: 0 0 20px;
}

.header-device .drop-box:last-child {
    margin-bottom: 0;
}

.header-device .drop-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 30px;
    background: #f7f7f7;
}

.header-device .drop .phone {
    text-align: left;
}

.header-device .drop .phone .item {
    font-size: 16px;
    float: none;
    margin: 10px 0;
}

.header-device .drop .phone .item:after {
    display: none;
}

.header-device .drop .phone .link {
    font-size: inherit;
}

.header-device .title {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    color: #252525;
}

.header-device {
    .secondaryMenu {
        display: block;
    }
}


.header-device {

    .drop-content {
        overflow: visible;

        .drop-box {

            .header {
                margin: 0;

                &-device {
                    display: none;
                    &__head {
                        background: $brandPrimary;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding-left: 50px;

                        .logo {
                            &__desk {
                                filter: brightness(0) invert(1);
                            }
                        }

                        .header {
                            position: relative;
                            height: 60px;
                            z-index: 3;
                            background: #5FB46E;

                            &__searchButton {
                                display: none;
                            }

                            .language {
                                &__box {
                                    &-item {
                                        background: url(../images/header/language.svg)no-repeat;
                                    }
                                }
                            }

                            &__rightBlock {
                                margin-top: 0;
                            }
                        }
                    }
                }

                &__logo {
                    .logo {
                        margin: 20px 0;
                        &__desk {
                            width: 140px;
                            margin-left: 45px;
                        }
                    }
                }

                &__person {
                    display: none;
                }

                &__language {
                    display: block;
                    margin-right: 0;

                }

                &__cart {
                    display: none;
                }
            }


            .primary {
                &-menu {

                    .list {
                        .item {
                            padding: 0;
                            padding: 10px 0 10px 10px;
                            display: flex;
                            width: 100%;

                            img {
                                filter: grayscale(100%) brightness(70%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
                                margin: 0 8px 0 0;
                            }

                            &:nth-child(2),
                            &:nth-last-child(2) {
                                padding-bottom: 16px;
                            }
                            &:nth-child(3) {
                                padding-top: 16px;
                                border-top: 1px solid $grayLight;
                            }
                            &:last-child {
                                padding-top: 16px;
                                border-top: 1px solid $grayLight;
                            }
                        }

                        .link {
                            margin-left: 16px;
                            text-decoration: none;
                            font-size: $fontSizeMedium;
                            color: $grayLighter;
                            flex-flow: row-reverse nowrap;
                        }
                    }
                }
            }

            .person {
                display: flex;

                @media (min-width: 720px) {
                    display: none;
                }
            }

            .header-device__registration {

                a {
                    background: url('../images/header/person.svg') 0 0 no-repeat;
                    width: 50px;
                    height: 50px;
                    display: block;
                }
            }
        }
    }
}
