//- BASE
//------------------------------------------------

-
    var mainMenu = [
        {
            class: 'shop',
            active: true,
            name: 'Магазини',
            sublist: ['чоловічі', 'жіночі', 'для дитини', 'продукти харчування', 'для дому', 'косметика та парфумерія']
        },
        {
            class: 'food',
            name: 'Де поїсти',
            sublist: ['чоловічі', 'жіночі', 'для дитини', 'продукти харчування', 'для дому', 'косметика та парфумерія', 'чоловічі', 'жіночі', 'для дитини', 'продукти харчування', 'для дому', 'косметика та парфумерія']
        },
        {
            class: 'service',
            name: 'Послуги',
            sublist: ['чоловічі', 'жіночі', 'для дитини', 'продукти харчування', 'для дому', 'косметика та парфумерія']
        },
        {
            class: 'entertainment',
            name: 'Розваги',
            sublist: ['чоловічі', 'жіночі', 'для дитини', 'продукти харчування', 'для дому', 'косметика та парфумерія']
        }
    ]

    var socnet = ['instagram', 'facebook']
