//- NEWS INNER
//------------------------------------------------

$newsInner__slickDotsColor:     $grayDark !default;

$newsInner__dateTextColor:      #b2b2b2 !default;

$newsInner__socnetBorderColor:  #010101 !default;
