include vars/_variable.pug

- var newsInnerSlickInit = true
- var newsInnerPhotoswipeInit = true

//= News inner =
.news-inner
    .news-inner__image
        #news-inner_slick.slick.photoswipe-wrapper
            - for (var i = 0; i < 3; i++)
                .slick-item.photoswipe-item
                    a.news-inner__link(href='data/news/image7.jpg' data-size="570x435")
                        img(src='data/news/image7.jpg' alt='' style='height: 435px')

    .news-inner__content
        .breadcrumbs
            h1.breadcrumbs__title У ТЦ "ЗЛАТА ПЛАЗА" з'явився новий осінній декор

        .news-inner__date 01 / 09 / 2017

        .news-inner__description
            p А от і перший осінній день…
                br
                | Не варто сумувати, адже це пора обіймів, теплих пледів і затишку. Ще не відчуваєте прихід осені? А ми вже повністю поринули в атмосферу осінньої краси. Запрошуємо до нас у гості робити цікаві фото та оцінити новий декор ТЦ "ЗЛАТА ПЛАЗА"
                br
                | Веселі парасольки висять у нас над сходами, "віники - шпигуни" з окулярами слідкують за усіма з підвіконь, а при вході на -1 поверсі тепер є справжній віз із гарбузами, який слугує чудовою фотозоною

        .news-inner__socnet
            .news-inner__socnet-title Поширити:

            ul.news-inner__socnet-list
                li.news-inner__socnet-item
                    a.news-inner__socnet-link.news-inner__socnet-link--facebook(href='#')
//= End news inner =
= '\n'
