include vars/_variable.pug

- var formSelect2Init = true


= '\n'
//= Tab =
.tab
    .tab__menu.tab__menu--tenants
        ul.tab__menu-list
            li.tab__menu-item
                a.tab__menu-link(href='#orenda')
                    span.tab__menu-link-text Заявка на оренду

            li.tab__menu-item
                a.tab__menu-link(href='#applicationForAdvertising')
                    span.tab__menu-link-text Заявка на розміщення реклами

    #orenda.tab__content
        = '\n'
        //= Breadcrumbs =
        .breadcrumbs.hide-md-min
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href='#') Головна

                li.breadcrumbs__item.breadcrumbs__item--last Орендарям

            h1.breadcrumbs__title Заявка на оренду
        //= End breadcrumbs =

        .clearfix.hide-md-min

        ='\n'
        //= Tenats =
        .tenants
            ='\n'
            //= Form =
            form.main-form(action='' method='post')
                .main-form__content
                    .main-form__box
                        .main-form__field
                            .main-form__title Повна назва компанії
                            input.main-form__text(type='text')
                            .main-form__error Ошибка

                        .main-form__field
                            .main-form__title Тип площі
                            .main-form__select
                                select.select(style='width: 100%' data-placeholder='Приміщення')
                                    option
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення
                                    option Приміщення

                        .main-form__field
                            .main-form__title Торговий профіль
                            .main-form__select
                                select.select(style='width: 100%' data-placeholder='Чоловічий одяг')
                                    option
                                    option Чоловічий одяг
                                    option Чоловічий одяг
                                    option Чоловічий одяг
                                    option Чоловічий одяг
                                    option Чоловічий одяг
                                    option Чоловічий одяг
                                    option Чоловічий одяг

                        .main-form__field
                            .main-form__title Торгові марки, представлені вашою компанією
                            input.main-form__text(type='text')

                        .main-form__field
                            .main-form__title Бажаний розмір площі

                            .main-form__row
                                .main-form__col
                                    .main-form__field-text Від:
                                    input.main-form__text(type='text' style='width: 130px;')
                                    .main-form__error Ошибка

                                .main-form__col
                                    .main-form__field-text До:
                                    input.main-form__text(type='text' style='width: 130px;')
                                    .main-form__field-text м2

                        .main-form__field
                            .main-form__title Інформація про відкриті магазини

                            .main-form__row
                                .main-form__col
                                    .main-form__field-text Всього
                                    input.main-form__text(type='text' style='width: 80px;')

                                .main-form__col
                                    .main-form__field-text магазинів, з них
                                    input.main-form__text(type='text' style='width: 80px;')
                                    .main-form__field-text в ТЦ

                        .main-form__field
                            .main-form__title У яких торгових центрах
                            input.main-form__text(type='text')

                        .main-form__field
                            .main-form__title Оренда приміщень
                            .main-form__contacts
                                a.main-form__contactsLink(href='mailto:orenda@zlata-plaza.com.ua') orenda@zlata-plaza.com.ua
                                br
                                a.main-form__contactsPhone.hide-xs-min(href='tel:0503393157') (050) 339 31 57
                                span.hide-mb-max (050) 339 31 57

                        .main-form__field
                            a.main-form__link.main-form__link--pdf(href='#') Завантажити детальну презентацію
                                span.main-form__link-name ТРЦ "ЗЛАТА ПЛАЗА"

                        .main-form__field
                            a.main-form__link.main-form__link--video(href='#') Переглянути відео про
                                span.main-form__link-name ТРЦ "ЗЛАТА ПЛАЗА"

                    .main-form__box
                        .main-form__field
                            .main-form__title П. І. Б. контактної особи
                            input.main-form__text(type='text')

                        .main-form__field
                            .main-form__title Електронна пошта
                            input.main-form__text(type='text' placeholder='zlata plaza@com.ua')

                        .main-form__field
                            .main-form__title Телефон
                            input.main-form__text(type='text' placeholder='Наприклад: +3 096 123-45-67')

                        .main-form__field
                            .main-form__title Цільова аудиторія
                            input.main-form__text(type='text')

                        .main-form__field
                            .main-form__title Середній чек
                            input.main-form__text(type='text')

                        .main-form__field
                            .main-form__title Документи

                            .main-form__upload
                                label
                                    input.main-form__upload-input(type='file')
                                    .main-form__upload-button Додати файл

                                .main-form__upload-text

                            .main-form__note Прикріпіть до заявки презентацію вашого магазину або бренду

                        .main-form__field
                            .main-form__title &nbsp;

                            .main-form__checkbox
                                label
                                    input.main-form__checkbox-input(type='checkbox')
                                    i.main-form__checkbox-icon
                                    .main-form__checkbox-text Даю свою згоду на
                                        a.main-form__checkbox-link(href='#') обробку персональних даних

                    .main-form__box
                        button.main-form__button Відправити запит
            //= End form =
            ='\n'
        //= end tenats =
        ='\n'

    #applicationForAdvertising.tab__content
        = '\n'
        //= Breadcrumbs =
        .breadcrumbs.hide-md-min
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href='#') Головна

                li.breadcrumbs__item.breadcrumbs__item--last Орендарям

            h1.breadcrumbs__title Заявка на розміщення реклами
        //= End breadcrumbs =
        = '\n'

        .clearfix.hide-md-min

        //= Tenats =
        .tenants
            = '\n'
            //= Form =
            form.main-form(action='' method='post')
                .main-form__content
                    .main-form__box
                        .main-form__field
                            .main-form__title Прізвище та ім'я
                            input.main-form__text(type='text')
                            .main-form__error Ошибка

                        .main-form__field
                            .main-form__title Електронна пошта
                            input.main-form__text(type='text' placeholder='zlata plaza@com.ua')


                        .main-form__field
                            .main-form__title На який термін плануєте розмістити рекламу?
                            input.main-form__text(type='text')

                        .main-form__field
                            .main-form__title Оренда рекламних площин
                            .main-form__contacts
                                a.main-form__contactsLink(href='mailto:marketing@zlata-plaza.com.ua') marketing@zlata-plaza.com.ua
                                br
                                a.main-form__contactsPhone.hide-xs-min(href='tel:0504355115') (050) 435 51 15
                                span.hide-mb-max (050) 435 51 15

                        .main-form__field
                            a.main-form__link.main-form__link--pdf(href='#') Завантажити детальну презентацію
                                span.main-form__link-name ТРЦ "ЗЛАТА ПЛАЗА"

                        .main-form__field
                            a.main-form__link.main-form__link--video(href='#') Переглянути відео про
                                span.main-form__link-name ТРЦ "ЗЛАТА ПЛАЗА"

                    .main-form__box
                        .main-form__field
                            .main-form__title Телефон
                            input.main-form__text(type='text' placeholder='Наприклад: +3 096 123-45-67')

                        .main-form__field
                            .main-form__title Що саме ви плануєте рекламувати (тм, група товару)?
                            input.main-form__text(type='text')

                        .main-form__field
                            .main-form__title Документи

                            .main-form__upload
                                label
                                    input.main-form__upload-input(type='file')
                                    .main-form__upload-button Додати файл

                                .main-form__upload-text

                            .main-form__note Прикріпіть до заявки презентацію вашого магазину або бренду

                    .main-form__box
                        button.main-form__button Відправити запит
            //= End form =
            = '\n'
        //= end tenats =
        = '\n'
= '\n'
