= '\n'
//= Footer phone =
//-=(/assets/css/layout/_footerInfo.scss)=
.footerPhone

    ul.footerInfo__phone
        li
            p Телефони
        li
            a(href='tel:+380362262345') (0362) 26-23-45
        li
            a(href='tel:+380505215059') (050) 521-50-59
        li
            a(href='tel:+380956290700') (095) 629-07-00

    ul.footerInfo__fax
        li
            p тел./факс:
        li
            a.fax(href='tel:+380362636182') (0362) 63-61-82

//= End Footer phone =
= '\n'
