#layout {
    position: relative;
    min-width: 320px;
    min-height: 100%;
    overflow: hidden;
}

#header {
    position: relative;
}

#nav {
    position: relative;
    margin: 0 0 30px;
    background: $brandInfo;
}

#main {
    position: relative;
    margin: 0 0 60px;
}

#footer {
    //position: relative;
    //overflow: hidden;
    min-width: 320px;
}

@media (max-width: $screenMbMax) {
    .hide-mb-max {
        display: none !important;
    }
}

@media (min-width: $screenXsMin) {
    .hide-xs-min {
        display: none !important;
    }
}

@media (max-width: $screenXsMax) {
    .hide-xs-max {
        display: none !important;
    }
}

@media (min-width: $screenSmMin) {
    .hide-sm-min {
        display: none !important;
    }
}

@media (max-width: $screenSmMax) {
    .hide-sm-max {
        display: none !important;
    }
}

@media (min-width: $screenMdMin) {
    .hide-md-min {
        display: none !important;
    }
}

@media (max-width: $screenMdMax) {
    .hide-md-max {
        display: none !important;
    }
}

@media (min-width: $screenLgMin) {
    .hide-lg-min {
        display: none !important;
    }
}

@media (max-width: $screenLgMax) {
    .hide-lg-max {
        display: none !important;
    }
}

@media (min-width: $screenXlMin) {
    .hide-xl-min {
        display: none !important;
    }
}
