= '\n'
//= Logo =
//-=(layout/header/logo/_logo.scss)=
.logo

    if (pageTitle == 'main')
        img(src='assets/images/header/logoh.svg' alt='')

    else
        a.logo__link(href='index.html')
            img(src='assets/images/header/logoh.svg' alt='')
//= End logo =
= '\n'
