include vars/_variable.pug

= '\n'
//= Order-inner =

.order-inner
    .order-inner__breadcrumb
        - breadcrumbs = ['Профиль', 'Мои заказы', 'Заказ #537416']

        include ../../../../module/breadcrumbs/_breadcrumbs.pug

    h1.order-inner__title Заказ #645416 от 16.03.2019

    .order-inner__info

        each item in orderInnerInfoItem
            .order-inner__info-item
                each elem in item.row
                    .order-inner__info-row= elem.title
                        b= elem.span
    
    - cartRowClass = (cartEdit == true) ? 'cart__row--edit' : ''

    .order-inner__list

        - for (var i = 0; i < 2; i++)
            = '\n'
            //= Cart =
            .cart
                .cart__item
                    .cart__itemRow
                        .cart__itemContainer.cart__itemContainer--left
                            a.cart__image(href='javascript:void(0);')
                                img(src='data/cart/image.jpg' alt='')

                        .cart__itemContainer.cart__itemContainer--fixedLeft
                            .cart__itemContainerInner
                                .cart__row.cart__row--main
                                    .cart__itemRow
                                        .cart__itemContainer.cart__itemContainer--right
                                            .cart__content.cart__content--amount
                                                .cart__contentInner
                                                    .cart__amount
                                                        span.cart__amountText Цена: 2560 грн
                                                        span.cart__amountValue x2

                                            .cart__content.cart__content--left.cart__content--price
                                                .cart__contentInner
                                                    .cart__price Итого:
                                                        span 6 120
                                                        |грн


                                        .cart__itemContainer.cart__itemContainer--fixedRight
                                            .cart__content
                                                .cart__contentInner
                                                    .cart__title
                                                        a.cart__titleLink(href='javascript:void(0);') Samsung J710H Galaxy J7 (Black)
                                                        div
                                                            small код товара: 20640
            //= End cart =
            = '\n'

    .order-inner__total
        ul.order-inner__total-list
            each item in orderInnerTotalList
                li.order-inner__total-item= item.title
                    b= item.sum
                        span грн.
        form(action='' method='')
            .form-group
                label.control-label
                input.form-control(type='text' value='138 999 грн.')
                .help-block
            .form-group
                button.form-control.button.button--buy(type='submit') 
                    span.button__text Оформить заказ

//= End order-inner =
= '\n'