include vars/_variable.pug

= '\n'
//= Map zlata =
a.map-zlata(href='#')
    img(src='assets/images/content/bg/zlata-plaza.png' alt='')

    .map-zlata__text.map-zlata__text--right.map-zlata__text--1 Відвідувачів у рік - 4 100 100
        br
        | Загальна площа - 20 000 м2

    .map-zlata__text.map-zlata__text--left.map-zlata__text--2 Всього магазинів - 183
        br
        | Мережеві оператори - 58

    .map-zlata__text.map-zlata__text--right.map-zlata__text--3 Пішохідні потоки - 50 000 щодня
        br
        | Транспортні потоки - 6500 щодня
//= End map zlata =
= '\n'
