.header-phone {

    &__link {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a,p {
            display: none;
            align-items: center;
            
            i {
                padding-left: 9px;
                font-style: normal;
                font-weight: 600;
                font-size: $fontSize16;
                text-transform: uppercase;
                color: $brandPrimary;
            }
        }

        a {
            text-decoration: none;


            &:hover {
                text-decoration: underline;
            }

        }

        a.header-phone-mob {
            display: flex;
        }
    }

    //768px
    @media (min-width: $screen_M_Min) {
        &__link {

            a {
                display: flex;
            }

            a.header-phone-mob {
                display: none;
            }
        }
    }

    //1024px
    @media (min-width: $screen_L_Min) {
        &__link {

            a {
                display: none;
            }

            p {
                display: flex;
            }
        }
    }
}
