.complaint {
    background: $brandSuccess;
    padding-bottom: 22px;

    &__title {
        text-align: center;
        margin-bottom: 18px;

        .title__block {
            font-size: 26px;
            line-height: 48px;
            color: $base;
            padding: 33px 0 14px;
        }

        p {
            font-size: 20px;
            line-height: 24px;
            color: $base;
            margin: 0;
            padding: 0 0 20px;
        }

        span {
            font-size: 14px;
            line-height: 23px;
            color: $base;
        }
    }

    &__wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__icon {
        width: (510 / 1500) * 100%;
        position: relative;
        display: none;

        .icon-24hours {
            position: absolute;
            left: 0;
            top: -96px;
        }

        .icon-charity {
            position: absolute;
            right: 23px;
            top: -27px;
        }

        .icon-charityb {
            position: absolute;
            left: 124px;
            bottom: -2px;
        }
    }

    &__form {
        width: 100%;
    }

    //768px
    @media (min-width: $screen_M_Min) {

        &__title {
    
            .title__block {
                font-size: 36px;
                line-height: 48px;
            }
    
            p {
                font-size: 22px;
                line-height: 24px;
            }
    
            span {
                font-size: 16px;
                line-height: 23px;
            }
        }

        &__form {
            width: 80%;
        }
    }

    //1080px
    @media (min-width: $screen_L_Min) {

        &__title {
    
            .title__block {
                font-size: 48px;
                line-height: 48px;
            }
    
            p {
                font-size: 24px;
                line-height: 24px;
            }
    
            span {
                font-size: 18px;
                line-height: 23px;
            }
        }

        &__wrap {
            justify-content: space-between;
        }

        &__icon {
            display: block;

            .icon-24hours {
                width: 140px;
                height: 140px;
            }

            .icon-charity {
                width: 140px;
                height: 140px;
                top: -2px;
            }

            .icon-charityb {
                width: 140px;
                height: 140px;
            }
        }

        &__form {
            width: (990 / 1500) * 100%;
        }
    }

    @media (min-width: 1300px) {
        &__icon {

            .icon-24hours {
                top: -161px;
                width: 180px;
                height: 180px;
            }

            .icon-charity {
                width: 180px;
                height: 180px;
                top: -27px;
            }

            .icon-charityb {
                width: 180px;
                height: 180px;
            }
        }
    }
}
