.logo {
    position: relative;
    width: 86px;
    height: 48px;

    .icon-logo-paint {
        position: absolute;
        top: -2px;
        left: 0;
    }

    .icon-logo-text {
        position: absolute;
        left: 29px;
        top: -1px;
    }

    .icon-logo-comma {
        position: absolute;
        bottom: 2px;
        right: -1px;
    }

    //1080px
    @media (min-width: $screen_L_Min) {
        width: 168px;
        height: 95px;
    }
}
