.logo32x32 {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        margin-right: 10px;

        svg {
            path {
                fill: black;
            }
        }
    }

    &__text {
        font-size: 12px;
        line-height: 1;
        text-align: left !important;
        white-space: nowrap;
        color: black;

        a {
            color: inherit;
        }
    }
}