.pharmacies {

    &__title {
        border: 4px dashed $brandPrimary;
        //height: 105px;
        position: relative;
        cursor: pointer;

        &:before {
            content: attr(data-description);
            box-sizing: border-box;
            display: block;
            background: rgba(130, 77, 255, .8);
            color: white;
            padding: 10px 15px;
            position: absolute;
            left: 50%;
            top: 76px;
            margin-left: -80px;
            width: 160px;
            height: 44px;
            line-height: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: .25s ease-in-out;
            font-size: $fontSize14;
            text-align: center;
            box-shadow: 1px -1px 7px -1px rgba(0, 0, 0, 0.6);
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 120px;
            left: 50%;
            margin-left: -8px;
            height: 0;
            width: 0;
            transition: .25s ease-in-out;
            opacity: 0;
            border-style: solid;
            border-width: 8px 8px 0 8px;
            border-color: rgba(130, 77, 255, .8) transparent transparent transparent;
        }
    }

    &__wrap {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: center;

        .title__block {
            font-size: 16px;
            line-height: 18px;
            text-transform: uppercase;
            color: $brandPrimary;
            padding: 5px 0 0;
            width: 67%;
        }

        .icon-apl,
        .icon-apr {
            display: none;
        }

        .icon-apr {
            position: relative;
            top: -8px;
        }
    }

    &__inner {
        display: flex;
        //height: 72px;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        .icon-arrowss {
            margin: 0 10px;
        }

        .arrow-8 {
            position: relative;
            width: 26px;
            height: 26px;
            margin: 0 10px;

            &:before,
            &:after {
                content: '';
                position: absolute;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                background: url(../images/arrows.svg) no-repeat center;
                // border-left: 2px solid $brandPrimary;
                // border-bottom: 2px solid $brandPrimary;
            }

            &:before {
                transform: translate(26px, 106px);
                transform: translate(0, 8px);
                animation: arrow-8 2s linear infinite;
            }

            &:after {
                transform: translate(53px, 0px);
                transform: translate(0, 0px);
                animation: arrow-8 2s linear infinite -.5s;
            }
        }
    }

    &__map {
        display: none;
    }

    //480px
    // @media (min-width: $screen_XS_Min) {


    //     &__title {
    //         border: 4px dashed $brandPrimary;
    //         height: 80px;
    //     }

    // }

    //768px
    @media (min-width: $screen_M_Min) {

        &__wrap {

            .title__block {
                font-size: 20px;
                width: 80%;
                font-size: 24px;
                line-height: 31px;
            }
        }
    }

    //1080px
    @media (min-width: $screen_L_Min) {

        &__title {
            border: 4px dashed $brandPrimary;
            height: 80px;

            &:hover {

                &:before,
                &:after {
                    opacity: 1;
                }

                &:before {
                    top: -25px;
                }

                &:after {
                    top: 19px;
                }
            }
        }

        &__wrap {
            justify-content: space-between;

            .title__block {
                width: auto;
                font-size: 20px;
            }

            .icon-apl,
            .icon-apr {
                display: block;
            }
        }

        &__inner {
            justify-content: space-between;
            //height: auto;
        }
    }

    //1200px
    @media (min-width: $screen_XL_Min) {

        &__wrap {

            .title__block {
                font-size: 24px;
            }
        }
    }
}

@keyframes arrow-8 {
    0% {
        opacity: 0;
        transform: translate(-13px, -53px);
        transform: translate(0, -15px);
    }

    10%,
    90% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        // border-left: 2px solid #337AB7;
        // border-bottom: 2px solid #337AB7;
        transform: translate(-13px, 0px);
        transform: translate(0, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(-13px, 53px);
        transform: translate(0, 15px);
    }
}
