.primary-menu {

    &__inner {
        display: flex;
        justify-content: center;
        //align-items: center;

        li {
            margin: 0 8px;
            position: relative;


            a {
                text-decoration: none;
                top: -2px;
                font-size: $fontSize16;
                color: $linkColor;
                transition: all .2s ease-out;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    //1200px    
    @media (min-width: $screen_XL_Min) {
        margin-right: 20px;

        ul.primary-menu__inner {

            li {
                margin: 0 10px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: $fontSize16;
                }
            }
        }
    }
}
