.reviews {
    margin: 0 0 60px;

    .title__block {
        text-transform: uppercase;
        padding: 50px 0 60px;
    }

    &__main {
        padding: 0 0 50px;
    }

    &__item {
        height: 100%;
        align-self: stretch;
        //padding: 4px 15px;

        &-inner {
            position: relative;
            border: 5px solid $brandPrimary;
            border-radius: 10px;
            width: (1270 / 1500) * 100%;
            margin: 0 auto;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.2);
            }
        }
    }

    &__name {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        padding: 10px 0 0;
    }

    &__disease {
        font-size: $fontSize14;
        line-height: 23px;
        text-align: center;
        padding: 1px 0 5px;
    }

    &__line {
        position: relative;
        text-align: center;
        height: 20px;

        &::before,
        &::after {
            content: '';
            border: 1px dashed #8C53FF;
            position: absolute;
            width: 70px;
            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            left: calc(50% + 30px);
        }

        &::after {
            right: calc(50% + 30px);
        }
    }

    &__info {
        position: relative;

        &-text {
            font-size: $fontSize14;
            line-height: 23px;
            //padding: 15px 25px;
            padding: 15px 25px 42px;
        }
    }

    //600px 
    @media (min-width: $screen_S_Min) {

        &__main {
            padding: 0;
        }

        &__line {

            &::before,
            &::after {
                width: 100px;
            }
        }
    }

    //768px
    @media (min-width: $screen_M_Min) {

        &__name {
            font-size: 26px;
            line-height: 36px;
        }

        &__disease {
            font-size: $fontSize16;
            line-height: 23px;
        }

        &__info {

            &-text {
                font-size: $fontSize16;
                line-height: 23px;
            }
        }
    }

    //1080px
    @media (min-width: $screen_L_Min) {

        &__name {
            font-size: 28px;
            line-height: 36px;
        }

        &__disease {
            font-size: $fontSize18;
            line-height: 23px;
        }

        &__info {

            &-text {
                font-size: $fontSize18;
                line-height: 23px;
            }
        }
    }
}
