.slick {
    &-slider {
        position: relative;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        outline: none;

        -ms-touch-action: pan-y;
            touch-action: pan-y;

        a {
            outline: none;
        }
    }

    &-list {
        position: relative;
        overflow: hidden;
        height: inherit;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }

    &-slider {
        .slick {
            &-track,
            &-list {
                transform: translate3d(0, 0, 0);
                margin: 0 auto;
            }
        }
    }

    &-track {
        position: relative;
        top: 0;
        left: 0;
        height: inherit;
        outline: none;

    }

    &-loading {
        .slick {
            &-track {
                visibility: hidden;
            }

            &-slide {
                visibility: hidden;
            }
        }
    }

    &-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
        outline: none;

        &.slick {
            &-loading {
                img {
                    display: none;
                }
            }
        }

        &.dragging {
            img {
                pointer-events: none;
            }
        }
    }

    &-initialized {
        .slick {
            &-slide {
                display: block;
            }
        }
    }

    &-vertical {
        .slick {
            &-slide {
                display: block;
                height: auto;
            }
        }
    }

    &-arrow {
        position: absolute;
        border: 0;
        z-index: 2;
        cursor: pointer;
        background-color: transparent;
        width: 33px;
        height: 64px; 
        padding: 0;
        top: 100%;
        transform: translateY(-50%);
    }

    &-prev {
        left: calc(50% - 40px);
        background: url(../images/arrl.svg) no-repeat center center; 

    }

    &-next {
        right: calc(50% - 40px);
        background: url(../images/arrr.svg) no-repeat center center; 
    }

    &-dots {

        position: absolute;
        z-index: 1;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 16px;
        text-align: left;

        li {
            display: inline-block;
            margin: 0 10px 0 0;

            &:last-child {
                margin-right: 0;
            }

            &.slick {
                &-active {
                    button {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        button {
            position: relative;
            width: 16px;
            height: 16px;
            padding: 0;
            border: 2px solid $brandSuccess;
            outline: none;
            background: transparent;
            overflow: hidden;
            cursor: pointer;
            transition: all .2s linear;
            text-indent: -200em;
            outline: none;

            &:hover {
                &:before {
                    opacity: 1;
                }
            }

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                margin: -4px 0 0 -4px;
                content: '';
                transition: opacity .2s ease-out;
                opacity: 0;
                background: $brandSuccess;
            }
        }
    }
    //600px 
    @media (min-width: $screen_S_Min) {

        &-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    
        &-prev {
            left: 0;
        }
    
        &-next {
            right: 0;
        }
    }
}
