//- SHOP
//------------------------------------------------

-
    var shopFeature = [
        {
            class: 'type',
            link: true,
            text: ['Одяг', 'Джинсы']
        },
        {
            class: 'phone',
            phone: true,
            text: '+38 (0362) 222-83-42',
            tel: '+3803622228342'
        },
        {
            class: 'time',
            text: 'ПН-НД: 10:00 - 24:00'
        },
        {
            class: 'email',
            link: true,
            text: 'http://milavitsa.com.ua/'
        },
        {
            class: 'floor',
            text: '1 этаж'
        }
    ]

    var shopMenu = [
        {
            class: 'type1',
            title: 'Жіночий одяг',
            count: '29'
        },
        {
            class: 'type2',
            title: 'Чоловічий одяг',
            count: '12'
        },
        {
            class: 'type3',
            title: 'Дитячий одяг та товари',
            count: '7'
        },
        {
            class: 'type4',
            title: 'Взуття',
            count: '3'
        },
        {
            class: 'type1',
            title: 'Аксесуари',
            count: '16'
        },
        {
            class: 'type3',
            title: 'Косметика і парфумерія',
            count: '14'
        },
        {
            class: 'type5',
            title: 'Для дому',
            count: '6'
        },
        {
            class: 'type1',
            title: 'Електроніка',
            count: '9'
        },
        {
            class: 'type2',
            title: 'Білизна',
            count: '5'
        },
        {
            class: 'type1',
            title: 'Подарунки та сувеніри',
            count: '9'
        },
        {
            class: 'type3',
            title: 'Гастрономія',
            count: '10'
        }
    ]
