//- SHOP
//------------------------------------------------

$shop__baseFontSize:                $fontSizeBase !default;

$shop__slickBorderColor:            #e6007e !default;
$shop__slickBorderColor2:           #f7a600 !default;
$shop__slickBorderColor3:           #d2072a !default;

$shop__infoTextFontSize:            $fontSizeH4 !default;
$shop__infoTextColor:               #d2072a !default;
$shop__infoBackgroundColor:         rgba(235, 235, 235, 0.75) !default;

$shop__infoButtonTextFontSize:      24px !default;
$shop__infoButtonTextColor:         #f7a600 !default;
$shop__infoButtonBackgroundColor:   #fbeef5 !default;

$shop__menuTextFontSize:            $fontSizeH4 !default;
$shop__menuBackgroundColor:         #fbeef5 !default;
$shop__menuBackgroundColor--active: $base !default;

$shop__menuTypeColor1:              #e6007e !default;
$shop__menuTypeColor2:              #d2072a !default;
$shop__menuTypeColor3:              #b24493 !default;
$shop__menuTypeColor4:              #f7a600 !default;
$shop__menuTypeColor5:              #ed6939 !default;

$shop__descriptionTextFontSize:     $fontSizeH4 !default;
$shop__descriptionTextColor:        #7a7a7a !default;

$shop__bottomBackgroundColor:       #fbeef5 !default;

$shop__shareTitleFontSize:          $fontSizeH1 !default;
$shop__shareTitleColor:             #f72498 !default;
$shop__shareNameColor:              #313131 !default;
$shop__shareDateColor:              #b2b2b2 !default;
$shop__shareDescriptionFontSize:    $fontSizeH4 !default;
$shop__shareDescriptionColor:       #7a7a7a !default;
