.layout {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    flex-grow: 1;
    flex-shrink: 0;

    main {
        padding: 75px 0 0;
    }

    h1 {
        font-size: 28px;
    }

    &--minimal {
        display: flex;
        flex-direction: column;
        background: $base;

        .container {
            max-width: 100%;
            padding: 0;
        }

        .header {
            background: transparent;
            box-shadow: none;

            &__wrapper {
                justify-content: center;
            }

            &__menu {
                display: none;
            }

            .logo {
                span {
                    display: none !important;
                }
            }

            .city {
                display: none;
            }
        }

        .layout {
            &__box {
                height: 100%;
            }
        }
    }

    .link {
        font-weight: 600;
        font-size: $fontSizeBase;
        line-height: 24px;
        border-bottom: 1px dashed;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &--catalog {
        .container {
            max-width: 100%;
        }

        .header {
            &__wrapper {

                .city {
                    margin: 0 auto 0 64px;
                }
            }
        }
    }

    @media (min-width: $screen_L_Min) {

        main {
            padding: 89px 0 0;
        }

        h1 {
            font-size: $fontSizeH2;
        }

        &--minimal {
            height: 100%;
        }

        &--catalog {
            .container {
                max-width: 100%;
                padding-left: 0;
            }
        }
    }
}

#footer {
    position: relative;
    min-width: 320px;
    flex-shrink: 0;
}



