.nav {
    position: relative;
    margin: 0 10px 0 0;

    &__list {
        position: relative;
        display: flex;
        align-items: center;

        &-item {
            padding: 0 30px;

            a {
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                white-space: nowrap;
                font-size: $fontSizeSmall;
                line-height: 18px;
                letter-spacing: 0.1em;
                color: $brandDarkBlack;
                transition: all .3s;

                &:hover {
                    color: $brandPrimary;
                }
            }

            &.active {
                a {
                    color: $brandPrimary;
                }
            }
        }
    }
}