//= Company =
.logo32x32
    span.logo32x32__text Разработан:
    a.logo32x32__image(href='http://32x32.com.ua/')
        img(src='assets/images/footer/32x32.png' alt='Компания 32x32')
//= End company =
= '\n'
