mixin footerSocnet(className)
    if (className != '')
        - var name = className
    else
        - var name = ''

    //= Socnet =
    ul.socnet(class=name)
        each val in socnet
            li.socnet__item
                a.socnet__link(href='#' class='socnet__link--' + val)
                .socnet__drop
                    img(src='data/vk.png' alt='' style='max-width: none;')
    //= End cocnet =
    = '\n'
