include vars/_variable.pug
-
    micromarking                    = true

    itemscope                       = (micromarking) ? true : false
    itemprop                        = (micromarking) ? 'organization' : false
    itemtype                        = (micromarking) ? 'http://schema.org/Organization' : false

    itempropEmail                   = (micromarking) ? 'email' : false
    itempropTel                     = (micromarking) ? 'telephone' : false

    itempropBrand                   = (micromarking) ? 'brand' : false
    itempropBrandContent            = (micromarking) ? 'patifon.ua' : false
    itempropHours                   = (micromarking) ? 'openingHours' : false
= '\n'
//= Contacts =
.contacts
    .contacts__info(itemscope= itemscope itemprop= itemprop itemtype= itemtype)
        meta(itemprop= itempropBrand content= itempropBrandContent)
        .row
            .contacts__item.contacts__item--phone
                .contacts__itemInner
                    .contacts__title Телефоны

                    .contacts__content

                        .contacts__contentCol
                            .contacts__contentItem(itemprop= itempropTel)
                                strong (099)
                                |  453-40-40

                            .contacts__contentItem(itemprop= itempropTel)
                                strong (098)
                                |  453-40-40

                            .contacts__contentItem(itemprop= itempropTel)
                                strong (063)
                                |  453-40-40

                        .contacts__contentCol
                            .contacts__contentItem.contacts__contentItem--viber(itemprop= itempropTel)
                                strong (063)
                                |  453-40-40


            .contacts__item.contacts__item--call
                .contacts__itemInner
                    .contacts__title Call-центр

                    .contacts__content
                        .contacts__contentCol(itemscope itemtype='http://schema.org/CivicStructure')
                            .contacts__contentItem(itemprop= itempropHours)
                                strong Пн-Пт:
                                |  09:00-21:00

                            .contacts__contentItem(itemprop= itempropHours)
                                strong Сб-Вс:
                                |  10:00-20:00

                            .contacts__contentItem
                                a.contacts__contentLink(href='#') Перезвонить мне

            .contacts__item.contacts__item--email
                .contacts__itemInner
                    .contacts__title Email

                    .contacts__content
                        .contacts__contentCol
                            .contacts__contentItem
                                a.contacts__contentLink.contacts__contentLink--email(itemprop= itempropEmail
                                href='mailto:testpatifon@gmail.com') testpatifon@gmail.com

    .row
        .contacts__container.contacts__container--right
            .contacts__address
                .contacts__addressTitle Адреса

                .contacts__addressSection
                    .contacts__addressItem(itemscope itemprop= 'address' itemtype= 'http://schema.org/PostalAddress')
                        .contacts__addressItemTitle Адрес
                        .contacts__addressItemContent(itemprop= 'streetAddress') г. Ровно, вул. Словацького 4/6 офис 220

                    .contacts__addressItem(itemscope= itemscope itemprop= itemprop itemtype= itemtype)
                        .contacts__addressItemTitle Телефоны
                        .contacts__addressItemContent(itemprop= itempropTel) (067) 674-47-28
                            br
                            | (098) 453-40-40

                    .contacts__addressItem(itemscope itemtype='http://schema.org/CivicStructure')
                        .contacts__addressItemTitle График работы
                        .contacts__addressItemContent(itemprop= itempropHours) Пн-Пт: 09:00-21:00
                            br
                            | Сб-Вс: 10:00-20:00

                .contacts__addressSection
                    .contacts__addressItem(itemscope itemprop= 'address' itemtype= 'http://schema.org/PostalAddress')
                        .contacts__addressItemTitle Адрес
                        .contacts__addressItemContent(itemprop= 'streetAddress') Ровенская область, Ровно, ул. Соборная 17

                    .contacts__addressItem(itemscope= itemscope itemprop= itemprop itemtype= itemtype)
                        .contacts__addressItemTitle Телефоны
                        .contacts__addressItemContent(itemprop= itempropTel) (067) 674-47-28
                            br
                            | (098) 453-40-40
                            br
                            | (063) 874-77-28

                    .contacts__addressItem(itemscope= itemscope itemprop= itemprop itemtype= itemtype)
                        .contacts__addressItemTitle Email
                        .contacts__addressItemContent
                            a.contacts__addressItemLink(itemprop= itempropEmail href='mailto:testmail@gmail.com') l@gmail.com

        .contacts__container.contacts__container--content
            .contacts__map
                img(src='data/contacts/map.jpg' width='100%' height='100%' alt='')
//= End contacts =
= '\n'
-
    micromarking                    = false
