@import 'vars/_variable.scss';

.contacts {
    position: relative;

    &__info {
        position: relative;
        margin: 0 0 20px;
    }

    &__item {
        position: relative;
        padding: 0 15px;

        &Inner {
            position: relative;
            padding: 0 0 0 85px;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 70px;
                height: 70px;
                content: '';
                border: 1px solid $contacts__borderColor;
                border-radius: 50px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &--phone {
            .contacts {
                &__item {
                    &Inner {
                        &:before {
                            background-image: url('../images/content/icon/phone.png');
                        }
                    }
                }
            }
        }

        &--call {
            .contacts {
                &__item {
                    &Inner {
                        &:before {
                            background-image: url('../images/content/icon/call.png');
                        }
                    }
                }
            }
        }

        &--email {
            .contacts {
                &__item {
                    &Inner {
                        &:before {
                            background-image: url('../images/content/icon/email.png');
                        }
                    }
                }
            }
        }
    }

    &__title {
        font-size: $contacts__titleTextFontSize;
        font-weight: 700;
        line-height: (24px / $contacts__titleTextFontSize);
        position: relative;
        margin: 0 0 5px;
        color: $contacts__titleTextColor;
    }

    &__content {
        position: relative;

        &Col {
            position: relative;
        }

        &Item {
            position: relative;
            margin: 0 0 5px;

            &--viber {
                &:before {
                    position: relative;
                    display: inline-block;
                    width: 20px;
                    height: 22px;
                    margin: 0 10px 0 0;
                    content: '';
                    vertical-align: middle;
                    background: url('../images/content/icon/viber.png') no-repeat;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &Link {
            &--email {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__container {
        position: relative;
        padding: 0 15px;
    }

    &__address {
        position: relative;
        padding: 0 0 0 85px;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 70px;
            height: 70px;
            content: '';
            background: url('../images/content/icon/address.png') no-repeat;
        }

        &Title {
            font-size: $contacts__addressTitleTextFontSize;
            font-weight: 700;
            line-height: (30px / $contacts__addressTitleTextFontSize);
            position: relative;
            margin: 0 0 10px;
        }

        &Section {
            position: relative;
            margin: 0 0 31px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &Item {
            position: relative;
            margin: 0 0 11px;

            &:last-child {
                margin-bottom: 0;
            }

            &Title {
                font-size: $contacts__addressItemTitleTextFontSize;
                font-weight: 700;
                position: relative;
                text-transform: uppercase;
                color: $contacts__addressItemTitleTextColor;
            }

            &Content {
                position: relative;
            }

            &Link {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__map {
        position: relative;
        height: 500px;
    }

    @media (max-width: 1199px) {
        &__item {
            min-height: 70px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__address {
            margin-bottom: 20px;

            &:before {
                border: 1px solid $contacts__borderColor;
                border-radius: 50px;
                background-position: center;
            }
        }
    }

    @media (min-width: 1200px) {
        &__info {
            margin-bottom: 40px;
        }

        &__item {
            float: left;
            width: 33.333334%;
        }

        &__container {
            &--right {
                float: right;
            }

            &--content {
                overflow: hidden;
            }
        }

        &__address {
            width: 360зч;
            padding-left: 50px;

            &:before {
                width: 33px;
                height: 33px;
            }
        }
    }

    @media (max-width: $screenLgMax) {
        &__content {
            &Col {
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &Item {
                &--viber {
                    margin-left: -34px;
                }
            }
        }
    }

    @media (min-width: $screenXlMin) {
        &__content {
            &Col {
                float: left;
                width: 50%;
            }

            &Item {
                &--viber {

                }
            }
        }
    }
}
