include vars/_variable.pug

= '\n'
//= Phone =
-
    micromarking                    = true

    itemscope                       = (micromarking) ? true : false
    itemprop                        = (micromarking) ? 'organization' : false
    itemtype                        = (micromarking) ? 'http://schema.org/Organization' : false
    itempropTel                     = (micromarking) ? 'telephone' : false


div(itemscope= itemscope itemprop= itemprop itemtype= itemtype)
    span(itemprop= itempropTel) +380994534040
    span(itemprop= itempropTel) +380984534040
    span(itemprop= itempropTel) +380934534040
.phone
    .phone__container
        .phone__item(itemprop= itempropTel) (099) 453 40 40
        .phone__item(itemprop= itempropTel) (098) 453 40 40
        .phone__item(itemprop= itempropTel) (093) 453 40 40

    a.phone__button(href='#') Перезвонить мне
//= End phone =
= '\n'
-
    micromarking                    = false
