@import 'vars/_variable.scss';

.tab {
	&-menu {
		&--main {
			margin: 7px 0 -2px;

			.tab {
				&-item {
					margin: 0 10px 0 0;

					&:last-child {
						margin-right: 0;
					}

					&.active {
						.tab {
							&-link {
								color: inherit;
							}
						}
					}
				}

				&-link {
					line-height: (27px / $tab__baseFontSize);
					padding: 0 10px 1px;
					border-radius: (27px / 2);
					background: $tab__menuBackgroundColor;

					&:hover {
						color: inherit;
					}
				}
			}
		}

		&--product {
			line-height: 1;
			text-transform: uppercase;
			border-bottom: 1px solid $tab__menuBorderColor;

			.tab {
				&-list {
					margin: -20px -15px 0;
					padding: 0 0 10px;
				}

				&-item {
					margin: 20px 0 0;
					padding: 0 20px;
					border-right: 1px solid $tab__menuBorderColor;

					&:last-child {
						border-right: none;
					}

					&.active {
						.tab {
							&-link {
								//color: inherit;
								color: $brandPrimary;

								&:before {
									right: 0;
									left: 0;
								}
							}
						}
					}
				}

				&-link {
					&:before {
						position: absolute;
						right: 50%;
						bottom: -11px;
						left: 50%;
						height: 2px;
						content: '';
						transition: all .2s linear;
						background: $tab__menuBorderColor--active;
					}

					&:hover {
						color: inherit;

						&:before {
							right: 0;
							left: 0;
						}
					}
				}
			}

			+ .tab {
				&-content {
					margin-top: 30px;
				}
			}

			&Device {
				font-size: $tab__menuTextFontSize;
				line-height: (32px / $tab__menuTextFontSize);
				margin: 0 -15px;

				.tab {
					&-list {
						border-top: 1px solid $tab__menuBorderColor;
					}

					&-item {
						float: none;
						border-bottom: 1px solid $tab__menuBorderColor;

						&:first-child {
							display: none;
						}
					}

					&-link {
						padding: 0 15px;
						color: inherit;
						line-height: 42px;
						position: relative;

						&:before {
							position: absolute;
							content: '';
							width: 15px;
							height: 8px;
							right: 15px;
							top: 50%;
							transform: translateY(-50%);
							background: url(../images/nav/icon/arrow-bottom.png) no-repeat;
						}
					}
				}
			}
		}

		&--account {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 20px 45px;
			flex-shrink: 0;
			width: 300px;

			.tab {
				&-list {
					display: flex;
					flex-direction: column;
					width: 100%;
				}

				&-item {

					&:not(:last-child) {
						margin: 0 0 30px 0;
					}

					&--info {
						.tab {
							&-image {
								&:before,
								&:after {
									width: 13px;
									background-position-x: 0;
								}
							}
						}
					}

					&--wishes {
						.tab {
							&-image {
								&:before,
								&:after {
									width: 14px;
									background-position-x: -14px;
								}
							}
						}
					}

					&--cart {
						.tab {
							&-image {
								&:before,
								&:after {
									width: 14px;
									background-position-x: -30px;
								}
							}
						}
					}

					&--subscribe {
						.tab {
							&-image {
								&:before,
								&:after {
									background-position-x: -45px;
								}
							}
						}
					}

					&--comments {
						.tab {
							&-image {
								&:before,
								&:after {
									width: 17px;
									background-position-x: -61px;
								}
							}
						}
					}

					&--viewed {
						.tab {
							&-image {
								&:before,
								&:after {
									width: 20px;
									background-position-x: -79px;
								}
							}
						}
					}

					&--orders {
						.tab {
							&-image {
								&:before,
								&:after {
									width: 13px;
									background-position-x: -100px;
								}
							}
						}
					}

					&.active {
						.tab {
							&-link {
								color: $brandPrimary;

								span {
									color: $grayLighter;
								}
							}

							&-image {
								&:before {
									opacity: 0;
								}

								&:after {
									opacity: 1;
								}
							}
						}
					}
				}

				&-link {
					position: relative;
					transition: all .2s;
					display: flex;
					align-items: center;
					line-height: 1;

					span {
						color: $grayLighter;
						margin: 0 0 0 6px;
					}

					&:hover {
						color: $brandPrimary;

						span {
							color: $grayLighter;
						}

						.tab {
							&-image {
								&:before {
									opacity: 0;
								}

								&:after {
									opacity: 1;
								}
							}
						}
					}
				}

				&-image {
					position: relative;
					transition: all .2s;
					width: 20px;
					margin: 0 17px 0 0;

					&:before,
					&:after {
						position: absolute;
						content: '';
						width: 15px;
						height: 17px;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						background: url(../images/account/tab-list-sprite.svg) no-repeat;
						transition: all .2s;
					}

					&:before {
						opacity: 1;
					}

					&:after {
						opacity: 0;
						background-position-y: -18px;
					}
				}
			}
		}

		&--noBorder {
			border-bottom: none;
		}
	}

	&-link {
		position: relative;
		display: block;
		transition: all .2s linear;
		text-decoration: none;
		color: inherit;
	}

	&--product {

		.tab {
			&-box {
				&#characteristics,
				&#photo,
				&#video,
				&#accessories,
				&#patifonMaster {

					.details {
						&__container {
							&--right {

								&.foo {
									position: fixed;
									top: 0;
									right: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	&--account {
		display: flex;
		flex-direction: column;
		align-items: center;

		.tab {
			&-content {
				flex-grow: 1;
			}
		}
	}

	&--services {
		//min-height: 460px;
		min-width: 290px;
		width: 100%;
		border: 1px solid $tab__contentBorderColor;
		border-radius: 10px;
		margin: 10px -15px 0;
		padding: 15px 16px 12px;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		background: $base;

		.tab {

			&-menu {

				margin: 20px 0 0;

				&__show {
					text-align: center;
					display: block;
					font-size: 1.2rem;
					font-weight: 700;
				}
			}

			&-box {
				display: none;

				&.active {
					display: flex;
					position: static;
					padding: 0;
				}

				&__image {
					flex-shrink: 0;
					margin: 0 8px 0 0;
					padding: 7px 0 0;
				}

				&__text {
					width: 100%;

					h2 {
						margin: 0 0 8px;
						font-size: $fontSizeBase;
						line-height: 21px;
					}

					p {
						margin: 0 0 6px;
						font-size: $fontSizeSmall;
						line-height: 21px;
					}
				}

				&__price {
					display: flex;
					align-items: center;
					justify-content: space-between;
					max-width: 555px;

					> span {
						font-weight: 700;
						font-size: $fontSizeH6;
						line-height: 21px;
					}

					.button {
						min-height: 28px;
						padding: 0 24px;
						line-height: 12px;
						width: auto;
						font-size: $fontSizeSmall;

						&.applied {
							background: #3bd14e;
							color: $base;
							min-width: 95px;
							position: relative;

							&::before,
							&::after {
								background: none;
							}

							&:hover::before ,
							&::before {
								content: '';
								position: absolute;
								width: 20px;
								height: 15px;
								left: 50%;
								transform: translate(-50%, -50%);
								top: 50%;
								background: url(../images/content/icon/checkboxChecked--large.png) 0 0 no-repeat;
								opacity: 1;
							}

							span {
								display: none;
							}
						}
					}
				}
			}

			&-list {
				display: flex;
				flex-wrap: wrap;
				padding: 0 0 0 5px;
				margin: 0 -5px;
			}

			&-item {
				flex-shrink: 0;
				padding: 0 5px 9px 0;
				width: 33.3334%;

				&.active {

					.tab {
						&-link {
							background: $tab__itemBorderColor;
							color: $base;
						}
					}

					&.applied {
						.tab {
							&-link {
								background: linear-gradient(to bottom, #38d83f, #00a915);
								color: $base;
								border: 1px solid #3bd14e;
							}
						}
					}
				}

				&.applied {
					.tab {
						&-link {
							background: #3bd14e;
							color: $base;
							border: 1px solid #3bd14e;
						}
					}
				}

				&.disabled {
					cursor: default;
					opacity: .5;
				}
			}

			&-link {
				display: flex;
				//width: 82px;
				text-align: center;
				min-height: 48px;
				align-items: center;
				justify-content: center;
				border: 1px solid $tab__itemBorderColor;
				border-radius: 3px;
				color: $grayDark;
				//font-size: $fontSizeH8;
				font-size: 1rem;
				font-weight: 700;
				padding: 0 5px;


			}
		}
	}


	@media (min-width: 375px) {

		&--services {
			min-width: auto;
			margin: 10px auto 0;
		}
	}

	@media (min-width: 768px) {
		&-menu {
			&--account {
				padding: 0 20px;
				border-right: 1px solid $borderColor;
				margin: 0 20px 0 0;
				width: 245px;
			}
		}

		&--account {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	@media (max-width: $screenSmMax) {
		&--product {
			.tab {
				&-box {
					position: fixed;
					z-index: 200;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					overflow: auto;
					padding: 37px 0 0;
					background: $tab__contentBackgroundColor;

					&:first-child {
						position: relative;
						z-index: auto;
						overflow: visible;
						padding: 0;
						background: transparent;
					}

					&Top {
						position: fixed;
						z-index: 1;
						top: 0;
						right: 0;
						left: 0;
						height: 37px;
						border-bottom: 1px solid $tab__menuBorderColor;
						background: $tab__contentBackgroundColor;
					}

					&Back {
						font-size: $tab__menuTextFontSize;
						line-height: (36px / $tab__menuTextFontSize);
						position: relative;
						display: block;
						height: 37px;
						text-align: center;
						text-decoration: none;
						color: $tab__contentBackTextColor;

						&:before {
							position: absolute;
							content: '';
							left: 40%;
							top: 49%;
							transform: translate(-50%, -50%) rotate(135deg);
							transition: all .3s;
							border: solid $tab__contentBackTextColor;
							border-width: 0 1px 1px 0;
							display: inline-block;
							padding: 4px;
						}
					}

					&Content {
						position: relative;
						overflow: auto;
						height: 100%;
						padding: 15px;
					}
				}
			}
		}
	}

	@media (min-width: $screenMdMin) {

		&-menu {
			&--account {
				width: 300px;
			}
		}
	}

	@media (min-width: $screenLgMin) {
		&--services {
			//max-width: 290px;
		}
	}
}
