
= '\n'
// = Callback =

if thanksItem
    .form__thanks
        a.form__close(href='javascript:void(0)')
        img(src='../data/forms/check.png', alt='')
        h1 Спасибо за Ваш коментарий!
        p Коментарий отправлен на медарацию  


else if alfaPopup
    form.form.form--banks(action='' method='')
        a.form__logo(href='javascript:void(0);')
            img(src='data/forms/alfa.png', alt='')
        .form__container
            .form__payment
                .form__payment-inner
                    h2 Расчет кредита
                    .form__product
                        span Товар
                        .form__product-inner
                            .form__product-image
                                img(src='data/forms/product.png', alt='')
                            .form__product-info
                                span.form__product-name Samsung G955F-DS Galaxy S8+ 64GB Orchid Gray
                                //-span.form__product-description Гарантия: 12 месяцев
                                span Стоимость товара для безналичного рассчета c гарантией 12 месяцев =
                                span 9 999 грн
                    .form__loan
                        .form__loan-range
                            label Срок кредита мес.
                                input(type='text' id='term' name='' value='')
                        span.form__loan-duration 4
                            span месяца
                    .form__contribution
                        .form__contribution-item Ежемесячный платеж
                            span 2 549 грн

                .form__consent
                    .form-group
                        label                            
                            input.form-control(type='checkbox' checked) 
                            | Согласен с 
                            a(href='javascript:void(0);') условиями оформления кредита 
                            span *
                        .help-block

                span * поля обязательные к заполнению

            .form__registration

                h2 Оформление кредита

                .form-group.has-error
                    label.control-label Фамилия*
                    input.form-control(type='text' placeholder='Онищенко')
                    .help-block

                .form-group
                    label.control-label Имя*
                    input.form-control(type='password' placeholder='Александр')
                    .help-block

                .form-group
                    label.control-label Контактный телефон*
                    input.form-control(type='password' placeholder='+38 (___) ___-__-__')
                    .help-block

                .form-group
                    label.control-label Идентификационный код*
                    input.form-control(type='password' placeholder='Введите 10 цифр')
                    .help-block

                .form-group
                    label.control-label Email*
                    input.form-control(type='password' placeholder='testpatifon@gmail.com')
                    .help-block

                .form-group
                    button.button.button--buy
                        .button__text Оформить заказ

        .form__benefits
            .form__benefits-item
                .form__benefits-image
                    img(src='data/forms/1.png', alt='')
                p без первоначального взноса
            .form__benefits-item
                .form__benefits-image
                    img(src='data/forms/2.png', alt='')
                p Возможность включить в кредит дополнительные расходы (доставка, сервис и т.д.)
            .form__benefits-item
                .form__benefits-image
                    img(src='data/forms/3.png', alt='')
                p Без посещения банка, кредитный договор доставляется курьерской службой банка
            .form__benefits-item
                .form__benefits-image
                    img(src='data/forms/4.png', alt='')
                p Скорость принятия решения по кредиту в режиме 24/7


else
    form.form.form--popup(action='' method='')
        .form__inner
            a.form__close(href='javascript:void(0)')

            .form__inner-title= formRequest.title
            if callBackItem
                span.form__inner-description= formRequest.description

            if letterItem
                span.form__inner-description= formRequest.description

            each item in formRequest.input
                .form-group(class= 'form-group--' + item.class)
                    if item.hasError
                        input.form-control.has-error(type='text' placeholder= item.placeholder)
                    else
                        input.form-control(type='text' placeholder= item.placeholder)
            if letterItem
                .form-group.form-group--message
                    textarea.form-control(type='text' placeholder='Коментарий')
            if agreementItem
                span.form__inner-agreement Создавая профиль, я принимаю условия
                    a(href='#0') пользовательского соглашения


            .form-group
                button.button= formRequest.button


            if authorizationItem
                .form__checkin
                    a(href='#0') Забыли пароль?
                    a(href='#0') Регистрация
            if agreementItem
                p Также вы можете зарегистрироваться на «Patifon» с помощью учетных записей социальных сетей
                .form__social
                    each item in formAgreementSocialItems
                        a.form__social-item(class='form__social-item--' + item.class href='#0')

// = End callback =
= '\n'