= '\n'
//= Addphoto =

-
    addPhotosItem = [
        'photo1', 'photo2', 'photo3', 'photo4'
    ]
    

.addphoto
    each val in addPhotosItem
        .addphoto__modal
            a.addphoto__link(href='data/product/' + val + '.jpg')
                img.addphoto__link-image(src='data/product/' + val + '.jpg', alt='')
            span.addphoto__modal-remove &times;

//= End addphoto =
= '\n'