//- ITEM
//------------------------------------------------

$newsItem__borderColor:                 $borderColor !default;

$newsItem__categoryTextFontSize:        $fontSizeH7 !default;
$newsItem__categoryArticleTextColor:    #425bf9 !default;
$newsItem__categoryNewsTextColor:       $brandSuccess !default;

$newsItem__DateTextFontSize:            $fontSizeSmall !default;
$newsItem__DateTextColor:               $grayExtraLight !default;

$newsItem__titleTextFontSize:           $fontSizeLarge !default;

$newsItem__textColor:                   $grayExtraLight !default;
