.icon-24hours {
  width: 180px;
  height: 180px;
  fill: #fff;
  stroke: initial;
}
.icon-adress {
  width: 14px;
  height: 20px;
  fill: #fff;
  stroke: initial;
}
.icon-apl {
  width: 44px;
  height: 56px;
  fill: #824DFF;
  stroke: initial;
}
.icon-apr {
  width: 49px;
  height: 72px;
  fill: #824DFF;
  stroke: initial;
}
.icon-arrowss {
  width: 26px;
  height: 23px;
  fill: #8C53FF;
  stroke: initial;
}
.icon-bl21 {
  width: 101px;
  height: 100px;
  fill: #FF5312;
  stroke: #FF5312;
}
.icon-bl22 {
  width: 100px;
  height: 100px;
  fill: initial;
  stroke: #FF5312;
}
.icon-bl23 {
  width: 101px;
  height: 100px;
  fill: #FF5312;
  stroke: #FF5312;
}
.icon-bl24 {
  width: 101px;
  height: 100px;
  fill: #FF5312;
  stroke: #FF5312;
}
.icon-bl25 {
  width: 101px;
  height: 100px;
  fill: #FF5312;
  stroke: #FF5312;
}
.icon-bl26 {
  width: 101px;
  height: 100px;
  fill: #FF5312;
  stroke: #FF5312;
}
.icon-charity {
  width: 180px;
  height: 180px;
  fill: #fff;
  stroke: initial;
}
.icon-charityb {
  width: 180px;
  height: 180px;
  fill: #fff;
  stroke: initial;
}
.icon-cross {
  width: 21px;
  height: 20px;
  fill: #8C53FF;
  stroke: initial;
}
.icon-facebook {
  width: 10px;
  height: 21px;
  fill: #fff;
  stroke: initial;
}
.icon-ic {
  width: 24px;
  height: 37px;
  fill: #FF5312;
  stroke: initial;
}
.icon-instagram {
  width: 21px;
  height: 20px;
  fill: #fff;
  stroke: initial;
}
.icon-logo-comma {
  width: 25px;
  height: 36px;
  fill: #fff;
  stroke: initial;
}
.icon-logo-paint {
  width: 24px;
  height: 25px;
  fill: #fff;
  stroke: initial;
}
.icon-logo-text {
  width: 113px;
  height: 84px;
  fill: #010202;
  stroke: initial;
}
.icon-logo {
  width: 169px;
  height: 95px;
  fill: #fff;
  stroke: initial;
}
.icon-mail {
  width: 18px;
  height: 12px;
  fill: #fff;
  stroke: initial;
}
.icon-phone {
  width: 18px;
  height: 18px;
  fill: #fff;
  stroke: initial;
}
.icon-twitter {
  width: 30px;
  height: 24px;
  fill: #000;
  stroke: initial;
}
.icon-youtube {
  width: 27px;
  height: 19px;
  fill: #000;
  stroke: initial;
}
