//- 32X32
//------------------------------------------------

$l32x32__textFontFamily: 'Arial', sans-serif !default;
$l32x32__textFontSize:   $fontSizeH6 !default;
$l32x32__textColor:      $grayLight !default;

$l32x32__linkColor:      $grayLight !default;
