= '\n'
//= Scripts =
script(src=bowerDir + 'jquery/dist/jquery.min.js')
//-script(src=bowerDir + 'select2/dist/js/select2.full.min.js')
script(src='assets/js/jquery.fs.selecter.min.js')
script(src='assets/js/main' + minSuffix + '.js')
//= End scripts =
= '\n'
