= '\n'
//= about-views =
//-source/assets/css/module/_about-views.scss
.about-views
    .about-views__container
        .swiper-object
            .about-views__text.text
                h2.color--text(data-content='Studio views')
                p.
                    A look at where we work and play, with sweeping views of Downtown San Jose.
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        //proportions and the maximum size of images 530x580
                        img(src='data/about/1.png')
                    .swiper-slide
                        //proportions and the maximum size of images 530x580
                        img(src='data/about/2.png')
                    .swiper-slide
                        //proportions and the maximum size of images 530x580
                        img(src='data/about/1.png')
            .swiper-pagination
            .swiper-button-next
            .swiper-button-prev
//= End about-views =
= '\n'
