= '\n'
//= about-topBlock
//-=(module/_topBlock.scss)=
.about-topBlock
    .container
        if (topBlock__title)
            .about-topBlock__title(class=topBlock__title)= topBlock__title
//= End about-topBlock =
= '\n'

