= '\n'
//= index-succeful =
//- (source/assets/css/module/_index-succeful.scss)
.index-succeful
    .container
        .index-succeful__title
            .index-succeful__number.color--text 180
            .index-succeful__desc successful projects

        .index-succeful__types
            .index-succeful__design
                .index-succeful__icon
                    img(src='assets/images/content/design.svg' alt='')
                .index-succeful__nameTypes.color--text Графічний дизайн
                ul
                    li Фірмовий стиль
                    li Логотип
                    li Брендинг
                .index-succeful__img
                    .index-succeful__pic
                        a(href="projects-inner.html")
                        //proportions and the maximum size of images 360x300
                        img(src='data/succeful/1.png' alt='')
                    .index-succeful__pic
                        a(href="projects-inner.html")
                        //proportions and the maximum size of images 360x300
                        img(src='data/succeful/1.png' alt='')
                    .index-succeful__pic
                        a(href="projects-inner.html")
                        //proportions and the maximum size of images 360x300
                        img(src='data/succeful/1.png' alt='')
                    .index-succeful__pic
                        a(href="projects-inner.html")
                        //proportions and the maximum size of images 360x300
                        img(src='data/succeful/1.png' alt='')

            .index-succeful__sites
                .index-succeful__icon
                    img(src='assets/images/content/site.svg' alt='')
                .index-succeful__nameTypes.color--text Сайти
                ul
                    li Корпоративні
                    li Промо
                    li Магазини
                .index-succeful__img
                    .index-succeful__pic
                        a(href="projects-inner.html")
                        //proportions and the maximum size of images 360x300
                        img(src='data/succeful/1.png' alt='')
                    .index-succeful__pic
                        a(href="projects-inner.html")
                        //proportions and the maximum size of images 360x300
                        img(src='data/succeful/1.png' alt='')
                    .index-succeful__pic
                        a(href="projects-inner.html")
                        //proportions and the maximum size of images 360x300
                        img(src='data/succeful/1.png' alt='')
                    .index-succeful__pic
                        a(href="projects-inner.html")
                        //proportions and the maximum size of images 360x300
                        img(src='data/succeful/1.png' alt='')

//= End index-succeful =
= '\n'
