= '\n'
//= landing-create =
//-=(module/_landing-create.scss)=
.landing-create
    .container

        .landing-create__title
            h1 Створюємо сайти

        .landing-create__img
            object(type="image/svg+xml" width="570" height="430")
                img(src="data/landing-banner.png" width="570" height="430" alt="image format png")

//= End landing-create =
= '\n'
