= '\n'
//= landing-statistic =
//-=(module/_landing-statistic.scss)=
.landing-statistic
    .container

        .landing-statistic__title
            h1 Створюємо сайти

        .landing-statistic__img
            object(type="image/svg+xml" data="data/landing-banner.png" width="570" height="430")
                img(src="data/landing-banner.png" width="570" height="430" alt="image format png")

//= End landing-statistic =
= '\n'
