
= '\n'
//= line =
//-source/assets/css/module/_line.scss
.line
    if (line__text)
        .line__anim
        //-https://codepen.io/Rudchyk/pen/DgxKm
        .line__text#example Scroll

//= End line =
= '\n'
