= '\n'
//= line =
//-source/assets/css/module/_requestAnimFrame.scss
.requestAnimFrame
    .requestAnimFrame__title
        |Pushing the boundaries
        br
        |of digital design.

    //-script(src='assets/js/requestAnimFrame.js')
    canvas#c

    //-script(src='assets/js/jquery.particleground.js')
    //-#particles

    //-script(src='assets/js/particleEmitter.js')
    //-#container-canvas.container-canvas

    - line__text = true
    include _line.pug
//= End line =
= '\n'
