= '\n'
//= Footer =

footer#footer.footer
    .footer__wrapper
        .footer__box
            include ../module/_footer-menu.pug

        .footer__bottom
            p  © 2019 «Sprinter-avto». Всі права захищені.
            
            include ../module/_logo32x32.pug

//= End footer =
