//= Nav =

- modifier = (pageTitle != 'main') ? 'fixed' : ''

nav#nav.navigation(class= modifier)
    ul.navigation__list

        if (filter)
            li.navigation__list-item.navigation__list-item--filter
                a.navigation__list-link(href='javascript:void(0);')
                    img(src='data/menu/filter.svg' alt='')

        each item, index in navigationListItem

            - modifier = (item.class) ? 'navigation__list-item--' + item.class : ''

            li.navigation__list-item(class= modifier)
                a.navigation__list-link(href='catalog.html')
                    img(src='data/menu/' + item.img + '.svg' alt='')

                    if ('title' in item)

                        .navigation__list-title= item.title
                            if (item.class)
                                span товара
                                    span= item.description
                            else
                                span= item.description

                if ('drop' in item)
                    ul.navigation__drop
                        each val in item.drop
                            li.navigation__drop-item
                                a.navigation__drop-link(href='javascript:void(0);')= val
    include ../module/_incart.pug
//= End nav =
= '\n'
