include vars/_variable.pug

-
    pageTitle = 'form-authorization--popup'

    tab = true
    rating = true
    slick = true
    owlCarousel = true

    pageRatingInit = true
    pageTabInit = true

doctype html
html

    include core/_head.pug

    body

        = '\n'
        //= Layout =
        #layout

            include region/header/_header.pug
            include region/nav/_nav.pug

            //= Main =
            main#main.main
                .container
                    a.popup__authorization(href='#test-modal') popup__authorization

            //= End main =
            = '\n'

        //= End layout =

        include region/footer/_footer.pug

        = '\n'
        //= Modal =
        .modal.white-popup-block.mfp-hide#test-modal

            .modal__content
                - authorizationItem = true
                - formRequest = formAuthorizationRequest

                include module/details/module/form/_form.pug

        //= End modal =
        = '\n'

        include core/_script.pug

        script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.js')
        script.
            $(document).ready(function () {

                $('.popup__authorization').magnificPopup({
                    type: 'inline',
                    preloader: false,
                    modal: true
                });

                $(document).on('click', '.form__close', function (e) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });
            });
