include vars/_variable.pug

-
    pageTitle = 'Modal page'

    magnificPopup = true
    select = true
    slick = true
    owlCarousel = true

    modal = 'cart'

    cartEdit = true

doctype html
html

    include core/_head.pug

    body

        = '\n'
        //= Layout =
        #layout

            include region/header/_header.pug
            include region/nav/_nav.pug

            //= Main =
            main#main.main
                .container
                    .modalContainer
                        a.button.button--buy.button--link(href='#cart')
                            span.button__text Корзина

            //= End main =
            = '\n'

        //= End layout =

        include region/footer/_footer.pug
        include region/modal/_modal.pug
        include core/_script.pug
