include vars/_variable.pug

-
    pageTitle = 'price'

doctype html
html

    include core/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout

            //= Main =
            main#main.main
                .layout__price
                    .layout__price-wrapper
                        .layout__price-logo
                            include region/header/module/logo/_logo.pug
                            span для оптовых клиентов
                        a(href='tel:+380632495002') (063) 249 50 02
                    .separator
                    a.button.button--buy(href='Patifon_opt.xlsx')
                        span.button__text Скачать прайс

            //= End main =
            = '\n'

        //= End layout =

        include core/_script.pug

        script.

        