//- Helpers
@import 'helpers/clearfix/_clearfix.scss';

.select {
    position: relative;

    &.open {
        .select {
            &-drop {
                visibility: visible;
                transition: visibility 0s step-end, opacity .2s linear;
                opacity: 1;
            }
        }
    }

    &-button {
        position: relative;
        transition: all .2s linear;
    }

    &-drop {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        visibility: hidden;
        min-width: 100%;
        transition: visibility 0s step-end .2s, opacity .2s linear;
        white-space: nowrap;
        opacity: 0;
    }

    &-list {
        position: relative;
    }

    &-item {
        position: relative;
        cursor: pointer;
        transition: all .2s linear;
    }
}
