include vars/_variable.pug

-
    pageTitle = 'Sitemap page'
    breadcrumbs = ['Главная', 'Контакты']

doctype html
html

    include core/_head.pug

    body

        = '\n'
        //= Layout =
        #layout

            include region/header/_header.pug
            include region/nav/_nav.pug

            //= Main =
            main#main.main
                .container

                    = '\n'
                    //= Section =
                    section.section
                        .section__top

                            include module/breadcrumbs/_breadcrumbs.pug

                            h1.section__title Карта сайта

                        .row
                            .section__container.section__container--left.hide-sm-max

                                include module/categoryMenu/_categoryMenu.pug

                            .section__container.section__container--leftFixed
                                .section__containerInner

                                    include module/sitemap/_sitemap.pug

                    //= End section =
                    = '\n'

            //= End main =
            = '\n'

        //= End layout =

        include region/footer/_footer.pug
        include core/_script.pug
