ul.cards {
    float: right;
    position: relative;
    padding: 27px 0;
    margin-right: 64px;
    font-size: 0;

    li {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
            margin: 0;
        }
    }
}
