.menu {
    position: relative;
    padding: 30px 10px;
    float: left;

    &__item {
        position: relative;
        margin-right: 37px;
    }

    &__link {
        font-size: $fontSizeBase;
        color: $base;
        text-decoration: underline;
        position: relative;
        transition: all .2s linear;

        &:hover {
            text-decoration: none;
        }

        &--active {
            text-decoration: none;
        }
    }

    &__item {
        float: left;
        margin-right: 19px;

        &:last-child {margin-right: 0;}
    }
}
