.up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 99;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: bottom .3s;
    background: rgba(255,255,255,.8);

    img {
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        width: 25px;
        height: 14px;
    }

    &.absolute {
        position: absolute;
        top: -26px;

    }

    @media (min-width: $screenMdMin) {
        right: 73px;
    }
}
