.breadcrumb {
    display: flex;
    flex-wrap: wrap;

    li {
        position: relative;
        padding: 0 20px 0 0;
        font-size: $fontSizeSmall;
        color: $grayDarker;
        text-decoration: none;
        line-height: 25px;
        transition: all .3s;

        &.active
            cursor: default;

            &:after {
                display: none;
            }
        }

        &:after {
            content: '/';
            position: absolute;
            left: calc(100% - 12px);
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }

        &:not(:first-child) {
            padding: 0 20px 0 0;
            border-left-color: transparent;
        }

        a {
            display: block;
            line-height: 25px;
            cursor: pointer;
            white-space: nowrap;
        }
    }
}
