//- Utility
include utils/_variable.pug
- var pageTitle = 'Особистий кабінет'
//-breadcrumbs.pug
- var breadcrumbs = ['Головна', pageTitle]
doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug
            //= Main =
            main#main.main
                include module/_breadcrumbs.pug
                include module/_office-drop.pug
                include module/_account.pug







            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
        script.
            $(document).ready(function() {
            //-переключатель табов
                $(document).on('click', '.account-menu a', function (e) {
                    e.preventDefault();
                    $('.account-menu .active').removeClass('active');
                    $('.account-menu li').removeClass('active');
                    $(this).addClass('active');
                    $(this).closest('.account-menu li').addClass('active');
                    var tab = $(this).attr('href');
                    $('.account-info__tab').not(tab).hide();
                    $(tab).fadeIn(400);
                    $(tab).css('display','flex');
                });
                // show/hide password
                $(document).on('click', '.eye-button', function(){
                    if ($(this).prev('input').attr('type') == 'password') {
                        $(this).prev('input').attr('type','text');
                    } else {
                        $(this).prev('input').attr('type','password');
                    }
                });
                //slideDown .ordering-form__data block
                $(document).on('click','.edit', function(){
                    $('.ordering-form__data').slideDown(500);
                    $(this).fadeTo('slow',0);
                });
                //slideDown .my-orders__head
                $(document).on('click','.my-orders__head', function(){
                    $(this).next('.my-orders__area').find('.my-orders__body').slideToggle({
                        start: function() {
                            duration: 200,
                            $(this).css('display','flex')
                        }
                    });
                })
            });




