//- Utility
include utils/_variable.pug
- var pageTitle = 'Колекції'
//-breadcrumbs.pug
- var breadcrumbs = ['Головна', pageTitle]
doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug
            //= Main =
            main#main.main
                include module/_breadcrumbs.pug
                include module/_catalog-content.pug
                include module/_office-drop.pug

            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug

        script(src=bowerDir + 'ion.rangeslider/js/ion.rangeslider.min.js')
        script.
            $(document).ready(function() {
                $("#range").ionRangeSlider({
                    type: 'double',
                    min: 0,
                    max: 20000,
                    drag_interval: true,
                    hide_min_max: true,
                    hide_from_to: true
                });
            });
