//- Utility
include utils/_variable.pug
- var pageTitle = 'Колекції'
//-breadcrumbs.pug
- var breadcrumbs = ['Головна', pageTitle]
doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug
            //= Main =
            main#main.main
                include module/_breadcrumbs.pug
                include module/_office-drop.pug
                include module/_collection-slider.pug
                include module/_text-block.pug
                include module/_other-collections.pug

            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug

        script(src=bowerDir + 'slick-carousel/slick/slick.min.js')
        script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.min.js')
        script.
            $(document).ready(function() {

                $('.product-slider--big').slick({
                    infinite: false,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: true,
                    fade: false,
                    asNavFor: '.product-slider--small',
                    focusOnSelect: false,
                });

                $('.product-slider--small').slick({
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    asNavFor: '.product-slider--big',
                    focusOnSelect: true,
                    arrows: false,
                    //rows: 0,
                    vertical: true,
                    infinite: false,
                    verticalSwiping: true,
                });
                $('.other-collections__slider').slick({
                    centerMode: false,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    dots: false,
                    arrows: true,
                    fade: false,
                    autoplay:false,
                    speed: 200,
                    infinite: false,
                    responsive: [
                        {
                          breakpoint: 600,
                          settings: {
                            slidesToShow: 2,
                          }
                        },
                    ]
                });
            //-переключатель табов
                $(document).on('click', '.collections__menu a', function (e) {
                    e.preventDefault();
                    $('.collections__menu .active').removeClass('active');
                    $(this).addClass('active');
                    var tab = $(this).attr('href');
                    $('.collections__tab').not(tab).hide();
                    $(tab).fadeIn(400);
                    $(tab).css('display','flex');
                });
            });
