//- Utility
include utils/_variable.pug
- var pageTitle = 'main'

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug
            //= Main =
            main#main.main
                include module/_main-slider.pug
                include module/_main-content.pug
                include module/_office-drop.pug

            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug

        script(src=bowerDir + 'slick-carousel/slick/slick.min.js')
        script.
            $(document).ready(function() {
                $('.main-slider').slick({
                    centerMode: false,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    dots: true,
                    arrows: false,
                    fade: false,
                    autoplay:true,
                    speed: 200,
                    infinite: false,
                });
                $('.collections__tab').slick({
                    focusOnSelect:false,
                    infinite: false,
                    centerMode: false,
                    slidesToShow: 5,
                    slidesToScroll: 1,
                    dots: false,
                    arrows: true,
                    fade: false,
                    autoplay:false,
                    centerPadding: '0',
                    responsive: [
                        {
                          breakpoint: 1320,
                          settings: {
                            slidesToShow: 4,
                          }
                        },
                        {
                          breakpoint: 840,
                          settings: {
                            slidesToShow: 3,
                          }
                        },
                        {
                          breakpoint: 600,
                          settings: {
                            slidesToShow: 2,
                          }
                        },
                        {
                          breakpoint: 375,
                          settings: {
                            slidesToShow: 1,
                          }
                        },
                    ]
                });
                $('.brands__wrapper').slick({
                    focusOnSelect:false,
                    infinite: false,
                    centerMode: false,
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    dots: false,
                    arrows: true,
                    fade: false,
                    autoplay:true,
                    speed: 100,
                    responsive: [
                        {
                          breakpoint: 1024,
                          settings: {
                            slidesToShow: 5,
                          }
                        },
                        {
                          breakpoint: 840,
                          settings: {
                            slidesToShow: 4,
                          }
                        },
                        {
                          breakpoint: 600,
                          settings: {
                            slidesToShow: 3,
                          }
                        },
                        {
                          breakpoint: 480,
                          settings: {
                            slidesToShow: 2,
                          }
                        },
                    ]
                });
            //-переключатель табов
                $(document).on('click', '.collections__menu a', function (e) {
                    e.preventDefault();
                    $('.collections__menu .active').removeClass('active');
                    $(this).addClass('active');
                    var tab = $(this).attr('href');
                    $('.collections__tab').not(tab).hide();
                    $(tab).fadeIn(400);
                    $('.collections__tab.slick-initialized').slick('setPosition');
                });
            });
