//- Utility
include utils/_variable.pug
- var pageTitle = 'Карта сайту'
//-breadcrumbs.pug
- var breadcrumbs = ['Головна', pageTitle]
doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug
            //= Main =
            main#main.main
                include module/_breadcrumbs.pug
                include module/_sitemap.pug
            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
