= '\n'
//= header__text =
//-=(/assets/css/layout/_header.scss)=
.header__text
    h1 Мандруй Карпатами
    p
        |Сплануй свою подорож: знаходь місця та події, що варто відвідати, бронюй житло
        br
        |у Карпатах та наповнюй кожен день новими враженнями!
//= End header__text =
= '\n'
