//- FOOTER
//------------------------------------------------

$footer__titleFontSize:     $fontSizeH3 !default;
$footer__titleColor:        $gray !default;

$footer__bgColor:           #ebebeb !default;

$footer__linkColor--active: #f569b6 !default;
