= '\n'
//= Logo32x32 (layout/footer/_logo32x32.scss)=
.logo32x32
    a.logo32x32__image(href='http://32x32.com.ua/')
        img(src='assets/images/footer/32x32.svg' alt='Компания 32x32')
    | Розроблений та підтримується
    br
    | в
    a.logo32x32__link(href='http://32x32.com.ua/') компании 32x32
//= End Logo32x32 =
= '\n'
