@import 'vars/_variable.scss';

.radio {
    position: relative;

    label {
        padding-left: 30px;

        &:hover {
            .radio {
                &-title {
                    color: $radio__linkTextColor--active;
                }
            }
        }
    }

    &-input {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        visibility: hidden;
        opacity: 0;

        &:checked {
             ~ .radio {
                &-icon {
                    border-color: $radio__borderColor--active;

                    &:before {
                        opacity: 1;
                    }
                }

                &-title {
                    color: $radio__linkTextColor--active;
                }
            }
        }
    }

    &-icon {
        position: relative;
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        margin: 0 10px 0 -30px;
        transition: all .2s linear;
        border: 1px solid $radio__borderColor;
        border-radius: 50%;
        background: $radio__backgroundColor;

        &:before {
            position: absolute;
            top: 3px;
            right: 3px;
            bottom: 3px;
            left: 3px;
            display: block;
            content: '';
            transition: all .2s linear;
            opacity: 0;
            border-radius: 50%;
            background: $radio__backgroundColor--active;
        }
    }

    &-title {
        position: relative;
        height: 20px;
        display: table-cell;
        transition: all .2s linear;
        vertical-align: middle;
    }

    &-link {
        color: inherit;
    }
}
