//- CATALOG
//------------------------------------------------

-
    var catalog = [
        {
            image: 'milavitsa',
            description: 'Kleo - це поєднання сучасних модних тенденцій та національних уподобань, які втілені в щось більше, ніж красивий жіночий аксесуар.',
            feature: [
                {
                    class: 'type',
                    text: ['Одяг', 'Джинсы']
                },
                {
                    class: 'phone',
                    text: '+38 (0362) 222-83-42'
                },
                {
                    class: 'floor',
                    text: '-1 этаж'
                }
            ]
        },
        {
            image: 'brocard',
            description: 'Kleo - це поєднання сучасних модних тенденцій та національних уподобань, які втілені в щось більше, ніж красивий жіночий аксесуар.',
            feature: [
                {
                    class: 'type',
                    text: ['Одяг']
                },
                {
                    class: 'floor',
                    text: '3 этаж'
                }
            ]
        }
    ]

        var catalogList = ['LC Waikiki', 'Oodji', 'PDM', 'Franttini' ,'Terranova', 'Reserved', 'United Colors of Benetton', 'Gap', 'Marks & Spencer', 'LOFT', 'LTB', 'Colin\'s', 'G-Star RAW', 'LC Waikiki', 'Oodji', 'PDM', 'Franttini' ,'Terranova', 'Reserved', 'United Colors of Benetton', 'Gap', 'Marks & Spencer', 'LOFT', 'LTB', 'Colin\'s', 'G-Star RAW', 'LC Waikiki', 'Oodji', 'PDM', 'Franttini' ,'Terranova', 'Reserved', 'United Colors of Benetton', 'Gap', 'Marks & Spencer', 'LOFT', 'LTB', 'Colin\'s', 'G-Star RAW', 'LC Waikiki', 'Oodji', 'PDM', 'Franttini' ,'Terranova', 'Reserved', 'United Colors of Benetton', 'Gap', 'Marks & Spencer', 'LOFT', 'LTB', 'Colin\'s', 'G-Star RAW', 'LC Waikiki', 'Oodji', 'PDM', 'Franttini' ,'Terranova', 'Reserved', 'United Colors of Benetton', 'Gap', 'Marks & Spencer', 'LOFT', 'LTB', 'Colin\'s', 'G-Star RAW']
