//- CATALOG
//------------------------------------------------

$catalog__borderColor:          #dcdbdb !default;
$catalog__borderColor--active:  #f72498 !default;
$catalog__shadowColor--active:  transparentize(#9c357f, .6) !default;

$catalog__descriptionTextColor: $grayLight !default;

$catalog__featureLinkColor:     $grayDark !default;

$catalogList__textColor:        #7a7a7a !default;
