//- PARTNERS
//------------------------------------------------

-
    var partners = ['milaVitsa', 'mac', 'oodji', 'nova-poshta', 'brocard', 'urban', 'milaVitsa', 'mac', 'oodji', 'nova-poshta', 'brocard', 'urban']
