//- BREADCRUMBS
//------------------------------------------------

$breadcrumbs__textColor:            $grayDark !default;

$breadcrumbs__linkTextColor:        $grayLighter !default;

$breadcrumbs__titleTextFontSize:    $fontSizeH1 !default;
$breadcrumbs__titleTextColor:       #f72498 !default;
