include vars/_variable.pug

= '\n'
//= Breadcrumbs =
.breadcrumbs
    ul.breadcrumbs__list.hide-sm-max
        li.breadcrumbs__item
            a.breadcrumbs__link(href='#') Головна

        li.breadcrumbs__item.breadcrumbs__item--last= breadcrumbsLastItem

    if (breadcrumbsTitle !== '' && breadcrumbsTitle !== undefined)
        h1.breadcrumbs__title= breadcrumbsTitle
//= End breadcrumbs =
= '\n'
