@import 'vars/_variable.scss';

.breadcrumbs {
    position: relative;

    &__list {
        position: relative;
        margin: 0 0 14px;

        @include clearfix;
    }

    &__item {
        position: relative;
        float: left;
        margin: 0 3px 0 0;
        color: $breadcrumbs__linkTextColor;

        &:after {
            position: relative;
            display: inline-block;
            content: '/';
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &--last {
            color: $breadcrumbs__textColor;
        }
    }

    &__link {
        text-decoration: none;
        color: $breadcrumbs__linkTextColor;

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        font-size: $breadcrumbs__titleTextFontSize;
        font-weight: 400;
        line-height: 1;
        position: relative;
        margin: 8px 0 9px;
        color: $breadcrumbs__titleTextColor;
    }

    @media (max-width: $screenMbMax) {

        float: left;

    }

    @media (min-width: $screenMdMin) {

        margin: 0 0 13px;

        &__title {
            margin-top: -4px;
        }

    }
}
