//- COMPARISON
//------------------------------------------------

-
    comparisonСharacteristicsTitle = [
        {
            class: 'manufacturer',
            title: 'Производитель'
        },
        {
            class: 'typeSim',
            title: 'Тип Sim-карты'
        },
        {
            class: 'sim',
            title: 'Sim-карты'
        },
        {
            class: 'dataTransfer',
            title: 'Высокоскоростная передача данных'
        },
        {
            class: 'connectivity',
            title: 'Связь'
        },
        {
            class: 'os',
            title: 'OC'
        },
        {
            class: 'ram',
            title: 'ОЗУ'
        },
        {
            class: 'memory',
            title: 'Память'
        },
        {
            class: 'additionalMemory',
            title: 'Дополнительная память'
        },
        {
            class: 'size',
            title: 'Размеры (ШхВхТ)'
        },
        {
            class: 'weight',
            title: 'Вес'
        },
        {
            class: 'guarantee',
            title: 'Гарантия'
        },
        {
            class: 'display',
            title: 'Дисплей'
        },
        {
            class: 'resolution',
            title: 'Разрешение'
        },
        {
            class: 'matrix',
            title: 'Матрица'
        },
        {
            class: 'ppi',
            title: 'PPI (Плотность пикселей на дюйм)'
        }
    ]

    comparisonProduct = [
        {
            image: 'image',
            title: 'Huawei Nova Lite 2017 (SLA-L22) Dual Sim Gold',
            price: '4 200 грн',
            characteristics: [
                {
                    class: 'manufacturer',
                    title: 'Xiaomi'
                },
                {
                    class: 'typeSim',
                    title: 'Micro-Sim + Nano-Sim'
                },
                {
                    class: 'sim',
                    title: '2 (или 1 SIM + карта памяти)'
                },
                {
                    class: 'dataTransfer',
                    title: 'Высокоскоростная передача данных'
                },
                {
                    class: 'connectivity',
                    title: '2G (EDGE) 3G (WCDMA/UMTS ) 4G (LTE) CDMA GSM'
                },
                {
                    class: 'os',
                    title: 'Android 6.0'
                },
                {
                    class: 'ram',
                    title: '2 Gb'
                },
                {
                    class: 'memory',
                    title: '16 Gb'
                },
                {
                    class: 'additionalMemory',
                    title: 'до 128 Gb'
                },
                {
                    class: 'size',
                    title: '139,24x69,96x8,65'
                },
                {
                    class: 'weight',
                    title: '150'
                },
                {
                    class: 'guarantee',
                    title: '3 мес.'
                },
                {
                    class: 'display',
                    title: ''
                },
                {
                    class: 'resolution',
                    title: '1280x720'
                },
                {
                    class: 'matrix',
                    title: 'IPS'
                },
                {
                    class: 'ppi',
                    title: '294'
                }
            ]
        },
        {
            image: 'image',
            title: 'Huawei Nova Lite 2017 (SLA-L22)',
            price: '4 200 грн',
            characteristics: [
                {
                    class: 'manufacturer',
                    title: 'Xiaomi'
                },
                {
                    class: 'typeSim',
                    title: 'Micro-Sim + Nano-Sim'
                },
                {
                    class: 'sim',
                    title: '2 (или 1 SIM + карта памяти)'
                },
                {
                    class: 'dataTransfer',
                    title: 'Высокоскоростная передача данных'
                },
                {
                    class: 'connectivity',
                    title: '2G (EDGE) 3G (WCDMA/UMTS ) 4G (LTE) CDMA GSM'
                },
                {
                    class: 'os',
                    title: 'Android 6.0'
                },
                {
                    class: 'ram',
                    title: '2 Gb'
                },
                {
                    class: 'memory',
                    title: '16 Gb'
                },
                {
                    class: 'additionalMemory',
                    title: 'до 128 Gb'
                },
                {
                    class: 'size',
                    title: '139,24x69,96x8,65'
                },
                {
                    class: 'weight',
                    title: '150'
                },
                {
                    class: 'guarantee',
                    title: '3 мес.'
                },
                {
                    class: 'display',
                    title: ''
                },
                {
                    class: 'resolution',
                    title: '1280x720'
                },
                {
                    class: 'matrix',
                    title: 'IPS'
                },
                {
                    class: 'ppi',
                    title: '294'
                }
            ]
        }
    ]
