//- PHONE
//------------------------------------------------

$phone__baseFontSize:                   $fontSizeBase !default;

$phone__textColor:                      $base !default;

$phone__buttonTextFontSize:             $fontSizeH6 !default;
$phone__buttonTextColor:                #151314 !default;
$phone__buttonBackgroundColor:          $brandPrimary !default;
$phone__buttonBackgroundColor--active:  $brandSecondary !default;
