//- GALLERY
//------------------------------------------------

-
    var gallery = [
        {
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн.'
        },
        {
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн. Усі бестселлери по ціні від 55 грн.'
        },
        {
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн.'
        },
        {
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн. Усі бестселлери по ціні від 55 грн.'
        },
        {
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн.'
        },
        {
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн. Усі бестселлери по ціні від 55 грн.'
        }
    ]
