//- GALLERY
//------------------------------------------------

$gallery__borderColor:          #dcdbdb !default;
$gallery__shadowColor:          transparentize(#8d8d8d, .6) !default;

$gallery__titleTextFontSize:    $fontSizeLarge !default;
$gallery__titleTextColor:       $grayDark !default;
