@import 'vars/_variable.scss';

.news {
    position: relative;

    &__section {
        position: relative;

        &-title {
            font-size: $news__sectionTitleTextFontSize;
            position: relative;
            display: block;
            margin: 0 0 8px;
            color: $news__sectionTitleTextColor;
        }

        &-content {
            position: relative;
            margin: 0 -15px;

            @include clearfix;
        }
    }

    &__item {
        position: relative;
        display: block;
        margin: 0 0 30px;
        padding: 0 15px;
    }

    &__inner {
        position: relative;
    }

    &__image {
        position: relative;
        display: block;

        img {
            width: 100%;
        }
    }

    &__date {
        font-size: $news__dateTextFontSize;
        font-weight: 700;
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        padding: 0 10px;
        color: $news__dateTextColor;
        background: $news__dateBackgroundColor;
    }

    &__content {
        position: relative;
        overflow: hidden;
        height: 144px;
        padding: 15px;
        border: 1px solid $news__borderColor;
        border-top: none;

        &:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 14px;
            display: block;
            content: '';
            background: $base;
        }
    }

    &__title {
        font-size: $news__titleTextFontSize;
        line-height: (21px / $news__titleTextFontSize);
        position: relative;
        margin: 2px 0 6px;
        text-transform: uppercase;
        color: $news__titleTextColor;
    }

    &__link {
        text-decoration: none;
        color: $news__titleTextColor;

        &:hover {
            text-decoration: underline;
        }
    }

    &__description {
        position: relative;
        color: $news__descriptionTextColor;
    }

    @media (min-width: 600px) {

        &__item {
            float: left;
            width: 50%;
        }

        @media (max-width: 899px) {

            &__item {
                &:nth-child(2n+1) {
                    clear: both;
                }
            }

        }

    }

    @media (min-width: 900px) {

        &__item {
            width: 33.333334%;
        }

        @media (max-width: $screenSmMax) {

            &__item {
                &:nth-child(3n+1) {
                    clear: both;
                }
            }

        }

    }

    @media (min-width: $screenMdMin) {

        margin: -12px 0 0;

        &__item {
            width: 50%;
        }

        @media (max-width: 1116px) {

            &__item {
                &:nth-child(2n+1) {
                    clear: both;
                }
            }

        }

    }

    @media (min-width: 1117px) {

        &__item {
            width: 33.333334%;

            &:nth-child(3n+1) {
                clear: both;
            }
        }

    }
}
