//- SELECT
//------------------------------------------------

$select__baseFontSize:                   $fontSizeBase !default;

$select__textColor:                      $grayExtraLight !default;
$select__borderColor:                    $borderColor !default;
$select__backgroundColor:                $base !default;
