= '\n'
//= Scripts =
script(src=bowerDir + 'jquery/dist/jquery.min.js')
//-script(src=bowerDir + 'slick-carousel/slick/slick.min.js')
script(src=bowerDir + 'swiper/dist/js/swiper.min.js')

script(src='assets/js/landing-main' + minSuffix + '.js')

//= End scripts =
= '\n'
