@import 'vars/_variable.scss';

.main-news {
    position: relative;
    margin: 0 -15px;

    @include clearfix;

    &__item {
        position: relative;
        padding: 0 15px;
    }

    &__image {
        position: relative;
        display: block;
        margin: 0 0 21px;

        img {
            width: 100%;
        }
    }

    &__text {
        position: relative;

        :first-child {
            margin-top: 0 !important;
        }

        :last-child {
            margin-bottom: 0 !important;
        }
    }

    &__link {
        position: relative;
        float: right;
        color: #e6007e;
    }

    p {
        margin: 0;

        &:after {
            content: '...';
        }
    }

    .owl {
        &-prev,
        &-next {
            top: 40%;
        }

        &-prev {
            left: 5px;
        }

        &-next {
            right: 5px;
        }
    }

    @media (max-width: $screenMbMax) {

        &__item {
            margin-bottom: 30px;
        }

    }
}
