include vars/_variable.pug

- var mainNewsOwlCarouselInit = true

= '\n'
//= Main news =
.main-news
    #main-news_owl.owl-carousel
        - for (var i = 0; i < 2; i++)
            each val in mainNews
                .owl-carousel-item
                    .main-news__item
                        a.main-news__image(href='#')
                            img(src='data/main-news/' + val.image + '.jpg' alt='')

                        .main-news__text
                            p= val.text
                            a.main-news__link(href='#') читати далі
//= End main news =
= '\n'
