@import 'vars/_variable.scss';

.cart {
    position: relative;
    margin: -8px 0 0;

    &__edit {
        position: relative;
        display: inline-block;
        margin: 23px 0 0;
        text-decoration: none;
        color: inherit;

        &:before {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 0 10px 0 0;
            content: '';
            vertical-align: middle;
            border: 1px solid $cart__editBorderColor;
            border-radius: 50%;
            background: $cart__editBackgroundColor url('../images/content/icon/edit.png') center no-repeat;
        }

        &:hover {
            .cart {
                &__edit {
                    &Text {
                        border-bottom-color: transparent;
                    }
                }
            }
        }

        &Text {
            line-height: 1;
            position: relative;
            display: inline-block;
            transition: all .2s linear;
            border-bottom: 1px dashed;
        }
    }

    &__clear {
        font-size: $cart__clearTextFontSize;
        line-height: 1;
        position: relative;
        display: inline-block;
        margin: 19px 0 0;
        transition: all .2s linear;
        text-decoration: none;
        color: $cart__clearTextColor;
        border-bottom: 1px dashed;

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &__share {
        position: relative;
        margin: 0 0 30px;
        padding: 10px;
        border: 1px solid $cart__shareBorderColor;
        border-radius: 10px;

        &Title {
            font-size: $cart__shareTitleTextFontSize;
            font-weight: 700;
            line-height: 1;
            position: relative;
            margin: -20px 0 0;
            padding: 0 5px;
            color: $cart__shareTextColor;

            &Inner {
                position: relative;
                display: inline-block;
                padding: 0 15px;
                background: $cart__backgroundColor;
            }
        }

        .cart {
            &__item {
                margin: 0;
                padding: 20px 0;
                border-top: none;
                border-right: none;
                border-bottom-style: dashed;
                border-left: none;
                border-radius: 0;
            }

            &__row {
                &--edit {
                    border-top: none;
                }
            }
        }

         + .cart {
            &__price {
                &Total {
                    margin-top: -20px;
                }
            }
         }
    }

    &__item {
        position: relative;
        margin: 0 0 30px;
        padding: 10px;
        border: 1px solid $cart__borderColor;
        border-radius: 10px;

        @include clearfix;

        &:last-child {
            margin-bottom: 0;
        }

        &Row {
            margin: 0 0 0 -15px;

            @include clearfix;
        }

        &Container {
            position: relative;
            padding: 0 0 0 15px;

            &--left {
                float: left;
            }

            &--fixedLeft {
                padding-left: 115px;
            }

            &Inner {
                position: relative;
                float: left;
                width: 100%;
            }
        }
    }

    &__image {
        position: relative;
        display: block;
    }

    &__row {
        position: relative;
        padding: 10px 0;
        border-top: 1px solid $cart__borderColor;

        &:first-child {
            border-top: none;
        }

        &--main {
            .cart {
                &__content {
                    height: 56px;
                }
            }
        }

        &--options {
            &:last-child {
                padding-bottom: 0;
            }

            .cart {
                &__content {
                    height: 34px;
                }
            }
        }

        &--bottom {
            padding-bottom: 0;

            .cart {
                &__content {
                    height: 62px;
                }

                &__price {
                    font-size: $cart__priceBottomTextFontSize;
                    color: $cart__shareTextColor;
                }

                &__title {
                    font-size: $cart__titleBottomTextFontSize;
                    color: $cart__shareTextColor;
                }
            }
        }

        &--edit {
            .cart {
                &__content {
                    &--amount {
                        width: 140px;
                    }

                    &--price {
                        width: 108px;
                    }
                }
            }
        }
    }

    &__content {
        font-size: 0;
        position: relative;
        z-index: 1;
        height: 70px;

        &:before {
            position: relative;
            display: inline-block;
            width: 0;
            height: 100%;
            content: '';
            vertical-align: middle;
        }

        &--left {
            float: left;
        }

        &--amount {
            width: 134px;
        }

        &--price {
            width: 120px;
        }

        &--remove {
            width: 90px;
            float: right;
        }

        &Inner {
            font-size: $cart__baseFontSize;
            position: relative;
            display: inline-block;
            width: 100%;
            vertical-align: middle;
        }
    }

    &__amount {
        position: relative;

        &Text {
            font-weight: 700;
            color: $cart__amountTextColor;
        }

        &Value {
            font-size: $cart__amountTextFontSize;
            font-weight: 700;
            margin: 0 0 0 4px;
        }

        &Inner {
            position: relative;
            max-width: 116px;
            height: 42px;
            padding: 0 35px;
            border: 1px solid $cart__borderColor;
            border-radius: (42px / 2);
        }

        &Input {
            font-size: $cart__amountInputTextFontSize;
            font-weight: 700;
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            border: none;
            outline: none;
            background: none;
        }

        &Link {
            position: absolute;
            top: 50%;
            display: block;
            width: 10px;
            height: 10px;
            margin: -5px 0 0;

            &:before,
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                transition: all .2s linear;
                background: url('../images/content/icon/amountControls.png') no-repeat;
            }

            &:after {
                opacity: 0;
            }

            &:hover {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &--minus {
                left: 20px;

                &:before {
                    background-position: 0 0;
                }

                &:after {
                    background-position: 0 -11px;
                }
            }

            &--plus {
                right: 20px;

                &:before {
                    background-position: -11px 0;
                }

                &:after {
                    background-position: -11px -11px;
                }
            }
        }
    }

    &__price {
        font-size: $cart__priceTextFontSize;
        font-weight: 700;
        position: relative;

        &Old {
            font-size: $cart__priceOldTextFontSize;
            font-weight: 500;
            position: relative;
            margin: 0 0 -4px;
            text-decoration: line-through;
            color: $cart__priceOldTextColor;
        }

        &Delivery {
            font-size: $cart__priceDeliveryTextFontSize;
            line-height: 1;
            position: relative;
            top: -13px;
            padding: 0 15px;
            text-align: right;
        }

        &Total {
            font-size: $cart__priceTotalTextFontSize;
            line-height: (42px / $cart__priceTotalSumTextFontSize);
            position: relative;
            padding: 0 30px;
            text-align: right;
            border-radius: 10px;
            background: $cart__priceTotalBackgroundColor;

            &Sum {
                font-size: $cart__priceTotalSumTextFontSize;
                font-weight: 700;
            }
        }
    }

    &__remove {
        position: relative;
        display: inline-block;
        padding: 0 0 0 30px;
        transition: all .2s linear;
        text-decoration: none;
        color: $cart__removeTextColor;

        &:before,
        &:after {
            position: absolute;
            top: 50%;
            left: 0;
            display: inline-block;
            width: 18px;
            height: 22px;
            margin: (-22px / 2) 0 0;
            content: '';
            transition: all .2s linear;
            background: url('../images/content/icon/cart__remove.png') no-repeat;
        }

        &:after {
            opacity: 0;
            background-position: 0 -23px;
        }

        &:hover {
            color: inherit;

            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    &__title {
        font-weight: 700;
        position: relative;

        &Link {
            color: inherit;
        }
    }

    &__code {
        position: relative;
        color: $cart__codeTextColor;
    }

    &__options {
        position: relative;
        padding: 0 0 0 134px;

        &Image {
            font-size: 0;
            position: relative;
            float: left;
            width: 34px;
            height: 34px;
            margin: 0 10px 0 -134px;
            text-align: center;

            &:before {
                position: relative;
                display: inline-block;
                width: 0;
                height: 100%;
                content: '';
                vertical-align: middle;
            }

            img {
                font-size: $cart__baseFontSize;
                max-height: 100%;
            }
        }

        &Title {
            line-height: (34px / $cart__baseFontSize);
            position: relative;
            float: left;
            width: 80px;
            margin: 0 0 0 -90px;
        }
    }

    &__select {
        position: relative;
        max-width: 225px;
        padding: 1px 0;
    }

    .button {
        font-size: $cart__buttonTextFontSize;
        line-height: (50px / $cart__buttonTextFontSize);
        height: 50px;
        margin: 20px 0 0;

        &--default {
            font-weight: 400;
        }
    }

    @media (max-width: 419px) {
        &__row {
            &--main {
                padding-bottom: 106px;

                .cart {
                    &__content {
                        &--amount {
                            height: auto;
                        }
                    }
                }
            }

            &--options {
                margin-left: -90px;
                padding-bottom: 52px;

                &:last-child {
                    padding-bottom: 42px;
                }

                .cart {
                    &__content {
                        &--amount {
                            float: left;
                            width: 130px;
                        }
                    }
                }
            }

            &--bottom {
                .cart {
                    &__content {
                        &--amount {
                            float: left;
                            width: 130px;
                            margin-bottom: 0 !important;
                        }

                        &--price {
                            width: 138px;
                        }
                    }
                }
            }
        }

        &__share {
            .cart {
                &__row {
                    &--main {
                        padding-bottom: 136px;
                    }
                }

                &__content {
                    &--amount {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    @media (min-width: 420px) {
        &__content {
            &--amount {
                float: left;
            }

            &--remove {
                float: right;
            }
        }

        @media (max-width: 719px) {
            &__row {
                &--main {
                    padding-bottom: 76px;
                }

                &--options {
                    padding-bottom: 52px;

                    &:last-child {
                        padding-bottom: 42px;
                    }
                }
            }
        }
    }

    @media (max-width: 479px) {
        &__row {
            &--bottom {
                .cart {
                    &__item {
                        &Container {
                            &--fixedRight {
                                padding-right: 28px;
                                padding-left: 0;
                            }
                        }
                    }

                    &__content {
                        &--remove {
                            position: absolute;
                            z-index: 2;
                            top: -52px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screenMbMax) {
        &__content {
            &--remove {
                z-index: 2;
                width: 18px;
            }
        }

        &__remove {
            height: 21px;
            padding-left: 18px;
        }
    }

    @media (max-width: 719px) {
        &__item {
            &Container {
                &--right {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    padding: 0;

                    @include clearfix;
                }
            }
        }

        &__row {
            &--options {
                &:last-child {
                    .cart {
                        &__item {
                            &Container {
                                &--right {
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }

            &--bottom {
                padding-bottom: 52px;
            }
        }

        &__share {
            .cart {
                &__item {
                    &Container {
                        &--right {
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 720px) {
        &__item {
            &Container {
                &--right {
                    float: right;
                }

                &--fixedRight {
                    padding-right: 275px;
                }

                &--back {
                    float: left;
                    max-width: 320px;
                    width: 100%;
                }

                &--order {
                    float: right;
                    max-width: 320px;
                    width: 100%;
                }
            }
        }

        &__row {
            &--edit {
                .cart {
                    &__item {
                        &Container {
                            &--fixedRight {
                                padding-right: 395px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screenMdMin) {
        &__edit {
            margin-top: 8px;
        }
    }

    @media (min-width: $screenLgMin) {
        &__item {
            &Container {
                &--fixedRight {
                    padding-right: 365px;
                }
            }
        }

        &__row {
            &--edit {
                .cart {
                    &__item {
                        &Container {
                            &--fixedRight {
                                padding-right: 485px;
                            }
                        }
                    }

                    &__content {
                        &--amount {
                            width: 170px;
                        }

                        &--price {
                            width: 180px;
                        }
                    }
                }
            }
        }

        &__content {
            &--amount {
                width: 230px;
            }

            &--remove {
                width: 120px;
            }
        }
    }
}
