//- CHARACTERISTICS
//------------------------------------------------

$characteristics__baseFontSize:                 $fontSizeBase !default;

$characteristics__borderColor:                  $borderColor !default;
$characteristics__borderColor--active:          $brandPrimary !default;

$characteristics__tableTitleBackgroundColor:    #dfdfdf !default;

$characteristics__tableNameTextColor:           $grayExtraLight !default;

$characteristics__tableRowBackgroundColor:      $brandInfo !default;
