//- CHARACTERISTICS
//------------------------------------------------

-
    characteristicsMenu = [
        {
            title: 'Основные',
            active: true
        },
        {
            title: 'Все характеристики'
        }
    ]

    characteristics = [
        {
            class: 'resolution',
            title: 'Разрешение',
            value: '5.0" IPS (1280x720)'
        },
        {
            class: 'camera',
            title: 'Камера',
            value: '8 Мп + 2 Мп'
        },
        {
            class: 'battery',
            title: 'Аккумулятор',
            value: '2000 мА*ч'
        },
        {
            class: 'os',
            title: 'OC',
            value: 'Android 6.0'
        },
        {
            class: 'cpu',
            title: 'Процессор',
            value: '4 ядра (1.3 Ггц)'
        },
        {
            class: 'threeG',
            title: '3G',
            value: 'Есть'
        },
        {
            class: 'ram',
            title: 'ОЗУ',
            value: '1 Gb'
        },
        {
            class: 'memory',
            title: 'Память',
            value: '16 Gb + microSD до 64 Gb'
        }
    ]

    characteristicsTable = [
        {
            name: 'Производитель',
            value: 'Xiaomi'
        },
        {
            name: 'Тип Sim-карты',
            value: 'Micro-Sim + Nano-Sim'
        },
        {
            name: 'Sim-карты',
            value: '2 (или 1 SIM + карта памяти)'
        },
        {
            name: 'Связь',
            value: '2G (EDGE) 3G (WCDMA/UMTS ) 4G (LTE) CDMA GSM'
        },
        {
            name: 'Высокоскоростная передача данных',
            value: 'GSM/HSPA/HSPA 42.2/5.76 Mbps/LTE Cat6 300/50 Mbps'
        },
        {
            name: 'OC',
            value: 'Android 6.0'
        },
        {
            name: 'ОЗУ',
            value: '2 Gb'
        },
        {
            name: 'Память',
            value: '16 Gb'
        },
        {
            name: 'Дополнительная память',
            value: 'до 128 Gb'
        },
        {
            name: 'Размеры (ШхВхТ)',
            value: '139,24x69,96x8,65'
        },
        {
            name: 'Вес',
            value: '150'
        },
        {
            name: 'Гарантия',
            value: '3 мес.'
        }
    ]

    characteristicsTable2 = [
        {
            name: 'Разрешение',
            value: '1280x720'
        },
        {
            name: 'Матрица',
            value: 'IPS'
        },
        {
            name: 'PPI (Плотность пикселей на дюйм)',
            value: '294'
        }
    ]
