.language {
    position: relative;

    &__wrapper {
        position: relative;
        height: 24px;
    }

    &__box {
        display: inline-block;
        position: relative;
        padding-bottom: 40px;

        &-item {

            width: 24px;
            height: 24px;
            background: url(../images/header/language.svg) no-repeat;
            cursor: pointer;
            position: relative;

        }

        &-arrow {
            display: inline-block;
            margin-right: 4px;
            width: 12px;
            height: 6px;
            background: url(../images/header/button_up.png) no-repeat;
            transform: rotate(180deg);
            transition: 0.3s;
        }

        &:hover {
            + .language {
                &__drop {
                    display: block;
                }
            }

            .language {
                &__box {
                    &-arrow {
                        transform: rotate(0);
                    }
                }
            }

        }
    }

    &__drop {
        //display: block;
        display: none;
        position: absolute;
        margin-top: 38px;
        cursor: pointer;
        //right: 0;
        z-index: 5;
        background-color: $base;
        padding: 4px 13px;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-48%);
        width: 48px;
        top: 0;
        box-shadow: 1px 4px 8px rgba(153, 153, 153, 0.5);

        &:before {
            content: '';
            background: url(../images/header/triangle1.svg) no-repeat;
            width: 24px;
            height: 14px;
            position: absolute;
            bottom: 95%;
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover {
            display: block;
        }
    }

    &__list {

        &-item {
            display: block;
            text-align: right;
            position: relative;

            &:hover .language__list-link {
                color: $brandPrimary;
                font-weight: 600;
            }

            &.active .language__list-link{
                color: $brandPrimary;
                font-weight: 600;
            }
        }

        &-link {
            text-decoration: none;
            text-transform: uppercase;
            color: $grayLight;
            font-family: $fontFamilyMuseoSansCyrl_lt2;
            font-size: $grayLighter;
            font-size: 16px;
            line-height: 24px;

            &:hover{

            }
        }
    }
}
