.appearance {
    label {
        display: flex;
        position: relative;
        padding-left: 42px;
        line-height: $checkboxSize;

        &.control-label {
            padding: 0;
        }
    }

    input[type='checkbox'] {
        position: absolute;
        left: 0;
        top: 0;
        width: $checkboxSize;
        height: $checkboxSize;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid $gray;
        border-radius: 4px;
        cursor: pointer;
        padding: 0;

        &:checked {
            &:after {
                content: '';
                position: absolute;
                width: 17px;
                height: 15px;
                left: 50%;
                top: 48%;
                transform: translate(-50%, -50%);
                background: url(../images/icons/check.svg) no-repeat;
            }
        }
    }

    input[type='radio'] {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: $checkboxSize;
        height: $checkboxSize;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid $grayLighter;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;

        &:checked {
            &:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: $grayBase;
            }
        }
    }
}
