= '\n'
//= Filter =

.filter.form#filter
    each item in filterListItems

        - condition = (item.hide) ? 'hide' : ''

        .filter__section(class= condition)
            .filter__section-title= item.title
                a.filter__section-arrow(href='javascript:void(0);')
            .filter__section-block.appearance
                each elem in item.list
                    - disabled = (elem.disabled) ? 'disabled' : ''                    
                    label(class= disabled)= elem.name
                        input(type='checkbox' checked= elem.checked disabled= elem.disabled)
                        span.filter__section-counter= elem.counter

    .filter__section
        .filter__section-title Цена
            a.filter__section-arrow(href='javascript:void(0);')
        .filter__section-block

            = '\n'
            //= Range =

            .range
                .range__toddler
                    input#range(type='text' name='range' value='')
                .range__controls
                    .range__controls-text от
                    input.range__controls-input(type='number' value='165' maxlength='7')
                    .range__controls-text до
                    input.range__controls-input(type='number' value='35560' maxlength='7')
                    .range__controls-text грн.
    
            //= End range =
            = '\n'

//= End filter =
= '\n'