//- Utility
include utils/_variable.pug

-
    pageTitle = 'store'
    main = true // для _logo.pug
    card = true // для иконки корзины

    //js
    tab = true


    swiper = true
    easeSwiper = true

    magnificPopup = true
    magnificPopupInline = true
    //- breadcrumbItems = breadcrumbMainItems // передаем данные в _breadcrumb.pug з utils/_variable.pug
    perfectScrollbar = true
doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        - modifier = (pageTitle) ? 'layout--store' : ''
        #layout.layout(class= modifier)
            - var primaryMenu = primaryMenustore
            include layout/_header.pug
            include layout/_header-device.pug

            //= Main =

            main.main

                img(src="data/store/1.png", alt="")

                .container
                    .tab
                        .tab-menu
                            ul.tab-list
                                li.tab-item
                                    a.tab-link(href='#all') Всі
                                li.tab-item
                                    a.tab-link(href='#woman') Жіночий одяг
                                li.tab-item
                                    a.tab-link(href='#man') Чоловічий одяг
                                li.tab-item
                                    a.tab-link(href='#accessories') Аксесуари
                                li.tab-item
                                    a.tab-link(href='#souvenirs') Сувеніри
                    #all.tab-box
                        - for(var i = 0; i < 12; i++)
                            include module/_card.pug
                        include module/_pagination.pug
                    #woman.tab-box
                        include module/_card.pug
                    #man.tab-box

                    #accessories.tab-box

                    #souvenirs.tab-box







            //= End main =
            = '\n'

            //-#shadow

        //= End layout =

        include layout/_footer.pug
        //- include module/_cookies.pug
        include layout/_scripts.pug

        = '\n'
        //= Modal =
        .modal.modal--example.white-popup-block.mfp-hide#test-drive

            .modal__content
                - ware = true
                include module/_popup.pug

        //= End modal =
        = '\n'

