/* Blog */
.blog {
	padding: 40px 20px 80px;

	&__title {
		font-size: 35px;
		line-height: 1;
		color: #000615;
		font-family: $headingFont;
		margin-bottom: 27px;
	}

	&__list {
	}

	&__item {
		margin-bottom: 30px;
		border: 1px solid #40AC60;
		border-radius: 4px;
		display: flex;
		position: relative;
	}

	&__picture {
		position: absolute;
		width: 50%;
		top: 0;
		left: 0;
		bottom: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		display: none;
	}

	&__image {
		width: 100%;
		max-width: 100%;
		display: block;
	}

	&__content {
		padding: 26px 19px 0;
		position: relative;
	}

	&__name {
		font-size: 20px;
		line-height: 24px;
		color: #2C2C2C;
		margin-bottom: 8px;
	}

	&__text {
		font-size: 15px;
		line-height: 22px;
		color: #2C2C2C;
		margin-bottom: 20px;
	}

	&__tags {
		position: relative;
		margin: 19px 0 10px;
	}

	&__tag {
		color: #696969;
		font-size: 13px;
		line-height: 15px;
		background: #FDFBE0;
		display: inline-block;
		padding: 6px;
		margin: 0 8px 8px 0;
	}

	@media (min-width: 768px) {
		padding: 90px 40px 0;

		&__picture {
			display: block;
		}

		&__content {
			padding: 26px 25px 102px 26px;
			width: 50%;
			margin-left: 50%;
		}

		&__name {
			margin-bottom: 15px;
		}

		&__title {
			font-size: 50px;
			margin-bottom: 48px;
		}

		&__text {
			margin-bottom: 0;
		}

		&__image {
			display: none;
		}

		&__tags {
			position: absolute;
			bottom: 15px;
			left: 26px;
			margin: 0;
		}
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		padding: 54px 0 80px 15px;

		&__title {
			font-size: 56px;
			margin-bottom: 66px;
		}

		&__content {
			padding: 34px 25px 138px 20px;
		}

		&__tags {
			bottom: 27px;
			left: 20px;
		}
	}

	@media (min-width: 768px) {
		@media (max-width: 1224px) {
			padding: 66px 40px 80px;
		}
	}
}

