/* Breadcrumbs */
.breadcrumbs {
	margin: 15px 15px 0;

	&__item {
		display: inline-block;
		vertical-align: middle;

		&:before {
			content: '/';
			display: inline-block;
			vertical-align: middle;
			margin: 0 2px;
			color: #ADADAD;
		}

		&:last-child {
			&:before {
				color: #000415;
			}
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}

	&__link {
		display: inline-block;
		vertical-align: middle;
		color: #ADADAD;
		font-size: 14px;
		line-height: 30px;
		text-decoration: none;
	}

	&__current {
		display: inline-block;
		vertical-align: middle;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		color: #000615;


	}

	//768px
	@media (min-width: $screen_M_Min) {
		margin: 15px 40px 0;
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		margin: 15px 0 0 15px;
	}

}
