/* Cabinet */
.cabinet {
	display: flex;
	align-items: baseline;

	&__item {
		display: flex;
		align-items: center;

		&:last-child {
			display: none;

			&:after {
				display: none;
			}
		}
	}

	&__link {
		text-decoration: none;
		white-space: nowrap;
		font-weight: 500;
		font-size: $fontSize14;
		line-height: 16px;
		color: #000615;
	}

	&__button {
	}

	&__user {
		position: relative;

		&-drop {
			display: none;
			position: absolute;
			background: $base;
			padding: 15px 5px;
			list-style: none;
			bottom: 0;
			left: 0;
			transform: translateY(100%);
			border-left: 1px solid $grayBase;
			width: 142px;

			li {
				padding: 10px;
				border-radius: 4px;

				&:hover {
					background: #EBF6F2;
				}
			}

			a {
				font-size: $fontSize14;
				text-decoration: none;
				color: $grayBase;
			}
		}
	}

	&__user {

		&:hover {
			.cabinet {
				&__user {
					&-drop {
						display: block;
					}
				}
			}
		}

		&-link {
			text-decoration: none;
			margin-right: 10px;
			display: inline-block;
			white-space: nowrap;
			font-weight: 600;
			color: $secongaryColor;
		}
	}

	&__messages {
		width: 28px;
		height: 28px;
		border: 1px solid #E7E7D8;
		background: $base url(../img/message-fill.svg) 50% 50% no-repeat;
		border-radius: 50%;
		display: inline-block;
		position: relative;

		&-count {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			color: #fff;
			text-align: center;
			background: #4FC371;
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(45%, -50%);
		}
	}

	//480px
	@media (min-width: $screen_XS_Min) {

		&__item {

			&:last-child {
				display: block;
			}

			&:after {
				content: '';
				display: inline-block;
				width: 1px;
				height: 35px;
				background: #E7E7D8;
				margin: 0 24px 0 19px;
				position: relative;
				top: -2px;
			}
		}
	}

	//768px
	@media (min-width: $screen_M_Min) {

		&__user {

			&-link {
				margin-right: 18px;
			}
		}
	}
}
