/* Choose */
.choose {
	border: 1px solid $secongaryColor;
	padding: 45px 35px;
	border-radius: 4px;
	position: relative;
	margin: 0 15px;

	&:before {
		content: '';
		width: 144px;
		height: 115px;
		background: url('../img/choose.png') 50% 50% no-repeat;
		position: absolute;
		top: -14px;
		right: 5px;
	}

	&__title {
		font-size: 34px;
		line-height: 1;
		color: $grayDark;
		font-family: $headingFont;
		margin-bottom: 30px;
		margin-right: 80px;
		font-weight: normal;
		text-transform: capitalize;
		text-align: left;
		position: relative;
		z-index: 1;
	}

	&__text {

		span {
			color: $secongaryColor;
		}

		ol {
			list-style: none;

			li {
				font-size: 15px;
				line-height: 27px;
				color: $grayDarker;
				position: relative;
				padding-left: 35px;
				margin-bottom: 10px;

				&:before {
					content: '';
					width: 20px;
					height: 20px;
					background: url('../../assets/img/check.svg');
					position: absolute;
					top: 4px;
					left: 0;
				}
			}
		}
	}

	//480px
	@media (min-width: $screen_XS_Min) {
		&__title {
			text-align: center;
		}

		&__text {
			width: 260px;
			margin: auto;
		}
	}
	//768px
	@media (min-width: $screen_M_Min) {
		padding: 40px 20px 35px;
		margin: 0 42px;

		&:before {
			top: 0;
			right: 31px;
		}

		&__title {
			text-align: left;
			font-weight: 500;
			font-size: 38px;
			line-height: 46px;
			margin-bottom: 27px;
		}

		&__text {
			width: auto;

			ol {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;

				li {
					width: 50%;
					margin-bottom: 8px;
				}
			}
		}
	}
	//1024px
	@media (min-width: $screen_L_Min) {
		margin: 23px 0 0;
		width: 320px;
		padding: 40px 31px 22px;

		&:before {
			top: -15px;
			right: 8px;
		}

		&__title {
			font-size: 34px;
			line-height: 43px;
			margin-bottom: 21px;
		}

		&__text {
			ol {
				display: block;

				li {
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}
}
