/* Features */
.features {
	background: $base;
	border-radius: 4px;
	position: relative;
	padding: 86px 50px 25px;
	width: 100%;

	&:before {
		content: '';
		width: 215px;
		height: 235px;
		background: url('../img/features.png') 50% 50% no-repeat;
		position: absolute;
		top: -74px;
		right: 35px;
	}

	&__title {
		font-size: $fontSizeH5;
		line-height: 43px;
		color: $grayDark;
		font-family: $headingFont;
		margin-right: 64px;
		margin-bottom: 18px;
		font-weight: normal;
		text-transform: capitalize;
		position: relative;
		z-index: 1;
	}

	&__text {
		margin-bottom: 30px;

		ul {
			list-style: none;

			li {
				position: relative;
				padding-left: 32px;
				margin-bottom: 10px;
				font-size: 15px;
				line-height: 27px;

				&:before {
					content: '';
					width: 20px;
					height: 20px;
					position: absolute;
					top: 4px;
					left: 0;
					background: url('../../assets/img/check3.svg');
				}
			}
		}
	}

	&__footer {
		border-top: 1px solid #DEF2E3;
	}

	&__total {
		text-align: center;
		color: $grayDark;
		padding: 22px 0 17px;

		&-label {
			display: inline-block;
			font-size: 18px;
			line-height: 21px;
			vertical-align: middle;
			margin-right: 10px;
		}

		&-symbol {
			display: inline-block;
			font-size: 18px;
			line-height: 21px;
			font-weight: bold;
			vertical-align: super;
		}

		&-price {
			display: inline-block;
			font-size: 32px;
			line-height: 1;
			font-weight: bold;
			vertical-align: middle;
		}
	}

	&__field {
		text-align: center;
	}

	&__button {
		max-width: 260px;
		width: 100%;
	}

	//480px
	@media (min-width: $screen_XS_Min) {
		&__title {
			text-align: center;
		}

		&__text {
			width: 200px;
			margin: auto;
		}
	}

	//768px
	@media (min-width: $screen_M_Min) {
		padding: 55px 82px 25px;

		&:before {
			top: -69px;
			right: 41px;
		}

		&__title {
			text-align: left;
			margin-right: 64px;
			margin-bottom: 29px;
			font-weight: 500;
			font-size: 38px;
			line-height: 46px;
		}

		&__text {
			width: auto;
			margin: 0 auto 25px;

			ul {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;

				li {
					width: 50%;
				}
			}
		}

		&__footer {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;
		}

		&__total,
		&__field {
			width: 50%;
			text-align: left;
			padding: 35px 0;
		}

		&__field {
			text-align: center;
		}
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		width: 320px;
		padding: 46px 30px 25px;

		&:before {
			content: '';
			width: 215px;
			height: 235px;
			background: url('../img/features.png') 50% 50% no-repeat;
			position: absolute;
			top: -99px;
			right: 25px;
		}

		&__title {
			font-size: 34px;
			line-height: 43px;
			margin-bottom: 18px;
		}

		&__text {
			ul {
				display: block;

				li {
					width: 100%;
				}
			}
		}

		&__footer {
			display: block;
		}

		&__total,
		&__field {
			width: 100%;
			text-align: center;
		}

		&__total {
			padding: 27px 0 17px;
		}

		&__field {
			padding: 0;
		}

		&__button {
			width: 100%;
		}
	}
}
