/* Notice */
.notice {
	padding: 0 20px;
	margin: 0 10px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		border-left: 1px solid #000;
		left: 0;
		top: 0;
		bottom: 30px;
	}

	&__title {
		font-size: 28px;
		line-height: 38px;
		color: #000615;
		text-align: center;
		font-family: $headingFont;
		margin-bottom: 20px;
	}

	&__rating {
		text-align: center;

		span {
			display: block;
			margin-bottom: 13px;
		}

		em {
			color: #10B024;
			font-style: normal;
		}
	}

	&__content {
	}

	&__list {
	}

	&__item {
		outline: none;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		margin: 45px 0 23px 0;
	}

	&__quote {
		width: 34px;
		height: 24px;
		background: url('../img/quote.svg') 50% 50% no-repeat;
	}

	&__ratio {
	}

	&__text {
		font-size: 16px;
		line-height: 30px;
		color: #2C2C2C;
		font-family: $headingFont;
		font-style: italic;
		font-weight: normal;
		margin-bottom: 25px;
	}

	&__bottom {
		font-size: 13px;
		line-height: 15px;
		color: #8C9299;

		span {
			font-size: 15px;
			line-height: 18px;
			color: #000;
		}
	}

	.slick-dots {
		margin-top: 40px;
		position: relative;
		z-index: 1;
	}

	&__arrows {
		max-width: 250px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		position: relative;
		top: -30px;
	}

	&__arrow {
		width: 50px;
		height: 50px;
		line-height: 50px;
		background: #EFFBF2;
		border-radius: 50%;
		text-align: center;
		vertical-align: middle;
		border: 1px solid transparent;
		cursor: pointer;
		position: relative;
		z-index: 2;

		&:hover {
			border-color: #000;
		}

		&--prev,
		&--next {
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 7px;
				height: 11px;
				top: 50%;
			}
		}

		&--prev {
			&:after {
				background: url('../../assets/img/arrow--prev.svg');
			}
		}

		&--next {
			&:after {
				background: url('../../assets/img/arrow--next.svg');
			}
		}
	}

	//768px
	@media (min-width: $screen_M_Min) {
		margin: 0 35px;
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		margin: 0;

		&__arrows {
			max-width: 807px;
		}
	}
}
