/* Prices */
.prices {
	padding: 30px 40px 30px 20px;
	background: #FEF1EC;
	border-radius: 4px;
	position: relative;
	margin: 0 15px;

	&:before {
		content: '';
		width: 82px;
		height: 107px;
		background: url('../img/prices.svg') 50% 50% no-repeat;
		position: absolute;
		top: -25px;
		right: 10px;
	}

	&__title {
		font-size: 32px;
		line-height: 35px;
		margin-bottom: 20px;
		font-weight: 600;
		color: $grayDark;
		margin-right: 20px;
	}

	&__text {
		font-size: 15px;
		line-height: 22px;
		color: #212121;
		margin-bottom: 25px;

		span {
			color: $secongaryColor;
		}
	}

	&__field {
		text-align: center;
	}

	&__button {
		max-width: 260px;
		width: 100%;
	}

	//480px
	@media (min-width: $screen_XS_Min) {
		&__title {
			text-align: center;
		}

	}

	//768px
	@media (min-width: $screen_M_Min) {
		margin: 0 40px;
		padding: 40px 31px 38px;

		&:before {
			top: -15px;
			right: 30px;
		}

		&__title {
			text-align: left;
			margin-right: 280px;
			margin-bottom: 26px;
		}

		&__data {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__text {
			width: 54%;
			margin: auto;
		}

		&__field {
			width: 46%;
		}
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		margin: 22px 0 0;
		width: 320px;
		padding: 30px 18px 26px;

		&:before {
			top: -24px;
			right: 12px;
		}

		&__title {
			margin-right: 60px;
			margin-bottom: 20px;
		}

		&__data {
			display: block;
		}

		&__text,
		&__field {
			width: auto;
		}

		&__text {
			margin: 0 50px 25px 0;
			width: 260px;
		}

		&__field {
			text-align: left;
		}
	}
}
