/* Recent */
.recent {
	padding: 25px;
	background: #EFFBF2;

	&__title {
		font-size: 28px;
		line-height: 38px;
		color: #000615;
		margin-bottom: 20px;
		font-family: $headingFont;
		font-weight: 500;
	}

	&__list {
		list-style-type: disc;
		margin-left: 20px;
	}

	&__item {
		font-size: 15px;
		line-height: 22px;
		color: #2C2C2C;
		margin-bottom: 20px;
	}

	//768px
	@media (min-width: $screen_M_Min) {
		margin: 0 25px;
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		margin: 0;
	}

}
