/* Safe */
.safe {
	font-size: 16px;
	line-height: 25px;
	position: relative;
	margin-bottom: 39px;
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		width: 63px;
		height: 93px;
		background: url('../img/grab_key.svg') 50% 50% no-repeat;
		margin-bottom: 5px;
	}

	&__wrapper {
		text-align: left;
	}

	&__title {
		font-weight: bold;
		color: $grayDarker;
		font-size: 16px;
		line-height: 28px;
	}

	&__text {
		padding: 0 20px;
		font-weight: 500;
		font-size: 16px;
		line-height: 28px;
		color: #020202;
	}

	//768px
	@media (min-width: $screen_M_Min) {

		&:before {
			position: absolute;
			right: 39px;
			top: 8px;
		}

		&__wrapper {
			padding-right: 115px;
		}

		&__text {
			padding: 0 0 0 40px;
			line-height: 25px;
		}
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		max-width: 1344px;
		margin: auto;
		padding: 0 15px;
		margin-bottom: 55px;

		&:before {
			right: 36px;
			top: 21px;
		}

		&__wrapper {
			padding-right: 115px;
		}

		&__text {
			padding: 15px 0 0;
			line-height: 25px;
		}
	}

	//1200px
	@media (min-width: 1344px) {
		padding: 0;
	}
}
