/* Subscribe */
.subscribe {
	padding: 30px 20px;
	background: #FEF1EC;
	position: relative;

	&:before {
		content: '';
		width: 130px;
		height: 115px;
		background: url('../img/blog.png') 50% 50% no-repeat;
		position: absolute;
		top: -12px;
		right: 0;
	}

	&__title {
		font-size: 32px;
		line-height: 35px;
		color: #000615;
		font-weight: bold;
		margin-bottom: 22px;
	}

	&__wrapper {
		display: flex;
		flex-flow: column nowrap;
	}

	&__field {
		margin-bottom: 20px;
		max-width: 260px;
		width: 100%;
	}

	&__input {
		font-size: 15px;
		color: #696969;
	}

	&__action {

	}

	&__button {
		width: 260px;
	}

	@media (min-width: 550px) {

		&__wrapper {
			flex-flow: row nowrap;
			justify-content: space-between;
		}

		&__field {
			flex-grow: 1;
			max-width: none;
			margin-right: 28px;
		}

		@media (max-width: 950px) {
			&__wrapper {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
			}
			&__title {
				br {
					display: none;
				}
			}
		}

		@media (max-width: 1024px) {

			&:before {
				top: -25px;
			}

			&__wrapper {
				margin: 0;
			}

			&__field {
				margin-bottom: 0;
			}
		}
	}

	//768px
	@media (min-width: $screen_M_Min) {
		margin: 0 25px;

		&__title {
			br {
				display: none;
			}
		}

	}

	//1024px
	@media (min-width: $screen_L_Min) {
		margin: 0;

		&__title {
			br {
				display: block;
			}
		}

		&__wrapper {
			flex-flow: column nowrap;
		}

		&__field {
			flex-grow: inherit;
			max-width: 260px;
			margin-right: 0;
		}
	}
}
