= '\n'
//= Form =

form.form(action='' method='' class= main ? 'form--white' : '')
    .form__wrapper
        +icon('icon-letter')
        .form__inner
            .form-group.mandatory.has-error
                input.form-control(type='text' required)
                label.control-label Your name
                .help-block fields marked with * are required. please be patient.
            .form-group.mandatory
                input.form-control(type='text' required)
                label.control-label e-mail
                .help-block fields marked with * are required. please be patient.
            if main
                .form-group
                    select.form-control
                        each prop in tabMenuListItems
                            option(value= prop.value selected= (prop === 0))= prop.value
                    label.control-label choose your vacancy type
                    .help-block
            else
                .form-group
                    span fields marked with * are required. please be patient.
                    input.form-control(type='text' required)
                    label.control-label phone number
                    .help-block

            .form-group.form-group--textarea
                textarea.form-control(type='text' required)
                label.control-label comment (optional)
                .help-block

            span fields marked with #[b *] are required. please be patient.

            .form__buttons
                .form-group
                    button.form-control.button(type='submit' disabled class= !main ? 'button--fill' : '') send
                .form__buttons-attach
                    label.button attach briefcase
                        input(type='file')
                    .form__attachment
                        a.form__attachment-document(href='javascript:void(0);')
                            span Zagrava_briefcase.pdf
                            +icon('icon-attach')
                        a.form__attachment-delete(href='javascript:void(0);' title='delete attach')
                            +icon('icon-cross')
        .form__confirm
            if main
                img(src=`data/form.jpg` alt='')
            .form__confirm-title!= title

            if main
                a(href='tel:+380362460062') +380 362 460 062
            else
                .form-group.appearance
                    label
                        input.form-control(type='checkbox' checked)
                        | By clicking on "Send", you confirm that you have read, understood and explicitly agree to the our Privacy Notice. We collect your application data to manage and plan our recruitment activities globally. In the unhappy event that you don't get selected, we will store your details for future opportunities. If you do not wish to be contacted in the future, please let us know.
                    .help-block

//= End form =
= '\n'
