= '\n'
//= Nav =

nav.nav(class= dots ? 'nav--dots' : '')
    ul.nav__list
        each prop in navListItems
            li.nav__list-item(class= (prop.name === pageTitle) ? 'active' : '')
                a(href= prop.link data-expansion= prop.name)= prop.name
//= End nav =
= '\n'
