.footerMenu {

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;

        @media (min-width: 480px) {
            justify-content: flex-end;
            align-items: center;
            flex-flow: row nowrap;
        }
    }

    &__item {
        margin: 0 0 0 17px;

        @media (min-width: 480px) {
            margin: 0 0 0 40px;
        }

        &:first-child {
            margin: 0;
        }
    }

    &__link {
        color: $base;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;

        @media (min-width: 480px) {
            font-size: 16px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
