.footerInfo {

    &__address,
    &__hours,
    &__email,
    &__phone,
    &__fax {
        margin-bottom: 22px;

        li {
            font-family: $fontFamilyBase;
            font-weight: 500;
            color: $base;
            line-height: 1;
            margin-bottom: 5px;

            p {

            }

            span {
                font-size: 16px;
            }

            a {
                font-size: 16px;
                color: $brandPrimary;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &.fax {
                    font-size: 18px;
                    font-weight: normal;
                }
            }
        }
    }

    &__phone {
        margin-bottom: 10px;
    }
}
