= '\n'
//= Logo footer=
//-=(layout/footer/_footerLogo.scss)=
.footerLogo

    if (pageTitle == 'main')
        img.footerLogo__desk(src='assets/images/footer/logof.svg' alt='')

    else
        a.footerLogo__link(href='index.html')
            img.footerLogo__desk(src='assets/images/footer/logof.svg' alt='')

//= End logo footer =
= '\n'
