include vars/_variable.pug

-
    var moduleName = 'header'

= '\n'
//= Header =
header.header#header
    - var searchDrop = true

    .header__device.hide-md-min
        include module/logo/_logo.pug

        .header__device-menu
            a.header__device-menu-button(href='javascript:void(0);')
                i.header__device-menu-button-line

            .header__device-menu-drop
                .header__device-menu-drop-top

                .header__device-menu-drop-content
                    nav.nav

                        = '\n'
                        //= Primary menu =
                        .primary-menu
                            ul.primary-menu__list
                                each val in mainMenu
                                    li.primary-menu__item
                                        .primary-menu__box(class='primary-menu__box--' + val.class)
                                            a.primary-menu__link(href='#')= val.name
                        //= End primary menu =
                        = '\n'

                    include module/menu/_menu.pug


                    = '\n'
                    //= Contacts =
                    .contacts
                        .contacts__mobitem.contacts__mobitem--phone
                            a.contacts__mobitem-value(href="tel:+380503393158") (050)-339-31-58
                            span.contacts__mobitem-text (інформаційна служба торгово-розважального центру)
                    //= End contacts =
                    = '\n'

        a.search__button-drop(href='javascript:void(0);')
        include module/search/_search.pug
        a.search__button-close(href='javascript:void(0);')
            i.search__button-close-line

    - var searchDrop = false

    .container.hide-sm-max
        include module/logo/_logo.pug

        .header__content.hide-sm-max
            .header__content-inner
                include module/menu/_menu.pug

                .header__content-left
                    include module/contacts/_contacts.pug

                include module/socnet/_socnet.pug
                include module/search/_search.pug

    .search__drop
        ul.search__list
            each val in searchOptions
                li.search__item
                    a.search__link(href='#')= val

        .search__drop-box
            .search__title Акції

            ul.search__list
                each val in searchShare
                    li.search__item
                        a.search__link(href='#')= val

        .search__drop-box
            .search__title Новини

            ul.search__list
                each val in searchNews
                    li.search__item
                        a.search__link(href='#')= val
//= End header =
= '\n'
