include ../mixin/_sprite-svg.pug

-
    navListItems = [
        {
            name: 'home',
            link: 'index.html',
        },
        {
            name: 'news',
            link: 'news.html',
        },
        {
            name: 'games archive',
            link: 'catalog.html',
        },
        {
            name: 'career',
            link: 'career.html',
        },
        {
            name: 'about',
            link: 'about.html',
        }
    ]

    tabMenuListItems = [
        {
            id: 'all',
            value: 'All',
        },
        {
            id: 'design-art',
            value: 'Design Art',
        },
        {
            id: 'programming',
            value: 'Programming',
        },
        {
            id: 'game-design',
            value: 'Game Design',
        },
        {
            id: 'animation',
            value: 'Animation & VFX',
        },
        {
            id: 'marketing',
            value: 'Marketing',
        },
        {
            id: 'analytics',
            value: 'Analytics',
        },
        {
            id: 'management',
            value: 'Management',
        }
    ]

    tabContentListItems = [
        {
            id: 'all',
            list: [
                {
                    value: 'Design Art',
                    vacancies: [
                        '2D artist', 'Technical Artist', 'UI/UX artist'
                    ]
                },
                {
                    value: 'programming',
                    vacancies: [
                        'C++ Programmer', 'C# Programmer'
                    ]
                },
                {
                    value: 'Game Design',
                    vacancies: [
                        'Game Designer', 'Producer'
                    ]
                },
                {
                    value: 'Animation & VFX',
                    vacancies: [
                        'VFX artist'
                    ]
                },
                {
                    value: 'Marketing',
                    vacancies: [
                        'Marketing specialist'
                    ]
                },
                {
                    value: 'analytics',
                    vacancies: [
                        'test analytics'
                    ]
                },
                {
                    value: 'management',
                    vacancies: [
                        'Office Manager', 'HR Manager'
                    ]
                }
            ]
        },
        {
            id: 'design-art',
            list: [
                {
                    value: 'Design Art',
                    vacancies: [
                        '2D artist', 'Technical Artist', 'UI/UX artist'
                    ]
                }
            ]
        },
        {
            id: 'programming',
            list: [
                {
                    value: 'programming',
                    vacancies: [
                        'C++ Programmer', 'C# Programmer'
                    ]
                }
            ]
        },
        {
            id: 'game-design',
            list: [
                {
                    value: 'Game Design',
                    vacancies: [
                        'Game Designer', 'Producer'
                    ]
                }
            ]
        },
        {
            id: 'animation',
            list: [
                {
                    value: 'Animation & VFX',
                    vacancies: [
                        'VFX artist'
                    ]
                }
            ]
        },
        {
            id: 'marketing',
            list: [
                {
                    value: 'Marketing',
                    vacancies: [
                        'Marketing specialist'
                    ]
                }
            ]
        },
        {
            id: 'analytics',
            list: [
                {
                    value: 'Analytics',
                    vacancies: [
                        'test analytics'
                    ]
                }
            ]
        },
        {
            id: 'management',
            list: [
                {
                    value: 'management',
                    vacancies: [
                        'Office Manager', 'HR Manager'
                    ]
                }
            ]
        }
    ]

    benefitsItem = [
        {
            image: 'benefit-1',
            title: 'career',
            link: 'career.html',
            text: 'Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur'
        },
        {
            image: 'benefit-2',
            title: 'about',
            link: 'about.html',
            text: 'Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur'
        },
        {
            image: 'benefit-3',
            title: 'news',
            link: 'news.html',
            text: 'Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur'
        }
    ]

    gamesInnerItems = [
        {
            image: 'games-big-1',
            title: 'greedy bunnies',
            link: 'game.html',
            text: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas',
        },
        {
            image: 'games-big-2',
            title: 'seabed station escape',
            link: 'game.html',
            text: 'Seabed Station Escape Locked alone on the abandoned underwater station, could you find your way out? Could you fight through puzzles and killing claustrophobia? Features: – Frightening underwater setting – Full',
        },
        {
            image: 'games-big-3',
            title: 'escape mission: impassable',
            link: 'game.html',
            text: 'To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it'
        },
        {
            image: 'games-big-4',
            title: 'greedy bunnies',
            link: 'game.html',
            text: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas',
        },
        {
            image: 'games-big-5',
            title: 'seabed station',
            link: 'game.html',
            text: 'Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.',
        },
        {
            image: 'games-big-6',
            title: 'escape mission: impassable',
            link: 'game.html',
            text: 'To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it'
        },
        {
            image: 'games-big-7',
            title: 'greedy bunnies',
            link: 'game.html',
            text: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas',
        },
        {
            image: 'games-big-8',
            title: 'seabed station',
            link: 'game.html',
            text: 'Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.',
        },
        {
            image: 'games-big-9',
            title: 'escape mission: impassable',
            link: 'game.html',
            text: 'To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it'
        }
    ]

    gamesMainItems = [
        {
            image: 'games-1',
            title: 'greedy bunnies',
            link: 'game.html',
            text: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas',
        },
        {
            image: 'games-2',
            title: 'seabed station',
            link: 'game.html',
            text: 'Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.',
        },
        {
            image: 'games-3',
            title: 'escape mission: impassable',
            link: 'game.html',
            text: 'To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it'
        }
    ]

    socialListItems = [
        'facebook', 'twitter', 'instagram', 'linkedin'
    ]

    privacyListItems = [
        'Privacy Policy', 'Terms & Conditions'
    ]

    languagesListItems = [
        'en', 'ua', 'ru'
    ]

    careeInnerTaskList = [
        'Проектування та розробка ігрових інтерфейсів для мобільних ігор;',
        'Відмальовка іконок та інших елементів інтерфейсу;',
        'Приклади: <a href="https://dribbble.com/Playrix">https://dribbble.com/Playrix</a>'
    ]

    careeInnerRequirementsList = [
        'Володіння графічними редакторами Photoshop/Illustrator;',
        'Досвід створення інтерфейсів;',
        'Наявність портфоліо (ігрові інтерфейси та їх елементи, бажано для мобільних та / або соціальних ігор);',
        'Добре розуміння юзабіліті;',
        'Плюсом буде досвід роботи із Flash-анімаціями або створеня спецефектів.',
        'Тестове завдання: <a href="https://drive.google.com/file/d/16EN75VEhpWBKHHr9lBTer6LgNRPKfLS8/view">https://drive.google.com/file/d/16EN75VEhpWBKHHr9lBTer6LgNRPKfLS8/view</a>'
    ]

    filterListItems = [
        {
            hide: true,
            title: 'Производитель',
            list: [
                {
                    name: 'Embawood',
                    counter: '(5)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Arbor Drev',
                    counter: '(14)',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'BRW Брест',
                    counter: '(3)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Dizi',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                },
                {
                    name: 'Luxe Studio',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                }
            ]
        },
        {
            title: 'Производитель',
            list: [
                {
                    name: 'Embawood',
                    counter: '(5)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Arbor Drev',
                    counter: '(14)',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'BRW Брест',
                    counter: '(3)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Dizi',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                },
                {
                    name: 'Luxe Studio',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                }
            ]
        }
    ]

    photoMembership = ['1.jpg', '2.jpg', '3.jpg']

    detailsList = [
        'well painted illustration',
        'original story',
        '200 hand-made levels keeping the player engaged for hours',
        'overall 5 billions downloads'
    ]

    linksList = [
        '1.svg',
        '2.svg',
        '3.svg'
    ]

    newsItemInfo = [
        {
            image: 'news-1',
            title: 'Zagrava games is open.<br>Lets get started',
            date: '08/14/2019',
            text: 'Our portfolio contains dozens of successful projects made as ‘work-for-hire’ or in partnership ' +
            'with such companies as Playrix, Maddata, Renatus, Nord Current etc.'
        },
        {
            image: 'news-2',
            title: 'for now you can visit our new office',
            date: '08/10/2019',
            text: 'We strongly believe that GameDev is the most creative IT industry sector. It doesn’t admit of routine and boredom. Our mission is to bring joy to the people. That is why our work should always be full of FUN and JOY. Without these ingredients even the best game will turn into…sad trash?'
        },
        {
            image: 'news-3',
            title: 'New vacancies is open.<br>check it out ',
            date: '08/05/2019',
            text: 'Our mission is to bring joy to the people. That is why our work should always be full of FUN and JOY. Without these ingredients even the best game will turn into…sad trash ? For this reason we carefully select our employees each of which becomes a Zagrava Games family member.'
        }
    ]
