//== BASE
// --------------------------------------------------

//== Colors

$base:                        #fff !default;
$grayBase:                    #000 !default;
$grayDarker:                  #000 !default;
$grayDark:                    #656565 !default;
$gray:                        #534746 !default;
$grayLight:                   #e5e5e5 !default;
$grayLighter:                 #f2f2f2 !default;
$grayMiddle:                  #707070 !default;
$lightText:                   #999 !default;

$brandPrimary:                #96c93d !default;
$brandPrimaryDark:            #8fc138 !default;
$brandSuccess:                #70972e !default;
$brandInfo:                   #000 !default;
$brandWarning:                #000 !default;
$brandDanger:                 #de4343 !default;
$tableBorder:                 #dadada !default;
$tableBg:                     #F9FCF5 !default;
$newtext:                     #808080 !default;

//== Reset

$bodyBg:                      $base !default;
$textColor:                   $grayDark !default;
$linkColor:                   $grayDark !default;


//== Typography

$fontFamilySansSerif:         'Roboto', 'Arial', sans-serif !default;
$fontFamilyNatilus:           'Natilus', $fontFamilySansSerif !default;
$fontFamilyArial:             'Arial', sans-serif !default;


$fontFamilyBase:              $fontFamilySansSerif !default;

$fontSizeBase:                14px !default;
$fontSizeLarge:               18px !default;
$fontSizeSmall:               12px !default;
$fontSizeTiny:                11px !default;

$fontSizeH1:                  34px !default;
$fontSizeH2:                  24px !default;
$fontSizeH3:                  20px !default;
$fontSizeH4:                  16px !default;
$fontSizeH5:                  22px !default;
$fontSizeH6:                  28px !default;
$fontSizeH7:                  27px !default;
$fontSizeH8:                  32px !default;
$fontSizeH9:                  13px !default;
$fontSizeH10:                 36px !default;

$lineHeightBase:              1.428571429 !default; // 20/14


//== MODULE
// --------------------------------------------------

$catalogAbsentBg:             #f0f0f0 !default;
$catalogAbsent:               #b4b4b4 !default;
$catalogAbsentHover:          #9ccc49 !default;

$rating:                      #ccc !default;


$cartmobileBtn:               #f4be0f !default;


$inputBg:                     #f8f7f5 !default;

//== Basket
$basketBg:                    #fafefb !default;
$basketBorder:                #e5e5e5 !default;




//== Questions
$questionsTitle:              44px !default;
$questionsInput:              $inputBg !default;


//== Components
$social:                      #c5c5c5 !default;
$sectionWriteTitle:           28px !default;

//== Cart
$cartBonusesBg:               #e2f9c2 !default;
$bounusBorder:                #cbe3aa !default;

//=== BxSlider

$bxPagerBg1:                  #7fbd30 !default;
$bxPagerBg2:                  #b0d64c !default;


//== Price
$priceOld:                    #b42c2c !default;

//== Filter
$filterItemBg:                #fafafa !default;

//-- Not found
$notfoundText:                32px !default;

//-- Order
$orderDayActiveBg:            #ffdada !default;
$orderDayActive:              #b42c2c !default;


$formLink:                    #999 !default;
$border:                      #c5c5c5 !default;
$borderQuantity:              #ccc !default;
//== OwnBox

$ownbox-index:                1000 !default;
$ownbox-opacity:              .7 !default;
$ownbox-bg:                   #000 !default;
$ownbox-border-radius:        0 !default;
$ownbox-loader-bg:            rgba(0, 0, 0, .9) !default;
$ownbox-close:                20px !default;


//== Media queries breakpoints

$screenXsMin:                 600px !default;
$screenSmMin:                 800px !default;
$screenMdMin:                 1024px !default;
$screenLgMin:                 1200px !default;

$screenMbMax:                 ($screenXsMin - 1) !default;
$screenXsMax:                 ($screenSmMin - 1) !default;
$screenSmMax:                 ($screenMdMin - 1) !default;
$screenMdMax:                 ($screenLgMin - 1) !default;
