include vars/_variable.pug

= '\n'
//= Phone =
.phone
    .phone__content
        a.phone__link.phone__button(href='javascript:void(0);') (098) 453 40 40
        .phone__box
            a.phone__link.phone__link--callback(href='#test-modal') Перезвонить мне
            .phone__dropOperator Vodafone

    a.phone__deviceButton.hide-md-min(href='javascript:void(0);')
//= End phone =
= '\n'
