@import 'vars/_variable.scss';

&__item {
    position: relative;
    padding: 0 15px;

    &Image {
        position: relative;
        display: block;
        margin: 0 0 11px;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    &Content {
        position: relative;
        padding: 0 0 25px;
        border-bottom: 1px solid $newsItem__borderColor;

        &Top {
            position: relative;

            @include clearfix;

            .news {
                &__item {
                    &Category {
                        float: left;
                        margin-right: 30px;
                    }
                }
            }
        }
    }

    &Category {
        font-size: $newsItem__categoryTextFontSize;
        position: relative;
        margin: 0 0 6px;
        text-transform: uppercase;

        &:before {
            position: relative;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 0 5px 0 0;
            content: '';
            border-radius: 50%;
        }

        &--article {
            color: $newsItem__categoryArticleTextColor;

            &:before {
                background: $newsItem__categoryArticleTextColor;
            }
        }

        &--news {
            color: $newsItem__categoryNewsTextColor;

            &:before {
                background: $newsItem__categoryNewsTextColor;
            }
        }
    }

    &Date {
        font-size: $newsItem__DateTextFontSize;
        position: relative;
        float: left;
        margin: -2px 0 0;
        color: $newsItem__DateTextColor;
    }

    &Title {
        font-size: $newsItem__titleTextFontSize;
        line-height: (24px / $newsItem__titleTextFontSize);
        position: relative;
        margin: 0 0 10px;

        &Link {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &Text {
        position: relative;
        color: $newsItem__textColor;
    }
}
