@import 'vars/_variable.scss';

.breadcrumbs {
    line-height: (32px / $breadcrumbs__baseFontSize);
    position: relative;
    margin: -15px 0 25px;
    display: none;

    @include clearfix;

    li {
        position: relative;
        float: left;

        &:before {
            position: absolute;
            display: block;
            content: '';
        }

        &.active {
            &:before {
                display: none;
            }
        }
    }

    a {
        position: relative;
        display: block;
        padding: 0 0 1px;
        transition: all .2s linear;
        text-decoration: none;
        color: $grayDark;

        &:hover {
            color: inherit;
        }
    }

    &__drop {
        position: absolute;
        z-index: 2;
        top: 100%;
        right: 0;
        display: none;
        width: 700px;
        column-count: 2;
        margin: 16px 0 0;
        padding: 15px;
        border-radius: 10px;
        background: $breadcrumbs__backgroundColor;
        box-shadow: 0 0 20px $breadcrumbs__shadowColor;

        @include clearfix;
    }

    &__item {
        position: relative;
        padding: 10px 0 10px 45px;
        border-bottom: 1px solid $breadcrumbs__borderColor;
        width: 100%;
        page-break-inside: avoid;
        break-inside: avoid;

        @include clearfix;
    }

    &__image {
        font-size: 0;
        float: left;
        width: 30px;
        height: 40px;
        margin: 0 15px 0 -45px;
        text-align: center;

        &:before {
            position: relative;
            display: inline-block;
            width: 0;
            height: 100%;
            content: '';
            vertical-align: middle;
        }

        img {
            font-size: $breadcrumbs__baseFontSize;
            max-height: 100%;
        }
    }

    &__title {
        font-size: 0;
        position: relative;
        float: left;
        width: 190px;
        height: 40px;

        &:before {
            position: relative;
            display: inline-block;
            width: 0;
            height: 100%;
            content: '';
            vertical-align: middle;
        }

        &Link {
            font-size: $breadcrumbs__baseFontSize;
        }
    }

    &__price {
        font-size: $breadcrumbs__priceTextFontSize;
        font-weight: 700;
        line-height: (40px / $breadcrumbs__priceTextFontSize);
        position: relative;
        float: right;
        width: 85px;
    }

    &__more {
        float: right;

        &:after {
            position: relative;
            top: -1px;
            display: inline-block;
            width: 8px;
            height: 15px;
            margin: 0 0 0 5px;
            content: '';
            vertical-align: middle;
            background: url('../images/content/icon/next.png') no-repeat;
        }
    }

    .breadcrumbs {
        &__image {
            padding: 0;
        }

        &__title {
            &Link {
                display: inline-block;
                padding: 0;
                vertical-align: middle;
                color: inherit;
            }
        }

        &__more {
            padding: 0;
            text-decoration: underline;
            color: $brandPrimary;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &--glossary {
        margin: 0;
        display: flex;
        flex-flow: column-reverse;
        width: 230px;
        border: 1px solid #e4e4e4;
        flex-shrink: 0;

        li {
            padding: 0 17px;

            &:first-child {
                padding: 0 17px;
            }

            &:before {
                display: none;
            }

            &.active {
                background: $brandInfo;
            }

            a {
                line-height: 40px;
                color: $grayExtraLight;
            }
        }
    }

    @media (max-width: $screenXsMax) {
        li {
            padding-right: 20px;

            &:before {
                top: 50%;
                right: 7.5px;
                width: 5px;
                height: 1px;
                background: $breadcrumbs__textColor;
            }
        }
    }

    @media (min-width: $screenSmMin) {
        li {
            margin: 0 0 0 -14px;
            padding: 0 14px;
            border: 1px solid $breadcrumbs__borderColor;
            border-right: none;
            border-left: none;

            &:before {
                top: -1px;
                right: 0;
                bottom: -1px;
                width: 14px;
                background: $breadcrumbs__backgroundColor url('../images/content/bg/breadcrumbs.png') right no-repeat;
            }

            &.active {
                &:before {
                    display: block;
                }
            }

            &:first-child {
                margin-left: 0;
                padding-left: 0;
            }

            &:last-child {
                &:before {
                    background-color: $breadcrumbs__backgroundColor;
                }

                a {
                    color: inherit;
                }

                .breadcrumbs {
                    &__more {
                        color: $breadcrumbs__moreTextColor;
                    }
                }
            }

            &:hover {
                .breadcrumbs {
                    &__text {
                        border-bottom-color: transparent;
                    }
                }
            }
        }

        a {
            padding-right: 20px;
            padding-left: 20px;
        }

        span {
            margin-right: 20px;
            margin-left: 20px;
        }

        &__text {
            color: $breadcrumbs__textActiveColor;
            line-height: 1;
            position: relative;
            display: inline-block;
            transition: all .2s linear;
            border-bottom: 1px dashed;
        }

        &--glossary {
            li {
                border: none;
                padding: 0 17px;
                margin: 0;
        
                &:first-child {
                    padding: 0 17px;
                }

                a {
                    padding: 0;
                }

                &.active {
                    &:before {
                        display: none;
                    }
                }
            }

            .breadcrumbs {
                &__text {
                    color: $grayDark;
                    border: none;
                }
            }
        }
    }

    @media (min-width: $screenMdMin) {
        display: block;

        &__drop {
            right: 50%;
            transform: translateX(50%);
        }
    }
}
