//- Utility
include utils/_variable.pug

- pageTitle = 'Main page'

-
    //-source\html\layout\_scripts.pug
    var newsSlickInit = true


doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_header-device.pug
            //-include layout/_navigation.pug
            include layout/_SliderMain.pug

            //= Main =
            main#main.main
                include module/_aboutUs.pug
                include module/_installation.pug
                include module/_engage.pug
                include module/_recall.pug
            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
        script(src='assets/js/parallax.min.js')

        script.
            $(document).ready(function(){

                // main slider init
                $('#main_slider').slick({
                    infinite: true,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    dots: false,
                    arrows: false
                });

                $(function(){
                    $('.sliderMain__square .sliderMain__squareText').mouseenter(function(){

                        var index_switch = $(this).index();
                        $('.sliderMain__image .slide__img').stop().fadeOut(400).eq(index_switch).fadeIn(800)
                    });

                    $('.sliderMain__square .sliderMain__squareText').mouseleave(function(){

                        var index_switch = $(this).index();
                        $('.sliderMain__image .slide__img').stop().fadeOut(400)
                    });
                });

                // recallSlider slider init
                var $status = $('.recall__pagingInfo');
                var $slickElement = $('#recallSlider');

                $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
                    //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
                    var i = (currentSlide ? currentSlide : 0) + 1;
                    $status.html('<span>' + i + '</span>' + '<span>/</span>' + '<span>' + slick.slideCount + '</span>');
                });

                $slickElement.slick({
                    slide: '.recall__item',
                    //autoplay: true,
                    //dots: true,
                    arrows: true,
                    prevArrow: '<button type="button" class="slick-prev"></button>',
                    nextArrow: '<button type="button" class="slick-next"></button>'
                });
            });
