.pagination {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 0;

    li {
        position: relative;

        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
        
        a {
            display: block;
            text-decoration: none;
            color: $grayDarker;
            cursor: pointer;
            border: 1px solid $grayLight;
            background: transparent;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }

        &:hover,
        &.active {

            a {
                color: $base;
                background: $grayLight;
                border-color: $grayLight;
            }
        }

        &.prev,
        &.next {

            span,
            a {
                display: block;
                width: 11px;
                height: 21px;
                text-decoration: none;
                background: url(../images/example/arrows_slider.png) no-repeat;
                background-position-y: -22px;
                cursor: pointer;
                border-color: transparent;
            }

            span {
                display: none;
                background-position-y: 0;
            }

            &.disabled {
                span {
                    display: block;
                }
    
                a {
                    display: none;
                }
            }
        }

        &.next {
            span,
            a {
                background-position-x: -13px;
            }
        }
    }
}