.rating {
    position: relative;
    display: inline-flex;

    &-list {
        padding: 0;
        list-style: none;
    }

    &-item {
        float: left;
        cursor: pointer;
        width: 14px;
        height: 14px;
        margin-right: 2px;
        position: relative;

        &:after {
            position: absolute;
            content: '';
            width: 14px;
            height: 14px;
            left: 0;
            top: 0;
            background: #ddd;
        }
    }

    &-full {
        &:after {
            background: yellow;
        }
    }
}