@import 'vars/_variable.scss';

.device-menu {
    position: fixed;
    z-index: 101;
    bottom: 15px;
    left: 15px;
    display: none;

    &__button {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $deviceMenu__backgroundColor;
        box-shadow: 0 5px 10px $deviceMenu__shadowColor;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 23px;
            height: 23px;
            margin: -11px 0 0 -11px;
            content: '';
            background: url('../images/content/icon/catalog_type.png') no-repeat;
        }
    }

    &__drop {
        position: absolute;
        left: 0;
        bottom: 120%;
        display: none;
    }

    &__list {
        position: relative;
    }

    &__item {
        position: relative;
        margin: 0 0 20px;

        &--active {
            .device-menu {
                &__link {
                    opacity: 1;

                    &:before {
                        animation: scale .4s linear forwards;
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__box {
        position: relative;
        padding: 0 0 0 40px;

        &--shop {
            .device-menu {
                &__link {
                    &:before {
                        background-color: $deviceMenu__shopBgColor;
                        background-image: url('../images/nav/icon/shop.png');
                    }
                }
            }
        }

        &--food {
            .device-menu {
                &__link {
                    &:before {
                        background-color: $deviceMenu__foodBgColor;
                        background-image: url('../images/nav/icon/food.png');
                    }
                }
            }
        }

        &--service {
            .device-menu {
                &__link {
                    &:before {
                        background-color: $deviceMenu__serviceBgColor;
                        background-image: url('../images/nav/icon/service.png');
                    }
                }
            }
        }

        &--entertainment {
            .device-menu {
                &__link {
                    &:before {
                        background-color: $deviceMenu__entertainmentBgColor;
                        background-image: url('../images/nav/icon/entertainment.png');
                    }
                }
            }
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        color: $base;
        border-radius: 2px;
        opacity: 0;
        transition: all .2s linear;
        background: rgba(0, 0, 0, .8);

        &:before {
            position: absolute;
            top: 0;
            left: -40px;
            display: block;
            width: 30px;
            height: 30px;
            content: '';
            transition: all .2s linear;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50% auto;
            transform: scale(.5);
        }
    }
}

@keyframes scale {

    from {
        transform: scale(.5);
    }

    50% {
        transform: scale(1.4);
    }

    to {
        transform: scale(1);
    }

}
