include vars/_variable.pug

= '\n'
//= Device menu =
.device-menu.hide-md-min
    a.device-menu__button(href='javascript:void(0);')

    .device-menu__drop
        ul.device-menu__list
            each val in mainMenu
                li.device-menu__item
                    .device-menu__box(class='device-menu__box--' + val.class)
                        a.device-menu__link(href='#')= val.name
//= End device menu =
