
.innerPage {

    .primaryMenu,
    .secondMenu,
    .thirdMenu {

        ul.primaryMenu__inner,
        ul.secondMenu__inner,
        ul.thirdMenu__inner {
            li {

                a {
                    color: $grayDark;
                }
            }
        }
    }

    .secondMenu,
    .thirdMenu {
        margin: 20px 17px 0;

        ul.secondMenu__inner,
        ul.thirdMenu__inner {
            justify-content: space-between;
            li {
                padding: 0 0 11px;
                margin: 0 0 2px;

                a {
                    color: #666666;
                    font-size: 16px;
                }

                &.active {
                    position: relative;

                    &:after {
                        content: '';
                        border-bottom: 2px solid $brandSuccess;
                        position: absolute;
                        top: 100%;
                        left: -9px;
                        width: calc(100% + 19px);
                    }

                    a {
                        color: $grayDark;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .thirdMenu {
        padding: 18px 17px 0;
        margin: 0;

        ul.thirdMenu__inner {
            justify-content: center;

            li {
                padding: 0 0 17px;
                margin: 0 24px 2px;
                font-family: $fontFamilyBase;


                &.active {

                    a {
                        color: $grayDark;
                    }
                }
            }
        }
    }
}

.primaryMenu,
.secondMenu,
.thirdMenu {
    margin-right: 20px;

    ul.primaryMenu__inner,
    ul.secondMenu__inner,
    ul.thirdMenu__inner {
        @extend %flex;
        justify-content: center;
        //align-items: center;

        @media (max-width: 1319px) {
            flex-flow: column nowrap;
            align-items: flex-start;
            margin-top: 15px;
        }

        li {
            padding: 4px 23px 0 22px;
            position: relative;
            font-family: $fontFamilyGilroy_SmBd;

            @media (max-width: 1319px) {
                border: 0;
                margin: 5px 0;
                padding: 0;
                height: auto;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &.active {

                a {
                    color: $brandSuccess;
                }
            }

            a {
                color: $base;
                text-decoration: none;
                top: -2px;
                position: relative;

                @media (max-width: 1319px) {
                    //font-size: 14px;
                    color: $grayBase;
                }

                &:hover {
                    text-decoration: underline;

                    @media (max-width: 1319px) {
                        color: $brandPrimary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

