= '\n'
//= Logo footer=
//-=(layout/footer/_footerLogo.scss)=
.footerLogo

    if (pageTitle == 'Main page')
        img.footerLogo__desk(src='assets/images/footer/logof.png' alt='')
        p Фортуна
        span салон магазин

    else
        a.footerLogo__link(href='index.html')
            img.footerLogo__desk(src='assets/images/footer/logof.png' alt='')
            p Фортуна
            span салон магазин

//= End logo footer =
= '\n'
