-
    pageTitle = 'Блог'
//- Utility
include utils/_variable.pug

doctype html
html
    include layout/_head.pug
    include module/_form.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug

            //= Main =
            main#main.main
                - var breadcrumbs = ['Головна сторінка', 'Блог']
                include module/_breadcrumbs.pug

                .container
                    include module/_article.pug

            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
        script(src='assets/js/jquery.selectric' + minSuffix + '.js')
        script.
            $(document).ready(function () {
                $('.languagelist, .citylist').selectric();
            });

