-
    pageTitle = 'Особистий кабінет'
//- Utility
include utils/_variable.pug

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug

            //= Main =
            main#main.main
                - var breadcrumbs = ['Головна сторінка', 'Особистий кабінет']
                include module/_breadcrumbs.pug

                .container
                    = '\n'
                    //= Cabinet =
                    .cabinet
                        .cabinet__header
                            - var title = [{modifier: '', elem: 'h1', icon: '', text: 'МОЇ ЗАМОВЛЕННЯ', name: 'Особистий кабінет'}]
                            include module/_title.pug

                        .cabinet__section
                            .cabinet__section-title
                                .cabinet__section-name Моя інформація
                                a.cabinet__section-link(href='#')
                                    span Інформація про бонусну програму

                            .cabinet__section-content

                                = '\n'
                                //= Table =
                                table.table
                                    tr.table__row.table__row--head
                                        th.table__col Особистий код
                                        th.table__col Ваше і’мя
                                        th.table__col Адреса
                                        th.table__col Бали
                                        th.table__col Статус

                                    tr.table__row
                                        td.table__col 3355184
                                        td.table__col Олександр Васько
                                        td.table__col
                                            ol
                                                li Одеса вул. Перемоги 43
                                                li Одеса вул. Перемоги 12а
                                                li Одеса вул. Перемоги 55
                                                li Одеса вул. Перемоги 17б
                                        td.table__col 500
                                        td.table__col Лояльний
                                //= End table =

                                -
                                    var mobtable = [
                                        {
                                            name: 'Особистий код',
                                            value: '3355184'
                                        },
                                        {
                                            name: 'Ваше і’мя',
                                            value: 'Олександр Васько'
                                        },
                                        {
                                            name: 'Адреса',
                                            value: `
                                                <ol>
                                                    <li>Одеса вул. Перемоги 43</li>
                                                    <li>Одеса вул. Перемоги 12а</li>
                                                    <li>Одеса вул. Перемоги 55</li>
                                                    <li>Одеса вул. Перемоги 17б</li>
                                                </ol>`
                                        },
                                        {
                                            name: 'Бали',
                                            value: '500'
                                        },
                                        {
                                            name: 'Статус',
                                            value: 'Лояльний'
                                        },
                                    ]

                                include module/_mobtable.pug


                        .cabinet__section
                            .cabinet__section-title
                                .cabinet__section-name Мої замовлення

                            .cabinet__section-content

                                = '\n'
                                //= Table =
                                table.table
                                    tr.table__row.table__row--head
                                        th.table__col №
                                        th.table__col Дата
                                        th.table__col Адреса
                                        th.table__col Опис роботи
                                        th.table__col Вартість роботи
                                        th.table__col Гарантія
                                        th.table__col Оцінка

                                    tr.table__row
                                        td.table__col 12899
                                        td.table__col 04.05.2018
                                        td.table__col Одеса вул. Перемоги 43
                                        td.table__col Послуги сантехніка
                                        td.table__col 499 грн.
                                        td.table__col 04.08.18 - 05.08.19
                                        td.table__col 4.7

                                    tr.table__row
                                        td.table__col 12899
                                        td.table__col 04.05.2018
                                        td.table__col Одеса вул. Перемоги 12а
                                        td.table__col Послуги електрика
                                        td.table__col 599 грн.
                                        td.table__col 04.08.18 - 05.08.19
                                        td.table__col 4.8
                                //= End table =

                                -
                                    var mobtable = [
                                        {
                                            name: '№',
                                            value: '12899'
                                        },
                                        {
                                            name: 'Дата',
                                            value: '04.05.2018'
                                        },
                                        {
                                            name: 'Адреса',
                                            value: 'Одеса вул. Перемоги 43'
                                        },
                                        {
                                            name: 'Опис роботи',
                                            value: 'Послуги сантехніка'
                                        },
                                        {
                                            name: 'Вартість роботи',
                                            value: '499 грн.'
                                        },
                                        {
                                            name: 'Гарантія',
                                            value: '04.08.18 - 05.08.19'
                                        },
                                        {
                                            name: 'Оцінка',
                                            value: '4.7'
                                        },
                                    ]

                                include module/_mobtable.pug

                                -
                                    var mobtable = [
                                        {
                                            name: '№',
                                            value: '12899'
                                        },
                                        {
                                            name: 'Дата',
                                            value: '04.05.2018'
                                        },
                                        {
                                            name: 'Адреса',
                                            value: 'Одеса вул. Перемоги 12а'
                                        },
                                        {
                                            name: 'Опис роботи',
                                            value: 'Послуги сантехніка'
                                        },
                                        {
                                            name: 'Вартість роботи',
                                            value: '499 грн.'
                                        },
                                        {
                                            name: 'Гарантія',
                                            value: '04.08.18 - 05.08.19'
                                        },
                                        {
                                            name: 'Оцінка',
                                            value: '4.8'
                                        },
                                    ]

                                include module/_mobtable.pug

                        .cabinet__section
                            .cabinet__section-title
                                .cabinet__section-name Мої відгуки

                            .cabinet__section-content
                                = '\n'
                                //= Table =
                                table.table
                                    tr.table__row.table__row--head
                                        th.table__col №
                                        th.table__col Дата
                                        th.table__col Адреса
                                        th.table__col Тип відгуку
                                        th.table__col Суть відгуку
                                        th.table__col Статус відгуку

                                    tr.table__row
                                        td.table__col 12899
                                        td.table__col 04.05.2018
                                        td.table__col Одеса вул. Перемоги 43
                                        td.table__col Тип відгуку
                                        td.table__col Суть відгуку
                                        td.table__col Статус відгуку

                                    tr.table__row
                                        td.table__col 12899
                                        td.table__col 04.05.2018
                                        td.table__col Одеса вул. Перемоги 12а
                                        td.table__col Тип відгуку
                                        td.table__col Суть відгуку
                                        td.table__col Статус відгуку
                                //= End table =

                                -
                                    var mobtable = [
                                        {
                                            name: '№',
                                            value: '12899'
                                        },
                                        {
                                            name: 'Дата',
                                            value: '04.05.2018'
                                        },
                                        {
                                            name: 'Адреса',
                                            value: 'Одеса вул. Перемоги 43'
                                        },
                                        {
                                            name: 'Тип відгуку',
                                            value: 'Тип відгуку'
                                        },
                                        {
                                            name: 'Суть відгуку',
                                            value: 'Суть відгуку'
                                        },
                                        {
                                            name: 'Статус відгуку',
                                            value: 'Статус відгуку'
                                        }
                                    ]

                                include module/_mobtable.pug

                                -
                                    var mobtable = [
                                        {
                                            name: '№',
                                            value: '12899'
                                        },
                                        {
                                            name: 'Дата',
                                            value: '04.05.2018'
                                        },
                                        {
                                            name: 'Адреса',
                                            value: 'Одеса вул. Перемоги 12a'
                                        },
                                        {
                                            name: 'Тип відгуку',
                                            value: 'Тип відгуку'
                                        },
                                        {
                                            name: 'Суть відгуку',
                                            value: 'Суть відгуку'
                                        },
                                        {
                                            name: 'Статус відгуку',
                                            value: 'Статус відгуку'
                                        }
                                    ]

                                include module/_mobtable.pug

                        .cabinet__section
                            .cabinet__section-title
                                .cabinet__section-name Мої рекомендації

                            .cabinet__section-content
                                = '\n'
                                //= Table =
                                table.table
                                    tr.table__row.table__row--head
                                        th.table__col Дата
                                        th.table__col Адреса
                                        th.table__col Опис роботи
                                        th.table__col Вартість матеріалів
                                        th.table__col Вартість роботи

                                    tr.table__row
                                        td.table__col 04.05.2018
                                        td.table__col Одеса вул. Перемоги 43
                                        td.table__col Опис роботи
                                        td.table__col 1299 грн.
                                        td.table__col 2670 грн.

                                    tr.table__row
                                        td.table__col 04.05.2018
                                        td.table__col Одеса вул. Перемоги 12а
                                        td.table__col Опис роботи
                                        td.table__col 1299 грн.
                                        td.table__col 2670 грн.
                                //= End table =


                                -
                                    var mobtable = [
                                        {
                                            name: 'Дата',
                                            value: '04.05.2018'
                                        },
                                        {
                                            name: 'Адреса',
                                            value: 'Одеса вул. Перемоги 43'
                                        },
                                        {
                                            name: 'Опис роботи',
                                            value: 'Опис роботи'
                                        },
                                        {
                                            name: 'Вартість матеріалів',
                                            value: '1299 грн.'
                                        },
                                        {
                                            name: 'Вартість роботи',
                                            value: '2670 грн.'
                                        }
                                    ]

                                include module/_mobtable.pug

                                -
                                    var mobtable = [
                                        {
                                            name: 'Дата',
                                            value: '04.05.2018'
                                        },
                                        {
                                            name: 'Адреса',
                                            value: 'Одеса вул. Перемоги 12а'
                                        },
                                        {
                                            name: 'Опис роботи',
                                            value: 'Опис роботи'
                                        },
                                        {
                                            name: 'Вартість матеріалів',
                                            value: '1299 грн.'
                                        },
                                        {
                                            name: 'Вартість роботи',
                                            value: '2670 грн.'
                                        }
                                    ]

                                include module/_mobtable.pug

                        .cabinet__action
                            a.cabinet__button(href='#') ВИКЛИКАТИ МАЙСТРА
                            a.cabinet__button(href='#') ДОДАТИ ВІДГУК

                    //= End cabinet =
                    = '\n'

            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
        script(src='assets/js/jquery.selectric' + minSuffix + '.js')
        script.
            $(document).ready(function () {
                $('.languagelist, .citylist').selectric();
            });
