-
    pageTitle = 'Модальное окно'
//- Utility
include utils/_variable.pug

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug

            //= Main =
            main#main.main
                - var breadcrumbs = ['Головна сторінка', 'Контакти']
                include module/_breadcrumbs.pug

                = '\n'
                //= forms =
                //- (module/_modal.scss)

                .container
                    p
                        a.popup-modalOrder(href='#form-popupOrder') Оформити замовлення для виконання роботи вже зараз
                    p
                        a.popup-modalDuring(href='#form-popupDuring') Протягом 10 хвилин
                    p
                        a.popup-modalAdvice(href='#form-popupAdvice') Отримати безкоштовну консультацію вже зараз
                    p
                        a.popup-modalDecision(href='#form-popupDecision') Ви знайшли рішення своєії проблеми?

                = '\n'
                //= form-popupOrder =
                .modal.white-popup-block.mfp-hide.popup-ssNew.popup-ss-740#form-popupOrder
                    a.modal__close.popup-modal-dismiss(href='#')

                    .modal__content-ss
                        .modal__title
                            - var title = [{modifier: '', elem: 'h2', icon: '', text: '', name: 'Оформити замовлення для виконання роботи вже зараз'}]
                            include module/_title.pug

                        .modal__review
                            input.modal__review-input(type='text' placeholder="Введіть ім`я")
                            input.modal__review-input(type='text' placeholder="Введіть телефон")

                            select(class="modal__select" name="")
                                option(value="0" selected) Що потрібно зробити?
                                option(value="1") А кто его знает
                                option(value="2") Все
                            button.modal__review-submit(type='submit') ОФОРМИТИ

                //= End form-popupOrder =
                = '\n'

                = '\n'
                //= form-popupDuring =
                .modal.white-popup-block.mfp-hide#form-popupDuring.popup-ssNew
                    a.modal__close.popup-modal-dismiss(href='#')

                    .modal__content
                        .modal__title.modal__marg Протягом 10 хвилин,

                        .modal__text з Вами зв'яжеться диспетчер для уточнення інформації.
                            p Дякуємо!

                //= End form-popupDuring =
                = '\n'

                = '\n'
                //= form-popupAdvice =
                .modal.white-popup-block.mfp-hide.popup-ssNew#form-popupAdvice
                    a.modal__close.popup-modal-dismiss(href='#')

                    .modal__content-ss
                        .modal__title
                            - var title = [{modifier: '', elem: 'h2', icon: '', text: '', name: 'Отримати безкоштовну консультацію вже зараз'}]
                            include module/_title.pug

                            .modal__review
                                input.modal__review-input(type='text' placeholder="Введіть ім`я")
                                input.modal__review-input(type='text' placeholder="Введіть телефон")
                                .modal__submit
                                    button.modal__review-submit.modal__review-50(type='submit') ОТРИМАТИ
                                    button.modal__review-submit.modal__review-submit-inversion.modal__review-50(type='submit') НІ, ДЯКУЮ!

                //= End form-popupAdvice =
                = '\n'

                = '\n'
                //= form-popupDecision =
                .modal.white-popup-block.mfp-hide.popup-ssNew#form-popupDecision
                    a.modal__close.popup-modal-dismiss(href='#')

                    .modal__content-ss
                        .modal__title
                            - var title = [{modifier: '', elem: 'h2', icon: '', text: '', name: 'Ви знайшли рішення своєії проблеми?'}]
                            include module/_title.pug

                        .modal__review
                            button.modal__review-submit.modal__review-submit-bottom(type='submit') ТАК, ДЯКУЮ?
                            button.modal__review-submit.modal__review-submit-inversion(type='submit') НІ, ХОЧУ ЩОБ МЕНЕ ПРОКОНСУЛЬТУВАЛИ!

                //= End form-popupDecision =
                = '\n'

            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
        script(src=bowerDir + 'dimsemenov/magnific-popup/dist/jquery.magnific-popup.js')
        script(src='assets/js/jquery.selectric' + minSuffix + '.js')

        script.
            $(document).ready(function () {
                $('.popup-modalOrder').magnificPopup({
                    type: 'inline',
                    preloader: false,
                    //focus: '#username',
                    modal: true,
                    fixedBgPos: true
                });
                $(document).on('click', '.popup-modal-dismiss', function (e) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });

                $('.popup-modalDuring').magnificPopup({
                    type: 'inline',
                    preloader: false,
                    //focus: '#username',
                    modal: true,
                    fixedBgPos: true
                });
                $(document).on('click', '.popup-modal-dismiss', function (e) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });

                $('.popup-modalAdvice').magnificPopup({
                    type: 'inline',
                    preloader: false,
                    //focus: '#username',
                    modal: true,
                    fixedBgPos: true
                });
                $(document).on('click', '.popup-modal-dismiss', function (e) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });

                $('.popup-modalDecision').magnificPopup({
                    type: 'inline',
                    preloader: false,
                    //focus: '#username',
                    modal: true,
                    fixedBgPos: true
                });
                $(document).on('click', '.popup-modal-dismiss', function (e) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });

                $('.modal__select').selectric();

                $(document).on('click', '.closeforstarege', function (e) {
                    localStorage.setItem('cookies-accept', 'y');
                });


                $('#layout').mouseleave(function() {

                    if (localStorage.getItem('cookies-accept') === null) {

                        $.magnificPopup.open({
                            type: 'inline',
                            //preloader: false,
                            //modal: true,
                            //fixedBgPos: true
                            items: {
                                src: '<div class="modal white-popup-block popup-ssNew" id="form-popupDuring"><a class="modal__close popup-modal-dismiss closeforstarege" href="#"></a><div class="modal__content"><div class="modal__title modal__marg">Протягом 10 хвилин,</div><div class="modal__text">з Вами звяжеться диспетчер для уточнення інформації.<p>Дякуємо!</p></div></div></div>'
                            }
                        });
                    }

                });

            });
