-
    pageTitle = ' Послуги сантехніка'
//- Utility
include utils/_variable.pug

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug

            //= Main =
            main#main.main
                - var breadcrumbs = ['Головна сторінка', 'Послуги сантехніка']
                include module/_breadcrumbs.pug

                .container


                    = '\n'
                    //= Main-text =
                    .main-text
                        .main-text__header
                            - var title = [{modifier: '', elem: 'h1', icon: 'data/search/search.png', text: 'ДОДАТКОВА ІНФОРМАЦІЯ:', name: 'Гарантія'}]
                            include module/_title.pug

                        .main-text__content

                            p.
                                Гарантія – це те, що відрізняє роботу майстра Домової служби від роботи будь – якого іншого широкопрофільного умільця. Адже наш працівник несе особисту відповідальність за вирішення Ваших побутових  проблем. Тому, для закріплення взаємодовіри між Домовою службою та вами, майстер надає Акт виконаних робіт. Він є підтвердженням Вашого права на гарантію.

                            p.
                                Гарантія – це право на безкоштовне усунення проблеми, яка виникла під час вказаного в Акті виконаних робіт періоду і пов’язана з неякісною роботою майстра. Наприклад, якщо майстер відремонтував пральну машинку з гарантією на 3 місяці і машинка знову зламалась через місяць, майстер її відремонтує безкоштовно.

                            h2 Як зрозуміти, чи в мене триває гарантія?

                            ul
                                li.
                                    Спосіб 1. Подивитись в мобільному додатку Домової служби або в персональному кабінеті на сайті служби.
                                li Спосіб 2. Зателефонувати диспетчеру служби.
                                li Спосіб 3. Подивитись в Акті виконаних робіт чи в Сервісній книжці.

                            h2 Як забезпечується гарантія.

                            p.
                                У гарантійному випадку майстри служби або переробляють роботу, або повертають кошти, якщо проблему усунути неможливо. Якщо у наслідку неякісно виконаної роботи обладнання чи предмет безнадійно зіпсовано Домова служба купує нове обладнання чи предмет.

                            h2 Коли виконується гарантія.
                            p Максимально швидко але не пізніше 2 днів від дати звернення.

                            h2 Що потрібно для того, щоб гарантія виконувалась.
                            p.
                                Зателефонувати диспетчеру чи повідомити про проблему через мобільний додаток чи сайт. Якщо необхідно оцінити величину проблеми, розмір збитків чи встановити факти, які проблемно пояснити по телефону, запрошуйте контролера.

                            h2 Чи можна розраховувати на гарантію, коли втрачено Акт виконаних робіт?
                            p.
                                Якщо Ви втратили Акт виконаних робіт і не пам’ятаєте вказаного терміну, але хочете отримати послугу на правах гарантії, - не турбуйтесь! Домова служба зацікавлена у позитивному результаті роботи й завжди готова піти назустріч своїм клієнтам. Кожне замовлення у нас фіксується в програмі обліку замовлень і програма сама обліковує термін гарантії. Передзвоніть диспетчеру і вона, піднявши картку замовлення, повідомить термін безкоштовного обслуговування, який у вас залишився.

                            h2 Коли гарантія не діє.
                            p Гарантія не діє, якщо пошкодження виникли внаслідок:

                            ul
                                li.
                                    перепаду напруг, затоплення, землетрусу, дії хімічних речовин, неправильного поводження з предметом чи обладнанням;
                                li.
                                    самостійного втручання замовника в предмет чи обладнання. Наприклад, замовник сам розібрав нещодавно відремонтовану мікрохвильову піч;

                                li.
                                    виявлення факту дії сторонніх сил, які призвели до руйнування чи пошкодження. Наприклад, карниз упав внаслідок того,  що на шторі, яка прикріплена до карнизу, висіла дитина.

                            h2 Особливості надання гарантії
                            p.
                                Жоден майстер не надасть гарантію або надасть гарантію тривалістю 1 день в таких випадках:

                            ul
                                li.
                                    термін експлуатації обладнання значно перевищує термін, який вказаний заводом-виробником. Наприклад, доводиться ремонтувати холодильник «Минск» випущений в 1972 році;

                                li.
                                    проблема може повторитись в будь-який час експлуатації з незалежних від замовника факторів. Наприклад, прочищена каналізація в нічному клубі знову може бути забита, або із-за недостатньої потужності електромережі, електроенергія буде знову зникати.

                            p.
                                Для захисту Вашого права на гарантію Домова служба рекомендує  не укладати усних угод та неофіційних договорів особисто з майстром.

                            p(style='color: red')
                                b.
                                    Важливо! Замовлення, яке не зареєстровано в Домовій службі, не надає права на гарантійне обслуговування.






                    //= Main-text =
                    = '\n'

            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
