-
    pageTitle = 'Послуги сантехніка'
//- Utility
include utils/_variable.pug

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug

            //= Main =
            main#main.main
                - var breadcrumbs = ['Головна сторінка', 'Послуги сантехніка']
                include module/_breadcrumbs.pug

                .container


                    = '\n'
                    //= Main-text =
                    .main-text
                        .main-text__header
                            - var title = [{modifier: '', elem: 'h1', icon: 'data/search/search.png', text: 'ДОДАТКОВА ІНФОРМАЦІЯ:', name: 'Оплата'}]
                            include module/_title.pug

                        .main-text__content
                            p.
                                Оплата за надані майстром послуги здійснюється після, в основному, після завершення надання послуги. Про види оплати <a href='#'>читайте далі ...</a>

                            h2 Готівковий розрахунок.
                            p.
                                Оплата здійснюється майстру після завершення і прийому всієї замовленої роботи. У випадку виконання тривалих ремонтів вартістю більше 3000 грн оплата здійснюється за виконання частин роботи.

                            h2 Розрахунок банківською карткою.
                            p.
                                При оплаті з картки на картку оплата здійснюється через інтернет-банкінг. Номер картки для оплати вказує майстер.

                            h2 Безготівковий розрахунок.
                            p.
                                Оплата здійснюється до початку роботи за фактом її оцінки майстром і виставлення рахунку. Виняток становлять підприємства, з якими у Домової служби є договори про постійне обслуговування. Такі підприємства оплачують роботи в зазначені в договорі строки.Оплата здійснюється на рахунок підприємця, який представляє Домову службу у вашому місті чи на рахунок приватного підприємства «Домова служба». Для уточнення реквізитів оплати, правильної пересилання рахунків, актів виконаних робіт, договорів, реєстраційних документів з клієнтом зв'язується менеджер Домової служби.В якості винятку майстер Домової служби може виправити без попередньої оплати аварійну ситуацію, яка вимагає швидкої реакції. Рішення про виконання такої роботи приймає керівник Домовик служби міста або бухгалтер по дзвінку майстра.

                            h2 Скільки платити
                            p.
                                Платити потрібно ту суму, яка названа майстром при оцінці роботи. Вартість матеріалів оплачується додатково і підтверджується чеком від продавця. Якщо майстер купував матеріали сам, то додатково до вартості матеріалів оплачується послуга з покупки матеріалів. За фактом виконання роботи майстер видає клієнтові Акт виконаних робіт, в якому зазначені виконані роботи, вартість робіт, вартість матеріалів і термін гарантії. Майстер вносить запис у Сервісну книжку. При наявності у клієнта мобільного додатку Домової служби майстер може не виписувати акт і не вносити запис у Сервісну книжку. Дані про замовлення зберігаються в додатку клієнта.

                            h2.
                                Чи можна, щоб робота була оплачена іншою людиною. Наприклад, дітьми за батьків, родичем за інших родичів.
                            p.
                                Така оплата можлива за індивідуальною домовленістю. Треба про це попередити диспетчера при подачі замовлення.

                            h2 Чи можна оплатити роботу частинами
                            p.
                                Вартість виконання основної маси робіт порівняно невелика. Тому, в 99% випадків ми не практикуємо отримання оплати частинами. Але, якщо клієнт не може розрахуватись за один раз, то відтермінування платежу можна обговорити з майстром.

                            h2 Що буде, якщо не оплатити чи не повністю оплатити виконані роботи.
                            p.
                                Оскільки, суми за виконання робіт незначні, то ми не маємо сенсу подавати в суд на неплатника. Але дані про неоплату (недоплату) ми вносимо у свою базу даних. В подальшому боржник не зможе скористатись послугами Домової служби.
                            p.
                                <b style="color: red"> Увага! В каталозі послуг вказано ціни на стандартні послуги.</b><br>
                                Ми не можемо передбачити та описати тисячі різних ситуацій в яких виконання стандартних послуг може обрости ускладненнями. Ми також не можемо визначити через телефонний дзвінок всю роботу, яку реально потрібно зробити. Тому, остаточну ціну на роботу і матеріали називає майстер оцінивши суть проблеми на місці.

                    //= Main-text =
                    = '\n'

            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
