= '\n'
//= Header =
//- (source/scss/layout/_header.scss)
- modifierHeader = (pageTitle == 'main') ? 'header--main' : 'header--inner'
//- modifierHeader =  'header--inner'
header.header(class= modifierHeader)
    .header__bill
        p На даний момент сайт знаходиться в тестовому режимі і проходить стадію наповнення інформацією. Найближчим часом він буде функціонувати в повноцінному режимі!
    .container
        .header__main
            = '\n'
            //= Mobile menu => button =

            .mobile-menu.hide-screen-l-min
                a.mobile-menu__button(href='javascript:void(0);')
                    i.button-line
            //= End mobile menu => button =
            = '\n'
            .header__logo
                include ../module/_logo.pug
            .header__menu.hide-screen-m-max
                - header = true
                include header/primaryMenu/_primaryMenu.pug
            .header__phone
                include header/phone/_phone.pug

//= End header =
= '\n'
