//- Utility

include utils/_variable.pug

-
    pageTitle = 'main'
    main = true
    

    //- use if necessary

    slick = true
    // tab = true // init tab.js
    // rating = true // init rating.js

    // magnificPopup = true // init magnificPopup styles
    // magnificPopupInline = true // init magnificPopup
    // magnificPopupGallery = true // init magnificPopup for gallery
    // ionRangeSlider = true // init ionRangeSlider
    // select2 = true // init select2
    //countdown = true // init final_countdown

    //for breadcrumbs
    //breadcrumbItems = ['Main', 'Щось', 'Щось конкретно']

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout
            include layout/_header.pug
            //-include layout/_navigation.pug
            //-include module/_company.pug

            //= Main =
            main#main.main
                .layout__box
                    section
                        include module/_company.pug
                    section
                        - titleInfo= 'Чому мовчать про Біль?'
                        include module/_pain.pug
                    section
                        - titleInfo= 'хто може це змінити?'
                        include module/_maybe.pug
                    section
                        - titleInfo= 'ви розумієте?'
                        include module/_understand.pug
                    section
                        - titleInfo= 'Що кажуть люди які терплять Біль?'
                        include module/_tell.pug
                    section
                        - titleInfo= 'зворотній зв\'язок'
                        include module/_reviews.pug
                    section
                        - titleInfo= 'Ми допоможемо вирішиті Ваші скарги'
                        include module/_complaint.pug
                    section
                        - titleInfo= 'Аптеки в яких продаються сильно діючі знеболюючі препарати'
                        include module/_pharmacies.pug
            //= End main =
            = '\n'

            #shadow

        //= End layout =

        include layout/_footer.pug
        include module/_mobile-menu.pug
        include module/_cookies.pug

        include layout/_sprite.pug
        include layout/_scripts.pug
