//- PAGINATION
//------------------------------------------------

$pagination__buttonTextColor:               #e6007e !default;
$pagination__buttonBorderColor:             #ebebeb !default;
$pagination__buttonBackgroundColor:         #f9f9f9 !default;

$pagination__listTextFontSize:              $fontSizeLarge !default;
$pagination__listTextColor:                 $grayDark !default;
$pagination__listTextColor--active:         $base !default;
$pagination__listBackgroundColor--active:   #e6007e !default;
