@mixin containerFixed($gutter: $gridGutterWidth) {
    margin-right: auto;
    margin-left: auto;
    padding-right: ceil(($gutter / 2));
    padding-left: floor(($gutter / 2));

    @include clearfix;
}
