= '\n'
//= headerPhone =
//-=(/layout/header/phone/_phone.scss)=
.header-phone
    .header-phone__link

        p 
            +icon('icon-phone')
            i (067) 30-58-569

        a(href='tel:+380673058569')
            +icon('icon-phone') 
            i (067) 30-58-569

        a.header-phone-mob(href='tel:+380673058569')
            +icon('icon-phone')
//= End headerPhone =
= '\n'
