.commentSend {
    margin: 16px 0 50px 0;
    transition: all 0.2s ease-out;

    &__title {

    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch
    }

    &__box {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;

        &--message {
            order: 2;
        }

        &--fields {
            order: 1;
        }
    }

    &__textarea {
        min-height: 120px;
    }

    &__field {
        width: 100%;
    }

    &__textarea,
    &__input {
        background: $backgroundLight;
        outline: none;
        border: 1px solid $borderLight;
        border-radius: 4px;
        display: block;
        width: 100%;
        font-size: $fontSizeH8;
        text-transform: uppercase;
        color: $modalInputColor;
        transition: all 0.2s ease-out;

        &.error {
            border-color: $brandDanger !important;
            color: $brandDanger !important;
        }

        &:focus {
            border-color: $brandPrimary;
        }

        &::placeholder {
            color: $grayDarker;
        }

        &::-moz-placeholder {
            color: $grayDarker;
        }

        &:-moz-placeholder {
            color: $grayDarker;
        }
    }

    &__textarea {
        padding: 35px 40px;
        resize: none;
    }

    &__input {
        height: 62px;
        line-height: (60px / $fontSizeH8);
        padding: 0 27px;
        margin-bottom: 22px;
    }

    &__submit {
        background: $brandPrimary;
        color: $base;
        outline: none;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: $fontSizeH8;
        line-height: (58px / $fontSizeH8);
        height: 62px;
        display: block;
        border: 2px solid $brandPrimary;
        padding: 0;
        width: 100%;
        transition: all 0.2s ease-out;
        display: none;

        &--mobile {
            display: block;
            order: 3;
            margin-top: 22px;
        }

        &:hover {
            background: $base;
            color: $brandPrimary;
        }
    }

    &__input {
        display: block;
    }

    &__submit {}

    @media (min-width: 800px) {
        margin: 50px 0 90px 0;

        &__submit {
            display: block;

            &--mobile {
                display: none;
            }
        }

        &__box {
            width: calc(50% - 8px);
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            &--message {
                order: 1;
            }

            &--fields {
                order: 2;
            }
        }

        &__field {
            width: calc(50% - 8px);
        }

        &__textarea {
            min-height: auto;
        }
    }
}
