.contacts {
    margin-bottom: 60px;
    transition: all 0.2s ease-out;

    &__wrapper {
        transition: all 0.2s ease-out;
        margin-bottom: 133px;
        font-size: 0;
        position: relative;
    }

    &__box {
        display: block;
        width: 100%;
        transition: all 0.2s ease-out;
        margin: auto;
    }

    &__decorate  {
        width: 178px;
        display: block;
        margin: auto;
        transition: all 0.2s ease-out;
        position: absolute;
        top: 100%;
        right: -15px;
        transform: translateY(-8%);
    }

    &__city {
        text-align: center;
        margin-bottom: 40px;

        &-name {
            font-size: $fontSizeH5;
            line-height: (29px / $fontSizeH5);
            color: $grayBase;
            font-weight: bold;
            display: block;
            vertical-align: middle;
        }

        &-value {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            max-width: 370px;
        }

        &:after {
            content: '';
            width: 100%;
            display: inline-block;
            height: 0;
        }
    }

    &__map {
        display: block;
        outline: none;
        border: none;
        min-height: 414px;
        position: relative;
        transition: all 0.2s ease-out;
        margin: 0 -15px;
    }

    &__info {
        transition: all 0.2s ease-out;
        margin: 0;

        &-item {
            width: 100%;
            padding: 0 0 30px 0;
            transition: all 0.2s ease-out;
        }

        &-wrapper {}

        &-title {
            white-space: nowrap;
        }

        &-field {
            font-size: $fontSizeH6;
            line-height: (22px / $fontSizeH6);
            color: $gray;

            a {
                text-decoration: none;
                display: inline-block;
                color: $gray;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media (min-width: 375px) {
        &__info {
            @include clearfix;
            margin: 0 -15px;

            &-item {
                float: left;
                width: 50%;
                padding: 0 15px 30px 15px;

                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
    }

    @media (min-width: 600px) {
        margin-bottom: 115px;

        &__wrapper {

        }

        &__info {
            &-item {
                width: 33.333334%;

                &:nth-child(2n+1) {
                    clear: none;
                }

                &:nth-child(3n+1) {
                    clear: both;
                }
            }
        }
    }

    @media (min-width: 1024px) {

        &__map {
            min-height: 314px;
            margin: 0;
        }

        &__city {
            text-align: justify;
            text-justify: distribute;

            &-name {
                display: inline-block;
            }
        }

        &__decorate {
            top: 0;
            right: 0;
            height: 100%;
            width: 40%;
            max-width: none;
            z-index: -1;
            transform: translateY(0);

            &-image {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__wrapper {

        }

        &__box {
            display: inline-block;
            vertical-align: middle;
            max-width: 555px;
            width: 100%;
        }

        &__info {
            &-item {
                padding: 0 15px;
                width: (100% / 6);

                &:nth-child(3n+1) {
                    clear: none;
                }

                &:nth-child(6n+1) {
                    clear: both;
                }
            }
        }
    }
}
