//- DROP
//------------------------------------------------

$searchDrop__baseFontSize:          $fontSizeBase !default;

$searchDrop__borderColor:           #000 !default;
$searchDrop__backgrondColor:        #000 !default;
$searchDrop__shadowColor:           transparentize(#000, .8) !default;

$searchDrop__listTextColor--active: $brandPrimary !default;

$searchDrop__priceTextFontSize:     $fontSizeH6 !default;

$searchDrop__resultTextColor:       $brandPrimary !default;

.search__drop {
    position: absolute;
    z-index: 10;
    top: calc(100% + 10px);
    left: 0;
    display: none;
    //padding: 0 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #F6FAFD;
    //box-shadow: 0 0 10px $searchDrop__shadowColor;
    border: 1px solid #D6E9F6;
    width: 100%;

    &--list {
        z-index: 11;
    }

    &List {
        position: relative;

        &Item {
            position: relative;
            margin: 0 0 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &Link {
            transition: all .2s linear;
            text-decoration: none;
            color: inherit;

            &:hover {
                color: $searchDrop__listTextColor--active;
            }
        }
    }

    &Item {
        position: relative;
        //padding: 15px 0;

        &:last-child {
            border: 0;
        }

        &.search-selected {
            display: block;

            &:before {
                content: '';
                background: #DDE9FF;
                position: absolute;
                left: -30px;
                right: 0;
                top: 0;
                bottom: 0;
                width: calc(100% + 60px);
                height: 10px;
            }
        }

        @include clearfix;
    }

    &Image {
        font-size: 0;
        position: relative;
        float: left;
        width: 70px;
        height: 70px;
        margin: 0 15px 0 -85px;

        &:before {
            position: relative;
            display: inline-block;
            width: 0;
            height: 100%;
            content: '';
            vertical-align: middle;
        }

        img {
            font-size: $searchDrop__baseFontSize;
        }
    }

    &Content {
        position: relative;
    }

    &Title {
        line-height: 1.6;
        position: relative;

        &Link {
            color: inherit;
            font-family: $fontFamilyProximaNova;
            font-weight: lighter;
            font-size: 15px;
            color: #181818;
            text-decoration: none;
            padding: 15px 30px;
            display: block;
            position: relative;

            &.active {
                color: #0D49B2;
            }

            &:after{
                content: '';
                border-bottom: 1px solid #D6E9F6;
                position: absolute;
                top: 100%;
                width: calc(100% - 60px);
                left: 30px;
            }

            &.search-selected {
                background-color: #D6E9F6;
                border-bottom: 1px solid #D6E9F6;
            }
        }
    }

    &Category {
        position: relative;
        margin: 0 0 4px;
        color: $grayLighter;
    }

    &Price {
        font-size: $searchDrop__priceTextFontSize;
        font-weight: 700;
        position: relative;
    }

    &Result {
        position: relative;
        margin: 4px 0 0;
        text-align: right;

        &Link {
            color: $searchDrop__resultTextColor;

            &:after {
                position: relative;
                top: -1px;
                display: inline-block;
                width: 8px;
                height: 15px;
                margin: 0 0 0 10px;
                content: '';
                vertical-align: middle;
                background: url('../images/header/icon/arrow-right.png') no-repeat;
            }
        }
    }

    @media (min-width: $screenMdMin) {
        z-index: 4;

        &--list {
            z-index: 5;
        }
    }
}
