.faq {
    &__wrapper {
        max-width: 860px;
        width: 100%;
        margin: auto;
    }

    &__item {
        margin-bottom: 27px;

        &.active {
            .faq {
                &__icon {
                    background: $brandPrimary;
                    border-color: $brandPrimary;

                    &:before {
                        opacity: 1;
                    }

                    &:after {
                        opacity: 0;
                    }
                }

                &__name {
                    border-bottom-color: transparent;
                }
            }
        }
    }

    &__question {
        position: relative;
        padding-left: 45px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: $base;
        text-align: center;
        line-height: 30px;
        text-decoration: none;
        transition: all 0.2s ease-out;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border: 1px solid $faqBorder;
        background: $base;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('../images/content/faq.png') 50px 50px no-repeat;
            transition: opacity 0.2s ease-out;
        }

        &:before {
            opacity: 0;
            background-position: -31px -1px;
        }

        &:after {
            opacity: 1;
            background-position: -1px -1px;
        }
    }

    &__name {
        font-size: $fontSizeH5;
        color: $brandPrimaryDark;
        text-decoration: none;
        display: inline;
        border-bottom: 1px dashed $brandPrimaryDark;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    &__drop {
        padding-left: 70px;
        padding-top: 8px;
        display: none;
        transition: padding 0.2s ease-out;
    }

    &__text {
        font-size: $fontSizeBase;
        line-height: (24px / $fontSizeBase);
        color: $faqTextColor;
        transition: all 0.2s ease-out;
    }

    @media (min-width: 600px) {
        &__name {
            font-size: $fontSizeLarge;
        }

        &__text {
            font-size: $fontSizeH5;
            line-height: (24px / $fontSizeH5);
        }

        &__drop {
            padding-left: 90px;
        }
    }
}
