.intro {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 4px;

    &__content {
        background: $introBg;
        width: 100%;
        border-radius: 4px;
        padding: 25px 50px 14px 25px;
        transition: all 0.2s ease-out;
    }

    &__picture {
        position: absolute;
        bottom: -6px;
        right: -34px;
        width: 153px;
        transition: all 0.2s ease-out;
    }

    &__image {}

    @media (min-width: 375px) {
        &__picture {
            width: 190px;
        }
    }

    @media (min-width: 768px) {
        min-height: 530px;

        &__picture {
            width: auto;
            right: -34px;
            bottom: 0;
        }

        &__content {
            max-width: 470px;
            position: absolute;
            left: 20px;
            bottom: 20px;
            background: $base;
            padding: 20px 70px 10px 80px;
        }
    }
}
