.language {
    position: relative;

    &--dropper {
        .language {
            &__title {
                padding-right: 16px;

                &:after {
                    display: block;
                }
            }
        }
    }

    &__title {
        color: $gray;
        text-decoration: none;
        display: inline-block;
        font-size: $fontSizeH8;
        letter-spacing: 1px;
        line-height: (66px / $fontSizeH8);
        height: 66px;
        cursor: pointer;
        position: relative;
        padding-left: 20px;
        transition: all 0.2s ease-out;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(0);
            width: 5px;
            height: 3px;
            background: url('../images/header/list-arrow.png') no-repeat;
            transition: transform 0.2s ease-out;
            display: none;
        }

        &--ua,
        &--ru {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                overflow: hidden;
                transform: translateY(-50%);
                background: url('../images/header/languages.png') 20px 20px no-repeat;
            }
        }

        &--ua {
            &:before {
                background-position: 0 0;
            }
        }

        &--ru {
            &:before {
                background-position: -10px 0;
            }
        }
    }

    &__drop {
        display: none;
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 100%);
        left: 50%;
        z-index: 100;
        border: 1px solid $borderLight;
    }

    &__inner {
        background: $base;
    }

    &__link {
        display: block;
        position: relative;
        color: $gray;
        text-decoration: none;
        font-size: $fontSizeH8;
        letter-spacing: 1px;
        line-height: 1;
        transition: all 0.2s ease-out;
        text-transform: uppercase;
        padding: 15px 15px 15px 35px;

        &:hover,
        &.active {
            color: $brandPrimary;
            background-color: $backgroundLight;
        }

        &--ua,
        &--ru {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 15px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                overflow: hidden;
                transform: translateY(-50%);
                background: url('../images/header/languages.png') 20px 20px no-repeat;
            }
        }

        &--ua {
            &:before {
                background-position: 0 0;
            }
        }

        &--ru {
            &:before {
                background-position: -10px 0;
            }
        }
    }

    &:hover {
        .language {
            &__drop {
                display: block!important;
            }

            &__title {
                color: $brandPrimary;

                &:after {
                    transform: translateY(-50%) rotate(-180deg);
                    will-change: transform;
                }
            }
        }
    }

    @media (min-width: 960px) {
        &__title {
            color: $base;//ss
        }

        &:hover {
            .language {

                &__title {
                    color: $base;//ss
                }
            }
        }
    }
}

