.main-search {
    @include clearfix;

    width: 100%;
    transition: all 0.2s ease-out;
    position: relative;

    @media (min-width: 720px) {
        height: 58px;
        border: 1px solid $borderLight;
        background: $backgroundLight;
        border-radius: 4px;
        padding-right: 52px;
    }

    &__category {
        float: left;
        border-radius: 4px 0 0 4px;
        position: relative;
        background: inherit;
        z-index: 1;
        display: none;

        &.open {
            .main-search {
                &__category {
                    &-drop {
                        display: block;
                    }
                }
            }
        }

        &-title {
            height: 45px;
            line-height: (45px / $fontSizeSmall);
            font-size: $fontSizeSmall;
            color: $grayDarker;
            position: relative;
            padding-right: 55px;
            padding-left: 30px;
            cursor: pointer;
            position: relative;
            transition: all 0.2s ease-out;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%) rotate(0);
                width: 5px;
                height: 3px;
                background: url('../images/header/list-arrow.png') no-repeat;
                transition: transform 0.2s ease-out;
            }

            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 12px;
                background: $graySecondary;
            }
        }

        &-drop {
            position: absolute;
            bottom: 2px;
            left: -1px;
            transform: translateY(100%);
            min-width: 100%;
            z-index: -1;
            display: none;
            padding-top: 3px;
        }

        &-inner {
            background: $base;
            border: 1px solid $borderLight;
            border-top: 1px solid $backgroundLight;
            border-radius: 0 0 4px 4px;
        }

        &-item {
            padding: 15px 30px;
            display: block;
            text-decoration: none;
            outline: none;
            font-size: $fontSizeSmall;
            color: $grayDarker;
            transition: all 0.2s ease-out;
            background: $base;

            &:hover,
            &.active {
                background: $backgroundLight;
            }
        }
    }
    /*
    &__submit {
        font-size: 16px;
        position: absolute;
        z-index: 90;
        top: 0;
        right: 0;
        //width: 33px;
        //height: 33px;
        text-align: center;
        border: 2px solid #0d49b2;
        border-radius: 4px;
        height: 40px;
        width: 40px;
        outline: none;
        background-color: $base;

        &:hover {
            background: #0d49b2;

            &:before {
                background: url('../images/content/searchW.svg') no-repeat;
            }
        }

        &:before {
            font-size: 33px;
            line-height: 1;
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-transition: color .3s ease 0s;
            transition: color .3s ease 0s;
            text-align: center;
            width: 31px;
            height: 31px;
            background: url('../images/content/search.svg') no-repeat;
            content:'';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }*/

    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70px;
        border-radius: 0 4px 4px 0;
        background: $brandPrimary;
        outline: none;
        text-decoration: none;
        border: none;
        cursor: pointer;
        //text-indent: -200em;
        overflow: hidden;
        transition: all 0.2s ease-out;
        border: 2px solid $brandPrimary;

        // &:before {
        //     content: attr(data-content);
        //     font-size: 8px;
        //     color: $base;
        //     font-weight: bold;
        //     text-transform: uppercase;
        //     width: 100%;
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     height: auto;
        //     left: 0;
        //     bottom: auto;
        //     background-image: none;
        // }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            background: url(../images/header/search-white.svg) 0 0 no-repeat;
            width: 30px;
            height: 30px;
        }

        &:hover {
            background: $base;

            &:before {
                background: url(../images/header/search-blue.svg) 0 0 no-repeat;
                color: $brandPrimary;
            }
        }
    }

    &__input {
        display: block;
        border: 1px solid orange;
        height: 60px;
        line-height: (45px / $fontSizeSmall);
        font-size: $fontSizeSmall;
        color: $grayDarker;
        padding: 0 20px;
        border-radius: 4px 0 0 4px;
        background: transparent;
        outline: none;
        text-decoration: none;
        border: none;
        width: 100%;
        transition: all 0.2s ease-out;

        &::placeholder {
            color: $grayDarker;
            font-size: 14px;
        }

        &::-moz-placeholder {
            color: $grayDarker;
            font-size: 14px;
        }

        &:-moz-placeholder {
            color: $grayDarker;
            font-size: 14px;
        }

        @media (max-width: 719px) {
            height: 40px;
            border: 1px solid $borderLight;
            background: $backgroundLight;
            border-radius: 4px;
            line-height: 38px;
            //width: calc(100% - 55px);
        }
    }

    &__field {
        overflow: hidden;
        height: 40px;
    }


    @media (min-width: 600px) {

        &__category {
            display: block;

            &-title {
                height: 66px;
                line-height: (66px / $fontSizeH6);
                font-size: $fontSizeH6;
            }

            &-item {
                font-size: $fontSizeH6;
            }
        }
    }


    @media (min-width: 720px) {
        /*
        &__submit {
            position: absolute;
            top: -1px;
            right: 0;
            bottom: 0;
            width: 80px;
            border-radius: 0 4px 4px 0;
            background: $brandPrimary;
            outline: none;
            text-decoration: none;
            border: none;
            cursor: pointer;
            //text-indent: -200em;
            overflow: hidden;
            transition: all 0.2s ease-out;
            border: 2px solid $brandPrimary;

            &:before {
                content: attr(data-content);
                font-size: 11px;
                color: $base;
                font-weight: bold;
                text-transform: uppercase;
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: auto;
                left: 0;
                bottom: auto;
                background-image: none;
            }

            &:hover {
                background: $base;

                &:before {
                    background-image: none;
                    color: $brandPrimary;
                }
            }
        }*/

        &__field {
            overflow: hidden;
            height: 60px;
        }

        &__submit {
            height: 58px;
            width: 70px;
            top: -1px;

            &:before {
                font-size: 11px;
            }
        }

        label.cursors:before {
            content: '';
            display: none;
            position: absolute;
            left: 250px;
            top: 23px;
            width: 1px;
            height: 15px;
            background: #181818;
            opacity: 1;
            z-index: 3;
        }


        input.main-search__input:not(:focus) + label.cursors:before {
            display: inline-block;
            animation: cursor 1s infinite step-end;
        }
    }
}

@keyframes cursor {
    50% { background: transparent; }
}

