.mobtable {
    margin-top: 10px;
    margin-bottom: 30px;

    &__field {
        border: 1px solid #d9e2f0;
        margin-bottom: -1px;
        padding: 10px 0;
    }

    &__name {
        width: 42%;
        margin-right: -4px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 8px;
        font-size: $fontSizeBase;
        color: $grayBase;
    }

    &__value {
        width: 58%;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 8px;
        font-size: $fontSizeSmall;
        line-height: (24px / $fontSizeSmall);
        color: #4c4c4c;
        margin-right: -4px;
    }

    @media (min-width: 768px) {
        display: none;
    }
}
