.pagination {
    text-align: center;
    padding: 0 0 50px 0;

    &__wrapper {
        display: inline-block;
        position: relative;
        padding-bottom: 43px;
        transition: all 0.2s ease-out;
    }

    &__button {
        position: absolute;
        bottom: 0;
        font-size: $fontSizeH5;
        line-height: (27px / $fontSizeH5);
        color: $grayBase;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        cursor: default;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }
    }

    a.pagination__button {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__list {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        transition: all 0.2s ease-out;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $brandPrimary;
        color: $brandPrimary;
        text-decoration: none;
        text-align: center;
        margin-right: 5px;
        font-size: $fontSizeH5;
        line-height: (40px / $fontSizeH5);
        font-weight: bold;
        background: $base;
        transition: all 0.2s ease-out;

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &.active {
            background: $brandPrimary;
            color: $base;
        }
    }

    @media (min-width: 600px) {
        &__wrapper {
            display: block;
            padding-bottom: 0;
        }

        &__button {
            position: static;
        }

        &__list {
            margin: 0 35px;
        }
    }
}
