.question {
    margin: 35px 0 40px;
    transition: all 0.2s ease-out;

    &__wrapper {
        @include clearfix;
        position: relative;
    }

    &__box {
        width: 100%;
        float: left;
        transition: all 0.2s ease-out;

        &:last-child {
            float: none;
            position: absolute;
            top: 58%;
            max-width: 50%;
            right: 0;
            width: auto;
            transform: translateY(-50%);
            padding-left: 25px;
            z-index: -1;
            display: none;
        }
    }

    &__content {
        width: 100%;
    }

    &__field {
        @include clearfix;
        margin: 0 -5px 10px -5px;
        transition: all 0.2s ease-out;
    }

    &__item {
        float: left;
        width: 50%;
        padding: 0 5px;
        transition: all 0.2s ease-out;

        &.double {
            width: 100%;
        }
    }

    &__input,
    &__textarea {
        width: 100%;
        border: 1px solid $borderLight;
        border-radius: 4px;
        font-size: $fontSizeH8;
        text-transform: uppercase;
        padding: 0 20px;
        outline: none;
        background: $backgroundLight;
        color: $input;
        transition: all 0.2s ease-out;
        display: block;

        &.error {
            border-color: $brandDanger !important;
            color: $brandDanger !important;
        }

        &:focus {
            border-color: $brandPrimary;
        }

        &::placeholder {
            color: $grayDarker;
        }

        &::-moz-placeholder {
            color: $grayDarker;
        }

        &:-moz-placeholder {
            color: $grayDarker;
        }
    }

    &__input {
        line-height: (48px / $fontSizeH8);
        height: 50px;
    }

    &__textarea {
        min-height: 150px;
        resize: none;
        padding: 20px;
    }

    &__button {
        width: 100%;
        margin-top: 10px;
        outline: none;
        text-decoration: none;
        background: $base;
        border: 2px solid $brandPrimary;
        border-radius: 4px;
        text-align: center;
        height: 50px;
        line-height: (46px / $fontSizeH8);
        font-size: $fontSizeH8;
        text-transform: uppercase;
        display: block;
        color: $brandPrimary;
        transition: all 0.2s ease-out;
        font-weight: bold;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background: $brandPrimary;
            color: $base;
        }
    }

    &__image {
        max-width: 100%;
    }


    @media (min-width: 768px) {
        margin: 60px 0;

        &__input,
        &__textarea {
            padding: 0 20px;
        }

        &__textarea {
            padding: 20px;
        }

        &__item {
            padding: 0 15px;
        }

        &__box {
            width: 50%;
            &:last-child {
                display: block;
               // right: -88px;
            }
        }
    }

    @media (min-width: 1024px) {
        margin: 100px 0 130px 0;

        &__content {
            max-width: none;
        }

        &__box {

            &:last-child {
                max-width: 50%;
                padding-left: 30px;
                right: 0;
                top: 50%;
                width: auto;
            }
        }

        &__button {
            height: 62px;
            line-height: (58px / 10px);
        }

        &__input {
            line-height: (60px / 10px);
            height: 62px;
        }

        &__textarea {
            min-height: 185px;
        }
    }
}


.questionSS {
    margin-bottom: 27px;
    background-color: #CDEAF0;
    padding: 20px;

    @media (min-width: 768px) {
        margin: 0;
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;


        &.all {
            justify-content: center;
        }
    }

    &__image {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;

        @media (min-width: 840px) {
            width: (516 / 1140) * 100%;
            padding: 0;
            margin: 0;
            max-height: 250px;
            overflow: hidden;
        }
    }

    &__field {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 100%;
        padding: 0;
        margin: 0;

        @media (min-width: 840px) {
            width: (624 / 1140) * 100%;
            padding-left: calc(53px - 15px);

        }

        &.all {
            width: 100% !important;
            padding: 0;

            @media (min-width: 960px) {
                width: 90% !important;
            }
        }
    }

    &__item {
        width: 100%;
        padding: 5px;
        float: none;

        @media (min-width: 420px) {
            width: 50%;
        }

        @media (min-width: 600px) {
            padding: 11px 11px 0 11px;
        }

        @media (min-width: 840px) {
            width: (300 / 1170) *100%;
        }

        &:nth-child(1) {
            width: 50%;
            margin-top: -11px;
        }

        &:nth-child(2) {
            width: 50%;
            margin-top: -11px;
            padding-right: 0;
        }


        &:nth-child(3) {
            width: 100%;
            padding-right: 0;
        }

        &:last-child {
            width: 100%;

            @media (min-width: 600px) {
                margin: 0;
            }
        }

        &.all {
            width: (100% / 3) !important;
            margin: 0;
            padding: 11px;

            @media (max-width: 719px) {

                &:nth-child(1) {
                    width: 50% !important;
                    padding-left: 0;
                }

                &:nth-child(2) {
                    width: 50% !important;
                    padding-right: 0;
                }

                &:nth-child(3) {
                    width: 100% !important;
                    padding: 11px 0;
                }
            }

            @media (max-width: 479px) {

                &:nth-child(1) {
                    width: 100% !important;
                    padding: 11px 0;
                }

                &:nth-child(2) {
                    width: 100% !important;
                    padding: 11px 0;
                }
            }

            input {
                height: 62px !important;
            }
        }
    }

    &__textarea {
        min-height: 105px;
    }

    .question__input,
    .question__textarea {
        border: 1px solid #0E9CB2;
    }

    &__button {
        margin: 0;
        font-size: 12px;
        background: $brandPrimary;
        color: $base;
        line-height: 1.4;
        width: 100%;
        padding: 0 20px;
        white-space: normal;
        background-color: #0E9CB2;
        border: 1px solid #0E9CB2;

        @media (min-width: 480px) {
            width: auto;
        }

        &:hover {
            background: $base;
            color: $brandPrimary;
            color: #0E9CB2;
        }

        &.all {
            width: 100%;
            height: 62px !important;
        }
    }
}
