.services {
    border-top: 1px solid$backgroundLight;
    background: $backgroundLight;
    position: relative;
    padding: 25px 0;
    transition: all 0.2s ease-out;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10000em;
        background-color: inherit;
    }

    &:before {
        left: -10000em;
    }

    &:after {
        right: -10000em;
    }

    &__content {}
    &__list {
        margin: 10px 0 0 0;
        transition: all 0.2s ease-out;
    }
    &__item {
        margin-bottom: 21px;
        width: 100%;

        transition: all 0.2s ease-out;

    }
    &__link {
        text-decoration: none;
        display: inline-block;
        position: relative;
        padding-left: 47px;

        &-icon {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%) scale(0.85);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $servicesIcon;
            background-color: $base;
            transition: all 0.2s ease-out;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: transparent url(../images/content/catalog-arrows.png) 50px 50px no-repeat;
                transition: opacity 0.2s ease-out;
            }

            &:before {
                opacity: 0;
                background-position: -28px 0;
            }

            &:after {
                opacity: 1;
                background-position: 0 0;
            }
        }

        &-text {
            color: $brandPrimaryDark;
            border-bottom: 1px dashed $brandPrimaryDark;
            font-size: $fontSizeH6;
            line-height: (24px / $fontSizeH6);
            display: inline;
            transition: all 0.2s ease-out;
        }

        &:hover {
            .services {
                &__link {
                    &-icon {
                        background-color: $brandPrimaryDark;
                        border-color: $brandPrimaryDark;

                        &:before {
                            opacity: 1;
                        }
                        &:after {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 600px) {
        padding: 40px 0;

        &__list {
            margin: 0 -15px;
            @include clearfix;
        }

        &__item {
            width: 50%;
            float: left;
            padding: 0 15px;

            &:nth-child(2n+1) {
                clear: both;
            }
        }
    }

    @media (min-width: 768px) {
        .services {
            &__link {
                &-icon {
                    transform: translateY(-50%) scale(1);
                }
                &-text {
                    font-size: $fontSizeLarge;
                    line-height: 1.666667;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        &__item {
            width: 33.333334%;

            &:nth-child(2n+1) {
                clear: none;
            }

            &:nth-child(3n+1) {
                clear: both;
            }
        }
    }
}
