//== Components
$slickDottedBg:         #b2b2b2 !default;
$slickDottedAciveBg:    #d2445f !default;

.slick {
    &-slider {
        position: relative;

        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        outline: none;

        //-ms-touch-action: pan-y;
            //touch-action: pan-y;

        a {
            outline: none;
        }
    }

    &-list {
        position: relative;
        overflow: hidden;
        height: inherit;
        //padding-bottom: 45px;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
        }
    }

    &-slider {
        position: relative;
        .slick {
            &-track,
            &-list {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &-track {
        position: relative;
        top: 0;
        left: 0;
        //height: inherit;
        height: auto;
        outline: none;

        @include clearfix;
    }

    &-loading {
        .slick {
            &-track {
                visibility: hidden;
            }

            &-slide {
                visibility: hidden;
            }
        }
    }

    &-slide {
        display: none;
        float: left;
        //height: 100%;
        height: auto;
        min-height: 1px;
        outline: none;

        padding: 1px 15px;

        &.slick {
            &-loading {
                img {
                    display: none;
                }
            }
        }

        &.dragging {
            img {
                //pointer-events: none;
                -ms-user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
            }
        }
    }

    &-initialized {
        .slick {
            &-slide {
                display: block;
            }
        }
    }

    &-vertical {
        .slick {
            &-slide {
                display: block;
                height: auto;
            }
        }
    }

    &-dots {
        text-align: right;
        margin: 0;

        li {
            position: relative;
            display: inline-block;
            margin: 0 18px 0 0;

            &:last-child {
                margin-right: 0;
            }

            &.slick {
                &-active {
                    button {
                        color: $brandPrimary;
                    }
                }
            }
        }

        button {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            transition: all .2s linear;
            border: none;
            outline: none;
            padding: 0;
            color: #181818;
            background: transparent;
            line-height: 1;

            &:hover {
                color: $brandPrimary;
            }
        }
    }
}
