.subtitle {
    font-size: $fontSizeLarge;
    line-height: 1;
    color: $grayDark;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 23px 0;

    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 2px;
        background: $brandPrimary;
    }

    &:before {
        left: 0;
        width: 6px;
    }

    &:after {
        left: 11px;
        width: 28px;
    }
}
