.subscribe {
    font-size: 0;

    &__item {
        width: 100%;
        transition: all 0.2s ease-out;
        margin-bottom: 10px;
    }

    &__input {
        height: 60px;
        line-height: (58px / $fontSizeH8);
        background: $base;
        padding: 0 24px;
        outline: none;
        border: none;
        border-radius: 4px;
        font-size: $fontSizeH8;
        border: 1px solid $base;
        width: 100%;
        text-transform: uppercase;
        display: block;

        &::placeholder {
            color: $grayDarker;
        }

        &::-moz-placeholder {
            color: $grayDarker;
        }

        &:-moz-placeholder {
            color: $grayDarker;
        }

        &.error {
            border-color: $brandDanger !important;
            color: $brandDanger !important;
        }
    }

    &__submit {
        text-align: center;
        height: 60px;
        line-height: (58px / $fontSizeH8);
        font-size: $fontSizeH8;
        text-decoration: none;
        outline: none;
        border: 1px solid $base;
        background: $base;
        color: $brandPrimary;
        border-radius: 4px;
        font-weight: bold;
        transition: all 0.2s ease-out;
        cursor: pointer;
        text-transform: uppercase;
        width: 100%;

        &:hover {
            color: $base;
            background: $brandPrimary;
        }
    }

    &__up {
        float: right;
        border: 1px solid $base;
        border-radius: 4px;
        height: 60px;
        text-align: center;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        width: 40px;
        background: $brandPrimary;
        transition: all 0.2s ease-out;
        position: relative;
        //display: none;//ss
        display: block;//ss

        &:before,
        &:after {
            content: '';
            width: 7px;
            height: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url('../images/content/arrow-sprite.png') 50px 50px no-repeat;
            transition: opacity 0.2s ease-out;
        }

        &:before {
            opacity: 0;
            background-position: -7px 0;
        }

        &:after {
            opacity: 1;
            background-position: 0 0;
        }

        &:hover {
            border-color: $brandPrimary;
            background: $base;

            &:before {
                opacity: 1;
            }

            &:after {
                opacity: 0;
            }
        }
    }

    @media (min-width: 600px) {
        @include clearfix;

        &__item {
            float: left;
            padding: 0 10px 0 0;
            width: calc(100% - 308px);
            margin-bottom: 0;

            &--action {
                width: 308px;
                padding: 0;
            }
        }

        &__submit {
            width: 259px;
            float: left;
        }

        &__up {
            //display: block;//ss
        }
    }
}
