.subservisez {
    transition: all 0.2s ease-out;
    margin-bottom: 70px;

    &__wrapper {
        //@include clearfix;
        margin: 0;
        transition: all 0.2s ease-out;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__item {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        transition: all 0.2s ease-out;
    }

    &__inner {
        padding: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        justify-content: flex-start;//SS
        padding: 7px 15px 5px;//SS
    }

    &__logo {
        text-align: center;
        height: 51px;
    }

    &__image {
        max-height: 51px;
        width: auto;
    }

    &__name {
        display: block;
        //text-align: center;
        //margin: auto;
        //margin-top: 8px;
        //max-width: 188px;//SS
        padding-left: 20px;
        text-align: left;//SS
        width: 78%;
    }

    &__link {
        font-size: $fontSizeLarge;
        line-height: (30px / $fontSizeLarge);
        color: $subservisezLink;
        text-decoration: none;
        border-bottom: 1px dashed $subservisezLink;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            border-bottom: 1px dashed $subservisezLink;
            width: 100%;
            left: 0;
            display: none;
        }

        &:hover {
            border-bottom-color: transparent;
        }
    }

    &__action {
        text-align: center;
        margin-top: 40px;

        .button {
            border: 2px solid $brandPrimary;
            outline: none;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            font-weight: 700;
            letter-spacing: 1px;
            background: $base;
            transition: all 0.2s ease-out;
            width: 100%;
            max-width: 130px;
            border-radius: 4px;
            position: relative;
            font-size: 10px;
            height: 62px;
            line-height: (58px / 10px);
            text-transform: uppercase;
            border: 2px solid #0E9CB2;//ss
            background: #0E9CB2;//ss
            //color: #0E9CB2;//ss
            color: $base;
            max-width: 200px;//ss

            &:hover {
                background: $base;
                color: #0E9CB2;//ss
            }

            @media (min-width: 600px) {
                font-size: $fontSizeH8;
                height: 62px;
                line-height: (58px / $fontSizeH8);

            }
        }

        &.footer__action {
            position: relative;

            .subservisez__button {
                animation-name: button-fill;
                animation-duration: 2.3s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                opacity: 1;
                font-size: 12px;
                text-transform: uppercase;
                line-height: 5.1;
            }
        }
    }

    &__button {
        max-width: 260px;
    }

    @media (min-width: 600px) {
        margin-bottom: 60px;

        &__item {
            //float: left;
            width: 50%;
            margin-bottom: 30px;
        }

        &__inner {
            justify-content: flex-start;
        }
    }

    @media (min-width: 840px) {

        &__wrapper {
            margin: 0 -15px;
        }

        &__item {
            //float: left;
            width: 33.333334%;
            margin-bottom: 30px;
        }


        &__inner {
            justify-content: flex-start;
        }
    }

    @media (min-width: 1080px) {
        &__item {
            width: 25%;
            margin-bottom: 30px;
        }

        &__inner {
            justify-content: flex-start;
        }
    }
}


@keyframes button-fill {

    0% {
        //transform: rotate(0deg) scale(.7) skew(0deg);
        opacity: 1;//ss
        box-shadow: 0 0 0 0 #0d49b2;
    }
    50% {
        //transform: rotate(0deg) scale(1) skew(0deg);
        opacity: 1;//ss
        box-shadow: 0 0 0 4px #0d49b2;
    }
    100% {
        //transform: rotate(0deg) scale(.7) skew(0deg);
        opacity: 1;//ss
        box-shadow: 0 0 0 0 #0d49b2;
    }
}
