.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;

    &__row {
        &--head {
            .table {
                &__col {
                    color: $grayBase;
                }
            }
        }
    }

    &__col {
        border: 1px solid #d9e2f0;
        font-size: $fontSizeH5;
        color: #4c4c4c;
        padding: 18px (25px / 1140px) * 100%;
        vertical-align: top;
        text-align: left;
    }
}
