.usersoc {
    &__enter {
        color: $gray;
        text-decoration: none;
        display: inline-block;
        font-size: $fontSizeH8;
        letter-spacing: 1px;
        line-height: (66px / $fontSizeH8);
        height: 66px;
        position: relative;
        padding-left: 20px;
        text-decoration: none;
        transition: all 0.2s ease-out;
        text-transform: uppercase;

        &:hover {
            color: $brandPrimary;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 10px;
            height: 10px;
            overflow: hidden;
            transform: translateY(-50%);
            background: url('../images/header/usersoc.png') no-repeat;
        }

        p {
            display: inline;

            @media (max-width: 380px) {
                width: 45px;
                display: block;
                line-height: 25px;
            }
        }
    }
}
