.vacancy {
    &__place {
        margin-top: 30px;
        margin-bottom: 77px;
        text-align: center;

        &-name {
            display: inline-block;
            vertical-align: middle;
            font-size: $fontSizeH5;
            line-height: (30px / $fontSizeH5);
            color: $grayDark;
            font-weight: bold;
            margin-right: 25px;
        }

        &-value {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            max-width: 370px;
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__item {
        max-width: 360px;
        width: 100%;
        margin-bottom: 70px;
    }

    &__name {
        font-size: $fontSizeLarge;
        line-height: (30px / $fontSizeLarge);
        color: $grayDark;
        font-weight: bold;
        position: relative;
        margin-bottom: 23px;
    }

    &__employment {
        font-size: $fontSizeH6;
        line-height: (22px / $fontSizeH6);
        color: $grayBase;
        margin-bottom: 8px;
    }

    &__text {
        font-size: $fontSizeBase;
        line-height: (22px / $fontSizeBase);
        color: $gray;
        transition: all 0.2s ease-out;
    }

    &__salary {
        font-size: $fontSizeH5;
        line-height: (22px / $fontSizeH5);
        color: $brandPrimary;
        font-weight: bold;
        margin-top: 6px;
        display: block;
    }

    @media (min-width: 600px) {
        &__text {
            font-size: $fontSizeH6;
            line-height: (22px / $fontSizeH6);
        }
    }
}
