.work {
    padding: 30px 0 0;
    transition: all 0.2s ease-out;
    border-top: 1px solid $base;

    &__wrapper {
        margin: 0 -15px;
        @include clearfix;
    }

    &__box {
        width: 100%;
        padding: 0 0 47px 0 ;
        transition: all 0.2s ease-out;

        &-inner {
            position: relative;
            background: $backgroundLight;
        }
    }

    &__header {
        height: 150px;
        text-align: center;
        font-size: 0;
        //transition: all 0.2s ease-out;
        display: flex;
        align-items: center;
        justify-content: center;

        // &:before {
        //     content: '';
        //     display: inline-block;
        //     vertical-align: middle;
        //     width: 0;
        //     height: inherit;
        // }

        &-inner {
            //display: inline-block;
            //vertical-align: middle;
            padding: 0;
            //transition: all 0.2s ease-out;

            //position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__picture {
        //display: inline-block;
        //vertical-align: middle;
        position: relative;
        //margin-right: -(35 / 290) * 100%;
        //width: (35 / 290) * 100%;
        max-width: 35px;
        transition: all 0.2s ease-out;
    }

    &__image {
        max-width: 100%;
        width: 100%;
    }

    &__title {
        //display: inline-block;
        //vertical-align: middle;
        //text-align-last: auto;
        font-size: $fontSizeBase;
        font-weight: 800;
        text-decoration: none;
        color: $workTitle;
        //padding-left: (50 / 290) * 100%;
        text-align: left;
        transition: all 0.2s ease-out;
        padding-left: 15px;
    }

    &__button {
        width: 30px;
        height: 30px;
        border: 10px solid $base;
        border-radius: 50%;
        background: $brandPrimary;
        color: $base;
        text-align: center;
        line-height: 36px;
        font-weight: 800;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        box-sizing: content-box;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        transition: all 0.5s ease-out;

        &:before {
            content: attr(data-button-default);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.active {
            &:before {
                content: attr(data-button-active);
            }

            & + .work {
                &__drop {
                    display: block;
                }
            }
        }
    }

    &__drop {
        background: inherit;
        padding: 0 30px;
        transition: translate 2s ease-out;
        display: none;
        position: relative;

        &-inner {
            border-top: 1px solid $border;
            width: 100%;
            padding: 30px 0;
            transition: translate 1s ease-out;
        }
    }

    &__list {
        max-width: 410px;
        width: 100%;
        margin: auto;
        display: block;

        &-item {
            font-size: $fontSizeBase;
            line-height: (24px / $fontSizeBase);
            color: $workListItem;
            padding-left: 16px;
            position: relative;
            margin-bottom: 16px;
            transition: translate 0.2s ease-out;

            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 4px;
                height: 4px;
                background: $brandPrimary;
                border-radius: 50%;
                top: 10px;
                left: 0;
            }
        }

        &-title {
            font-size: $fontSizeH5;
            color: $brandPrimary;
            line-height: 1;
            margin-bottom: 22px;
            font-weight: bold;
            transition: translate 0.2s ease-out;
        }
    }

    @media (min-width: 768px) {
        padding: 60px 0 0 0;

        &__drop {
            padding: 0 40px;

            &-inner {
                padding: 55px 0;
            }
        }

        &__list {
            &-item {
                font-size: $fontSizeLarge;
                line-height: (24px / $fontSizeLarge);
            }

            &-title {
                font-size: $fontSizeLarge;
            }
        }

        &__picture {
            //margin-right: -(65 / 290) * 100%;
            //width: (65 / 290) * 100%;
            max-width: 65px;
        }

        &__title {
            //padding-left: (70 / 290) * 100%;
            font-size: $fontSizeLarge;
        }

        &__header {
            &-inner {
                width: 100%;
                padding: 0 35px;
            }
        }

        &__button {
            width: 33px;
            height: 33px;
        }
    }

    @media (min-width: 1024px) {
        &__button {
            width: 36px;
            height: 36px;
        }

        &__box {
            width: 33.333334%;
            float: left;
            padding: 0 15px;
        }

        &__title {
            font-size: $fontSizeH4;
            //width: 100%;
            //padding-left: (80 / 290) * 100%;
        }

        &__header {
            height: 160px;
            cursor: pointer;
            //transition: all 1s ease-out;

            &:hover {

                & ~ .work {
                    &__drop {
                        //display: block;
                        visibility:visible;
                        opacity:1;
                        transition: all .5s ease-out;
                        z-index: 1;
                    }
                }

                & ~ .work__button {
                    bottom: 0;
                    z-index: 2;
                }

                & ~ .work__button:before {
                    content: attr(data-button-active);
                    transition: all 1s ease-out;
                    //top: 100%;
                }
            }
        }

        &__drop {
            display: block;
            visibility:hidden;
            opacity:0;
            position: absolute;
        }
    }
}
