@import 'modules/fonts';

@import 'utils/variables';
@import 'utils/reset';
@import 'utils/base';

@import 'modules/button';
@import 'modules/layout';
@import 'modules/container';
@import 'modules/text';
@import 'modules/header';
  @import 'modules/logo';
  @import 'modules/navigation';
  @import 'modules/relations';
  @import 'modules/cabinet';
  @import 'modules/enter';

//index
@import 'modules/calculator';
@import 'modules/advantages';
@import 'modules/step';
@import 'modules/sample';
@import 'modules/always';
@import 'modules/safe';
@import 'modules/faq';
@import 'modules/testimonials';
  @import 'modules/rate';
  @import 'modules/ratio';
@import 'modules/need';
@import 'modules/section';

  @import 'modules/choose';
  @import 'modules/features';
  @import 'modules/prices';

@import 'modules/contact';
@import 'modules/discounts';
  @import 'modules/discount';
@import 'modules/box';
@import 'modules/notice';
@import 'modules/getaprice';
@import 'modules/samples';
@import 'modules/pagination';
@import 'modules/breadcrumbs';
@import 'modules/extras';
@import 'modules/subscribe';
@import 'modules/recent';
@import 'modules/blog';
@import 'modules/paginator';
@import 'modules/article';
@import 'modules/code';
@import 'modules/notfound';
@import 'modules/login';
@import 'modules/comments';
@import 'modules/faqs';
@import 'modules/satisfied';
@import 'modules/security';
@import 'modules/landing';
@import 'modules/place';
@import 'modules/price';

@import 'modules/footer';
  @import 'modules/social';
  @import 'modules/payment';
  @import 'modules/promo';
  @import 'modules/_cookies';
  @import 'modules/_up';




.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}
