//- Utility
- pageTitle = ''
include utils/_variable.pug
- var breadcrumbs = ['Головна', pageTitle]
doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug

            //= Main =
            main#main.main
                include module/_breadcrumbs.pug
                include module/_restourant-top.pug
                //- include module/_map.pug
                //-     .layout-box__map-cotacts
                //-         -
                //-             address = 'Рівненська обл., с. Вересневе,<br>вул. 7 серпня, буд. 1 (траса Київ-Чоп)'
                //-             pointer = true
                //-             dark = false
                //-         img(src='data/photo/map2.png', alt='')
                //-         include module/_address.pug
                //-         include module/_callback.pug
                //-         include module/_social.pug
                                #contacts.layout-box__map
                .layout-box__map
                    .layout-box__map-cotacts
                        -
                            address = 'Рівненська обл., с. Вересневе,<br>вул. 7 серпня, буд. 1 (траса Київ-Чоп)'
                            pointer = true
                            dark = false
                        include module/_address.pug
                        include module/_callback.pug
                        include module/_social.pug
                        include module/_gps.pug
                    img(src='data/photo/map2.png', alt='')
                    .container


            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug

        script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.js')
        script(src="https://maps.googleapis.com/maps/api/js?key=")
        script.
            $(document).ready(function(){
                function initMap(){
                    var centerLatLng = new google.maps.LatLng(50.581911, 26.155695);
                    var marker = new google.maps.LatLng(50.581911, 26.155695);
                    var mapOptions = {
                        center: centerLatLng,
                        zoom: 13
                    };
                    // Создаем карту внутри элемента #map
                    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                    var marker = new google.maps.Marker({
                        position: marker,
                        map: map,
                        title: "",
                        icon: "assets/images/icons/marker.svg",
                        animation: google.maps.Animation.DROP
                    });
                    $.getJSON("assets/css/components/map-style.json", function(data) {
                        map.setOptions({styles: data});
                    });
                }
            google.maps.event.addDomListener(window, "load", initMap);
            });
