//- Utility
- pageTitle = ''
include utils/_variable.pug
 - var breadcrumbs = ['Головна','Фотогалерея', pageTitle]
doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug

            //= Main =
            main#main.main

                .container
                    include module/_breadcrumbs.pug
                    include module/_gallery-inner.pug




            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug

        script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.js')

