//- Utility
- pageTitle = 'main'
- magnificPopupInline = true

include utils/_variable.pug

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug

            //= Main =

            main#main.main.main--top
                include module/_main-slider.pug
                .container
                    .layout-box
                        section
                            #article.layout-box__article
                                .layout-box__content
                                    div
                                        h1 «Geography»&nbsp;&mdash;&nbsp;новий готельно-ресторанний заміський комплекс в Рівному, по трасі Київ-Чоп, який був відкритий у 2019 році.
                                        p «Географія» – це новий готельно-ресторанний комплекс, який був відкритий у 2019 році з європейською якістю обслуговування, який працює цілодобово по трасі Київ-Чоп. Зручне заміське розташування дозволяє забути про міську метушню. Цей новий сучасний готельно-ресторанний комплекс надає послуги: готелю та ресторану.

                                        img(src="data/about/01.jpg", alt="")
                                        h2 Цілодобовий ресторан
                                        p В інтер'єрі готельного комплексу «Географія» ми зробили акцент на природні, екологічні, натуральні матеріали. Дизайн приміщень виконаний в стилі контемпорарі, який об'єднує в собі простоту ліній та форм, багато вільного простору та повітря. В стилі контемпорарі гармонійно поєднались мінімалізм, арт-деко, кантрі, екодекор та футуристичні меблі в стилі хай-тек.

                                    div
                                        img(src="data/about/1.jpg", alt="")
                                        h2 Готель

                                        p Ви зможете залишити всі рутинні проблеми в минулому й насолодитися смаковою феєрією від наших кращих шеф-кухарів. До Ваших послуг - ресторан, який працює 24/7 та радує відвідувачів різноманітними стравами української та європейської кухні. Ресторан у Рівному має 3 зали, розрахованих на 120/80/30 гостей, дві просторі банкетки і літню терасу. Гурманів приємно здивує колекція вин з різних куточків світу та незабутньо смачний кальян. Також в ресторані «Географія» ми передбачили збалансоване дитяче меню для наших наймолодших гостей.





                        section
                           #hotel.layout-box__popular
                                .layout-box__counter.right-line 02.
                                h2 Популярні номери

                                .layout-box__popular-box
                                    .layout-box__popular-items
                                        each item in popularRoomItems
                                            include module/_popular.pug

                        section
                           #restaurant.layout-box__photos
                                each item in photosMainItems
                                    if item.header
                                        .layout-box__photos-header
                                            .layout-box__counter.left-line 03.
                                            h2 Декілька фото
                                            a.right-line(href='javascript:void(0);') Перейти в галерею
                                    else
                                        a.layout-box__photos-link(href='data/photo/' + item.img_big + '.png')
                                            img(src='data/photo/' + item.img + '.png', alt='')

                        section
                           #reviews.layout-box__reviews
                                .layout-box__counter.right-line 04.
                                h2 Клієнти про нас

                                .layout-box__reviews-box
                                    a.right-line(href='reviews.html') Переглянути всі відгуки
                                    .layout-box__reviews-items
                                        each item in reviewItems
                                            include module/_review.pug
                #contacts.layout-box__map
                    .layout-box__map-cotacts
                        -
                            address = 'Рівненська обл., с. Вересневе,<br>вул. 7 серпня, буд. 1 (траса Київ-Чоп)'
                            pointer = true
                            dark = false
                        include module/_address.pug
                        include module/_callback.pug
                        include module/_social.pug
                        include module/_gps.pug

                    img(src='data/photo/map2.png', alt='')

                    section
                        #about.layout-box__about
                            .layout-box__info
                                .layout-box__counter
                                h1 "Geography" - новий готельно-ресторанний заміський комплекс в Рівному, по трасі Київ-Чоп, який був відкритий у 2019 році.
                                p "Географія" - це новий готельно-ресторанний комплекс, який був відкритий у 2019 році з європейською якістю обслуговування, який працює цілодобово по трасі Київ-Чоп. Зручне заміське розташування дозволяє забути про міську метушню. Цей новий сучасний готельно-ресторанний комплекс надає послуги: готелю та ресторану.
                                p Готель і ресторан "Географія" спроектований і оформлений згідно європейських стандартів із використанням екологічно безпечних матеріалів. Завдяки цьому, ми гарантуємо комфортне перебування усім нашим гостям.
                                p Територія заміського комплексу розташована по трасі Київ-Чоп, велика і простора із зеленою зоною, серед якої можна відпочити або провести фотосесію. Для дітей є окремий майданчик, який потішить ваших дітлахів. Привітний та компетентний персонал комплексу "Географія" допоможе Вам у вирішенні будь-якого питання.
                                p В інтер'єрі готельного комплексу "Географія" ми зробили акцент на природні, екологічні, натуральні матеріали. Дизайн приміщень виконаний в стилі контемпорарі, який об'єднує в собі простоту ліній та форм, багато вільного простору та повітря. В стилі контемпорарі гармонійно поєднались мінімалізм, арт-деко, кантрі, екодекор та футуристичні меблі в стилі хай-тек.
                                p "Географія" - це оазис, який об'єднує в собі комфорт, затишок, високий професіоналізм персоналу і шикарну природу. Готельно-ресторанний комплекс в Рівному наповнений атмосферою свята навіть у будні дні. Комплекс '' Географія" подарує Вам гарний настрій, зарядить енергією та спокоєм.
                                p Готельно-ресторанний комплекс ''Географія" має високі стандарти якості та є одним з кращих готелів Рівного. У готелі ми створили всі умови, щоб Ви відчували себе комфортно і безпечно. Ми дотримуємося принципу: "Європейська якість за помірною ціною", а це означає, що, обираючи нас, Ви отримуєте більше ніж очікували.
                                p Готельно - ресторанний комплекс "Географія" в Рівному налічує 26 комфортних номерів від економ-класу до рівня VIP. Сучасно оформлені номери оснащені телевізорами Smart TV, кондиціонерами та телефонами. На всій території готельного комплексу діє високошвидкісний WI-FI. Для Вашого комфорту, в готелі ''Географія" працює цілодобовий Room service. Вам не доведеться турбуватися про гігієнічні засоби, тому що ванні кімнати повністю оснащені не тільки новою сантехнікою, але й всіма необхідними косметичними засобами.
                                p Готельно-ресторанний комплекс "Географія" в Рівному, надає можливість раннього і пізнього заселення, комфортного розміщення з дітьми до одного року (сімейні номери) або тваринами (за додаткову плату). Також, в готельному комплексі ''Географія", є можливість заселяти групи. Ми потурбувалися про комфорт наших гостей з автомобілями, тому на території комплексу є безкоштовний паркінг.
                                p У готельно-ресторанному комплексі ''Географія" Ви зможете залишити всі рутинні проблеми в минулому й насолодитися смаковою феєрією від наших кращих шеф-кухарів. До Ваших послуг надається ресторан, який працює 24/7 та радує відвідувачів різноманітними стравами української та європейської кухні. Готельно-ресторанний комплекс в Рівному має 3 зали, розрахованих на 120/80/30 гостей, дві просторі банкетки і літню терасу. Гурманів приємно здивує колекція вин з різних куточків світу та незабутньо смачний кальян. Також в ресторані "Географія" ми передбачили збалансоване дитяче меню для наших наймолодших гостей.
                                p Готельно-ресторанний комплекс "Географія" - це сучасний відпочинок на європейському рівні. У нас можна не тільки відпочити на вихідних, а й провести весілля, хрестини, романтичне побачення, ділову зустріч, корпоративний банкет, день народження, заручини або будь-яке інше свято. Забудьте про метушню під час організації свята - ми візьмемо на себе всі клопоти, від підбору меню до оформлення банкетного залу. Персонал комплексу "Географія" зробить усе можливе, щоб у Вас залишилися тільки найтепліші враження і Вам захотілося повертатись до нас знову та знову.
                                p Готельний комплекс "Географія" в Рівному стане відмінним місцем для проведення весільної церемонії. На території готелю можна провести весільну фотосесію. А сфотографувати ранок нареченої і нареченого можна в номері класу VIP. Також, наші партнери допоможуть з оформленням весільного банкету, гостьової фотозони і Кенді-бару. Приємним бонусом стане наявність сцени для музикантів та ді-джея.
                                p Готельно-ресторанний комплекс "Географія" має конференц-зал, в якому можна провести тренінг, конференцію або ділову зустріч. Простора зала з комфортабельними меблями дозволить вести тривалий продуктивний діалог з аудиторією.
                                p Заміський комплекс в Рівному "Географія" дає можливість побути віч на віч з природою, зняти стрес, набратися сил й натхнення для реалізації всіх Ваших майбутніх планів. Проводячи час на природі, в нашому готельно-ресторанному комплексі, Ви відчуєте, як покращується Ваш фізичний та емоційний стан. Готельно-ресторанний комплекс "Географія" дозволить Вам насолодитися відпочинком наодинці з природою в комфортних європейських умовах.
                                a.layout-box__info-full.right-line(href='javascript:void(0);') Читати повністю


            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug

        script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.js')
        script(src=bowerDir + 'swiper/dist/js/swiper.min.js')
        script(src="https://maps.googleapis.com/maps/api/js?key=")
        script.
            $(document).ready(function () {

                //- $(document).on('click', '.show-evening', function(){
                //-     $('.header').toggleClass('header--day');
                //-     $('.main-slider img').toggleClass('active');
                //- })

                $('#layout').on('click', '.layout-box__info-full', function() {
                    $(this).closest('.layout-box__info').addClass('show');
                });

                var swiper = new Swiper('.swiper-contain', {
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });

                $('.layout-box__photos-link').magnificPopup({
                    type: 'image',
                    gallery: {
                        enabled: true
                    },
                });



                function initMap(){
                    var centerLatLng = new google.maps.LatLng(50.581911, 26.155695);
                    var marker = new google.maps.LatLng(50.581911, 26.155695);
                    var mapOptions = {
                        center: centerLatLng,
                        zoom: 13
                    };
                    // Создаем карту внутри элемента #map
                    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                    var marker = new google.maps.Marker({
                        position: marker,
                        map: map,
                        title: "",
                        icon: "assets/images/icons/marker.svg",
                        animation: google.maps.Animation.DROP
                    });
                    $.getJSON("map-style.json", function(data) {
                        map.setOptions({styles: data});
                    });
                }
            google.maps.event.addDomListener(window, "load", initMap);
            });
