//- Utility
- pageTitle = 'respond'
include utils/_variable.pug

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout

            //= Main =
            main#main.main
                .container
                    include module/_respond.pug

            //= End main =
            = '\n'

        //= End layout =

        include layout/_scripts.pug
