//- Utility
- pageTitle = 'Ресторан'
include utils/_variable.pug

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug

            //= Main =
            main#main.main
                include module/_restourant-top.pug
                .container
                    include module/_restourant-content.pug



            //= End main =
            = '\n'

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug

        script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.js')
        script(src=bowerDir + 'swiper/dist/js/swiper.min.js')
        script.
            $(document).ready(function () {
                $('.layout-box__photos-link').magnificPopup({
                    type: 'image',
                    gallery: {
                        enabled: true
                    },
                });
            });
