.contacts {
    position: relative;

    &__phones {
        position: relative;
        margin: 0 -8px 2px;
        line-height: 1;

        a {
            display: inline-block;
            margin: 0 8px 16px;
        }
    }

    &__mail {
        position: relative;
        margin: 0 0 16px;
        line-height: 1;
    }

    &__address {
        position: relative;
        padding: 0 0 0 24px;
        line-height: 24px;
        font-size: 14px;

        svg {
            top: 0;
            transform: none;
        }
    }

    .contacts {
        &__address {
            svg {
                top: 0;
                transform: none;
            }
        }
    }

    a {
        position: relative;
        padding: 0 0 0 24px;
        line-height: 1;
        color: $brandDarkBlack;
        text-decoration: none;
        white-space: nowrap;
        font-size: 14px;
        transition: all .3s;

        &:hover {
            color: $brandPrimary;
        }
    }

    svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: $screen_M_Min) {
        &__phones {
            margin: 0 -8px 4px;

            a {
                margin: 0 8px 16px;
            }
        }

        &__mail {
            margin: 0 0 19px;
        }

        &__address {
            font-size: 16px;
        }

        a {
            font-size: 16px;
        }
    }
}
