.filter-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $brandPrimary;
    display: inline-flex;
    position: fixed;
    top: 41px;
    right: 15px;
    justify-content: center;
    align-items: center;
    z-index: 56;

    svg {
        fill: $base;
    }

    @media (min-width: $screen_L_Min) {
        display: none;
    }
}
