.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 34px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            margin: 0 0 42px;
        }
    }
    
    &__text {
        text-align: center;
        margin: 26px 0 50px;

        b {
            display: block;
            font-size: 32px;
            line-height: 1;
            margin: 0 0 18px;
        }

        span {
            display: block;
            font-weight: 500;
            font-size: $fontSizeSmall;
            line-height: 18px;
        }
    }

    .nav {
        &__list {
            &-item {
                padding: 0 11px;
            }
        }
    }

    @media (min-width: $screen_M_Min) {
        &__text {    
            b {
                font-size: 38px;
            }
        }

        .nav {
            &__list {
                &-item {
                    padding: 0 30px;
                }
            }
        }
    }

    @media (min-width: $screen_L_Min) {
        &__text {    
            b {
                font-size: $fontSizeH1;
                line-height: 64px;
            }
        }
    }

    @media (min-width: $screen_XL_Min) {
        padding: 144px 0 76px;
    }
}