.provider {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #D8E2F7;
    border-radius: 14px;
    background: $base;
    width: 100%;
    max-width: 1285px;

    h2 {
        display: block;
        margin: 0 0 16px;
        padding: 0 0 16px;
        border-bottom: 1px solid $brandBlueGray;
        line-height: 1;
    }

    p {
        color: $brandDimGray;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    &:not(:last-child) {
        margin: 0 0 24px;
    }

    &__logo {
        padding: 20px;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        &-image {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img {
                width: 100%;
                max-width: 320px;
            }
        }

        &-contacts {
            padding: 15px;
            background: $base;
            border-radius: 14px;
            margin: 0 0 17px;
        }

        .contacts {
            &__phones {
                margin: 0 -8px;
                display: flex;
                flex-direction: column;

                a {
                    margin: 0 8px 16px;

                    &:last-child {
                        margin: 0 8px 24px;
                    }
                }
            }

            &__mail {
                margin: 0 0 22px;
            }
        }
    }

    &__info {
        position: relative;
        width: 100%;
        flex-grow: 1;

        &-wrapper {
            position: relative;
            padding: 85px 15px 15px;
        }

        &-rating {
            display: flex;
            z-index: 1;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            left: 15px;
            top: 15px;

            > a {
                display: inline-block;
                text-decoration: none;
                white-space: nowrap;
                margin: 7px 0 0;
                border-bottom: 1px dashed $brandPrimary;
                line-height: 1;
                transition: all .3s;

                span {
                    margin: 0 0 0 4px;
                }

                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }

        .name {
            position: relative;

            &__title {
                font-weight: 600;
                font-size: $fontSizeH3;
                line-height: 1;
                margin: 0 0 12px;
                text-decoration: none;
                color: $brandDarkBlack;
                display: inline-block;
                transition: all .3s;

                &:hover {
                    color: $brandPrimary;
                }
            }

            &__address {
                font-size: $fontSizeBase;
                line-height: 1;
                margin: 0 0 16px;
            }
        }

        &-price {
            margin: 0 0 24px;
            position: relative;
            width: 100%;
        }

        &-description {
            margin: 0;
            position: relative;
        }
    }

    &__rating {
        position: absolute;
        display: flex;
        align-items: center;
        top: 32px;
        right: 32px;

        &-aggregate {
            font-weight: bold;
            font-size: $fontSizeH5;
            line-height: 26px;
            color: $brandPrimary;
            margin: 0 16px 0 0;
        }
    }

    &__reviews {
        position: relative;
        margin: 17px 0 0;
        padding: 15px;
        background: $base;
        border-radius: 14px;

        &-add {
            position: absolute;
            top: 14px;
            right: 14px;
        }
    }

    &.no-image {
        .provider {
            &__logo {
                &-image {
                    background: $base url(../images/details/no-image.png) center no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    &--details {
        border: none;
        align-items: flex-start;
        background: transparent;
        margin: 0 -12px 40px;

        .provider {
            &__logo {
                padding: 0;
                border-right: none;
                margin: 0 12px;

                &-image {
                    min-height: 300px;
                    background: $base;
                    border-radius: 14px;
                    margin: 0 0 17px;
                    padding: 15px;
                }
            }

            &__info {
                margin: 0 12px;

                &-wrapper {
                    background: #fff;
                    border-radius: 14px;
                    padding: 60px 15px 15px;
                }

                &-rating {
                    > a {
                        display: none;
                    }
                }

                .name {
                    margin: 0 0 30px;
                    border-bottom: 1px solid $brandBlueGray;

                    &__title {
                        margin: 0 0 8px;
                        cursor: default;

                        &:hover {
                            color: $brandDarkBlack;
                        }
                    }

                    &__address {
                        margin: 0 0 24px;
                    }
                }

                &-price {
                    margin: 0 0 40px;
                }
            }
        }

        .price {
            background: transparent;
            padding: 0 0 24px;

            &__wrapper {
                margin: -24px -7px 0;
            }

            &__item {
                background: $brandUltralightBlue;
                padding: 0;
                margin: 24px 7px;
                width: calc(50% - 14px);
                border-radius: 14px;
                box-shadow: 0px 18px 40px rgba(152, 160, 176, 0.35);

                &-title {
                    height: 80px;
                    font-weight: 600;
                    color: $brandPrimary;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &-info {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: calc(100% - 16px);
                    font-weight: 600;
                    line-height: 40px;
                    display: flex;
                    justify-content: center;
                    background: $base;
                    width: 136 / 160 * 100%;
                    box-shadow: 0px 18px 40px rgba(247, 249, 250, 0.35);
                    border-radius: 40px;
                    white-space: nowrap;
                }

                &:nth-child(n+2) {
                    border-left: none;
                }
            }
        }
    }

    @media (min-width: $screen_XXS_Min) {
        &__info {
            &-wrapper {
                padding: 60px 15px 15px;
            }

            &-rating {
                width: calc(100% - 30px);
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

    @media (min-width: $screen_XS_Min) {
        &--details {
            .price {
                &__item {
                    width: calc(33.333334% - 14px);
                }
            }
        }
    }

    @media (min-width: $screen_M_Min) {
        flex-direction: row;

        &__logo {
            flex-direction: row;
            width: 280px;

            &-image {
                width: auto;
                flex-shrink: 1;
                align-items: flex-start;
            }

            &-contacts {
                padding: 24px;
            }

            &.hide {
                + .provider {
                    &__info {
                        .price {
                            &__item {
                                width: calc(25% - 14px);
                            }
                        }

                        .name {
                            padding: 0 217px 0 0;
                        }

                        .provider {
                            &__info {

                                &-wrapper {
                                    padding: 32px;
                                }

                                &-rating {
                                    left: auto;
                                    right: 32px;
                                    width: auto;
                                    flex-direction: column;
                                    align-items: flex-end;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__info {
            &-wrapper {
                padding: 75px 32px 32px
            }

            &-rating {
                left: 32px;
                top: 32px;
                width: calc(100% - 64px);
            }
        }

        &--details {
            flex-direction: column;

            .provider {
                &__logo {
                    width: 100%;

                    &-image {
                        width: 50%;
                        flex-shrink: 0;
                        padding: 24px;
                        margin: 0 17px 17px 0;
                        align-items: center;
                    }
                }

                &__info {
                    &-wrapper {
                        padding: 32px
                    }

                    &-rating {
                        left: auto;
                        right: 32px;
                        top: 32px;
                        width: auto;
                    }

                    .name {
                        padding: 0 217px 0 0;
                    }
                }
            }

            .price {
                &__item {
                    width: calc(25% - 14px);
                }
            }
        }
    }

    @media (min-width: $screen_L_Min) {
        flex-direction: row;

        p {
            font-size: $fontSizeBase;
            line-height: 26px;
        }

        &__logo {
            width: 255px;
            border-right: 1px solid $brandLightBlue;
            flex-direction: column;

            &-image {
                width: 100%;
            }

            &-contacts {
                padding: 24px 24px 106px;
            }
        }

        &__reviews {
            margin: 24px 0 0;
            padding: 32px;

            &-add {
                top: 32px;
                right: 32px;
            }
        }

        &--details {
            margin: 0 0 80px;
            flex-direction: row;

            .provider {
                &__logo {
                    margin: 0 24px 0 0;
                    width: 400px;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &-image {
                        min-height: 448px;
                        margin: 0 0 24px;
                        width: 100%;
                    }

                    &-contacts {
                        margin: 0;
                    }

                    &.fixed {
                        position: fixed;
                        left: auto;
                        top: 94px;
                    }

                    &.bottom {
                        top: auto;
                        bottom: 0;
                    }
                }

                &__info {
                    margin: 0;
                    padding: 0 0 0 424px;
                }
            }
        }
    }

    @media (min-width: $screen_XL_Min) {
        &--details {
            .provider {
                &__logo {
                    width: 400px;
                }
            }
        }
    }

    @media (min-width: 1320px) {
        &__logo {
            width: 305px;

            &.hide {
                + .provider {
                    &__info {
                        .price {
                            &__item {
                                width: auto;
                            }
                        }
                    }
                }
            }

            &-image {
                align-items: center;
            }
        }

        &__info {
            .name {
                padding: 0 217px 0 0;
            }

            &-wrapper {
                padding: 32px;
            }

            &-rating {
                left: auto;
                top: 28px;
                right: 32px;
                flex-direction: column;
                width: auto;
                align-items: flex-end;
            }
        }

        &--details {
            .price {
                &__item {
                    &:not(:last-child) {
                        border: none;
                    }
                }
            }
        }
    }
}
