.review {
    position: relative;
    padding: 16px 0 8px;

    &__rating {
        margin: 0 0 10px;

        .rating {
            padding: 0;

            &:before {
                display: none;
            }

            &-item {
                margin: 0 6px 0 0;
                width: 19px;
                height: 25px;

                &:before,
                &:after {
                    width: 19px;
                    height: 25px;
                    background-size: contain;
                }
            }
        }
    }

    &__author {
        display: flex;
        align-items: flex-start;
        position: relative;

        &-picture {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-image {
            position: relative;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;
            margin: 0 0 4px;

            &.no-image {
                font-weight: 600;
                font-size: 31px;
                line-height: 24px;
                background: $brandPrimary;
                color: $base;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            img {
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__name {
        margin: 0 0 0 16px;

        span {
            display: block;
        }

        &-person {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 6px;
        }

        &-position {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: $brandPrimary;
        }
    }

    &__date {
        font-weight: 600;
        font-size: $fontSizeBase;
        line-height: 24px;
        color: $brandDimGray;
        align-self: flex-start;
    }

    &__text {
        position: relative;
        margin: 11px 0 0;

        p {
            margin: 0 0 16px;
        }
    }

    &__reply {
        position: relative;
    }

    &--answer {
        padding: 16px;
        background: $brandUltralightBlue;
        border-radius: 14px;
        margin: 16px 0 0;

        .review {
            &__text {
                margin: 11px 0 -16px;
            }
        }
    }

    @media (min-width: $screen_M_Min) {
        &__rating {
            position: absolute;
            right: 0;
            top: 12px;
        }

        &__author {
            align-items: center;
        }

        &__name {
            margin: -28px 0 0 16px;

            &-person {
                font-size: $fontSizeLarge;
                line-height: 24px;
                margin: 0;
            }

            &-position {
                font-size: $fontSizeSmall;
                line-height: 24px;
            }
        }

        &__date {
            align-self: center;
        }

        &__text {
            padding: 7px 24px 0 88px;
            margin: -32px 0 0;
        }

        &--answer {
            .review {
                &__text {
                    padding: 7px 0 0 88px;
                    margin: -32px 0 -16px;
                }
            }
        }
    }

    @media (min-width: $screen_XL_Min) {
        &__rating {
            top: 20px;
        }

        &__author {
            &-image {
                width: 72px;
                height: 72px;
            }
        }
    }
}
