//- INVOICE
//------------------------------------------------

$invoice__noteTextFontSize:     $fontSizeLarge !default;

$invoice__printTextFontSize:    $fontSizeH6 !default;
$invoice__printTextColor:       #51d256 !default;

$invoice__infoBorderColor:      $borderColor !default;

$invoice__titleTextFontSize:    $fontSizeLarge !default;

$invoice__theadTextFontSize:    $fontSizeLarge !default;
$invoice__theadBackgroundColor: $brandInfo !default;

$invoice__totalTextFontSize:    $fontSizeH6 !default;
