.icon-32x32 {
  width: 90px;
  height: 22px;
  fill: #000;
  stroke: initial;
}
.icon-data {
  width: 15px;
  height: 16px;
  fill: #777;
  stroke: initial;
}
.icon-facebook {
  width: 12px;
  height: 24px;
  fill: #000;
  stroke: initial;
}
.icon-instagram {
  width: 24px;
  height: 24px;
  fill: #000;
  stroke: initial;
}
.icon-intent {
  width: 30px;
  height: 30px;
  fill: #01009A;
  stroke: initial;
}
.icon-interest {
  width: 20px;
  height: 20px;
  fill: #fff;
  stroke: initial;
}
.icon-logoh {
  width: 108px;
  height: 69px;
  fill: #01009A;
  stroke: initial;
}
.icon-logoinner {
  width: 144px;
  height: 70px;
  fill: #777;
  stroke: initial;
}
.icon-logo_footer {
  width: 145px;
  height: 70px;
  fill: #fff;
  stroke: initial;
}
.icon-logo_header {
  width: 145px;
  height: 70px;
  fill: #01009A;
  stroke: initial;
}
.icon-main {
  width: 30px;
  height: 22px;
  fill: #01009A;
  stroke: initial;
}
.icon-pdf {
  width: 30px;
  height: 32px;
  fill: #777;
  stroke: initial;
}
.icon-phone {
  width: 30px;
  height: 30px;
  fill: #01009A;
  stroke: initial;
}
.icon-right-arrow {
  width: 7px;
  height: 11px;
  fill: #01009A;
  stroke: initial;
}
.icon-save {
  width: 18px;
  height: 20px;
  fill: #fff;
  stroke: initial;
}
.icon-services-architectural {
  width: 50px;
  height: 50px;
  fill: #01009A;
  stroke: initial;
}
.icon-services-invest {
  width: 50px;
  height: 50px;
  fill: #fff;
  stroke: initial;
}
.icon-services-legal {
  width: 50px;
  height: 50px;
  fill: #01009A;
  stroke: initial;
}
.icon-services-office {
  width: 50px;
  height: 50px;
  fill: #01009A;
  stroke: initial;
}
.icon-swiper-button-next {
  width: 13px;
  height: 20px;
  fill: #fff;
  stroke: initial;
}
.icon-swiper-button-prev {
  width: 13px;
  height: 20px;
  fill: #fff;
  stroke: initial;
}
.icon-text {
  width: 20px;
  height: 18px;
  fill: #fff;
  stroke: initial;
}
.icon-triangle {
  width: 9px;
  height: 13px;
  fill: #01009A;
  stroke: initial;
}
.icon-twitter {
  width: 30px;
  height: 24px;
  fill: #000;
  stroke: initial;
}
.icon-youtube {
  width: 27px;
  height: 19px;
  fill: #000;
  stroke: initial;
}
