.select2 {
    &-container {
        &--default {
            .select2-selection--single {
                height: $formControlHeight;
                border: 1px solid $borderColor;
                outline: none;

                .select2-selection__rendered {
                    line-height: $formControlHeight;
                    padding-left: 17px;
                }
                .select2-selection__arrow {
                    height: $formControlHeight;
                    right: 11px;

                    b {
                        transition: all .3s;
                        border: none;
                        margin: 0;
                        width: 12px;
                        height: 6px;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .select2-search--dropdown {
                .select2-search__field {
                    border: 1px solid $borderColor;
                    padding: 4px 13px 4px 13px;
                    height: 32px;
                }
            }

            .select2 {
                &-results {
                    &__option {
                        &--highlighted[aria-selected] {
                            background-color: $borderColor;
                            color: white;
                        }
                    }
                }
            }

            &.select2-container--open {
                .select2-selection--single {
                    .select2-selection__arrow {    
                        b {
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }
                }
            }
        }
    }

    &-results {
        &__option {
            height: $formControlHeight;
            line-height: 28px;
            color: $textColor;
            padding: 6px 17px 6px 17px;
        }
    }

    &-dropdown {
        border: 1px solid $borderColor;
    }
}