= '\n'
// = forma-callback =

form#forma-callback.forma-callback(method='post' name='forma-callback')
    .forma-callback__wrapper
        a.forma-callback__close(href='javascript:void(0)')
        input.forma-callback__input.error(name='name' type='text' maxlength='20' placeholder='Имя' required)
        input.forma-callback__input(name='email' type='email' maxlength='20' placeholder='Телефон' required)
        textarea.forma-callback__textarea(name='questions' cols='37' rows='4' placeholder='Сообщение' required)
        input.forma-callback__input.forma-callback__input--button(type='button' value='Отправить')

// = End forma-callback =
= '\n'
