@import 'vars/_variable.scss';

.owl {
    &-carousel {
        position: relative;
        z-index: 1;
        display: none;
        width: 100%;
    }

    &-stage {
        position: relative;
        -ms-touch-action: pan-Y;
        -moz-backface-visibility: hidden;

        @include clearfix;

        &-outer {
            position: relative;
            overflow: hidden;
            transform: translate3d(0, 0, 0);
        }
    }

    &-wrapper,
    &-item {
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
    }

    &-item {
        position: relative;
        float: left;
        min-height: 1px;
        -webkit-touch-callout: none;
    }

    &-nav,
    &-dots {
        &.disabled {
            display: none;
        }
    }

    &-nav {
        .owl {
            &-prev,
            &-next {
                cursor: pointer;
                cursor: hand;
                user-select: none;
            }
        }
    }

    &-loading {
        display: block;
        opacity: 0;
    }

    &-loaded {
        display: block;
    }

    &-hidden {
        opacity: 0;
    }

    &-refresh {
        .owl {
            &-item {
                visibility: hidden;
            }
        }
    }

    &-drag {
        .owk {
            &-item {
                user-select: none;
            }
        }
    }

    &-grab {
        cursor: move;
        cursor: grab;
    }

    &-prev,
    &-next {
        position: absolute;
        top: 50%;
        overflow: hidden;
        width: 7px;
        height: 15px;
        padding: 0;
        margin: -8px 0 0;
        text-indent: 100%;
        border: none;
        outline: none;
        background: none;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            transition: all .2s linear;
            background: url('../images/content/icon/owl-arrow.png') no-repeat;
        }

        &:after {
            opacity: 0;
        }

        &:hover {
            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }

        span {
            display: none;
        }
    }

    &-prev {
        left: 10px;

        &:before,
        &:after {
            background-position: 0 -16px;
        }

        &:after {
            background-position: 0 -16px;
        }
    }

    &-next {
        right: 10px;

        &:before,
        &:after {
            background-position: -8px -16px;
        }

        &:after {
            background-position: -8px -16px;
        }
    }
}
