.footer {
    position: relative;
    padding-bottom: 25px;
    text-align: center;
    background: $gray url('../images/footer/bg.png') center bottom repeat-x;
    overflow: visible !important;

    @import 'footer/32x32';
    @import 'footer/copyright';
    @import 'footer/menu';
    @import 'footer/phone';
    @import 'footer/socnet';
    @import 'footer/up';
    &__part {
        @include clearfix;

        &:nth-child(2) {
            margin-top: 22px;
        }
    }
}
