.header {
    @import 'header/basket';
    @import 'header/logo';
    @import 'header/menu';
    @import 'header/phone';
    @import 'header/userbar';
    @import 'header/mobile-menu';



    &__top {
        padding: 11px 0 4px;
        background: $grayLighter;

        &-right {
            position: relative;
            float: right;
        }
    }

    &__content {
        float: left;
        width: (470 / 1170) * 100%;
        margin: 15px 0;
    }

    @media (max-width: $screenSmMax) {
        &__content {
            display: none;
        }

        &--fixed {
            position: fixed!important;
            top: 0;
            left: 0;
            right: 0;
            background: $base;
            z-index: 56;

            .logo {
                margin: 8px auto;
            }

            .header {
                &__top {
                    display: none;
                }
            }
        }
    }
}
