#layout {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    min-height: 100%;
}

#header {
    position: relative;
    border-bottom: 1px solid $grayLight;
}

#nav {
    position: relative;
    border-bottom: 1px solid $brandPrimary;

    &:before {
        position: absolute;
        bottom: -3px;
        left: 50%;
        width: 6px;
        height: 6px;
        margin: 0 0 0 -3px;
        content: '';
        border-radius: 50%;
        background: $brandPrimary;
    }
}

#nav_bottom {
    position: relative;
    margin: 0;
    padding-top: 4px;
    border-top: 1px solid $brandPrimary;

    &:before {
        position: absolute;
        top: -3px;
        left: 50%;
        width: 6px;
        height: 6px;
        margin: 0 0 0 -3px;
        content: '';
        border-radius: 50%;
        background: $brandPrimary;
    }
}

#footer {
    position: relative;
    overflow: hidden;
    min-width: 320px;
}

.container {
    position: relative;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @include clearfix;
}


.main {
    &--notfound {
        padding-top: 0 !important;
    }
}

.checkbox {
    margin-right: 8px;
    flex-shrink: 0;

    position: relative;
    align-self: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: 16px;
    height: 16px;
    border: 1px solid $grayLight;
    outline:none;
    padding: 10px;


    &:checked {
        &:after {
            position: absolute;
            content: '';
            width: 14px;
            height: 14px;
            background: url(../images/content/icon/check.svg)no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


.green {
    color: $brandPrimary;
    font-family: $fontFamilySansSerif;
    font-size: $fontSizeH4;
    font-weight: 400;
    text-decoration: none;

    &-dashed {
        color: $brandPrimary;
        border: none;
        padding: 0;
        border-bottom: 1px dashed $brandPrimary;
        background: transparent;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

.table-title {
    position: relative;
    padding: 16px;
    background: $tableBg;
    color: $gray;
    font-family: $fontFamilySansSerif;
    font-size: $fontSizeH4;
    border: 1px solid $grayLight;
    margin: 0 0 24px 0;
}

.edit {
    position: relative;
    padding: 0 8px;

    &:after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        background: url(../images/content/icon/edit.svg)no-repeat;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: $screenSmMax) {
    .hide-sm-max {
        display: none;
    }
}

.user__title {
    font-family: $fontFamilyNatilus;
    font-size: $fontSizeH3;
    font-weight: 400;
    line-height: 1;
    margin: 27px 0 15px;
    letter-spacing: -1px;
    color: $gray;
    text-align: center;

    &:before,
    &:after {
        position: relative;
        top: -5px;
        display: inline-block;
        width: 15px;
        height: 3px;
        content: '';
        background: $brandPrimary;
    }

    &:before {
        margin-right: 10px;
    }

    &:after {
        margin-left: 10px;
    }
}

.button-exit {
    font-family: $fontFamilyBase;
    font-size: 14px;
    line-height: 21px;
    color: $brandPrimary;
    position: relative;
    border: 1px solid $brandPrimary;
    border-radius: 6px;
    padding: 5px 23px 6px 40px;
    background: transparent;
    text-decoration: none;
    align-self: flex-end;
    outline: none;
    cursor: pointer;

    &:before {
        content: '';
        background: url('../images/content/icon/exit.svg') no-repeat;
        width: 17px;
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px
    }
}

.pp-promobar {
    z-index: 1 !important;
}

.email-widget-bubble {
    bottom: 90px !important;
}

@media (min-width: 768px) {
    .button-exit {
        align-self: center;
    }
}

//600px
@media (min-width: $screenXsMin) {
    .user__title {
        font-size: $fontSizeH2;

        &:before {
            width: 30px;
            margin-right: 14px;
        }

        &:after {
            width: 30px;
            margin-left: 14px;
        }
    }

    .button-exit {
        font-size: 16px;
        padding: 9px 23px 8px 54px;

        &:before {
            left: 23px
        }
    }
}
//1024px
@media (min-width: $screenMdMin) {
    .user__title {
        font-size: $fontSizeH7;

        &:before,
        &:after {
            top: -6px;
        }
    }

    .button-exit {
        font-size: 16px;
    }
}
//1200px
@media (min-width: $screenLgMin) {
    .user__title {
        font-size: $fontSizeH1;

        &:before,
        &:after {
            top: -8px;
        }
    }

    .button-exit {
        font-size: 18px;
    }
}

