head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    meta(property='og:url' content='')
    meta(property='og:type' content='')
    meta(property='og:title' content='')
    meta(property='og:description' content='')
    meta(property='og:image' content='')

    title Freshmart | #{pageTitle}

    link(rel='shortcut icon' href='favicon.ico')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=cyrillic')
    link(rel='stylesheet' href='assets/css/main.min.css')

= '\n'
