//- Mixin


= '\n'
//= Header =
// Класс "header--fixed" фиксирует меню с верху странички (моб версия)
-
    micromarking = true

    itemscope = (micromarking) ? true : false
    itemprop = (micromarking) ? 'Freshmart' : false
    itemtype = (micromarking) ? 'http://schema.org/Organization' : false

header.header#header(itemscope= itemscope itemprop= itemprop itemtype= itemtype)
    - micromarking = false
    .header__top
        .container
            +headerMenu('hide-sm-max')

            .header__top-right
                //-include header/_userbar.pug
                include header/_userbarNew.pug
                +headerSocnet('hide-sm-max border')
                include header/_language.pug
                include header/_cities.pug

    .container
        include header/_device.pug
        include header/_logo.pug

        .header__content
            - micromarking = true
            +phone()
            +search(true)

        include header/_basket.pug
        - micromarking = false
//= End header =

= '\n'
