= '\n'

//= Scripts =
script(src=bowerDir + 'jquery/dist/jquery.min.js')
script(src=bowerDir + 'bxslider-4/dist/jquery.bxslider.js')
script(src=bowerDir + 'jquery-selectric/public/jquery.selectric.min.js')
script(src='assets/js/own.box.min.js')
script(src='assets/js/main.min.js')


if (slick)
    script(src=bowerDir + 'slick-carousel/slick/slick.min.js')




//= End scripts =
= '\n'
