//- glossary
//------------------------------------------------


-
    glossaryEng = [
        {
            char: 'A',
            class: 'active'
        },
        {
            char: 'B',
        },
        {
            char: 'C',
        },
        {
            char: 'D',
            class: 'active'
        },
        {
            char: 'E',
        },
        {
            char: 'F',
        },
        {
            char: 'G',
        },
        {
            char: 'H',
        },
        {
            char: 'I',
            class: 'active'
        },
        {
            char: 'J',
        },
        {
            char: 'K',
        },
        {
            char: 'L',
        },
        {
            char: 'M',
        },
        {
            char: 'N',
            class: 'active'
        },
        {
            char: 'O',
        },
        {
            char: 'P',
        },
        {
            char: 'Q',
        },
        {
            char: 'R',
        },
        {
            char: 'S',
            class: 'active'
        },
        {
            char: 'T',
        },
        {
            char: 'U',
        },
        {
            char: 'V',
        },
        {
            char: 'W',
        },
        {
            char: 'Y',
            class: 'active'
        },
        {
            char: 'Z'
        }
    ]

    glossaryRu = [
        {
            char: 'а',
            class: 'active'
        },
        {
            char: 'б',
        },
        {
            char: 'в',
        },
        {
            char: 'г',
            class: 'active'
        },
        {
            char: 'д',
        },
        {
            char: 'е',
        },
        {
            char: 'ж',
        },
        {
            char: 'з',
        },
        {
            char: 'и',
            class: 'active'
        },
        {
            char: 'й',
        },
        {
            char: 'к',
        },
        {
            char: 'л',
        },
        {
            char: 'м',
        },
        {
            char: 'н',
            class: 'active'
        },
        {
            char: 'о',
        },
        {
            char: 'п',
        },
        {
            char: 'р',
        },
        {
            char: 'с',
        },
        {
            char: 'е',
            class: 'active'
        },
        {
            char: 'у',
        },
        {
            char: 'ф',
        },
        {
            char: 'х',
        },
        {
            char: 'ц',
        },
        {
            char: 'ч',
            class: 'active'
        },
        {
            char: 'ш'
        },
        {
            char: 'щ'
        },
        {
            char: 'э'
        },
        {
            char: 'ю'
        },
        {
            char: 'я'
        }
    ]