//- BASE
//------------------------------------------------

-
    tabLeadersOfSells = [
        {
            id: 'quadrocopters',
            title: 'Квадрокоптеры'
        },
        {
            id: 'smartphones',
            title: 'Cмартфоны'
        },
        {
            id: 'clock',
            title: 'Часы'
        }
    ]

    tabNewsAndArticles = [
        {
            id: 'news',
            title: 'Новости'
        },
        {
            id: 'articles',
            title: 'Cтатьи'
        }
    ]

    servicesList = [
        {
            id: 'optimal',
            title: 'Оптимальний',
            class: 'applied'
        },
        {
            id: 'standart',
            title: 'Стандартный',
            class: 'applied'
        },
        {
            id: 'premium',
            title: 'Премиум',
            class: 'applied'
        },
        {
            id: 'youtube',
            title: 'YouTube премиум,\n'+
            'без рекламы'
        },
        {
            id: 'vip',
            title: 'VIP'
        },
        {
            id: 'base',
            title: 'Базовый'
        },
        {
            id: 'antivir',
            title: 'Антивирус \n'+
            'ESET Mobile \n'+
            '(Лицензия)'
        }
    ]

    tabProductPage = [
        {
            id: 'all',
            title: 'Все о товаре'
        },
        {
            id: 'characteristics',
            title: 'Характеристики'
        },
        {
            id: 'photo',
            title: 'Фото'
        },
        {
            id: 'video',
            title: 'Видео'
        },
        {
            id: 'accessories',
            title: 'Аксессуары'
        },
        {
            id: 'reviews',
            title: 'Отзывы'
        },
        {
            id: 'patifonMaster',
            title: 'Patifon master'
        }
    ]

    tabAccountPage = [
        {
            name: 'Личная информация',
            id: 'info',
            active: true
        },
        {
            name: 'Список желаний',
            id: 'wishes',
            counter: '(0)'
        },
        {
            name: 'Корзина пуста',
            id: 'cart',
            counter: '(0)'
        },
        {
            name: 'Подписки на рассылки',
            id: 'subscribe'
        },
        {
            name: 'Комментарии',
            id: 'comments',
            counter: '(10)'
        },
        {
            name: 'Просмотренные товары',
            id: 'viewed'
        },
        {
            name: 'Мои заказы',
            id: 'orders',
            counter: '(15)'
        }
    ]

    tabSimilarProducts = [
        {
            id: 'cases',
            title: 'Чехлы для мобильных телефонов'
        },
        {
            id: 'headphones',
            title: 'Наушники'
        },
        {
            id: 'cleaners',
            title: 'Чистящие средства'
        },
        {
            id: 'smartWatches',
            title: 'Смарт-часы'
        },
        {
            id: 'accessories1',
            title: 'Аксессуары'
        }
    ]

    catalogMain = [
        {
            image: 'image',
            title: 'Xiaomi Redmi Note 5A 2/16Gb(Rose Gold) EU - Global Version',
            special: [
                {
                    class: 'discount',
                    title: '- 30%'
                },
                {
                    class: 'recommended',
                    title: 'Рекомендуем'
                },
                {
                    class: 'new',
                    title: 'Новинка'
                }
            ],
            color: [
                {
                    active: true,
                    value: '#2a2a29'
                },
                {
                    value: '#fff'
                },
                {
                    value: '#f9bcad'
                },
                {
                    value: '#1b008f'
                },
                {
                    value: '#645f64'
                },
                {
                    value: '#2a2a29'
                },
                {
                    value: '#fff'
                },
                {
                    value: '#f9bcad'
                },
                {
                    value: '#1b008f'
                },
                {
                    value: '#645f64'
                }
            ],
            review: '9 отзывов',
            rating: '2',
            inStock: {
                status: 'yes',
                title: 'Есть в наличии'
            },
            menu: [
                {
                    active: true,
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            price: '12 500 грн',
            delivery: true
        },
        {
            image: 'image2',
            title: 'Xiaomi Redmi Note 5A 2/16Gb (Rose Gold)',
            special: [
                {
                    class: 'discount',
                    title: '- 20%'
                },
                {
                    class: 'new',
                    title: 'Новинка'
                }
            ],
            color: [
                {
                    active: true,
                    value: '#e30613'
                },
                {
                    value: '#2a2a29'
                }
            ],
            review: '12 отзывов',
            rating: '2',
            inStock: {
                status: 'yes',
                title: 'Есть в наличии'
            },
            menu: [
                {
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            priceOld: '2 225 грн',
            price: '2 200 грн'
        },
        {
            image: 'image3',
            title: 'Samsung J105 Galaxy J1 (White)',
            special: [
                {
                    class: 'discount',
                    title: '- 20%'
                },
                {
                    class: 'action',
                    title: 'Акция'
                }
            ],
            color: [
                {
                    active: true,
                    value: '#fff'
                },
                {
                    value: '#dccab1'
                }
            ],
            review: '14 отзывов',
            rating: '2',
            inStock: {
                status: 'yes',
                title: 'Есть в наличии'
            },
            menu: [
                {
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            priceOld: '2 500 грн',
            price: '2 099 грн'
        },
        {
            image: 'image4',
            title: 'BRAVIS A503 JOY DUAL SIM (Black)',
            special: [
                {
                    class: 'action',
                    title: 'Акция'
                }
            ],
            color: [
                {
                    active: true,
                    value: '#fff'
                },
                {
                    value: '#dccab1'
                },
                {
                    value: '#2a2a29'
                }
            ],
            review: '10 отзывов',
            rating: '2',
            inStock: {
                status: 'yes',
                title: 'Есть в наличии'
            },
            menu: [
                {
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            priceOld: '2 705 грн',
            price: '2 299 грн'
        }
    ]

    catalogMainDrop = [
        {
            image: 'image',
            title: 'Xiaomi Redmi Note 5A 2/16Gb (Rose Gold) EU - Global Version',
            special: [
                {
                    class: 'discount',
                    title: '- 30%'
                },
                {
                    class: 'recommended',
                    title: 'Рекомендуем'
                },
                {
                    class: 'new',
                    title: 'Новинка'
                }
            ],
            color: [
                {
                    active: true,
                    value: '#2a2a29'
                },
                {
                    value: '#fff'
                },
                {
                    value: '#f9bcad'
                },
                {
                    value: '#1b008f'
                },
                {
                    value: '#645f64'
                },
                {
                    value: '#fff'
                },
                {
                    value: '#f9bcad'
                },
                {
                    value: '#1b008f'
                },
                {
                    value: '#645f64'
                }
            ],
            review: '12 отзывов',
            rating: '2',
            inStock: {
                status: 'available',
                title: 'Есть в наличии'
            },
            menu: [
                {
                    active: true,
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            priceOld: '3 225 грн.',
            price: '2 200 грн.',
            drop: true,
            gallery: ['image', 'image2', 'image3', 'image3'],
            feature: [
                {
                    class: 'resolution',
                    text: '5.5" OLED (1920x1080)'
                },
                {
                    class: 'cpu',
                    text: '8 ядер (2 Ггц)'
                },
                {
                    class: 'memory',
                    text: '64 Gb + microSD до 128 Gb'
                },
                {
                    class: 'ram',
                    text: '4 Gb'
                },
                {
                    class: 'camera',
                    text: '16 Мп + 16 Мп'
                },
                {
                    class: 'battery',
                    text: '3100 мА*ч'
                },
                {
                    class: 'sim',
                    text: '2'
                },
                {
                    class: 'os',
                    text: 'Android 6.0'
                }
            ]
        },
        {
            image: 'image2',
            title: 'Xiaomi Redmi Note 5 4/64GB Black',
            special: [
                {
                    class: 'discount',
                    title: '- 20%'
                },
                {
                    class: 'new',
                    title: 'Новинка'
                }
            ],
            color: [
                {
                    active: true,
                    value: '#e30613'
                },
                {
                    value: '#2a2a29'
                }
            ],
            review: '12 отзывов',
            rating: '2',
            inStock: {
                status: 'disabled',
                title: 'Нет в наличии'
            },
            menu: [
                {
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            price: '6 700 грн.'
        },
        {
            image: 'image3',
            title: 'Samsung J105 Galaxy J1 (White)',
            special: [
                {
                    class: 'discount',
                    title: '- 20%'
                },
                {
                    class: 'action',
                    title: 'Акция'
                }
            ],
            color: [
                {
                    active: true,
                    value: '#fff'
                },
                {
                    value: '#dccab1'
                }
            ],
            review: '14 отзывов',
            rating: '2',
            inStock: {
                status: 'pending',
                title: 'Ожидание 12-14 дней'
            },
            menu: [
                {
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            priceOld: '2 500 грн',
            price: '2 099 грн'
        },
        {
            image: 'image4',
            title: 'BRAVIS A503 JOY DUAL SIM (Black)',
            special: [
                {
                    class: 'action',
                    title: 'Акция'
                }
            ],
            color: [
                {
                    active: true,
                    value: '#fff'
                },
                {
                    value: '#dccab1'
                },
                {
                    value: '#2a2a29'
                }
            ],
            review: '10 отзывов',
            rating: '2',
            inStock: {
                status: 'yes',
                title: 'Есть в наличии'
            },
            menu: [
                {
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            priceOld: '2 705 грн',
            price: '2 299 грн'
        }
    ]

    catalogAccessories = [
        {
            accessories: true,
            category: 'Кабели и переходники',
            image: 'image5',
            title: 'Защитное стекло Apple iPhone 7',
            special: [
                {
                    class: 'recommended',
                    title: 'Рекомендуем'
                },
                {
                    class: 'new',
                    title: 'Новинка'
                },
                {
                    class: 'action',
                    title: 'Акция'
                }
            ],
            review: '10 отзывов',
            rating: '2',
            inStock: {
                status: 'yes',
                title: 'Есть в наличии'
            },
            menu: [
                {
                    active: true,
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                }
            ],
            priceOld: '1 300 грн',
            price: '1 000 грн'
        },
        {
            accessories: true,
            category: 'Моноподы',
            image: 'image6',
            title: 'Монопод для селфи Monopod Mini 48СМ AUX',
            special: [
                {
                    class: 'recommended',
                    title: 'Рекомендуем'
                },
                {
                    class: 'hit',
                    title: 'Хит'
                }
            ],
            review: '10 отзывов',
            rating: '2',
            inStock: {
                status: 'yes',
                title: 'Есть в наличии'
            },
            menu: [
                {
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            price: '125 грн'
        },
        {
            accessories: true,
            category: 'Держатели',
            image: 'image7',
            title: 'Защитное стекло Apple iPhone 7',
            special: [
                {
                    class: 'action',
                    title: 'Акция'
                },
                {
                    class: 'new',
                    title: 'Новинка'
                }
            ],
            review: '10 отзывов',
            rating: '2',
            inStock: {
                status: 'yes',
                title: 'Есть в наличии'
            },
            menu: [
                {
                    class: 'myFavorites'
                },
                {
                    class: 'comparison'
                }
            ],
            benefit: [
                {
                    class: 'guarantee',
                    text: 'Гарантия: <strong>12 месяцев</strong>'
                },
                {
                    class: 'paymentInInstallments',
                },
                {
                    class: 'gift',
                    text: '<span>Акция!</span> Бесплатная доставка акционных смартфонов Xiaomi'
                }
            ],
            priceOld: '1 300 грн',
            price: '1 000 грн'
        }
    ]

    news = [
        {
            image: 'image',
            type: 'Cтатья',
            title: 'Как сделать красивое МАКРО-фото - Уроки мобильной фотографии'
        },
        {
            image: 'image2',
            type: 'Новость',
            title: 'Самые ожидаемые новинки смартов 2018 года Самые ожидаемые новинки смартфонов 2018 года'
        }
    ]

    newsFull = [
        {
            image: 'image',
            date: '14/02/2018',
            type: 'Cтатья',
            title: 'Как сделать красивое МАКРО-фото - Уроки мобильной фотографии',
            text: 'Эпоха инновационных технологий в самом разгаре. Каждый год разработчики радуют нам своими мобильными новинками, которые обладают уникальными возможностями и поражают умы пользователей...'
        },
        {
            image: 'image2',
            date: '16/02/2018',
            type: 'Новость',
            title: 'Самые ожидаемые новинки смартов 2018 года Самые ожидаемые новинки смартфонов 2018 года',
            text: 'Чем же своих поклонников они удивят в следующем 2018 году? Наверное, именно это самая ожидаемая новинка 2018 года. Вокруг этого смартфона уже давно кипят страсти...'
        }
    ]

    formRequest = {
        button: 'Заказать',
        title: 'Заказать звонок',
        description: 'ставьте заявку, и мы вам обязательно перезвоним',
        input:[
            {
                placeholder: 'Введите Ваше имя',
                class: 'user'
            },
            {
                placeholder: 'Введите Ваш телефон',
                class: 'phone'
            }
        ]
    }


    formCallbackRequest = {
        button: 'Заказать',
        title: 'Заказать звонок',
        description: 'Оставьте заявку, и мы вам обязательно перезвоним',
        input:[
            {
                placeholder: 'Введите Ваше имя',
                class: 'user'
            },
            {
                placeholder: 'Введите Ваш телефон',
                class: 'phone'
            }
        ]
    }

    formAuthorizationRequest = {
        button: 'Войти',
        title: 'Авторизация',
        input:[
            {
                hasError: true,
                placeholder: 'Введите Ваш телефон',
                class: 'phone'
            },
            {
                placeholder: 'Введите пароль',
                class: 'lock'
            }
        ]
    }

    formRegistrationRequest = {
        button: 'Зарегистрироваться',
        title: 'Регистрация',
        input:[
            {
                placeholder: 'Введите Ваше имя',
                class: 'user'
            },
            {
                placeholder: 'Введите Ваш телефон',
                class: 'phone'
            },
            {
                placeholder: 'ВВведите email',
                class: 'mail'
            },
            {
                placeholder: 'Введите пароль',
                class: 'lock'
            }
        ]
    }

    formRecoveryRequest = {
        button: 'Отправить',
        title: 'Восстановление пароля',
        input:[
            {
                placeholder: 'Введите Ваш телефон',
                class: 'phone'
            }
        ]
    }

    formLetterRequest = {
        button: 'Заказать',
        title: 'Написать письмо',
        description: 'Оставьте заявку, и мы вам обязательно перезвоним',
        input:[
            {
                placeholder: 'Введите Ваше имя',
                class: 'user'
            },
            {
                placeholder: 'Введите Ваш телефон',
                class: 'phone'
            }
        ]
    }

    formAgreementSocialItems = [
        {
            class: 'google'
        },
        {
            class: 'facebook'
        }
    ]


