.footer {
    &__section {
        transition: all 0.2s ease-out;

        &.fill {
            background: $brandPrimary;
            padding: 60px 0;
            padding: 30px 0;
        }

        &.sign {
            padding: 0 0 80px;
            border-top: 1px solid $borderLight;
        }

        &-wrapper {
            @include clearfix;
        }
    }

    &__inner {
        @include clearfix;

        padding: 60px 0 0;
        transition: all 0.2s ease-out;
    }

    &__subscribe {
        width: 100%;
        transition: all 0.2s ease-out;
    }

    &__apps {
        width: 100%;
        transition: all 0.2s ease-out;
    }

    &__social {}

    &__info {
        width: 100%;
        transition: all 0.2s ease-out;
        margin-bottom: 40px;
    }

    &__content {
        width: 100%;
        transition: all 0.2s ease-out;

        &-wrapper {
            @include clearfix;
        }
    }

    &__item {
        width: 100%;
        transition: all 0.2s ease-out;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        &-content {
            @include clearfix;
        }

        &--contacts {}
        &--services {
            display: none;
        }
        &--about {}
        &--languages {}
    }

    &__text {
        font-size: $fontSizeH6;
        line-height: (25px / $fontSizeH6);
        color: $gray;
        margin-bottom: 24px;
        max-width: 260px;
    }

    &__field {
        font-size: $fontSizeH6;
        line-height: (25px / $fontSizeH6);
        color: $gray;
        text-decoration: none;
        margin-bottom: 20px;
        transition: all 0.2s ease-out;

        &:nth-child(odd) {
            width: 50%;
            float: left;
        }

        &:nth-child(even) {
            width: 50%;
            float: right;
        }

        &-name {
            color: $gray;
        }

        &-value {
            color: $fontSizeH8;
            position: relative;
            display: inline-block;

            &.dropping {
                padding-right: 16px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%) rotate(0);
                    width: 5px;
                    height: 3px;
                    background: url('../images/header/list-arrow.png') no-repeat;
                    transition: transform 0.2s ease-out;
                }
            }

            &:hover {
                .footer {
                    &__field {
                        &-drop {
                            display: block;
                        }
                    }
                }
            }
        }

        &-drop {
            position: absolute;
            right: -10px;
            bottom: 0;
            transform: translate(0, 100%);
            z-index: 1;
            display: none;

            &-inner {
                background: $base;
                padding: 4px 26px 4px 16px;
                border-radius: 2px;
                border: 1px solid $brandPrimary;

                a {
                    display: block;
                    text-decoration: none;
                    white-space: nowrap;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &--phone {

            &-inner {
                //background: $base;
                padding: 4px 16px 4px 26px;
                //border-radius: 2px;
                //border: 1px solid $brandPrimary;
                position: relative;

                &:before {
                    content: '';
                    background: url(../images/footer/phone.png) 0 0 no-repeat;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    left: 0;
                    //top: 50%;
                    //transform: translateY(-50%);
                    top: 12px;
                }

                a {
                    display: block;
                    text-decoration: none;
                    white-space: nowrap;
                    color: $gray;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }
    }

    &__menu {
        @include clearfix;

        &-item {
            display: block;
            margin-bottom: 8px;
            width: 50%;
            float: left;
            transition: all 0.2s ease-out;

            &:nth-child(2n+1) {
                clear: both;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            &.active,
            &:hover {
                color: $fontSizeH8;
                display: inline-block;
            }

            font-size: $fontSizeH6;
            height: (25px / $fontSizeH6);
            color: $gray;
            text-decoration: none;
        }
    }

    &__copyright {
        font-size: $fontSizeH6;
        line-height: (25px / $fontSizeH6);
        color: $grayLighter;
        display: block;
        text-align: center;
    }

    &__developer {
        font-size: $fontSizeH6;
        line-height: (25px / $fontSizeH6);
        color: $grayLighter;
        display: block;
        text-align: center;
    }

    @media (min-width: 600px) {

        &__section {
            &.fill {
                padding: 34px 0 26px 0;
                padding: 26px 0 26px 0;//SS
            }
        }

        &__inner {
            padding: 93px 0 65px;
        }

        &__subscribe {
            margin-bottom: 20px;
        }

        &__item {
            width: 50%;
            float: left;
            padding: 0 15px;
            margin-bottom: 0;

            &:nth-child(2n+1) {
                clear: both;
            }

            &--contacts {}
            &--services {
                display: none;
            }
            &--about {
                display: none;
            }
            &--languages {}
        }

        &__info {
            width: (345px / 720px) * 100%;
            float: left;
            padding-right: 15px;
            margin-bottom: 0;
            transition: all 0.2s ease-out;
        }


        &__content {
            width: (375px / 720px) * 100%;
            float: left;
            transition: all 0.2s ease-out;

            &-wrapper {
                margin: 0 -15px;
            }
        }

        &__field {

            &:nth-child(odd) {
                width: 100%;
                float: none;
            }

            &:nth-child(even) {
                width: 100%;
                float: none;
            }
        }

        &__menu {
            &-item {
                width: 100%;
                float: none;

                &:nth-child(2n+1) {
                    clear: none;
                }
            }
        }

        &__copyright {
            float: left;
        }

        &__developer {
            float: right;
        }
    }


    @media (min-width: 1024px) {
        &__subscribe {
            float: right;
            width: (734px / 1140px) * 100%;
            margin-bottom: 0;
        }

        &__apps {
            float: left;
            width: (397px / 1140px) * 100%;
            float: none;//SS
            margin: 0 auto;//SS
            width: auto;//SS
        }

        &__info {
            width: (390px / 1140px) * 100%;
        }

        &__content {
            width: (750px / 1140px) * 100%;
        }

        &__item {
            width: 25%;

            &:nth-child(2n+1) {
                clear: none;
            }

            &:nth-child(4n+1) {
                clear: both;
            }

            &--contacts {}
            &--services {
                display: block;
            }
            &--about {
                display: block;
            }
            &--languages {}
        }

        &__section {

            &.sign {
                padding: 35px 0;
            }
        }
    }
}
