#layout {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    min-height: 100%;
}

#footer {
    position: relative;
    overflow: hidden;
    min-width: 320px;
}

.bgBdNew {
    background-color: #0E9CB2 !important;
    border: 1px solid #0E9CB2 !important;
}

.bgNew {
    background-color: #0E9CB2 !important;
}

.order__wizard {
    margin-bottom: 40px;
}

.mfp-close-btn-in .mfp-close {
    display: none;
}
