include vars/_variable.pug

= '\n'
//= Userbar =
.userbar
    a.userbar__button(href='javascript:void(0);')
        i.userbar__buttonIcon
        span.userbar__buttonText.hide-mb-max Вход / Регистрация
//= End userbar =
= '\n'
