= '\n'
//= callAletter =
//-=(/layout/header/callAletter/_callAletter.scss)=

.callAletter
    .callback
        a.call(href='#form-popup-call') Заказать обратный звонок
    .letterNew
        a.letter(href='#form-popup-letter') Написать письмо

//= End callAletter =
= '\n'
