@import 'vars/_variable.scss';

.benefit {
    position: relative;
    margin: -30px -15px 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 30px 0 0;
        padding: 0 15px;
        width: 50%;

        &--payment {
            .benefit {
                &__image {
                    width: 62px;
                    height: 52px;
                }
            }
        }
    }

    &__image {
        width: 52px;
        height: 52px;
        display: flex;
        flex-shrink: 0;
    }

    &__title {
        font-size: $benefit__baseFontSize;
        font-weight: 700;
        position: relative;
        margin: 11px 0 0 0;

        span {
            display: block;
            text-transform: uppercase;
            color: $grayLighter;
            font-size: 11px;
        }
    }

    @media (min-width: 480px) {

        &__item {
            flex-direction: row;
            text-align: left;
            align-items: flex-start;
        }

        &__title {
            margin: 4px 0 0 10px;
        }
    }

    @media (min-width: $screenSmMin) {
        &__item {
            width: 25%;
        }
    }

    @media (min-width: $screenMdMin) {
        &__item {
            width: auto;
        }
    }
}
