include vars/_variable.pug

= '\n'
//= Benefit =
.benefit
    each val, index in benefit
        - modifier = (index == 1) ? 'benefit__item--payment' : ''
        .benefit__item(class= modifier)
            .benefit__image
                img(src='data/benefit/' + val.image + '.svg' alt= val.imageTitle)
            .benefit__title!= val.title

//= End benefit =
= '\n'
