= '\n'
// breadcrumbs
ul.breadcrumbs
    each item in breadcrumbs.item
        li.breadcrumbs__item
            a.breadcrumbs__link(href='#')= item
    li.breadcrumbs__item
        .breadcrumbs__current= breadcrumbs.current
// end breadcrumbs
= '\n'