= '\n'
// cabinet
.cabinet
    .cabinet__item
        .cabinet__user
            a.cabinet__user-link(href='#') Francis Gonzalez
            ul.cabinet__user-drop
                li
                    a(href='#') New Order
                li
                    a(href='#') My Orders
                li
                    a(href='#') My Discounts
                li
                    a(href='#') Settings
                li
                    a(href='#') My Balance
                li
                    a(href='#') Affiliate Program
        .cabinet__messages
            a.cabinet__messages-link(href='#')
                span.cabinet__messages-count 7
            .cabinet__messages-drop

    .cabinet__item
        a.cabinet__link(href='#') Log Out

    //.cabinet__item
        a.cabinet__link(href='#') Login
    //.cabinet__item.cabinet__button.button.button--tiny New Order
// end cabinet
= '\n'