= '\n'
// getaprice
.getaprice
    .getaprice__title Get a price
    .getaprice__content
        .getaprice__field.f_group
            .getaprice__label.f_label Academic level
            .getaprice__input.f_select
                select
                    option Hight school
        .getaprice__field.f_group.pages
            .getaprice__label.f_label Pages *825 words
            .getaprice__quantity.spin_edit_wrapper
                input(type='text' value='835')
        .getaprice__field.f_group
            .getaprice__label.f_label Urgency
            .getaprice__input.f_select
                select
                    option 14 days
        .getaprice__field.f_group
            .getaprice__label.f_label Total price
            .getaprice__total $ 4,100.00
    .getaprice__action
        .getaprice__button.button Proceed to Order
// end getaprice
= '\n'