= '\n'
//= landing-block =
//- (source/assets/style/modules/_landing-block.scss)
- modifierLanding = (landingHeader) ? 'landing__header' : ''
.landing__block(class= modifierLanding)
    if (landingHeader)
        .landing__title Custom Writing Service
        .landing__label.bg-pink THE BEST ESSAY WRITING SERVICE PROVIDER
        .landing__data
            .landing__message At GrabMyEssay.com, we love to write, and we are confident that we are the best to be found. Our clients agree because once they discover us, they never go anywhere else.
            .landing__action
                a.landing__button.button Proceed to Order
                a.landing__button.button.button--light Get in Touch
    else
        .landing__title Custom Writing Service
        .landing__label.bg-pink THE BEST ESSAY WRITING SERVICE PROVIDER
        .box__side
            .box__item.media1024
                include _getaprice.pug
//= End landing-block =
= '\n'
