= '\n'
// logo
.logo
    if main
        img(src="assets/img/logo.svg" alt="logo")
    else
        a.logo__link(href='index.html')
            img(src="assets/img/logo.svg" alt="logo")
// end logo
= '\n'
