-
    let navigation = [
        {name: 'Prices'},
        {name: 'Samples'},
        {name: 'Discounts'},
        {
            link: true,
            name: 'More',
            list: [
                {name: 'Extras'},
                {name: 'Testimonials'},
                {name: 'Blog'},
                {name: 'FAQ'},
                {name: 'Contact us'}
            ]
        }
    ]

mixin navigationlist(data)

    each item in data
        if (item.list && item.link)
            li.drop_list
                i.more
                a.more(href='#')= item.name
                ul
                    +navigationlist(item.list)
        else if (item.list && !item.link)
            li.drop_list
                span= item.name
                ul
                    +navigationlist(item.list)
        else
            li
                a.navigation__link(href='#')= item.name
= '\n'
// navigation
.navigation
    ul.navigation__list
        +navigationlist(navigation)

// end navigation
= '\n'
