= '\n'
// notice
.notice
    .notice__title What Clients Say About Us
    .notice__rating
        span Our Customers Rated Us
        span <b>Great
            include _rate.pug
            !='5.0</b>'
        span Out of 5 Based on <em>106 Reviews</em>
    .notice__content
        .notice__list
            .notice__item
                .notice__top
                    .notice__quote
                    .notice__ratio
                        include _ratio.pug
                .notice__text.
                    My GPA is 4.0 and I’ve always been doing everything myself, but there is a class which I was about to fail thus my GPA would decrease first time in so many years. I ordered few assignments to be completed with GrabMyEssay.com and you did a great job! Thanks to you I still remain one of the best students on campus.
                .notice__bottom <span>Rosalinda, Mexico</span>
                .notice__bottom Essay・Politics・8 pages・5 days・Junior

            .notice__item
                .notice__top
                    .notice__quote
                    .notice__ratio
                        include _ratio.pug
                .notice__text.
                    My GPA is 4.0 and I’ve always been doing everything myself, but there is a class which I was about to fail thus my GPA would decrease first time in so many years. I ordered few assignments to be completed with GrabMyEssay.com and you did a great job! Thanks to you I still remain one of the best students on campus.
                .notice__bottom <span>Rosalinda, Mexico</span>
                .notice__bottom Essay・Politics・8 pages・5 days・Junior
    .notice__arrows
        .notice__arrow.notice__arrow--prev
        .notice__arrow.notice__arrow--next
// end notice
= '\n'
