= '\n'
// paginator
.paginator
    .paginator__wrapper
        a.paginator__arrow.paginator__arrow--back(href='#')
        span.paginator__current
        a.paginator__link(href='#')
        a.paginator__link(href='#')
        a.paginator__link(href='#')
        a.paginator__link(href='#')
        a.paginator__arrow.paginator__arrow--next(href='#')
// end paginator
= '\n'