= '\n'
// pagination
.pagination
    a.pagination__arrow.pagination__arrow--back(href='#')
    .pagination__list
        .pagination__item
            span.pagination__current 1
        .pagination__item
            a.pagination__link(href='#') 2
        .pagination__item
            a.pagination__link(href='#') 3
        .pagination__item
            a.pagination__link(href='#') 4
    a.pagination__arrow.pagination__arrow--next(href='#')
// end pagination
= '\n'