= '\n'
// place
.place
    .place__header
        .place__title How to place an order
        a.place__button.button(href='#') Proceed to Order
    .place__content
        .place__item(data-count='1.') Choose the number of pages, your academic level and deadline
        .place__item(data-count='2.') Push the green button
        .place__item(data-count='3.') Give instructions for your paper
        .place__item(data-count='4.') Pay with your credit card
        .place__item(data-count='5.') Track the progress of your order
        .place__item(data-count='6.') Approve and enjoy your custom paper
    .place__action
        a.place__button.button(href='#') Proceed to Order
// end place
= '\n'