= '\n'
// prices
.prices
    h5.prices__title Prices that do not hit in your pocket
    .prices__data
        .prices__text
            p.
                Prices that are easy on your
                wallet  Our experts are ready to do
                an excellent job starting
                at <span>$14.99</span> per page
        .prices__field
            .prices__button.button.button--dark Continue
// end prices
= '\n'
