= '\n'
// promo
.promo
    .promo__wrapper
        .promo__info
            p Try our service with <b>15% Discount</b> for your first order!
        a.promo__button(href='#') Order Now
        a.promo__close(href='javascript: void(0)')
// end promo
= '\n'
