= '\n'
// relations
.relations
    .relations__item.relations__item--chat
        a.relations__link.fz14(href='#') Live Chat
    .relations__item.relations__item--phone
        a.relations__link(href='tel:18665157710') 1-866-515-7710
// end relations
= '\n'
