= '\n'
// satisfied
.satisfied
    .satisfied__title Satisfied Customers
    .satisfied__content
        .satisfied__item
            .satisfied__icon
                img.satisfied__image(src='assets/img/award.svg' alt='')
            .satisfied__name 9.6 out of 10
            .satisfied__text Average quality score
        .satisfied__item
            .satisfied__icon
                img.satisfied__image(src='assets/img/send.svg' alt='')
            .satisfied__name 56 789
            .satisfied__text Orders delivered on time
        .satisfied__item
            .satisfied__icon
                img.satisfied__image(src='assets/img/bell.svg' alt='')
            .satisfied__name 132
            .satisfied__text Writers active
    .satisfied__action
        .satisfied__button.button.button--dark Proceed to Order
// end satisfied
= '\n'