= '\n'
// subscribe
.subscribe
    .subscribe__title Subscribe<br> to our blog
    .subscribe__wrapper.f_group
        .subscribe__field.f_input
            input.subscribe__input(type='text' placeholder='Enter your E-mail')
        .subscribe__action
            a.subscribe__button.button.button--dark(href='#') Subscribe
// end subscribe
= '\n'