.icon-address {
  width: 34px;
  height: 51px;
  fill: #FF4A4A;
  stroke: initial;
}
.icon-facebook {
  width: 21px;
  height: 42px;
  fill: #FF4A4A;
  stroke: initial;
}
.icon-main {
  width: 37px;
  height: 25px;
  fill: #FF4A4A;
  stroke: initial;
}
.icon-phone {
  width: 18px;
  height: 18px;
  fill: #FF6868;
  stroke: initial;
}
.icon-phonec {
  width: 34px;
  height: 34px;
  fill: #FF4A4A;
  stroke: initial;
}
.icon-services-hand {
  width: 43px;
  height: 59px;
  fill: #FF4A4A;
  stroke: initial;
}
.icon-services-monitor {
  width: 51px;
  height: 51px;
  fill: #FF4A4A;
  stroke: initial;
}
.icon-services-star {
  width: 46px;
  height: 62px;
  fill: #FF4A4A;
  stroke: initial;
}
.icon-services-town {
  width: 52px;
  height: 52px;
  fill: #FF4A4A;
  stroke: initial;
}
