
= '\n'
//= cart =
//-=(layout/header/cart/_cart.scss)=
a.cart__header(href='#form-popup-cart')
    .cart__text
        .cart__inner
            |<i>В корзине</i><var>1</var><i>товар</i><br/>
        b на сумму<span>5460</span>грн.
        //p Корзина пуста
    .cart__image
        img(src="../assets/images/header/cart-is-empty.png" alt='')
//= End cart =
= '\n'
