include vars/_variable.pug

= '\n'
//= Orders =

.orders
    table.orders__table
        each item in accountOrdersTableItems
            if item.thead
                thead
                    tr.orders__table-head
                        each elem in item.thead
                            th= elem.name
            else
                tbody(class= item.class)
                    tr.orders__table-row
                        each elem in item.tbody
                            if elem.status 
                                td.orders__status(class='orders__status--' + elem.class)
                                    span= elem.name
                            else if elem.innerClass
                                td(class= elem.class)
                                    if elem.inner
                                        a(href='javascript:void(0);')= elem.name
                            else
                                td= elem.name

//= End orders =
= '\n'