= '\n'
//= Promotion =

.promotion
    .promotion__info
        .promotion__info-title Акции и скидки до -15%!
        .promotion__info-text
            |Время действия акции: 
            span 27.02.2019 — 27.03.2018
    .promotion__counter(data-start='2019-06-06' data-end='2019-07-07')
        .promotion__counter-title До окончания акции осталось:
        include module/countdown/_countdown.pug

//= End promotion =
= '\n'