.promotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e2e2e2;
    margin: 0 15px 30px;
    padding: 15px;

    &__info {
        text-align: center;
        width: 100%;

        &-title {
            font-size: $fontSizeLarge;
            font-weight: bold;
            color: #e30613;
            line-height: 1;
            margin: 0 0 7px 0;
        }

        &-text {
            font-size: $fontSizeBase;
            color: $grayBase;
        }
    }

    &__counter {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        margin: 17px 0 0;

        &-title {
            font-size: 13px;
            text-align: center;
            line-height: 1;
            margin: 0 0 17px 0;
        }
    }

    @import 'module/countdown/_countdown.scss';

    @media (min-width: $screenXsMin) {
        flex-direction: row;
        justify-content: space-between;

        &__info {
            width: 50%;
        }

        &__counter {
            width: 50%;
            margin: 0;
        }
    }

    @media (min-width: $screenSmMin) {

        &__info {
            text-align: left;
        }

        &__counter {
            flex-direction: row;
            max-width: 410px;

            &-title {
                margin: 0;
                text-align: left;
            }
        }
    }

    @media (min-width: $screenMdMin) {
        &__counter {
            flex-direction: column;

            &-title {
                margin: 0 0 17px 0;
                text-align: center;
            }
        }
    }

    @media (min-width: $screenLgMin) {
        margin: 0 15px 30px 30px;

        &__info {
            width: auto;
            padding: 0 40px 0 0;
            border-right: 1px solid #e2e2e2;
            max-width: 368px;
    
            &-title {
                font-size: 22px;
            }
        }

        &__counter {
            flex-direction: row;
            max-width: 100%;
            padding: 0 0 0 40px;

            &-title {
                width: auto;
                margin: 0;
                text-align: left;
                max-width: 230px;
            }
        }
    }

    @media (min-width: $screenXlMin) {
        &__counter {
            &-title {
                font-size: $fontSizeH6;
            }
        }
    }
}