include vars/_variable.pug

= '\n'
//= Contacts =
.contacts
    .contacts__item.contacts__item--address м. Рівне, вул. Короленка, 1

    .contacts__item.contacts__item--email
        a.contacts__link(href='mailto:marketing@zlata-plaza.com.ua') marketing@zlata-plaza.com.ua

    a.contacts__item.contacts__item--phone(href="tel:+380503393158") (050)-339-31-58
//= End contacts =
= '\n'
