//- CART
//------------------------------------------------

$cart__baseFontSize:                    $fontSizeBase !default;

$cart__editBorderColor:                 $brandPrimary !default;
$cart__editBackgroundColor:             $base !default;

$cart__clearTextFontSize:               $fontSizeH6 !default;
$cart__clearTextColor:                  #51d256 !default;

$cart__borderColor:                     $borderColor !default;
$cart__backgroundColor:                 $base !default;

$cart__shareTextColor:                  #dc0000 !default;
$cart__shareBorderColor:                #ff9b9b !default;

$cart__shareTitleTextFontSize:          $fontSizeLarge !default;
$cart__shareTitleBackgroundColor:       $base !default;

$cart__amountTextFontSize:              $fontSizeH6 !default;
$cart__amountInputTextFontSize:         $fontSizeLarge !default;
$cart__amountTextColor:                 $grayExtraLight !default;

$cart__priceTextFontSize:               $fontSizeH5 !default;

$cart__priceOldTextFontSize:            $fontSizeH6 !default;
$cart__priceOldTextColor:               $grayLighter !default;

$cart__priceBottomTextFontSize:         $fontSizeH4 !default;

$cart__priceDeliveryTextFontSize:       $fontSizeLarge !default;

$cart__priceTotalTextFontSize:          $fontSizeLarge !default;
$cart__priceTotalSumTextFontSize:       $fontSizeH3 !default;
$cart__priceTotalBackgroundColor:       #dfdfdf !default;

$cart__removeTextColor:                 $grayExtraLight !default;

$cart__titleBottomTextFontSize:         $fontSizeH6 !default;

$cart__codeTextColor:                   $grayExtraLight !default;

$cart__buttonTextFontSize:              $fontSizeH4 !default;
