//- CART
//------------------------------------------------

-
    cartSelectGuarantee = [
        {
            title: '3 месяца'
        },
        {
            title: '6 месяцев'
        },
        {
            title: '12 месяцев'
        }
    ]

    cartSelectProgramm = [
        {
            title: 'Базовые программы'
        },
        {
            title: 'Стандарт. пакет настроек'
        },
        {
            title: 'Макс. пакет настроек'
        },
        {
            title: 'Детский пакет'
        },
        {
            title: 'Пакет для родителей'
        }
    ]

    cartSelectCase = [
        {
            title: 'Чехол №1',
            image: 'image'
        },
        {
            title: 'Чехол Huawei',
            image: 'image2'
        }
    ]
