//- SELECT 2
//------------------------------------------------

$select2__baseFontSize:         $fontSizeBase !default;

$select2__borderColor:          $borderColor !default;
$select2__borderColor--active:  $brandPrimary !default;
$select2__backgroundColor:      $base !default;
