= '\n'
//= Footer =
//- (source/scss/layout/_footer.scss)
footer#footer.footer
    .footer__wrapper
        //include ../module/_logo32x32.pug

        .footer__cover
            span © 2021 ТМ “Гощанські ковбаси”

        //include ../module/_up.pug
//= End footer =
