@import 'vars/_variable.scss';

.search {
    position: relative;
    padding: 5px 0 0;

    &--drop {
        position: absolute;
        z-index: 102;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: visibility 0s step-end .2s, opacity .2s linear;
        visibility: hidden;
        opacity: 0;
        padding: 11px 15px 11px 60px;
        background: $search__backgroundColor;
    }

    &--active {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s step-end, opacity .2s linear;
    }

    &__button-drop {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 15px;
        display: block;
        width: 32px;
        height: 20px;
        margin: -10px 0 0;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 14px;
            height: 14px;
            margin: -7px 0 0 -7px;
            content: '';
            background: url('../images/header/icon/search.png') 0 -15px no-repeat;
        }
    }

    &__button-close {
        position: absolute;
        top: 50%;
        left: 15px;
        z-index: 103;
        display: none;
        width: 32px;
        height: 20px;
        margin: -10px 0 0;
        padding: 9px 0 8px;

        &:before,
        &:after {
            position: absolute;
            right: 0;
            left: 0;
            display: block;
            height: 2px;
            content: '';
            transition: all .2s linear;
        }

        &:before {
            top: 0;
            background: #e6007e;
        }

        &:after {
            bottom: 0;
            background: #b24493;
        }

        &--active {
            &:before {
                top: 9px;
                transform: rotate(135deg);
            }

            &:after {
                bottom: 9px;
                transform: rotate(-135deg);
            }

            .search {
                &__button-close {
                    &-line {
                        left: -21px;
                        opacity: 0;
                    }
                }
            }
        }

        &-line {
            position: relative;
            left: 0;
            display: block;
            height: 2px;
            transition: all .2s linear;
            background: #d2072a;
        }
    }

    &__inner {
        position: relative;
        overflow: hidden;
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30px;
    }

    .form {
        height: 28px;

        &__button {
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 14px;
                height: 14px;
                margin: -7px 0 0 -7px;
                display: block;
                content: '';
                background: url('../images/header/icon/search.png') 0 -15px no-repeat;
            }
        }
    }

    &__drop {
        font-size: $search__dropTextFontSize;
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        display: none;
        padding: 9px 19px;
        border: 1px solid $search__dropBorderColor;
        //border-radius: 14px;
        background: transparentize($search__dropBackgroundColor, .1);

        &-box {
            position: relative;
            margin: 18px 0 0;

            .search {
                &__link {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @media (max-width: $screenSmMax) {
        &__drop {
            margin-top: 11px;
        }
    }

    &__title {
        font-size: $search__titleTextFontSize;
        position: relative;
        color: $search__titleTextColor;
    }

    &__list {
        position: relative;
    }

    &__item {
        position: relative;
    }

    &__link {
        text-decoration: none;
        color: $search__dropTextColor;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (min-width: $screenMdMin) {

        .greeting & {
            .form {
                &__button {
                    &:before {
                        background-position: 0 0;
                    }
                }
            }
        }

    }
}
