include vars/_variable.pug

if (searchDrop)
    - var searchClass = 'search--drop'
else
    - var searchClass = ''

//= Search =
.search(class= searchClass)
    .search__inner
        form.form(action='' method='post')
            .form__field
                input.form__text(type='text' autocomplete='off')

            .form__field.search__button
                button.form__button
//= End search =
= '\n'
