= '\n'
//= Footer =
footer#footer.footer
    .container
        .footer__wrapper
            .footer__socnet
                include footer/_logo.pug
                include footer/_social.pug
            .footer__menu
                include footer/_menu.pug
        .footer__bottom
            p © 2018 «Mirad».Всі права захищені.
            include footer/_32x32.pug
//= End footer =

