= '\n'
//= Header =
header.header#header
    include header/_mobile-menu.pug
    .container
        .header__content
            include header/_logo.pug
            include header/_search.pug
            .header__wrapper
                include header/_callback.pug
                include header/_like.pug
                include header/_basket.pug
//= End header =
= '\n'
