//= Nav =
nav#nav.navigation
    .container
        .navigation__content
            include header/_catalog.pug
            include header/_top-menu.pug
            include header/_personal-office.pug
//= End nav =
= '\n'

