-
    mobileMenuDrop = [
        {
            image: 'xiomi',
            title: 'Продукция XIAOMI',
            dropbox: [
                {
                    submenu: 'Популярные'
                },
                {
                    submenu: 'Смартфоны'
                },
                {
                    submenu: 'Мини-АТС'
                },
                {
                    submenu: 'Мобильные телефоны'
                },
                {
                    submenu: 'Стационарная телефония'
                },
                {
                    submenu: 'Рации',
                    sublist: [
                        'Сумки для ноутбуков', 'Мыши', 'Клавиатуры', 'Графические планшеты', 'Веб-камеры', 'Компьютерные гарнитуры', 'Подставки для ноутбуков', 'Коврики для мышки', 'Док-станции для ноутбуков', 'Аккумуляторы для ноутбуков', 'Блоки питания для ноутбуков', 'Наклейки для ноутбуков' ,'Наклейки на клавиатуру', 'Сетевые фильтры', 'Аксессуары к графическим планшетам', 'Замки', 'Внешние оптические приводы', 'Картридеры', 'USB-Хабы', 'Сетевое оборудование', 'Микрофоны компьютерные', 'Автоадаптеры'
                    ]
                },
                {
                    submenu: 'Стартовые пакеты'
                },
                {
                    submenu: 'Ваучеры'
                }
            ]
        },
        {
            image: 'mobilePhone',
            title: 'Мобильные телефоны',
            dropbox: [
                {
                    submenu: 'Популярные'
                },
                {
                    submenu: 'Смартфоны'
                },
                {
                    submenu: 'Мини-АТС'
                },
                {
                    submenu: 'Мобильные телефоны',
                    sublist: [
                        'Сумки для ноутбуков', 'Мыши', 'Клавиатуры', 'Графические планшеты', 'Веб-камеры', 'Компьютерные гарнитуры', 'Подставки для ноутбуков', 'Коврики для мышки', 'Док-станции для ноутбуков', 'Аккумуляторы для ноутбуков', 'Блоки питания для ноутбуков', 'Наклейки для ноутбуков' ,'Наклейки на клавиатуру', 'Сетевые фильтры', 'Аксессуары к графическим планшетам', 'Замки', 'Внешние оптические приводы', 'Картридеры', 'USB-Хабы', 'Сетевое оборудование', 'Микрофоны компьютерные', 'Автоадаптеры'
                    ]
                },
                {
                    submenu: 'Стационарная телефония'
                },
                {
                    submenu: 'Рации'
                },
                {
                    submenu: 'Стартовые пакеты'
                },
                {
                    submenu: 'Ваучеры'
                }
            ]
        },
        {
            image: 'protectedSmartphones',
            title: 'Защищенные смартфоны',
            dropbox: [
                {
                    submenu: 'Популярные'
                },
                {
                    submenu: 'Смартфоны',
                    sublist: [
                        'Сумки для ноутбуков', 'Мыши', 'Клавиатуры', 'Графические планшеты', 'Веб-камеры', 'Компьютерные гарнитуры', 'Подставки для ноутбуков', 'Коврики для мышки', 'Док-станции для ноутбуков', 'Аккумуляторы для ноутбуков', 'Блоки питания для ноутбуков', 'Наклейки для ноутбуков' ,'Наклейки на клавиатуру', 'Сетевые фильтры', 'Аксессуары к графическим планшетам', 'Замки', 'Внешние оптические приводы', 'Картридеры', 'USB-Хабы', 'Сетевое оборудование', 'Микрофоны компьютерные', 'Автоадаптеры'
                    ]
                },
                {
                    submenu: 'Мини-АТС'
                },
                {
                    submenu: 'Мобильные телефоны'
                },
                {
                    submenu: 'Стационарная телефония'
                },
                {
                    submenu: 'Рации'
                },
                {
                    submenu: 'Стартовые пакеты'
                },
                {
                    submenu: 'Ваучеры'
                }
            ]
        },
        {
            image: 'tablets',
            title: 'Планшеты'
        },
        {
            image: 'accessories',
            title: 'Аксессуары',
            dropbox: [
                {
                    submenu: 'Популярные'
                },
                {
                    submenu: 'Смартфоны'
                },
                {
                    submenu: 'Мини-АТС'
                },
                {
                    submenu: 'Мобильные телефоны'
                },
                {
                    submenu: 'Стационарная телефония'
                },
                {
                    submenu: 'Рации'
                },
                {
                    submenu: 'Стартовые пакеты'
                },
                {
                    submenu: 'Ваучеры'
                }
            ]
        },
        {
            image: 'discountedGoods',
            title: 'Уцененный товар'
        },
        {
            image: 'appleStore',
            title: 'Apple Store'
        },
        {
            title: 'Игровые приставки'
        },
        {
            title: 'Спорт, отдых, туризм'
        },
        {
            title: 'Пневматическое оружие'
        }
    ]
