$phone__baseFontSize:       $fontSizeBase !default;

$phone__buttonTextFontSize: $fontSizeH6 !default;

$phone__callbackTextColor:  $brandPrimary !default;
$phoneDrop__backgroundColor:        $base !default;
$phoneDrop__shadowColor:            transparentize($grayBase, .8) !default;

$phoneDrop__numberTextFontSize:     $fontSizeH6 !default;

$phoneDrop__operatorTextColor:      $grayLighter !default;
