mixin primaryMenu(data, setting)
    = '\n'
    //= Primary menu =
    .primary-menu
        ul.primary-menu__list
            each val in data
                if (val.class != undefined)
                    - var className = 'primary-menu__link--' + val.class

                if (val.active == true)
                    li.primary-menu__item
                        a.primary-menu__link.primary-menu__link--active(href='#' class=className)= val.name
                        if (setting !== undefined)
                            .primary-menu__drop
                                include _submenu.pug
                else
                    li.primary-menu__item
                        a.primary-menu__link(href='#' class=className)= val.name
                        if (setting !== undefined)
                            .primary-menu__drop
                                include _submenu.pug

    //= End primary menu =
    = '\n'
