.contact {
	padding: 40px 20px 25px;
	max-width: 1280px;
	margin: auto;

	&__info {
		width: 100%;
	}

	&__title {
		line-height: 1;
		color: #000615;
		font-family: $headingFont;
		margin-bottom: 21px;
		font-weight: 500;
		font-size: 35px;

	}

	&__label {
		background: #FDFBE0;
		text-transform: uppercase;
		color: #000615;
		display: inline-block;
		padding: 5px 15px;
		margin-bottom: 25px;
		font-weight: 600;
		font-size: 13px;
		line-height: 20px;
	}

	&__text {
		border-left: 1px solid #000;
		padding-left: 20px;

		p {
			font-size: 16px;
			line-height: 28px;
			color: #393939;

			span, a {
				color: #40AC60;
				text-decoration: none;
			}
		}
	}

	&__list {
		width: 100%;
		padding-left: 21px;
		margin-top: 50px;
	}

	&__item {
		display: flex;
		margin-bottom: 28px;

		&:nth-child(2) {
			.contact__image {
				margin-top: 5px;
			}
		}

		&:nth-child(3) {
			.contact__image {
				margin-top: 8px;
			}
		}
	}

	&__picture {
		margin-right: 15px;
	}

	&__image {
	}

	&__data {
	}

	&__name {
		font-size: 17px;
		line-height: 24px;
		color: #000615;
		font-weight: bold;
	}

	&__value {
		font-size: 13px;
		line-height: 20px;
		color: #696969;
	}

	@media (min-width: 550px) {

		&__info {
			border-left: 1px solid #000;
			padding-left: 50px;
			width: 100%;
		}


		&__text {
			border-left: none;
			padding-left: 0;
		}
	}

	@media (min-width: 768px) {
		padding: 66px 40px 52px;
		display: flex;
		justify-content: space-between;
		flex-flow: column wrap;

		&__info {
			padding-right: 20px;
			padding-left: 30px;
		}

		&__title {
			font-size: 50px;
		}

		&__list {
			padding-left: 30px;
			margin-top: 61px;
		}

		&__item {
			margin-bottom: 42px;
		}
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		padding: 60px 15px 80px;
		flex-flow: row nowrap;

		&__info {
			width: calc(100% - 391px);
		}

		&__title {
			font-size: 56px;
		}

		&__list {
			width: 250px;
			margin-top: 60px;
			padding-left: 0;
		}

		&__item {
			margin-bottom: 23px;
		}
	}
}

