/* Faqs */
.faqs {
	padding: 37px 15px 58px;

	&__title {
		font-size: 35px;
		line-height: 40px;
		color: #000615;
		font-family: $headingFont;
		margin-bottom: 12px;
		font-weight: normal;
	}

	&__label {
		text-transform: uppercase;
		font-size: 13px;
		line-height: 1;
		padding: 6px 8px;
		display: inline-block;
		background: #FDFBE0;
		margin-bottom: 65px;
		font-weight: bold;
	}

	&__name {
		font-size: 28px;
		line-height: 38px;
		color: #000615;
		font-family: $headingFont;
		font-weight: normal;
		margin-bottom: 20px;
	}

	&__content {
		width: 100%;
		max-width: 890px;
		//margin: auto;
		border: 1px solid #000615;
		border-left: none;
		border-right: none;
		margin-bottom: 50px;
	}

	&__item {
		border-top: 1px solid #000615;

		&:first-child {
			border-top: none;
		}

		&--active {
			.faqs {
				&__value {
				}

				&__appellation {
					&-icon {
						border-color: #40AC60;

						&:before {
							background: #40AC60;
						}

						&:after {
							display: none;
						}
					}
				}
			}
		}
	}

	&__appellation {
		padding: 22px 0 23px;
		cursor: pointer;
		position: relative;

		&-title {
			font-size: 19px;
			line-height: 23px;
			padding-right: 60px;
			font-weight: 500;
			color: #000615;
		}

		&-icon {
			width: 23px;
			height: 23px;
			border-radius: 50%;
			border: 1px solid #000615;
			position: absolute;
			top: 22px;
			right: 1px;

			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 11px;
				height: 1px;
				background: #000615;
			}

			&:before {
				top: 10px;
				left: 5px;
			}

			&:after {
				left: 5px;
				top: 10px;
				transform: rotate(90deg);
			}
		}
	}

	&__value {
		border-left: 1px solid #40AC60;
		padding-left: 9px;
		display: none;

		p {
			font-size: 16px;
			line-height: 28px;
			color: #2C2C2C;
			margin: 0 0 23px;
		}
	}

	@media (min-width: 768px) {

		&__title {
			font-size: 50px;
			margin-bottom: 30px;
		}

		&__name {
			font-size: 38px;
			line-height: 46px;
			margin-bottom: 33px;
		}

		&__content {
			margin-bottom: 60px;
		}

		&__appellation {

			&-title {
				font-size: 20px;
				line-height: 24px;
				padding: 0 60px 0 15px;
			}

			&-icon {
				top: 22px;
				right: 23px;
			}
		}

		&__value {
			margin-left: 37px;
			padding-left: 20px;
		}
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		padding: 60px 0 15px 15px;

		&__title {
			font-size: 56px;
			margin-bottom: 32px;
		}

		&__name {
			margin-bottom: 20px;
		}

		&__content {
			margin-bottom: 64px;
		}

		&__appellation {

			&-title {
				padding: 0 60px 0 20px;
			}

			&-icon {
				top: 22px;
				right: 20px;
			}
		}

		&__value {
			margin-left: 50px;
			padding-left: 20px;
		}
	}


	@media (min-width: 768px) {
		@media (max-width: 1224px) {
			padding: 71px 40px 30px;
		}
	}
}
