/* Getaprice */
.getaprice {
	padding: 25px 15px;
	background: #FDFAF6;
	border-radius: 4px;
	margin: 0 -15px;

	&__title {
		font-size: 32px;
		line-height: 35px;
		color: #000615;
		font-weight: bold;
		margin-bottom: 20px;
		text-align: left;
	}

	&__content {

	}

	&__field {
		width: 100%;
		margin-bottom: 18px;

		&:last-child {
		}
	}

	&__label {
		color: #999999;
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 6px;
	}

	&__input {
	}

	&__quantity {
	}

	&__total {
		font-size: 30px;
		line-height: 36px;
		color: #40AC60;
		font-weight: bold;
	}

	&__action {
		text-align: left;
	}

	&__button {
		max-width: 260px;
		width: 100%;
		height: 50px;
	}

	@media (min-width: 550px) {
		@media (max-width: 1023px) {
			padding: 25px 30px;

			&__title {
				text-align: center;
			}

			&__content {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			&__field {
				width: 48%;
			}

			&__action {
				text-align: center;
			}
		}
	}

	//1024px
	@media (min-width: $screen_L_Min) {
		padding: 25px 30px;
		margin: 0;
	}
}
