/* Navigation */
.navigation {
	@media (min-width: 768px) {
		> ul {
			list-style: none;
			margin: 0;
			padding: 0;

			display: flex;
		}
		li {
			position: relative;

			&:hover ul {
				display: block;

			}

			&.drop_list:hover {
				span:after, i {
					transform: rotate(0);
				}
			}

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $grayBase;
				text-decoration: none;
			}

			@media (min-width: 1225px) {
				padding: 31px 0;
				margin-right: 41px;

				&.drop_list {
					display: flex;
					align-items: center;

					i {
						order: 1;
						flex-shrink: 0;
					}

					span:after, i {
						content: '';
						display: inline-block;
						width: 8px;
						height: 5px;
						background: url("../img/toparrow.svg") 50% 50% no-repeat;
						transform: rotate(180deg);
						margin-left: 6px;
						transition: transform 0.3s ease-out;
					}
				}

				ul {
					list-style: none;
					position: absolute;
					bottom: -1px;
					left: 0;
					transform: translateY(100%);
					background: $base;
					display: none;
					border-left: 1px solid $grayBase;
					padding: 15px 6px;

					li {
						padding: 10px;
						margin-right: 0;
						border-radius: 4px;

						&:hover {
							background: #EBF6F2;
						}
					}
				}
			}
		}

		@media (max-width: 1224px) {
			width: 100%;
			li {
				padding: 10px 0;
				flex-grow: 1;
				text-align: center;

				&.drop_list {
					padding: 0;
					flex-grow: 4;

					> a, > span, > i {
						display: none;
					}

					ul {
						display: flex;
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		width: 100%;
		text-align: center;

		li {
			border-top: 1px solid #E7E7D8;
			width: 100%;
			padding: 9px 0;
			transition: all 2s ease;

			&.drop_list {
				padding: 0;
				margin-top: -1px;
				border-top: none;

				&:hover {
					background: none;

					a {
						color: $grayDark;
					}
				}

				li {

					&:hover {
						background: #40AC60;

						a {
							color: $base;
						}
					}
				}
			}

			&:hover {
				background: $secongaryColor;

				a {
					color: $base;
				}
			}
		}

		a {
			font-size: $fontMediumSize;
			line-height: 19px;
			color: $grayDark;
			text-decoration: none;
		}

		.more {
			display: none;
		}
	}
	//1024px
	@media (min-width: $screen_L_Min) {
		li {
			margin-right: 39px;
		}
	}

	@media (min-width: 768px) {
		@media (max-width: 1224px) {
			li a {
				font-weight: 500;
				font-size: 14px;
			}
		}
	}
}
