/* Notfound */
.notfound {
	text-align: center;
	padding: 60px 0 130px 0;
	background: #FDFAF6;

	&__picture {
	}

	&__image {
	}

	&__title {
		font-size: 40px;
		line-height: 59px;
		color: #000615;
		font-family: $headingFont;
		margin-bottom: 15px;
	}

	&__subtitle {
		font-size: 20px;
		line-height: 24px;
		color: #000615;
		margin-bottom: 15px;
		font-weight: bold;
	}

	&__text {
		font-size: 15px;
		line-height: 22px;
		color: #2C2C2C;
		margin-bottom: 35px;

		span, a {
			color: #40AC60;
			text-decoration: none;
		}
	}

	&__action {
	}

	&__button {
		max-width: 260px;
		width: 100%;
	}

	//768px
	@media (min-width: $screen_M_Min) {

		&__title {
			font-size: 38px;
		}
	}

	//1024px
	@media (min-width: $screen_L_Min) {

		&__title {
			font-size: 44px;
		}
	}
}
