.up {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 25px;
    z-index: 99;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    width: 45px;
    height: 45px;
    transition: bottom .3s;
    background: $backgroundColor_blue;
    border-radius: 50%;
    border: 1px solid $secongaryColor;

    &.absolute {
        position: absolute;
        top: -23px;
    }

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(180deg) scale(0.7);
    }
}
