= '\n'
//= primaryMenu =
//-=(/layout/header/primaryMenu/_primaryMenu.scss)=

.primaryMenu
    ul.primaryMenu__inner
        li
            a(href='projects.html') Projects
        li
            a(href='contact.html') contacts

//= End primaryMenu =
= '\n'
