//- sorting
//------------------------------------------------

-
    view = [
        {
            name: 'Список',
            attr: 'list'
        },
        {
            name: 'Плитка',
            attr: 'tile'
        },
        {
            name: 'Фото',
            attr: ''
        }        
    ]
