include vars/_variable.pug
-
    micromarking                    = true

    itemscope                       = (micromarking) ? true : false
    itemprop                        = (micromarking) ? 'article' : false
    itemtype                        = (micromarking) ? 'http://schema.org/Article' : false
    itempropInnerImage              = 'image'
= '\n'
//= Text =

.text(itemscope itemprop="article" itemtype="http://schema.org/Article")

    div.invisible(itemprop="publisher" itemscope itemtype="http://schema.org/Organization")
        p(itemprop="name") Чем будет удивлять своих поклонников Meizu в 2019 году
        div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
            link(itemprop="url" href="https://patifon.ua/images/header/logo.png")
        meta(itemprop="url" content="https://patifon.ua/images/header/logo.png")
    meta(itemprop="headline" content="Чем будет удивлять своих поклонников Meizu в 2019 году")
    p(itemprop="author") Автор статті
    meta(itemprop="mainEntityOfPage" content="https://patifon.ua")
    span.invisible(itemprop="datePublished" content="2018-06-18")
    span.invisible(itemprop="dateModified" content="2018-06-18")

    h1(itemprop='name') Чем будет удивлять своих поклонников Meizu в 2019 году
    h2(itemprop='headline') Чем будет удивлять своих поклонников Meizu в 2019 году
    img(itemprop= itempropInnerImage src='data/product/image3.jpg' alt='')

    blockquote На все смартфоны, купленные в нашем интернет-магазине «Patifon.com.ua», действует гарантия.
    p В соответствии с Законом Украины «О защите прав потребителей», обмен и возврат товаров надлежащего качества осуществляется за счет покупателя в течении 14 дней со дня покупки при условии что:
    ul
        li товар полностью укомплектован и не нарушена целостность упаковки;
        li нет царапин, потертостей, сколов и следов использования;
        li програмное обеспечение не подвергалось изменениям и есть в наличии документы подтверждающие факт покупки;
        li обмен и возврат производиться после диагностики, проверки и заключения сервисного центра и подтверждения подлинности товара, заявленого в товарном чеке.
    p
        strong ВНИМАНИЕ!
        |  СИМ карты, карты памяти, информацию с устройства перед отправкою в сервисный центр сохраняйте и оставляйте у себя - сервисный центр не несет ответственость за потери сим карт, карт памяти, информации с вашого устройства
        br
        strong ВАЖНО!
        |  При получении, всегда проверяйте товар на отделении Новой почты на отсутствие механических повреждений. Подписав декларацию Новой почты, вы автоматически соглашаетесь с тем, что товар получили без каких либо механических повреждений, сколов, царапин, дефектов.
    p(style='font-size:20px;')
        strong Сервисный центр может отказать в возврате или обмене смартфона в 14 дней и гарантийном ремонте если:
    ol
        li нарушена сохранность заводских пломб;
        li есть механические или иные повреждения, которые возникли в следствие умышленных или неосторожных действий покупателя или третьих лиц;
        li было произведено несанкционированное изменение программного обеспечения.
    h2 Гарантия и сервис
    h3 Гарантия и сервис
    h4 Гарантия и сервис
    h5 Гарантия и сервис
    table
        thead
            tr
                th Товар
                th Цена

        tbody
            tr
                td Xiaomi Redmi 4x 2/16Gb (Gold)
                td 2 300 грн

            tr
                td Samsung Galaxy J5 (2017) J530 (Black)
                td 200 грн

            tr
                td Nomi i5030 EVO X (White)
                td 500 грн

            tr
                td Xiaomi Redmi Note 4x 3/32Gb (Black)
                td 5 000 грн

            tr
                td Xiaomi Redmi Note 4x 3/16Gb (Rose Gold)
                td 1 500 грн

            tr
                td Защитное стекло Apple iPhone 7
                td 1 800 грн

            tr
                td Фитнес-трекеры Xiaomi Mi Band 2 (Black)
                td 550 грн

            tr
                td Автомобильное зарядное устройство LDNIO DL-C29 (3,4A)
                td 1 000 грн

            tr
                td Карта памяти Transcend 32 Gb Class 10
                td 200 грн

    a(href='#') Привет мир!!!

//= End text =
= '\n'
-
    micromarking                    = false
