
@font-face {
    font-family: 'visuelt-black-pro';
    src: url('../fonts/Visualt Pro Black/visuelt-black-pro.eot');
    src: url('../fonts/Visualt Pro Black/visuelt-black-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Visualt Pro Black/visuelt-black-pro.woff2') format('woff2'),
         url('../fonts/Visualt Pro Black/visuelt-black-pro.woff') format('woff'),
         url('../fonts/Visualt Pro Black/visuelt-black-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}