.like {
    display: flex;
    width: 60px;
    height: 80px;
    position: relative;
    border-left: 1px solid $footerBackground;
    &:before {
       content:'';
       width: 32px;
       height: 28px;
       position: absolute;
       background: url(../images/header/like.svg)no-repeat;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
    }
    span {
        position: absolute;
        background: $brandInfo;
        font-size: $fontSizeExtraSmall;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        top: 20px;
        right: 5px;
        color: #fff;

        &:empty {
            display: none;
        }
    }
    @media (min-width: 375px) {
        width: 80px;
        span {
            right: 15px;
        }
    }
}
