.search {
    //max-width: 720px;
    max-width: 180px;
    position: relative;
    display: none;
    input {
        width: 100%;
        border-radius: 25px;
        border: 1px solid $footerBackground;
        padding: 8px 20px;
        outline: none;
    }
    a {
        @include radius;
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        &:hover {
            background: $brandSuccess;
        }
        &:before {
           content:'';
           width: 16px;
           height: 16px;
           position: absolute;
           background: url(../images/header/search.png)no-repeat;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
        }
    }
    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 840px) {
        max-width: 720px;
    }
    @media (min-width: 1320px) {
        width: 100%;
    }
}
