.top-menu {
    display: none;
    max-width: 610px;
    width: 100%;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    position: relative;
    // left: 260px;
    left: 237px;
    z-index: 1;
    &--mobile {
        display: block;
        left: 0;
        line-height: 2;
    }
    li {
        &.active {
            a {
                color: $brandSuccess;
            }
        }
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $brandPrimary;
            &:hover {
                color: $brandSuccess;
            }
        }
    }
    @media (min-width: 1024px) {
        display: flex;
    }
    @media (min-width: 1200px) {
        left: 260px;
    }
}
