.footer {
    position: relative;
    background: $grayBase;
    overflow: hidden;
    transition: padding .4s;
    padding: 0 0 45px;

    &__wrapper {
        width: 100%;
        max-width: 1495px;
        margin: 0 auto;
    }

    &__box {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        min-height: 120px;
        padding: 0 15px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 15px 17px 15px;
        position: relative;
        flex-wrap: wrap;
        border-left: 1px solid #323236;

        &:before {
           content:'';
           width: 200%;
           height: 1px;
           position: absolute;
           background:#323236;
           top: 0;
           left: 0;
        }

        p {
            color: $gray;
            font-size: 12px;
            font-weight: 500;
            //margin: 0 17px 0 0;
            margin: 0;
            line-height: 63px;
            white-space: nowrap;
        }
    }

    @media (min-width: $screenXsMin) {
        
        &__box {
            justify-content: space-between;
        }

        &__bottom {
            p {
                font-size: $fontSizeBase;
            }
        }
    }

    @media (min-width: $screenSmMin) {
        padding: 0 0 60px;

        &__bottom {
            padding: 0 15px;
            flex-direction: row;
        }
    }

    @media (min-width: $screenMdMin) {
        padding: 0 0 70px 70px;

        &__wrapper {
            padding: 0 15px 0 0;
        }

        &__box {
            padding: 0 0 0 40px;
            border-left: 1px solid #323236;
        }

        &__bottom {
            padding: 0 0 0 40px;
        }
    }
}
