.layout {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;

    main {
        position: relative;
        flex-grow: 1;
        padding-left: 0;
        transition: padding-left .4s;
        width: 100%;
    }

    &__box {
        position: relative;
        display: flex;
        flex-direction: column;

        h1 {
            position: relative;
            font-family: $fontFamilyOswald;
            font-weight: 600;
            font-size: 22px;
            line-height: 1.5;
            text-align: left;
            text-transform: uppercase;
            color: #1A1A1D;
            margin: 0 0 22px;
        }

        &-catalog {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: 100%;
            flex-grow: 1;
            margin: 0 -8px;

            .product {
                width: 48%;
            }

            //стили для отображения списка
            &--list {
                .product {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    flex-direction: row;
                    max-width: none;
                    min-height: unset;
                    margin-bottom: 15px;
                    padding: 11px 11px;

                    &:hover {
                        &:after {
                            height: 0;
                        }
                    }

                    &__test {
                        visibility: visible;
                        position: static;
                    }

                    &__image {
                        flex-shrink: 0;
                        border-radius: 6px 6px;
                        overflow: hidden;
                    }

                    &__wrapper {
                        width: 100%;
                        padding: 0;
                    }

                    &__title {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: space-between;
                        flex-wrap: nowrap;
                        flex-grow: 0;
                        margin: 0 0 15px;
                    }

                    &__name {
                        margin-bottom: 0;
                        flex-grow: 0;
                        min-height: auto;
                        height: auto;
                        padding: 0 11px 0 0;
                        margin: 0;
                    }

                    &__body {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                    }

                    &__price {
                        flex-grow: 0;
                        align-items: flex-end;
                        justify-content: center;
                        flex-shrink: 0;
                    }

                    &__spec {
                        width: 100%;
                        border: 1px solid $grayLighter;
                        border-radius: 6px;
                        overflow: hidden;
                        height: 100%;
                        max-height: 251px;

                        &-block {
                            display: flex;
                            align-items: center;
                            background: #ECECEC;
                            padding: 12px 20px;
                            line-height: 18px;
                            border-right: none;
                            height: 42px;
                            border-bottom: 1px solid #DADADA;

                            &:nth-child(even) {
                                width: 100%;
                                background: $white;

                            }

                            &:nth-child(odd) {
                                width: 100%;
                            }

                            span {
                                display: flex;
                                flex-basis: 50%;
                                padding: 0 0 0 11px;
                                justify-content: flex-end;
                                font-weight: 400;
                            }

                            &:nth-child(n+3) {
                                display: flex;
                            }

                            &:nth-child(n+5) {
                                border-bottom: none;
                            }
                        }

                        &-title {
                            font-size: $fontSizeSmall;
                            font-weight: bold;
                            flex-shrink: 0;
                            flex-basis: 50%;
                            line-height: 1;
                        }
                    }

                    &__action {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        position: relative;
                        flex-direction: column;
                        margin: 5px 0 0 0;
                    }

                    &__buy {
                        position: relative;
                        margin: 0 0 10px 0;

                        &.button {
                            max-width: 180px;
                            flex-shrink: 0;
                            position: relative;
                            right: auto;
                            bottom: auto;
                            font-size: $fontSizeBase;
                            border-radius: 20px;
                        }

                        > span {
                            padding: 0 0 0 34px;

                            &:before {
                                left: 0;
                                transform: translate(0, -50%);
                            }
                        }
                    }

                    &__test {

                        &.drive {
                            position: relative;
                            max-width: 180px;
                            width: 100%;
                            border: 1px solid $brandPrimary;
                            border-radius: 20px;
                            text-decoration: none;
                            line-height: $formControlHeight;
                            font-family: $fontFamilyOswald;
                            font-size: $fontSizeBase;
                            text-align: center;
                            color: $brandPrimary;
                            flex-shrink: 0;
                        }

                        > span {
                            padding: 0 0 0 24px;
                            position: relative;
                            width: auto;
                            height: auto;
                            line-height: 1;

                            &:before {
                                width: 18px;
                                height: 18px;
                                left: 0;
                                transform: translate(0, -50%);
                                background-color: transparent;
                            }

                            &:after {
                                display: none;
                            }
                        }
                    }

                    &--test-drive {
                        .product {
                            &__buy {
                                &.button {
                                    right: auto;
                                }
                            }
                        }

                        &:hover {
                            &:after {
                                height: 0;
                            }

                            .product {
                                &__test {
                                    visibility: visible;

                                    &:after {
                                        border-bottom-width: 0;
                                        border-left-width: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--similar {
                &.swiper {
                    &--proposition {
                        .product {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        &-filters {
            display: flex;
        }

        &-forms {
            display: flex;
            flex-direction: column;
            height: 100%;
            max-width: 265px;
            width: 100%;
            position: fixed;
            top: 0;
            right: -265px;
            transition: all .2s ease-out;
            background: #fff;
            padding: 45px 10px 10px;
            overflow: auto;
            z-index: 101;

            &-close {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
                width: 19px;
                height: 19px;
                text-decoration: none;
                background: url(../images/main/mobile_close.svg) no-repeat;

                &:hover {
                    cursor: pointer;
                }
            }

            &.move {
                right: 0;
                z-index: 101;
            }
        }

        &-sort {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 0 45px;
        }

        &-page404 {
            text-align: center;
            margin: 100px 0;

            img {
                max-width: 740px;
                width: 100%;
                margin: 0 auto 60px;
            }

            h1 {
                font-family: $fontFamilyOswald;
                font-size: $fontSizeH2;
                color: $grayBase;
                text-align: center;
                text-transform: uppercase;
                margin: 0;
            }

            span, p {
                font-family: $fontFamilyBase;
                color: $grayBase;
                font-weight: 500;
                font-size: $fontSizeBase;
            }
        }

        &--credit {
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;

            h1 {
                font-family: $fontFamilyOswald;
                font-size: $fontSizeH2;
                color: $grayBase;
                text-align: center;
                text-transform: uppercase;
                margin: 0;
            }

            span,
            p {
                font-family: $fontFamilyBase;
                color: $grayBase;
                font-weight: 500;
                font-size: $fontSizeBase;
                display: block;
                text-align: center;
            }

            span {
                margin: 17px 0 0;
            }
        }

        &-bank {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 90px 0 0 0;
            flex-wrap: wrap;
        }

        &-order {

            max-width: 940px;
            width: 100%;

            >div {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: center;
            }

            form {
                flex-direction: column;
                background: transparent;
            }

            a {
                max-width: 483px;
                width: 100%;
                border-radius: 6px 0 0 6px;
                overflow: hidden;
            }

            .table {
                width: 100%;

                &__list {
                    max-width: none;
                    border-radius: 0 6px 6px 0;
                    overflow: hidden;
                }
            }
        }

        &-parts {
            max-width: 1060px;
            width: 100%;
            background: $white;
            padding: 10px;
            border-radius: 6px;

            h3 {
                font-size: $fontSizeH3;
                font-family: $fontFamilyOswald;
                line-height: 1;
                margin: 14px 0 30px;
                padding: 0 0 9px;
                border-bottom: 1px solid #DADADA;
            }

            .form-group {
                label {
                    display: flex;
                    align-items: center;
                    color: $grayBase;
                    font-weight: 500;
                    font-family: $fontFamilyBase;
                    font-size: $fontSizeBase;
                    input {
                        order: -1;
                        margin: 0 13px 0 0;
                        border: 1px solid $grayLighter;
                        background: $white;
                        width: 26px;
                        height: 26px;
                        -webkit-appearance: none;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        border-radius: 50%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:checked {
                            &:before {
                                content: "";
                                position: absolute;
                                width: 12px;
                                height: 12px;
                                background: $brandPrimary;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                &.border {
                    padding: 15px;
                    margin: 0 0 15px 0;
                }

                p,
                span,
                a{
                    color: $grayLight;
                    font-size: $fontSizeBase;
                }
            }

            .address {
                padding: 15px 0;
            }
            .coordinates {
                padding: 20px 0;
            }
        }

        &-blog {
            display: flex;
            flex-wrap: wrap;
            margin-left: -16px;
            margin-right: -16px;
            justify-content: center;
        }

        &--search {
            .search {
                border: 1px solid $grayLighter;
                border-radius: 50px;
                width: 100%;
                height: 100%;
                background: $white;
                margin: 0 0 20px 0;
                &__link {
                    left: auto;
                    right: 31px;
                    filter: invert(1);
                    z-index: 1;
                }

                &__input {

                    color: $grayBase;
                    background: $white;
                    width: 100%;

                    &::placeholder {
                        color: $grayBase;
                        transition: all .2s;
                    }

                    &:-webkit-autofill {

                        &:hover,
                        &:focus,
                        &:active {
                            -webkit-box-shadow: 0 0 0 30px $white inset !important;
                        }
                    }

                    &:-webkit-autofill {
                        -webkit-text-fill-color: $grayBase !important;
                    }
                }

                form {
                    opacity: 1;
                    width: 100%;
                }
            }
        }

        &--conditions {

            h1 {
                margin: 15px 0 22px;
            }

            section {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 1190px;
                margin: 0 -17px;
            }

            table {
                //width: 50%;
                padding: 0 17px;

                tr {
                    td {
                        min-height: 30px;
                        padding: 0 0 15px;

                        img {
                            margin: 0 10px 0 0;
                        }
                    }

                    &:first-child {
                        td {
                            font-weight: 600;
                            font-size: $fontSizeH3;
                            font-family: $fontFamilyOswald;
                            min-height: 0;
                            padding: 0 0 6px;
                        }
                    }

                    &:nth-child(2) {
                        min-height: 0;
                        vertical-align: top;
                        padding: 0 0 15px;
                    }
                }
            }
        }

        &-inner {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .section {

                max-width: 490px;
                width: 100%;
                margin: 0 0 0 10px;
            }
        }
    }

    section {
        padding: 15px 0;

        h2 {
            font-family: $fontFamilyOswald;
            font-weight: 600;
            font-size: 22px;
            line-height: 1;
            text-align: center;
            text-transform: uppercase;
            color: $grayBase;
            margin: 0 0 22px;
        }

        &.title-left {
            h2 {
                text-align: left;
            }
        }

        &.title-line {
            h1 {
                text-align: left;
                padding: 0 0 20px;
                margin: 0 0 20px;

                &:before {
                    content: '';
                    width: 100px;
                    height: 1px;
                    position: absolute;
                    background: $brandPrimary;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }

    .line {
        position: relative;

        &:before {
            content: '';
            width: 100px;
            height: 1px;
            position: absolute;
            background: $brandPrimary;
            bottom: 0;
            left: 0;
        }
    }

    .video {
        background: $white;
        position: absolute;
        z-index: 3;
        &:before {
            content:'';
            width: 46px;
            height: 36px;
            position: absolute;
            background: url(../images/icons/video.svg)no-repeat;
            background-position-x: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            &:before {
                background-position-x: -46px;
            }
        }
    }

    &--parts {
        .layout {
            &__header {
                border: none;
            }
        }
    }

    .layout__box {
        &--conditions {
            section {
                padding: 0 0 15px;
            }
        }
    }

    //-.sales(data-content="Продано!")
    .sales {
        &::before {
            content: attr(data-content);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 0 0 6px 0;
            background-color: $brandPrimary;
            padding: 4px 9px 6px;

            font-family: $fontFamilyOswald;
            font-weight: bold;
            font-size: $fontSizeBase;//14
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            color: $white;
        }
    }

    @media (min-width: $screenXXsMin) {//480
        &__box {
            &-catalog {
                margin: 0 -4px;

                .product {

                    width: calc(50% - 4px);

                    &__action {
                        padding: 10px 0 0 10px;
                    }
                }

                &--list {
                    .product {
                        width: 100%;

                        &__spec {
                            &-block {
                                span {
                                    justify-content: flex-start;
                                    padding: 0 10px 0 0;
                                }
                            }
                        }

                        &__title {
                            flex-wrap: nowrap;
                        }
                    }
                }
            }

            &-parts {
                padding: 20px;
            }
        }
    }

    @media (min-width: $screenXsMin) {//600
        .title,
        .title-center {
            font-size: $fontSizeH1;
        }
        &__box {
            &-catalog {
                &--list {
                    .product {
                        &__action {
                            justify-content: center;
                            flex-direction: row;
                        }

                        &__buy {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screenSmMin) { //768

        &__box {
            &-catalog {
                .product {
                    width: calc(33.33334% - 4px);
                }

                &--list {

                    .product {
                        width: 100%;
                        flex-wrap: nowrap;
                        justify-content: flex-start;

                        &__body {
                            flex-direction: row;
                        }

                        &__image {
                            margin: 0 10px 0 0;
                        }
                        
                        &__spec {
                            height: 127px;
                            max-height: 100%;
                        }
                        
                        &__action {
                            justify-content: flex-start;
                            padding: 0 0 0 17px;
                            position: relative;
                            flex-direction: column;
                            width: 135px;
                            flex-shrink: 0;
                        }

                        &__buy {
                            margin: 0 0 9px 0;
                            padding: 0 33px;

                            &.button {
                                height: 38px;
                                line-height: 1;
                                font-size: 13px;
                            }
                        }

                        &__test {
                            height: 38px;

                            &.drive {
                                font-size: 13px;
                                padding: 0 8px;
                            }
                        }

                        &__price {
                            width: 125px;
                        }
                    }
                }
            }

            &--conditions {

                h1 {
                    margin: 30px 0 22px;
                }

                section {
                    flex-direction: row;
                }

                table {
                    width: 50%;
                }
            }
        }

        section {
            padding: 30px 0;
        }

        .layout__box {
            &--conditions {
                section {
                    padding: 0 0 30px;
                }
            }
        }
    }

    @media (min-width: $screenSMd) {//960
        &__box {
            &-order {
                >div {
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                }
            }
        }
    }

    @media (min-width: $screenMdMin) {//1080

        main {
            padding: 0 0 70px 70px;
        }

        &__box {

            h1 {
                font-size: $fontSizeH1;
            }

            &-catalog {
                justify-content: flex-start;

                .product {
                    width: calc(50% - 4px);
                }

                &--list {
                    .product {
                        width: 100%;
                    }
                }

                &--similar {
                   .product {
                       width: calc(100% / 4 - 4px);
                   }
                }
            }

            &-sort {
                margin: 0 0 10px;
            }

            &-forms {
                position: relative;
                left: 0;
                overflow: visible;
                flex-shrink: 0;
                background: transparent;
                padding: 0;
                margin-right: 28px;
                z-index: 0;

                &-close {
                    display: none;
                }
            }
        }

        section {

            h2 {
                font-size: $fontSizeH1;
            }
        }
    }

    @media (min-width: $screenLgMax) {//1320
        &__box {

            &-catalog {
                .product {
                    width: calc(33.33334% - 4px);
                }

                &--list {
                    .product {
                        padding: 11px 11px 8px;
                        width: 100%;

                        &__body {
                            flex-direction: row;
                        }

                        &__spec {
                            max-width: 635px;
                            margin-right: 10px;

                            &-inner {
                                flex-direction: row;
                                flex-wrap: wrap;
                            }

                            &-title {
                                font-size: 10px;
                                flex-basis: 55%;
                            }

                            &-block {
                                padding: 6px 10px;

                                span {
                                    justify-content: flex-start;
                                }

                                &:nth-child(even) {
                                    width: 50%;
                                    flex-grow: 1;
                                    background: #ECECEC;

                                    .product {
                                        &__spec {
                                            &-title {
                                                flex-basis: 70%;
                                            }
                                        }
                                    }

                                    span {
                                        flex-basis: 30%;
                                    }
                                }

                                &:nth-child(odd) {
                                    width: 50%;
                                    border-right: 1px solid $grayLighter;
                                }

                                &:nth-child(4n + 3),
                                &:nth-child(4n + 4) {
                                    background: $white;
                                }
                            }
                        }

                        &__action {
                            &:before {
                                content: '';
                                width: 1px;
                                height: 300%;
                                position: absolute;
                                background: #DADADA;
                                left: 0;
                                top: -100%;
                            }
                        }

                        &__price {
                            width: 100%;
                            justify-content: center;
                            max-width: 125px;
                            align-items: center;
                        }

                        &__buy {
                            &.button {
                                max-width: 130px;

                                &:before {
                                    left: 10px;
                                }
                            }
                        }

                        &__test {
                            &.drive {
                                max-width: 150px;

                                &:before {
                                    left: 20px;
                                }
                            }
                        }
                    }
                }

               &--similar {
                   .product {
                       width: calc(100% / 5 - 4px);
                   }
               }
            }

            &-inner {
                flex-direction: row;
                align-items: flex-start;

            }
        }
    }

    @media (min-width: 1470px) {
        &__box {
            &-catalog {
                &--list {
                    .product {
                        &__action {
                            width: 100%;
                            max-width: 203px;
                        }

                        &__price {
                            max-width: 203px;
                        }

                        &__buy {
                            margin: 0 0 12px 0;

                            &.button {
                                max-width: 180px;
                                height: 40px;
                                line-height: 1;
                                font-size: 15px;
                            }
                        }

                        &__test {
                            height: 40px;

                            &.drive {
                                max-width: 180px;
                                font-size: 15px;
                                padding: 0 33px 2px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screenXLgMax) {//1560
        &__box {
            &-catalog {

                .product {
                    width: calc(25% - 4px);
                }

                &--similar {
                    .product {
                        width: calc(100% / 5 - 4px);
                    }
                }

                &--list {
                    .product {
                        width: 100%;

                        &__spec {
                            &-title {
                                font-size: 12px;
                            }
                        }

                        &__buy {
                            &.button {
                                max-width: 180px;

                                &:before {
                                    left: 40px;
                                }
                            }
                        }

                        &__test {
                            >span {
                                &:before {
                                    left: 0;
                                }
                            }

                            &.drive {
                                &:before {
                                    left: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer {
    position: relative;
    min-width: 320px;
    flex-shrink: 0;
}

@media (min-width: $screenMdMin) {
    .hide-md-min {
        display: none !important;
    }
}

@media (max-width: $screenMdMax) {
    .hide-md-max {
        display: none !important;
    }
}



