.carousel {

    .slick-list {
        overflow: visible;
    }



    &__list {
        margin: 0 -15px;
    }
    &__controls {
        position: absolute;
        z-index: 1;
        //top: 12px;
        top: 26px;
        right: 0;
    }
    &__btn {
        position: relative;
        float: left;
        width: 23px;
        height: 23px;
        margin: 0 0 0 14px;
        transition: all .2s ease-out;
        text-decoration: none;
        border: 1px solid $grayLight;
        background: $base;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';
            transition: all .2s ease-out;
            background: url('../images/content/icon/controls-btn.png') no-repeat;
        }

        &:after {
            opacity: 0;
        }

        &:hover {
            border-color: transparent;
            background-color: $brandPrimary;

            &:before {
                opacity: 0
            }

            &:after {
                opacity: 1;
            }
        }

        &--prev {
            &:before {
                background-position: 0 0;
            }

            &:after {
                background-position: 0 -21px;
            }
        }

        &--next {
            &:before {
                background-position: -21px 0;
            }

            &:after {
                background-position: -21px -21px;
            }
        }
    }

    @media (min-width: $screenMdMin) {

        &__controls {
            top: 32px;
        }

    }
}
