.cart-mobile {
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 50px;

    &__btn {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        transition: all .2s ease-out;
        text-align: center;
        text-decoration: none;
        border: 1px solid $cartmobileBtn;
        border-radius: 50%;
        background: $base;

        &:hover + .cart-mobile__drop {
            right: 0;
        }

        &:hover {
            background: $cartmobileBtn;

            &:after {
                opacity: 1;
            }
        }

        &:before,
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 25px;
            height: 28px;
            margin-top: -13px;
            margin-left: -12px;
            content: '';
            background: url('../images/content/icon/cart.png') 0 0 no-repeat;
        }

        &:after {
            transition: all .2s ease-out;
            opacity: 0;
            background-position: -25px 0;
        }
    }

    @media (min-width: $screenMdMin) {
        display: none;
    }
}
