.notfound {
    font-size: 0;
    position: relative;
    overflow: auto;
    height: 100vh;
    padding: 25px 15px;
    text-align: center;
    background: url('../images/content/back.png') bottom center repeat-x;

    &--plug {
        background: url('../images/content/back-plug.png') center repeat-x;
    }

    &:before {
        position: relative;
        display: inline-block;
        width: 0;
        height: 100%;
        content: '';
        vertical-align: middle;
    }

    &__inner {
        font-size: $fontSizeBase;
        position: relative;
        display: inline-block;
        max-width: 650px;
        vertical-align: middle;
    }

    &__picture {
        max-width: 441px;
        margin: 40px auto 35px;
    }

    &__image {
        width: 100%;
    }

    &__text {
        font-size: $fontSizeH2;
        font-weight: 700;
        margin-bottom: 12px;
        color: $gray;
    }

    &__link {
        margin-bottom: 0;
        padding: 0 80px;
    }

    @media (max-width: 599px) {
        &__logo {
            margin-top: 0;
        }
    }
    //600px
    @media (min-width: $screenXsMin) {
        &__text {
            font-size: $fontSizeH8;
        }
    }
}
