.price {
    &__title {
        font-size: $fontSizeH4;
    }
    &__old {
        font-size: $fontSizeBase;
        color: $priceOld;
        font-weight: 700;
        margin-right: 10px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 110%;
            height: 2px;
            background: $priceOld;
            top: 50%;
            left: -5%;
            margin-top: -1px;
        }
    }
    &__number {
        font-size: $fontSizeLarge;
        color: $brandPrimary;
        font-weight: 700;
    }
    &__postfix {
        font-size: $fontSizeBase;
        text-transform: lowercase;
    }
}
