.rating4 {
    text-align: center;
    position: relative;
}

.rating__list {
    padding: 0;
    list-style: none;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
}

.rating__list .rating__item {
    float: left;
    cursor: pointer;
    width: 32px;
    height: 30px;
    //border: 1px solid silver;
    margin-right: 20px;
    position: relative;
    background: url('../../data/star.png') 0 0 no-repeat;
    text-align: center;

    &:last-child {
        margin: 0;
    }
}

.rating__list .rating__full {
    background: url('../../data/starb.png') 0 0 no-repeat;
    width: 32px;
    height: 30px;
}

.rating__list .rating__item span {
    position: absolute;
    top: 40px;
    left: 17px;
    font-size: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-family: $fontFamilySansSerif;
    color: $gray;
    line-height: 1.625;
    text-align: center;
}

.console {
    margin-top: 100px;
    width: 100%;
    display: inline-block;
    background: #f8f8f8;
}
