.slick {
    &-slider {
        position: relative;
        user-select: none;
        outline: none;

        -ms-touch-action: pan-y;
            touch-action: pan-y;

        a {
            outline: none;
        }
    }

    &-list {
        position: relative;
        overflow: hidden;
        height: inherit;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }

    &-slider {
        .slick {
            &-track,
            &-list {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &-track {
        position: relative;
        top: 0;
        left: 0;
        height: inherit;
        outline: none;

        @include clearfix;
    }

    &-loading {
        .slick {
            &-track {
                visibility: hidden;
            }

            &-slide {
                visibility: hidden;
            }
        }
    }

    &-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
        outline: none;

        &.slick {
            &-loading {
                img {
                    display: none;
                }
            }
        }

        &.dragging {
            img {
                pointer-events: none;
            }
        }
    }

    &-initialized {
        .slick {
            &-slide {
                display: block;
            }
        }
    }

    &-vertical {
        .slick {
            &-slide {
                display: block;
                height: auto;
            }
        }
    }

    &-prev {
        left: 15px;

        &:before {
            background-position: 0 0;
        }
    }

    &-next {
        right: 15px;

        &:before {
            background-position: -25px 0;
        }
    }

    &-dots {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0 0 2px;
        text-align: center;

        li {
            position: relative;
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 6px;

            &.slick {
                &-active {
                    button {
                        background: red;
                    }
                }
            }
        }

        button {
            position: relative;
            overflow: hidden;
            width: 12px;
            height: 12px;
            cursor: pointer;
            transition: all .2s linear;
            text-indent: 12px;
            border: none;
            border-radius: 50%;
            outline: none;
            background: $base;

            &:hover {
                background: red;
            }
        }
    }
}
