.status {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    &__item {
        display: block;
        overflow: hidden;
        //width: 72px;
        //height: 46px;
        width: 88px;
        height: 52px;
        background: url('../images/content/status.png') 72px 0 no-repeat;
        margin-top: -8px;

        &:first-child {
            margin-top: 0;
        }

        &--share {
            background-position: 0 0;
        }

        &--hit {
            //background-position: 0 -46px;
            background-position: 0 -52px;
        }

        &--new {
            //background-position: 0 -92px;
            background-position: 0 -104px;
        }

        &--season {
            background-position: 0 -156px;
        }
    }

    &--product {
        top: 5px;
        left: 5px;
    }
}
