//- MENU
//------------------------------------------------

$menu__textFontSize:        $fontSizeSmall !default;
$menu__textColor:           $gray !default;
$menu__textColor--active:   $footer__linkColor--active !default;
