//- PRODUCT BAR
//------------------------------------------------

-
    productBarMenu = [
        {
            active: true,
            class: 'myFavorites'
        },
        {
            class: 'comparison'
        }
    ]

    productBarBenefit = [
        {
            class: 'guarantee',
            text: 'Гарантия: <strong>12 месяцев</strong>'
        },
        {
            class: 'paymentInInstallments',
        }
    ]
