//== BASE
// --------------------------------------------------

//== Colors

$base:                  #fff !default; //*SS
$grayBase:              #000 !default; //*SS
$grayDarker:            #111 !default;
$grayDark:              #333538 !default; //*SS
$gray:                  #555 !default;
$grayLight:             #777 !default;
$grayLighter:           #999 !default; //*SS

$brandPrimary:          #2965CC !default; //*SS
$brandSuccess:          #FF5A4F !default; //*SS
$brandInfo:             #000 !default; //Інформація:
$brandWarning:          #000 !default; //УВАГА:
$brandDanger:           #d33242 !default; //Небезпека:

//== Reset

$bodyBg:                $base !default;//source/assets/css/base/_reset.scss
$textColor:             $grayBase !default;//source/assets/css/base/_reset.scss
$linkColor:             $brandPrimary !default;

//== Typography

$fontFamilySansSerif:          'Arial', sans-serif !default;
$fontFamilyGilroy_Rg:          'gilroyregular' !default;        //*SS
$fontFamilyGilroy_SmBd:        'gilroysemibold' !default;       //*SS
$fontFamilyGilroy_Bd:          'gilroybold' !default;           //*SS

$fontFamilyBase:               $fontFamilyGilroy_Rg, $fontFamilySansSerif !default;//source/assets/css/base/_reset.scss

$fontSizeBase:          18px !default;//source/assets/css/base/_reset.scss
$fontSizeLarge:         36px !default;
$fontSizeSmall:         14px !default;

$fontSizeH1:            20px !default;

$lineHeightBase:        1.5 !default; // 27/18 //source/assets/css/base/_reset.scss



//== MODULE
// --------------------------------------------------

//== Components


//== Grid system

$gridMaxWidth:          1560px !default;
$gridColumns:           12 !default;
$gridGutterWidth:       30px !default;


//== Media queries breakpoints

$screenXsMin:           480px !default;
$screenSmMin:           768px !default;
$screenMdMin:           1024px !default;
$screenLgMin:           1200px !default;

$screenMbMax:           ($screenXsMin - 1) !default;
$screenXsMax:           ($screenSmMin - 1) !default;
$screenSmMax:           ($screenMdMin - 1) !default;
$screenMdMax:           ($screenLgMin - 1) !default;
