//- SECONDARY MENU
//------------------------------------------------

-
    secondaryMenu = [
        {
            image: 'warrantyAndService',
            title: 'Гарантия и сервис'
        },
        {
            image: 'shippingAndPayment',
            title: 'Доставка и оплата'
        },
        {
            image: 'articles',
            title: 'Статьи'
        },
        {
            image: 'contacts',
            title: 'Контакты',
            list: ['Гарантия и сервис', 'Доставка и оплата', 'Статьи', 'Контакты']
        }
    ]
