@font-face {
    font-family: 'Myriad Pro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/myriad_pro/regular/myriad_pro.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/myriad_pro/semibold/myriad_pro.woff') format('woff');
}
