head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Zlata plaza | #{pageTitle}

    link(rel='shortcut icon' href='favicon.png')

    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic')
    if (photoswipe)
        link(rel='stylesheet' href=bowerDir + 'photoswipe/dist/photoswipe.css')
        link(rel='stylesheet' href=bowerDir + 'photoswipe/dist/default-skin/default-skin.css')
    link(rel='stylesheet' href='assets/css/main' + minSuffix + '.css')

= '\n'
