include vars/_variable.pug

= '\n'
//= Catalog =
.catalog-list
    ul.catalog-list__list
        each val in catalogList
            li.catalog-list__item
                a.catalog-list__link(href='#')= val
//= End atalog =
= '\n'
