-
    var accountmenuList = [{
            title: 'Личная информация',
            modifier: 'user',
            active: true
        },
        {
            title: 'Мои заказы',
            modifier: 'orders'
        },
        {
            title: 'Редактировать личные данные',
            modifier: 'edit'
        },
        {
            title: 'Изменить пароль',
            modifier: 'password'
        },
        {
            title: 'Выход',
            modifier: 'logout'
        }
    ]
= '\n'
//= Account menu =
ul.account-menu
    each item in accountmenuList
        if (item.active)
            li.account-menu__item.account-menu__item--active()
                a.account-menu__link(class='account-menu__link--' + item.modifier href='#')= item.title
        else
            li.account-menu__item
                a.account-menu__link(class='account-menu__link--' + item.modifier href='#')= item.title
//= End account menu =
= '\n'
