-
    var accountPasswordList = [
        'Введите старый пароль',
        'Введите новый пароль',
        'Повторите новый пароль'
    ]
= '\n'
//= Account password =
form.account-password(method='post' action='#')
    each val in accountPasswordList
        .account-password__item
            .account-password__field.account-password__field--lock
                input.account-password__content(placeholder= val)

    .account-password__controls
        .account-password__controls-item
            input.account-password__button.account-password__button--submit(type='submit' value='Сохранить')
        .account-password__controls-item
            a.account-password__button.account-password__button--reset(href='#') Отмена
//= End Account password =
= '\n'
