-
    var accountEditList = [
        {
            class: 'user',
            data: 'Петров Денис Степанович'
        },
        {
            class: 'letter',
            data: 'info@freshmart.com.ua'
        },
        {
            class: 'phone',
            data: '(067) 737-99-79'
        },
        {
            class: 'home',
            data: 'г. Киев, ул. Электротехническая 18'
        },

    ]
= '\n'
//= Account edit =
.account-edit
    each val in accountEditList
        .account-edit__item
            .account-edit__field(class='account-edit__field--' + val.class)
                input.account-edit__content(type='text' value= val.data)

    .account-edit__controls
        .account-edit__controls-item
            input.account-edit__button.account-edit__button--submit(type='submit' value='Сохранить')
        .account-edit__controls-item
            a.account-edit__button.account-edit__button--reset(href='#') Отмена
//= End account edit =
= '\n'
