-
    var accountUserinfoList = [
        {
            class: 'user',
            data: 'Петров Денис Степанович'
        },
        {
            class: 'phone',
            data: '(067) 737-99-79'
        },
        {
            class: 'letter',
            data: 'info@freshmart.com.ua'
        },
        {
            class: 'discount',
            data: 'Ваша скидка - 2 %'
        },
        {
            class: 'home',
            data: 'г. Киев, ул. Электротехническая 18'
        },

    ]
= '\n'
//= Account Uesrinfo =
.account-uesrinfo
    each val in accountUserinfoList
        .account-uesrinfo__item
            .account-uesrinfo__field(class='account-uesrinfo__field--' + val.class)
                .account-uesrinfo__content!= val.data
//= End account uesrinfo =
= '\n'
