= '\n'
//= Article =
.article__item(itemscope itemprop="article" itemtype='http://schema.org/Article')
    h1.breadcrumbs__name(itemprop="name") Овощи – кладезь витаминов
    meta(itemprop="headline" content="Овощи – кладезь витаминов")
    .article__info
        meta(itemprop='datePublished dateModified' content='2017-01-21')
        meta(itemprop='author' content='Freshmart')
        span(itemprop='publisher' itemscope itemtype='http://schema.org/Organization')

            meta(itemprop='name' content='FreshMart')
            meta(itemprop='telephone' content='+38 (044) 331-51-63')
            meta(itemprop='telephone' content='+38 (067) 737-99-79')
            meta(itemprop='telephone' content='+38 (050) 174-83-37')
            meta(itemprop='address' content='г. Киев, ул. Электротехническая 18')
            meta(itemprop='email' content='info@freshmart.com.ua')

        .article__category(itemprop="datePublished" content="2019-01-21") 21.01 Рецепты
        .article__views 15
        .article__comments 2
        .article__tags
            a.article__tags-link(href='#') Итальянская кухня
        +headerSocnet('socnet--article')

    //.article__picture
        img.article__image(src='data/blog/1-big.png' alt='' itemprop='image')
    .article__content(itemprop='articleBody')
        img(src='data/blog/1-big.png' alt='' itemprop='image' width='600' height='400')
        p.
            Одним из самых незаменимых и здоровых продуктов питания человека являются <strong>овощи</strong>. Разнообразие их очень огромно. Каждый сорт содержит в себе благотворный комплекс питательных биологически активных веществ, без которых жизнедеятельность организма человека невозможна. А вот отличная усваиваемость и низкая калорийность компонентов очень кстати.

        h2 Сопоставимость с медикаментозными препаратами
        p.
            Современные ученые сходятся во мнении, что регулярное употребление свежих овощей, сопоставимы с медицинскими профилактическими препаратами. Это обусловлено тем, что в их составе много дубильных веществ, пектинов, кумаринов и флавоноидов, которые самостоятельно не вырабатываются в организме. Они богаты макро/микроэлементами, практически всем комплексом витаминов, антиоксидантами. <a href="#">Купить овощи</a> следует для профилактических мер, чтобы предупредить возникновение многих нежелательных заболеваний.

        h3 Овощи характеризуются научно доказанным воздействием на организм, а именно:
        ul
            li.
                Высокий уровень клетчатки защищает сосуды от образования склеротических бляшек
            li.
                Незаменимые белки и аминокислоты нормализуют работу иммунной системы
            li.
                Уникальная пищевая ценность способствует похудению и оздоровляет организм в целом
            li.
                Стимулирует выработку инсулина
            li.
                Природные антиоксиданты способствуют нейтрализации вредных веществ.
            li.
                Наличие микро и макроэлементов контролируют работу сердечно-сосудистой и нервной системы.
        p.
            Это очень короткий список полезных свойств, которыми они обладают. И чтобы не вдаваться в подробности о пользе каждого сорта, напомним, что вы можете купить овощи в онлайн режиме в нашем интернет магазине.

        h2 Основное блюдо, салат или перекус?
        p.
            У большинства из нас овощи ассоциируются с салатами, поэтому их зачастую употребляют перед основным блюдом. Но это не так важно. Главное, что стоит учитывать – полезные свойства зависят от приготовления, то есть в каком виде вы их употребляете. Такие продукты можно кушать как в основном блюде, в составе овощного салата или самостоятельно, как перекус между едой в течение дня.
        p.
            Не стоит готовить блюда на несколько дней. Многократное подогревание разрушает витамины, препятствуют благоприятному усвоению организмом нужных веществ. Овощи в жареном, соленом виде, заправленные жирными или острыми соусами и приправами малополезны. Следует минимизировать время термической обработки овощей и по возможности употреблять в сыром виде.

        h2 Сезонность употребления овощей
        p.
            В летне - осенний период желательно, чтобы овощи преобладали в ежедневном рационе любого человека. Следует включать в ежедневный рацион минимум 300-400 грамм сезонных разновидностей. Замечательно, если это будет ассорти, можно тушеное или вареное, с добавлением свежих ингредиентов. Разные виды действуют значительно благоприятней.
        p.
            Важно позаботиться об употреблении полезного продукта и по завершению сезона. Не забывайте, что при длительной высокотемпературной обработке теряются многие питательные и полезные компоненты. В удобной для вас форме вы можете купить самые свежие овощи в нашем сайте <a href="#">http://freshmart.com.ua</a>

    include _comments.pug
//= End article =
= '\n'
