= '\n'
//= bonus =
//- (source/assets/css/module/_bonus.scss)
.bonus
    .bonus__title
        .bonus__image
        h1 Накапливайте бонусы
            span и используйте их при оплате своих покупок!
    .bonus__statistic
        each item in bonusQuantity
            .bonus__quantity
                .bonus__quantity-wrapper
                    span= item.title
                    p= item.number
                        span бонусов

//= End bonus =
= '\n'
