mixin breadcrumbs(data, title)
    = '\n'
    //= Breadcrumbs =
    .breadcrumbs
        - var count = 1
        if (data != '')
            ol.breadcrumbs__list(itemprop='breadcrumb' itemscope itemtype='http://schema.org/BreadcrumbList')
                each val in data
                    li.breadcrumbs__item(itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem')
                        a.breadcrumbs__link(href='#' itemprop='item')
                            span(itemprop='name' content= val)= val
                        link(itemprop="item" href='https://example.com/dresses')
                        meta(itemprop='position' content=count)
                        - count++

        if (title != undefined)
            h1.breadcrumbs__title(itemprop='headline')= title
    //= End breadcrumbs =
    = '\n'
