-
    var contactsList = [
        {
            class: 'home',
            data: 'г. Киев, ул. Электротехническая 18'
        },
        {
            class: 'calendar',
            data: 'Понедельник-Суббота<br><strong>12:00 - 18:00</strong><strong>19:00 - 22:00</strong>'
        },
        {
            class: 'letter',
            data: 'info@freshmart.com.ua'
        },
        {
            class: 'callback',
            data: 'Понедельник-Суббота <br><strong>09:00 - 19:00</strong>'
        },
        {
            class: 'phone',
            data: '<span>(044) 331-51-63</span><span>(067) 737-99-79</span><span>(050) 174-83-37</span>'
        },
    ]
= '\n'
//= Contacts =
.contacts
    each val in contactsList
        .contacts__item
            .contacts__field(class='contacts__field--' + val.class)
                .contacts__content!= val.data

    .contacts__item
        -
            var socialList = [
                {
                    title: 'Мы в социальных сетях',
                    items: ['facebook', 'vkontakte', 'instagram']
                }
            ]
        include _social.pug
//= End contacts =
= '\n'
