= '\n'
//= date-picker =
//- (source/assets/css/module/_calendar.scss)
.date-picker
    p.my-orders__title Или выберите дату:

    .date-picker__wrapper

        .date-picker__calendar

        .date-picker__block
            .date-picker__select
                .form-group
                    select.form-control.select2
                        option(value='0' selected) День
                        option(value='1') 1
                        option(value='2') 2
                    select.form-control.select2
                        option(value='0' selected) Месяц
                        option(value='1') Январь
                        option(value='2') Февраль
                    select.form-control.select2
                        option(value='0' selected) Год
                        option(value='1') 2000
                        option(value='2') 2001
                    a.date-picker__remove(href="javascript:void(0)")
                    a.green-dashed.calendar-button(href="javascript:void(0)") Календарь

            a.green-dashed(href="javascript:void(0)") Добавить дату
//= End date-picker =
= '\n'

