-
    var delivery = [
        {
            title: 'Сегодня',
            box: [
                {
                    time: '12:00 - 18:00 - ',
                    class: 'danger',
                    status: 'Загружено',
                    description: 'На это время все загружено'
                },
                {
                    time: '19:00 - 22:00 - ',
                    class: 'success',
                    status: 'Доступно',
                    description: 'При заказе до 12:00'
                }
            ]
        },
        {
            title: 'Завтра',
            box: [
                {
                    time: '12:00 - 18:00 - ',
                    class: 'danger',
                    status: 'Загружено',
                    description: 'На это время все загружено'
                },
                {
                    time: '19:00 - 22:00 - ',
                    class: 'success',
                    status: 'Доступно',
                    description: 'При заказе до 12:00'
                }
            ]
        }
    ]

= '\n'
//= Delivery =
.delivery
    each outherVal in delivery
        .delivery__item
            .delivery__inner
                .delivery__title=outherVal.title
                each innerVal in outherVal.box
                    .delivery__box
                        .delivery__time=innerVal.time
                            span.delivery__color(class="delivery__color--" + innerVal.class)=innerVal.status
                        .delivery__description=innerVal.description
//= End delivery =
= '\n'
