= '\n'
//= Device bottom =
.device-bottom
    .device-bottom__menu
        .device-bottom__item
            a.device-bottom__link#filter_device_btn(href='javascript:void(0)') Фильтр

        .device-bottom__item
            .device-bottom__title Сортировка
            select.device-bottom__select
                option(value='0') По каталогу
                option(value='1') От дешевых к дорогим
                option(value='2') От дорогих к дешовым
//= End device bottom =
= '\n'
