mixin filter(data)
    = '\n'
    //= Filter =
    .filter
        each val in data
            if (val.active)
                a.filter__link.filter__link--active(href='#')= val.name
            else
                a.filter__link(href='#')= val.name
    //= End Filter =
    = '\n'
