mixin formfield(data)
    .form__field(class='form__field--' + data.class)
        if (data.type == 'input')
            if (data.error)
                input.form__input.error(type='text' placeholder= data.placeholder)
            else
                input.form__input(type='text' placeholder= data.placeholder)
        if (data.type == 'textarea')
            if (data.error)
                textarea.form__textarea.error(placeholder= data.placeholder)
            else
                textarea.form__textarea(placeholder= data.placeholder)
