= '\n'
//= Infobox =
.infobox(style='bottom: 10px')
    a.infobox__close(href='javascript:void(0)')
    a.infobox__picture(href='#')
        img.infobox__image(src='data/infobox/1.png' alt='')
//= End infobox =
= '\n'
