= '\n'
//= mailing =
//- (source/assets/css/module/_mailing.scss)
.mailing
    p.table-title Ваши рассылки:

    form
        .mailing__box
            label Получать SMS рассылку
                input.checkbox(type="checkbox")
            span Персональные предложения и скидки
        .mailing__box
            label Получать email рассылку
                input.checkbox(type="checkbox")
            span Самая актуальная информация, собранная для Вас

        button.catalog__button Сохранить
//= End mailing =
= '\n'
