= '\n'
//= my-orders =
//- (source/assets/css/module/_my-orders.scss)
form.my-orders(id='#my-orders' action='#' method='post')
    h1 Введите дни, в которые
    h2 Вы хотите получать список продуктов
    .form-group
        input.form-control(type='text', placeholder='Название списка...')
        label Например «Фрукты в офис»

    .my-orders__wrapper
        p.my-orders__title Получать каждый:
        .my-orders__schedule
            each val in scheduleList
                .my-orders__day
                    input(type='checkbox' name='day')
                    label(for='day')= val
    include _date-picker.pug

//= End my-orders =
= '\n'
