-
    var orderDateList = [{
        title: ['Пн','Вт','Ср','Чт','Пт','Сб','Вс'],
        first: ['23.01', '24.01', '25.01', '26.01', '27.01', '28.01', '29.01'],
        second: ['30.01', '31.01', '01.02', '02.02', '03.02', '04.02', '05.02']
    }]

= '\n'
//= Order delivery =
    Для активного элемента добавить класс order-delivery-item--selected
    ссылку заменить на спан по необходимости
    Пример:
    <div class="order-delivery-item order-delivery-item--selected">
        <span class="order-delivery-link">
            <span class="order-delivery-date">23.01</span>
        </span>
    </div>

.order-delivery
    .section__title Дата доставки
    .order-delivery-list
        each item in orderDateList
            .order-delivery-field
                each val in item.title
                    .order-delivery-item
                        .order-delivery-title= val
            .order-delivery-field
                each val in item.first

                    .order-delivery-item
                        a.order-delivery-link(href='#')
                            span.order-delivery-date= val
            .order-delivery-field
                each val in item.second
                    .order-delivery-item
                        a.order-delivery-link(href='#')
                            span.order-delivery-date= val

    .order-delivery-warning
        |Внимание! Вы оформляете заказ на один из следующих дней.<br>За это время цены могут измениться.


    .section__title Время доставки

    .order-delivery-time
        .order-delivery-time-radiobox
            input.order-delivery-time-radio(type='radio' name='time' value='1' checked)
            span.order-delivery-time-checker
        | 12:00 - 18:00
    .order-delivery-time
        .order-delivery-time-radiobox
            input.order-delivery-time-radio(type='radio' name='time' value='2')
            span.order-delivery-time-checker
        | 19:00 - 22:00
//= End order delivery =
= '\n'
