mixin pagination(more)
    //= Pagination =
    .pagination
        if (more)
            .pagination__more
                a.pagination__more-link(href='#') Еще товары


        .pagination__item
            // .pagination__arrow--disabled - неактивность элемента
            // "a" можно заменить на "span"
            span.pagination__arrow.pagination__arrow--prev.pagination__arrow--disabled

        .pagination__item.pagination__item--active
            a.pagination__link(href='#') 1
        .pagination__item
            a.pagination__link(href='#') 2
        .pagination__item
            a.pagination__link(href='#') 3
        .pagination__item ...
        .pagination__item
            a.pagination__link(href='#') 10

        .pagination__item
            a.pagination__arrow.pagination__arrow--next(href='#')
    //= End pagination =
    = '\n'
