-
    var paymentList = [
        {
            image: '1',
            title: 'Наличными',
            text: 'Вы можете рассчитаться с курьером при получении заказа, оплата производиться в гривнах.'
        },
        {
            image: '2',
            title: 'Безналичный расчет',
            text: 'Можно перечислить деньги на наш банковский счет, заключив с нами договор, если данный способ оплаты будет для Вас более удобным. Для уточнения деталей свяжитесь с нашим Call-центром.'
        },
        {
            image: '3',
            title: 'Виртуальный расчет',
            text: 'На данный момент мы занимаемся подключением к нашему сервису таких платежных систем как Privat24 и Webmoney.'
        },
        {
            image: '4',
            title: 'Пластиковой картой Приват24',
            text: 'Также оплатить заказ Вы сможете с помощью мобильного приложения Privat24 после оформления и доставки Вам заказа переводом необходимой суммы на нашу пластиковую банковскую карту «ПриватБанка».'
        }
    ]

= '\n'
//= Payment =
.payment
    each val in paymentList
        .payment__item
            .payment__picture
                img.payment__image(src='assets/images/content/logos/' + val.image + '.png' alt='')
            .payment__title= val.title
            .payment__text= val.text
//= End payment =
= '\n'
