//= Personal =
.personal
    .section__title Персональные данные

    form.write.write--personal(action='#' method='post')
        .write__wrapper
            .write__field.write__field--user
                input.write__input(type='text' name='login' placeholder='Введите Ваше имя')
        .write__wrapper
            .write__field.write__field--phone
                input.write__input(type='text' name='phone' placeholder='Введите Ваш телефон')
        .write__wrapper
            .write__field.write__field--email
                input.write__input(type='text' name='email' placeholder='Введите Ваш email')
        .personal__info *на почту вы сможете получить копию чека
        .write__wrapper
            .write__field.write__field--delivery
                input.write__input(type='text' name='delivery' placeholder='Введите адрес доставки')
        .write__wrapper
            .write__field.write__field--delivery-select
                select.delivery-select.write__input(name="delivery")
                    option(value="" disabled="" selected="") Способ доставки
                    option(value="1") Новой Почтой
                    option(value="2") Курьером по Киеву
        .write__field.write__field--message
            textarea.write__textarea(name='message' placeholder='Введите Ваше сообщение')
//= End Personal =
