-
    var postsList = [
        {
            image: '1',
            category: '30.09 Рецепты',
            name: 'Салат Цезарь. Классический рецепт',
            views: '473',
            comments: '2'
        },
        {
            image: '2',
            category: '16.10 Рецепты',
            name: 'Ячневая каша, запеченная со сметаной',
            views: '300',
            comments: '2'
        },
        {
            image: '3',
            category: '30.09 Рецепты',
            name: 'Медовое печенье',
            views: '473',
            comments: '2'
        },
        {
            image: '4',
            category: '30.09 Рецепты',
            name: 'Гуакамоле',
            views: '473',
            comments: '2'
        }
    ]
//= Posts =
.posts
    each item in postsList
        .posts__item
            a.posts__picture(href='#')
                img.posts__image(src='data/blog/' + item.image + '.png' alt='')
            .posts__data
                .posts__category= item.category
                a.posts__name(href='#')= item.name
                .posts__info
                    .posts__views= item.views
                    .posts__comments= item.comments
//= End posts =
= '\n'
