= '\n'
//= Product =
.product(itemscope itemtype='http://schema.org/Product')
    .product__slider
        ul.product__picture#slider_recipe
            li
                a.product__picture-link(data-fancybox='gallery' href='data/product/1.png')
                    .status.status--product
                        .status__item(class='status__item--share')
                        .status__item(class='status__item--hit')
                        .status__item(class='status__item--new')
                    img.product__image(src='data/product/1.png' alt='' itemprop='image')
            li
                a(data-fancybox='gallery' href='data/product/1.png')
                    img.product__image(src='data/product/1.png' alt='' itemprop='image')
            li
                a(data-fancybox='gallery' href='data/product/1.png')
                    img.product__image(src='data/product/1.png' alt='' itemprop='image')

        .product__slider-list#pager
            a.product__slider-item(href='#' data-slide-index="0")
                img.product__slider-image(src='data/product/small-1.png' alt='')
            a.product__slider-item(href='#' data-slide-index="1")
                img.product__slider-image(src='data/product/small-1.png' alt='')
            a.product__slider-item(href='#' data-slide-index="2")
                img.product__slider-image(src='data/product/small-1.png' alt='')

    .product__data
        meta(itemprop= 'brand' content= 'Freshmart')
        h1.breadcrumbs__name.product__data-title(itemprop='name') Капуста кольраби
        .product__code Код товара:
            span(itemprop= 'sku') 21

        include _slider-info.pug

        .product__info

            .rating.rating--view(itemprop='aggregateRating' itemscope itemtype='http://schema.org/AggregateRating')
                input(type='hidden' name='val' value='4')
                input(type='hidden' name='votes' value='21')

                meta(itemprop='worstRating' content = '1')
                meta(itemprop='bestRating' content='5')
                meta(itemprop='ratingValue' content = '4')
                meta(itemprop='ratingCount' content='21')



            //.product__ratio 21 оценка
            .product__order-info
                .calendar
                .product__order-info-text Можно заказать на завтра и позже

        .product__order
            .product__order-item(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                .product__order-item-title Цена
                .product__order-item-old 40.00
                .product__order-item-price
                    .product__order-item-number(itemprop='price' content= '30.00') 30.00
                    meta(itemprop='priceCurrency' content='UAH')
                    .product__order-item-postfix грн
            .product__order-item
                .product__order-item-quantity
                    .product__order-item-title Количество
                    include _quantity.pug

            .product__order-item
                .product__order-item-total
                    .product__order-item-title Сумма
                    .product__order-item-sum 30.00

            .product__order-item
                a.button.product__order-item-btn(href='#') В корзину

        .product__feature
            .product__feature-title Характеристики
            .product__feature-field(itemprop='additionalProperty' itemscope itemtype='http://schema.org/PropertyValue')
                .product__feature-name(itemprop='name') Калорийность (на 100г):
                .product__feature-value(itemprop='value') 42 Ккал
            .product__feature-field(itemprop='additionalProperty' itemscope itemtype='http://schema.org/PropertyValue')
                .product__feature-name(itemprop='name') Условия хранения:
                .product__feature-value(itemprop='value') температура от 0 до +2; влажность 85 - 90%

    include _tabs.pug
//= End product =
= '\n'
