-
    var profileUserinfoList = [
        {
            text: 'День рождения Ани',
            subitem: [
                {
                    image: 'order-1',
                    title: 'Капуста белокочанная',
                    price: '239.00 грн/кг',
                    weight: '25 кг',
                    total: '1 500 грн'
                },
                {
                    image: 'order-2',
                    title: 'Масло «Golden Kings of Ukraine» льняное 100 мл',
                    price: '289.00 грн/кг',
                    weight: '100 мл',
                    total: '34 грн'
                }

            ]
        },
        {
            text: 'Покупки на выходные',
            subitem: [
                {
                    image: 'order-3',
                    title: 'Помидор черри',
                    price: '239.00 грн/кг',
                    weight: '110 кг',
                    total: '1 500 грн'
                },
                {
                    image: 'order-4',
                    title: 'Питахая красная с красной мякотью',
                    price: '289.00 грн/кг',
                    weight: '13 кг',
                    total: '786 грн'
                }
            ]
        }
    ]
= '\n'
//= Account order =
//- (source/assets/css/layout/_profile-shoppinglist.scss)
.profile-shoppinglist#profile
    each item in profileUserinfoList
        .profile-shoppinglist__item
            .profile-shoppinglist__header.profile-header
                .profile-shoppinglist__id
                .profile-shoppinglist__text= item.text
                .profile-shoppinglist__clearlist
                    a.profile-shoppinglist__clearlist-text(htef='#') Очистить список
                    a.profile-shoppinglist__clearlist-close(htef='#')
            if (item.subitem)
                .profile-content.profile-shoppinglist__content(style='display: none')
                    each subitem in item.subitem
                        .profile-shoppinglist__content-item
                            .profile-shoppinglist__content-left
                                a.profile-shoppinglist__content-picture(href='#')
                                    img.profile-shoppinglist__content-image(src='data/order/' + subitem.image + '.png' alt='')
                                a.profile-shoppinglist__content-title(href='#')= subitem.title
                            .profile-shoppinglist__content-right
                                .profile-shoppinglist__content-price= subitem.price
                                .profile-shoppinglist__content-cart
                                    button.catalog__button В корзину
                    .profile-shoppinglist__content-item
                        .profile-shoppinglist__content-item-input
                            input(type='text' placeholder='Название товара')
                            button.catalog__button Добавить

//= End account order =
= '\n'
