= '\n'
//= Quantity =
.quantity
    a.quantity-arrow.quantity-arrow--minus(href='#')
    input.quantity-output(type='text' value='1.5')
    a.quantity-arrow.quantity-arrow--plus(href='#')
    span.quantity-postfix кг
//= Quantity =
= '\n'
