-
    var recipesCarouselList = [
        {
            image: '1',
            title: 'Капустный пирог'
        },
        {
            image: '2',
            title: 'Овощной шашлык с беконом'
        },
        {
            image: '3',
            title: 'Густой суп <br>из брюссельской капусты'
        },
        {
            image: '4',
            title: 'Овощные голубцы'
        }
    ]

= '\n'
//= Recipes list =
.carousel
    .recipes-list
        - for (var i = 0; i < 2; i++)
            each val in recipesCarouselList
                .recipes-list__item
                    .recipes-list__item-inner
                        a.recipes-list__picture(href='#')
                            img(src='data/recipes/' + val.image + '.png' alt='')

                        .recipes-list__title
                            a.recipes-list__link(href='#')!= val.title

                        a.recipes-list__button(href='#') Посмотреть

    .carousel__controls
        a.carousel__btn.carousel__btn--prev(href='javascript:void(0)')
        a.carousel__btn.carousel__btn--next(href='javascript:void(0)')
//= End recipes list =
= '\n'
