mixin search(dropped)
    //= Search =
    -
        var searchList = [
            {
                image: '1',
                title: 'Лук порей',
                price: '33.00'
            },
            {
                image: '2',
                title: 'Корень хрена',
                price: '93.50'
            },
            {
                image: '3',
                title: 'Корень имбиря',
                price: '74.00'
            }
        ]

    form.search(action='#' method='post')
        input.search__text(type='text' placeholder='Поиск продуктов...')

        if (dropped)
            .search__drop(style='display:none')
                .search__list
                    each val in searchList
                        .search__item
                            a.search__picture(href='#')
                                img.search__image(src='data/search/' + val.image + '.png' alt='')
                            .search__info
                                a.search__title(href='#')=val.title
                                .search__price=val.price + ' грн/кг'
                a.search__link(href="#") Все результаты поиска

        input.search__submit(type='submit' value='')

    //= End search =
    = '\n'
