= '\n'
//= Sort =
//
    .--
        Для открытия меню добавить класс: sort--open
    .--
.sort#sort
    .sort__title Сортировать:
    .sort__field
        .sort__field-text От дешевых к дорогим
        a.sort__arrow(href='#')
        .sort__drop
            .sort__list
                a.sort__item(href='#') По каталогу
                a.sort__item(href='#') От дорогих к дешовым
                a.sort__item(href='#') От дешевых к дорогим
//= End sort =
= '\n'
