= '\n'
//= user-aside =
//- (source/assets/css/module/_user-aside.scss)
.user-aside
    .user-aside__inner
        .user-aside__img
            img(src='data/user/user-aside.png' alt='')
        .user-aside__info
            .user-aside__info-name Гембаровський Олександр
            .user-aside__info-email freshmart@mail.com
//= End user-aside =
= '\n'
