= '\n'
//= Vacancies =
-
	micromarking = true

	itemscope = (micromarking) ? true : false
	itemtype = (micromarking) ? 'http://schema.org/JobPosting' : false
.vacancies(itemscope= itemscope itemtype= itemtype)
	-
		itempropInnerJobPosting = 'specialCommitments'
		contentJobPosting = 'VeteranCommit'

		itempropInnerDatePosted = 'datePosted'
		itempropInnerTitle = 'title'
		itempropInnerDescription = 'description'

	meta(itemprop= itempropInnerJobPosting content= contentJobPosting)
	meta(itemscope= itemscope itemprop= 'hiringOrganization' itemtype="http://schema.org/Organization")
	meta(itemscope= itemscope itemprop="jobLocation"  itemtype="http://schema.org/Place")

	each item in vacancies
		.vacancies__item
			.vacancies__date(itemprop= itempropInnerDatePosted content="2018-06-18")= item.date
			a.vacancies__name(href='#')
				.vacancies__name-link(itemprop= itempropInnerTitle)= item.name
			.vacancies__text(itemprop= itempropInnerDescription)= item.text

			if (item.info)
				.vacancies__info
					each val in item.info
						.vacancies__info-item
							.vacancies__info-icon(class= val.modifier)
							.vacancies__info-text(itemprop= val.JobPosting)= val.text
- micromarking = false
//= End vacancies =
= '\n'
