
mixin write(className)
    = '\n'
    //= Write =
    if (className)
        form.write(class='write--' + className action='#' method='post')
            .write__wrapper
                .write__field.write__field--user
                    input.write__input(type='text' name='login' placeholder='Введите Ваше имя')
            .write__wrapper
                .write__field.write__field--email
                    input.write__input(type='text' name='email' placeholder='Введите Ваш email')
            .write__field.write__field--message
                textarea.write__textarea(name='message' placeholder='Введите Ваше сообщение')
            input.write__button(type='submit' value='Отправить сообщение')

    else
        form.write(action='#' method='post')
            .write__field.write__field--user
                input.write__input(type='text' name='login' placeholder='Введите Ваше имя')
            .write__field.write__field--email
                input.write__input(type='text' name='email' placeholder='Введите Ваш email')
            .write__field.write__field--message
                textarea.write__textarea(name='message' placeholder='Введите Ваше сообщение')
            input.write__button(type='submit' value='Отправить сообщение')
    //= End write =
    = '\n'

mixin writeReview

    = '\n'
    //= Write =
    form.write(class='write--review' action='#' method='post')
        .write__wrapper.write__field--ratio
            .rating.rating--write
                input(type='hidden' name='val' value='0')
                input(type='hidden' name='votes' value='21')

        .write__wrapper
            .write__field.write__field--user
                input.write__input(type='text' name='login' placeholder='Введите Ваше имя')
        .write__wrapper
            .write__field.write__field--email
                input.write__input(type='text' name='email' placeholder='Введите Ваш email')
        .write__field.write__field--message
            textarea.write__textarea(name='message' placeholder='Введите Ваше сообщение')
        input.write__button(type='submit' value='Сохранить')

    //= End write =
    = '\n'
