//- MENU
//------------------------------------------------

$menu__baseFontSize:        $fontSizeBase !default;

$menu__textColor:           $base !default;
$menu__backgroundColor:     $brandPrimary !default;
