@font-face {
    font-family: 'HouschkaPro-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/HouschkaPro-Bold/HouschkaPro-Bold.woff2') format('woff2'),
        url('../fonts/HouschkaPro-Bold/HouschkaPro-Bold.woff2') format('woff');
}
@font-face {
    font-family: 'HouschkaPro-DemiBold';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/HouschkaPro-DemiBold/HouschkaPro-DemiBold.woff2') format('woff2'),
        url('../fonts/HouschkaPro-DemiBold/HouschkaPro-DemiBold.woff2') format('woff');
}
@font-face {
    font-family: 'HouschkaPro-Medium';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/HouschkaPro-Medium/HouschkaPro-Medium.woff2') format('woff2'),
        url('../fonts/HouschkaPro-Medium/HouschkaPro-Medium.woff2') format('woff');
}
