-

    var languageList = [
        {
            name: 'Українська',
            active: true
        },
        {
            name: 'Русский'
        }
    ]

    var cityList = [
        {
            name: 'Луцьк',
            active: true
        },
        {
            name: 'Львів'
        },
        {
            name: 'Рівне'
        },
        {
            name: 'Тернопіль'
        },
        {
            name: 'Івано-Франківськ'
        },
        {
            name: 'Вінниця'
        },
        {
            name: 'Дніпропетровськ'
        },
        {
            name: 'Житомир'
        },
        {
            name: 'Запоріжжя'
        },
        {
            name: 'Кіровоград'
        },
        {
            name: 'Київ',
        },
        {
            name: 'Луганськ'
        },
        {
            name: 'Миколаїв'
        },
        {
            name: 'Одеса'
        },
        {
            name: 'Полтава'
        },
        {
            name: 'Суми'
        },
        {
            name: 'Ужгород'
        },
        {
            name: 'Харьків'
        },
        {
            name: 'Херсон'
        },
        {
            name: 'Хмельницький'
        },
        {
            name: 'Черкаси'
        },
        {
            name: 'Чернівці'
        },
        {
            name: 'Чернігів'
        }
    ]


    var headerNav = [
        {
            name: 'Головна'
        },
        {
            name: 'ПОСЛУГИ ТА ЦІНИ'
        },
        {
            name: 'ДОСТАВКА МАЙСТРА'
        },
        {
            name: 'ВАКАНСІЇ'
        },
        {
            name: 'ВІДГУКИ',
            active: true
        },
        {
            name: 'ЧАСТІ ЗАПИТАННЯ'
        },
        {
            name: 'КОНТАКТИ'
        },
        {
            name: 'ОПЛАТА'
        },
        {
            name: 'ГАРАНТІЇ'
        }
    ]

    var footerMenu = [
        {
            title: 'Послуги',
            modifier: 'services',
            menu: [
                {
                    link: 'Виклик майстра',
                    active: true
                },
                {
                    link: 'Вартість виклику'
                },
                {
                    link: 'Діагностика'
                },
                {
                    link: 'Знижки'
                },
                {
                    link: 'Оплата'
                },
                {
                    link: 'Гарантія'
                }
            ]
        },
        {
            title: 'Про нас',
            modifier: 'about',
            menu: [
                {
                    link: 'Виклик майстра'
                },
                {
                    link: 'Ідея'
                },
                {
                    link: 'Відгуки'
                },
                {
                    link: 'Вакансія'
                },
                {
                    link: 'Часті запитання'
                },
                {
                    link: 'Контакти'
                },
                {
                    link: 'Карта сайту'
                }
            ]
        }
    ]

    var contactsInfo = [
        {
            title: 'Адреса офісу:',
            list: [
                'вул. Кн. Ольги, 8,<br> офіс 35'
            ]
        },
        {
            title: 'Керівник служби:',
            list: [
                '<a href="tel:+380687296639">068 729 66 39</a>'
            ]
        },
        {
            title: 'Email:',
            list: [
                '<a href="mailto:domslugba@gmail.com">domslugba@gmail.com</a>'
            ]
        },
        {
            title: 'Бухгалтерія:',
            list: [
                '<a href="tel:+380689589527">068 958 95 27</a>',
                '<a href="tel:+380959424936">095 942 49 36</a>',
                '<a href="tel:+380972385533">097 23 85 533</a>'
            ]
        },
        {
            title: 'Диспетчери:',
            list: [
                '<a href="tel:+380968583788">096 85 83 788</a>',
                '<a href="tel:+380972385533">097 23 85 533</a>',
                '<a href="tel:+380988233230">098 82 33 230</a>'
            ]
        },
        {
            title: 'Відділ контролю:',
            list: [
                '<a href="tel:+380968583788">096 85 83 788</a>',
                '<a href="tel:+380972385533">097 23 85 533</a>',
                '<a href="tel:+380988233230">098 82 33 230</a>'
            ]
        }
    ]

    var catalog = [
        {
            image: '1',
            title: 'Встановлення побутової техніки',
            list: [
                'Встановлення бойлера',
                'Встановлення варочної поверхні',
                'Встановлення вентилятора',
                'Встановлення газового конвектора'
            ]
        },
        {
            image: '2',
            title: 'Послуги електрика',
            list: [
                'Відновлення зниклого світла',
                'Відновлення роботи офісної мережі',
                'Вкладання теплої підлоги',
                'Встановлення автомата'
            ]
        },
        {
            image: '3',
            title: 'Послуги зварювальника',
            list: [
                'Виготовлення воріт',
                'Виготовлення кованих виробів',
                'Зварювання металоконструкцій',
                'Монтаж труб опалення'
            ]
        }
    ]
    var serviceList = [
        {
            //class: '',
            name: 'Виявлення пошкодженої ділянки електропроводки',
            unit: '-',
            price: '240',
            month: '3',
        },
        {
            //class: '',
            name: 'Заміна пробок в однофазному електролічильнику',
            unit: '-',
            price: '40',
            month: '4',
        },
        {
            //class: '',
            name: 'Ремонт контактів в однофазному електричному лічильнику',
            unit: '-',
            price: '200',
            month: '2',
        },
        {
            //class: '',
            name: 'Ремонт контактів в трифазному електричному лічильник',
            unit: '-',
            price: '240',
            month: '1',
        },
        {
            //class: 'service__list-field__stamp-ru',
            name: 'Ремонт електричного щитка',
            unit: '',
            price: '',
            month: '',
            img: 'ru'
        },
        {
            //class: 'service__list-field__stamp-ua',
            name: 'Ремонт електричної проводки на опорі',
            //name: 'Ремонт електричної проводки на опорі ремонт електричної проводки на опорі ремонт електричної проводки на опорі',
            unit: '',
            price: '',
            month: '',
            img: 'ua'
        }
    ]

    var serviceListNew = [
        {
            name: 'Виявлення пошкодженої ділянки електропроводки',
            unit: '-',
            price: '240',
            month: '3'
        },
        {
            name: 'Заміна пробок в однофазному електролічильнику',
            unit: '-',
            price: '40',
            month: '2'
        },
        {
            name: 'Ремонт контактів в однофазному електричному лічильнику',
            unit: '-',
            price: '200',
            month: '1'
        },
        {
            name: 'Ремонт контактів в трифазному електричному лічильник',
            unit: '-',
            price: '240',
            month: '2'
        },
        {
            name: 'Ремонт електричного щитка',
            unit: '-',
            price: '250',
            month: '1'
        },
        {
            name: 'Ремонт електричної проводки на опорі',
            unit: '-',
            price: '10220',
            month: '4'
        }
    ]

    var serviceAtherList = [
        {
            name: 'Монтаж двохстроннього коробу на стіну',
            active: true
        },
        {
            name: 'Монтаж двохстороннього коробу на стелю'
        },
        {
            name: 'Перевезення вантажу за місто вагою до 1,5 тонн'
        },
        {
            name: 'Перевезення вантажу по місту вагою до 1,5 тонн'
        },
        {
            name: 'Фарбування стелі водоемульсійною фарбою'
        },
        {
            name: 'Шпаклювання гіпсокартону на стелі (тільки шви і отвори)'
        }
    ]



    var popularList = [
        'Виготовлення воріт',
        'Безперебійна подача чорнил',
        'Вкладання підлоги',
        'Встановлення гідробокса',
        'Ремонт замка',
        'Монтаж стояка',
        'Чищення комина',
        'Демонтаж дверей',
        'Перевезення вантажів вагою до 1,5т',
        'Ремонт сушильної машини',
        'Встановлення водостічної труби',
        'Вкладання плитки',
        'Ремонт газової колонки',
        'Демонтаж підлоги',
        'Встановлення парового бокса'
    ]

    var speakSection = [
        {
            date: '28.04.2016',
            text: 'Ваш майстер прийшов, поправив реле на моторі і холодильник запрацював. Від грошей відмовився. Я залишився приємно враженим, думав, що такого людського відношення вже давно не має.',
            image: 'user',
            name: 'Кундас Максим Григорович (Рівне)'
        },
        {
            date: '30.06.2016',
            text: 'Дуже задоволений роботою Доимової служби. Викликав сантехніка, мені направили Павла - майстер дуже швидко приїхав за хвилин 30 і швидко виконав роботу. Зручно, що спеціаліст може підійти на тоді, коли потрібно клієнту.',
            image: 'user',
            name: 'Столярчук Артур Віталійович (Луцьк)'
        },

    ]

    var presentationMenu = [
        {
            link: 'Послуги сантехніка',
            isdrop: true,
            drop: [
                {
                    link: 'Послуги сантехніка 1'
                },
                {
                    link: 'Послуги сантехніка 2'
                },
                {
                    link: 'Послуги сантехніка 3'
                },
                {
                    link: 'Послуги сантехніка 4'
                },
                {
                    link: 'Послуги сантехніка 5'
                },
                {
                    link: 'Послуги сантехніка 6'
                },
                {
                    link: 'Послуги сантехніка 7'
                },
                {
                    link: 'Послуги сантехніка 8'
                },
                {
                    link: 'Послуги сантехніка 9'
                },
                {
                    link: 'Послуги сантехніка 10'
                },
                {
                    link: 'Послуги сантехніка 11'
                },
                {
                    link: 'Послуги сантехніка 12'
                },
                {
                    link: 'Послуги сантехніка 13'
                },
                {
                    link: 'Послуги сантехніка 14'
                },
                {
                    link: 'Послуги сантехніка 15'
                },
                {
                    link: 'Послуги сантехніка 16'
                },
                {
                    link: 'Послуги сантехніка 17'
                },
                {
                    link: 'Послуги сантехніка 18'
                },
                {
                    link: 'Послуги сантехніка 19'
                },
                {
                    link: 'Послуги сантехніка 20'
                },
                {
                    link: 'Послуги сантехніка 21'
                },
                {
                    link: 'Послуги сантехніка 22'
                },
                {
                    link: 'Послуги сантехніка 23'
                },
                {
                    link: 'Послуги сантехніка 24'
                }
            ]
        },
        {
            link: 'Послуги електрика',
            isdrop: true,
            drop: [
                {
                    link: 'Послуги електрика 1'
                },
                {
                    link: 'Послуги електрика 2'
                },
                {
                    link: 'Послуги електрика 3'
                }
            ]
        },
        {
            link: 'Послуги столяра',
            isdrop: true,
            drop: [
                {
                    link: 'Послуги столяра 1'
                },
                {
                    link: 'Послуги столяра 2'
                },
                {
                    link: 'Послуги столяра 3'
                }
            ]
        },
        {
            link: 'Вантажні та господарські роботи'
        },
        {
            link: 'Прибирання'
        },
        {
            link: 'Реомнт побутової технінки'
        },
        {
            link: 'Ремонт приміщень'
        },
        {
            link: 'Всі категорії'
        }
    ]

    var subservisez = [
        {
            image: '1',
            name: 'Встановлення бачка'
        },
        {
            image: '2',
            name: 'Встановлення біде'
        },
        {
            image: '3',
            name: 'Встановлення ванни'
        },
        {
            image: '4',
            name: 'Встановлення душової кабіни'
        },

        {
            image: '2',
            name: 'Встановлення біде'
        },
        {
            image: '1',
            name: 'Встановлення бачка'
        },
        {
            image: '4',
            name: 'Встановлення душової кабіни'
        },
        {
            image: '3',
            name: 'Встановлення ванни'
        },

        {
            image: '1',
            name: 'Встановлення бачка'
        },
        {
            image: '2',
            name: 'Встановлення біде'
        },
        {
            image: '3',
            name: 'Встановлення ванни'
        },
        {
            image: '4',
            name: 'Встановлення душової кабіни'
        },

        {
            image: '2',
            name: 'Встановлення біде'
        },
        {
            image: '1',
            name: 'Встановлення бачка'
        },
        {
            image: '4',
            name: 'Встановлення душової кабіни'
        },
        {
            image: '3',
            name: 'Встановлення ванни'
        }
    ]

    var faq = [
        {
            name: 'Чи можна замовити послуги для родичів, якщо я перебуваю в іншому місті або іншій країні.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Майстер просить аванс. Чи можна дати йому гроші?',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Я задоволений роботою майстра. Чи можу я дати йому чайові?',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Чи варто в Акті вказати меншу суму, а дати майстру більшу.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Мені треба провести роботу з безготівковим розрахунком. Чи можу я вказати в акті велику суму з тим, щоб ви мені повернули різницю.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Я заплатив майстрові більшу суму, ніж по прайсовій вартості. Я це зрозумів тільки після того, як майстер пішов.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Чи можу я вимагати назад переплачені гроші.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },

        {
            name: 'Мені потрібно всього лише підтягнути саморізи у розхитаному стільці. Скільки коштуватиме ця робота?',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Скільки ви берете за роботу, якої немає в прайсі.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Коли майстер повинен назвати ціну роботи? Бо може у мене не вистачить грошей, щоб її оплатити.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Після виконання роботи майстер прибрав за собою. Чи треба за це доплачувати?',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Чи можна доручити майстрові іншу роботу, яка не була озвучена диспетчеру?',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Я живу в селі, але часто буваю в місті. Чи можу я привезти до вас на ремонт кухонний комбайн.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Чому у майстра немає з собою необхідних матеріалів.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
        {
            name: 'Чи можу я викликати майстра без посередництва фірми.',
            text: 'Давати чайові чи ні - це ваше особисте рішення. Наш майстер достатньо заробляє виконуючи роботу згідно з розцінками, зазначеним у прайс-листі.'
        },
    ]

    var searchResults = [
        'Встановлення бойлера',
        'Встановлення вентилятора',
        'Встановлення варочної поверхні',
        'Встановлення газового конвектора'
    ]

    var blog = [
        {
            image: '1',
            title: 'Трафаретне фарбування акрилом стін',
            text: "Якщо ви любили в дитинстві малювати скрізь де можна, але не знайшли покликання і тепер хочете втілити свої художні мрії в інтер'єрі будинку, то вам підійде трафаретне фарбування стін. Таке фарбування вимагає більш фантазії і дотримання правил, ніж художніх талантів, адже точність ліній гарантують трафаретиі створити «бендерівського сіяча» складно."
        },
        {
            image: '2',
            title: 'Вирівнювання кутів стін',
            text: "Нерівні кути в кімнатах можуть зіпсувати все позитивне враження від самостійно проведеного ремонту, тому сьогодні ми розповімо, як правильно виконати вирівнювання стін кутів своїми руками і з мінімально можливими затратами.Загальноприйнятим вважається, що ремонт стін більш легкий процес, ніж оздоблення стелі, однак це не завжди так і найбільші проблеми обіцяють «плаваючі кути» в приміщенні."
        }
    ]

    var sitemap = [
        {
            name: 'Про нас',
            list: [
                'Сторінка 1',
                'Сторінка 1',
                'Сторінка 1'
            ]
        },
         {
            name: 'Послуги електрика',
            list: [
                'Відновлення зниклого світла',
                'Відновлення роботи офісної мережі',
                'Вкладання теплої підлоги',
                'Встановлення автомата'
            ]
        },
        {
            name: 'Послуги електрика',
            list: [
                'Відновлення зниклого світла',
                'Відновлення роботи офісної мережі',
                'Вкладання теплої підлоги',
                'Встановлення автомата'
            ]
        },
        {
            name: 'Послуги електрика',
            list: [
                'Відновлення зниклого світла',
                'Відновлення роботи офісної мережі',
                'Вкладання теплої підлоги',
                'Встановлення автомата'
            ]
        },
        {
            name: 'Послуги електрика',
            list: [
                'Відновлення зниклого світла',
                'Відновлення роботи офісної мережі',
                'Вкладання теплої підлоги',
                'Встановлення автомата'
            ]
        },
        {
            name: 'Послуги і ціни',
        },
        {
            name: 'Відгуки',
        }
    ]

    var comments = [
        {
            image: '1',
            name: 'Володимир Козаренко',
            date: '25 грудня, 2014 в 6:23',
            message: 'Дуже вдячний сантехніку Ростиславу(1004) за роботу. Викликали в неділю, приїхав швидко, якісно і акуратно виконав роботу по чистці забитої каналізації. Будемо звертась і надалі.',
            answer: [
                {
                    image: '2',
                    name: 'Іванка Мельник',
                    date: '25 грудня, 2014 в 8:27',
                    message: 'Я теж викликала цього майстра. Роботою задоволена. Все швидко і якісно. Рекомендую',
                }
            ]

        },
        {
            image: '3',
            name: 'Іван Полежайник',
            date: '26 грудня, 2014 в 18:35',
            message: 'Дякуємо, майстер відновив працездатність телевізора за 20 хв., роботою дуже задоволені, надав кваліфіковані поради, навіть дітям надав корисні поради щодо електробезпеки. Ще раз, дуже Вам вдячні !!!'
        },
        {
            image: '3',
            name: 'Іван Полежайник',
            date: '26 грудня, 2014 в 18:35',
            message: 'Дякуємо, майстер відновив працездатність телевізора за 20 хв., роботою дуже задоволені, надав кваліфіковані поради, навіть дітям надав корисні поради щодо електробезпеки. Ще раз, дуже Вам вдячні !!!'
        }
    ]

    var vacancyList = [
        {
            name: 'Майстер з ремонту пральних машин',
            employment: 'Повна зайнятість.',
            text: 'Професійні вимоги: досвід роботи, власний інструмент, бажано власний автомобіль.',
            salary: '7000'
        },
        {
            name: 'Столяр',
            employment: 'Повна зайнятість.',
            text: 'Професійні вимоги: досвід роботи, власний інструмент.',
            salary: '5000'
        },
        {
            name: 'Майстер по ремонту холодильників',
            employment: 'Повна зайнятість.',
            text: "Пропоную роботу майстру по ремонту та обслуговуванню холодильників. Наявність власного інструменту обов'язкова!",
            salary: '9000'
        },
        {
            name: 'Майстер з комплексного ремонту приміщень',
            employment: 'Повна зайнятість.',
            text: 'Професійні вимоги: досвід роботи, власний інструмент, бажано власний автомобіль.',
            salary: '7000'
        },
        {
            name: 'Сантехнік',
            employment: 'Повна зайнятість.',
            text: 'Професійні вимоги: досвід роботи, власний інструмент.',
            salary: '5000'
        },
        {
            name: 'Майстер по ремонту холодильників',
            employment: 'Повна зайнятість.',
            text: 'Пропоную роботу майстру по ремонту та обслуговуванню холодильників.',
            salary: '9000'
        },
    ]

