//- Utility

include utils/_variable

-
    pageTitle = 'career'
    micromarking = true

doctype html
html
    include layout/_head

    body

        = '\n'
        //= Layout =
        #layout.layout

            include layout/_header

            //= Main =
            main#main.main
                .container
                    .layout-box.layout-box--career-inner
                        section.section.section--title.stretch
                            h1 UI/UX artist
                        section.section.section--career-inner.stretch
                            include module/_career-inner
                        section.section.section--form.stretch
                            - title = 'Отправьте свое резюме'
                            include layout/_form

            //= End main =
            = '\n'

            #shadow

        //= End layout =
        include layout/_footer
        include module/_mobile-menu

        include layout/_sprite
        include layout/_scripts
