//- Utility

include utils/_variable

-
    pageTitle = 'games archive'

doctype html
html
    include layout/_head

    body

        = '\n'
        //= Layout =
        #layout.layout
            include layout/_header

            //= Main =
            main#main.main
                .container
                    .layout-box
                        section.section.section--title.stretch
                            h1 games archive

                        section.section.section--gameslist
                            - buttonText = 'learn more'

                            p So, you’re curious about what we’ve been doing during all those years, right? Well, have a look here:

                            div
                                - for(let i = 0; i < 2; i++)
                                    each prop in gamesInnerItems
                                        include module/_game


            //= End main =
            = '\n'

            #shadow

        //= End layout =

        include layout/_footer
        include module/_mobile-menu

        include layout/_sprite
        include layout/_scripts
