//- Utility

include utils/_variable

-
    pageTitle = 'inner'
    slick = true
    modaal = true
    modaalGallery = true

doctype html
html
    include layout/_head

    body

        = '\n'
        //= Layout =
        #layout.layout.layout--game

            - dots = true
            include layout/_header

            //= Main =
            main#main.main
                .container
                    -
                        micromarking = true
                        itemscope = (micromarking) ? true : false
                        itemtype = (micromarking) ? 'http://schema.org/Product' : false
                    .layout-box(itemscope= itemscope itemtype= itemtype)
                        -
                            itempropInnerName = (micromarking) ? 'name' : false
                            itempropInnerSku = (micromarking) ? 'sku' : false
                            itempropInnerImage = (micromarking) ? 'image' : false

                            itempropBrand = (micromarking) ? 'brand' : false
                            itempropBrandContent = (micromarking) ? 'zagrava' : false

                        section.section.section--title.stretch
                            h1(itemprop= itempropInnerName) Greedy Bunnies
                            meta(itemprop= itempropBrand content= itempropBrandContent)


                        section.section.section--game
                            include module/_slider
                            include module/_inner-info

                    - micromarking = false

            //= End main =
            = '\n'

            #shadow

        //= End layout =

        -
            mascot = true
            dots = false

        include layout/_footer
        include module/_mobile-menu

        include layout/_sprite
        include layout/_scripts

