//- Utility

include utils/_variable

-
    pageTitle = 'news'

doctype html
html
    include layout/_head

    body

        = '\n'
        //= Layout =
        #layout.layout

            - dots = true
            include layout/_header

            //= Main =
            main#main.main
                .container
                    .layout-box
                        section.section.section--title.stretch
                            h1 news
                        section.section.section--news
                            - for(let i = 0; i < 2; i++)
                                each prop in newsItemInfo
                                    include module/_news
                        section.section.section--pagination
                            include module/_pagination

            //= End main =
            = '\n'

            #shadow

        //= End layout =

        -
            mascot = true
            dots = false

        include layout/_footer
        include module/_mobile-menu

        include layout/_sprite
        include layout/_scripts
