//- Utility

include utils/_variable

-
    pageTitle = 'success'
    modaal = true
    modaalInline = true


doctype html
html
    include layout/_head

    body

        = '\n'
        //= Layout =
        #layout.layout

            - dots = true
            include layout/_header

            //= Main =
            main#main.main
                .container
                    .layout-box
                        a.modaal-inline(href="#success") Вызвать popup
                        include module/_success


            //= End main =
            = '\n'

            #shadow

        //= End layout =

        -
            mascot = true
            dots = false

        include layout/_footer
        include module/_mobile-menu

        include layout/_sprite
        include layout/_scripts


