//- Utility

include utils/_variable.pug

-
    pageTitle = 'catalogue'
    nameTitle = 'Каталог нерухомості'
    //-subTitle = 'Маршрути'

    //- use if necessary
    swiper = true
    //easeSwiper = true
    //innerSwiperCatalogue = true
    //mCustomScrollbar = true
    magnificPopup = true // init magnificPopup styles
    magnificPopupOrdercall = true

    tab = true

    //for breadcrumbs
    breadcrumbItems = ['Головна']

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout
            include layout/_header.pug
            //= Main =
            main#main.main
                .container
                    .layout-box
                        .layout-box__content.__base
                            include module/_breadcrumb.pug
                            - nameBlock = nameTitle
                            include module/_name-block.pug

                            //= Tab =
                            //- (source/scss/module/_tab.scss)
                            .tab
                                .tab-menu
                                    ul.tab-list
                                        li.tab-item.active
                                            a.tab-link(href='#all') Всі
                                        li.tab-item
                                            a.tab-link(href='#object') Об'єкти нерухомості
                                        li.tab-item
                                            a.tab-link(href='#area') Земельні ділянки
                                .tab-wrapper
                                    .tab-content
                                        #all.tab-box.active
                                            - cycleNumber = 1
                                            include module/_catalogue.pug
                                            - cycleNumber = 0
                                        #object.tab-box
                                            - cycleNumber = 2
                                            include module/_catalogue.pug
                                            - cycleNumber = 0
                                        #area.tab-box
                                            - cycleNumber = 3
                                            include module/_catalogue.pug
                                            - cycleNumber = 0

                            //-.layout-box__content__pagination
                                include module/_pagination.pug
                        .layout-box__nav.__right
                            include layout/header/secondMenu/_secondMenu.pug
            //= End main =
            = '\n'

            #shadow

        //= End layout =

        include layout/_footer.pug

        = '\n'
        //= Modal =
        .modal.modal--user.mfp-hide#ordercall-drive

            .modal__content
                - ordercall = true
                include module/_popup.pug

        //= End modal =
        = '\n'


        include module/_mobile-menu.pug
        include module/_cookies.pug

        include layout/_sprite.pug
        include layout/_scripts.pug
