//- Utility

include utils/_variable.pug

-
    pageTitle = 'main'
    main = true
    nameTitle = 'main'
    //-subTitle = 'Маршрути'

    //- use if necessary

    // tab = true // init tab.js
    // rating = true // init rating.js

    magnificPopup = true // init magnificPopup styles
    magnificPopupOrdercall = true
    // magnificPopupInline = true // init magnificPopup
    // magnificPopupGallery = true // init magnificPopup for gallery
    // ionRangeSlider = true // init ionRangeSlider
    // select2 = true // init select2
    //countdown = true // init final_countdown
    swiper = true
    //easeSwiper = true
    //indexSwiperOne = true
    //indexSwiperTwo = true
    innerSwiper = true
    //innerSwiperCatalogue = true
    //mCustomScrollbar = true

    //for breadcrumbs
    //breadcrumbItems = ['Main', 'Щось', 'Щось конкретно']

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout
            include layout/_header.pug
            //-include layout/_navigation.pug

            //= Main =
            main#main.main
                .layout__box.__base
                    section
                        include module/_index-slider.pug
                    .layout__box__content
                        section
                            include module/_index-services.pug
                        section
                            include module/_index-convoy.pug
                        section
                            include module/_index-news.pug
                    .layout__box__nav.__right-index
                        include layout/header/secondMenu/_secondMenu.pug
            //= End main =
            = '\n'

            #shadow

        //= End layout =

        = '\n'
        //= Modal =
        .modal.modal--user.mfp-hide#ordercall-drive

            .modal__content
                - ordercall = true
                include module/_popup.pug

        //= End modal =
        = '\n'

        include layout/_footer.pug
        include module/_mobile-menu.pug
        include module/_cookies.pug

        include layout/_sprite.pug
        include layout/_scripts.pug
