include vars/_variable.pug

- var galleryInnerPhotoswipeInit = true

//= Gallery =
.gallery-inner
    .gallery-inner__description
        p Осінь - це час збору врожаю, гучних весіль та романтичних вражень. Відчуй на собі Золоті обійми осені разом з Київським ювелірним заводом! З 1 по 31 жовтня КЮЗ дарує знижку 20% на певну групу золотих прикрас. За детальною інформацією звертайтеся до продавців-консультантів. Чекаємо на Вас в наших магазинах!

    #gallery-inner_gallery.gallery-inner__box.photoswipe-wrapper
        each val in gallery
            .gallery-inner__item.photoswipe-item
                a.gallery-inner__link(href='http://zlata-store-site.32server.in.ua/cache/1/K-_a31Llh_qkXNA6iWGcwEFA3EyZE_AY.jpg?s=9d7b0d73677c4f1ebbb9599e02584741' data-size="1080x1625")
                    span.gallery-inner__image
                        img(src='http://zlata-store-site.32server.in.ua/cache/1/K-_a31Llh_qkXNA6iWGcwEFA3EyZE_AY.jpg?w=270&h=165&fit=crop&s=e06bc47ca050ce62cd429bb5be82c14f' alt='')
//= End gallery =
= '\n'
