= '\n'
// advantages
section.advantages
    .container
        .advantages__wrap
            .advantages__side
                .advantages__label.bg-blue our advantages over competitors
                .advantages__list
                    .advantages__item Say “NO” to plagiarism – FREE plagiarism report as an addition to your paper.
                    .advantages__item The lowest prices that fit excellent quality – we do not believe that decent papers can be cheap.
                    .advantages__item Authorship – you are the one who possess the paper. We DO NOT re-sale or re-use any of them.
            .advantages__content
                h1.advantages__title Welcome to <br> writing service Grabmyessay
                .advantages__label.label-icon.bg-pink the best essay writing service provider
                .advantages__text
                    p.
                        You are now at the premier site for essay writing services. If you are looking for the most professional Company that confidentially produces the highest quality research and writing, we are your perfect source. You may have been let down by other online writing companies that offer essay writing services, but here you will receive professionally produced and original writing of practically any variety.<br>
                        Our reputation is immaculate and verified.
                .advantages__button.button.button--dark Proceed to Order
// end advantages
= '\n'
