-
    let blog = [
        {
            picture: '1',
            name: 'Want to have fun instead of a college paper?',
            text: 'Thanksgiving is a family holiday and nothing, especially college should get in your way! Grab My Essay knows well how to take care of writing tasks. While we do that there\'s something you can do to entertain yourself.',
            tags: ['#paper', '#sale', '#thanksgiving', '#discount', '#promo', '#writing']
        },
        {
            picture: '2',
            name: 'Halloween discounts!',
            text: 'Do you love Halloween as much as we do? This holiday has probably the most creative vibe and even the smallest details transform into unique art objects. It\'s a great chance to express your ideas and to become someone else for a day.',
            tags: ['#discount', '#promo', '#helloween']
        },
        {
            picture: '3',
            name: 'Guide to Writing Research Papers in APA Style',
            text: 'MLA style refers to a method of writing research papers recommended by the Modern Language Association. The style is used when writing about Philosophy, History and some areas of Humanities.',
            tags: ['#research paper writing', '#research paper', '#research paper format']
        },
        {
            picture: '4',
            name: 'Winter Sale from GrabMyEssay.com',
            text: 'It’s almost Christmas and everyone’s getting ready for the celebrations. There are more and more fairy lights on the streets, old jazzy music in every shop, Harry Potter and Home Alone films on the TV.',
            tags: ['#christmas', '#new year', '#discount', '#promo', '#sale']
        },
        {
            picture: '5',
            name: 'How to Write a Good Argumentative Essay Introduction',
            text: 'When your professor assigned it to you, you may have had the urge to debate on the intricacies of an argumentative essay. What is it? Why do you need to write it? And how are you going to accomplish it?',
            tags: ['#argumentative essay', '#writing tips', '#essay writing']
        },
        {
            picture: '6',
            name: 'Thanksgiving Sale',
            text: 'Thanksgiving is a great opportunity to express your gratitude to everyone you care about. For us it’s just another way to say “thank you” to all of our customers.',
            tags: ['#thanksgiving', '#promo', '#sales', '#discounts']
        }
    ]
= '\n'
// blog
.blog
    .blog__title Blog
    .blog__list
        each item in blog
            .blog__item
                .blog__picture(style='background-image: url(assets/data/' + item.picture + '.png)')
                .blog__content
                    .blog__name= item.name
                    .blog__text= item.text
                    img.blog__image(src='assets/data/' + item.picture + '.png' alt='')
                    .blog__tags
                        each val in item.tags
                            .blog__tag= val
    .blog__paginator
        include _paginator.pug

// end blog
= '\n'