= '\n'
// calculator
section.calculator
    .container
        .calculator__wrapper
            .calculator__caption
                h2.calculator__title Brief and to the Point
                h6.calculator__subtitle The best essay writing company on the market
                .calculator__img(style='background: url(../../assets/img/calculator.png) no-repeat top right;')
            form.calculator__form
                .calculator__box
                    .calculator__checkbox
                        input.calculator__input(type='checkbox' id='new_member_discount' checked='checked')
                        label.calculator__check(for='new_member_discount')
                        label.calculator__text(for='new_member_discount') I’m a new customer <span>(15% OFF)</span>
                .calculator__box
                    .calculator__field.f_group.currency
                        label.calculator__label Select currency
                        .calculator__item.currency_check.clearfix
                            input(type='radio' name='currency' id='currency_USD' checked='checked')
                            label(for='currency_USD') USD
                            input(type='radio' name='currency' id='currency_GBP')
                            label(for='currency_GBP') GBP
                            input(type='radio' name='currency' id='currency_EUR')
                            label(for='currency_EUR') EUR
                            input(type='radio' name='currency' id='currency_CAD')
                            label(for='currency_CAD') CAD
                            input(type='radio' name='currency' id='currency_AUD')
                            label(for='currency_AUD') AUD
                    .calculator__field.f_group
                        label.calculator__label.f_label Type of paper
                        .calculator__item.f_select
                            select
                                option Essay
                                option Essay
                    .calculator__field.f_group
                        label.calculator__label.f_label Type of service
                        .calculator__item.f_select
                            select
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                                option Academic paper writing
                    .calculator__field.f_group
                        label.calculator__label.f_label Academic level
                        .calculator__item.f_select
                            select
                                option Hight school
                                option Hight school
                                option Hight school
                                option Hight school
                    .calculator__field.f_group.pages
                        label.calculator__label Pages *825 words
                        .calculator__item.spin_edit_wrapper
                            input(type='text')
                    .calculator__field.f_group
                        label.calculator__label.f_label Urgency
                        .calculator__item.f_select
                            select
                                option 14 days
                                option 14 days
                .calculator__box
                    .calculator__field
                        button.calculator__button.button Proceed to Order
                    .calculator__field
                        .calculator__label Total price
                        .calculator__item
                            .calculator__total
                                span#symbol.symbol $
                                span#total.white 12
                                span#cent.cent .99
// end calculator
= '\n'
