= '\n'
// choose
.choose
    h5.choose__title why choose us
    .choose__text
        ol
            li Years of writing experience
            li Satisfaction rate over 93%
            li 3-hour delivery option
            li Free revisions
            li Communication with your writer
            li Wide range of services
            li 24/7 Customer Support
            li Guaranteed original product
// end choose
= '\n'
