= '\n'
//= Cookies =

.cookies.--hide
    .cookies__wrapper
        img(src='../../assets/img/cookies.png' alt='')
        p
            | We use cookies to personalize your experience. By counting to visit this website you agree to our use of cookis.
            a.cookies__link(href='javascript:void(0);')
                | Read More
        a.cookies__button.button.button--dark
            | Agree
//= End cookies =
= '\n'
