= '\n'
// faq
section.faq
    h2.faq__title Frequently Asked Questions
    .faq__subtitle
        h3.faq__subtitle-item.bg-pink grabmyessay.com offers to evaluate samples of various types of papers
    .faq__content
        .faq__item
            .faq__name
                h4.faq__name-title What is GrabMyEssay.com?
                span.faq__name-icon
            .faq__value(style='display: none')
                p.
                    It is a professional writing service that specializes in all types of academic writing,
                    for students from high school through graduate study. Such writing may include essays, research papers,
                    analyses, case studies, lab reports, book reviews, presentations, research projects, literature reviews,
                    theses, dissertations, and admissions/scholarship essays. It is our mission to promote academic success
                    by providing students with superior research and writing, produced by exceptional writers and editors,
                    each of whom has specific academic credentials related to the content fields in which they write.
                p.
                    In addition to academic writing, provides a wide variety of other writing – resumes, CV’s, articles,
                    blog posts, website copy, and a full range of business-related products – proposals, presentations,
                    and reports. Anyone whois concerned about their own writing skills should contact us for exceptional assistance.

        .faq__item
            .faq__name
                h4.faq__name-title What if I am not satisfied with the final draft I receive?
                span.faq__name-icon
            .faq__value(style='display: none')
                p.
                    text
        .faq__item
            .faq__name
                h4.faq__name-title Can I speak directly with my writer?
                span.faq__name-icon
            .faq__value(style='display: none')
                p.
                    text
        .faq__item
            .faq__name
                h4.faq__name-title What if I am not satisfied with the final draft I receive?
                span.faq__name-icon
            .faq__value(style='display: none')
                p.
                    text
        .faq__item
            .faq__name
                h4.faq__name-title What is GrabMyEssay.com?
                span.faq__name-icon
            .faq__value(style='display: none')
                p.
                    text
// end faq
= '\n'
