= '\n'
// features
.features
    h5.features__title free features
    .features__text
        ul
            li Revision upon request
            li Reference page
            li Title page
            li Table of contents
            li Originality check
            li 24/7 custom support
    .features__footer
        .features__total
            .features__total-label Total savings:
            sup.features__total-symbol $
            .features__total-price 85
        .features__field
            .features__button.button.button--dark Proceed to Order
// end features
= '\n'
