= '\n'
// header
header.header
    .header__wrapper.container.container--fluit
        .header__logo
            include _logo.pug
        .header__nav.header__nav--close
            include _navigation.pug
        .header__relations
            include _relations.pug
        .header__cabinet(style='display: none;')
            include _cabinet.pug
        .header__enter
            include _enter.pug
        a.header__button(href='#')
            span.header__button-line
// end header
= '\n'
