= '\n'
// notfound
.notfound
    .notfound__picture
        img.notfound__image(src='assets/img/404.svg' alt='')
    .notfound__title 404
    .notfound__subtitle Looks like page is not found! Sorry…
    .notfound__text Contact our <a href="#">Support team</a> if you have any<br> questions or need any help.
    .notfound__action
        a.notfound__button.button.button--dark(href='#') Back Home
// end notfound
= '\n'