= '\n'
// payment
.payment
    .payment__item
        img.payment__image(src='assets/img/paypal.svg' alt='PayPal')
    .payment__item
        img.payment__image(src='assets/img/visa.svg' alt='Visa')
    .payment__item
        img.payment__image(src='assets/img/mastercard.svg' alt='MasterCard')
    .payment__item
        img.payment__image(src='assets/img/americanexpress.svg' alt='American Express')
    .payment__item
        img.payment__image(src='assets/img/discover.svg' alt='Discover Network')
// end payment
= '\n'