= '\n'
// recent
.recent
    .recent__title Recent posts
    ul.recent__list
        li.recent__item Want to have fun instead of а college paper?
        li.recent__item Halloween discounts!
        li.recent__item Guide to Writing Research Papers in APA Style
        li.recent__item Guide to Writing Research Paper in MLA Style
        li.recent__item Winter Sale from GrabMyEssay.com
    .recent__title Categories
    ul.recent__list
        li.recent__item Study
        li.recent__item Writing
// end recent
= '\n'