= '\n'
// safe
section.safe
    .safe__wrapper
        p.safe__text.
            <b>We at GrabMyEssay.com</b> <br>
            work according to the General Data Protection Regulation (GDPR), which means you have the control over your personal data.<br>
            All payment transactions go through a secure online payment system, thus your Billing information is not stored, saved or available to the Company in any way.<br>
            Additionally, we guarantee confidentiality and anonymity all throughout your cooperation with our Company.
// end safe
= '\n'
