= '\n'
// security
.security
    .security__title Privacy & Security
    .security__data
        .security__text No one will ever know whether you used our services. We are bounded with non-disclosure agreement - your Privacy is first and foremost.
        .security__content
            .security__item
                .security__icon
                    img.security__image(src='assets/img/pic1.png')
                .security__name BEST QUALITY
                .security__description ・SATISFACTION GUARANTEED・
            .security__item
                .security__icon
                    img.security__image(src='assets/img/pic2.png')
                .security__name BEST CHOICE
                .security__description ・GUARANTEED・
// end security
= '\n'
