= '\n'
// section
//- (source/assets/style/modules/_always.scss)
//- (ource/assets/style/modules/_section.scss)

- modifierSection = (always) ? 'always' : ''

section.section(class= modifierSection)
    .section__wrap
        .section__content
            if (always)
                h3.section__title we always <br> meet customer needs
            if (services)
                h4.section__title Services Matter
            if (discounts)
                h4.section__title “Sweeten the pot”  Discounts

            if (always)
                hr

            .section__text
                if (always)
                    p.
                        Most people think that online writing websites offer only academic paper and essay writing. Indeed, we produce overwhelming significant amount of this writing. If you have a unique or rare writing need that may not be listed below, please contact us – we know we can help you. We provide a comprehensive array of writing services including:
                    ul
                        li High School  and college essays
                        li Research papers from the High School  through graduate school levels
                        li Theses and Dissertations – either in part or whole
                        li Business reports, presentations, and marketing materials, profiles
                        li Resumes and CVs
                        li Articles, blogs, and website content
                        li Proofreading, editing, re-writing
                if (services)
                    p.
                        Not all essay writing services are created equal. Yes, all of them have paper and essay writers, and many of them offer a wide array of products and services. What you get Grab My Essay.com, however, is more than someone writing an essay for you.<br>
                        Consider the following:
                    ol
                        li Our aim is to have complete Customer satisfaction
                        li Our essay writers have academic backgrounds that cannot be matched anywhere else
                        li We employ Customer Service available 24 hours a day
                        li Business reports, presentations, and marketing materials, profiles
                        li Complete confidentiality – your personal information will never be shared
                        li Guarantee of originality – all writing is subjected to a sophisticated plagiarism detector
                        li We are committed to transparency and open communication
                if (discounts)
                    p.
                        Our liberal discount policies and promotions make using our service far simpler than one might expect. You will always fit into at least one of our discount categories and you will always be eligible to participate in our regular promotional pricing benefits for GrabMyEssay.com essay writing service. In general, you can expect the following:
                    ul
                        li Regular and seasonal promotional discounts, up to 15% in most instances.
                        li First-time Customers always receive a 15% “New Customer” discount
                        li We reward loyalty with progressive discounts based upon number of orders placed
                        li Lifetime discounts are given to the Customers who, through the number

        .section__side
            if (always)
                include _features.pug
            if (services)
                include _choose.pug
            if (discounts)
                include _prices.pug
// end section
= '\n'
