= '\n'
// step
section.step
    .container
        .step__wrap
            .step__side
                h2.step__title How it Works
            .step__content
                .step__item(data-step='1.') Submit<br> information
                .step__item(data-step='2.') Make<br> a payment
                .step__item(data-step='3.') Get a writer<br> assigned
                .step__item(data-step='4.') Approve<br> and download
// end step
= '\n'
