= '\n'
// testimonials
section.testimonials
    h3.testimonials__title what clients say about us
    .testimonials__rating
        span Our Customers Rated Us <b>Great
        include _rate.pug
        span 5.0</b> Out of 5 Based on <em>106 Reviews</em>
    .testimonials__content
        .testimonials__arrows
            .testimonials__arrow.testimonials__arrow--prev
            .testimonials__arrow.testimonials__arrow--next
        .testimonials__list
            .testimonials__item
                .testimonials__wrap
                    .testimonials__top
                        .testimonials__quote
                        .testimonials__ratio
                            include _ratio.pug
                    .testimonials__text.
                        My GPA is 4.0 and I’ve always been doing everything myself, but there is a class which I was about to fail thus my GPA would decrease first time in so many years. I ordered few assignments to be completed with GrabMyEssay.com and you did a great job! Thanks to you I still remain one of the best students on campus.
                    .testimonials__bottom <span>Rosalinda, Mexico</span> Essay・Politics・8 pages・5 days・Junior
            .testimonials__item
                .testimonials__wrap
                    .testimonials__top
                        .testimonials__quote
                        .testimonials__ratio
                            include _ratio.pug
                    .testimonials__text.
                        My GPA is 4.0 and I’ve always been doing everything myself, but there is a class which I was about to fail thus my GPA would decrease first time in so many years. I ordered few assignments to be completed with GrabMyEssay.com and you did a great job! Thanks to you I still remain one of the best students on campus.
                    .testimonials__bottom <span>Rosalinda, Mexico</span> Essay・Politics・8 pages・5 days・Junior
            .testimonials__item
                .testimonials__wrap
                    .testimonials__top
                        .testimonials__quote
                        .testimonials__ratio
                            include _ratio.pug
                    .testimonials__text.
                        My GPA is 4.0 and I’ve always been doing everything myself, but there is a class which I was about to fail thus my GPA would decrease first time in so many years. I ordered few assignments to be completed with GrabMyEssay.com and you did a great job! Thanks to you I still remain one of the best students on campus.
                    .testimonials__bottom <span>Rosalinda, Mexico</span> Essay・Politics・8 pages・5 days・Junior
        .testimonials__nav
    .testimonials__field
        .testimonials__button.button.button--light View all Testimonials
// end testimonials
= '\n'
