include vars/_variable.pug

//= Works =
.works
    .works__description Колектив ТЦ "ЗЛАТА ПЛАЗА" постійно збільшується і вдосконалюється. Ми готові взяти у команду нового фахівця, який разом із нами буде працювати над удосконаленням торгового центру. Наразі у нас немає вакансій, але Ви можете заповнити форму, щоб ми могли з вами сконтактуватися, як тільки з'явиться вільна посада

    //= Form =
    form.main-form(action='' method='post')
        .main-form__content
            .main-form__box
                .main-form__field
                    .main-form__title Прізвище
                    input.main-form__text(type='text')

                .main-form__field
                    .main-form__title Прізвище
                    input.main-form__text(type='text')

                .main-form__field
                    .main-form__title По батькові
                    input.main-form__text(type='text')

                .main-form__field
                    .main-form__title Електронна пошта
                    input.main-form__text(type='text' placeholder='zlata plaza@com.ua')

                .main-form__field
                    .main-form__title Телефон
                    input.main-form__text(type='text' placeholder='Наприклад: +3 096 123-45-67')

                .main-form__field
                    .main-form__title Відділ у якому Ви хочете працювати

                    .main-form__checkbox
                        .main-form__checkbox-row
                            .main-form__checkbox-item
                                label
                                    input.main-form__checkbox-input(type='checkbox')
                                    i.main-form__checkbox-icon
                                    .main-form__checkbox-text Клінінг

                            .main-form__checkbox-item
                                label
                                    input.main-form__checkbox-input(type='checkbox')
                                    i.main-form__checkbox-icon
                                    .main-form__checkbox-text Технічна служба

                            .main-form__checkbox-item
                                label
                                    input.main-form__checkbox-input(type='checkbox')
                                    i.main-form__checkbox-icon
                                    .main-form__checkbox-text Охорона

                            .main-form__checkbox-item
                                label
                                    input.main-form__checkbox-input(type='checkbox')
                                    i.main-form__checkbox-icon
                                    .main-form__checkbox-text Бухгалтерія

                        .main-form__checkbox-row
                            .main-form__checkbox-item
                                label
                                    input.main-form__checkbox-input(type='checkbox')
                                    i.main-form__checkbox-icon
                                    .main-form__checkbox-text Маркетинг

                            .main-form__checkbox-item
                                label
                                    input.main-form__checkbox-input(type='checkbox')
                                    i.main-form__checkbox-icon
                                    .main-form__checkbox-text Оренди

                            .main-form__checkbox-item
                                label
                                    input.main-form__checkbox-input(type='checkbox')
                                    i.main-form__checkbox-icon
                                    .main-form__checkbox-text HR

                        .main-form__checkbox-item.main-form__checkbox-item--input
                            label
                                input.main-form__checkbox-input(type='checkbox')
                                i.main-form__checkbox-icon
                                .main-form__checkbox-text Інше

                            .main-form__checkbox-input-text
                                input.main-form__text(type='text')

            .main-form__box
                .main-form__field
                    .main-form__title Освіта
                    input.main-form__text(type='text')

                .main-form__field
                    .main-form__title Досвід роботи
                    textarea.main-form__textarea(cols='30' rows='5')

                .main-form__field
                    .main-form__title Бажана посада
                    input.main-form__text(type='text')

                .main-form__field
                    .main-form__title Навички та досягнення
                    textarea.main-form__textarea(cols='30' rows='5')

                .main-form__field
                    .main-form__title Додаткова інформація, яку нам важливо про Вас знати
                    textarea.main-form__textarea.main-form__textarea--small(cols='30' rows='5')


            .main-form__box
                button.main-form__button Відправити запит
    //= End form =
//= end works =
= '\n'
