.menu {
    h3 {
        margin: 0;
        font-size: $fontSizeBase;
        font-weight: 800;
    }
    a {
        text-decoration: none;
        font-weight: 400;
        font-size: $fontSizeBase;
        color: $grayDark;
        &:hover {
            text-decoration: underline;
        }
    }
    &:not(:last-child) {
        display: none;
    }
    &:last-child {
        ul {
            li {
                &:first-child {
                    position: relative;
                    &:before {
                        content: '';
                        width: 18px;
                        height: 22px;
                        position: absolute;
                        background: url(../images/geo.svg)no-repeat;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -25px;
                    }
                }
                &:nth-child(2) {
                    position: relative;
                    &:before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        background: url(../images/phone.svg)no-repeat;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -25px;
                    }
                }
                &:nth-child(3) {
                    position: relative;
                    &:before {
                        content: '';
                        width: 17px;
                        height: 13px;
                        position: absolute;
                        background: url(../images/mail.svg)no-repeat;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -25px;
                    }
                }
            }
        }
    }
    @media (min-width: 1024px) {
        &:not(:last-child) {
            display: block;
        }
    }
}
