//- Utility

include utils/_variable.pug

-
    pageTitle = '404'

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout.layout--minimal

            //= Main =
            main#main.main
                .container
                    .layout-box
                        include module/_page404.pug

            //= End main =
            = '\n'

            #shadow

        //= End layout =

        include layout/_sprite.pug
        include layout/_scripts.pug
