//- Utility

include utils/_variable.pug

-
    pageTitle = 'news-inner'
    headerInner = true
    searchList = true
    slick = true

    breadcrumbItems = breadcrumbNewsInnerItems


doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout
            include layout/_header.pug

            //= Main =
            main#main.main
                .container
                    .layout-box
                        include module/_breadcrumb.pug
                        .layout-box__text
                            section.__base
                                each prop in newsCartsInnerItem
                                    include module/_news.pug
                                .text
                                    h1 «AQUA SOFT»

                                    p ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для производства всех видов воды. Уникальное месторождение чистой питьевой воды ТМ «Эталон» глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического горизонта.
                                    p На такой глубине вода защищена шарами влагоустойчивой глины и гранита, а также магнитным шаром Земли, она не участвует в круговороте воды в природе, поэтому наличие в ней промышленных и радиационных загрязнений полностью исключено.
                                    p ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для производства всех видов воды. Уникальное месторождение чистой питьевой воды ТМ «Эталон» глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического горизонта.
                                    p На такой глубине вода защищена шарами влагоустойчивой глины и гранита, а также магнитным шаром Земли, она не участвует в круговороте воды в природе, поэтому наличие в ней промышленных и радиационных загрязнений полностью исключено.

                                    include module/_slider.pug

                                    h2 Артезианская вода

                                    p ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для производства всех видов воды. Уникальное месторождение чистой питьевой воды ТМ «Эталон» глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического горизонта.
                                    p На такой глубине вода защищена шарами влагоустойчивой глины и гранита, а также магнитным шаром Земли, она не участвует в круговороте воды в природе, поэтому наличие в ней промышленных и радиационных загрязнений полностью исключено.
                                    p ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для производства всех видов воды. Уникальное месторождение чистой питьевой воды ТМ «Эталон» глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического горизонта.

                                    h2 Артезианская вода

                                    ul
                                        li ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для. Глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического
                                        li Производства всех видов воды. Уникальное месторождение чистой питьевой воды TМ «Эталон»
                                        li Глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического. Глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического

                                    ol
                                        li ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для
                                        li Производства всех видов воды. Уникальное месторождение чистой питьевой воды TМ «Эталон»
                                        li Глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического. Глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического
                                        li ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для
                                        li Производства всех видов воды. Уникальное месторождение чистой питьевой воды TМ «Эталон». Глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического
                                        li Глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического

                                    blockquote Осінній вітре, що могучим стоном  Над лісом стогнеш, мов над сином мати, Що хмари люто гониш небосклоном, Мов хочеш зиму, сон і смерть прогнати; Що у щілинах диким виєш тоном І рвеш солому із сільської хати, Зів’яле листя гоном-перегоном По полю котиш, – вітре мій крилатий! Я довго пильно слухав стону твого І знаю, чом так стогнеш ти і плачеш: Тобі жаль сонця, цвіту, дня літнього! О вітре-брате! Як мене побачиш Старим, зів’ялим, чи й по мні заплачеш, Чи гнівно слід буття завієш мого?..
                                        cite Іван Франко

                                    h2 Артезианская вода

                                    p ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для производства всех видов воды. Уникальное месторождение чистой питьевой воды ТМ «Эталон» глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического горизонта.
                                    p На такой глубине вода защищена шарами влагоустойчивой глины и гранита, а также магнитным шаром Земли, она не участвует в круговороте воды в природе, поэтому наличие в ней промышленных и радиационных загрязнений полностью исключено.
                                    p ТМ «Эталон» - артезианская вода из недр земли, которая является основным сырьем для производства всех видов воды. Уникальное месторождение чистой питьевой воды ТМ «Эталон» глубиной 323 м относится к водам глубоких шаров залегания Юрского геологического горизонта.
                            .layout-box__news.__lift.__right
                                h2 Схожі публікації
                                .layout-box__news-inner
                                    each prop in newsCartsItems
                                        include module/_news.pug

            //= End main =
            = '\n'

            #shadow

        //= End layout =

        include layout/_footer.pug
        include module/_mobile-menu.pug
        include layout/_sprite.pug
        include layout/_scripts.pug
