//- Utility
include utils/_variable.pug

-
    pageTitle = 'conditions'
    magnificPopup = true
    breadcrumbs = [{name: 'На головну'},{name: 'Доставка і оплата', active: true}]

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout

            include layout/_aside.pug

            //= Main =
            main#main.main
                include layout/_navigation.pug

                .container
                    .layout__box.layout__box--conditions
                        include module/_breadcrumb.pug

                        h1 Умови доставки і оплати

                        section
                            table
                                tr
                                    td Оплата
                                tr
                                    td Оплата за автомобілі проводиться у зручний для клієнтів спосіб:
                                tr
                                    td
                                        img(src='data/conditions/cash.svg' alt='')
                                        |Готівка
                                tr
                                    td
                                        img(src='data/conditions/cashless.svg' alt='')
                                        |Безготівковий перерахунок із ПДВ
                                tr
                                    td
                                        img(src='data/conditions/credit.svg' alt='')
                                        |Купівля в кредит або лізинг

                            table
                                tr
                                    td Доставка
                                tr
                                    td Всі наші автомобілі розмитнені і знаходяться в Україні в м.Рівне. Пропонуємо обрати один зі зручних способів отримання придбаних авто:
                                tr
                                    td
                                        img(src='data/conditions/pickup.svg' alt='')
                                        |Самовивіз з м. Рівне
                                tr
                                    td
                                        img(src='data/conditions/map.svg' alt='')
                                        |Перегон у будь-яке місто за потребою клієнта (за додаткову оплату)
                                tr
                                    td


            //= End main =

            #shadow

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug



