//- Utility
include utils/_variable.pug

-
    pageTitle = 'order-parts'

    magnificPopup = true
    magnificPopupGallery = true
    select2 = true
    magnificPopup = true
    breadcrumbs = [{name: 'На головну'}]

doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout

            include layout/_aside.pug

            //= Main =
            main#main.main
                include layout/_navigation.pug

                .container
                    .layout__box
                        include module/_breadcrumb.pug
                        section.title-left
                            h2 оформлення замовлення

                            form.layout__box-parts(id='' action='#' method='post')
                                - for (var i = 0; i < 2; i++)
                                    include module/_cart-item.pug
                                h3 Доставка
                                .form-group.border
                                    label «Нова пошта»
                                        input(type='radio', name='delivery' checked)
                                    p Доставка за допомогою сервісу доставки «Нова пошта»

                                    - addressItems = addressDelivery

                                        include module/_address.pug
                                .form-group.border
                                    label Самовивіз
                                        input(type='radio', name='delivery')
                                    p Зручний, безкоштовний і швидкий спосіб отримання замовлення.
                                    p Адрес магазину: м.Рівне, кільцева дорога (або 333-й км траси Чоп-Київ E40)

                                include module/_coordinates.pug


            //= End main =

            #shadow

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug

