//- Utility
include utils/_variable.pug

-
    pageTitle = 'page404'
    map = true
    magnificPopup = true
    breadcrumbs = [{name: 'На головну'}]


doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout

            include layout/_aside.pug

            //= Main =
            main#main.main
                include layout/_navigation.pug

                .container
                    .layout__box

                        section.layout__box-page404
                            img(src="data/404/404.png", alt="")
                            h1 Ой-ой! Схоже, щось пішло не так!
                            span Ми прикладемо максимум зусиль для ремонту.






            //= End main =

            #shadow

        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug



