include vars/_variable.pug

= '\n'
//= Menu =
.menu
    .row

        each val in menu
            .menu__container
                ul.menu__list

                    each list in val.list
                        li.menu__item
                            a.menu__link(href='#')= list

//= End menu =
= '\n'
