include vars/_variable.pug

= '\n'
//= Subscribe =
.subscribe
    .subscribe__text Підписатись на розсилку:

    form.subscribe__form(action='' method='post')
        input.subscribe__form-text(type='text' placeholder='e-mail...')
        button.subscribe__form-button
//= End subscribe =
= '\n'
