/* gilroy */
@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/Gilroy/gilroy-bold.woff2') format('woff2'),
         url('../fonts/Gilroy/gilroy-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'gilroyregular';
    src: url('../fonts/Gilroy/gilroy-regular.woff2') format('woff2'),
         url('../fonts/Gilroy/gilroy-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'gilroysemibold';
    src: url('../fonts/Gilroy/gilroy-semibold.woff2') format('woff2'),
         url('../fonts/Gilroy/gilroy-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
