= '\n'
//= account =
//- (source/assets/css/module/_account.scss)
.account
    .container
        .account__wrapper
            include _account-menu.pug
            include _account-info.pug
//= End account =
= '\n'
