= '\n'
//= advantages =
//- (source/assets/css/layout/_advantages.scss)
.advantages
    each item in advantages
        a(href='javascript:void(0)').advantages__block
            .advantages__image
                img(src="data/advantages/" + item.image, alt="")
            h3= item.value
            p= item.text

//= End advantages =
= '\n'
