= '\n'
//= basket-table =
//- (source/assets/css/module/_basket-table.scss)

.basket-table
     .container
        - var titleInfo ='Кошик'
        include _title-block.pug
        .basket-table__wrapper
            .basket-table__header
                .basket-table__cell.basket-table__cell--name Товар
                .basket-table__adaptive
                    .basket-table__cell.basket-table__cell--price Ціна
                    .basket-table__cell.basket-table__cell--quantity Кількість
                    .basket-table__cell.basket-table__cell--area Реальна площа
                        span.info i
                            span.hint Lorem ipsum
                .basket-table__cell.basket-table__cell--sum Сума
                .basket-table__cell.basket-table__cell--remove

            -for(var i = 0; i < 3; i++)
                .basket-table__list
                    .basket-table__cell.basket-table__cell--name
                        a.basket-table__picture(href='#')
                            img.basket-table__image(src='data/product-card/3.png' alt='')
                        .basket-table__links
                            a(href='#') Linen Blanco
                            a(href='#') Плитка для підлоги
                    .basket-table__adaptive
                        .basket-table__cell.basket-table__cell--price
                            .basket-table__price
                                span.basket-popup__old 550грн.
                                span.basket-popup__current 370 грн. /м<sup>2</sup>

                        .basket-table__cell.basket-table__cell--quantity
                            include _quantity.pug

                        .basket-table__cell.basket-table__cell--area
                            span 1.72 м2

                    .basket-table__cell.basket-table__cell--sum
                        span 570 грн.

                    .basket-table__cell.basket-table__cell--remove
                        span

            .basket-table__total
                .basket-table__continue
                    a(href='javascript:void(0)') Продовжити покупки
                button.button(disabled) Оформити замовлення
                p Загальна сума
                    span 2100 грн.
//= End basket-table =
= '\n'
