= '\n'
//= blog-page =
//- (source/assets/css/module/_blog-page.scss)
if (page == 'blog')
    .blog-page
        .container
            - var titleInfo = 'Останні статті'
            include _title-block.pug
            .blog-page__wrapper
                .blog-page__main
                    include _blog-news.pug
                    .blog-page__block
                        - for(var i = 0; i < 2; i++)
                            include _blog-news.pug
                    include _pagination.pug
                .blog-page__aside
                    a(href='javascript:void(0)') Всі товари
                    .product-bottom__slider
                        - for(var i = 0; i < 6; i++)
                            include _product-card.pug
                    .blog-page__wrap
                        .blog-page__tags
                            - var titleInfo = 'Топ тегів'
                            include _title-block.pug
                            include _top-tags.pug
                        .blog-page__mail
                            - var titleInfo = 'Підписка на новини'
                            include _title-block.pug
                            include _mail-send.pug
else
    .blog-page
        .container
            .blog-page__wrapper
                .blog-page__main
                    include _blog-news.pug
                .blog-page__aside.blog-page__aside--inner
                    a(href='javascript:void(0)') Всі товари
                    .product-bottom__slider
                        - for(var i = 0; i < 6; i++)
                            include _product-card.pug
                    .blog-page__wrap
                        .blog-page__tags
                            - var titleInfo = 'Топ тегів'
                            include _title-block.pug
                            include _top-tags.pug
                        .blog-page__mail
                            - var titleInfo = 'Підписка на новини'
                            include _title-block.pug
                            include _mail-send.pug

//= End blog-page =
= '\n'
