= '\n'
//= blog-news =
//- (source/assets/css/module/_blog-news.scss)
if (page == 'blog')
    .blog-news
        a.blog-news__link(href='blog-inner.html')
            .blog-news__image
                img(src="data/blog/image.png", alt="")
            h2 Прихильники вінтажу оцінять: 5 колекцій керамічної плитки у вінтажному стилі
        .blog-news__bottom
            .blog-news__date 16.02.2019
            .blog-news__filters
                a(href='javascript:void(0)') Плитка
                a(href='javascript:void(0)') Туалет
else
    .blog-news
        .blog-news__link
            h2 Прихильники вінтажу оцінять: 5 колекцій керамічної плитки у вінтажному стилі
            .blog-news__bottom
                .blog-news__date 16.02.2019
                .blog-news__filters
                    a(href='javascript:void(0)') Плитка
                    a(href='javascript:void(0)') Туалет
            .blog-news__image
                img(src="data/blog/image.png", alt="")
    .text
        p Затирку для швів краще купувати разом із плиткою. Чому? Річ у тому, що кольорів і відтінків багато, і відповідний відтінок варто підбирати відразу. Адже по пам’яті може бути потім складно знайти правильний відтінок. Завдання затирки — не тільки зробити вигляд плитки більш привабливим і завершеним, а й захистити від зовнішніх впливів (перепади температур, підвищена вологість, агресивні середовища).
        p
            strong Як вибрати матеріал?
        p.
            Вибирати затирку можна за кількома критеріями. Один із них — склад суміші. Сьогодні великий попит мають цементні затирки. Вони складаються безпосередньо з цементу, пігменту і спеціальних добавок. Основні переваги такого виду — приємна ціна і простота застосування. Але є й недолік — з часом вона може темніти, до того ж такий склад не відрізняється високою вологостійкістю.
        p.
            Затирка для швів. Яку вибрати?
            04 березня 2019 64
            Затирка для швів. Яку вибрати?
            Затирку для швів краще купувати разом із плиткою. Чому? Річ у тому, що кольорів і відтінків багато, і відповідний відтінок варто підбирати відразу. Адже по пам’яті може бути потім складно знайти правильний відтінок
            Завдання затирки — не тільки зробити вигляд плитки більш привабливим і завершеним, а й захистити від зовнішніх впливів (перепади температур, підвищена вологість, агресивні середовища).
            Як вибрати матеріал?
            Вибирати затирку можна за кількома критеріями. Один із них — склад суміші.
        p.
            Сьогодні великий попит мають цементні затирки. Вони складаються безпосередньо з цементу, пігменту і спеціальних добавок. Основні переваги такого виду — приємна ціна і простота застосування. Але є й недолік — з часом вона може темніти, до того ж такий склад не відрізняється високою вологостійкістю. Наступний вид — двокомпонентні епоксидні суміші. Вони знайшли широке застосування для затирання плитки у ванних кімнатах, під час облицюванні терас і басейнів. Завдяки своїй вологостійкості й міцності, вони прекрасно переносять різні зовнішні впливи, перепади температур, довго зберігають колір. Гарна еластичність робить їх зручними для застосування в основах які схильні до деформації. Якщо говорити про мінуси, то епоксидні затирки коштують дорожче і вимагають певних навичок роботи з ними.
        p
            strong Як визначити витрату матеріалу?
        ul
            li Кількість плитки
            li Розмір швів
            li Квадратура поверхні
//= End blog-news =
= '\n'
