= '\n'
//= bottom-slider =
//- (source/assets/css/layout/_bottom-slider.scss)
.bottom-slider
    .container
        .product-bottom__block
            - var titleInfo = 'Вам може знадобитись'
            include _title-block.pug
            .product-bottom__slider
                - for(var i = 0; i < 12; i++)
                    include _product-card.pug
//= End bottom-slider =
= '\n'
