= '\n'
//= brands =
//- (source/assets/css/module/_brands.scss)
.brands
    - var titleInfo= 'Бренди'
    include _title-block.pug
    .brands__wrapper
        - for (var i = 0; i < 2; i++)
            each item in brands
                a.brands__logo(href='javascript:void(0)')
                    img(src="data/brands/" + item, alt="")
//= End brands =
= '\n'
