= '\n'
//= brands-page =
//- (source/assets/css/module/_brands-page.scss)
.brands-page
    .container
        - var titleInfo = 'Бренди'
        include _title-block.pug
        .brands-page__wrapper
            .catalog-content__filters
                a.filters__close(href='javascript:void(0)')
                include _filters-menu.pug
            .brands-page__logos
                -for (var i = 0; i < 2; i++)
                    each item in brandsLogo
                        a.brands-page__image
                            .brands-page__picture
                                img(src="data/logos/" + item.image, alt="")
                            span= item.name
        .device-bottom
            .device-bottom__menu
                .device-bottom__item
                    a.device-bottom__link#filter_device_btn(href='javascript:void(0)') Фільтр

//= End brands-page =
= '\n'
