= '\n'
//= Breadcrumbs
//-=(module/_breadcrumbs.scss)=
.breadcrumbs
    .container
        ul.breadcrumb
            - for (let i = 0; i < breadcrumbs.length; i++)
                if (i < breadcrumbs.length - 1)
                    li
                        a(href='#')= breadcrumbs[i]
                else
                    li.active= breadcrumbs[i]

//= End breadcrumbs
= '\n'
