= '\n'
//= catalog-content =
//- (source/assets/css/layout/_catalog-content.scss)
if (pageTitle == 'Каталог продукції')
    .catalog-content
        .container
            .catalog-content__head
                - var titleInfo= pageTitle
                include _title-block.pug
                .catalog-content__bookmarks
                    each item in bookmarksItem
                        .catalog-content__item
                            span= item
                            a(href='#')
                ul.catalog-content__sort.arrow#sort
                    each item in sortItems
                        li
                            a(href='#' class= item.class)= item.name
            .catalog-content__wrapper
                .catalog-content__filters
                    a.filters__close(href='javascript:void(0)')
                    include _filters-menu.pug
                .catalog-content__assortment
                    - for (var i = 0; i < 20; i++)
                        include _product-card.pug
                    include _pagination.pug
            include _device-bottom.pug
if (pageTitle == 'Колекції')
    .catalog-content
        .container
            .catalog-content__head
                - var titleInfo= pageTitle
                include _title-block.pug
                .catalog-content__bookmarks
                    each item in bookmarksItem
                        .catalog-content__item
                            span= item
                            a(href='#')
                ul.catalog-content__sort.arrow#sort
                    each item in sortItems
                        li
                            a(href='#' class= item.class)= item.name
            .catalog-content__wrapper
                .catalog-content__filters
                    a.filters__close(href='javascript:void(0)')
                    include _filters-menu.pug
                .catalog-content__assortment
                    - for (var i = 0; i < 2; i++)
                        include _collection.pug
                    include _pagination.pug
            include _device-bottom.pug
//= End catalog-content =
= '\n'


