= '\n'
//= collection-item =
//- (source/assets/css/module/_collection-item.scss)
a(href='#0').collection-item
    .collection-item__image
        img(src="data/collections/1.png", alt="")
    h3 Abrila Grafit мозаика стеклянная
    p Atlanta
    span.favorites
//= End collection-item =
= '\n'
