= '\n'
//= collection =
//- (source/assets/css/module/_collection.scss)
.collection
    .collection__big
        include _collection-block.pug
    .collection__small
        .collection__item
            include _collection-block.pug
        .collection__item
            include _collection-block.pug
//= End collection =
= '\n'
