= '\n'
//= collection-block =
//- (source/assets/css/nodule/_collection-block.scss)
a.collection-block(href='collection-inner.html')
    span.favorites.--active
    img(src="data/collections/2.png", alt="")
    .collection-block__bottom
        .collection-block__descript
            .collection-block__name
                span Quadrant Multi
                span New
            span 59.8 x 59.8 cm, 59.8 x 119.8 cm
        .collection-block__logo
            img(src="data/product-card/image.png", alt="")
//= End collection-block =
= '\n'

