= '\n'
//=  =
//- (source/assets/css/module/_collection-slider.scss)
.collection-slider
    .container
        .collection-block__bottom
            .collection-block__descript
                .collection-block__name
                    - var titleInfo = 'Quadrant Multi'
                    include _title-block.pug
                    span New
            .collection-block__logo
                img(src="data/product-card/image.png", alt="")
        .collection-slider__info
            include _place-block.pug
            include _socnetwork.pug
        include _product-slider.pug
//= End  =
= '\n'
