= '\n'
//= collections =
//- (source/assets/css/module/_collections.scss)
if (pageTitle == 'main')
    .collections
        .collections__wrapper
            - var titleInfo= 'Колекції'
            include _title-block.pug
            ul.collections__menu
                each item in collections
                    li(class= item.class)
                        a(href= item.id)= item.name

        .collections__tab#tab1
            - for (var i = 0; i < 10; i++)
                include _collection-item.pug
        .collections__tab#tab2
            - for (var i = 0; i < 10; i++)
                include _collection-item.pug
        .collections__tab#tab3
            - for (var i = 0; i < 10; i++)
                include _collection-item.pug
        .collections__tab#tab4
            - for (var i = 0; i < 10; i++)
                include _collection-item.pug
        .collections__tab#tab5
            - for (var i = 0; i < 10; i++)
                include _collection-item.pug
        .collections__tab#tab6
            - for (var i = 0; i < 10; i++)
                include _collection-item.pug
if (pageTitle == 'Колекції')
    .collections
        .collections__wrapper
            - var titleInfo= 'Інші товари в цій колекції'
            include _title-block.pug
            ul.collections__menu
                each item in otherCollections
                    li(class= item.class)
                        a(href= item.id)= item.name

        .collections__tab#tabOne
            - for (var i = 0; i < 6; i++)
                include _product-card.pug
        .collections__tab#tabTwo
            - for (var i = 0; i < 6; i++)
                include _product-card.pug
        .collections__tab#tabThree
            - for (var i = 0; i < 6; i++)
                include _product-card.pug
        .collections__tab#tabFour
            - for (var i = 0; i < 6; i++)
                include _product-card.pug
        .collections__tab#tabFive
            - for (var i = 0; i < 6; i++)
                include _product-card.pug
        .collections__tab#tabSix
            - for (var i = 0; i < 6; i++)
                include _product-card.pug
if (pageTitle == 'Проекти')
    .collections
        .collections__wrapper
            - var titleInfo= 'Реалізовані проекти'
            include _title-block.pug
            ul.collections__menu
                each item in realisedProjects
                    li(class= item.class)
                        a(href= item.id)= item.name

        .collections__tab#tab-a
            - for (var i = 0; i < 6; i++)
                include _project-card.pug
        .collections__tab#tab-b
            - for (var i = 0; i < 6; i++)
                include _project-card.pug
        .collections__tab#tab-c
            - for (var i = 0; i < 6; i++)
                include _project-card.pug
        .collections__tab#tab-d
            - for (var i = 0; i < 6; i++)
                include _project-card.pug
        .collections__tab#tab-e
            - for (var i = 0; i < 6; i++)
                include _project-card.pug
        .collections__tab#tab-f
            - for (var i = 0; i < 6; i++)
                include _project-card.pug
        .collections__tab#tab-g
            - for (var i = 0; i < 6; i++)
                include _project-card.pug
        .collections__tab#tab-h
            - for (var i = 0; i < 6; i++)
                include _project-card.pug
//= End collections =
= '\n'

