= '\n'
//= device-bottom =
//- (source/assets/css/module/_device-bottom.scss)
.device-bottom
    .device-bottom__menu
        .device-bottom__item
            a.device-bottom__link#filter_device_btn(href='javascript:void(0)') Фільтр

        .device-bottom__item
            a.device-bottom__link#sort_device_btn(href='javascript:void(0)') Сортування
//= End device-bottom =
= '\n'
