= '\n'
//= inbacket =
//- (source/assets/css/module/_inbacket.scss)
.inbasket
    .inbasket__wrapper
        .inbasket__image
            img(src='data/product-card/3.png' alt='')
        .inbasket__text
            .inbasket__box кошик
            .inbasket__description Продукт успішно доданий до кошика
        .inbasket__close
//= End inbacket =
= '\n'

