= '\n'
//= info-form =
//- (source/assets/css/layout/_info-form.scss)
.info-form
    form(id='form' action='#' method='post')
        .form-group
            input.shadow.form-control(type='text', placeholder='Даниленко')
            input.shadow.form-control(type='text', placeholder=' Олексій')
            input.shadow.form-control(type='text', placeholder='mirad@gmail.com')
            input.shadow.form-control(type='text', placeholder='+38(097)125-17-35')
        .ordering-form__data
            h2 Редагувати дані
            .form-group
                label Введіть Ваше прізвище
                input.shadow.form-control(type='text', placeholder='Даниленко')
            .form-group
                label Введіть Ваше ім'я
                input.shadow.form-control(type='text', placeholder='Олексій')
            .form-group
                label Введіть Ваш телефон
                input.shadow.form-control(type='text', placeholder='+38(___)___-__-__')
            .form-group
                label Введіть Ваш email
                input.shadow.form-control(type='email', placeholder='mirad@gmail.com')
            .form-group
                label Введіть старий пароль
                input.shadow.form-control(type='password', placeholder='')
                .eye-button
            .form-group
                label Введіть новий пароль
                input.shadow.form-control(type='password', placeholder='')
                .eye-button
            .form-group
                label Повторіть новий пароль
                input.shadow.form-control(type='password', placeholder='')
                .eye-button
            button.save Зберегти
        button(type='button').edit Редагувати
//= End info-form =
= '\n'
