= '\n'
//= main-content =
//- (source/assets/css/module/_main-content.scss)
.main-content
    .container
        .main-content__wrapper
            - var titleInfo= 'Переваги співпраці'
            include _title-block.pug
            include _advantages.pug
            include _collections.pug
            include _brands.pug

//= End main-content =
= '\n'
