= '\n'
//= _main-slider =
//- (source/assets/css/module/__main-slider.scss)
.main-slider
    - for(var i = 0; i < 3; i++)
        .main-slider__image
            img(src="data/mainSlider/1.png", alt="")
//= End _main-slider =
= '\n'


