= '\n'
//= my-orders =
//- (source/assets/css/layout/_my-orders.scss)
.my-orders
    .my-orders__wrapper
        .my-orders__header
            .my-orders__cell.my-orders__cell--name Номер замовлення
            .my-orders__adaptive
                .my-orders__cell.my-orders__cell--date Дата формлення
                .my-orders__cell.my-orders__cell--quantity Кількість
                .my-orders__cell.my-orders__cell--sum Сума замовлення
                .my-orders__cell.my-orders__cell--status Статус замовлення
        - for(var j = 0; j < 3; j++)
            .my-orders__list
                .my-orders__head.arrow
                    .my-orders__cell.my-orders__cell--name
                        a(href="javascript:void(0)") #484475
                    .my-orders__adaptive
                        .my-orders__cell.my-orders__cell--date
                            span 28.02.2018
                        .my-orders__cell.my-orders__cell--quantity
                            span 4 шт.
                        .my-orders__cell.my-orders__cell--sum
                            span 2 800 грн.
                        .my-orders__cell.my-orders__cell--status
                            span.cancel Виконаний
                .my-orders__area
                    - for (var i = 0; i < 2; i++)
                        .my-orders__body
                            .my-orders__cell.my-orders__cell--name
                                a.basket-table__picture(href='#')
                                    img.basket-table__image(src='data/product-card/3.png' alt='')
                                .basket-table__links
                                    a(href='#') Linen Blanco
                                    a(href='#') Плитка для підлоги
                            .my-orders__adaptive
                                .my-orders__cell.my-orders__cell--date
                                    span 28.02.2018
                                .my-orders__cell.my-orders__cell--quantity
                                    span 4 шт.
                                .my-orders__cell.my-orders__cell--sum
                                    span 2 800 грн.
                                .my-orders__cell.my-orders__cell--status
                                    span.processed Оброблюється
                        .my-orders__body
                            .my-orders__cell.my-orders__cell--name
                                a.basket-table__picture(href='#')
                                    img.basket-table__image(src='data/product-card/3.png' alt='')
                                .basket-table__links
                                    a(href='#') Western
                                    a(href='#') Керамограніт
                            .my-orders__adaptive
                                .my-orders__cell.my-orders__cell--date
                                .my-orders__cell.my-orders__cell--quantity
                                    span 2 шт.
                                .my-orders__cell.my-orders__cell--sum
                                    span 750 грн.
                                .my-orders__cell.my-orders__cell--status
                                    span.done Виконаний

//= End my-orders =
= '\n'
