mixin nested-list(obj)
    each item in obj
        if(item.list)
            li
                a(href='javascript:void(0);')= item.title
                ul
                    +nested-list(item.list)
        else if(!item.list && item.title)
            li
                a(href='javascript:void(0);')= item.title
        else
            li
                a(href='javascript:void(0);')= item