= '\n'
//= office-drop =
//- (source/assets/css/layout/head/_office-drop.scss)
.office-drop
    .office-drop__block
        a.office-drop__close(href='javascript:void(0)')
        include _enter-popup.pug
        include _callback-popup.pug
        include _basket-popup.pug

//= End office-drop =
= '\n'

