= '\n'
//= page404 =
//- (source/assets/css/module/_page404.scss)
.page404
    .page404__image
        img(src='data/404/4.svg' alt='')
    h1.page404__title Ой! Цю сторінку захопили прибульці
    p Хоча всю нашу продукцію Ви можете знайти у
        a(href='catalog.html') каталозі
//= End page404 =
= '\n'
