= '\n'
//= popup-success =
//- (source/assets/css/module/_popup-succes.scss)
.popup-success.mfp-hide#popup-success
    a.mfp-close(href='#')
    .popup-success__image
    h1 Замовлення сформованно
    p Ваше замовлення № 1268 від 22.02.2019 успішно створенно. Наш менеджер свяжеться з Вами найближчим часом
//= End popup-success =
= '\n'
