= '\n'
//= product-character =
//- (source/assets/css/module/_product-character.scss)
.product-character
    .container
        .product-character__wrapper
            .product-character__table
                - var titleInfo = 'Характеристики'
                include _title-block.pug
                ul
                    each item in productChar
                        li
                            span= item.name
                            span= item.value
            .product-character__slider
                - var titleInfo = 'Колекції з товаром'
                include _title-block.pug
                .product-character__slide
                    - for(var i = 0; i < 2; i++)
                        include _collection-block.pug
//= End product-character =
= '\n'
