= '\n'
//= _product-card =
//- (source/assets/css/layout/_product-card.scss)
.product-card
    .product-card__inner
        a.product-card__wrapper(href='product.html')
            .product-card__header
                .product-card__logo
                    img(src="data/product-card/image.png", alt="")
                .product-card__side
                    span
                        img(src="data/product-card/1.svg", alt="")
                        span Підлога
                    span
                        img(src="data/product-card/2.svg", alt="")
                        span Підлога
            .product-card__picture
                img(src="data/product-card/3.png", alt="")
            .product-card__name Linen Blanco
        a.product-card__link(href='javascript:void(0)') Плитка скляна
        .basket-popup__price
            span.basket-popup__old 550грн.
            span.basket-popup__current 370 грн. /м<sup>2</sup>
        include _quantity.pug
        .product-card__bottom
            .product-description__area Реальна площа 1.08 м2
                .product-description__hint
                    span i
                    .hint З урахуванням розміру кожної плитки
            each item in productCharacter
                .product-card__character
                    span= item.name
                    span= item.value
//= End _product-card =
= '\n'

