= '\n'
//= product-slider =
.product-slider.catalog-carousel
    .product-slider--small
        - for(var i = 0; i < 8; i++)
            .product-slider__small
                img(src='data/collectionSlider/big/1.png' alt='')
    .product-slider--big.popup-gallery
        - for(var i = 0; i < 4; i++)
            each val in catalogCarouselBig
                .product-slider__slide
                    span.favorites
                    a(class=val.class href=val.href)
                        img(src='data/collectionSlider/big/' + val.image  alt='')


//= End product-slider =
= '\n'
