= '\n'
//= product-content =
//- (source/assets/css/layout/_product-content.pug.scss)
.product-content
    ul
        each item in productContent
            li
                span.product-content__name= item.name
                span.product-content__line
                if item.link
                    a.product-content__value(href='#')= item.value
                else
                    span.product-content__value= item.value
    span.favorites


//= End product-content =
= '\n'
