= '\n'
//= product-bottom =
//- (source/assets/css/module/_product-bottom.scss)
.product-bottom
    .container
        .product-bottom__wrapper
            - for(var j = 0; j < 2; j++)
                .product-bottom__block
                    - var titleInfo = 'Супутні товари'
                    include _title-block.pug
                    .product-bottom__slider
                        - for(var i = 0; i < 6; i++)
                            include _product-card.pug
//= End product-bottom =
= '\n'
