= '\n'
//= product-top =
//- (source/assets/css/module/_product-top.scss)
.product-top
    .container
        .product-top__wrapper
            .product-top__slider.popup-gallery
                a.product-top__image(href="data/product/slider/1.png")
                    img(src="data/product/slider/1.png", alt="")
                a.product-top__image(href="data/product/slider/2.png")
                    img(src="data/product/slider/2.png", alt="")
            include _product-description.pug
//= End product-top =
= '\n'
