= '\n'
//= project-card =
//- (source/assets/css/layout/_project-card.scss)
a.project-card(href='project-inner.html')
    .project-card__wrap
        .project-card__image
            img(src="data/project/image.png", alt="")
        h2 ЖК «New York Concept House»
        .project-card__address м. Київ, вул. Антоновича (Горького), 74-78
//= End project-card =
= '\n'
