= '\n'
//= quantity =
//- (source/assets/css/module/_quantity.scss)
.quantity
    .quantity__block
        button.quantity__button.quantity__button--minus(disabled)
        input(type='text' min ='1' max='1000' value='1' size='1')
        button.quantity__button.quantity__button--plus
    button.quantity__basket
//= End quantity =
= '\n'

