= '\n'
//= text-block =
//- (source/assets/css/module/_text-block.scss)
.text-block
    .container
        .text-block__wrapper
            - var titleInfo = 'Природная элегантность'
            include _title-block.pug
            p Колекція Quadrant Multi, вдосконалена природним елегантністю чорного каменю, дозволяє створювати витіснення і, в той же час, нейтральне простір, що відповідає необхідним вимогам кожного любителя роскоші. Матовая плитка оттенка Nero відрізняється нежним узором, характерним для вдохновляющей колекції метаморфічної горної породи. Увеличенный формат ректифікованої плітки (59,8x59,8 см, 59,8х119,8 см, 89,8х89,8 см, 89,8х179,8 см) дозволяє створити вражаючу однорідну поверхню і використовувати композицію, напоюючий монолітний блок мрамора. Плитка з колекції Barro настінного і напольного призначення, в якій гості, кухні або ванної кімнати стилю роскошного вітальні, в якому забороняється якість окремих матеріалів з неповноважним атмосферою. Превосходні доповнення є різними планками і планками меншого кольору, за допомогою яких архітектори можуть створювати будь-які композиції на стенках проектованих інтер'єрів.

            a(href='#') Завантажити pdf файл
//= End text-block =
= '\n'
