// .apps__icon.gp
// .apps__icon.ap
// .apps__icon.fb

= '\n'
//= Apps =
.apps
    //- .apps__item
    //-     a.apps__button(href='#')
    //-         .apps__button-wrapper
    //-             span.apps__icon.gp
    //-             span.apps__text
    //-                 span.apps__line Завантажити
    //-                 span.apps__line.apps__line--name Google Play

    //- .apps__item
    //-     a.apps__button(href='#')
    //-         .apps__button-wrapper
    //-             span.apps__text
    //-                 span.apps__line.apps__line--name Замовити майстра

    .apps__item
        a.apps__button(href='#')
            .apps__button-wrapper
                span.apps__icon.fb
                span.apps__text
                    span.apps__line слідкуйте за нашими новинами на
                    span.apps__line.apps__line--name Facebook

        a.subscribe__up(href='#')

    //.apps__item
        a.apps__button(href='#')
            .apps__button-wrapper
                span.apps__icon.ap
                span.apps__text
                    span.apps__line Завантажити
                    span.apps__line.apps__line--name App Store
//= End apps =
= '\n'
