= '\n'
//= Article =
.article
    .article__header(style='background-image: url(data/blog/article_header_bg.png)')
        .article__header-wrapper
            .article__info.article__info--header
                .article__info-item.article__info-item--calendar 27.08.2017
                .article__info-item.article__info-item--tag Стіни, ремонт, технології
                .article__info-item.article__info-item--user Адміністратор

            h1.article__title Трафаретне фарбування акрилом стін

        .article__social
            a.article__social-item.vk(href='#')
            a.article__social-item.fb(href='#')
            a.article__social-item.gp(href='#')

    .article__info
        .article__info-item.article__info-item--calendar 27.08.2017
        .article__info-item.article__info-item--tag Стіни, ремонт, технології
        .article__info-item.article__info-item--user Адміністратор

    .article__content
        p.
            Якщо ви любили в дитинстві малювати скрізь де можна, але не знайшли покликання і тепер хочете втілити свої художні мрії в інтер'єрі будинку, то вам підійде трафаретне фарбування стін. Таке фарбування вимагає більш фантазії і дотримання правил, ніж художніх талантів, адже точність ліній гарантують трафаретиі створити «бендерівського сіяча» складно.

        img(src='data/blog/article-1.png' alt='' style='float: right;')

        h2 Підібрати трафарети можна для будь-якого приміщення з урахуванням будь-якого розміру стіни

        p.
            Для трафаретного фарбування потрібні шаблони, тобто за великим рахунком, трафарети. На підготовлену стіну наноситься загальна розмітка (сітка), яка необхідна для цілісності малюнка на всій площині стіни, після чого до окремих ділянок поверхні прикладаються трафарети і по ним наноситься фарба (фото). Якщо немає необхідності в декоруванні всієї стіни, то сітка-розмітка не потрібна.

        blockquote.
            Інтер'єрні фарби мають водну основу, тому матеріал шаблону повинен бути вологостійким, інакше він швидко розмокне, і контури малюнка втратять чіткість. Деякі трафарети можуть симетрично дублюватися, вони стануть в нагоді для створення однакових елементів малюнка з різних сторін стіни.

        img(src='data/blog/article-2.png' alt='' style='float: left;')
        p.
            Якщо фарбуватися під трафарет буде вся стіна, то ЇЇ треба попередньо пофарбувати в тон. Аналогії по роботі художника - спочатку він завдає грунт, потім верхній шар фарби. Не плутайте ґрунтовку з фоновим кольором.

        p.
            Грунтовка потрібна не для фону, а для зменшення і зрівнювання абсорбції по всій поверхні стіни. Найчастіше тон білий, але ніхто не забороняє робити його блакитним або салатовим - головне його колір повинен бути світліше кольору верхнього шару фарби.

    include _commentSend.pug
    include _comments.pug

//= End article =
= '\n'
