= '\n'
//= Blog =
.blog
    .blog__header
        - var title = [{modifier: '', elem: 'div', icon: '', text: 'наші статті', name: 'Наш блог'}]
        include _title.pug

    .blog__wrapper
        each item in blog
            .blog__item
                .blog__picture
                    a.blog__picture-link(href='#')
                        img.blog__image(src='data/blog/' + item.image + '.png' alt='')
                .blog__content
                    .blog__title
                        a.blog__title-link(href='#')= item.title
                    .blog__text= item.text
                    .blog__info
                        .blog__info-item.blog__info-item--calendar 27.08.2017
                        .blog__info-item.blog__info-item--tag  Стіни, ремонт, технології
                        .blog__info-item.blog__info-item--user Адміністратор
                    a.blog__button(href='#') ЧИТАТИ ПОВНіСТЮ

    include _pagination.pug
//= End blog =
= '\n'
