= '\n'
//= Call-wizard =
//- (module/_phonehunter.scss)
.call-wizard
    #phone_hunters.phone-hunter-phone.phone-hunter-blue.phone-hunter-show
        .phone-hunter-ph-circle-fill
        .phone-hunter-ph-img-circle
            p замовити дзвінок


//= End call-wizard =
= '\n'
