= '\n'
//= Call-Map =
//- (module/_Call-Map.scss)
.Call-Map
    .Call-Map__wrap
        .Call-Map__buttonCall Зателефонувати

            .communications
                a.phone(href='tel:+380671751710') +38-067-17-51-710
                a.phone(href='tel:+380671751710') +38-067-17-51-710

        a.Call-Map__buttonShow(href='#0') Показати на карті
//= End Call-Map =
= '\n'
