= '\n'
//= Call-btn =
//- (module/_phonehunter.scss)
.call-btn
    .call_btn-inner

        //-#phone_hunters.phone-hunter-phone.phone-hunter-green.phone-hunter-show.phone-hunter-static
            .phone-hunter-ph-circle
            .phone-hunter-ph-circle-fill
            .phone-hunter-ph-img-circle

    .communications
        a.phone(href='tel:+380671751710') +38-067-17-51-710
        a.phone(href='tel:+380671751710') +38-067-17-51-710

//= End call-btn =
= '\n'
