= '\n'
//= Citylist =
- var modifier = (selectricBorder) ? 'border' : ''
select.citylist(class= modifier)
    each item in cityList
        if (item.active)
            option.citylist__option(selected)= item.name
                //-a(href='#')= item.name
        else
            option.citylist__option= item.name
                //-a(href='#')= item.name
//= End citylist =
= '\n'
