mixin comment(data)
    each item in data
        .comments__item
            .comments__picture
                img.comments__image(src='data/blog/comments/' + item.image + '.png' alt='')

            .comments__data
                .comments__name= item.name
                .comments__date= item.date
                .comments__message= item.message

                if (!item.answer)
                    a.comments__link(href='#') Відповісти

            if (item.answer)
                .comments__answer
                    +comment(item.answer)

//= Comments =
.comments
    .comments__wrapper
        .comments__counter 4 коментарів
    .comments__list
        +comment(comments)

//= End comments =
= '\n'
