= '\n'
//= forms =
//- (module/_forms.scss)
//- (module/_form.pug)
.callback__form.mfp-hide#form-popup
    .callback__form__inner

        .callback__title.title  Вхід
        form#callback-form(action='' method='')

            .form-group.field-callback-phone.has-error.required
                input.form-control#callback-phone(type='text' name='' placeholder='Введіть телефон')

            .form-group.field-callback-city.required
                input.form-control#callback-city(type='text' name='' placeholder='Введіть пароль')

            .form-group.field-callback-button
                button.callback-button(type='submit' name='callback-button') Увійти

        .callback__button
            a.registration-button(href='#form-registration') Реєстрація
            a.reflections-button(href='#form-reflections') Забули пароль?


.registration__form.mfp-hide#form-registration
    .registration__form__inner

        .registration__title.title  Реєстрація
        form#registration-form(action='' method='')

            .form-group.field-registration-name.has-error.required
                input.form-control#registration-name(type='text' name='' placeholder='Введіть ПІБ')

            .form-group.field-registration-email.required
                input.form-control#registration-email(type='text' name='' placeholder='Введіть email')

            .form-group.field-registration-select.required
                select
                    option(value='') Ровно
                    option(value='') Рокитне
                    option(value='') Дубно
                    option(value='') Сарни

            .form-group.field-registration-phone.required
                input.form-control#registration-phone(type='text' name='' placeholder='Введіть телефон')

            .form-group.field-registration-password.required
                input.form-control(type='password' name='password' placeholder='Введіть пароль')

            .form-group.field-registration-button
                button.registration-button(type='submit' name='registration-button') Зареєструватися

            .form-group.field-registration-check.required
                label.registration__checkbox
                    input.registration__checkbox-input(type='checkbox')
                    span.registration__checkbox-checker
                    span.registration__checkbox-link Я згідний(на) з правилами сайту


.reflections__form.mfp-hide#form-reflections
    .callback__form__inner

        .callback__title.title  Відновлення паролю
        form#callback-form(action='' method='')

            .form-group.field-callback-phone.has-error.required
                input.form-control#callback-phone(type='text' name='' placeholder='Введіть телефон')

            .form-group.field-callback-button
                button.callback-button(type='submit' name='callback-button') Відправити


//= End forms =
= '\n'
