= '\n'
//= Language =
.language.language--dropper
    .language__title.language__title--ua УКР
    .language__drop
        .language__inner
            a.language__link.language__link--ua.active(href='javascript: void(0);') УКР
        .language__inner
            a.language__link.language__link--ru(href='javascript: void(0);') Рус
//= End language =
= '\n'
