= '\n'
//= Notfound =
.notfound
    .notfound__wrapper
        img.notfound__picture(src='data/404/404.png' alt='')
        .notfound__info
            .notfound__code 404
            .notfound__text.
                Сторінка на даний момент недоступна.<br>
                Перезагрузіть будь-ласка сторінку, або верніться в головне меню.
//= End notfound =
= '\n'
