= '\n'
//= Pagination =
.pagination
    .pagination__wrapper
        span.pagination__button.pagination__button--prev Попередня
        .pagination__list
            - for (var i = 1; i < 6; i++)
                if (i == 1)
                    span.pagination__item.active(href='#')= i
                else
                    a.pagination__item(href='#')= i
        a.pagination__button.pagination__button--next(href='#') Наступна
//= End pagination =
= '\n'
