= '\n'
//= Presentation =
.presentation
    .presentation__wrapper
        .presentation__side

            .presentation__menu
                .presentation__menu-header
                    span.presentation__menu-icon
                    span.presentation__menu-title КАТАЛОГ ПОСЛУГ

                .presentation__menu-content
                    each item in presentationMenu
                        - var modifier = (item.isdrop) ? 'dropping' : ''
                        .presentation__menu-item(class= modifier)
                            a.presentation__menu-link(href='#')= item.link

                            if (item.drop)
                                .presentation__menu-drop
                                    .presentation__menu-inner
                                        each val in item.drop
                                            .presentation__menu-item
                                                a.presentation__menu-link.ss(href='#')= val.link

        .presentation__content
            //-.presentation__search
                include _main-search.pug

            .presentation__intro
                include _slider.pug

//= End presentation =
= '\n'
