= '\n'
//= Question =
//-=(module/_question.scss)=
.questionSS
    .question__content.questionSS__content
        .questionSS__image
            img(src='data/service/img1.png' alt='')
        .question__field.questionSS__field
            .question__item.questionSS__item
                input.question__input.error(type='text' placeholder="Ваше ім`я")
            .question__item.questionSS__item
                input.question__input(type='text' placeholder='Номер телефону')
            .question__item.double.questionSS__item
                textarea.question__textarea.questionSS__textarea(placeholder='Опишіть проблему')
            .question__item.questionSS__item
                button.question__button.questionSS__button(type='submit') Замовити послуги сантехніка
//= End question =
= '\n'
