= '\n'
//= Question =
//-=(module/_question.scss)=
.questionSS
    .question__content.questionSS__content.all
        .question__field.questionSS__field.all
            .question__item.questionSS__item.all
                input.question__input.error(type='text' placeholder="Ваше ім`я")
            .question__item.questionSS__item.all
                input.question__input(type='text' placeholder='Номер телефону')
            .question__item.questionSS__item.all
                button.question__button.questionSS__button.all(type='submit') Замовити послуги сантехніка
//= End question =
= '\n'
