= '\n'
//= Slider =
.slider
    .slider__wrapper

        .slider__controls
            .slider__arrows
                .slider__arrow.slider__arrow--prev
                .slider__arrow.slider__arrow--next
            .slider__steps

        .slider__list
            .slider__item
                img.slider__image(src='data/slider/1.png' alt='')
            .slider__item
                img.slider__image(src='data/slider/1.png' alt='')
            .slider__item
                img.slider__image(src='data/slider/1.png' alt='')
            .slider__item
                img.slider__image(src='data/slider/1.png' alt='')

//= End slider =
= '\n'
