= '\n'
//= Social =
ul.social
    //-li.social__item
        //-a.social__link.vk(href='#')
    li.social__item
        a.social__link.fb(href='#')
    li.social__item
        a.social__link.gp(href='#')
    li.social__item
        a.social__link.in(href='#')
//= End social =
= '\n'
