= '\n'
//= Subscribe =
.subscribe
    .subscribe__item
        input.subscribe__input.error(type='text' placeholder='Введіть ваш email')
    .subscribe__item.subscribe__item--action
        button.subscribe__submit(type='submit') ПІДПИСАТИСЬ НА НОВИНИ
        a.subscribe__up(href='#')

//= End subscribe =
= '\n'
