= '\n'
//= Subservisez =
.subservisez
    .subservisez__wrapper
        each item in subservisez
            .subservisez__item
                .subservisez__inner
                    .subservisez__logo
                        img.subservisez__image(src='data/service/icon/' + item.image + '.png' alt='')
                    .subservisez__name
                        a.subservisez__link(href='#')=item.name
    .subservisez__action
        a.button.subservisez__button(href='#') Замовити майстра
//= End subservisez =
= '\n'
