= '\n'
//= Text =
.text.text--container.
    Напевно, кожен з нас стикався з проблемою, коли був потрібен сантехнік: тече кран, забилася каналізаціяабо прорвало трубу, ще і затопили сусідів. Або Вам треба було зробити серйозні сантехнічні роботи: встановлення, монтаж опалення, іншого обладнання.
//= End text =
= '\n'
