= '\n'
//= topBlock =
//- (module/_topBlock.scss)
-
    var citiName = [
        {
            name: 'Вінниця'
        },
        {
            name: 'Луцьк'
        },
        {
            name: 'Львів'
        },
        {
            name: 'Рівне',
            active: true
        },
        {
            name: 'Тернопіль'
        }
    ]
.topBlock-citi.topBlock-citi-animation
    .container
        .topBlock-citi__wrap
            .topBlock-citi__title Ви з міста
                span Рівне
                |?
            .topBlock-citi__button
                a.topBlock-citi__yes(href='#') Так
                a.topBlock-citi__no(href='#') Ні, я з іншого міста
            a.topBlock-citi__close(href='#')

.topBlock-citiName(style='display: block;')
    ul
        each val in citiName
            if (val.active)
                li.active
                    a(href='#')= val.name
            else
                li
                    a(href='#')= val.name
//= End topBlock =
= '\n'
