= '\n'
//= topBlock =
//- (module/_topBlock.scss)
.topBlock(style='background-color: rgb(13, 73, 178);')
    .container
        .topBlock__wrap
            .topBlock__imageL
                img(src='data/top/image2.png' alt='')
            .topBlock__text(style='font-size: 14px; color: #F7CB43; font-weight: bold;')
                p До дня сантехніка знижки 20%. Поспішай! Замовляй!
            .topBlock__imageR
                img(src='data/top/image1.png' alt='')
            a.topBlock__close(href='#')
//= End topBlock =
= '\n'
