= '\n'
//= Work =
.work
    - var title = [{modifier: '', elem: 'h2', icon: '', text: '3 ЕТАПИ РОБОТИ', name: 'Як ми працюємо?'}]
    include _title.pug

    .work__wrapper
        .work__box
            .work__box-inner
                .work__header
                    .work__header-inner
                        .work__picture
                            img.work__image(src='data/work/laptop.png' title='')
                        .work__title
                            |Диспетчер
                            br
                            |фіксує проблему
                .work__button(data-button-default='+' data-button-active='-')
                .work__drop
                    .work__drop-inner
                        .work__list
                            .work__list-title Можливості
                            .work__list-item Безкоштовне отримання технічної консультації
                            .work__list-item Запрошення майстра на зручний час
                            .work__list-item Вибір майстра

        .work__box
            .work__box-inner
                .work__header
                    .work__header-inner
                        .work__picture
                            img.work__image(src='data/work/settings.png' title='')
                        .work__title
                            |Майстер
                            br
                            |надає послугу
                .work__button(data-button-default='+' data-button-active='-')
                .work__drop
                    .work__drop-inner
                        .work__list
                            .work__list-title Можливості
                            .work__list-item Безкоштовне отримання технічної консультації
                            .work__list-item Запрошення майстра на зручний час
                            .work__list-item Вибір майстра

        .work__box
            .work__box-inner
                .work__header
                    .work__header-inner
                        .work__picture
                            img.work__image(src='data/work/rating.png' title='')
                        .work__title Контролер оцінює
                .work__button(data-button-default='+' data-button-active='-')
                .work__drop
                    .work__drop-inner
                        .work__list
                            .work__list-title Можливості
                            .work__list-item Безкоштовне отримання технічної консультації
                            .work__list-item Запрошення майстра на зручний час
                            .work__list-item Вибір майстра
//= End work =
