@import 'vars/_variable.scss';

.filter {
    position: relative;
    border-radius: 10px;

    &__selected {
        position: relative;
        margin: 11px -5px 0;

        @include clearfix;

        &Link {
            line-height: (34px / $filter__baseFontSize);
            position: relative;
            display: block;
            float: left;
            margin: 0 5px;
            padding: 0 10px 1px;
            transition: all .2s linear;
            text-decoration: none;
            color: inherit;
            border: 1px solid $filter__borderColor;
            border-radius: (36px / 2);

            &:hover {
                background: $filter__selectedLinkBackgroundColor--active;
            }

            &--remove {
                &:after {
                    position: relative;
                    top: -1px;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin: 0 -5px 0 15px;
                    content: '';
                    vertical-align: middle;
                    border-radius: 50%;
                    background: $filter__selectedLinkRemoveBackgroundColor url('../images/content/icon/remove.png') center no-repeat;
                }
            }
        }
    }

    &__item {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid $filter__borderColor;

        &--open {
            .filter {
                &__title {
                    &:before {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__title {
        font-weight: 700;
        line-height: (10px / $filter__baseFontSize);
        position: relative;
        display: block;
        margin: -20px;
        padding: 20px;
        text-decoration: none;
        color: inherit;

        &:before {
            position: absolute;
            top: 50%;
            right: 20px;
            width: 15px;
            height: 8px;
            margin: -3px 0 0;
            content: '';
            transition: all .2s linear;
            background: url('../images/content/icon/arrow.png') no-repeat;
        }
    }

    &__container {
        position: relative;
        display: none;
        margin: 15px 0 0;
    }

    &__list {
        position: relative;

        &Item {
            font-size: 0;
            position: relative;
            margin: 0 0 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__more {
        position: relative;
        top: 5px;
        display: inline-block;
        margin: 4px 0 0;
        padding: 0 0 0 40px;

        &:before {
            position: absolute;
            top: 50%;
            left: 5px;
            width: 15px;
            height: 8px;
            margin: -3px 0 0;
            content: '';
            background: url('../images/content/icon/arrow.png') no-repeat;
        }
    }

    &__menu {
        position: relative;

        &Item {
            position: relative;
            margin: 0 0 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &Link {
            position: relative;
            text-decoration: none;
            color: inherit;

            &:hover {
                .filter {
                    &__menu {
                        &Title {
                            text-decoration: underline;
                            color: $filter__menuTextColor--active;
                        }
                    }
                }
            }
        }

        &Title {
            transition: all .2s linear;
        }

        &Num {
            color: $filter__menuNumTextColor;
        }
    }

    &__price {
        position: relative;
        margin: 0 0 15px;
        padding: 11px 0;

        &Controls {
            position: relative;
            margin: 0 -11px;

            @include clearfix;

            &Text {
                line-height: (32px / $filter__baseFontSize);
                position: relative;
                float: left;
                margin: 0 11px;
                color: $filter__priceControlsTextColor;
            }

            &Input {
                position: relative;
                display: block;
                float: left;
                width: 100%;
                max-width: 74px;
                height: 32px;
                text-align: center;
                border: 1px solid $filter__borderColor;
                border-radius: 6px;
                outline: none;
                background: none;
            }
        }
    }

    &__confirm {
        font-size: $filter__confirmTextFontSize;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        visibility: hidden;
        width: 233px;
        transition: visibility 0s step-end .2s, opacity .2s linear;
        opacity: 0;

        &--active {
            visibility: visible;
            transition: visibility 0s step-end, opacity .2s linear;
            opacity: 1;
        }

        &Inner {
            position: relative;
            height: 46px;
            padding: 0 20px 0 0;
            border: 1px solid $filter__confirmBorderColor;
            border-radius: 0 10px 10px 0;
            background: $filter__confirmBackgroundColor;
        }

        &Content {
            line-height: (21px / $filter__confirmTextFontSize);
            position: relative;
            float: left;
            width: 97px;
            padding: 1px 0;
            color: $filter__confirmTextColor;
        }

        &Count {
            color: $filter__confirmCountTextColor;
        }

        &Close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 10px;
            height: 10px;
            content: '';
            background: urL('../images/content/icon/filter__close.png') no-repeat;
        }
    }

    .checkbox {
        &-title {
            font-size: $filter__baseFontSize;

            span {
                color: lighten($grayDark, 50%);
            }
        }
    }

    .button {
        float: left;
        width: 94px;
        height: 30px;
        margin: 7px 0;
        border-radius: (34px / 2);
        background: $filter__confirmButtonBackgroundColor;
    }

    &--popup {
        column-count: 3;

        .filter {

            &__item {
                border-bottom: none;
                page-break-inside: avoid;
                break-inside: avoid;
            }

            &__title {
                page-break-inside: avoid;
                break-inside: avoid;
            
                &:before {
                    display: none;
                }
            }

            &__container {
                display: block !important;
            }

            &__list {
                &Item {
                    page-break-inside: avoid;
                    break-inside: avoid;
                }
            }

            &__more {
                display: none;
            }

            &__close {
                position: relative;
                background: transparent;
                border: none;
                outline: none;
                position: absolute;
                right: 0;
                top: 0;
                width: 25px;
                height: 25px;
                padding: 0;

                &:before,
                &:after {
                    position: absolute;
                    left: 12px;
                    top: 0;
                    content: '';
                    height: 25px;
                    width: 2px;
                    background-color: $brandPrimary;
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &--top {
        margin: 11px 0 0 0;

        .filter {
            &__menuItem {
                transition: all .3s;

                &:nth-child(n+4) {
                    height: 21px;
                    overflow: visible;
                    opacity: 1;
                    margin: 0 0 10px 0;
                }
            }

            &__more {
                display: block;
                height: 21px;

                &:before {
                    transform: translateY(-50%) rotate(180deg);
                    transition: all .3s;
                    margin: 0;
                }

                span {
                    position: absolute;
                    transition: all .3s;

                    &:first-child {
                        opacity: 0;
                    }

                    &:last-child {
                        opacity: 1;
                    }
                }
            }
        }

        &.hiden {
            .filter {
                &__menuItem {
                    &:nth-child(n+4) {
                        height: 0;
                        overflow: hidden;
                        opacity: 0;
                        margin: 0;
                    }
                }

                &__more {
                    margin: 0;

                    &:before {
                        transform: translateY(-50%);
                    }

                    span {
                        position: absolute;
    
                        &:first-child {
                            opacity: 1;
                        }
    
                        &:last-child {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screenSmMax) {
        &__confirm {
            &Inner {
                padding-left: 20px;
            }
        }
    }

    @media (min-width: $screenMdMin) {
        &--top {
            display: none;
        }

        &--main {
            padding: 0 20px;
            border: 1px solid $filter__borderColor;
        }

        &--popup {
            padding: 20px;
            border-color: transparent;
        }

        &__confirm {
            position: absolute;
            left: 50%;
            width: 227px;
            padding: 0 0 0 15px;

            &Inner {
                height: 54px;
                border-left: none;

                &:before {
                    position: absolute;
                    top: -1px;
                    bottom: -1px;
                    left: -15px;
                    display: block;
                    width: 15px;
                    content: '';
                    background: url('../images/content/bg/filter__confirm.png') no-repeat;
                }
            }

            &Content {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        .button {
            margin-top: 11px;
            margin-bottom: 11px;
        }
    }
}
