script(src='assets/vendor/js/jquery.min.js')
script(src='assets/vendor/js/jquery.nanoscroller.js')
script(src='assets/vendor/js/jquery.formstyler.js')
script(src='assets/vendor/js/bootstrap-spinedit.js')
script(src='assets/vendor/js/slick.min.js')
script(src='assets/js/main.js')