link(rel='stylesheet' href='assets/vendor/css/nanoscroller.css')
link(rel='stylesheet' href='assets/vendor/css/jquery.formstyler.css')
link(rel='stylesheet' href='assets/vendor/css/slick.css')
link(rel='stylesheet' href='assets/css/style.css')