@import 'vars/_variable.scss';

.category {
    font-size: $category__textFontSize;
    float: left;

    &--open {
        .category {
            &__button {
                &:after {
                    transform: rotate(-180deg);
                }
            }

            &__drop {
                visibility: visible;
                opacity: 1;
                margin-top: 10px;
                transition: visibility 0s step-end, opacity .2s linear, margin .2s linear;
            }
        }
    }

    &__button {
        line-height: (32px / $category__textFontSize);
        position: relative;
        display: block;
        height: 34px;
        padding: 0 20px;
        text-decoration: none;
        color: $category__buttonTextColor;
        border: 1px solid transparent;

        &:after {
            position: absolute;
            top: 50%;
            display: block;
            width: 21px;
            height: 12px;
            margin: -6px 0 0;
            content: '';
            transition: all .2s linear;
            background: url('../images/content/icon/category.png') no-repeat;
        }
    }

    &__drop {
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s step-end .2s, opacity .2s linear, margin .2s linear;
        margin: 0;
        padding: 10px 20px;
        background: $category__backgroundColor;
        box-shadow: 0 0 10px $category__shadowColor;
    }

    &__list {
        position: relative;
    }

    &__item {
        position: relative;
        margin: 0 0 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        line-height: 1;
        display: inline-block;
        transition: all .2s linear;
        text-decoration: none;
        border-bottom: 1px dashed transparent;

        &--type1 {
            color: $category__typeColor1;
        }

        &--type2 {
            color: $category__typeColor2;
        }

        &--type3 {
            color: $category__typeColor3;
        }

        &--type4 {
            color: $category__typeColor4;
        }

        &--type5 {
            color: $category__typeColor5;
        }

        &:hover {
            &.category {
                &__link {
                    &--type1 {
                        border-bottom-color: $category__typeColor1;
                    }

                    &--type2 {
                        border-bottom-color: $category__typeColor2;
                    }

                    &--type3 {
                        border-bottom-color: $category__typeColor3;
                    }

                    &--type4 {
                        border-bottom-color: $category__typeColor4;
                    }

                    &--type5 {
                        border-bottom-color: $category__typeColor5;
                    }
                }
            }
        }

        &-count {
            margin: 0 0 0 4px;
            color: $category__countTextColor;
        }
    }

    @media (max-width: $screenMbMax) {

        &__button {
            &:after {
                left: 50%;
                margin-left: -10px;
            }
        }

        &__drop {
            width: 270px;
        }

    }

    @media (min-width: $screenXsMin) {

        position: relative;
        float: right;
        width: 270px;
        margin: 0 0 0 30px;

        &__button {
            border-color: $category__buttonBorderColor;

            &:before {
                content: attr(data-title);
            }

            &:after {
                right: 20px;
            }
        }

        &__drop {
            left: 0;
        }

    }

    @media (min-width: $screenMdMin) {

        &__item {
            margin-bottom: 3px;
        }

    }
}
