= '\n'
//= aboutCompany =
//-=(source/assets/css/module/_aboutCompany.scss)=

.aboutCompany
    - var titleInfo = subTitle
    include __title.pug

    //-=(module/_text.scss)=
    .aboutCompany__text.text

        p.
            Салон-магазин «Басейни і сауни» пропонує проектування, будівництво, обслуговування басейнів різних типів (бетонних, скловолоконних, поліпропіленових, композитних), виготовлення та встановлення накриття для басейнів, обладнання, матеріали, аксесуари для будівництва та обслуговування басейнів, фонтанів, штучних водойм.
        p.
            Спеціалісти підприємства виконують монтаж «під ключ» фінських саун, російських та турецьких бань, інфрачервоних та парових кабін, SPA комплексів.
        p.
            В магазині «Басейни і сауни» Ви можете придбати обладнання та матеріали для будівництва саун: електрокам’янки, дров’яні печі, вагонку, двері, банні аксесуари (виробництва Фінляндія, Естонія, Росія).
        p.
            Підприємство пропонує сервісне, гарантійне та післягарантійне обслуговування.

        img(src='data/text/' + nameTitle + '1.png' alt='')

        //- p(style='font-weight: bold; font-size: 18px;') Процес виготовлення чаю включає:
        //- ul
        //-     li збір та попереднє сортування
        //-     li зав’ялення
        //-     li скручування
        //-     li ферментація та просушування
        //-     li кінцеве сортування, маркування та пакування

        //-проверка всего текста для редактора
        //-include _text-audit.pug

//= End aboutCompany =
= '\n'
