= '\n'
//= aboutUs =
//- (source/assets/css/layout/_aboutUs.scss)
.aboutUs
    .container
        .aboutUs__item
            .aboutUs__caption
                .aboutUs__picture
                    img(src='assets/images/container/aboutUs.png' alt='')
                .aboutUs__title Про нас
            .aboutUs__text
                p.
                    Салон-магазин «Басейни і сауни» пропонує проектування,
                    будівництво, обслуговування басейнів різних типів (бетонних, скловолоконних, поліпропіленових, композитних),
                    виготовлення та встановлення накриття для басейнів, обладнання, матеріали, аксесуари для будівництва та обслуговування басейнів,
                    фонтанів, штучних водойм.
                p.
                    Спеціалісти підприємства виконують монтаж «під ключ» фінських саун, російських та турецьких бань, інфрачервоних та парових кабін, SPA комплексів.
                p.
                    В магазині «Басейни і сауни» Ви можете придбати обладнання та матеріали для будівництва саун: електрокам’янки, дров’яні печі, вагонку, двері, банні аксесуари (виробництва Фінляндія, Естонія, Росія).
            .aboutUs__img
                img(src='data/aboutUs/aboutUs.png' alt='')


//= End aboutUs =
= '\n'
