= '\n'
//= small-Slider =
//-=(module/_slick.scss, layout/_small-Slider.scss)=

.big-Slider

    .big-Slider__item
        //proportions and the maximum size of images 810x540
        .big-Slider__img
            img(src='data/text/slider/2.png' alt='')

    .big-Slider__item
        //proportions and the maximum size of images 810x540
        .big-Slider__img
            img(src='data/text/slider/1.png' alt='')

    .big-Slider__item
        //proportions and the maximum size of images 810x540
        .big-Slider__img
            img(src='data/text/slider/3.png' alt='')

    .big-Slider__item
        //proportions and the maximum size of images 810x540
        .big-Slider__img
            img(src='data/text/slider/1.png' alt='')

//= End small-Slider =
= '\n'
