= '\n'
//= bill (source/assets/css/module/_bill.scss)=
if (bill == 3)
    .bill.bill__top
        .container
            img(src='data/catalog/bill' + bill + '.png' alt='')
else
    .bill
        img(src='data/catalog/bill' + bill + '.png' alt='')
//= End bill =
= '\n'
