= '\n'
//= Breadcrumbs
//-=(module/_Breadcrumbs.scss)=
.bread
    ul.breadcrumb
        - for (let i = 0; i < breadcrumbs.length; i++)

            li
                a(href='#')= breadcrumbs[i]

//= End breadcrumbs
= '\n'
