
= '\n'
//= catalog-modal =
//- (module/_popup.scss)
.modal.mfp-hide#catalog-modal
    .popup
        .popup__wrap
            a.popup__close(href='javascript:void(0)')

            = '\n'
            //= goods =
            //- (module/_goods.scss)

            .goods__wrap

                = '\n'
                //= carousel-catalog =
                .goods__slider.catalog-carousel
                    -
                        var catalogCarouselBig = [
                            {
                                href: 'data/catalog/pools/modal/big1.png',
                                image: 'background-image: url(data/catalog/pools/modal/big1.png);',
                                class: 'image'
                            },
                            {
                                href: 'data/catalog/pools/modal/big2.png',
                                image: 'background-image: url(data/catalog/pools/modal/big2.png);',
                                class: 'image'
                            },
                            {
                                href: 'data/catalog/pools/modal/big1.png',
                                image: 'background-image: url(data/catalog/pools/modal/big1.png);',
                                class: 'image'
                            },
                            {
                                href: 'data/catalog/pools/modal/big2.png',
                                image: 'background-image: url(data/catalog/pools/modal/big2.png);',
                                class: 'image'
                            }
                        ]
                    .catalog-carousel--big.gallery-carousel
                        each val in catalogCarouselBig
                            .sl__slide
                                //-a(class=val.class href=val.href)
                                    //-img(src='data/catalog/pools/modal/big' + val.image + '.png' alt='')
                                .picture(style!= val.image)
                    -
                        var catalogCarouselSmall = [
                            {image: '1'},{image: '2'},{image: '3'},{image: '4'},{image: '5'},{image: '1'}
                        ]
                    .catalog-carousel--small
                        each val in catalogCarouselSmall
                            .sl__slide
                                img(src='data/catalog/pools/modal/small' + val.image + '.png' alt='')
                //= End carousel-catalog =
                = '\n'
                .goods__infoBlock
                    .goods__infoBlock__header
                        h1 Олімпік
                        .price Ціна –
                            span 11 600 eur
                    .goods__infoBlock__wrap
                        .goods__infoBlock__size
                            .goods__infoBlock__sizeWidth
                                p Ширина
                                p 7,30м

                            .goods__infoBlock__pic
                                img(src='assets/images/container/XX.png' alt='')

                            .goods__infoBlock__sizeHeight
                                p Висота
                                p 4,00м

                            .goods__infoBlock__pic
                                img(src='assets/images/container/XX.png' alt='')

                            .goods__infoBlock__sizeDepth
                                p Глибина
                                p 8,50м

                        .goods__infoBlock__volumeWeight
                            p Камінь –
                                span 37 м3
                            p Квадратура –
                                span 37 м3
                    .goods__infoBlock__text.text
                        ul
                            li Розташування - Вбудовується в борт басейну.
                            li Прозводительности - 2х25м3/ч (2 насоса)
                            li Прожектор - 1x200W галоген.
                            li Матеріали - інжектувати поліпропілен
                            li Фильтрующий Мішок - 2 фільтруючі мембрани (15 мікрон).
                            li Применяеться Для - Громадських басейнів.
                            li Додаткове Обладнання - Регулятор PH, підігрів, автоматичний дозатор.
                            li Колір - Солома, білий, темно-червоний, сірий, рожевий.

                            li Розташування - Вбудовується в борт басейну.
                            li Прозводительности - 2х25м3/ч (2 насоса)
                            li Прожектор - 1x200W галоген.
                            li Матеріали - інжектувати поліпропілен

            //= End goods =
            = '\n'


//= End catalog-modal =
= '\n'
