= '\n'
//= catalog-cabs =
//-=(source/assets/css/module/_aboutCompany.scss)=

.catalog-cabs
    - var titleInfo = subTitle
    include __title.pug

    //-=(module/_text.scss)=
    .catalog-cabs__text.text

        p.
            Тисячоліттями всі культури світу визнавали терапевтичну цінність прогрівання тіла для покращення здоров'я, заживання поранень та довголіття. Дія інфрачервоних кабін заснована на виділенні спеціальними випромінювачами інфрачервоних (теплових) хвиль. Інфрачервоні хвилі є природніми, абсолютно безпечними.
        p.
            Власне лікувально-профілактичні методи прогрівання і способи їх втілення завжди ділилися на 2 види:

        ul(style='margin: -29px 0 56px;')
            li локальне прогрівання хворого органу (рефлектори, розплавлений віск, УВЧ і ін.);
            li тотальне прогрівання організму (сауна, російська лазня, турецька лазня і т.п.).

        p.
            До недоліків локального прогріву можна віднести те, що глибинне проникнння тепла відбувається тільки на маленькій ділянці, не впливаючи в цілому на організм. До недоліків тотального — поверхневе прогріівання тіла, без проникнення тепла всередину. Ще в далеких 60-х роках учені задалися метою добитися ефекту глибинного проникнення тепла при тотальному прогріванні організму.
        p.
            В результаті дослідження були розробленні спеціальні випромінювачі з цирконієвої кераміки, що виділяють інфрачервоні хвилі «середнього» діапазону 5,6 — 15 мікрон. З'ясувалось, що хвилі цієї довжини можуть проникати в людське тіло на глибину до 4 см, здійснюючи при цьому сильний позитивний вплив на весь організм.
        p.
            Багато років проводились дослідження, спрямовані на вивчення особливостей проникаючого інфрачервоного випромінювання і розробку рекомендацій по правильному його використанню. Результатом багаторічних досліджень стало створення інфрачервоних кабін (саун), в яких випромінювачі, що розташовані оптимально по відношенню до людського тіла, дозволяють досягнути найбільшого ефекту. Сьогодні інфрачервоні кабіни стали популярними, вони широко використовуються вдома, в клініках, фітнес-клубах, басейнах, та спортцентрах багатьох країн. Користування ними стало дуже популярним.
        p.
            Тільки в Європі продається 30 000 інфрачервоних кабін в рік. Але не потрібно забувати, що баня на дров'яному отопленні (російська баня), як традиція, була, є і буде. Інфрачервона сауна «Komate» — новий, вдосконалений і ефективний винахід, користування яким не лише допоможе Вашому здоров'ю, але і зекономить Ваші гроші і Ваш час.

        img(src='data/text/' + nameTitle + '1.png' alt='')

        //- p(style='font-weight: bold; font-size: 18px;') Процес виготовлення чаю включає:
        //- ul
        //-     li збір та попереднє сортування
        //-     li зав’ялення
        //-     li скручування
        //-     li ферментація та просушування
        //-     li кінцеве сортування, маркування та пакування

        //-проверка всего текста для редактора
        //-include _text-audit.pug

//= End catalog-cabs =
= '\n'
