
-
    var catalog = [
        {
            stone: true,
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/furnaces/a1.png);',
            src: 'data/catalog/furnaces/a1.png',
            title: '«Русь»',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '7,30м',
            height: '4,00м',
            depth: '8,50м',
            volume: '37 м3',
            whiskerBoard: true,
            weight: '37 м3'
        },
        {
            stone: true,
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/furnaces/a2.png);',
            src: 'data/catalog/furnaces/a2.png',
            title: 'Сахара',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '6,20м',
            height: '3,00м',
            depth: '8,50м',
            volume: '27 м3',
            whiskerBoard: true,
            weight: '27 м3'
        },
        {
            stone: true,
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/furnaces/a3.png);',
            src: 'data/catalog/furnaces/a3.png',
            title: 'Сибирь',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '6,20м',
            height: '3,00м',
            depth: '8,50м',
            volume: '27 м3',
            whiskerBoard: true,
            weight: '27 м3'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/furnaces/a4.png);',
            src: 'data/catalog/furnaces/a4.png',
            title: 'Русь - Панорама',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '8,20м',
            height: '5,00м',
            depth: '8,30м',
            volume: '25 м3',
            whiskerBoard: true,
            weight: '25 м3'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/furnaces/a5.png);',
            src: 'data/catalog/furnaces/a5.png',
            title: 'Сибір - Панорама',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '9,20м',
            height: '6,00м',
            depth: '5,50м',
            volume: '19 м3',
            whiskerBoard: true,
            weight: '19 м3'
        }
    ]

= '\n'
//= catalog-furnaces =
//- (source/assets/css/module/_catalog-pools.scss)
.catalog-furnaces
    .container
        include _catalog.pug
//= End catalog-furnaces =
= '\n'
