
-
    var catalog = [
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/careForwater/a1.png);',
            src: 'data/catalog/careForwater/a1.png',
            //title: 'Олімпік',
            subtitle: 'AquaDoctor FL 5 кг.',
            //price: 'Потужність (кВт): 3.6',
            text: 'Гранулированный препарат, эффективно воздействует на мельчайшие частицы загрязняющие воду бассейна. Использование флокулянта позволяет достичь эффекта кристально чистой воды в бассейне'
            //width: '7,30м',
            //height: '4,00м',
            //depth: '8,50м',
            //volume: '37 м3',
            //whiskerBoard: true,
            //weight: '14 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/careForwater/a1.png);',
            src: 'data/catalog/careForwater/a1.png',
            //title: 'Амазонка',
            subtitle: 'AquaDoctor C-60 (C-60T)',
            //price: 'Потужність (кВт): 3.6',
            text: 'Ударный, быстрорастворимый препарат содержащий 60% активного хлора. Поставляется в виде гранул или таблеток по 20 грамм на выбор. Предназначается для первичной (шоковой) обработки воды в бассейне. Уничтожает вирусы, бактерии, грибок, плесень.'
            //width: '6,20м',
            //height: '3,00м',
            //depth: '8,50м',
            //volume: '27 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/careForwater/a1.png);',
            src: 'data/catalog/careForwater/a1.png',
            //title: 'Комфорт',
            subtitle: 'AquaDoctor C-90T',
            //price: 'Потужність (кВт): 3.6',
            text: 'Медленно растворимый, сильнодействующий препарат на основе 90% активного хлора. Рассчитан на постоянную обработку воды в бассейне. Уничтожает бактерии, вирусы, плесень, грибки. Поставляется в виде таблеток (шайб) по 200 гр. '
            //width: '6,20м',
            //height: '3,00м',
            //depth: '8,50м',
            //volume: '27 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/careForwater/a1.png);',
            src: 'data/catalog/careForwater/a1.png',
            //title: 'Атлантик',
            subtitle: 'AquaDoctor pH Plus',
            //price: 'Потужність (кВт): 3.6',
            text: 'Быстрорастворимый препарат AquaDoctor pH Plus предназначен для повышения кислотности воды в бассейне до оптимального уровня (7.2-7.6). Оптимальное значение pH увеличивает эффективность дезинфицирующих средств и коагулянтов. Препарат расфасован в герметично запечатанные ведра по 5 и 50 кг.'
            //width: '8,20м',
            //height: '5,00м',
            //depth: '8,30м',
            //volume: '25 м3',
            //whiskerBoard: true,
            //weight: '35 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/careForwater/a1.png);',
            src: 'data/catalog/careForwater/a1.png',
            //title: 'Купель',
            subtitle: 'AquaDoctor AC',
            //price: 'Потужність (кВт): 3.6',
            text: 'Альгицид Аквадоктор АС – жидкий, не пенящийся химический состав с мощным бактерицидным, противогрибковым и противоводорослевым действием, предназначен для предотвращения появления и устранения водорослей, бактерий, грибков в воде бассейна'
            //width: '9,20м',
            //height: '6,00м',
            //depth: '5,50м',
            //volume: '19 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/careForwater/a1.png);',
            src: 'data/catalog/careForwater/a1.png',
            //title: 'Приямок',
            subtitle: 'OXIDAN DCN/WSG',
            //price: 'Потужність (кВт): 3.6',
            text: 'Быстрорастворимый стабилизированный шоковый препарат на основе хлора OXIDAN DCN/WSG для бассейнов. Предназначен для стерилизации водоема, уничтожения микробов, бактерий. В виде гранул. Подходит для ручного и автоматического дозирования. Содержит 55% активного хлора. Возможна регулярная обработка воды.'
            //width: '10,20м',
            //height: '7,00м',
            //depth: '5,30м',
            //volume: '19 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/careForwater/a1.png);',
            src: 'data/catalog/careForwater/a1.png',
            //title: 'Ажур',
            subtitle: 'OXIDAN MTF 200',
            //price: 'Потужність (кВт): 3.6',
            text: 'Медленнорастворимый комбинированный препарат 3 в 1 OXIDAN MTF 200 для регулярной обработки бассейнов. Предназначен для стерилизации водоема, уничтожения микробов, бактерий, осветления воды, ликвидации слизи и водорослей. В виде шайб по 200 грамм. Подходит для ручного дозирования. Содержит 87% активного хлора, альгитин, флоккулянт. '
            //width: '6,20м',
            //height: '3,00м',
            //depth: '8,30м',
            //volume: '29 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/careForwater/a1.png);',
            src: 'data/catalog/careForwater/a1.png',
            //title: 'Приямок',
            subtitle: 'AquaDoctor Superflock',
            //price: 'Потужність (кВт): 3.6',
            text: 'Флокулянт Аквадоктор SF SuperFlock – коагулирующее средство длительного действия, связывает мельчайшие загрязняющие частицы в воде. Поставляется в тканевых картушах по 5 таблеток в каждом. Всего в коробке 8 картушей (40 таблеток).'
            //width: '9,45м',
            //height: '12,00м',
            //depth: '4,30м',
            //volume: '6 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        }
    ]

= '\n'
//= catalog-careForwater =
//- (source/assets/css/module/_catalog-pools.scss)
.catalog-careForwater
    .container
        include _catalog.pug
//= End catalog-careForwater =
= '\n'
