
-
    var catalog = [
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/cover/a1.png);',
            src: 'data/catalog/cover/a1.png',
            //title: 'Олімпік',
            subtitle: 'Павільйон BASIC («Основний»)',
            //price: 'Потужність (кВт): 3.6',
            text: 'Найбільш популярним і економічно привабливим є павільйон типу Basic - основний. Простий і елегантний зовнішній вигляд, з можливістю бокового входу!'
            //width: '7,30м',
            //height: '4,00м',
            //depth: '8,50м',
            //volume: '37 м3',
            //whiskerBoard: true,
            //weight: '14 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/cover/a2.png);',
            src: 'data/catalog/cover/a2.png',
            //title: 'Амазонка',
            subtitle: 'Павільйон CHEMPION («Чемпіон»)',
            //price: 'Потужність (кВт): 3.6',
            text: 'Найбільш популярним і економічно привабливим є павільйон типу Basic - основний. Простий і елегантний зовнішній вигляд, з можливістю бокового входу!'
            //width: '6,20м',
            //height: '3,00м',
            //depth: '8,50м',
            //volume: '27 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/cover/a3.png);',
            src: 'data/catalog/cover/a3.png',
            //title: 'Комфорт',
            subtitle: 'Павільйон TROPIK («Тропік»)',
            //price: 'Потужність (кВт): 3.6',
            text: 'Найбільш популярним і економічно привабливим є павільйон типу Basic - основний. Простий і елегантний зовнішній вигляд, з можливістю бокового входу!'
            //width: '6,20м',
            //height: '3,00м',
            //depth: '8,50м',
            //volume: '27 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/cover/a4.png);',
            src: 'data/catalog/cover/a4.png',
            //title: 'Атлантик',
            subtitle: 'Павільйон MYSTIC («Магія»)',
            //price: 'Потужність (кВт): 3.6',
            text: 'Найбільш популярним і економічно привабливим є павільйон типу Basic - основний. Простий і елегантний зовнішній вигляд, з можливістю бокового входу!'
            //width: '8,20м',
            //height: '5,00м',
            //depth: '8,30м',
            //volume: '25 м3',
            //whiskerBoard: true,
            //weight: '35 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/cover/a5.png);',
            src: 'data/catalog/cover/a5.png',
            //title: 'Купель',
            subtitle: 'Павільйон CHARM («ШАРМ»)',
            //price: 'Потужність (кВт): 3.6',
            text: 'Найбільш популярним і економічно привабливим є павільйон типу Basic - основний. Простий і елегантний зовнішній вигляд, з можливістю бокового входу!'
            //width: '9,20м',
            //height: '6,00м',
            //depth: '5,50м',
            //volume: '19 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/cover/a6.png);',
            src: 'data/catalog/cover/a6.png',
            //title: 'Приямок',
            subtitle: 'Павільйон FANTASY («Фантазія»)',
            //price: 'Потужність (кВт): 3.6',
            text: 'Найбільш популярним і економічно привабливим є павільйон типу Basic - основний. Простий і елегантний зовнішній вигляд, з можливістю бокового входу!'
            //width: '10,20м',
            //height: '7,00м',
            //depth: '5,30м',
            //volume: '19 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/cover/a7.png);',
            src: 'data/catalog/cover/a7.png',
            //title: 'Ажур',
            subtitle: 'Павільйон MOON («Місяць»)',
            //price: 'Потужність (кВт): 3.6',
            text: 'Найбільш популярним і економічно привабливим є павільйон типу Basic - основний. Простий і елегантний зовнішній вигляд, з можливістю бокового входу!'
            //width: '6,20м',
            //height: '3,00м',
            //depth: '8,30м',
            //volume: '29 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/cover/a8.png);',
            src: 'data/catalog/cover/a8.png',
            //title: 'Приямок',
            subtitle: 'Павільйон ATYP. BASIC («Особливий»)',
            //price: 'Потужність (кВт): 3.6',
            text: 'Найбільш популярним і економічно привабливим є павільйон типу Basic - основний. Простий і елегантний зовнішній вигляд, з можливістю бокового входу!'
            //width: '9,45м',
            //height: '12,00м',
            //depth: '4,30м',
            //volume: '6 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        }
    ]

= '\n'
//= catalog-cover =
//- (source/assets/css/module/_catalog-pools.scss)
.catalog-cover
    .container
        include _catalog.pug
//= End catalog-cover =
= '\n'
