
-
    var catalog = [
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/stations/a1.png);',
            src: 'data/catalog/stations/a1.png',
            //title: 'Олімпік',
            subtitle: 'GR.I 110',
            //price: 'Потужність (кВт): 3.6',
            text: '<ul><li>Розташування - "На борту басейну"</li><li>Прозводительности - 18м3/ч</li><li>Прожектор - 1x50W.</li><li>Матеріали - інжектувати поліпропілен</li><li>Ступінь Фільтрації - мембранним фільтром 6,15 або 30мікрон</li><li>Применяеться Для - Басейн <8x4m</li><li>Колір - Світло блакитний</li><li>Розміри - 118х58,2х83 см</li></ul>'
            //width: '7,30м',
            //height: '4,00м',
            //depth: '8,50м',
            //volume: '37 м3',
            //whiskerBoard: true,
            //weight: '14 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/stations/a2.png);',
            src: 'data/catalog/stations/a2.png',
            //title: 'Амазонка',
            subtitle: 'GR.I 181',
            //price: 'Потужність (кВт): 3.6',
            text: '<ul><li>Розташування - "На борту басейну"</li><li>Прозводительности - 18м3/ч</li><li>Прожектор - 1x50W.</li><li>Матеріали - інжектувати поліпропілен</li><li>Ступінь Фільтрації - мембранним фільтром 6,15 або 30мікрон</li><li>Применяеться Для - Басейн <8x4m</li><li>Колір - Світло блакитний</li><li>Розміри - 118х58,2х83 см</li></ul>'
            //width: '6,20м',
            //height: '3,00м',
            //depth: '8,50м',
            //volume: '27 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/stations/a1.png);',
            src: 'data/catalog/stations/a1.png',
            //title: 'Комфорт',
            subtitle: 'GR.I 251',
            //price: 'Потужність (кВт): 3.6',
            text: '<ul><li>Розташування - "На борту басейну"</li><li>Прозводительности - 18м3/ч</li><li>Прожектор - 1x50W.</li><li>Матеріали - інжектувати поліпропілен</li><li>Ступінь Фільтрації - мембранним фільтром 6,15 або 30мікрон</li><li>Применяеться Для - Басейн <8x4m</li><li>Колір - Світло блакитний</li><li>Розміри - 118х58,2х83 см</li></ul>'
            //width: '6,20м',
            //height: '3,00м',
            //depth: '8,50м',
            //volume: '27 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/stations/a2.png);',
            src: 'data/catalog/stations/a2.png',
            //title: 'Атлантик',
            subtitle: 'GR.I 441',
            //price: 'Потужність (кВт): 3.6',
            text: '<ul><li>Розташування - "На борту басейну"</li><li>Прозводительности - 18м3/ч</li><li>Прожектор - 1x50W.</li><li>Матеріали - інжектувати поліпропілен</li><li>Ступінь Фільтрації - мембранним фільтром 6,15 або 30мікрон</li><li>Применяеться Для - Басейн <8x4m</li><li>Колір - Світло блакитний</li><li>Розміри - 118х58,2х83 см</li></ul>'
            //width: '8,20м',
            //height: '5,00м',
            //depth: '8,30м',
            //volume: '25 м3',
            //whiskerBoard: true,
            //weight: '35 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/stations/a1.png);',
            src: 'data/catalog/stations/a1.png',
            //title: 'Купель',
            subtitle: 'Фильтрующая панель PF.I 181',
            //price: 'Потужність (кВт): 3.6',
            text: '<ul><li>Розташування - "На борту басейну"</li><li>Прозводительности - 18м3/ч</li><li>Прожектор - 1x50W.</li><li>Матеріали - інжектувати поліпропілен</li><li>Ступінь Фільтрації - мембранним фільтром 6,15 або 30мікрон</li><li>Применяеться Для - Басейн <8x4m</li><li>Колір - Світло блакитний</li><li>Розміри - 118х58,2х83 см</li></ul>'
            //width: '9,20м',
            //height: '6,00м',
            //depth: '5,50м',
            //volume: '19 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/stations/a2.png);',
            src: 'data/catalog/stations/a2.png',
            //title: 'Приямок',
            subtitle: 'Фильтруюча панель PF.I 251',
            //price: 'Потужність (кВт): 3.6',
            text: '<ul><li>Розташування - "На борту басейну"</li><li>Прозводительности - 18м3/ч</li><li>Прожектор - 1x50W.</li><li>Матеріали - інжектувати поліпропілен</li><li>Ступінь Фільтрації - мембранним фільтром 6,15 або 30мікрон</li><li>Применяеться Для - Басейн <8x4m</li><li>Колір - Світло блакитний</li><li>Розміри - 118х58,2х83 см</li></ul>'
            //width: '10,20м',
            //height: '7,00м',
            //depth: '5,30м',
            //volume: '19 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/stations/a1.png);',
            src: 'data/catalog/stations/a1.png',
            //title: 'Ажур',
            subtitle: 'Фильтруюча панель PF.I 441',
            //price: 'Потужність (кВт): 3.6',
            text: '<ul><li>Розташування - "На борту басейну"</li><li>Прозводительности - 18м3/ч</li><li>Прожектор - 1x50W.</li><li>Матеріали - інжектувати поліпропілен</li><li>Ступінь Фільтрації - мембранним фільтром 6,15 або 30мікрон</li><li>Применяеться Для - Басейн <8x4m</li><li>Колір - Світло блакитний</li><li>Розміри - 118х58,2х83 см</li></ul>'
            //width: '6,20м',
            //height: '3,00м',
            //depth: '8,30м',
            //volume: '29 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        }
    ]

= '\n'
//= catalog-careForwater =
//- (source/assets/css/module/_catalog-pools.scss)
.catalog-careForwater
    .container
        include _catalog.pug
//= End catalog-careForwater =
= '\n'
