= '\n'
//= catalog-attractions =
//-=(source/assets/css/module/_aboutCompany.scss)=

.catalog-attractions
    - var titleInfo = subTitle
    include __title.pug

    //-=(module/_text.scss)=
    .catalog-attractions__text.text

        p.
            Атракціони дозволяють навіть в простому та невеликому басейні отримати заряд бадьорості та енергії. Ваш відпочинок стане незабутнім та дуже цікавим.
        p.
            На сьогоднішній день існує величезна безліч всіляких атракціонів, які і прикрашають ваш басейн, і здатні різноманітити відпочинок в нім. Якщо розмір басейну дозволяє, то клієнти встановлюють і водні гриби, і водопади, і гармати.
        p.
            Водоспад – це не тільки дивовижне красиве видовище у басейні, а й велика користь для Вас. Такий атракціон в басейні має можливість подарувати Вам та вашим дітям море задоволення та радощів, а також падаюча вода допоможе позбутися білю у шийному відділі хребта. Після такого масажу ви відчуєте розслаблення м’язів та зняття стомленості.
        p.
            Використовуючи гідромасажні форсунки, можна насолоджуватися лікувальним або розслаблюючим масажем прямо у воді басейну. Відчуття, які ви отримаєте, будуть незабутніми.
        p.
            Система протитоку не дасть вам втратити форму, так як плавати, прикладаючи зусилля, ви зможете навіть у басейні невеликих розмірів. Потужність потоку ви будете регулювати самостійно, що дозволить плисти проти течії, як дітям, так і фізично підготовленим людям.

        img(src='data/text/' + nameTitle + '1.png' alt='')

        //- p(style='font-weight: bold; font-size: 18px;') Процес виготовлення чаю включає:
        //- ul
        //-     li збір та попереднє сортування
        //-     li зав’ялення
        //-     li скручування
        //-     li ферментація та просушування
        //-     li кінцеве сортування, маркування та пакування

        //-проверка всего текста для редактора
        //-include _text-audit.pug

//= End catalog-attractions =
= '\n'
