
-
    var catalog = [
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/pools/a1.png);',
            src: 'data/catalog/pools/a1.png',
            title: 'Олімпік',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '7,30м',
            height: '4,00м',
            depth: '8,50м',
            volume: '37 м3',
            //whiskerBoard: true,
            //weight: '14 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/pools/a2.png);',
            src: 'data/catalog/pools/a2.png',
            title: 'Амазонка',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '6,20м',
            height: '3,00м',
            depth: '8,50м',
            volume: '27 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/pools/a3.png);',
            src: 'data/catalog/pools/a3.png',
            title: 'Комфорт',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '6,20м',
            height: '3,00м',
            depth: '8,50м',
            volume: '27 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/pools/a4.png);',
            src: 'data/catalog/pools/a4.png',
            title: 'Атлантик',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '8,20м',
            height: '5,00м',
            depth: '8,30м',
            volume: '25 м3',
            //whiskerBoard: true,
            //weight: '35 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/pools/a5.png);',
            src: 'data/catalog/pools/a5.png',
            title: 'Купель',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '9,20м',
            height: '6,00м',
            depth: '5,50м',
            volume: '19 м3',
            //whiskerBoard: true,
            //weight: '20 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/pools/a6.png);',
            src: 'data/catalog/pools/a6.png',
            title: 'Приямок',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '10,20м',
            height: '7,00м',
            depth: '5,30м',
            volume: '19 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/pools/a7.png);',
            src: 'data/catalog/pools/a7.png',
            title: 'Ажур',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '6,20м',
            height: '3,00м',
            depth: '8,30м',
            volume: '29 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/pools/a8.png);',
            src: 'data/catalog/pools/a8.png',
            title: 'Приямок',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '9,45м',
            height: '12,00м',
            depth: '4,30м',
            volume: '6 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        },
        {
            href: 'catalog-inner.html',
            image: 'background-image: url(data/catalog/pools/a9.png);',
            src: 'data/catalog/pools/a9.png',
            title: 'Топаз',
            //subtitle: 'Розмір сауни 2-4.5 м3',
            //price: 'Потужність (кВт): 3.6',
            width: '8,20м',
            height: '13,00м',
            depth: '5,30м',
            volume: '20 м3',
            //whiskerBoard: true,
            //weight: '30 мм'
        }
    ]

= '\n'
//= catalog-pools =
//- (source/assets/css/module/_catalog-pools.scss)
.catalog-pools
    .container
        include _catalog.pug
//= End catalog-pools =
= '\n'
