-
    var contactForm = [
        {
            placeholder: 'Ваше ім\'я*',
            error: true
        },
        {
            placeholder: 'Ваш номер телефону*'
        }
    ]

= '\n'
//= contact =
//- (source/assets/css/module/_contact.scss)
.contact
    .container
        - var titleInfo = subTitle
        include __title.pug
        .contact__main
            .contact__info
                .contact__number-phone
                    ul
                        li
                            a.phone(href='tel:+380362262345') (0362) 26-23-45
                        li
                            a.phone(href='tel:+380505215059') (050) 521-50-59
                        li
                            a.phone(href='tel:+380956290700') (095) 629-07-00
                        li
                            a.fax(href='tel:+380362636182') (0362) 63-61-82
                        li
                            a.mail(href='mailto:vp_fortuna@ukr.net') vp_fortuna@ukr.net

                    ul
                        li
                            p.address вул. Соборна, 14, м. Рівне
                        li
                            i пн-пт - 9:00-18:00
                        li
                            i сб-нд - вихідні

                ='\n'
                // = contactForm =
                form.contactForm(method='')
                    .contactForm__title Напишіть нам
                    .contactForm__text Якщо у вас залишилися питання, ви можете залишити заявку. Ми вам перетелефонуємо та проконсультуємо.
                    .contactForm__main
                        .contactForm__container
                            each item in contactForm
                                if item.error
                                    .form-group.has-error
                                        input.form-control(type='text' placeholder= item.placeholder)
                                        .help-block
                                        a.help-block__close(href='javascript: void(0);')
                                else
                                    .form-group
                                        input.form-control(type='text' placeholder= item.placeholder)
                                        .help-block
                                        a.help-block__close(href='javascript: void(0);')

                        .contactForm__textarea
                            .form-group
                                textarea.form-control(placeholder='Повідомлення')
                    .contactForm__next
                        .form-group.has-error
                            label.contactForm__checkbox
                                input.contactForm__checkbox-input(type='checkbox')
                                span.contactForm__checkbox-checker
                                span.contactForm__checkbox-link Я погоджуюся на обробку персональних данних

                        button.contactForm__button(type='button') Відправити
                // = End contactForm =
                ='\n'

            .contact__map
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1265.732579758755!2d26.2584463!3d50.6184751!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f13506ebb3219%3A0x2a29546fb8977c9e!2z0YPQuy4g0KHQvtCx0L7RgNC90LDRjywgMTTQsCwg0KDQvtCy0L3Qviwg0KDQvtCy0LXQvdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzMzAwMA!5e0!3m2!1sru!2sua!4v1547475598433"></iframe>

//= End contact =
= '\n'
