= '\n'
//= installation =
//- (source/assets/css/layout/_installation.scss)
//-.installation.parallax-window(style='background-image: url(data/installation/swimming.png);' data-speed='2')
.installation.parallax-window(data-parallax='scroll' data-image-src='data/installation/swimming.png')
    .container.installation__container
        .installation__item
            .installation__text
                img(src='assets/images/container/wave.png' alt='')
                h2 15 років
                strong займаєємося встановленням басейнів та саун
                p За цей період ми зарекомендували себе як:

                ul
                    li
                        img(src='assets/images/container/engineer.png' alt='')
                        span Досвітчені майстри
                    li
                        img(src='assets/images/container/price-tag.png' alt='')
                        span Чесна ціна без «Додаткових витрат»
                    li
                        img(src='assets/images/container/stopwatch.png' alt='')
                        span Роботу виконуємо в зазначені терміни



//= End installation =
= '\n'
