-
    var mention = [
        {
            title: 'Віктор Васильович П.',
            data: '20.09.2018',
            text: 'Скористався послугою енергоаудиту, щоб перевірити тепловий стан будинку перед початком проведення утеплення та правильного розрахунку і підбору обладнання на опалення. Приємно вражений роботою відділу енергоаудиту, багато нового дізнався про свій будинок. За результатами досліджень фахівців компанії «Адамсон» , дізнався про найбільш ефективний вид опалення для даного будинку, який дасть змогу суттєво економити енергоресурси, отримав точні розрахунки по витратах газу та світла при різних типах  обладнання (газовий котел, ел. котел, тепловий насос), що дало змогу вибрати найкращий оптимальний варіант.'
        },
        {
            title: 'Федорів Наталія',
            data: '11.08.2018',
            text: 'Доброзичливі працівники. Виконали свою роботу чітко, відповідально та якісно.Отримана інформація є корисною та вичерпною.Буду рекомендувати компанію «Адамсон» своїм знайомим.'
        },
        {
            title: 'Огар Мирон',
            data: '15.07.2018',
            text: 'Серйозний і зважений персонал надав корисні поради по утепленню приміщення. Я задоволений співпрацею з компанією.'
        },
        {
            title: 'Костюк Ярослав',
            data: '17.06.2018',
            text: 'Чисто випадково зайшов до офісу компанії поцікавитись, які в них є котли для опалення будинку. Отримав якісну консультацію, а також пропозицію провести енергоаудит. Погодився і не пожалів. За символічну плату, як на мою думку, Я отримав повну інформацію про проблеми будинку із зовнішньою теплоізоляцією, вентиляцією а також шляхи вирішення даних проблем. Я задоволений якістю проведених робіт, а також роботи персоналу. Буду рекомендувати їхні послуги друзям.'
        },
        {
            title: 'Ігор К.',
            data: '16.05.2017',
            text: 'Спеціалісти провели його швидко та якісно, а через деякий час запросили на презентацію звіту. Надали вичерпну інформацію про проблемні ділянки будинку, запропонували шляхи енергозбереження в приміщеннях, надали розрахунки обладнання для опалення та вентиляції. Я задоволений не тільки якістю обслуговування, але і доброзичливим ставленням до кліентів.'
        }
    ]

= '\n'
//= mention =
//-=(source/assets/css/module/_mention.scss)=

.mention
    each item in mention
        .mention__item
            .mention__title= item.title
            .mention__data
                |Додано:
                span= item.data

            //-include _mention.pug
            //- =(module/_rating4.scss)=
            .rating
                ul.rating__list
                    li.rating__item.rating__full
                    li.rating__item.rating__full
                    li.rating__item.rating__full
                    li.rating__item.rating__full
                    li.rating__item

            .mention__text= item.text

//= End mention =
= '\n'
