= '\n'
//= pageUp =
//-=(module/_pageUp.scss)=
//-.pageUp
    a.pageUp__link.anchor(href='#layout')

a.up(href='#')
    img(src='assets/images/container/arrow-top.png', alt='')
//= End pageUp =
= '\n'
