= '\n'
//= recall =
//- (source/assets/css/layout/_recall.scss)
.recall
    .container
        #recallSlider

            .recall__item
                .recall__img
                    .recall__frame
                        .recall__people
                            img(src='data/recall/people.png' alt='')
                        .recall__wave
                            img(src='assets/images/container/recallwave.png' alt='')
                    .recall__who
                        .recall__name Це Водимир
                        .recall__desc
                            p
                            |Ми встановили йому басейн
                            span Olimpic
                            p І ось що він каже про нас

                .recall__text
                    p.
                        Хочемо подякувати персоналу комплексу за гостинний прийом,приємну атмосферу,чудову кухню,порції дуже великі,а головне все дуже смачно.Номер чистий і охайний.  Обов"язково наступного разу знову зупинимось саме тут. Дякуємо.

            .recall__item
                .recall__img
                    .recall__frame
                        .recall__people
                            img(src='data/recall/people.png' alt='')
                        .recall__wave
                            img(src='assets/images/container/recallwave.png' alt='')
                    .recall__who
                        .recall__name Це Водимир
                        .recall__desc
                            p
                            |Ми встановили йому басейн
                            span Olimpic
                            p І ось що він каже про нас

                .recall__text
                    p.
                        Хочемо подякувати персоналу комплексу за гостинний прийом,приємну атмосферу,чудову кухню,порції дуже великі,а головне все дуже смачно.Номер чистий і охайний.  Обов"язково наступного разу знову зупинимось саме тут. Дякуємо.

            .recall__item
                .recall__img
                    .recall__frame
                        .recall__people
                            img(src='data/recall/people.png' alt='')
                        .recall__wave
                            img(src='assets/images/container/recallwave.png' alt='')
                    .recall__who
                        .recall__name Це Водимир
                        .recall__desc
                            p
                            |Ми встановили йому басейн
                            span Olimpic
                            p І ось що він каже про нас

                .recall__text
                    p.
                        Хочемо подякувати персоналу комплексу за гостинний прийом,приємну атмосферу,чудову кухню,порції дуже великі,а головне все дуже смачно.Номер чистий і охайний.  Обов"язково наступного разу знову зупинимось саме тут. Дякуємо.

            .recall__item
                .recall__img
                    .recall__frame
                        .recall__people
                            img(src='data/recall/people.png' alt='')
                        .recall__wave
                            img(src='assets/images/container/recallwave.png' alt='')
                    .recall__who
                        .recall__name Це Водимир
                        .recall__desc
                            p
                            |Ми встановили йому басейн
                            span Olimpic
                            p І ось що він каже про нас

                .recall__text
                    p.
                        Хочемо подякувати персоналу комплексу за гостинний прийом,приємну атмосферу,чудову кухню,порції дуже великі,а головне все дуже смачно.Номер чистий і охайний.  Обов"язково наступного разу знову зупинимось саме тут. Дякуємо.

            .recall__pagingInfo
//= End recall =
= '\n'

//-http://web-andryshka.ru/slick-1/
//-http://qaru.site/questions/293553/slickjs-get-current-and-total-slides-ie-35
//-http://jsfiddle.net/saxqwyp0/
//-https://jsfiddle.net/AdrienBe/L0v2s26t/
//-https://jsfiddle.net/rLLvvpcm/81/
