= '\n'
//= shipment-filter =
//-=(module/_shipment.scss)=
//-=(module/_filters.scss)=
.shipment-filter
    .shipment-filter__filter.filters.filters-mobile-slide
        .shipment-filter__wrap

            .shipment__item

                .shipment__header
                    .shipment__title Розміри
                .shipment__content
                    -
                        var checkboxData = filterData.manufacturers;
                    include _checkbox.pug

            .shipment__item

                .shipment__header
                    .shipment__title Конструкція
                .shipment__content
                    -
                        var checkboxData = filterData.availability;
                    include _checkbox.pug

            .shipment__item

                .shipment__header
                    .shipment__title Спа
                .shipment__content
                    -
                        var checkboxData = filterData.goods;
                    include _checkbox.pug

    .toggle-filters-mobile-slide.ColProd-width
        i.toggleFilter
        span.toggleClose

//= End shipment-filter =
= '\n'
