= '\n'
//= small-Slider =
//-=(module/_slick.scss, layout/_small-Slider.scss)=

.small-Slider

    .small-Slider__item
        //proportions and the maximum size of images 810x540
        .small-Slider__img
            img(src='data/text/' + nameTitle + picNumber + '.png' alt='')

    .small-Slider__item
        //proportions and the maximum size of images 810x540
        .small-Slider__img
            img(src='data/text/' + nameTitle + picNumber + '.png' alt='')

    .small-Slider__item
        //proportions and the maximum size of images 810x540
        .small-Slider__img
            img(src='data/text/' + nameTitle + picNumber + '.png' alt='')

    .small-Slider__item
        //proportions and the maximum size of images 810x540
        .small-Slider__img
            img(src='data/text/' + nameTitle + picNumber + '.png' alt='')

    .small-Slider__item
        //proportions and the maximum size of images 810x540
        .small-Slider__img
            img(src='data/text/' + nameTitle + picNumber + '.png' alt='')

    .small-Slider__item
        //proportions and the maximum size of images 810x540
        .small-Slider__img
            img(src='data/text/' + nameTitle + picNumber + '.png' alt='')

    .small-Slider__item
        //proportions and the maximum size of images 810x540
        .small-Slider__img
            img(src='data/text/' + nameTitle + picNumber + '.png' alt='')

    .small-Slider__item
        //proportions and the maximum size of images 810x540
        .small-Slider__img
            img(src='data/text/' + nameTitle + picNumber + '.png' alt='')
//= End small-Slider =
= '\n'
