= '\n'
//= tabs =
//- (source/assets/css/module/_tabs.scss)
.tabs.vertical
    .container.containerTabs
        ul.tabs__caption
            li.active Запорізький завод
            li Миколаївський завод
            li Київський завод
            li Бетонні
            li Збірно-розбірні
            li Поліпропілен
            li СПА-басейни
            li СПА та купелі

        .tabs__content.active
            table
                tr
                    td
                        h6 Запорізький завод
                        p Надійність скловолокна зробила його кращим матеріалом для виробництва яхт, літаків, автомобілів і сотні інших виробів в тому числі і чаш для басейнів. Скловолоконні басейни будуються по принципу багатошарової стіни що забезпечує надзвичайну надійність і довговічність.

                    td
                        b(style='font-family: gilroysemibold; ') Тепер детальніше про самі басейни:
                        ol
                            li Дизайн що включає широкі римські драбини та місця для відпочинку;
                            li Гладка поверхня дають відчуття роскоші та комфорту;
                            li Можливість ексклюзивної обробки мозаїкою по периметру чи на дні;
                            li Різноманітне обладнання для задоволення будь-яких бажань: освітлення, фільтрація, підігрів, протитечія і багато іншого;
                            li В зимовий час не вимагає зливу води
                    td
                        b(style='font-family: gilroysemibold; ') Скловолоконні басейни не вимагають капітального будівництва:
                        ul
                            li Чаша приходить на місце установки повністю готовою;
                            li Відсутність стиків і швів, Наш басейн – це єдина монолітна чаша;
                            li Час монтажу не місяці, як у випадку традиційних бетонних чаш, а 5-7 днів «під ключ».

        .tabs__content
            table
                tr
                    td
                        h6 Миколаївський завод
                        p Надійність скловолокна зробила його кращим матеріалом для виробництва яхт, літаків, автомобілів і сотні інших виробів в тому числі і чаш для басейнів. Скловолоконні басейни будуються по принципу багатошарової стіни що забезпечує надзвичайну надійність і довговічність.

                    td
                        b(style='font-family: gilroysemibold; ') Скловолоконні басейни не вимагають капітального будівництва:
                        ul
                            li Чаша приходить на місце установки повністю готовою;
                            li Відсутність стиків і швів, Наш басейн – це єдина монолітна чаша;
                            li Час монтажу не місяці, як у випадку традиційних бетонних чаш, а 5-7 днів «під ключ».

        .tabs__content
            table
                tr
                    td
                        h6 Київський завод
                        p Надійність скловолокна зробила його кращим матеріалом для виробництва яхт, літаків, автомобілів і сотні інших виробів в тому числі і чаш для басейнів. Скловолоконні басейни будуються по принципу багатошарової стіни що забезпечує надзвичайну надійність і довговічність.

        .tabs__content
            table
                tr
                    td
                        p(style='font-family: gilroysemibold; ') Скловолоконні басейни не вимагають капітального будівництва:
                        ul
                            li Чаша приходить на місце установки повністю готовою;
                            li Відсутність стиків і швів, Наш басейн – це єдина монолітна чаша;
                            li Час монтажу не місяці, як у випадку традиційних бетонних чаш, а 5-7 днів «під ключ».

        .tabs__content
            table
                tr
                    td
                        h6 Збірно-розбірні
                        p Надійність скловолокна зробила його кращим матеріалом для виробництва яхт, літаків, автомобілів і сотні інших виробів в тому числі і чаш для басейнів. Скловолоконні басейни будуються по принципу багатошарової стіни що забезпечує надзвичайну надійність і довговічність.

                    td
                        b(style='font-family: gilroysemibold; ') Тепер детальніше про самі басейни:
                        ol
                            li Дизайн що включає широкі римські драбини та місця для відпочинку;
                            li Гладка поверхня дають відчуття роскоші та комфорту;
                            li Можливість ексклюзивної обробки мозаїкою по периметру чи на дні;
                            li Різноманітне обладнання для задоволення будь-яких бажань: освітлення, фільтрація, підігрів, протитечія і багато іншого;
                            li В зимовий час не вимагає зливу води
                    td
                        b(style='font-family: gilroysemibold; ') Скловолоконні басейни не вимагають капітального будівництва:
                        ul
                            li Чаша приходить на місце установки повністю готовою;
                            li Відсутність стиків і швів, Наш басейн – це єдина монолітна чаша;
                            li Час монтажу не місяці, як у випадку традиційних бетонних чаш, а 5-7 днів «під ключ».

        .tabs__content
            table
                tr
                    td
                        h6 Поліпропілен
                        p Надійність скловолокна зробила його кращим матеріалом для виробництва яхт, літаків, автомобілів і сотні інших виробів в тому числі і чаш для басейнів. Скловолоконні басейни будуються по принципу багатошарової стіни що забезпечує надзвичайну надійність і довговічність.

                    td
                        p(style='font-family: gilroysemibold; ') Тепер детальніше про самі басейни:
                        ol
                            li Дизайн що включає широкі римські драбини та місця для відпочинку;
                            li Гладка поверхня дають відчуття роскоші та комфорту;
                            li Можливість ексклюзивної обробки мозаїкою по периметру чи на дні;
                            li Різноманітне обладнання для задоволення будь-яких бажань: освітлення, фільтрація, підігрів, протитечія і багато іншого;
                            li В зимовий час не вимагає зливу води
                    td
                        p(style='font-family: gilroysemibold; ') Скловолоконні басейни не вимагають капітального будівництва:
                        ul
                            li Чаша приходить на місце установки повністю готовою;
                            li Відсутність стиків і швів, Наш басейн – це єдина монолітна чаша;
                            li Час монтажу не місяці, як у випадку традиційних бетонних чаш, а 5-7 днів «під ключ».

        .tabs__content
            table
                tr
                    td
                        h6 СПА-басейни
                        p Надійність скловолокна зробила його кращим матеріалом для виробництва яхт, літаків, автомобілів і сотні інших виробів в тому числі і чаш для басейнів. Скловолоконні басейни будуються по принципу багатошарової стіни що забезпечує надзвичайну надійність і довговічність.

                    td
                        b(style='font-family: gilroysemibold; ') Тепер детальніше про самі басейни:
                        ol
                            li Дизайн що включає широкі римські драбини та місця для відпочинку;
                            li Гладка поверхня дають відчуття роскоші та комфорту;
                            li Можливість ексклюзивної обробки мозаїкою по периметру чи на дні;
                            li Різноманітне обладнання для задоволення будь-яких бажань: освітлення, фільтрація, підігрів, протитечія і багато іншого;
                            li В зимовий час не вимагає зливу води
                    td
                        b(style='font-family: gilroysemibold; ') Скловолоконні басейни не вимагають капітального будівництва:
                        ul
                            li Чаша приходить на місце установки повністю готовою;
                            li Відсутність стиків і швів, Наш басейн – це єдина монолітна чаша;
                            li Час монтажу не місяці, як у випадку традиційних бетонних чаш, а 5-7 днів «під ключ».

        .tabs__content
            table
                tr
                    td
                        h6 СПА та купелі
                        p Надійність скловолокна зробила його кращим матеріалом для виробництва яхт, літаків, автомобілів і сотні інших виробів в тому числі і чаш для басейнів. Скловолоконні басейни будуються по принципу багатошарової стіни що забезпечує надзвичайну надійність і довговічність.

                    td
                        b(style='font-family: gilroysemibold; ') Тепер детальніше про самі басейни:
                        ol
                            li Дизайн що включає широкі римські драбини та місця для відпочинку;
                            li Гладка поверхня дають відчуття роскоші та комфорту;
                            li Можливість ексклюзивної обробки мозаїкою по периметру чи на дні;
                            li Різноманітне обладнання для задоволення будь-яких бажань: освітлення, фільтрація, підігрів, протитечія і багато іншого;
                            li В зимовий час не вимагає зливу води
                    td
                        b(style='font-family: gilroysemibold; ') Скловолоконні басейни не вимагають капітального будівництва:
                        ul
                            li Чаша приходить на місце установки повністю готовою;
                            li Відсутність стиків і швів, Наш басейн – це єдина монолітна чаша;
                            li Час монтажу не місяці, як у випадку традиційних бетонних чаш, а 5-7 днів «під ключ».
//= End tabs =
= '\n'
