//- PHONE
//------------------------------------------------

$phone__baseFontSize:       $fontSizeBase !default;

$phone__buttonTextFontSize: $fontSizeH6 !default;

$phone__callbackTextColor:  $brandPrimary !default;
