-
	socialItems = [
	{
	class: 'facebook',
	},
	{
	class: 'instagram',
	}
	//- {
	//-     class: 'twitter',
	//- }
	]

	languagesItem = [
	{
	value: 'Укр',
	active: true
	},
	{
	value: 'Eng',
	},
	]

	navigationListItems = [
	/*{
		value: 'Головна',
		link: 'javascript:void(0);',
		active: true
	},*/
	{
	value: 'Куди піти',
	link: 'togo.html'
	},
	{
	value: 'Фотогалерея',
	link: 'gallery.html'
	},
	{
	value: 'Про комплекс',
	link: 'about.html'
	},
	{
	value: 'Контакти',
	link: 'contacts.html'
	},
	{
	value: 'Готель',
	link: 'hotel.html'
	},
	{
	value: 'Ресторан',
	link: 'restourant.html',
	},
	{
	value: 'Відгуки',
	link: 'reviews.html'
	}
	]

	navigationMobileMenuItems = [
	//- {
	//-     value: 'Головна',
	//-     link: 'javascript:void(0);',
	//-     active: true
	//- },
	{
	value: 'Про комплекс',
	link: 'javascript:void(0);'
	},
	{
	value: 'Контакти',
	link: 'javascript:void(0);'
	},
	{
	value: 'Готель',
	link: 'javascript:void(0);'
	},
	{
	value: 'Ресторан',
	link: 'javascript:void(0);'
	},
	//- {
	//-     value: 'Відгуки',
	//-     link: 'javascript:void(0);'
	//- }
	]



	popularRoomItems = [
	{
	img: 'DSC_3704',
	title: 'Одномісний',
	price: '1866',
	curr: 'грн.'
	},
	{
	img: 'DSC_3742',
	title: 'Двомісний',
	price: '1154',
	curr: 'грн.'
	},
	{
	img: 'DSC_3745',
	title: 'Покращений',
	price: '2450',
	curr: 'грн.'
	}
	]
	popularHotelItems = [
	{
	img: 'DSC_3704',
	title: 'Стандарт',
	price: '1866',
	curr: 'грн.'
	},
	{
	img: 'DSC_3742',
	title: 'Покращений',
	price: '1154',
	curr: 'грн.'
	},
	{
	img: 'DSC_3745',
	title: 'Сімейний',
	price: '1154',
	curr: 'грн.'
	},
	{
	img: 'DSC_3745',
	title: 'Люкс',
	price: '2450',
	curr: 'грн.'
	},
	]
	photosMainItems = [
	{
	img: 'DSC_2882-0',
	img_big: 'DSC_2882big-7'
	},
	{
	img: 'DSC_2882-1',
	img_big: 'DSC_2882big-1'
	},
	{
	header: true
	},
	{
	img: 'DSC_2882-8',
	img_big: 'DSC_2882big'
	},
	{
	img: 'DSC_2882-2',
	img_big: 'DSC_2882big-2'
	},
	{
	img: 'DSC_2882-4',
	img_big: 'DSC_2882big-3'
	},
	{
	img: 'DSC_2882-5',
	img_big: 'DSC_2882big-4'
	},
	{
	img: 'DSC_2882-6',
	img_big: 'DSC_2882big-5'
	},
	{
	img: 'DSC_2882-7',
	img_big: 'DSC_2882big-6'
	}
	]

	photosGallery = [
	{
	img: 'DSC_2882-0',
	img_big: 'DSC_2882big-7',
	text: 'День народження 20.12.2019'
	},
	{
	img: 'DSC_2882-1',
	img_big: 'DSC_2882big-1',
	text: 'Корпоратив Реноме 2019'
	},
	{
	img: 'DSC_2882-1',
	img_big: 'DSC_2882-6',
	text: 'Святкування Нового Року 2019'
	},
	{
	img: 'DSC_2882-8',
	img_big: 'DSC_2882big',
	text: 'День народженння в стилі фільм жахів'
	},
	{
	img: 'DSC_2882-2',
	img_big: 'DSC_2882big-2',
	text: 'Новорічний корпоратив'
	},
	{
	img: 'DSC_2882-4',
	img_big: 'DSC_2882big-3',
	text: 'Весілля Наталі та Володимира'
	},
	{
	img: 'DSC_2882-5',
	img_big: 'DSC_2882big-4',
	text: 'Корпоратив компанії «Арсен»аовпы'
	},
	{
	img: 'DSC_2882-6',
	img_big: 'DSC_2882big-5',
	text: 'Новорічний корпоратив«ЕкоТрейд»'
	},
	{
	img: 'DSC_2882-7',
	img_big: 'DSC_2882big-6',
	text: 'День народження20.12.2019'
	}
	]

	reviewItems = [
	{
	img: '1',
	name: 'Вадим Михайлов',
	date: '11.08.2019',
	text: 'Готель сподобався. Місцерозташування зручне, персонал привітний, готують смачно. Дякую вам за теплий прийом.'
	},
	{
	img: '1',
	name: 'Дмитро Корзун',
	date: '02.10.2019',
	text: 'Прекрасне місцезнаходження. В номері було чисто. Сусідні номера чути не було. Найдешевший варіант.'
	},
	{
	img: '1',
	name: 'Дмитро Корзун',
	date: '02.10.2019',
	text: 'Прекрасне місцезнаходження. В номері було чисто. Сусідні номера чути не було. Найдешевший варіант.'
	}
	]

	var sliderItems = [
	'1.png',
	'2.png',
	'3.png',
	'4.png',
	'6.png',
	]

	var catalogCarouselBig = [
	{
	href: 'data/slider/big/DSC_3650.png',
	image: '1.png',
	class: 'image',
	micromarkingImg: true
	},
	{
	href: 'data/slider/big/DSC_2.png',
	image: '2.png',
	class: 'image'
	},
	{
	href: 'data/slider/big/DSC_3652.png',
	image: '3.png',
	class: 'image'
	},
	{
	href: 'data/slider/big/DSC_3653.png',
	image: '4.png',
	class: 'image'
	},
	{
	href: 'data/slider/big/DSC_4.png',
	image: '5.png',
	class: 'image'
	},
	]
	var advertBlock = [
	{
	image: '1.svg',
	text: 'Цілодобово'
	},
	{
	image: '2.svg',
	text: 'Авторська кухня'
	},
	{
	image: '3.svg',
	text: 'Помірні ціни'
	},
	]
	var hotelMenu = [
	{
	name: 'Стандарт',
	class: 'active'
	},
	{
	name:'Покращений'
	},
	{
	name:'Сімейний'
	},
	{
	name:'Люкс'
	}
	]
	var hotelComfort = ['Душова кабіна','WI-FI','Міні бар','Міні бар','TV','Ванна','Сніданок','Сніданок']

	var reserveItems = [
	{
	name:'Одномісний стандарт',
	price: '',
	submenu: [
	{
	name: 'Двомісний стандарт з двома ліжками',
	price: '850 грн.'
	},
	{
	name: 'Двомісний стандарт з одним ліжком',
	price: '850 грн.'
	},
	]
	},
	{
	name:'Двомісний',
	price: '12 875 грн.',
	submenu: [
	{
	name: 'Двомістний стандарт з двома ліжками',
	price: '850 грн.'
	}
	]
	},
	{
	name:'Стандарт',
	price: '875 грн.',
	submenu: [
	{
	name: 'Двомістний стандарт з двома ліжками',
	price: '850 грн.'
	}
	]
	},
	]
	var hotelList = [
	'Проведення весілль та святкових церемоній',
	'Хрестини ',
	'Корпоративні бенкети',
	'Дитячі свята',
	'Ділові зустрічі',
	'Конференції',
	'Романтичні побачення',
	'Дні народження',
	'Проведення фотосесій різного формату',
	'Room сервіс',
	'Пізній , ранній заїзд',
	'Можливість групового поселення',
	'Цілодобова стійка реєстрації'
	]

	hashTags = [
	{
	name: '#премия',
	class:'active'
	},
	{
	name: '#лучший',
	class:''
	},
	{
	name: '#победитель',
	class:''
	},
	{
	name: '#украинская',
	class:''
	},
	{
	name: '#географія',
	class:''
	}
	]

	enterPopup = [
	{
	enter: true,
	title: 'Вхід',
	id: 'enter-popup',
	input: [
	{
	type: 'email',
	placeholder: 'E-mail'
	},
	{
	type: 'password',
	placeholder: 'Пароль'
	},
	],
	button: 'Увійти'
	},
	{
	registration: true,
	title: 'Реєстрація',
	id: 'registration-popup',
	button: 'Зареєеструватись',
	input: [
	{
	type: 'text',
	placeholder: 'Ім’я'
	},
	{
	type: 'email',
	placeholder: 'E-mail'
	},
	{
	type: 'text',
	placeholder: 'Прізвище'
	},
	{
	type: 'password',
	placeholder: 'Пароль'
	},
	{
	type: 'tel',
	placeholder: '+38 (___) __ __ ___'
	},
	{
	type: 'password',
	placeholder: 'Повторіть пароль'
	},
	{
	type: 'text',
	placeholder: '25 мм рррр'
	}
	]
	}
	]

	bout = [
	{
	value:'Заїзд:',
	name:'Серпень 30, 2019, в 14:00'
	},
	{
	value:'Виїзд:',
	name:'Серпень 31, 2019, в 14:00'
	}
	]

	multipurpose = [
	{
	value: 'Без податків:',
	name: '1005.25 грн'
	},
	{
	value: 'Податки:',
	name: '36.25 грн'
	},
	{
	value: 'Збори:',
	name: '0.25 грн'
	}
	]

	formInfo = [
	{
	title: 'Інформація',
	button: 'Зберегти',
	modifier: 'form-info__block--info',
	number: true,
	input: [
	{
	type: 'text',
	placeholder: 'Ім’я'
	},
	{
	type: 'text',
	placeholder: 'Прізвище'
	},
	{
	type: 'tel',
	placeholder: 'Номер телефону'
	},
	{
	type: 'email',
	placeholder: 'Пошта'
	}
	]
	},
	{
	title: 'Пароль',
	button: 'Зберегти',
	modifier: 'form-info__block--password',
	input: [
	{
	type: 'password',
	placeholder: 'Новий пароль'
	},
	{
	type: 'password',
	placeholder: 'Повторіть пароль'
	},
	{
	type: 'password',
	placeholder: 'Старий пароль'
	}
	]
	},
	]

	historyStatus = [
	{
	status: 'виконано',

	prices: [
	{
	name: 'Без податків:',
	price: '1005.25 грн'
	},
	{
	name: 'Податки:',
	price: '36.25 грн'
	},
	{
	name: 'Збори:',
	price: '0.25 грн'
	},
	{
	name: 'Всього:',
	price: '1041.50 грн'
	}
	]
	},
	{
	status: 'в обробці',
	prices: [
	{
	name: 'Без податків:',
	price: '1005.25 грн'
	},
	{
	name: 'Податки:',
	price: '36.25 грн'
	},
	{
	name: 'Збори:',
	price: '0.25 грн'
	},
	{
	name: 'Всього:',
	price: '1041.50 грн'
	}
	]
	}
	]

	historyEnter = [
	{
	event: 'Заїзд',
	date: 'Серпень 30, 2019, в 14:00'
	},
	{
	event: 'Виїзд',
	date: 'Серпень 31, 2019, в 14:00'
	}
	]

	confirmComfort = ['Міні бар', 'Сніданок', 'Душова кабіна', 'TV', 'Міні бар','Сніданок']

	serviceComfort = ['Міні бар', 'Сніданок', 'Душова кабіна', 'TV',]

	guestInfo = [
	{
	value: 'Ім’я:',
	name: 'Владислав'
	},
	{
	value: 'Прізвище',
	name: 'Сидельников'
	},
	{
	value: 'Телефон:',
	name: '+38 (097) 234 19 16'
	},
	{
	value: 'Пошта:',
	name: 'sidela676@gmail.com'
	},
	{
	value: 'Оплата:',
	name: 'при заселенні'
	}
	]

	payment = [
	{
	value: 'Номер:',
	name: '1005.25 грн'
	},
	{
	value: 'Додаткові послуги',
	name: '325.25 грн'
	},
	{
	value: 'Без податків:',
	name: '1005.25 грн'
	},
	{
	value: 'Податки:',
	name: '36.25 грн'
	},
	{
	value: 'Збори:',
	name: '0.25 грн'
	}
	]

	formBox = [
	{
	class: 'necessary',
	classError: 'has-error',
	placeholder: 'Ім\’я',
	},
	{
	class: 'necessary',
	classError: '',
	placeholder: 'Прізвище',
	},
	{
	class: 'necessary',
	classError: '',
	placeholder: 'Номер телефону',
	},
	{
	class: '',
	classError: '',
	placeholder: 'Пошта',
	}
	]

	formBoxRespond = [
	{
	class: 'necessary',
	classError: 'has-error',
	placeholder: 'Ім\’я',
	},
	{
	class: 'necessary',
	classError: '',
	placeholder: 'Номер телефону',
	}
	]

	smile = [
	{
	name: 'Бронювання',
	drop: [
	{
	title: [
	'disregard',
	'confused',
	'neutral',
	'joy',
	'happy'
	]
	}
	]
	},
	{
	name: 'Обслуговування при вїзді/виїзді',
	drop: [
	{
	title: [
	'disregard',
	'confused',
	'neutral',
	'joy',
	'happy'
	]
	}
	]
	},
	{
	name: 'Комфорт в номері',
	drop: [
	{
	title: [
	'disregard',
	'confused',
	'neutral',
	'joy',
	'happy'
	]
	}
	]
	},
	{
	name: 'Персонал',
	drop: [
	{
	title: [
	'disregard',
	'confused',
	'neutral',
	'joy',
	'happy'
	]
	}
	]
	},
	{
	name: 'Чистота в номері',
	drop: [
	{
	title: [
	'disregard',
	'confused',
	'neutral',
	'joy',
	'happy'
	]
	}
	]
	},
	{
	name: 'Ассортимент і якість сніданку',
	drop: [
	{
	title: [
	'disregard',
	'confused',
	'neutral',
	'joy',
	'happy'
	]
	}
	]
	},
	{
	name: 'Загальне враженян від ресторану',
	drop: [
	{
	title: [
	'disregard',
	'confused',
	'neutral',
	'joy',
	'happy'
	]
	}
	]
	},
	{
	name: 'Відповідність ціни якості',
	drop: [
	{
	title: [
	'disregard',
	'confused',
	'neutral',
	'joy',
	'happy'
	]
	}
	]
	},
	{
	name: 'Загальне враження від готелю',
	drop: [
	{
	title: [
	'disregard',
	'confused',
	'neutral',
	'joy',
	'happy'
	]
	}
	]
	}
	]

	appearanceServices = [
		{
			input: 'Сніданок в номер',
			checked: 'checked'
		},
		{
			input: 'Готель для тварин'
		},
		{
			input: 'Екскурсії'
		},
		{
			input: 'Няня для дітей'
		},
		{
			input: 'Чайник'
		},
		{
			input: 'Еспандер'
		}
	]

	appearanceServices2 = [
		{
			input: 'Халат',
			checked: 'checked',
			value: '255',
			units: 'грн'
		},
		{
			input: 'Парковка',
			value: '200',
			units: 'грн'
		},
		{
			input: 'Перекладач',
			value: '200',
			units: 'грн\год'
		},
		{
			input: 'Спиртне',
			from: 'від',
			value: '120',
			units: 'грн'
		},
		{
			input: 'Нотаріус',
			value: '150',
			units: 'грн\год'
		},
		{
			input: 'Хімчистка',
			from: 'від',
			value: '300',
			units: 'грн'
		}
	]
