= '\n'
//= language =
//- = (layout/language/_language.scss) =
.language
    .language-item
        a(href="#")
            span English

        .language-wrap
            ul.language-sub
                li.language-item_inner
                    a(href="#")
                        span Русский
                li.language-item_inner
                    a(href="#")
                        span Український
//= End language =
= '\n'

