.select2 {
    &-container {
        &--default {
            .select2-selection--single {
                height: $formControlHeight;
                border: 1px solid $borderColor;
                outline: none;

                .select2-selection__rendered {
                    line-height: $formControlHeight;
                    padding-left: 23px;
                    padding-right: 35px;
                }
                .select2-selection__arrow {
                    height: $formControlHeight;
                    right: 8px;

                    b {
                        transition: all .3s;
                        border: none;
                        margin: 0;
                        width: 12px;
                        height: 6px;
                        transform: translate(-50%, -50%);
                        background: url(../images/example/arrow.svg) no-repeat;
                    }
                }
            }

            .select2-search--dropdown {
                .select2-search__field {
                    border: 1px solid $borderColor;
                    padding: 4px 13px 4px 13px;
                    height: 32px;
                }
            }

            .select2 {
                &-results {
                    &__option {
                        &--highlighted[aria-selected] {
                            background-color: $brandPrimary;
                            color: $base;
                        }
                    }
                }
            }

            &.select2-container--open {
                .select2-selection--single {
                    .select2-selection__arrow {
                        b {
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }
                }
            }

            .select2-selection--multiple {
                border-radius: 5px;
                border: 1px solid $brandSuccess;
                height: $formControlHeight;

                .select2-selection__rendered {
                    padding: 0 15px 0 40px;
                }
            }
        }
    }

    &-results {
        &__option {
            height: $formControlHeight;
            line-height: 28px;
            color: $brandPrimary;
            padding: 6px 17px 6px 17px;
            font-size: 16px;
        }
        
        .ps__scrollbar-y-rail {
            top: 0 !important;
        }
    }

    &-dropdown {
        border: 1px solid $brandSuccess;
        border-radius: 0;
    }
}
