= '\n'
//= 32x32 company =

.logo32x32
    a.logo32x32__image(href='http://32x32.com.ua/')
        img(src='data/footer/32x32.png' alt='Компания 32x32')
    | Розроблений та підтримується
    br
    | в
    a.logo32x32__link(href='http://32x32.com.ua/') компанії 32x32

//= End 32x32 company =
= '\n'

