= '\n'
//= logo =
//- (source/assets/css/layout/footer/logo.scss)
.logo
    if pageTitle == 'main'
        img(src='data/footer/logo.png' alt='')
    else
        a(href='index.html')
            img(src='data/footer/logo.png' alt='')
//= End logo =
= '\n'
