.footer {
    position: relative;
    z-index: 1;
}

.footer-top {
    margin-top: -120px;
}

.footer-program {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer-index {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer__picture {
    position: relative;
    height: 230px;
    top: 0;
}

.footer__picture::before,
.footer__picture::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 120px;
}

.footer__picture::before {
    background: url(../images/footer/topwave.svg) no-repeat 0% 0% / cover;
    top: 0;
    z-index: 1;
}

.footer__picture::after {
    background: #465064 url(../images/footer/bottomwave.svg) no-repeat 0% 100% / cover;
    bottom: 0;
}

.footer__wrap {
    background: #465064;
    position: relative;
    padding-top: 25px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 9px;
    padding: 0 30px;
}

.footer__logo {
    width: 175px;
    margin-left: 14px;
    margin-right: 15px;
}

.footer__logo .logo__link img {
    max-width: 100%;
}

/* footer__menu */
.footer__menu nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 34px;
}

.footer__menu .nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-right: 53px;
}

.footer__menu .nav:last-child {
    margin-right: 0;
}

.footer__menu .nav__item {
    margin-bottom: 8px;

}

.footer__menu .nav__item::last-child {
    margin: 0;
}

.footer__menu .nav__item a.nav__link {
    transition: .4s;
    font-size: 17px;
    padding: 0 0 10px;
    color: #fff;
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    display: block;
    letter-spacing: -.5px;
}

.footer__menu .nav__item a.nav__link:hover {
    color: #4fe2ff;
}

.footer__menu .nav__item a.nav__link::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1px;
    transition: .4s;
    transform: translateX(-100%);
    background-color: #4fe2ff;
    visibility: hidden;
}

.footer__menu .nav__item a.nav__link:focus::before,
.footer__menu .nav__item a.nav__link:hover::before {
    transform: translateX(0);
    visibility: visible;
}
/* END footer__menu */


/* footer__social */
.footer__social {
    margin: 4px 4px 0 0;
    display: flex;
    flex-flow: column nowrap;
}

.footer__social p {
    font-size: 22px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 34px;
}

.footer__social .social {
    display: flex;
    justify-content: center;
}

.footer__social .social .social__list {
    margin-right: 15px;
}

.footer__social .social .social__list:last-child {
    margin-right: 0;
}

.footer__social .social .social__list a {
    width: 30px;
    height: 30px;
    display: block;
}

.footer__social .social .social__list a img,
.footer__social .social .social__list a svg {
    /*width: 30px;*/
    /*height: 30px;*/
    fill: #fff;
    transition: .4s all;
}

.footer__social .social .social__list a img:hover,
.footer__social .social .social__list a svg:hover  {
    fill: #4fe2ff;
}
/* END footer__social */

/* footer__aside */
.footer__aside {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 25px;
}

.footer__aside p {
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
/* END footer__aside */

@media screen and (max-width: 1439px) {

}

@media screen and (max-width: 1200px) {

    .footer__social {
        flex-flow: row nowrap;
        align-items: center;
        margin: 20px auto;
    }

    .footer__social p {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .footer__menu .nav {
        margin-right: 35px;
    }
}

@media screen and (max-width: 991px) {

    .footer__main {
        flex-flow: column nowrap;
        padding: 0 30px;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .footer__picture {
        height: 160px;
    }

    .footer__picture::before,
    .footer__picture::after {
        height: 80px;
    }

    .footer__main {
        margin-bottom: 0;
    }

    .footer__menu nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-top: 33px;
    }

    .footer__menu .nav {
        margin-right: 0;
    }

    .footer__menu .nav__item a.nav__link {
        text-align: center;
        line-height: 1.5;
    }

    .footer__social {
        flex-flow: column nowrap;
    }

    .footer__social p {
        margin-bottom: 33px;
        font-size: 20px;
        text-align: center;
    }

    .footer__aside {
        flex-flow: column nowrap;
        align-items: center;
    }

    .footer__aside p {
        margin-bottom: 20px;
        line-height: 1.5;
        text-align: center;
    }
}
