.footer {
    height: 150px;
    background: $grayDark;
    display: flex;

    &__wrapper {
        height: 123px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        padding: 0 15px;
        margin: auto;
    }

    &__logo {
        display: none;
    }

    .logo {
        &__image {
            width: 101px;
            height: 90px;
        }
    }

    .callback {
        padding: 0;
        align-items: flex-start;
        margin: 0 0 11px 0;

        &:before {
            display: none;
        }
        &:after {
            left: -20px;
        }

        &__tel {
            line-height: 1.5;
        }
    }

    &__social {
        margin: 0 0 0 -30px;
    }

    &__address {
        display: none;
    }

    &__logo32x32 {
        display: none;
    }

    @media (min-width: 720px) {

        &__wrapper {
            flex-direction: row;
            padding: 0 100px;
            height: 101px;
        }

        &__logo {
            display: block;
        }

        .callback {
            padding: 0 0 0 27px;
            align-items: right;
            margin: 0;
            &:after {
                left: 0;
            }
            &:before {
                display: block;
            }
        }
    }

    @media (min-width: $screenMdMin) {

        &__wrapper {
            padding: 0 15px;
        }

        &__address {
            display: block;
        }

        &__logo32x32 {
            display: block;
        }
    }

    @media (min-width: 1320px) {
        &__address {
            margin: 0 0 0 -26px;
        }

        &__callback {
            margin: 8px 0 0 -8px;
        }
    }
}
