#layout {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    min-height: 100%;

}

#footer {
    position: relative;
    //overflow: hidden;
    min-width: 320px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
    margin: 11px 0 25px 0;
}

.right-line {
    position: relative;
    padding: 0 50px 0 0;
    text-decoration: none;

    &:after {
        position: absolute;
        content: '';
        width: 40px;
        height: 1px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $brandPrimary;
    }
}

.left-line {
    position: relative;
    padding: 0 0 0 50px;
    text-decoration: none;

    &:after {
        position: absolute;
        content: '';
        width: 40px;
        height: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $brandPrimary;
    }
}

.link {
    line-height: 1;
    text-decoration: none;
    border-bottom: 1px solid $brandPrimary;
    display: inline-block;

    &:hover {
        border-color: transparent;
    }
}

.pin {
    display: inline-block;
    background: $brandPrimary;
    box-shadow: 0px 0px 40px rgba(197, 162, 109, 0.5);
    color: $base;
    text-decoration: none;
    font-size: $fontSizeSmall;
    line-height: 40px;
    padding: 0 11px;
    cursor: pointer;
    border: none;

    &--white {
        background: transparent;
        color: $grayText;
        border: 1px solid $grayLighter;
        box-shadow: none;
    }
}

.cancel {
    border: none;
    background: transparent;
    color: $brandWarning;
    font-size: $fontSizeBase;
    border-bottom: 1px solid $brandWarning;
    line-height: 1;
    padding: 0;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
        border-bottom: 1px solid transparent;
    }
}

.check {
    position: relative;
    &:before {
       content:'';
       width: 25px;
       height: 25px;
       position: absolute;
       background: url(../images/check/check.svg)no-repeat;
       left: -30px;
    }
}
.arrow {
    position: relative;

    &:before {
        content: '';
        width: 11px;
        height: 11px;
        position: absolute;
        background: url(../images/popup/arrow.png)no-repeat;
        top: 10px;
        transform: translateY(-50%);
        left: 115px;
    }
}
.arrow-rotate {
    position: relative;
    &:before {
        transform: translateY(-50%) rotate(180deg);
    }
}
.not-available {
    line-height: 1;
    padding: 7px 21px;
    max-width: 185px;
}

.necessary {
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        width: 8px;
        height: 7px;
        background: url("../images/icons/necessary.svg")no-repeat;
    }
}

@media (min-width: 375px) {
    .main {
        &--top {
            margin-top: -100px;
        }
    }
}

@media (min-width: $screenSmMin) {
    h2 {
        font-size: $fontSizeH4;
    }
}

@media (min-width: $screenMdMin) {

    .main {
        &--top {
            margin-top: -245px;
        }
    }

    .hide-md-min {
        display: none !important;
    }
}

@media (max-width: $screenSmMax) {
    .hide-md-max {
        display: none !important;
    }
}
