-
    accountSubscribeItems = [
        {
            label: 'Я хочу получать рекомендации на основе моих предыдущих покупок',
            checked: false
        },
        {
            label: 'Я хочу получать уведомления SMS на мой телефон',
            checked: true
        },
        {
            label: 'Я хочу получать уведомления на мой Viber',
            checked: true
        },
        {
            label: 'Я хочу получать уведомления на мой email',
            checked: false
        }
    ]