//- accessories
//------------------------------------------------

-
    accessories = [
        {
            image: 'cases',
            imageTitle: 'Чехлы для телефонов и планшетов',
            title: 'Чехлы для телефонов и планшетов',
            link: 'javascript:void(0);'
        },
        {
            image: 'tablet-cases',
            imageTitle: 'Чехлы для планшетов',
            title: 'Чехлы для планшетов',
            link: 'javascript:void(0);'
        },
        {
            image: 'protective-glass',
            imageTitle: 'Защитние стекла и пленки',
            title: 'Защитние стекла и пленки',
            link: 'javascript:void(0);'
        },
        {
            image: 'headphones',
            imageTitle: 'Наушники',
            title: 'Наушники',
            link: 'javascript:void(0);'
        },
        {
            image: 'batteries',
            imageTitle: 'Портативные батареи',
            title: 'Портативные батареи',
            link: 'javascript:void(0);'
        },
        {
            image: 'cables',
            imageTitle: 'Кабели и переходники',
            title: 'Кабели и переходники',
            link: 'javascript:void(0);'
        },
        {
            image: 'monopods',
            imageTitle: 'Моноподы',
            title: 'Моноподы',
            link: 'javascript:void(0);'
        },
        {
            image: 'sd',
            imageTitle: 'Карты памяти',
            title: 'Карты памяти',
            link: 'javascript:void(0);'
        },
        {
            image: 'chargers',
            imageTitle: 'Зарядные устройства',
            title: 'Зарядные устройства',
            link: 'javascript:void(0);'
        },
        {
            image: 'holders',
            imageTitle: 'Держатели',
            title: 'Держатели',
            link: 'javascript:void(0);'
        },
        {
            image: 'fitness-trackers',
            imageTitle: 'Фитнес-трекеры',
            title: 'Фитнес-трекеры',
            link: 'javascript:void(0);'
        },
        {
            image: 'wifi_routers',
            imageTitle: 'Wifi Router',
            title: 'Wifi Router',
            link: 'javascript:void(0);'
        },
        {
            image: 'action-cameras',
            imageTitle: 'Экшн-камеры',
            title: 'Экшн-камеры',
            link: 'javascript:void(0);'
        },
        {
            image: 'quadrocopters',
            imageTitle: 'Квадрокоптеры',
            title: 'Квадрокоптеры',
            link: 'javascript:void(0);'
        },
        {
            image: 'cables',
            imageTitle: 'Кабели и переходники',
            title: 'Кабели и переходники',
            link: 'javascript:void(0);'
        },
        {
            image: 'monopods',
            imageTitle: 'Моноподы',
            title: 'Моноподы',
            link: 'javascript:void(0);'
        },
        {
            image: 'monopods',
            imageTitle: 'Моноподы',
            title: 'Моноподы',
            link: 'javascript:void(0);'
        },
        {
            image: 'sd',
            imageTitle: 'Карты памяти',
            title: 'Карты памяти',
            link: 'javascript:void(0);'
        },
        {
            image: 'chargers',
            imageTitle: 'Зарядные устройства',
            title: 'Зарядные устройства',
            link: 'javascript:void(0);'
        },
        {
            image: 'holders',
            imageTitle: 'Держатели',
            title: 'Держатели',
            link: 'javascript:void(0);'
        },
        {
            image: 'fitness-trackers',
            imageTitle: 'Фитнес-трекеры',
            title: 'Фитнес-трекеры',
            link: 'javascript:void(0);'
        }
    ]