@import 'vars/_variable.scss';

.reviews {
    position: relative;
    min-height: 400px;

    @include clearfix;

    &--full {
        margin: 0 0 26px;
    }

    &__item {
        position: relative;
        padding: 8px 0 17px;
        border-bottom: 1px solid $reviews__borderColor;
    }

    &__top {
        position: relative;
        margin: 0 0 5px;
    }

    &__container {
        position: relative;
        padding: 0 15px;
    }

    &__name {
        font-size: $reviews__nameTextFontSize;
        font-weight: 700;
        line-height: 1;
        position: relative;
    }

    &__rating {
        float: left;
    }

    &__date {
        font-style: italic;
        line-height: (16px / $reviews__baseFontSize);
        position: relative;
        float: left;
        margin: 0 0 0 15px;
        padding: 0 25px 0 0;
        color: $reviews__dateTextColor;

        &:first-child {
            margin-left: 0;
        }

        &-anchor {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 12px;

            &:before {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: url(../images/content/icon/link.svg) no-repeat;
            }
        }
    }

    &__vote {
        font-size: $reviews__voteTextFontSize;
        line-height: 1;
        position: relative;

        &Item {
            position: relative;
            margin: 0 10px 0 0;
            text-decoration: none;

            &:before {
                position: relative;
                top: -3px;
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: 0 10px 0 0;
                content: '';
                vertical-align: middle;
                background: url('../images/content/icon/reviews__vote.png') no-repeat;
            }

            &:last-child {
                margin-right: 0;
            }

            &--like {
                color: $reviews__voteLikeTextColor;

                &:before {
                    background-position: 0 0;
                }
            }

            &--dislike {
                color: $reviews__voteDislikeTextColor;

                &:before {
                    background-position: -17px 0;
                }
            }
        }
    }

    &__content {
        position: relative;
        margin: 0 0 5px;
    }

    &__reply {
        color: $reviews__replyTextColor;
        display: inline-block;

        &:before {
            position: relative;
            top: 2px;
            display: inline-block;
            width: 17px;
            height: 13px;
            margin: 0 10px 0 0;
            content: '';
            background: url('../images/content/icon/reply.png') no-repeat;
        }
    }

    &__answer {
        position: relative;
        margin-top: 17px;
        padding-top: 10px;
        padding-left: 30px;
        border-top: 1px solid $reviews__borderColor;

        .reviews {
            &__item {
                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }

    &__all {
        position: relative;
        float: right;
        margin: 14px 0 0;
        color: $reviews__moreTextColor;

        &:after {
            position: relative;
            top: 4px;
            display: inline-block;
            width: 20px;
            height: 14px;
            margin: 0 0 0 10px;
            content: '';
            background: url('../images/content/icon/more.png') no-repeat;
        }
    }

    &__empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.disabled {
            display: none;
        }
    }

    &__write {
        position: absolute;
        top: -9999px;
        left: -9999px;

        &.disabled {
            display: none;
        }
    }

    .rating {
        margin-top: -1px;

        &-item {
            width: 17px;
            height: 16px;
            margin-right: 10px;

            &:before,
            &:after {
                background-image: url('../images/content/icon/reviews__ratingStar.png');
            }

            &:after {
                background-position: 0 -17px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media (max-width: $screenMbMax) {
        &__name {
            margin-bottom: 10px;
        }

        &__vote {
            clear: both;
            padding-top: 10px;
        }
    }

    @media (min-width: $screenXsMin) {
        &__date {
            margin-left: 30px;
        }

        &__vote {
            float: left;
            margin: 0 0 0 30px;
        }

        @media (max-width: $screenSmMax) {
            &__container {
                &--left {
                    float: left;
                }

                &--right {
                    float: right;
                }
            }
        }
    }

    @media (min-width: $screenMdMin) {
        @media (max-width: 1199px) {
            &__name {
                margin-bottom: 10px;
            }
        }
    }

    @media (min-width: 1200px) {
        &__container {
            &--left {
                float: left;
            }

            &--right {
                float: right;
            }
        }
    }
}
