//- LOGO 32X32
//------------------------------------------------

$logo32x32__textFontFamily: 'Arial', sans-serif !default;
$logo32x32__textFontSize:   11px !default;
$logo32x32__textColor:      $grayLighter !default;
$logo32x32__linkTextColor:  $base !default;
