//- GALLERY INNER
//------------------------------------------------

-
    var gallery = [
        {
            image: 'image3'
        },
        {
            image: 'image3'
        },
        {
            image: 'image3'
        },
        {
            image: 'image3'
        },
        {
            image: 'image3'
        },
        {
            image: 'image3'
        }
    ]
