@import 'vars/_variable.scss';

.share {
    position: relative;

    &__link {
        position: relative;
    }

    &__image {
        position: relative;
        display: block;
        margin: 0 0 15px;
    }

    &__content {
        position: relative;
        display: block;
        overflow: hidden;
        height: 93px;
    }

    &__title {
        font-size: $share__titleTextFontSize;
        line-height: (21px / $share__titleTextFontSize);
        position: relative;
        display: block;
        margin: 0 0 10px 0;
        text-transform: uppercase;
        color: #000;
    }

    &__description {
        position: relative;
        display: block;
        color: #7a7a7a;
    }

    a {
        color: #e6007e;
    }

    .owl {
        &-prev,
        &-next {
            top: 35%;
            margin-top: 0;
        }
    }
}
