include vars/_variable.pug

-
    var shareOwlCarouselInit = true

= '\n'
//= Share =
.share
    #share_owl.owl-carousel
        each val in share
            .owl-carousel-item
                .share__link
                    a.share__image(href='#')
                        img(src='data/share/' + val + '.jpg' alt='')

                    .share__content
                        .share__title -100500% на побрякушки и шмотки
                        .share__description До 1 жовтня здійсніть покупку на суму від 600 грн. в бутику або на сайті yves-rocher.ua та станьте учасником До 1 жовтня здійсніть покупку на суму від 600 грн. в бутику або на сайті yves-rocher.ua та станьте учасником розіграшу кошику
                            a(href='#') Рослинної
//= End hare =
= '\n'
