= '\n'
//= about =
//- (source/assets/css/module/_about.scss)
.about
    .text
        h1.title Зосереджуйтесь
            span на бізнесі
        h4 а питання щодо транспортних засобів покладіть на нас!

        p Буденні справи забирають дорогоцінний час, який можна було б витратити на пошук клієнтів чи поліпшення бізнесу, чи не так!?

        p Саме тому На головну задача нашого бізнесу - забезпечити Вас надійними авто там, де Ви їх потребуєте, і професійною підтримкою в той момент, коли вона необхідна.

        p Компанія Sprinter-avto працює на ринку комерційних автомобілів <b>з 2003 року.</b> Основним напрямком є продаж рефрижераторів, бортових вантажівок, фургонів та автобусів MERCEDES-BENZ для локального розвезення продукції.

        p
            b Цінуючи час кожного бізнесмена, підприємця або керівника підрозділу, ми побудували свою роботу на 5-х ключових аспектах:

        ol
            li Пропонуємо найкращу ціну на ринку, за потреби працюємо по безготівковому перерахунку із ПДВ

            li Доставляємо (перегон) авто в будь-яке місто України за потребою клієнта

            li Допомагаємо у встановленні на облік до Сервісного центру (МРЕО)

            li Ретельно готуємо автомобілі до продажу (сервісне обслуговування, комп’ютерна     діагностика паливної системи, турбіни та інших вузлових агрегатів, мийка)

            li Надаємо вашому персоналу післяпродажну підтримку та консультацію автомеханіка в телефонному режимі.

        p <b>Серед наших клієнтів всім відомі компанії:</b> Procter & Gamble, SAV Service, Наша ряба, Winetime, Ukrainian Fish Company, Дніпропетровська Зоря, Укртранс Логістика, СК-Фармація, Рогатинський м’ясокомбінат, Ковбаскофф, КП Фармація, Щедрик, Medpharcom.

        blockquote
            h4 Зосереджуйтесь на розвитку Вашого бізнесу,
            span а питання щодо транспортних засобів покладіть на Sprinter-avto!

    .about__block
        img(src="data/servises/1.png", alt="")
        include _about-info.pug
//= End about =
= '\n'
