= '\n'
//= address =
//- (source/assets/css/module/_address.scss)
.address.appearance
    if (pageTitle == 'order')
        label Перегон в місто замовника
            input(type="checkbox")
    each item in addressItems
        .form-group
            label.control-label= item.name
            select.form-control
                option(value='1' selected)= item.value

//= End address =
= '\n'
