= '\n'
//= bank =
//- (source/assets/css/layout/_bank.scss)
.bank
    a(href='javascript:void(0)')
        img(src="data/bank/" + item, alt="")
    a.button(href='javascript:void(0)') Перейти
//= End bank =
= '\n'
