= '\n'
//= Breadcrumbs
//-=(module/_breadcrumbs.scss)=

ul.breadcrumb
    each item in breadcrumbs
        if (item.active)
            li.active= item.name
                
        else
            li
                a(href='javascript:void(0);')= item.name

//= End breadcrumbs
= '\n'

