= '\n'
//= Callback =

.callback
    a.callback__phone(href='tel:+380678000144') (067) 800 01 44
    a.callback__request.call-modal(href='#form-callback' title='Замовити дзвінок') Замовити дзвінок

//= End callback =
= '\n'
