= '\n'
//= cart-item =
//- (source/assets/css/layout/_cart-item.scss)
.cart-item
    .cart__cell.cart__cell--name
        a.cart__picture(href='#')
            img.cart__image(src='data/cart/1.png' alt='')
        a(href='javascript:void(0);') Двигун MERCEDES OM 651
    .cart__adaptive
        .cart__cell.cart__cell--price
                span $2 800

        .cart__cell.cart__cell--quantity
            include _quantity.pug

    .cart__cell.cart__cell--sum
        span $2 800

    .cart__cell.cart__cell--remove
        span
//= End cart-item =
= '\n'
