= '\n'
//= cart =
//- (source/assets/css/module/_cart.scss)
.cart
    .cart__header
        .cart__cell.cart__cell--name Товар
        .cart__adaptive
            .cart__cell.cart__cell--price Ціна
            .cart__cell.cart__cell--quantity Кількість
        .cart__cell.cart__cell--sum Сума
        .cart.cart__cell--remove
    -for(var i = 0; i < 3; i++)
        include _cart-item.pug

    .cart__total
        .cart__total--continue
            a(href='javascript:void(0)') Продовжити покупки
        button.button Оформити замовлення
        p.cart__bill Загальна сума
            span $3 550
//= End cart =
= '\n'
