= '\n'
//= Clients =

.clients
    - for (let i = 1; i < 14; i++) {
        .clients__item
            img(src='data/clients/clients' + i + '.jpg' alt='')
    - }

                        
    
//= End clients =
= '\n'
