= '\n'
//= Conditions =

table
    tr
        td Оплата
        td Доставка
    tr
        td Оплата за автомобілі проводиться у зручний для клієнтів спосіб:
        td Всі наші автомобілі розмитнені і знаходяться в Україні в м.Рівне. Пропонуємо обрати один зі зручних способів отримання придбаних авто:
    tr
        td
            img(src='data/conditions/cash.svg' alt='')
            span Готівка
        td
            img(src='data/conditions/pickup.svg' alt='')
            span Самовивіз з м. Рівне
    tr
        td
            img(src='data/conditions/cashless.svg' alt='')
            span Безготівковий перерахунок із ПДВ
        td
            img(src='data/conditions/map.svg' alt='')
            span Перегон у будь-яке місто за потребою клієнта (за додаткову оплату)
    tr
        td
            img(src='data/conditions/credit.svg' alt='')
            span Купівля в кредит або лізинг
        td        
    
//= End conditions =
= '\n'
