= '\n'
//= Coordinates =

.coordinates.form
    h3 Контактні дані
    .form-group.has-error
        label.control-label Введіть Ваше ім`я*
        input.form-control(type='text' placeholder='Олексій')
        .help-block
    .form-group
        label.control-label Введіть Ваш телефон*
        input.form-control(type='password' placeholder='+38 (___) ___-__-__')
        .help-block
    .form-group
        label.control-label Введіть Ваш email*
        input.form-control(type='text' placeholder='sprinterauto@gmail.com')
        .help-block
    .form-group.form-group--textarea
        label.control-label Коментар до замовлення
        textarea.form-control(type='text' placeholder='')
        .help-block
    span * Обов`язково для заповнення
    .form-group
        button.form-control.button(type='submit') Оформити замовлення



//= End coordinates =
= '\n'
