= '\n'
//= destination =
//- (source/assets/css/module/__destination.scss)
.destination
    h4 Призначення
    p для локального розвезення продукції виробників та дистриб’ютерів:
    ul
        each item in destination
            li=item

//= End destination =
= '\n'
