= '\n'
//= form =
//- (source/assets/css/layout/_form.scss)
.form.form--callback
	form
		h2 Не знайшов потрібної, передзвоніть мені
		.form-group.has-error
			input.form-control(type='text', placeholder='' required)
			label.control-label Ім’я
			.help-block
		.form-group
			input.form-control(type='tel', placeholder='' required)
			label.control-label Телефон
			.help-block
		.form-group
			input.form-control(type='text', placeholder='' required)
			label.control-label Опис запчастини
			.help-block

		button.button Відправити

//= End form =
= '\n'
