= '\n'
//= incart =
//- (source/assets/css/module/_inbacket.scss)
.incart
    .incart__wrapper
        .incart__image
            img(src='data/slider/big/1.png' alt='')
        .incart__text
            span.incart__box кошик
            span.incart__description Продукт успішно доданий до кошика
        a(href='#').incart__close
//= End incart =
= '\n'
