= '\n'
//= index-about =
//- (source/assets/css/module/_index-ourCustomers.scss)
.index-about
    .index-about__text.text
        p.
            Буденні справи забирають дорогоцінний час, який можна було б витратити на пошук клієнтів чи поліпшення бізнесу, чи не так!?
            Саме тому На головну задача нашого бізнесу - забезпечити Вас надійними авто там, де Ви їх потребуєте, і професійною підтримкою в той момент, коли вона необхідна
            Компанія Sprinter-avto працює на ринку комерційних автомобілів з 2003 року. Основним напрямком є продаж рефрижераторів, бортових вантажівок, фургонів та автобусів MERCEDES-BENZ для локального розвезення продукції.
        p Зосереджуйтесь на бізнесі, а питання щодо транспортних засобів покладіть на нас!
    //-include _text-audit.pug
//= End index-about =
= '\n'
