= '\n'
//= index-services =
//- (source/assets/css/module/_index-services.scss)
.index-services
    ul.index-services__wrap
        each val in indexServices
            li.index-services__inner
                .index-services__block
                    .index-services__circle
                        img(src='data/servises/'+ val.img +'.svg' alt='')
                    .index-services__title= val.title
                    .index-services__text= val.text

//= End index-services =
= '\n'
