= '\n'
//= info =
//- (source/assets/css/module/_info.scss)
.info(class= spare ? 'info--spare' : '')
    h1.line MERCEDES SPRINTER 313 (РЕФ БУДКА)
    span Заводський рефрижератор на базі шасі MERCEDES SPRINTER 313 для перевезення товарів, що потребують температурного режиму -20°C/+20°C.
    .info__price
        span $17500
        if (pageTitle == 'details-spare')
            button.button
                span Купити
        .info__share
            span Поширити:
            each item in solcialItems
                a(href="javascript:void(0)")
                    != item

    if (pageTitle == 'details-spare')
        include _table.pug

    if (pageTitle == 'details')
        .info__buttons
            each item in creditButtons
                a.button(href="javascript:void(0)")
                    span= item

        .info__block
            each item in infoBlock
                span(class= item.class)= item.name
        .info__service
            h4 Додаткові послуги
            .info__service-country.appearance
                input(type="checkbox" checked)
                label Перегон в місто замовника
                    a(href="javascript:void(0)") Детальніше
            .info__service-item.appearance
                input(type="checkbox" checked)
                label Постановка на облік до Сервісного центру МВС
                    a(href="javascript:void(0)") Детальніше
//= End info =
= '\n'
