= '\n'
//= Languages =

.languages
    ul.languages__list

        each item, index in languagesListItems
            - modifier = (index == 0) ? '--active' : ''

            li.languages__item(class= modifier)
                a.languages__item-link(href='javascript:void(0);')= item.link
                span.languages__abbr= item.abbr

//= End languages =
= '\n'