= '\n'
//= Logo =

.logo
    if main
        .logo__image
            img(src='data/logo/logo_full.svg', alt='')
    else
        a.logo__link(href='index.html')
            .logo__image
                img(src='data/logo/logo_full.svg', alt='')

//= End logo =
= '\n'