= '\n'
//= news =
//- (source/assets/css/module/_news.scss)
.news
    each val in news
        a.news__link(href="javascript:void(0)")
            img(src="data/news/" + val.image, alt="")
            .news__date= val.date
            h3= val.title
        p= val.text


//= End news =
= '\n'
