= '\n'
//= news-inner =
//- (source/assets/css/module/_news-inner.scss)
.news-inner.text
    img(src="data/news/picture.png", alt="")

    h1 Що робити, якщо туго перемикаються передачі Renault Trafic?
    span 23 лютого 2019

    p Треба враховувати, що різні транспортні засоби мають різну ступінь тяжкості перемикання передач. Звичайно, є любителі більш тугого перемикання передач, але більшості автолюбителів все-таки більше подобається, коли перемикання відбувається легко. Від занадто важкого перемикання іноді навіть може боліти рука, а ця процедура не повинна завдавати незручностей. Для автомобілів Renault Trafic характерна така проблема важкого перемикання. Тому постараємося розібратися, яким чином цю проблему можна вирішити.
    p Щоб зробити перемикання передач одного з автомобілів – РеноТрафікОпель Віваро або Ніссан Прімастар плавним, вам досить буде наслідувати процедурам, зазначеним нами.
    h2 Процедури для плавного перемикання передач
    p Необхідно оглянути <a href="javascript:void(0)">троси КПП</a> У разі їх пошкодження обов'язково замініть їх, після чого відрегулюйте.
    p Можете замінити масло в коробці передач. Також можете змастити кулісу важеля КПП, а також змастити троси перемикання Може допомогти заміна масла в коробці передач. Є ще один варіант – потрібно змастити шток перемикання передач рідиною WD-40.
    p Цей шток розташований на коробці передач. Якщо під час цієї процедури ви виявите люфт, вам потрібно їхати на станцію техобслуговування на заміну коробки.Провівши ряд таких процедур, вам вдасться домогтися більш легкого перемикання передач. Якщо жодна з процедур не дала позитивного результату, вам слід оглянути важіль. Якщо проблема не в ньому, тоді вже вам однозначно потрібно звертатися на СТО. Коробка передач вашого автомобіля може бути несправною. В такому випадку звернення до фахівців буде обов'язковим. В основному запропоновані нами процедури добре допомагають вирішити проблему.
    i Треба враховувати, що різні транспортні засоби мають різну ступінь тяжкості перемикання передач. Звичайно, є любителі більш тугого перемикання передач, але більшості автолюбителів все-таки більше подобається, коли перемикання відбувається легко

    h2 Отже, заміну рульового наконечника Renault Trafic буде нескладно зробити, діючи таким чином:
    ul
        li Спочатку, щоб відновити сходження коліс, потрібно рулеткою заміряти і поставити позначку прямо на рульовій тязі.
        li Після цього нанесіть рідину WD-40 на гайку наконечника, щоб не пошкодити деталь, потім викрутіть її.
        li Гайка повинна добре прокручуватися. У торці ви знайдете місце для ключа.

    .info__share
        span Поширити:
        each item in solcialItems
            a(href="javascript:void(0)")
                != item

//= End news-inner =
= '\n'
