.order-block
	h3 Ваше замовлення

	.order-block__info
		.order-block__item
			a.order-block__image(href='javascript:void(0);')
				img(src='data/cart/car.png' alt='')
			a.order-block__name(href='javascript:void(0);') Mercedes Sprinter L1H1 (79673)
				span.order-block__price $12 800
			span.order-block__close

		p.order-block__sum Загальна сума:
			span $3 400
		button.button Оформити замовлення
