= '\n'
//= Pagination =

ul.pagination
    li.prev.disabled
        span
            svg(width="15" height="15" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M11 1.323L9.71438 -4.58242e-08L5.5 4.354L1.28562 -3.46254e-07L-4.71563e-08 1.323L5.5 7L11 1.323Z" fill="#ED0035")
        a(href='javascript:void(0);')
            svg(width="15" height="15" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M11 1.323L9.71438 -4.58242e-08L5.5 4.354L1.28562 -3.46254e-07L-4.71563e-08 1.323L5.5 7L11 1.323Z" fill="#ED0035")
    li.active
        a(href='javascript:void(0);') 1
    li
        a(href='javascript:void(0);') 2
    li
        a(href='javascript:void(0);') 3
    li
        a(href='javascript:void(0);') 5
    li
        a(href='javascript:void(0);') 6
    li.next
        span
            svg(width="15" height="15" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M11 1.323L9.71438 -4.58242e-08L5.5 4.354L1.28562 -3.46254e-07L-4.71563e-08 1.323L5.5 7L11 1.323Z" fill="#ED0035")
        a(href='javascript:void(0);')
            svg(width="15" height="15" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M11 1.323L9.71438 -4.58242e-08L5.5 4.354L1.28562 -3.46254e-07L-4.71563e-08 1.323L5.5 7L11 1.323Z" fill="#ED0035")
//= End pagination =
= '\n'
