= '\n'
//= popup =
//- (source/assets/css/layout/_popup.scss)
each item in formPopup
    form.popup(action='#' method='post')
        .popup__wrapper
            h2= item.title
            .form-group.has-error
                label Ім’я та прізвище*
                    input.form-control(type='text', placeholder= item.name)
                .help-block
            .form-group
                input.form-control(type='text', placeholder= item.phone)
            .popup__date
                if (item.select)
                    .form-group(class= item.class)

                            select.form-control
                                option(value='1' selected) Час
                                - for (var i = 8; i < 20; i++)
                                    option(value= '')
                                        =i
                                        |:00
                    .form-group
                        input(type="date")
                else
                    .form-group
                        input.form-control(type='text', placeholder= item.company)
            if (item.text)
                span.text= item.text
            .form-group.popup__button
                button.button(type='button' disabled) Відправити
//= End popup =
= '\n'
