= '\n'
//= quantity =
//- (source/assets/css/module/_quantity.scss)

.quantity
    button.quantity__button.quantity__button--minus(disabled)
    input(type='number' min ='1' max='5' value='1')
    button.quantity__button.quantity__button--plus

//= End quantity =
= '\n'
