= '\n'
//= Search =

.search
    a.search__link.aside__button(href='javascript:void(0);')
    
    form(action='' method='')
        input.search__input(type='text' name='search' placeholder='Пошук авто' tabindex='0')
        input.search__submit(type='submit' value='')
    
//= End search =
= '\n'