= '\n'
//= services =
//- (source/assets/css/module/_services.scss)
.services
    h2 Послуги
    span У своїй справі ми не обмежуємось лише продажем автомобіля. Зекономимо час клієнтів із послугою <b>«під ключ»:</b> доставимо авто, поставимо на облік, проведемо ТО в процесі екплуатації.
    .services__wrapper
        .services__block
            each item in servicesPoints
                img(src="data/servises/" + item.image, alt="")
                h4= item.name
                p= item.desc
            p Для замовлення додаткових послуг просто зконтактуйте із менеджером з продажу.

        .services__block
            img(src="data/servises/1.png", alt="")
            blockquote
                h4 Зосереджуйтесь на розвитку Вашого бізнесу, а питання щодо транспортних засобів покладіть на Sprinter-avto!
//= End services =
= '\n'
