= '\n'
//= Social =

.social
    ul.social__list
        each val in socialListItems
            li.social__list-item
                a.social__list-link(href='javascript:void(0);')
                    !=val

//= End social =
= '\n'