= '\n'
//= sort =
//- (source/assets/css/module/_sort.scss)
.sort
    .sort__block
        span Сортування:
        ul
            li
                a.active(href="javascript:void(0)") за новинками
            li
                a(href="javascript:void(0)") по спаданню ціни
            li
                a(href="javascript:void(0)") по зростанню ціни


    if (pageTitle == 'catalog')

        each item in sortList
            .sort__box(class= 'sort__box--' + item.modifier class=item.class)
                img(src='data/sort/' + item.icon + '.svg', alt='')


//= End sort =
= '\n'
