= '\n'
//= success =
//- (source/assets/css/module/_success.scss)
.success
    .success__image
    h2 Заявка прийнята
    span В найближчий час з Вами зв'яжеться наш менеджер
//= End success =
= '\n'
