//- MENU
//------------------------------------------------

$menu__baseFontSize:        $fontSizeBase !default;

$menu__linkColor:           $grayDark !default; // $base !default;
$menu__greetingLinkColor:   $base !default;
$menu__linkColor--active:   $linkColor--active !default;
