@import 'vars/_variable.scss';

.pagination {
    font-size: 0;
    position: relative;

    &Container {
        position: relative;
        text-align: center;
    }

    &__button {
        line-height: 1;
        position: relative;
        display: inline-block;
        margin: 2px 0 27px;
        cursor: pointer;
        text-decoration: underline;
        text-transform: uppercase;
        border: none;
        outline: none;
        background: none;

        &:before {
            position: relative;
            top: -1px;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: 0 10px 0 0;
            content: '';
            transition: all .2s linear;
            vertical-align: middle;
            background: url('../images/content/icon/pagination__more.png') no-repeat;
        }

        &:hover {
            text-decoration: none;

            &:before {
                transform: rotate(360deg);
            }
        }
    }

    li {
        font-size: $pagination__textFontSize;
        line-height: (38px / $pagination__textFontSize);
        position: relative;
        display: inline-block;
        vertical-align: top;

        &.active {
            a {
                border-color: $pagination__borderColor;
            }
        }

        &.prev,
        &.next {
            a,
            span {
                overflow: hidden;
                text-indent: 100%;

                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 18px;
                    height: 11px;
                    margin: (-11px / 2) 0 0 (-18px / 2);
                    content: '';
                    background: url('../images/content/icon/pagination__arrow.png') no-repeat;
                }
            }
        }

        &.prev {
            a,
            span {
                &:before {
                    background-position: 0 0;
                }
            }
        }

        &.next {
            a,
            span {
                &:before {
                    background-position: -19px 0;
                }
            }
        }
    }

    a {
        transition: all .2s linear;

        &:hover {
            border-color: $pagination__borderColor;
        }
    }

    a,
    span {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        transition: all .2s linear;
        text-decoration: none;
        color: inherit;
        border: 1px solid transparent;
        border-radius: 50%;
    }

    span {
        cursor: default;
    }

    @media (min-width: $screenXsMin) {
        li {
            margin: 0 10px;
        }
    }
}
