include vars/_variable.pug

= '\n'
//= Pagination =
.paginationContainer
    button.pagination__button Показать еще

    ul.pagination
        li.prev.disabled
            span «

        - for (i = 1; i <= 5; i++)

            if (i == 1)
                li.active
                    a(href='#')= i

            else
                li
                    a(href='#')= i

        li.next
            a(href='#') »
//= End pagination =
= '\n'
