= '\n'
//= Pagination =

ul.pagination
    li.prev.disabled
        span
        a(href='javascript:void(0);')
    li.active
        a(href='javascript:void(0);') 1
    li
        a(href='javascript:void(0);') 2
    li
        a(href='javascript:void(0);') 3
    li ...
    li
        a(href='javascript:void(0);') 55
    li.next
        span
        a(href='javascript:void(0);')

//= End pagination =
= '\n'