= '\n'
//= Range =

.range
	.range__toddler
		input#range(type='text' name='range' value='')
	.range__controls
		.range__controls-text от
		input.range__controls-input(type='number' value='165' maxlength='7')
		.range__controls-text до
		input.range__controls-input(type='number' value='35560' maxlength='7')
		.range__controls-text грн.

//= End range =
= '\n'