//- Utility

include utils/_variable.pug

-
    pageTitle = 'aboutcompany'
    aboutcompany = true
    nameTitle = 'Про нас'
    //- use if necessary
    magnificPopup = true // init magnificPopup styles
    magnificPopupGallery = true // init magnificPopup for gallery


doctype html
html
    include layout/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout
            include layout/_header.pug

            //= Main =
            main#main.main
                .layout__box

                    //- (source/scss/layout/_layout.scss)
                    h1.nameTitle.hide-screen-m-min !{nameTitle}

                    section
                        include module/_aboutcompany.pug
                        //.text
                        //    include module/_text-audit.pug
            //= End main =
            = '\n'

            #shadow

        //= End layout =

        include layout/_footer.pug
        include module/_mobile-menu.pug
        include module/_cookies.pug

        include layout/_sprite.pug
        include layout/_scripts.pug
