//- SECTION
//------------------------------------------------

$section__backgroundColor:              $base !default;
$section__topBackgroundColor:           $brandInfo !default;

$section__titleTextFontSize:            $fontSizeH1 !default;
$section__subtitleTextFontSize:         $fontSizeH2 !default;

$section__codeTextColor:                $grayExtraLight !default;

$section__titleResultTextColor:         $grayExtraLight !default;
