.advantages {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    &__block {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 55px 30px 40px;
        border-top: 1px solid $footerBackground;
        border-bottom: 1px solid $footerBackground;
        text-decoration: none;
        justify-content: center;
        border-right: 1px solid $footerBackground;
        border-left: 1px solid $footerBackground;
        transition: all .3s;
        background: $base;
    }

    h3 {
        margin-bottom: 0;
        text-align: center;
        font-weight: 800;
        font-size: $fontSizeBase;
        text-transform: uppercase;
        color: $grayDarker;
    }
    p {
        margin: 0;
        text-align: center;
        font-size: $fontSizeBase;
        color: $grayDarker;
    }
    &__image {
        &.animate {
            animation: spinner .6s ease;
            transform-origin: center bottom;
        }
    }
    @media (min-width: 480px) {
        &__block {
            flex-basis: 50%;
        }
    }
    @media (min-width: 960px) {
        margin-bottom: 60px;
        &__block {
            flex-basis: 25%;
            border-right: none;
            border-left: none;
            &:not(:last-child) {
                border-right: 1px solid $footerBackground;
            }
            &:hover {
                transform: scale(1.1);
                border: 1px solid $footerBackground;

                .advantages__image {
                    animation: spinner .6s ease;
                    transform-origin: center bottom;
                }
            }
        }
    }
}
@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }

    to {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg)
    }
}
