
.basket-table {
    .title-block {
        margin: 0;
    }
    &__cell {
        transition: all 0.2s ease-out;
    }
    &__wrapper {
        position: relative;
    }
    &__header {
        display: none;
        border-bottom: 1px solid $footerBackground;
        padding-bottom: 10px;
    }
    &__adaptive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__cell {
        padding: 0 5px;
        &--name {
            display: flex;
            //mobile
            flex-direction: column;
        }
        &--remove {
            width: 15px;
            position: absolute;
            top: 20px;
            right: 10px;
        }
        &--price {
            display: flex;
        }
        &--quantity {
            .quantity {
                max-height: 38px;
                margin: 0;
                border-radius: 0px 50px 50px 50px;
                justify-content: center;
                input {
                    width: 70px;
                    font-size: $fontSizeLarge;
                }
                &__basket {
                    display: none;
                }
            }
        }
        &--area,
        &--sum {
            span {
                display: flex;
                align-items: center;
                height: 100%;
                white-space: nowrap;
                font-size: $fontSizeLarge;
                color: $grayDarker;
            }
        }
        &--area {
            position: relative;
            .info {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 120px;
                color: $base;
                background: $brandWarning;
                font-weight: 800;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                transform: translateY(-50%);
                font-size: $fontSizeExtraSmall;
                &:hover {
                    cursor: pointer;
                    .hint {
                        display: block;
                    }
                }
                .hint {
                    position: absolute;
                    display: none;
                    border-radius: 0;
                    background: $linkBackground;
                    color: $brandPrimary;
                    max-width: 70px;
                    padding: 5px 10px;
                    top: 30px;
                    left: -25px;
                    width: 70px;
                    height: auto;
                    white-space: pre-wrap;
                    font-size: $fontSizeExtraSmall;

                    &:before {
                        content: '';
                        border: 10px solid transparent;
                        border-bottom: 7px solid $linkBackground;
                        position: absolute;
                        top: -17px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        &--remove {
            &:hover {
                cursor: pointer;
                transform: scale(0.9);
            }
            span {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                &:before {
                    content:'';
                    background: url(../images/exit.png)no-repeat;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid $footerBackground;
        position: relative;
    }
    &__picture {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        img {
            max-width: 100px;
            width: 100%;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        a {
            &:first-child {
                font-size: $fontSizeBase;
                color: $brandWarning;
            }
        }
    }
    &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    // блок total
    &__total {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
        a,
        button {
            max-width: 230px;
            display: flex;
            padding: 5px 20px;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: $fontSizeLarge;
            font-family: $HouschkaProDemiBold;
        }
        a {
            border: 1px solid $footerBackground;
            color: $brandPrimary;
            border-radius: 50px 0 50px 50px;
        }
        .button {
            background: $brandPrimary;
            color: $base;
            border-radius: 0 50px 50px 50px;
            border: none;
            max-height: 38px;
            //margin-right: 60px;
            margin: 10px 0;
            &:hover {
                cursor:pointer;
                opacity: 0.9;
            }
        }
        p {
            color: $grayDark;
            font-size: $fontSizeBase;
            span {
                display: block;
                font-size: $fontSizeH2;
                color: $grayDarker;
                font-family: $HouschkaProDemiBold;
            }
        }
    }
    &__continue {
        flex-grow: 1;
    }
    @media (min-width: 480px) {
        &__cell {
            &--remove {
                position: static;
            }
        }
    }
    @media (min-width: 768px) {
        &__header {
            display: flex;
        }
        &__adaptive {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
        &__picture {
            margin-right: 30px;
        }
        &__cell {
            &--name {
                flex-direction: row;
                align-items: flex-start;
                width: 100%;
                min-width: 250px;
                max-width: calc(100% - 1080px);
            }
            &--price,
            &--quantity,
            &--area {
                width: 33%;
            }
            &--sum {
                width: 20%;
            }
        }
        &__list {
            justify-content: flex-start;
            align-items: center;
        }
        &__links {
            align-self: center;
            align-items: flex-start;
        }
        &__total {
            flex-direction: row;
            padding: 0;
            .button {
                margin: 0 60px 0 0;
            }
        }
    }
}
