.blog-news {
    margin-bottom: 40px;
    &__link {
        text-decoration: none;
        display: block;
    }
    &__image {
        max-width: 1170px;
        width: 100%;
    }
    h2 {
        color: $brandPrimary;
        font-weight: 600;
        font-size: $fontSizeH1;
        margin: 14px 0;
    }
    &__date {
        position: relative;
        color: $brandWarning;
        font-size: $fontSizeExtraSmall;
        padding-left: 20px;
        margin-right: 15px;
        &:before {
           content:'';
           width: 16px;
           height: 16px;
           position: absolute;
           background: url(../images/date.svg)no-repeat;
           top: 0;
           left: 0;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__filters {
        a {
            display: inline-block;
            background: $footerBackground;
            color: $grayDarker;
            font-size: $fontSizeExtraSmall;
            margin: 0 5px;
            padding: 3px 9px;
            text-decoration: none;
        }
    }

    @media (min-width: 840px) {
        h2 {
            font-size: $fontSizeH2;
        }
    }
}
.text {
    margin-bottom: 30px;
    ul {
        li {
            position: relative;
            padding-left: 20px;
            &:before {
               content:'';
               width: 5px;
               height: 5px;
               border-radius: 50%;
               position: absolute;
               background: $brandPrimary;
               top: 50%;
               transform: translateY(-50%);
               left: 0;
            }
        }
    }
}
