.bottom-slider {
    .product-bottom {
        &__block {
            max-width: none;
            width: 100%;
        }
        &__slider {
            .slick-prev,
            .slick-next {
                position: absolute;
                font-size: 0;
                width: 16px;
                height: 16px;
                border: none;
                cursor: pointer;
                outline: none;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }

            .slick {
                &-prev {
                    background: url(../images/blue-arrow.svg)no-repeat;
                    left: -15px;
                }

                &-disabled {
                    background: url(../images/arrow-disabled.svg)no-repeat;
                }
            }

            .slick {
                &-next {
                    background: url(../images/blue-arrow.svg)no-repeat;
                    transform: translateY(-50%) rotate(180deg);
                    right: -15px;
                    &:before {
                        display: none;
                    }
                }

                &-disabled {
                    background: url(../images/arrow-disabled.svg)no-repeat;
                }
            }
        }
    }
}
