.catalog-content {
    margin-bottom: 60px;
    .title-block {
        margin: 0 20px 0 0;
        font-size: $fontSizeH2;
    }
    &__head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        margin-bottom: 20px;
    }
    &__bookmarks {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-self: flex-start;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
        border: 1px solid $footerBackground;
        border-radius: 20px;
        max-height: 40px;
        padding: 10px 10px;
        margin:0 10px 10px 0;
        font-family: $HouschkaProMedium;
        font-size: $fontSizeBase;
        color: $grayDarker;
        span {
            margin-right: 10px;
        }
        a {
            width: 12px;
            height: 12px;
            display: block;
            background: url(../images/exit-sprite.png)no-repeat;
            background-position-x: 0;
            &:hover {
                background-position-x: -12px;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__sort {
        position: fixed;
        padding-top: 20px;
        z-index: 101;
        top: 0;
        right: -280px;
        width: 280px;
        height: 100%;
        transition: all .2s ease-out;
        background: #fff;
        .filters__close {
            position: absolute;
            z-index: 1;
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
            background: url('../images/exit.png') no-repeat;
        }
        li {
            display: block;
            a {
                text-decoration: none;
                font-size: $fontSizeSmall;
                color: $grayDarker;
                display: block;
                width: 100%;
                padding: 10px 15px;
            }
        }
        &.arrow {
            &:before {
                display: none;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__filters {
        max-width: 315px;
        width: 100%;
        position: fixed;
        z-index: 101;
        top: 0;
        left: -315px;
        height: 100%;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        background: #fff;
        padding: 20px 10px;
        overflow-y: auto;
        height: 100%;
        .filters__close {
            position: absolute;
            z-index: 1;
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
            background: url('../images/exit.png') no-repeat;
        }
    }
    &__assortment {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 1245px;
        width: 100%;
        position: relative;
        //margin-right: -5px;
        margin-bottom: 15px;
        height: 100%;
    }
    @media (min-width: 480px) {
        .title-block {
            font-size: $fontSizeH3;
        }
    }
    @media (min-width: 600px) {
        &__assortment {
            &:after {
                content: '';
                flex-grow: 1;
            }
        }
    }

    @media (min-width: 1024px) {
        &__filters {
            overflow: hidden;
            max-width: 260px;
            width: 100%;
            margin-bottom: 30px;
            margin-right: 20px;
            position: relative;
            top: 0;
            left: 0;
            padding:0;
            z-index: 1;
            .filters__close {
                display: none;
            }
        }
        &__sort {
            max-width: 220px;
            width: 100%;
            background: $base;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
            border-radius: 18px;
            overflow: hidden;
            position: absolute;
            z-index: 1;
            right: 0;
            top: auto;
            margin-top: 10px;
            height: auto;
            padding: 0;
            &:hover {
                cursor: pointer;
            }
            .filters__close {
                display: none;
            }
            &.arrow {
                &:before {
                    display: block;
                }
            }
            li {
                &:not(:first-child) {
                    display: none;
                }

                &:hover {
                    &:not(:first-child) {
                        background: $brandPrimary;

                        a {
                            color: $base;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        &__head {
            flex-direction: row;
        }
        &__bookmarks {
            align-self: center;
            padding-right: 220px;
        }
        &__item {
            margin: 5px 10px 5px 0;
        }
    }
}
