.collections {
    &__wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .title-block {
            font-size: $fontSizeH2;
            white-space: pre-wrap;
        }
    }
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        li {
            margin: 0 5px 10px 0;
            flex-basis: 48%;
            flex-grow: 0;
            transition: all .3s;
            &.active {
                a {
                    background: $brandPrimary;
                    color: $base;
                }
            }
        }
        a {
            display: block;
            background: $linkBackground;
            color: $brandPrimary;
            text-decoration: none;
            text-align: center;
            font-family: $HouschkaProBold;
            font-size: $fontSizeBase;
            border-radius: 25px;
            padding: 10px;
            width: 100%;
            &.active {
                background: $brandPrimary;
                color: $base;
            }
        }
    }
    #tab2,
    #tab3,
    #tab4,
    #tab5,
    #tab6 {
        display: none;
    }
    &__tab {

        flex-wrap: wrap;
        margin: 0 -12px;
        .product-card {
            margin: 0 3px 12px 3px;
            max-width: 238px;
        }

        .slick-list {
            padding: 10px 1px;
        }
        .slick-prev,
        .slick-next {
            position: absolute;
            //top: -65px;//on
            top: 50%;
            transform: translateY(-50%);
            //right: 0;
            background: $brandPrimary;
            font-size: 0;
            width: 30px;
            height: 30px;
            border: none;
            z-index: 1;
            &:before {
               content:'';
               width: 10px;
               height: 16px;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%,-50%);
            }
            &:hover {
                cursor: pointer;
            }
        }
        .slick-prev {
            //right: 60px;//on
            left: 10px;
            border-radius: 50% 50% 0 50%;
            &:before {
               background: url(../images/arrow-left.svg)no-repeat;
            }
        }
        .slick-next {
            //right: 25px;
            right: 10px;
            border-radius: 50% 50% 50% 0;
            &:before {
                background: url(../images/arrow-right.svg)no-repeat;
            }
        }
        .slick-disabled {
            background: $brandWarning;
        }
    }

    @media (min-width: 768px) {
        &__menu {
            li {
                flex-basis: 30%;
            }
        }
    }
    @media (min-width: 1024px) {
        margin-bottom: 60px;
        &__wrapper {
            margin-bottom: 10px;
        }
        &__tab {
            .slick-prev,
            .slick-next {
                top: -20px;
            }
            .slick-prev {
                right: 60px;
                left: auto;
            }
            .slick-next {
                right: 25px;
            }
        }
        &__menu {
            justify-content: flex-start;
            li {
                flex-basis: 145px;
            }
        }
    }
    @media (min-width: 1320px) {


        &__wrapper {
            flex-wrap: nowrap;
        }

        &__menu {
            margin-left: 50px;

            li {
                margin: 0 15px 5px 0;
            }
        }
    }

    @media (min-width: 1440px) {
        &__tab {
            margin: 0 -24px;
        }

        &__menu {
            li {
                margin: 0 15px 0 0;
            }
        }
    }
}
