.collection-item {
    max-width: 285px;
    width: 100%;
    border: 1px solid $footerBackground;
    display: block;
    text-decoration: none;
    padding: 0 0 30px 0;
    position: relative;
    h3 {
        color: $brandPrimary;
        font-size: $fontSizeSmall;
        font-family: $HouschkaProBold;
        font-weight: 800;
        margin-bottom: 0;
        padding: 0 20px 0 10px;
    }
    p {
        color: $brandWarning;
        font-size: $fontSizeLarge;
        font-weight: normal;
        margin: 0;
        padding: 0 10px 0 10px;
    }

    @media (min-width: 375px) {
        span {
            bottom: 1%;
        }
    }
    @media (min-width: 768px) {
        h3 {
            font-size: $fontSizeLarge;
        }
    }
    @media (min-width: 1024px) {
        span {
            right: 15px;
            bottom: 33%;
        }
    }
}
