.collection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 0 10px;

    &:nth-child(2){
        flex-direction: row-reverse;
    }

    &__big {
        //max-width: 745px;
        width: 100%;
        .collection {
            &-block {
                img {
                    max-height: 725px;
                }
            }
        }
    }

    &__small {
        max-width: 490px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .collection-block {
            margin-bottom: 15px;
            &__bottom {
                padding: 9px 25px;
                //height: 70px;
            }
        }

        img {
            max-height: 335px;
        }
    }

    @media (min-width: 600px) {
        flex-direction: column;
        &__small {
            flex-direction: row;
            max-width: none;
        }
    }

    @media (min-width: 1440px) {
        flex-direction: row;
        flex-wrap: nowrap;

        &__small {
            flex-direction: column;
            justify-content: space-between;
            max-width: 490px;
            .collection-block {
                margin: 0;
                &__bottom {
                    height: 70px;
                }
            }
        }

        &__big {
            max-width: 745px;
        }
    }
}
