.contacts {
    position: relative;
    &__map {
        height: 715px;
        width: 100%;
        margin-bottom: 60px;
        .infowindow {
            h3 {
                color: $brandPrimary;
                font-size: $fontSizeBase;
            }
            p {
                display: flex;
                font-size: $fontSizeSmall;
                color: $grayDark;
                b {
                    margin-right: 10px;
                    font-weight: 800;
                }
                span {
                    display: block;
                    a {
                        display: block;
                        text-decoration: none;
                        color: $grayDark;
                    }
                }
            }
        }
    }
}
