.enter-popup {
    margin: auto;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //padding: 30px;
    .conditions {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        span {
            color: $grayDarker;
            font-size: $fontSizeSmall;
        }
        a {
            font-size: $fontSizeSmall;
            position: relative;
            margin: 0 0 0 5px;
            font-weight: 400;
            display: inline;
            text-align: left;
            &:hover {
                cursor: pointer;
            }
        }
        input {
            position: relative;
            margin: 0 10px 0 0;
            align-self: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border: 1px solid $footerBackground;
            border-radius: 5px;
            outline: none;
            order: -1;
            flex-shrink: 0;
            &:focus {
                border-bottom: 1px solid $footerBackground;
            }
            &:checked {
                &:after {
                    position: absolute;
                    content: '';
                    width: 15px;
                    height: 12px;
                    background: url(../images/check.png);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    &__image {
        text-align: center;
    }

    h2 {
        font-size: $fontSizeH1;
        font-family: $HouschkaProDemiBold;
        text-align: center;
        color: $grayDarker;
    }
    &__text {
        text-align: center;
        font-size: $fontSizeSmall;
        margin: 0;
        display: block;
    }
    a {
        text-align: center;
        font-family: $HouschkaProDemiBold;
        font-size: $fontSizeLarge;
        color: $brandPrimary;
        text-decoration: none;
        display: block;
        margin: 20px 0;
    }
    form {
        width: 100%;
        label {
            color: $brandWarning;
            font-size: $fontSizeSmall;
            font-family: $HouschkaProDemiBold;
            position: absolute;
            top: 15px;
            left: 0;
            padding-top: 10px;
            transition: .5s;
            pointer-events: none;
        }
        input {
            font-size: $fontSizeBase;
            font-family: $HouschkaProMedium;
            border: none;
            border-bottom: 1px solid $footerBackground;
            padding: 5px 0;
            outline: none;
            margin: 20px 0;

            &:-webkit-autofill {

                &:hover,
                &:focus,
                &:active {
                    -webkit-box-shadow: 0 0 0 30px $grayBase inset !important;
                }
            }

            &:-webkit-autofill {
                -webkit-text-fill-color: white !important;
            }

            &::-webkit-input-placeholder {
                color: #fff;
            }
            &::-moz-placeholder {
                color: #fff;
            }
            &:-moz-placeholder {
                color: #fff;
            }
            &:-ms-input-placeholder {
                color: #fff;
            }
            &:focus {
                border-bottom: 2px solid $brandPrimary;
                &::-webkit-input-placeholder {
                    color: $grayDarker;
                }
                &::-moz-placeholder {
                    color: $grayDarker;
                }

                &:-moz-placeholder {
                    color: $grayDarker;
                }

                &:-ms-input-placeholder {
                    color: $grayDarker;
                }
            }

            &:focus ~ label {
                top: 0;
            }

            &:valid ~ label {
                top: 0;
            }
        }
        .form-group {
            display: flex;
            flex-direction: column;
            position: relative;
            .help-block {
                display: none;
                font-size: 0;
            }

            &.has-error {
                input,
                textarea {
                    border-bottom: 1px solid red;
                }
            }

            &.required {
                position: relative;

                &:after {
                    content: '*';
                    display: inline;
                    vertical-align: super;
                    color: $grayDark;
                    position: absolute;
                    top: 22px;
                    left: -8px;
                }
            }
        }
    }
    @media (min-width: 768px) {
        h2 {
            font-size: $fontSizeH2;
        }
    }
}

