// Стили для боковой менюхи (_filters-menu.pug)
.filters-menu {
    display: block;
    position: relative;
    height: auto;
    border-radius: 5px;

    label {
        display: flex;
        align-items: center;
        padding: 0 10px;

        span {
            padding-left: 5px;
            color: $grayDarker;
        }

        &.disabled {
            color: $brandWarning;
            span {
                color: $brandWarning;
            }
        }

        input {
            position: relative;
            margin-right: 10px;
            align-self: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border: 1px solid $footerBackground;
            border-radius: 5px;
            outline: none;
            order: -1;
            flex-shrink: 0;

            &:checked {
                &:after {
                    position: absolute;
                    content: '';
                    width: 15px;
                    height: 12px;
                    background: url(../images/check.png)no-repeat;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                }
            }
        }
    }

    &__item {
        position: relative;
        font-size: $fontSizeSmall;
        font-weight: 800;
        height: auto;
        padding: 13px 0;

        img {
            padding-left: 0;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__link {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        width: 100%;
        padding-left: 10px;
        color: $grayDarker;
        font-size: $fontSizeBase;

        &.arrow {
            &:before {
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: transform .5s ease;
            }
        }
        &.arrow-rotate {
            &:before {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__more {
        margin-top: 10px;

        a {
            position: relative;
            color: $brandPrimary;
            border-bottom: 1px dashed $brandPrimary;
            font-family: $HouschkaProMedium;
            font-size: $fontSizeSmall;
            font-weight: 400;
            text-decoration: none;
            margin-left: 44px;
        }
    }

    //стили для сабменю боковой менюхи
    &__subsublist {
        display: block;
        padding: 0;
        margin: 0;
        position: relative;
        top: 14px;
        left: 0;
        z-index: 1;
        height: auto;
        border: none;
        &-link {
            position: relative;
            white-space: nowrap;
            padding-left: 10px;
            text-decoration: none;
            display: block;
            width: 100%;
            line-height: 30px;
        }

        &-item {
            display: flex;
            justify-content: flex-start;
            font-size: $fontSizeSmall;
            color: $grayDarker;
            font-weight: 400;
            height: 30px;
            position: relative;
            align-items: center;
            a {
                font-size: $fontSizeBase;
                color: $brandPrimary;
                text-decoration: none;
                span {
                    padding-left: 5px;
                    color: $grayDarker;
                }
                &:hover {
                    border-bottom: 1px solid $brandPrimary;
                }
                &.disabled {
                    color: $brandWarning;

                    span {
                        color: $brandWarning;
                    }
                }
            }
        }
    }

    &__fields {
        padding: 10px 10px 0 10px;
        display: flex;
        height: auto;
    }

    &__field {
        position: relative;
        margin-right: 17px;
        span {
            color: $brandWarning;
            font-size: $fontSizeSmall;
        }

        input {
            width: 80px;
            height: 40px;
            border: none;
            border: 1px solid $footerBackground;
            outline: none;
            padding: 10px;
            font-weight: 800;
            color: $grayDark;
        }
    }

    &__price {
        padding: 13px 0;

        a {
            font-family: $HouschkaProBold;
            font-weight: 800;
        }
    }
    &__alphabet {
        display: flex;
        flex-wrap: wrap;
        max-width: 240px;
        width: 100%;
        //padding-left: 10px;
        a {
            text-transform: uppercase;
            margin-right: 8px;
            margin-bottom: 10px;
            text-decoration: none;
            color: $brandWarning;
            font-weight: 400;
            &:hover {
                font-weight: 800;
                color: $grayDarker;
            }
            &.active {
                font-weight: 800;
                color: $grayDarker;
            }
        }
    }
}

//конец стилей боковой менюхи
