.ordering-form {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    .form-group {
        display: flex;
        margin-bottom: 15px;
        flex-direction: column;
        .help-block {
            display: none;
            font-size: 0;
        }

        &.has-error {

            input,
            textarea {
                border: 1px solid red;
            }
        }
    }
    h2 {
        border-bottom: 1px solid $footerBackground;
        font-size: $fontSizeLarge;
        color: $grayDarker;
    }

    input {
        &:-webkit-autofill {

            &:hover,
            &:focus,
            &:active {
                -webkit-box-shadow: 0 0 0 30px $grayBase inset !important;
            }
        }

        &:-webkit-autofill {
            -webkit-text-fill-color: white !important;
        }
    }

    input,
    textarea,
    select {
        width: 100%;
        border-radius: 50px;
        border: 1px solid $footerBackground;
        outline: none;
        padding: 8px 20px;
        color: $grayDark;
    }
    select {
        max-height: 245px;
        box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.05);
        option {
            padding: 20px 8px;
        }
    }
    label {
        max-width: 165px;
        width: 100%;
        //margin-right: 65px;
        white-space: nowrap;
        margin-right: 10px;
        input[type=radio]:checked:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 12px;
            height: 12px;
            background: $brandPrimary;
            border-radius: 4px 0;
        }
        input[type=radio] {
            border: 1px solid #d8e1ee;
            background: #fff;
            width: 20px;
            height: 20px;
            outline: 0;
            padding: 0 !important;
            -webkit-appearance: none;
            box-shadow: none;
            border-radius: 3px;
            position: relative;
            top: 5px;
            margin-right: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        &.comment {
            max-width: none;
            width: auto;
        }
    }

    textarea {
        width: 100%;
        border-radius: 25px;
        resize: none;
    }
    &__block {
        //width: (880px * 100%) / 1530px;
        width: 100%;
    }
    &__data {
        .div {
            display: flex;
            max-width: 290px;
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 20px;
            label {
                margin: 5px;
                width: 100%;
            }
        }
        p {
            font-size: $fontSizeSmall;
        }
    }

    &__checkout {
        display: none;
        flex-wrap: wrap;
        .block {
            padding-left: 30px;
            margin-right: 40px;
            position: relative;
            &:first-child {
                &:before {
                   content:'';
                   width: 28px;
                   height: 38px;
                   position: absolute;
                   background: url(../images/location.svg)no-repeat;
                   top: 50%;
                   transform: translateY(-50%);
                   left: -10px;
                }
            }
            &:nth-child(2) {
                &:before {
                   content:'';
                   width: 28px;
                   height: 28px;
                   position: absolute;
                   background: url(../images/time.svg)no-repeat;
                   top: 50%;
                   transform: translateY(-50%);
                   left: -10px;
                }
            }
            h3 {
                margin: 0;
                font-size: $fontSizeBase;
            }
        }
    }
    @media (min-width: 480px) {
        .ps>.ps__scrollbar-y-rail {
            right: 25px;
        }
    }
    @media (min-width: 768px) {
        input,
        select {
            width: (650px * 100%) / 880px;
        }
        textarea {
            width: (750px * 100%) / 880px;
        }
        &__block {
            width: (880px * 100%) / 1530px;
        }
        &__wrapper {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    @media (min-width: 960px) {
        .form-group {
            flex-direction: row;
        }
    }
    @media (min-width: 1200px) {
        label {
            margin-right: 65px;
        }
    }
    @media (min-width: 1320px) {

    }
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: 245px;
    height: 100%;
    position: relative;
    padding-left: 0;
    overflow-y: hidden;
    border-radius: 0 0 20px 20px;
}
.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    right: 0;
}
.ps>.ps__scrollbar-y-rail {
    right: 5px;
}
