.popup-success {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $base;
    padding: 0 5px;
    position: relative;
    padding: 10px;
    border-radius: 5px;

    .mfp-close {
        position: absolute;
        background: url(../images/exit.png)no-repeat;
        height: 16px;
        width: 16px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
    }

    &__image {
        background: url(../images/success.svg)no-repeat;
        width: 100px;
        height: 100px;
    }

    h1,p {
        margin: 0;
    }

    h1 {
        font-size: $fontSizeH3;
        color: $grayDarker;
    }

    p {
        font-size: $fontSizeBase;
    }
}
