.product-bottom {
    margin-bottom: 30px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    &__block {
        max-width: 740px;
        width: 100%;
        height: 100%;
        overflow: visible;
        .title-block {
            margin: 0;
            font-size: $fontSizeH2;
        }
    }
    &__slider {
        display: flex;
        .product-card {
            width: 100%;
            &:hover {
                .product-card {
                    &__bottom {
                        box-shadow: none;
                    }
                }
            }
            &__bottom {
                position: relative;
            }
        }
        .slick {
            &-slide {
                padding: 0 3px;
            }
            &-track {
                margin-left: 0;
            }

            &-prev,
            &-next {
                position: absolute;
                //top: 50%;
                top: -20px;
                transform: translateY(-50%);
                background: $brandPrimary;
                font-size: 0;
                width: 30px;
                height: 30px;
                border: none;
                z-index: 1;

                &:before {
                    content: '';
                    width: 10px;
                    height: 16px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:hover {
                    cursor: pointer;
                }
            }

            &-prev {
                //left: 10px;
                border-radius: 50% 50% 0 50%;
                right: 45px;
                left: auto;

                &:before {
                    background: url(../images/arrow-left.svg)no-repeat;
                }
            }

            &-next {
                right: 10px;
                border-radius: 50% 50% 50% 0;

                &:before {
                    background: url(../images/arrow-right.svg)no-repeat;
                }
            }
            &-disabled {
                background: $brandWarning;
            }
        }
    }
    @media (min-width: 600px) {
        &__block {
            .title-block {
                font-size: $fontSizeH3;
            }
        }
        &__slider {
            .slick {
                &-slide {
                    padding: 0;
                }
            }
        }
    }

    @media (min-width: 1200px) {
        &__slider {
            height: 600px;
        }
        &__wrapper {
            flex-direction: row;
            align-items: flex-start;
        }
        &__block {
            max-width: 48%;
        }
    }
}
