.product-character {
    margin-bottom: 30px;
    .title-block {
        margin-bottom: 20px;
        font-size: $fontSizeH2;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    &__table {
        max-width: 1010px;
        width: 100%;
    }
    ul {
        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $footerBackground;
            color: $grayDarker;
            span {
                &:first-child {
                    color: $grayDark;
                }
                display: flex;
                flex-basis: 50%;
                padding: 7px 0;
            }
        }
    }
    &__slide {
        max-width: 300px;
        width: 100%;
        .slick {
            &-track {
                margin-left: 0;
            }

            &-prev,
            &-next {
                position: absolute;
                //top: -65px;//on
                top: 50%;
                transform: translateY(-50%);
                //right: 0;
                background: $brandPrimary;
                font-size: 0;
                width: 30px;
                height: 30px;
                border: none;
                z-index: 1;

                &:before {
                    content: '';
                    width: 10px;
                    height: 16px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:hover {
                    cursor: pointer;
                }
            }

            &-prev {
                left: 10px;
                border-radius: 50% 50% 0 50%;

                &:before {
                    background: url(../images/arrow-left.svg)no-repeat;
                }
            }

            &-next {
                right: 10px;
                border-radius: 50% 50% 50% 0;

                &:before {
                    background: url(../images/arrow-right.svg)no-repeat;
                }
            }
            &-disabled {
                background: $brandWarning;
            }
        }
        .collection-block {

            img {
                max-height: 335px;
            }
        }
    }
    @media (min-width: 480px) {
        &__slide {
            max-width: 490px;
        }
    }
    @media (min-width: 768px) {
        .title-block {
            font-size: $fontSizeH3;
        }
    }
    @media (min-width: 840px) {
        &__wrapper {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    @media (min-width: 1024px) {
        &__slide {
            .slick {

                &-prev,
                &-next {
                    top: -40px;
                }

                &-prev {
                    right: 45px;
                    left: auto;
                }

                &-next {
                    right: 10px;
                }
            }
        }
    }
}
