.project {
    &__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
    }
    .collections {
        margin-bottom: 0;
        &__tab {
            display: flex;
            flex-wrap: wrap;
        }
        &__wrapper {
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &__menu {
            margin-left: 0;
            li {
                flex-basis: auto;
                flex-grow: 1;
                a {
                    padding: 10px 20px;
                }
            }
        }
        #tab-b,
        #tab-c,
        #tab-d,
        #tab-e,
        #tab-f,
        #tab-g,
        #tab-h {
            display: none;
        }
    }
    @media (min-width: 1200px) {
        .collections {
            &__menu {
                li {
                    flex-grow: 0;
                }
            }
        }
    }
}
