.product-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    ul {
        max-width: 490px;
        width: 100%;
        max-height: 160px;
        overflow-y: auto;
    }
    li {
        display: flex;
        justify-content: space-between;
        line-height: 2;
    }
    &__line {
        flex-grow: 1;
        border-bottom: 1px dashed $brandWarning;
        margin: 0 10px 10px 10px;
    }
    &__value {
        display: block;
        min-width: 130px;
        text-align: left;
    }
    .favorites {
        top: 0;
        background: transparent;
        border: 1px solid $footerBackground;
        &:hover {
            cursor: pointer;
        }
        &:before {
           background: url(../images/blue-like.svg)no-repeat;
           width: 20px;
           height: 18px;
        }
        &.active {
            &:before {
                width: 20px;
                height: 18px;
                background: url(../images/like-fillblue.svg)no-repeat;
            }
        }
    }
}
