.product-top {

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        max-width: 750px;
        width: 100%;
        height: 425px;
        text-align: center;
    }

    &__slider {
        max-width: 750px;
        width: 100%;
        max-height: 425px;
        height: 100%;

        .slick {
            &-prev,
            &-next {
                position: absolute;
                z-index: 1;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0;
                width: 40px;
                height: 60px;
                background: $grayDarker;
                border: none;
                outline: none;

                &:before {
                    content: '';
                    width: 10px;
                    height: 16px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:hover {
                    cursor: pointer;
                }
            }

            &-prev {
                left: 0;

                &:before {
                    background: url(../images/arrow-left.svg)no-repeat;
                }
            }

            &-next {
                right: 0;

                &:before {
                    background: url(../images/arrow-right.svg)no-repeat;
                }
            }

            &-disabled {
                opacity: 0.5;
            }

            &-slide {
                img {
                    display: inline-block;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        &__wrapper {
            flex-direction: row;
            align-items: flex-start;
        }

        &__slider {
            max-width: 49%;
            margin-right: 10px;
        }
    }
}
