.quantity {
    display: flex;
    align-items: center;
    max-width: 120px;
    width: 100%;
    border: 1px solid $footerBackground;
    border-radius: 20px 0 20px 20px;
    padding: 10px 10px 10px 20px;
    margin: 0 auto 20px;
    position: relative;

    &__block {
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    input {
        border: none;
        text-align: center;
        font-size: $fontSizeBase;
        outline: none;
        flex-shrink: 0;
        flex-grow: 1;
        width: 50px;
    }

    &__button {
        width: 23px;
        height: 23px;
        position: absolute;
        background: transparent;
        border: none;
        outline: none;
        &:before {
            content:'';
            width: 7px;
            height: 11px;
            position: absolute;
            background: url(../images/quantity-sprite.png)no-repeat;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            cursor: pointer;
        }
        &--minus {
            left: 0;
            &:before {
                left: 0;
                background-position-x: -7px;
            }
            &:disabled {
                &:before {
                    background-position-x: 0;
                }
            }
        }

        &--plus {
            right: 0;
            &:before {
                background-position-x: -14px;
                right: 0;
            }
        }
    }

    &__basket {
        position: relative;
        width: 20px;
        height: 18px;
        background: url(../images/basket.png)no-repeat;
        border: none;
        outline: none;
        right: -10px;
        &:hover {
            cursor: pointer;
        }
    }
}
