.text-block {
    &__wrapper {
        max-width: 1280px;
    }
    .title-block {
        font-size: $fontSizeH2;
    }
    p {
        color: $grayDarker;
        font-size: $fontSizeBase;
    }
    a {
        color: $brandPrimary;
        position: relative;
        padding-left: 35px;
        &:before {
            content: '';
            width: 26px;
            height: 26px;
            position: absolute;
            background: url(../images/pdf.png)no-repeat;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
    @media (min-width: 1024px) {
        margin-bottom: 30px;
    }
}
