include vars/_variable.pug

= '\n'
//= Page 404 =
.page404
    .page404__image
        img(src='assets/images/404/404.png' alt='')

    .page404__text Сайт недоступний, однак ви можете зв'язатися із нами за телефоном
        strong (050)339 3158
        |  або у Фейсбук

    a.page404__link(href='#') На головну
//= End page 404 =
= '\n'
