-
    orderInnerInfoItem = [
        {
            row: [
                {
                    title: 'Дата подачи:',
                    span: '18.01.2019'
                },
                {
                    title: 'Предполагаемая дата выполнения:',
                    span: '18.01.2019'
                }
            ]
        },
        {
            row: [
                {
                    title: 'Статус заказа:',
                    span: 'Не выполнен'
                },
                {
                    title: 'Стоимость товара:',
                    span: '3388 грн.'
                }
            ]
        }
    ]

    orderInnerTotalList = [
        {
            title: 'Доставка:',
            sum: '1235'
        },
        {
            title: 'Сумма:',
            sum: '132132'
        },
        {
            title: 'Итог к оплате:',
            sum: '45235'
        }
    ]