//- MAP ZLATA
//------------------------------------------------

$mapZlata__textFontSize:    $fontSizeH3 !default;
$mapZlata__textColor:       $grayLight !default;
$mapZlata__backgroundColor: transparentize($base, .5) !default;
