.icon-about {
  width: 70px;
  height: 70px;
  fill: #EE2F58;
  stroke: initial;
}
.icon-arrow {
  width: 6px;
  height: 9px;
  fill: #fff;
  stroke: initial;
}
.icon-attach {
  width: 14px;
  height: 18px;
  fill: #fff;
  stroke: initial;
}
.icon-career {
  width: 70px;
  height: 70px;
  fill: #EE2F58;
  stroke: initial;
}
.icon-check {
  width: 17px;
  height: 15px;
  fill: #000;
  stroke: initial;
}
.icon-close {
  width: 26px;
  height: 27px;
  fill: #fff;
  stroke: initial;
}
.icon-cross {
  width: 17px;
  height: 16px;
  fill: #fff;
  stroke: initial;
}
.icon-facebook {
  width: 23px;
  height: 23px;
  fill: #000;
  stroke: initial;
}
.icon-instagram {
  width: 23px;
  height: 23px;
  fill: #0A0A08;
  stroke: initial;
}
.icon-letter {
  width: 76px;
  height: 51px;
  fill: #fff;
  stroke: initial;
}
.icon-linkedin {
  width: 23px;
  height: 23px;
  fill: #000;
  stroke: initial;
}
.icon-logo-new {
  width: 726.77px;
  height: 205.57px;
  fill: initial;
  stroke: initial;
}
.icon-logo {
  width: 183px;
  height: 37px;
  fill: #EE3358;
  stroke: initial;
}
.icon-news {
  width: 64px;
  height: 64px;
  fill: #EE2F58;
  stroke: initial;
}
.icon-play {
  width: 37px;
  height: 42px;
  fill: #fff;
  stroke: initial;
}
.icon-support {
  width: 70px;
  height: 70px;
  fill: #EE2F58;
  stroke: initial;
}
.icon-triangle {
  width: 14px;
  height: 11px;
  fill: #fff;
  stroke: initial;
}
.icon-twitter {
  width: 23px;
  height: 23px;
  fill: #000;
  stroke: initial;
}
