= '\n'
//= Footer info =
//-=(/assets/css/layout/_footerInfo.scss)=
.footerInfo

    ul.footerInfo__address
        li
            p Наша адреса

        li
            span 33028, м. Рівне, вул. Соборна, 14а

    ul.footerInfo__hours
        li
            p Години роботи:
        li
            span пн-пт - 9:00-18:00
        li
            span сб-нд - вихідні

    ul.footerInfo__email
        li
            p Електронна пошта
        li
            a(href='mailto:rivneasfalt@gmail.com') vp_fortuna@ukr.net
//= End Footer info =
= '\n'
