-
    listItems = [
        {
            main: true,
            title: 'list 1',
            list: [
                {
                    title: 'list 1.1'
                },
                {
                    title: 'list 1.2'
                },
                {
                    title: 'list 1.3'
                },
                {
                    title: 'list 1.4'
                },
                {
                    title: 'list 1.5'
                },
                {
                    title: 'list 1.6'
                },
                {
                    title: 'list 1.7'
                },
                {
                    title: 'list 1.8'
                }
            ]
        },
        {
            main: true,
            title: 'list 2',
            list: [
                {
                    title: 'list 2.1'
                },
                {
                    title: 'list 2.2'
                },
                {
                    main: true,
                    title: 'list 2.3',
                    list: [
                        {
                            title: 'list 2.3.1'
                        },
                        {
                            title: 'list 2.3.2'
                        },
                        {
                            title: 'list 2.3.3'
                        },
                        {
                            title: 'list 2.3.4'
                        },
                        {
                            title: 'list 2.3.5'
                        }
                    ]
                },
                {
                    main: true,
                    title: 'list 2.4',
                    list: [
                        {
                            title: 'list 2.4.1'
                        },
                        {
                            title: 'list 2.4.2'
                        },
                        {
                            title: 'list 2.4.3'
                        },
                        {
                            title: 'list 2.4.4'
                        }
                    ]
                },
                {
                    main: true,
                    title: 'list 2.5',
                    list: [
                        {
                            title: 'list 2.5.1'
                        },
                        {
                            title: 'list 2.5.2'
                        },
                        {
                            title: 'list 2.5.3'
                        },
                        {
                            title: 'list 2.5.4'
                        },
                        {
                            title: 'list 2.5.5'
                        },
                        {
                            title: 'list 2.5.6'
                        }
                    ]
                },
                {
                    title: 'list 2.6'
                },
                {
                    title: 'list 2.7'
                },
                {
                    title: 'list 2.8'
                },
                {
                    title: 'list 2.9'
                },
                {
                    title: 'list 2.10'
                },
                {
                    title: 'list 2.11'
                }
            ]
        }
    ]

    socialListItems = [
        '<svg width="10" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.414.004L7.068 0c-2.636 0-4.34 1.744-4.34 4.444v2.05H.368A.369.369 0 0 0 0 6.862v2.97c0 .203.165.367.369.367h2.36v7.492c0 .204.164.369.368.369h3.078a.369.369 0 0 0 .369-.369V10.2h2.758a.368.368 0 0 0 .37-.368V6.862a.368.368 0 0 0-.369-.368h-2.76V4.757c0-.835.2-1.26 1.29-1.26h1.58a.369.369 0 0 0 .37-.368V.372a.369.369 0 0 0-.37-.368z" fill="#C5A26D"/></svg>',
        '<svg width="19" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.723 0H2.275C1.282 0 .47.813.47 1.806v14.448c0 .993.813 1.806 1.806 1.806h14.448c.993 0 1.806-.813 1.806-1.806V1.806C18.529.813 17.716 0 16.723 0zM9.499 5.418a3.622 3.622 0 0 1 3.612 3.612 3.623 3.623 0 0 1-3.612 3.612A3.623 3.623 0 0 1 5.887 9.03 3.623 3.623 0 0 1 9.5 5.418zM2.727 16.254c-.271 0-.452-.181-.452-.452V8.127h1.896c-.09.27-.09.632-.09.903 0 2.98 2.438 5.418 5.418 5.418s5.418-2.438 5.418-5.418c0-.271 0-.632-.09-.903h1.896v7.675c0 .271-.18.452-.452.452H2.727zm13.996-12.19c0 .27-.18.45-.452.45h-1.806c-.27 0-.451-.18-.451-.45V2.256c0-.27.18-.451.451-.451h1.806c.271 0 .452.18.452.451v1.806z" fill="#C5A26D"/></svg>',
        '<svg width="23" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 2.143c-.821.364-1.702.61-2.627.721a4.594 4.594 0 0 0 2.01-2.53 9.223 9.223 0 0 1-2.906 1.111 4.575 4.575 0 0 0-7.796 4.171A12.99 12.99 0 0 1 2.25.836a4.54 4.54 0 0 0-.619 2.3c0 1.587.809 2.988 2.035 3.807a4.576 4.576 0 0 1-2.072-.574v.057a4.58 4.58 0 0 0 3.67 4.486c-.384.103-.788.16-1.206.16-.296 0-.581-.029-.862-.084a4.578 4.578 0 0 0 4.273 3.177 9.18 9.18 0 0 1-5.682 1.955c-.369 0-.733-.022-1.09-.062a12.932 12.932 0 0 0 7.012 2.058c8.416 0 13.017-6.971 13.017-13.017l-.015-.592A9.137 9.137 0 0 0 23 2.143z" fill="#C5A26D"/></svg>'
    ]

    breadcrumbExampleItems = [
        {
            name: 'На головну'
        },
        {
            active: false,
            name: 'Автомобілі'
        },
        {
            active: true,
            name: 'Запчастини'
        },
    ]


    filterListItems = [
        {
            hide: false,
            title: 'Производитель',
            list: [
                {
                    name: 'Embawood',
                    counter: '(5)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Arbor Drev',
                    counter: '(14)',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'BRW Брест',
                    counter: '(3)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Dizi',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                },
                {
                    name: 'Luxe Studio',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                }
            ]
        },
        {
            title: 'Производитель',
            list: [
                {
                    name: 'Embawood',
                    counter: '(5)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Arbor Drev',
                    counter: '(14)',
                    checked: true,
                    disabled: false
                },
                {
                    name: 'BRW Брест',
                    counter: '(3)',
                    checked: false,
                    disabled: false
                },
                {
                    name: 'Dizi',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                },
                {
                    name: 'Luxe Studio',
                    counter: '(0)',
                    disabled: true,
                    checked: false
                }
            ]
        }
    ]

    navigationListItem = [
        {
            img: 'car',
            title: 'Автомобілі',
            description: 'Каталог автомобілів'
        },
        {
            img: 'turbine',
            title: 'Запчастини',
            description: 'Каталог запчастин',
            drop: [
                'Двигун', 'Трансмісія і зчеплення', 'Шасі та амортизація', 'Гальмівна система', 'Рульова система', 'Охолодження', 'Електрика і освітлення', 'Вихлопна система', 'Деталі кузова','Холодильне обладнання', 'Аксесуари та комплектуючі'
            ]
        },
        {
            img: 'services',
            title: 'Послуги',
            description: 'Діагностика, сервіс',
            drop: [
                'Двигун', 'Трансмісія і зчеплення', 'Шасі та амортизація', 'Гальмівна система', 'Рульова система', 'Охолодження', 'Електрика і освітлення', 'Вихлопна система', 'Деталі кузова','Холодильне обладнання', 'Аксесуари та комплектуючі'
            ]
        },
        {
            img: 'cart',
            title: '100 756 грн.',
            description: '2',
            class: 'cart'
        }
    ]


    footerMenu = [
        {
            name: 'про нас',
            product: [
                'Про компанію',
                'Кредитивання та лізинг',
                'Оплата і доставка',
                'Наші клієнти',
                'Блог',
                'Контакти',
            ]
        },
        {
            name: 'каталог',
            product: [
                'Автомобілі',
                'Запчастини',
                'Послуги',
            ]
        },
        {
            name: 'контакти',
            product: [
                {
                    name: 'м.Рівне, кільцева дорога (або 333-й км траси Чоп-Київ E40)',
                    href:''
                },
                {
                    name: '(067) 456-83-93',
                    href: 'tel:0674568393'
                },
                {
                    name: '(097) 653-50-09',
                    href: 'tel:0976535009'
                },
                {
                    name:'sprinteravto@yahoo.com',
                    href: 'mailto:sprinteravto@yahoo.com'
                }
            ]
        },
        {
            name: 'ми в спільнотах',
            product: [
                {
                    name: 'https://www.facebook.com/auto4business/',
                    href:'https://www.facebook.com/auto4business/',
                    target: true
                },
                {
                    name: 'https://www.instagram.com/auto4business/',
                    href:'https://www.instagram.com/auto4business/',
                    target: true
                }
            ]
        },
    ]

    advantagesItems = [
        {
            title: 'Ми гарантуємо якість',
            text: 'Всі автомобілі перебувають на офіційному обліку MERCEDES, що дозволяє перевірити історію цього авто, реальний пробіг тощо',
            counter:'01'
        },
        {
            title: 'Ми забезпечуємо сервіс',
            text: 'Власна сервісна база. Перегон у будь-яке місто України за потребою клієнта. Допомога у встановленні на облік до Сервісного центру МВС (МРЕО).',
            counter:'02'
        },
        {
            title: 'Ми пропонуємо надійність',
            text: 'Всі наші автомобілі проходять сервісне обслуговування, комп’ютерну діагностику паливної системи, турбіни та інших вузлових агрегатів.',
            counter:'03'
        },
        {
            title: 'Ми дотримуємося законів',
            text: 'Наші автомобілі легально ввозяться в Україну з дотриманням усіх законодавчих норм. Це гарантує відсутність проблем, пов’язаних із законом.',
            counter:'04'
        },
        {
            title: 'Ми цінуємо кожного клієнта',
            text: 'Нажі менеджери та спеціалісти завжди на зв’язку для забезпечення післяпродажної підтримки та консультацій. Наша мета - це задоволення потреб клієнта і розвитку його бізнесу.',
            counter:'05'
        },
        {
            title: 'Ми цінуємо кожного клієнта',
            text: 'Нажі менеджери та спеціалісти завжди на зв’язку для забезпечення післяпродажної підтримки та консультацій. Наша мета - це задоволення потреб клієнта і розвитку його бізнесу.',
            counter:'05'
        }
    ]

    indexSearchAuto = [
        {
            img: '1',
            text: 'Рефрижератор-будка'
        },
        {
            img: '2',
            text: 'Фургон максі-база'
        },
        {
            img: '3',
            text: 'Фургон середня база'
        },
        {
            img: '4',
            text: 'Бортова'
        },
        {
            img: '5',
            text: 'Пасажир'
        },
        {
            img: '6',
            text: 'Будка'
        }
    ]

    indexServices = [
        {
            img: 'delivery',
            title: 'Доставка автомобіля',
            text: 'Перегон в будь-яке місто України за потребою клієнта'
        },
        {
            img: 'accounting',
            title: 'Облік',
            text: 'Допомога у встановлені на облік до Сервісного центру МВС (МРЕО)'
        },
        {
            img: 'diagnostics',
            title: 'Діагностика',
            text: 'Комплексна діагностика на професійному обладнанні'
        },
        {
            img: 'servises',
            title: 'Сервіс та ТО',
            text: 'Ми виконуємо необхідне технічне обслуговування'
        }
    ]

    swiperCustomersItems = [
        'clients1', 'clients2', 'clients3', 'clients4', 'clients5', 'clients6', 'clients7', 'clients8', 'clients9', 'clients10', 'clients11', 'clients12', 'clients13',
    ]

    productItems = [
        {
            img: '1',
            name: 'Mercedes Sprinter L1H1 (79673)',
            old: '$23 200',
            price: '$21 200',
            specList: [
                {
                    title: 'Рік',
                    value: '2019'
                },
                {
                    title: 'Пробіг',
                    value: '97 000 км'
                },
                {
                    title: 'Тип кузова',
                    value: 'Фургон'
                },
                {
                    title: 'Вантажопідйомність',
                    value: '1.8т.'
                },
                {
                    title: 'Паливо',
                    value: 'дизель'
                },
                {
                    title: 'Об\'єм двигуна',
                    value: '2.3л'
                }
            ],
            testDrive: true,
            popup: '#test-drive'
        },
        {
            img: '2',
            name: 'Mercedes Sprinter L2H2 (25396)',
            price: '$13 200',
            specList: [
                {
                    title: 'Рік',
                    value: '2019'
                },
                {
                    title: 'Пробіг',
                    value: '97 000 км'
                }
            ]
        },
        {
            img: '3',
            name: 'Mercedes Sprinter Вантажопасажирський L2H2 (57907)',
            price: '$14 900',
            testDrive: true,
            specList: [
                {
                    title: 'Рік',
                    value: '2019'
                }
            ]
        }
    ]

    catalogFilter = [
        {
            hide: true,
            title:'Тип кузова',
            list:['Рефрижератор-будка','Фургон максі-база','Фургон середня база','Бортова','Пасажир','Будка']
        },
        {
            title:'Марка',
            list:['Sprinter','Vito','Vario']
        },
        {
            title: 'Колір',
            list: ['Білий','Сірий','Чорний']
        }
    ]

    menuItems = [
        {
            link: 'javascript:void(0);',
            name: 'Про компанію'
        },
        {
            link: 'javascript:void(0);',
            name: 'Кредитування/лізинг'
        },
        {
            link: 'javascript:void(0);',
            name: 'Оплата та доставка'
        },
        {
            link: 'javascript:void(0);',
            name: 'Блог'
        },
        {
            link: 'javascript:void(0);',
            name: 'Клієнти'
        },
        {
            link: 'javascript:void(0);',
            name: 'Кейси'
        },
        {
            link: 'javascript:void(0);',
            name: 'Контакти'
        }
    ]

    languagesListItems = [
        {
            link: 'Українська',
            abbr: 'UA'
        },
        {
            link: 'Російська',
            abbr: 'RU'
        },
        {
            link: 'Англійська',
            abbr: 'EN'
        }
    ]

    sortList = [
        {
            class: 'active',
            modifier: 'tile',
            icon: 'tile'
        },
        {
            class:'',
            modifier: 'list',
            icon: 'list'
        }
    ]

    catalogCarouselBig = [
        {
            href: 'data/slider/big/1.png',
            image: '1.png',
            class: 'gallery'
        },
        {
            href: 'data/slider/big/2.png',
            image: '2.png',
            class: 'gallery'
        },
        {
            href: 'data/slider/big/3.png',
            image: '3.png',
            class: 'gallery'
        },
        {
            href: 'data/slider/big/4.png',
            image: '4.png',
            class: 'gallery'
        }
    ]

    sliderItems = [
        {
            image: '1.png'
        },
        {
            image: '2.png'
        },
        {
            image: '3.png'
        },
        {
            image: '4.png'
        },
        {
            link: 'https://www.youtube.com/embed/AwgOKrLFOok',
            class: 'video'
        }
    ]
    solcialItems = [
        '<svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.319234 10.6532H2.49002V19.6774C2.49002 19.8548 2.63368 20 2.80926 20H6.48843C6.66401 20 6.80766 19.8548 6.80766 19.6774V10.6935H9.30566C9.46528 10.6935 9.60096 10.5726 9.6249 10.4113L10 7.08871C10.008 7 9.98404 6.90323 9.92019 6.83871C9.85634 6.77419 9.77654 6.73387 9.68076 6.73387H6.80766V4.64516C6.80766 4.01613 7.14286 3.70161 7.80527 3.70161H9.68076C9.85634 3.70161 10 3.55645 10 3.37903V0.322581C10 0.145161 9.85634 0 9.68076 0H7.08699C7.07103 0 7.03112 0 6.96728 0C6.52035 0 4.9561 0.0887097 3.72705 1.23387C2.36233 2.50806 2.55387 4.02419 2.59377 4.29032V6.72581H0.319234C0.143655 6.72581 0 6.87097 0 7.04839V10.3306C0 10.5081 0.143655 10.6532 0.319234 10.6532Z" fill="#A6A9B0"/></svg>',

        '<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 7.60938C8.1361 7.60938 6.62723 9.11825 6.62723 10.9822C6.62723 12.8461 8.1361 14.3697 10 14.3697C11.8639 14.3697 13.3728 12.8609 13.3728 10.9969C13.3876 9.11825 11.8639 7.60938 10 7.60938Z" fill="#A6A9B0"/><path d="M14.4822 0.982178H5.51775C2.47041 0.982178 0 3.45259 0 6.49993V15.4644C0 18.5118 2.47041 20.9822 5.51775 20.9822H14.4822C17.5296 20.9822 20 18.5118 20 15.4644V6.49993C20 3.45259 17.5296 0.982178 14.4822 0.982178ZM10 16.1449C7.15976 16.1449 4.85207 13.8372 4.85207 10.997C4.85207 8.15673 7.15976 5.84904 10 5.84904C12.8402 5.84904 15.1479 8.15673 15.1479 10.997C15.1627 13.8372 12.855 16.1449 10 16.1449ZM16.3018 6.54431C15.7988 7.04727 14.9704 7.04727 14.4675 6.54431C13.9645 6.04135 13.9645 5.21295 14.4675 4.70999C14.9704 4.20703 15.7988 4.20703 16.3018 4.70999C16.5385 4.94668 16.6864 5.28691 16.6864 5.62715C16.6716 5.96738 16.5385 6.30762 16.3018 6.54431Z" fill="#A6A9B0"/></svg>'
    ]

    creditButtons = [
        //'Купити в кредит/лізинг',
        'Звязок з менеджером',
        'Купити по перерахунку з ПДВ',
        'Записатись на тест-драйв'
    ]
    infoBlock = [
        {
            class: 'info__block-distance',
            name: 'Без пробігу по Україні'
        },
        {
            class: 'info__block-warranty',
            name: 'Гарантія'
        },
        {
            class: 'info__block-diagnostic',
            name: 'Повна діагностика із заміною несправних вузлів'
        }
    ]

    destination = [
        'молочних продуктів',
        'ковбасних виробів',
        'овочів та фруктів',
        'ягід',
        'хлібу та випічки',
        'фармацевтичних препаратів',
        'морепродуктів'
    ]

    table = [
        {
            name: 'Двигун',
            value: '2.2 / Дизель',
            name2: 'Коробка передач',
            value2: '7G-Tronic'
        },
        {
            name: 'Рік випуску',
            value: '2014 Facelift',
            name2: 'Пробіг',
            value2: '134 тис. км'
        },
        {
            name: 'Вантажність шасі',
            value: '1650 - 2850 кг',
            name2: 'Об’єм вантажного відсіку',
            value2: '14 м3'
        },

        {
            name: 'Ізотермічний фургон відповідає класу',
            value: ' FRC (-20°C)',
            name2: 'Споживання палива',
            value2: ' 8.5 л на 100 км'
        },

    ]

    partsItems = [
        {
            name:'Двигун',
            image: '1.svg'
        },
        {
            name:'Коробка передач',
            image: '2.svg'
        },
        {
            name:'Привід',
            image: '3.svg'
        },
        {
            name:'Рульова система',
            image: '4.svg'
        },
        {
            name:'Кузов',
            image: '5.svg'
        },
        {
            name:'Шасі',
            image: '6.svg'
        },
        {
            name:'Охолодження',
            image: '7.svg'
        },
        {
            name:'Гальма',
            image: '8.svg'
        },
        {
            name:'Фільтри',
            image: '9.svg'
        },
        {
            name:'Вентиляція',
            image: '10.svg'
        },
        {
            name:'Обігрів ',
            image: '11.svg'
        }
    ]
    contacts = [
        {
            name: 'м.Рівне, кільцева дорога (або 333-й км траси Чоп-Київ E40)',
            class: 'contacts__list-item--adress',
            href: 'javascript:void(0);'
        },
        {
            class: 'contacts__list-item--tel',
            numbers: [
                {
                    name: '(067) 456-83-93',
                    href: 'tel:0674568393'
                },
                {
                    name: '(097) 653-50-09',
                    href: 'tel:0976535009'
                }
            ]
        },
        {
            name:'sprinteravto@yahoo.com',
            class: 'contacts__list-item--mail',
            href: 'mailto:sprinteravto@yahoo.com'
        }
    ]
    contactsManager = [
        {
            image: '1.png',
            name: 'Віктор Бармак',
            href: 'tel:0976535009',
            phone: '(097) 653-50-09',
            position: 'директор'
        },
        {
            image: '3.png',
            name: 'Влад Мерзляк',
            href: '067456-83-93',
            phone: '(067) 456-83-93',
            position: 'директор з продажів'
        }
    ]

    servicesPoints = [
        {
            name: 'Доставка (перегон) авто в будь-яке місто України за потребою клієнта',
            desc: 'Немає необхідності знімати з роботи водіїв та відправляти їх на перегон авто. Ми доставимо придбані автомобілі в будь-яке місто України. Будь-яку кількість автомобілів! Достатньо обумовити бажану дату та час. Вартість послуги розраховується відповідно кількості кілометрів.',
            image: 'delivery1.svg'
        },
        {
            name: 'Доставка (перегон) авто в будь-яке місто України за потребою клієнта',
            desc: 'Немає необхідності знімати з роботи водіїв та відправляти їх на перегон авто. Ми доставимо придбані автомобілі в будь-яке місто України. Будь-яку кількість автомобілів! Достатньо обумовити бажану дату та час. Вартість послуги розраховується відповідно кількості кілометрів.',
            image: 'shield.svg'
        },
        {
            name: 'Сервіс, діагностика, ТО',
            desc: 'Проведемо регулярне або разове сервісне обслуговування на своїй технічній базі. А в разі поточних проблем з автомобілем, проведемо діагностику несправностей, ТО та виконаємо ремонт або заміну неробочих вузлів та запчастин.',
            image: 'servises.svg'
        }
    ]
    news = [
        {
            image: '1.png',
            date: '27 березня 2019',
            title: 'Найцікавіші електромобілі 2019 року',
            text: 'На даний момент ринок електроавто на початку бурхливого розвитку так як закордонне видання Electrek зазначає, що 2019 рік буде досить насиченим для ринку електрокарів хоча...'
        }
    ]

    aboutInfo = [
        {
            name: 'Власна технічна база та автомеханіки',
            image: '1.svg'
        },
        {
            name: 'Завжди в наявності більше 30 авто в м.Рівне',
            image: '4.svg'
        },
        {
            name: 'Завжди в наявності більше 30 авто в м.Рівне',
            image: '6.svg'
        }
    ]

    bankItems = [
        '1.svg','alpha.svg'
    ]

    addressItems = [
        {
            name: 'Введіть область',
            value: 'Рівненська'
        },
        {
            name: 'Введіть місто',
            value: 'Рівне'
        }
    ]

    addressDelivery = [
        {
            name: 'Введіть область',
            value: 'Рівненська'
        },
        {
            name: 'Введіть місто',
            value: 'Рівне'
        },
        {
            name: 'Виберіть № віділення',
            value: 'Відділення №1, ул. Князя Володимира,1'
        }
    ]

    formPopup = [
        {
            id: '#form-callback',
            title: 'Зворотній зв’язок',
            name: 'Олександр',
            phone: 'Телефон',
            text: ' * Обов’язково для заповнення',
            company: 'Назва компанії'
        }
    ]

    formCallback = [
        {
            id:'test-drive',
            title:'Записатись на тест-драйв',
            name: 'Олександр',
            phone: 'Телефон',
            class: 'calendar',
            select: true
        }
    ]

    productSpecItems = [
        {

        }
    ]
