-
    var navList = [
        {
            name: 'Грибы',
            class: 'mushrooms',
            active: true
        },
        {
            name: 'Овощи',
            class: 'vegetables'
        },
        {
            name: 'Зелень',
            class: 'greenery'
        },
        {
            name: 'Ягоды, фрукты',
            class: 'fruits'
        },
        {
            name: 'Сухофрукты',
            class: 'dried-fruits'
        },
        {
            name: 'Орехи',
            class: 'nuts'
        },
        {
            name: 'Бакалея',
            class: 'bakaleya'
        },
        {
            name: 'Сладости',
            class: 'sweet'
        },
        {
            name: 'Напитки',
            class: 'drink'
        },
        {
            name: 'Наборы',
            class: 'sets'
        }
    ]

    var socnet = ['facebook', 'vkontakte', 'instagram']

    var popularGoods = [
        {
            image: '1',
            alt: 'Конфеты Raffaello',
            status: [
                {
                    class: 'share'
                },
                {
                    class: 'hit'
                },
                {
                    class: 'new'
                }
            ],
            title: 'Конфеты Raffaello 150г',
            price: '99',
            button: 'В корзину'
        },
        {
            image: '2',
            alt: 'Красная икра малосольная',
            calendar: true,
            title: 'Красная икра малосольная Горбуша 250г',
            price: '487.50',
            button: 'В корзину',
            absent: 'absent'
        },
        {
            image: '3',
            alt: 'Кабачок',
            title: 'Кабачок',
            price: '90',
            button: 'В корзину',
            absent: 'season',
            status: [{
                    class: 'season'
                },
            ]

        }
    ]

    // blod menu
    var blogDetailMenu = [
        {
            name: 'Выбор продуктов',
            active: true
        },
        {
            name: 'Здоровая еда'
        },
        {
            name: 'Полезные советы'
        },
        {
            name: 'Узнай больше'
        },
        {
            name: 'Диета'
        }
    ]

    // tags
    var blogTagList = [
        'Французская кухня',
        'можно приготовить за 30 минут',
        'Как это есть',
        'Американская кухня',
        'Итальянская кухня',
        'Витамины',
        'Восточная кухня',
        'Фрукты',
        'Экзотические фрукты',
        'Вегетарианское'
    ]

    var recipeTagList = [
        'Итальянская кухня',
        'Американская кухня',
        'Французская кухня',
        'Вегетарианское',
        'можно приготовить за 30 минут',
        'можно приготовить за 1 час',
        'Восточная кухня',
        'Греческая кухня',
        'Домашняя кухня',
        'можно приготовить за 15 минут',
        'можно приготовить за 1-2 часа',
        'Средиземноморская кухня',
        'Славянская кухня',
        'Мексиканская кухня',
        'Индийская кухня'
    ]

    var recipeDetailMenu = [
        {
            name: 'Закуски',
            active: true
        },
        {
            name: 'Соусы'
        },
        {
            name: 'Салаты'
        },
        {
            name: 'Супы'
        },
        {
            name: 'Вторые блюда'
        },
        {
            name: 'Гриль'
        },
        {
            name: 'Каши'
        },
        {
            name: 'Грибы'
        },
        {
            name: 'Выпечка'
        },
        {
            name: 'Десерты'
        },
        {
            name: 'Напитки'
        }
    ]

    var saleCatalogMenu = [
        {
            name: 'Вcе'
        },
        {
            name: 'Овощи',
            active: true
        },
        {
            name: 'Фрукты, ягоды'
        }
    ]

    var catalogSaleList = [
        {
            image: '1',
            calendar: true,
            alt: 'Конфеты Raffaello',
            status: [
                {
                    class: 'share'
                },
                {
                    class: 'hit'
                },
                {
                    class: 'new'
                }
            ],
            title: 'Конфеты Raffaello 150г',
            price: '99',
            button: 'В корзину'
        },
        {
            image: '2',
            alt: 'Красная икра малосольная',
            title: 'Красная икра малосольная Горбуша 250г',
            price: '487.50',
            button: 'В корзину',
            absent: 'absent'
        },
        {
            image: '3',
            calendar: true,
            alt: 'Кабачок',
            title: 'Кабачок',
            price: '90',
            button: 'В корзину',
            absent: 'season',
            status: [{
                    class: 'season'
                },
            ]
        }
    ]

    var catalogFavorites = [
        {
            image: '1',
            calendar: false,
            alt: 'Конфеты Raffaello',
            title: 'Конфеты Raffaello 150г',
            price: '99',
            button: 'В корзину',
            favorites: true
        },
        {
            image: '2',
            alt: 'Красная икра малосольная',
            title: 'Красная икра малосольная Горбуша 250г',
            price: '487.50',
            button: 'В корзину',
            favorites: true
        },
        {
            image: '3',
            calendar: false,
            alt: 'Кабачок',
            title: 'Кабачок',
            price: '90',
            button: 'В корзину',
            favorites: true
        }
    ]

    var catalogCatalogMenu = [
        {
            name: 'Вcе овощи'
        },
        {
            name: 'Помидоры, огурцы'
        },
        {
            name: 'Картофель, морковь, свекла'
        },
        {
            name: 'Капуста'
        },
        {
            name: 'Лук, чеснок',
            active: true
        },
        {
            name: 'Перец'
        },
        {
            name: 'Кабачки, баклажаны'
        },
        {
            name: 'Грибы'
        },
        {
            name: 'Редис'
        },
        {
            name: 'Корни'
        },
        {
            name: 'Экзотические овощи',
            active: true
        },
        {
            name: 'Мини-овощи'
        },
        {
            name: 'Кукуруза, горошек'
        },
        {
            name: 'Тыква',
            active: true
        },
        {
            name: 'Фасоль, бобы'
        },
    ]


    var vacanciesMenu = [
        {
            name: 'Логист',
            active: true
        },
        {
            name: 'Рекрутер'
        },
        {
            name: 'Оператор 1С'
        },
        {
            name: 'Руководитель отдела закупок'
        }
    ]

    var vacancies = [
        {
            date: '14.04.2018',
            name: 'Логист',
            text: 'Компания Freshmart ищет энергичных, молодых, инициативных людей, готовых работать с людьми, обучаться, желающих развиваться, для которых работы не бывает много и они не знают слов НЕ ПОЛУЧАЕТСЯ и НЕ СМОГУ! Если ты активный, амбициозный и целеустремленный, ищешь работу в области логистики - тогда тебе к нам!',
            info: [
                {
                    modifier: 'employment',
                    text: 'полная занятость',
                    JobPostingP: 'employmentType'
                },
                {
                    modifier: 'experience',
                    text: 'Опыт от 1 до 3 лет',
                    JobPostingP: 'experienceRequirements'
                },
                {
                    modifier: 'salary',
                    text: 'Зарплата: 10 000 грн',
                    JobPostingP: 'salaryCurrency'
                }
            ]
        },
        {
            date: '14.04.2018',
            name: 'Начальник транспортного отдела',
            text: 'Динамично развивающейся компании FreshMart требуется профессионал своего дела. Начальник транспортного отдела.',
            info: [
                {
                    modifier: 'employment',
                    text: 'полная занятость',
                    JobPostingP: 'employmentType'
                },
                {
                    modifier: 'experience',
                    text: 'Опыт от 3 лет',
                    JobPostingP: 'experienceRequirements'
                },
                {
                    modifier: 'salary',
                    text: 'Зарплата: 11 000 грн',
                    JobPostingP: 'salaryCurrency'
                }
            ]
        },
        {
            date: '14.04.2018',
            name: 'Руководитель отдела закупок',
            text: 'Динамичная оптовая компания — лидер отрасли, приглашает закупщика-аналитика (руководитель отдела закупок) категории «Фрукты овощи».',
            info: [
                {
                    modifier: 'employment',
                    text: 'полная занятость',
                    JobPostingP: 'employmentType'
                },
                {
                    modifier: 'experience',
                    text: 'Опыт от 1 до 3 лет',
                    JobPostingP: 'experienceRequirements'
                },
                {
                    modifier: 'salary',
                    text: 'Зарплата: 20 000 грн',
                    JobPostingP: 'salaryCurrency'
                }
            ]
        }
    ]

    bonusQuantity = [
        {
            title: 'На вашем счету',
            number: '1697'
        },
        {
            title: 'Доступно',
            number: '900'
        },
        {
            title: 'Зарезервировано',
            number: '19'
        }
    ]

    scheduleList = [
        'пн','вт','ср','чт','пт','сб','вс'
    ]
