= '\n'
//= Info =

.info
    a.info__exit(href='javascript:void(0);') Выход
    form(action='' method='')
        .info__box
            .info__item
                .form-group.form-group--user.has-error
                    label.control-label
                    input.form-control(type='text' placeholder='Федоров Владислав Олександрович')
                .form-group.form-group--mail
                    label.control-label
                    input.form-control(type='text' placeholder='patifon@gmai.com')
                .form-group.form-group--phone
                    label.control-label
                    input.form-control(type='text' placeholder='+38(___)___-__-__')
                .form-group.form-group--phone
                    label.control-label
                    input.form-control(type='text' placeholder='+38(095)835-15-15')
                .form-group.form-group--checkbox
                    label.control-label Я хочу получать рекомендации на основе моих предыдущих покупок
                        input.form-control(type='checkbox' checked)
            .info__item
                .form-group.form-group--lock
                    label.control-label
                    input.form-control(type='password' placeholder='Старый пароль')
                .form-group.form-group--lock
                    label.control-label
                    input.form-control(type='password' placeholder='Новый пароль')
                .form-group.form-group--lock
                    label.control-label
                    input.form-control(type='password' placeholder='Подтверждение пароля')
        .form-group.form-group--button
            button.form-control.button.button--buy(type='submit')
                span.button__text Сохранить

//= End info =
= '\n'