.form-respond {
	position: relative;
	margin: 87px 0 60px;

	h1 {
		font-weight: bold;
		font-size: 40px;
		line-height: 48px;
		color: $grayDark;
		text-align: center;
		margin: 0 0 31px;
	}

	.caption h3 {
		color: #332A1C;
		margin: 0;
		padding: 10px 15px;
	}

	.form-box {
		margin: 16px 0 8px;
	}

	.form-group {

		&.has-error {
			border: 1px solid red;
			//border-radius: 4px;
		}

		&.appearance--payment {
			padding: 33px 0 8px;

			label:not(:first-child) {
				margin-left: 36px;
			}
		}

		&.button-pin {
			text-align: center;
		}
	}

	p {
		font-weight: 500;
		font-size: $fontSizeExtraSmall;
		line-height: 16px;
		color: $grayText;
		margin: 0;
	}

	.control-label {
		display: block;
		line-height: 1;
		width: 100%;
	}

	.select2 {
		flex-basis: 50%;
	}

	.form-control {
		position: relative;
		height: $formControlHeight;
		padding: 0 15px;
		width: 100%;
		//border-radius: 4px;
		transition: all .3s;

		font-size: 16px;
		line-height: 19px;
		color: $grayDark;

		&::placeholder {
			transition: all .3s;
		}

		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}

		&.pin {
			color: $base;
			width: auto;
			padding: 0 48px;
		}
	}

	.help-block {
		display: none;
	}

	input,
	textarea {
		border: 1px solid $borderColor;
		background: transparent;
	}

	.textarea {
		padding: 8px 0 18px;

		textarea.form-control {
			height: 80px;
		}
		
		&:last-child {

			textarea.form-control {
				height: 116px;
			}
		}
	}
}
