.ps {
    > .ps__scrollbar-x-rail,
    > .ps__scrollbar-y-rail {
        width: 0;
        opacity: 1 !important;
        background-color: transparent !important;

        &:hover {
            > .ps__scrollbar-y {
                width: 4px;
            }

            > .ps__scrollbar-x {
                height: 4px;
            }
        }

        > .ps__scrollbar-x {
            bottom: 0;
            height: 4px !important;
            background-color: #fdbf00 !important;
        }

        > .ps__scrollbar-y {
            right: 0;
            width: 4px !important;
            background-color: #fdbf00 !important;
        }
    }
}