include vars/_variable.pug

= '\n'
//= Subscribe =

.subscribe
    .subscribe__box
        each item in accountSubscribeItems
            label= item.label
                input(type='checkbox' checked= item.checked)

//= End subscribe =
= '\n'