.primary-menu {

    ul.primary-menu__inner {
        display: flex;
        justify-content: center;
        //align-items: center;

        li {
            margin: 0 8px;
            position: relative;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {

                a {

                    &:before,
                    &:after {
                        content: '';
                        border: 1px solid $brandPrimary;
                        position: absolute;
                        left: 0;
                        width: 100%;
                    }

                    &:before {
                        bottom: 100%;
                    }

                    &:after {
                        top: 100%;
                    }
                }
            }

            a {
                text-decoration: none;
                top: -2px;
                font-size: $fontSize14;
                color: $grayLight;
                line-height: 81px;
                white-space: nowrap;

                &:hover {

                    &:before,
                    &:after {
                        content: '';
                        border: 1px solid $brandPrimary;
                        position: absolute;
                        left: 0;
                        width: 100%;
                    }

                    &:before {
                        bottom: 100%;
                    }

                    &:after {
                        top: 100%;
                    }
                }
            }
        }
    }

    // //1024px    
    // @media (min-width: $screen_L_Min) {
    //     display: block;
    // }

    //1200px    
    @media (min-width: $screen_XL_Min) {
        margin-right: 20px;

        ul.primary-menu__inner {

            li {
                margin: 0 25px;

                a {
                    font-size: $fontSize16;
                }
            }
        }
    }
}
