.bread {

    ul.breadcrumb {
        font-size: 0;
        @extend %flex;
        justify-content: flex-start;
        align-items: flex-start;

        li,
        li.active {
            display: inline-block;
            vertical-align: middle;
            color: rgba(51, 53, 56, 0.5);
            font-family: $fontFamilyBase;
            font-weight: 500;
            letter-spacing: .1px;
            font-size: 18px;

            &:last-child a:after {
                display: none;
            }
        }

        li.active {
            //color: $brandSuccess;
        }

        a {
            display: inline-block;
            text-decoration: none;
            margin-right: 5px;
            font-size: inherit;
            line-height: 1;
            color: inherit;
            font-family: inherit;
            font-weight: lighter;

            &:after {
                content: '/';
                display: inline-block;
                margin-left: 5px;
                //background: rgba(51, 53, 56, 0.15);
            }

            &:hover {
                text-decoration: underline;
            }
        }

        span {
            display: inline-block;
            text-decoration: none;
            margin-right: 5px;
            font-size: inherit;
            line-height: 1;
            color: inherit;
            font-family: inherit;
            font-weight: lighter;
        }
    }
}
