
.catalog-inner {
    margin: 47px 0 23px;

    &__wrap {
        display: flex;
        flex-flow: column wrap;
        position: relative;
        justify-content: center;
        align-items: center;

        @media (min-width: 1080px) {
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;
        }

        .picture {
            background: no-repeat center top/cover;
            width: 100%;
            height: 500px;
            position: relative;
        }
    }

    &__slider {

        &.catalog {

            &-carousel {
                width: 100%;

                @media (min-width: 720px) {
                    width: 80%;
                }

                @media (min-width: 1080px) {
                    width: (800 / 1530) * 100%;
                }

                .catalog-carousel--big {
                    margin: 0 !important;
                    border: 0;
                    width: 100%;

                    .slick-slider {
                        background: $base;
                    }

                    .sl__slide {
                        position: relative;
                        width: 470px;
                        background: $base;
                        height: auto;

                        img {
                            margin: 0 auto;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }

        .catalog-carousel--small {
            margin: 0 auto;
            padding: 40px 0 30px;
            background: rgba(255, 255, 255, 0.8);

            @media (max-width: 480px) {
                width: 100%;
                padding: 40px 20px 30px;
            }

            &.slick-slider {
                .slick-list,
                .slick-track {
                    margin: 0 auto;
                }
            }

            .slick-current {

                img {
                    border-bottom: 5px solid $brandPrimary;
                    padding-bottom: 4px;
                }
            }

            .sl__slide {
                text-align: center;
                height: auto;

                img {
                    cursor: pointer;
                    max-width: 100px;
                    height: auto;
                    height: auto;
                    margin: 1px;


                    @media (max-width: 480px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__infoBlock {
        width: 100%;
        background: $base;

        @media (min-width: 720px) {
            width: 80%;
        }

        @media (min-width: 1080px) {
            width: (730 / 1530) * 100%;
            padding-left: 40px;
        }

        &__header {
            margin: 0 15px 16px;

            @media (min-width: 480px) {
                margin: 0 0 16px 0;
            }

            h1 {
                font-family: $fontFamilyBase;
                font-size: 48px;
                color: $grayDark;
                margin: 0 0 8px;
                line-height: 1.15;
            }

            .price {
                font-family: $fontFamilyGilroy_Bd;
                font-size: 24px;
                color: $brandSuccess;

                span {
                    padding-left: 6px;
                }
            }
        }

        &__size {
            position: relative;

            li {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                color: $grayDark;
                font-size: 18px;
                margin: 0 0 10px;
                font-family: $fontFamilyGilroy_SmBd;
                position: relative;

                span {
                    position: relative;
                    //display: inline-block;
                }

                span:first-child {
                    flex-shrink: 0;
                }

                span:nth-child(2) {
                    flex-grow: 1;

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        border: .5px dashed #EBEBEC;
                        width: 98%;
                        bottom: 8px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                span:last-child {
                    flex-shrink: 0;
                }
            }
        }

        &__text {
            padding-top: 3px;
        }
    }
}
