.contact {
    position: relative;

    &__main {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin-bottom: 41px;
    }

    &__info {
        width: 100%;
        padding-bottom: 40px;
    }

    &__number-phone {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        ul {

            &:nth-child(1) {
                width: auto;
            }

            &:nth-child(2) {
                width: auto;
                margin-top: 50px;
            }

            li {

                a,
                p {
                    font-family: $fontFamilyGilroy_SmBd;
                    line-height: 1;
                    color: $grayDark;
                    position: relative;
                    text-decoration: none;
                    padding-left: 25px;
                    margin-bottom: 22px;
                    display: block;
                    margin-top: 4px;

                    &:hover:not(p) {
                        text-decoration: underline;
                    }

                    &:not(p:hover) {
                        text-decoration: none;
                    }
                }

                a.phone {
                    &:before {
                        content: '';
                        background: url(../images/container/phone.png) no-repeat;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: 0;
                        display: block;
                        top: 0;
                    }
                }

                a.fax {

                    &:before {
                        content: '';
                        background: url(../images/container/fax.png) no-repeat;
                        width: 20px;
                        height: 19px;
                        position: absolute;
                        left: -1px;
                        display: block;
                        top: -2px;
                    }
                }

                a.mail {
                    margin: 36px 0 0;

                    &:before {
                        content: '';
                        background: url(../images/container/mail.png) no-repeat;
                        width: 18px;
                        height: 13px;
                        position: absolute;
                        left: 0;
                        display: block;
                        top: 4px;
                    }
                }

                p.address {
                    &:before {
                        content: '';
                        background: url(../images/container/address.png) no-repeat;
                        width: 15px;
                        height: 20px;
                        position: absolute;
                        left: 0;
                        display: block;
                        top: 0;
                    }
                }

                i {
                    font-family: $fontFamilyBase;
                    font-weight: 500;
                    color: $grayDark;
                    font-style: normal;
                    padding-left: 24px;
                }
            }
        }
    }

    &Form {
        position: relative;
        margin: 51px 0 0;
        background: rgba(51, 53, 56, 0.05);
        padding: 27px 20px;
        width: 100%;

        &__main {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
        }

        &__container {
            width: 100%;

            .help-block {
                // position: absolute;
                // bottom: 0;
                // left: 0;
                // width: 100%;
                // height: 100%;
                // border: 1px solid $brandSuccess;
                // background: $base;
                // display: none;
                // line-height: 42px;
                color: $brandSuccess;
                // padding-left: 18px;
                // border-radius: 5px;
                display: none;

                &__close {
                    position: absolute;
                    right: 15px;
                    //top: 50%;
                    //transform: translateY(-50%);
                    width: 12px;
                    height: 12px;
                    //background: url(../images/container/error_form.png) no-repeat;
                    top: 50%;
                    transform: translateY(-50%);
                    display: none;
                    z-index: 1;

                    &:before {
                        position: absolute;
                        right: 0;
                        left: 0;
                        display: block;
                        height: 3px;
                        content: '';
                        background: $brandDanger;
                        top: 4px;
                        transform: rotate(135deg);
                        z-index: 1;
                    }

                    &:after {
                        position: absolute;
                        right: 0;
                        left: 0;
                        display: block;
                        height: 3px;
                        content: '';
                        background: $brandDanger;
                        top: 4px;
                        transform: rotate(-135deg);
                        z-index: 1;
                    }
                }
            }
        }

        &__textarea {
            width: 100%;

            .control-label {
                margin-top: 15px;
            }
        }

        &__button {
            cursor: pointer;
            border: 1px solid #EC2552;
            font-family: $fontFamilyGilroy_Bd;
            transition: all 1s ease;
            background: #EC2552;
            border-radius: 29px;
            color: $base;
            padding: 17px 36px 17px;
            font-size: 16px;

            &:hover {
                background: $base;
                color: #EC2552;
            }
        }

        &__title {
            font-size: 24px;
            font-family: $fontFamilyBase;
            color: $grayDark;
            margin: 0 0 3px;
        }

        &__text {
            font-family: $fontFamilyBase;
            font-size: 16px;
            color: $grayDark;
            margin-bottom: 42px;
        }

        &__next {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            align-items: center;
            margin-top: 0;

            .form {
                &-group {

                    &.has-error {

                        &:after {
                            content: '';
                            display: none !important;
                        }

                        .help-block__close {
                            display: none;
                        }

                        .contactForm__checkbox-checker {
                            border: 2px solid rgba(255, 0, 62, 0.15);
                        }

                        .contactForm__checkbox-link {
                            color: $brandDanger;
                        }
                    }
                }
            }
        }

        .form-group {
            .contactForm__checkbox {
                position: relative;
                display: inline-block;
                margin: 15px 0 30px;
                padding: 0 0 0 42px;
                width: 100%;
                line-height: 1;

                &-input {
                    position: absolute !important;
                    left: 0;
                    opacity: 0;
                    outline: none;

                    &:checked + .contactForm__checkbox-checker {
                        box-shadow: none;

                        &:before {
                            opacity: 1;
                        }
                    }
                }

                &-checker {
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    border: 2px solid rgba(51, 53, 56, 0.15);
                    border-radius: 2px;
                    background: $base;

                    &:before {
                        position: absolute;
                        top: 4px;
                        left: 3px;
                        opacity: 0;
                        width: 18px;
                        height: 14px;
                        content: '';
                        background: $base;
                        background: url('../images/container/checker-avtr.png') no-repeat;
                        transition: opacity 0.2s ease-out;
                    }
                }

                &-link {
                    font-family: $fontFamilyBase;
                    font-weight: 500;
                    line-height: 1;
                    font-size: 14px;
                    color: $grayBase;
                    position: relative;
                    text-decoration: none;
                }
            }
        }

        .form {
            &-group {
                position: relative;
                margin-bottom: 9px;

                &:last-child {
                    margin-bottom: 9px;
                }

                &.has-error {

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid $brandSuccess;
                        background: $base;
                        line-height: 42px;
                        color: $brandSuccess;
                        border-radius: 5px;
                    }

                    .help-block__close {
                        display: block;
                    }
                }
            }

            &-control {
                font-size: 16px;
                font-family: $fontFamilyBase;
                color: rgba(51, 53, 56, 0.5);
                font-weight: 500;
                line-height: 28px;
                font-size: 14px;
                background: $base;
                border-radius: 5px;
                border: 0;
                padding: 16px 5px 12px 17px;
                outline: 0;
                width: 100%;

                &:focus {
                    &::placeholder {
                        opacity: 0;
                    }
                }
            }
        }

        textarea {
            &.form {
                &-control {
                    //height: 120px;
                    width: 100%;
                    resize: none;
                    padding: 16px 16px 10px;
                    margin: 0;
                    height: 120px;
                }
            }
        }
    }

    &__map {
        width: 100%;
        //height: 100%;
        display: block;
        padding-bottom: 40px;

        iframe {
            width: 100%;
            height: 480px;
            border: 0;
        }
    }
}

@media (min-width: 480px) {

    .contact {

        &__number-phone {
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;

            ul {

                &:nth-child(1) {
                    width: (246 / 525) * 100%;
                }
                &:nth-child(2) {
                    width: (279 / 525) * 100%;
                    margin: 0;
                }
            }
        }

        &Form {
            &__container {
                width: (173 / 485) * 100%;
            }

            &__textarea {
                width: (300 / 485) * 100%;
            }

            .form-group:last-child {
                margin-bottom: 0;
            }

            &__checkbox {
                //width: 50%;
                //margin: 15px 0 6px;
            }

            &__next {
                margin-top: 32px;
                justify-content: space-between;

                .form-group {
                    width: 49%;
                    margin: 15px 0 6px;
                }
            }
        }
    }
}


@media (min-width: 720px) {

    .contact {

        &__info {
            width: 700px;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1080px) {

    .contact {

        &__main {
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: 41px;
        }

        &__info {
            width: (525 / 1530) * 100%;
        }


        &__map {
            width: (965 / 1530) * 100%;

            iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }
}
