.feedbackForm {
    position: relative;
    margin: 0 0 64px;
    background: rgba(51, 53, 56, 0.05);
    padding: 18px 20px;

    &__main {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    &__container {
        width: (216 / 770) * 100%;

        .help-block {
            // position: absolute;
            // bottom: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            // border: 1px solid $brandSuccess;
            // background: $base;
            // display: none;
            // line-height: 42px;
            color: $brandSuccess;
            // padding-left: 18px;
            // border-radius: 5px;

            &__close {
                position: absolute;
                right: 15px;
                //top: 50%;
                //transform: translateY(-50%);
                width: 12px;
                height: 12px;
                //background: url(../images/container/error_form.png) no-repeat;
                top: 50%;
                transform: translateY(-50%);
                display: none;
                z-index: 1;

                &:before {
                    position: absolute;
                    right: 0;
                    left: 0;
                    display: block;
                    height: 3px;
                    content: '';
                    background: $brandDanger;
                    top: 4px;
                    transform: rotate(135deg);
                    z-index: 1;
                }

                &:after {
                    position: absolute;
                    right: 0;
                    left: 0;
                    display: block;
                    height: 3px;
                    content: '';
                    background: $brandDanger;
                    top: 4px;
                    transform: rotate(-135deg);
                    z-index: 1;
                }
            }
        }
    }

    &__textarea {
        width: (544 / 770) * 100%;

        .control-label {
            margin-top: 15px;
        }
    }

    &__button {
        cursor: pointer;
        border: 1px solid #EC2552;
        font-family: $fontFamilyGilroy_Bd;
        transition: all 1s ease;
        background: #EC2552;
        border-radius: 29px;
        color: $base;
        padding: 17px 26px 17px;
        font-size: 16px;

        &:hover {
            background: $base;
            color: #EC2552;
        }
    }

    &__title {
        font-size: 24px;
        font-family: $fontFamilyBase;
        color: $grayDark;
        margin-bottom: 16px;
    }

    &__next {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin-top: 12px;
    }

    .form {
        &-group {
            position: relative;
            margin-bottom: 9px;

            &:nth-child(2) {
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.has-error {

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $brandSuccess;
                    background: $base;
                    line-height: 42px;
                    color: $brandSuccess;
                    border-radius: 5px;
                }

                .help-block__close {
                    display: block;
                }
            }
        }

        &-control {
            font-size: 16px;
            font-family: $fontFamilyBase;
            color: rgba(51, 53, 56, 0.5);
            font-weight: 500;
            line-height: 28px;
            font-size: 14px;
            background: $base;
            border-radius: 5px;
            border: 0;
            padding: 14px 17px;
            outline: 0;
            width: 100%;

            &:focus {
                &::placeholder {
                    opacity: 0;
                }
            }
        }
    }

    textarea {
        &.form {
            &-control {
                //height: 120px;
                width: 100%;
                resize: none;
                padding: 16px 10px 10px;
                margin: 0;
                height: 120px;
            }
        }
    }
}
