.pagin {
    margin: 0 auto 72px;
    position: relative;
    display: flex;
    justify-content: center;
    //padding-top: 3px;

    &__wrapper {
        //padding: 13px;
        //background-color: #F7F7F7;
    }

    ul.pagination {
        list-style: none;
        background-color: #FFF;
        //box-shadow: 0px 1px 12.74px 0.26px rgba(0, 0, 0, 0.1);
        margin: 0;

        /*
        li.disabled  {
            background-color: transparent;

            &:hover {
                background-color: transparent;

                a:before {
                    background-position: 0 -12px;
                }
            }

            span {

                &:before {
                    content: '';
                    cursor: default;
                    background:transparent url('../images/content/icon/pagination-arrow.png') 0 0 no-repeat;
                    width: 12px;
                    height: 22px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    position: absolute;
                }
            }
        } */

        li.prev {
            background-color: transparent;
            //border: 1px solid #e8e8e8;
            width: 14px;

            a:before {
                content: '';
                background:transparent url('../images/container/feed-arrow-prev.png') no-repeat;
                width: 8px;
                height: 16px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                position: absolute;
            }

            &.disabled  {
                //background-color: $brandSuccess;

                &:hover {
                    //background-color: transparent;

                    a:before {
                        background-position: 0 0;
                    }
                }

                span {

                    &:before {
                        content: '';
                        cursor: default;
                        background:transparent url('../images/container/feed-arrow-prev.png') no-repeat;
                        width: 8px;
                        height: 16px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: block;
                        position: absolute;
                    }
                }
            }
        }

        li.next {
            background-color: transparent;
            //border: 1px solid #e8e8e8;
            width: 14px;

            a:before {
                content: '';
                background:transparent url('../images/container/feed-arrow-next.png') no-repeat;
                width: 8px;
                height: 16px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                position: absolute;
            }

            &.disabled  {
                //background-color: $brandSuccess;

                &:hover {
                    //background-color: transparent;

                    a:before {
                        background:transparent url('../images/container/feed-arrow-next.png') no-repeat;
                    }
                }

                span {

                    &:before {
                        content: '';
                        cursor: default;
                        background:transparent url('../images/container/feed-arrow-next.png') no-repeat;
                        width: 8px;
                        height: 16px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: block;
                        position: absolute;
                    }
                }
            }
        }

        li.active{
            //background-color: $brandSuccess;
            //border: 1px solid $brandSuccess;

            a  {
                font-family: $fontFamilyBase;
                font-weight: 500;
                line-height: 24px;
                font-size: 36px;
                color: $grayDark;
            }
        }

        li {
            display: inline-block;
            //background-color: #F7F7F7;
            //border: 1px solid #e8e8e8;
            //margin: 0 8px 0 7px;
            position: relative;
            width: 40px;
            height: 31px;

            &:hover {
                //background-color: $brandSuccess;
            }

            a {
                font-family: $fontFamilyBase;
                color: $gray;
                text-align: center;
                vertical-align: middle;
                text-decoration: none;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                display: table-cell;
                font-weight: 500;
                line-height: 24px;
                font-size: 24px;

                color: $grayDark;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
