.rating4 {
    position: relative;
}

.rating {
    display: inline-block;
    margin-left: 18px;
}

.rating__title {
    font-family: $fontFamilyBase;
    font-weight: 500;
    line-height: 18px;
    color: $grayDark;
    margin: 9px 0 10px;
}

.rating__list {
    padding: 0;
    list-style: none;
    margin-left: 2px;
}

.rating__list .rating__item {
    float: left;
    cursor: pointer;
    width: 16px;
    height: 16px;
    //border: 1px solid silver;
    margin-right: 7px;
    position: relative;
    background: url('../images/container/starb.png') 0 0 no-repeat;
    text-align: center;

    &:last-child {
        margin: 0;
    }
}

.rating__list .rating__full {
    background: url('../images/container/star.png') 0 0 no-repeat;
    width: 16px;
    height: 16px;
}
