.shipment,
.shipment-filter {
    //margin-bottom: 20px;

    @media (min-width: 1200px) {
        //margin-bottom: 60px;
        //margin-bottom: 20px;
    }

    &__filter {
        position: relative;
    }

    &__wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 24px;

        @media (min-width: 720px) {
            justify-content: space-between;
            border: 0;
        }

        @media (min-width: 1080px) {
            flex-flow: row nowrap;
        }
    }

    &__item {
        //flex-shrink: 0;
        //margin-top: 24px;
        //width: (100 / 3) * 1%;

        @media (min-width:840px) and (max-width: 1080px) {
            width: 50%;
        }
    }

    &__header {
        margin-bottom: 15px;
    }

    &__title {

        font-family: $fontFamilyGilroy_SmBd;
        font-size: 24px;
        color: $grayDark;
    }

}

.shipment-filter {
    margin: 0;
    display: none;

    &.active {
        display: block;
    }

    @media (max-width: 719px) {
        display: block !important;
    }

    &__filter {
        position: relative;

        @media (max-width: 1023px) {
            &:after {
                content: '';
                border-right: 3px solid $brandPrimary;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                //height: 180%;
                bottom: -100px;
                bottom: 0;
            }
        }
    }

    &__item {
        flex-shrink: 0;
        margin-top: 15px;

        &:first-child {
            margin-top: 40px;
        }
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        flex-flow: column wrap;
        align-items: center;
    }

    &__text {
        margin: 0 0 5px 0;
        white-space: nowrap;
        font-size: 14px;
        font-family: $fontFamilyBase;
        color: $grayLight;
    }

    &__icon {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 240px;

        .image {
            padding: 7px;
        }
    }
}

.shipment__filter {
    display: none;

    @media(min-width: 720px){
        display: block;

    }
}

.shipment-filter__wrap {
    margin-left: 25px;
}
