.aboutCompany,
.catalog-attractions,
.catalog-cabs,
.catalog-terrace,
.feedback,
.catalog-cover,
.catalog-comPools,
.catalog-furnaces,
.catalog-pools,
.catalog-careForwater,
.catalog-stations,
.contacts {

    &__title {
        margin: 30px 0 33px;

        //768px
        @media (min-width: $screenSmMin) {
            margin: 0 0 33px;
        }

        h1 {
            font-family: $fontFamilyBase;
            font-size: 36px;
            color: $grayDark;
            margin: 0;
            line-height: 1;
        }
    }
}


