//- DROP
//------------------------------------------------

$primaryMenuDrop__baseFontSize:             $fontSizeBase !default;

$primaryMenuDrop__borderColor:              $borderColor !default;
$primaryMenuDrop__backgroundColor:          $base !default;

$primaryMenuDrop__subdropBorderColor:       $borderColor !default;
$primaryMenuDrop__subdropBackgroundColor:   $brandInfo !default;
$primaryMenuDrop__subdropShadowColor:       transparentize($grayBase, .8) !default;

$primaryMenuDrop__linkTextColor--active:    $brandPrimary !default;
