//- DROP
//------------------------------------------------

-
    primaryMenuDrop = [
        {
            image: 'xiomi',
            title: 'Продукция XIAOMI',
            drop: true
        },
        {
            image: 'mobilePhone',
            title: 'Мобильные телефоны',
            drop: true
        },
        {
            image: 'protectedSmartphones',
            title: 'Защищенные смартфоны'
        },
        {
            image: 'tablets',
            title: 'Планшеты'
        },
        {
            image: 'accessories',
            title: 'Аксессуары'
        },
        {
            image: 'discountedGoods',
            title: 'Уцененный товар'
        },
        {
            image: 'appleStore',
            title: 'Apple Store'
        },
        {
            title: 'Игровые приставки'
        },
        {
            title: 'Спорт, отдых, туризм'
        },
        {
            title: 'Пневматическое оружие'
        }
    ]

    primaryMenuSubDrop = ['Популярные', 'Смартфоны', 'Мобильные телефоны', 'Мини-АТС', 'Стационарная телефония', 'Рации', 'Стартовые пакеты', 'Ваучеры']

    primaryMenuThirdDrop = [
        {
            title: 'Title',
            list: ['Наклейки для ноутбуков' ,'Наклейки на клавиатуру', 'Сетевые фильтры', 'Аксессуары к графическим планшетам', 'Замки', 'Внешние оптические приводы']
        },
        {
            title: 'Title',
            list: ['Картридеры', 'USB-Хабы', 'Сетевое оборудование', 'Микрофоны компьютерные', 'Автоадаптеры']
        },
        {
            title: 'Title',
            list: ['Сумки для ноутбуков', 'Мыши', 'Клавиатуры', 'Графические планшеты']
        },
        {
            title: 'Title',
            list: ['Наклейки для ноутбуков' ,'Наклейки на клавиатуру', 'Сетевые фильтры', 'Аксессуары к графическим планшетам', 'Замки', 'Внешние оптические приводы']
        },
        {
            title: 'Title',
            list: ['Картридеры', 'USB-Хабы', 'Сетевое оборудование']
        },
        {
            title: 'Title',
            list: ['Наклейки для ноутбуков' ,'Наклейки на клавиатуру', 'Сетевые фильтры', 'Аксессуары к графическим планшетам', 'Замки', 'Внешние оптические приводы']
        },
        {
            title: 'Title',
            list: ['Наклейки для ноутбуков' ,'Наклейки на клавиатуру', 'Сетевые фильтры', 'Аксессуары к графическим планшетам', 'Замки', 'Внешние оптические приводы']
        }
    ]
