include vars/_variable.pug

= '\n'
//= Description =
.description
    p Экран с диагональю в 5 дюймов и IPS-матрицей подарит массу незабываемых, ярких впечатлений. Совсем не важно, что именно на экране в данный момент – фильм, книга, игра или страница в веб-браузере. Изображение именно такое, каким должно быть – с высокой детализацией, насыщенными красками и умопомрачительной яркостью. Разрешение дисплея – HD (1280х720), а это значит, что вам гарантировано множество приятных часов и минут работы.
//= End description =
= '\n'
