= '\n'
//= Basket =
.basket
    .basket__wrapper
        a.basket__link(href='#')
            .basket__title Корзина
            .basket__price <span class="basket__number">265</span> грн
            .basket__count 3
        a.basket__order(href='#') Оформить заказ
//= End basket =
= '\n'
