-
    var deviceNavList = [
        {
            name: 'Грибы',
            class: 'mushrooms',
            active: true
        },
        {
            name: 'Овощи',
            class: 'vegetables'
        },
        {
            name: 'Зелень',
            class: 'greenery'
        },
        {
            name: 'Ягоды, фрукты',
            class: 'fruits'
        },
        {
            name: 'Сухофрукты',
            class: 'dried-fruits'
        },
        {
            name: 'Орехи',
            class: 'nuts'
        },
        {
            name: 'Бакалея',
            class: 'bakaleya'
        },
        {
            name: 'Сладости',
            class: 'sweet'
        },
        {
            name: 'Напитки',
            class: 'drink'
        },
        {
            name: 'Наборы',
            class: 'sets'
        }
    ]

= '\n'
//= Mobile menu =
.mobile-menu
    a.mobile-menu__button(href='javascript:void(0)')
        i.mobile-menu__button-line

    .mobile-menu__drop
        a.mobile-menu__close(href='#')

        .mobile-menu__search
            = '\n'
            +search()

        .mobile-menu__wrapper
            .mobile-menu__content
                +headerMenu()

                nav#nav__divice.navigation
                    +primaryMenu(deviceNavList)

                +phone()
                +headerSocnet()
//= End mobile menu =
= '\n'
