//= Logo =
//= Для неактивного логотипа необходимо заменить элемент "a" на "span" =
.logo(itemscope itemtype='http://schema.org/Organization')
    meta(itemprop='name' content='FreshMart')
    meta(itemtype= 'http://schema.org/PostalAddress')
    meta(itemprop='address' content='г. Киев, ул. Электротехническая 18')
    meta(itemprop='email' content='info@freshmart.com.ua')
    a.logo__link(href='#' itemprop='url')
        //-img(src='assets/images/header/logo.png' alt='logo' itemprop='logo image')
        img(src='assets/images/header/logo.svg' alt='logo' itemprop='logo image')
//= End logo =
= '\n'
