-
    var userbarNew = [
        {
            name: 'Вход',
        },
        {
            name: 'Регистрация',
        },
        {
            name: 'Личный кабинет',
        }
    ]
= '\n'
//= Userbar =
//- = (source/assets/css/layout/header/_userbar.scss) =
.userbarNew
    ul
        li.userbarNew__box
            a.userbarNew__link-people(href='#')

            .userbarNew__drop
                ul.userbarNew__list
                    each item in userbarNew
                        li.userbarNew__list-item
                            a.userbarNew__list-link(href='#')= item.name
        li.userbarNew__box
            a.userbarNew__link-percent(href='#')


//= End userbar =
= '\n'
