-
    var userBar = [
        {
            name: 'Вход',
            active: true
        },
        {
            name: 'Регистрация'
        }
    ]

= '\n'
//= Userbar =
.userbar
    each val in userBar
        if (val.active == true)
            a.userbar__link.userbar__link--active(href='#')= val.name
        else
            a.userbar__link(href='#')= val.name
//= End userbar =
= '\n'
