//- FOOTER
//------------------------------------------------

$footer__backgroundColor:   $grayDark !default;

$footer__titleTextFontSize: $fontSizeH4 !default;
$footer__titleTextColor:    $base !default;
$footer__titleBorderColor:  #4e4e4e !default;
