//- FOOTER
//------------------------------------------------

-
    menu1 = [
        {
            list: ['Продукция XIAOMI', 'Телефоны и Аксессуары', 'Автоэлектроника', 'Фото-видео техника', 'Компьютерная техника', 'ТВ, Аудио, Видео']
        },
        {
            list: ['Квадрокоптеры', 'Игровые приставки', 'Спорт, отдых, туризм', 'Пневматическое оружие', 'Часы']
        }
    ]

    menu2 = [
        {
            list: ['Гарантия и сервис', 'Доставка и оплата', 'Статьи', 'Контакты']
        }
    ]
