= '\n'
//= aboutcompany =
//- (source/assets/style/modules/_aboutcompany.scss)
//- (source/scss/module/_aboutcompany.scss)
.aboutcompany
    .aboutcompany__wrapper
        .aboutcompany__description
            .aboutcompany__block
                h2.aboutcompany__caption Про компанію
                .text
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            .aboutcompany__img
                //proportions and the maximum size of images 300x170
                img(src='data/aboutcompany/big.png' alt='')

        .aboutcompany__manufacture
            h2.aboutcompany__caption Виробництво
            .text
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .aboutcompany__picture
            .popup-gallery
                each item in magPopGallery
                    a(href='data/aboutcompany/'+ item.big +'.png' title='')
                        //proportions and the maximum size of images 300x170
                        img(src='data/aboutcompany/'+ item.small +'.png' alt='')

            a.aboutcompany__more(href='#') Більше

//= End aboutcompany =
= '\n'
