= '\n'
//= Cookies =

.cookies.--hide
    .container
        .cookies__wrapper
            p
                |Ми використовуємо файли cookies для оптимізації контенту та швидкості сайту. Продовжуючи використання сайту, ви погоджуєтесь на використання файлів cookies
            .cookies__link
                a.cookies__link-item(href='javascript:void(0);')
                    |детальніше
                a.cookies__link-item.submit(href='javascript:void(0);')
                    |ок
//= End cookies =
= '\n'