-
    var contactForm = [
        {
            placeholder: 'ПІБ*',
            error: false
        },
        {
            placeholder: 'Номер телефону*'
        }
    ]

= '\n'
//= dealer =
//- (source/assets/style/modules/_dealer.scss)
//- (source/scss/module/_dealer.scss)
.dealer
    .dealer__wrapper
        .dealer__fond

            form.dealerForm(method='')
                .dealerForm__title Для співпраці заповніть форму
                .dealerForm__main
                    each item in contactForm
                        if item.error
                            .form-group.has-error
                                input.form-control(type='text' placeholder= item.placeholder)
                        else
                            .form-group
                                input.form-control(type='text' placeholder= item.placeholder)

                    .form-group
                        textarea.form-control(placeholder='Повідомлення')

                    button.dealerForm__button(type='button') Надіслати

//= End dealer =
= '\n'
