= '\n'
//= index-services =
//- (source/assets/css/module/_index-services.scss)
.index-services
    .index-services__wrapper
        .index-services__inner
            each item in indexServices
                .index-services__info
                    .index-services__icon
                        +icon(`icon-${item.icon}`)
                    .index-services__block
                        .index-services__text= item.text

//= End index-services =
= '\n'
