= '\n'
//= index-slider =
//- (source/scss/module/_index-slider.scss)
.index-slider
    .index-slider__main#main_slider
        each val in indexSlider
            .index-slider__item
                //proportions and the maximum size of images 1920x620
                .index-slider__img(style='background-image: url(data/slider/' + val.img + '.jpg);')

        // each val in indexSlider
        //     .index-slider__item
        //         //proportions and the maximum size of images 1920x620
        //         .index-slider__img
        //             img(src='data/slider/' + val.img + '.png' alt='')

//= End index-slider =
= '\n'
