= '\n'
//= Logo =
//- (source/assets/style/modules/_logo.scss)
.logo

    if main
        img(src="images/logo.svg" alt="logo")

    else
        a.logo__link(href='index.html')
            img(src="images/logo.svg" alt="logo")

//= End logo =
= '\n'
