= '\n'
//= produce =
//- (source/assets/style/modules/_produce.scss)
//- (source/scss/module/_produce.scss)
.produce
    .produce__wrapper
        .produce__inner
            .produce__img
                //proportions and the maximum size of images 470x340
                img(src='data/produce/1.png' alt="")

            .produce__info
                .produce__heading
                    h2.produce__title Ковбаса варена «ЛІКАРСЬКА»
                    .produce__properties вищого ґатунку

                .produce__consistency
                    .produce__consist
                        span Склад
                    .produce__text
                        p Вид оболонки - синюга яловича
                        p Ø 115-130 мм
                        p Маса нетто від 500 г до 1,5 кг

                .produce__value
                    .produce__nutritional Харчова цінність: 100 г
                    ul
                        li
                            span Білки:
                            i ≥ 13 г
                        li
                            span Жири:
                            i ≤ 22 г
                        li
                            span Калорійність:
                            i 250 ккал

//= End produce =
= '\n'
