= '\n'
//= product =
//- (source/assets/style/modules/_products.scss)
//- (source/scss/module/_products.scss)
.products
    .products__wrapper
        .products__fond
            .products__inner
                each item in Products
                    .products__item
                        a.products__info(href='produce.html')
                            //proportions and the maximum size of images 310x220
                            img(src='data/products/'+ item.img +'.png' alt="logo")
                            .products__text= item.text
                            .products__button Детальніше
            a.products__more(href='#') Більше
//= End product =
= '\n'
