= '\n'
//= representatives =
//- (source/assets/style/modules/_representatives.scss)
//- (source/scss/module/_representatives.scss)

.representatives
    .representatives__img
        img(src='images/map.png' alt="map")
//= End representatives =
= '\n'
