= '\n'
//= Info =

.info
    a.info__close(href='javascript:void(0);')
    .info__glossary
        .info__glossary-title Диагональ экрана
        .info__glossary-description  Дисплеи с диагональю до 4 дюймов используются в недорогих бюджетных моделях. В силу небольших габаритов и доступной стоимости такие смартфоны отлично подходят на роль первого мобильного телефона для детей школьного возраста. Дисплеи с диагональю 4,1-4,5 дюйма устанавливаются в современных компактных моделях, ориентированных на пользователей, предпочитающих именно такой формат. Диапазон диагоналей 4,5-5 дюймов является наиболее популярным на сегодняшний день, так как такие смартфоны все еще достаточны удобны для использования одной рукой, и в то же время обеспечивают комфортное считывание информации. Модели с диагональю экрана 5,1-5,5 дюйма рассчитаны на пользователей с высокими запросами к полезной площади экрана. Это могут быть пользователи, которые используют свой смартфон в качестве автомобильного навигатора, в качестве бизнес-инструмента для работы с офисными документами, а также в роли видеоплеера или мобильного устройства для серфинга в Интернете. Самые крупные смартфоны с диагональю экрана от 5,5 дюйма и выше принято называть «фаблетами» (phablets), что подразумевает объединение в одном устройстве характеристик телефонов и планшетов (phones + tablets). Фаблеты призваны заменить пользователю сразу два устройства – смартфон и планшет, так что удобство удержания и транспортировки такого устройства отступает на задний план по сравнению с размером дисплея. 
        a(href='javascript:void(0);') Смотреть весь словарь терминов 

//= End info =
= '\n'
