/* Montserrat */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/regular/montserrat.woff2') format('woff2'),
    url('../fonts/montserrat/regular/montserrat.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/bold/montserrat.woff2') format('woff2'),
        url('../fonts/montserrat/bold/montserrat.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/medium/montserrat.woff2') format('woff2'),
        url('../fonts/montserrat/medium/montserrat.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

/* Oswald */

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald/regular/oswald.woff2') format('woff2'),
    url('../fonts/oswald/regular/oswald.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald/medium/oswald.woff2') format('woff2'),
        url('../fonts/oswald/medium/oswald.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald/semibold/oswald.woff2') format('woff2'),
        url('../fonts/oswald/semibold/oswald.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald/bold/oswald.woff2') format('woff2'),
        url('../fonts/oswald/bold/oswald.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}