//- PRIMARY MENU
//------------------------------------------------

$primaryMenu__baseFontSize:                     $fontSizeBase !default;

$primaryMenu__buttonBackgroundColor:            $brandSecondary !default;
$primaryMenu__buttonBackgroundColor--active:    $brandPrimary !default;
