//- CONTACTS
//------------------------------------------------

$contacts__textFontSize:    $fontSizeSmall !default;
$contacts__textColor:       $gray !default;

$contacts__titleTextColor:  #f569b6 !default;
