= '\n'
//= callback =
//- (source/assets/css/layout/header/_callback.scss)
.callback
    a(href='tel:0505055050') (050) 505-50-50
    a.callback__call(href='#') Зворотній дзвінок
//= End callback =
= '\n'
