= '\n'
//= Mobile menu =
- mobile = true
.mobile-menu
    a.mobile-menu__button(href='javascript:void(0)')
        i.mobile-menu__button-line

    .mobile-menu__drop
        a.mobile-menu__close(href='#')

        .mobile-menu__wrapper
            .mobile-menu__content
                include _search.pug
                include _catalog.pug
                include _personal-office.pug
                include _callback.pug
                - mobile = true
                include _top-menu.pug
//= End mobile menu =
= '\n'
