//- PRIMARY MENU
//------------------------------------------------

$primaryMenu__linkFontSize:             $fontSizeH2 !default;
$primaryMenu__linkColor:                $base !default;

$primaryMenu__sublinkFontSize:          $fontSizeH2 !default;
$primaryMenu__sublinkColor:             $base !default;
$primaryMenu__sublinkColor--active:     $linkColor--active !default;

$primaryMenu__shopBgColor:              #f72498 !default;
$primaryMenu__shopMaskBgColor:          transparentize($primaryMenu__shopBgColor, .45) !default;

$primaryMenu__foodBgColor:              #b14191 !default;
$primaryMenu__foodMaskBgColor:          transparentize($primaryMenu__foodBgColor, .45) !default;

$primaryMenu__serviceBgColor:           #ed6939 !default;
$primaryMenu__serviceMaskBgColor:       transparentize($primaryMenu__serviceBgColor, .45) !default;

$primaryMenu__entertainmentBgColor:     #f7a600 !default;
$primaryMenu__entertainmentMaskBgColor: transparentize($primaryMenu__entertainmentBgColor, .45) !default;
