include vars/_variable.pug

= '\n'
//= Modal =
if (modal == 'cart')
    #cart.mfp-hide.modal.modal--cart

        = '\n'
        //= Section =
        section.section
            .section__top
                .row
                    .section__container.section__container--left
                        h1.section__title Корзина

                    .section__container.section__container--content

                        = '\n'
                        //= Cart =
                        .cart
                            a.cart__clear(href='javascript:void(0);') Очистить корзину
                        //= End cart =
                        = '\n'

            include ../../module/cart/_cart.pug

        //= End section =
        = '\n'

        //= Section =
        section.section.hide-sm-max

            - togetherCheaperLarge = true

            .section__top
                h2.section__subtitle Вместе дешевле

            include ../../module/togetherCheaper/_togetherCheaper.pug

        //= End section =
        = '\n'

        //= Section =
        section.section.hide-sm-max

            -
                catalog = catalogAccessories

                cartAccessoriesOwlCarouselInit = true

            .section__top
                h2.section__subtitle Аксессуары

            = '\n'
            //= Catalog =
            .catalog.catalog--product
                .row
                    #cartAccessories__owlCarousel.owl-carousel

                        - for (i = 0; i < 2; i++)

                            each val in catalog

                                = '\n'
                                //= Item =
                                .catalog__item
                                    .catalog__itemInner
                                        .catalog__itemImage
                                            a.catalog__itemImageLink(href='#')
                                                img(src='data/catalog/' + val.image + '.jpg' alt= val.title)

                                        .catalog__itemContent
                                            .catalog__itemTitle
                                                a.catalog__itemTitleLink(href='#')= val.title

                                            .catalog__itemSection
                                                .catalog__itemContainer.catalog__itemContainer--left
                                                    if ('priceOld' in val)
                                                        .catalog__itemPriceOld= val.priceOld

                                                    .catalog__itemPrice= val.price

                                                .catalog__itemContainer.catalog__itemContainer--right
                                                    button.button.button--buy
                                                        span.button__text В корзину
                                //= End item =

                        = '\n'

            //= End catalog =
            = '\n'

        //= End section =
        = '\n'

//= End modal =
