@import 'vars/_variable.scss';

.select {
    line-height: (10px / $select__baseFontSize);

    &-button {
        overflow: hidden;
        padding: 10px 30px 10px 10px;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $select__textColor;
        border: 1px solid $select__borderColor;
        border-radius: 6px;
        background: $select__backgroundColor;

        &:before {
            position: absolute;
            top: 50%;
            right: 10px;
            display: block;
            width: 15px;
            height: 8px;
            margin: -4px 0 0;
            content: '';
            background: url('../images/content/icon/arrow.png') no-repeat;
        }

        &:hover {
            color: inherit;
        }
    }

    &-drop {
        margin-top: 10px;
        border: 1px solid $select__borderColor;
        border-radius: 6px;
        background: $select__backgroundColor;
    }

    &-list {
        padding: 0 10px;
    }

    &-item {
        padding: 10px 0;
        color: $select__textColor;
        border-bottom: 1px solid $select__borderColor;

        &:hover,
        &.active {
            color: inherit;
        }

        &.image {
            line-height: (40px / $select__baseFontSize);
            padding-right: 50px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &-image {
        font-size: 0;
        position: absolute;
        top: 10px;
        right: 0;
        bottom: 10px;
        width: 40px;
        text-align: center;

        &:before {
            position: relative;
            display: inline-block;
            width: 0;
            height: 100%;
            content: '';
            vertical-align: middle;
        }

        img {
            font-size: $select__baseFontSize;
            max-height: 100%;
        }
    }
}
