
-
    var cityButton = ['Да', 'Нет']


= '\n'
//= city =
//-=(/layout/header/city/_city.scss)=
if (deviceFlag)
    - var addClass = ''
else
    - var addClass = 'hide-sm-max'


.city(class= addClass)
    .box Ваш город:
        br
        a.elem(href='#form-popup')
            span.name Ивано-Франковск

    if (!deviceFlag)
        .confirm(style='display: block') Правильно ли мы определили ваш город —
            strong Ивано-Франковск
            | ?
            br
            .block-center
                each val in cityButton
                    a.button.button-default(href='#')
                        span.button-text= val
//= End city =
= '\n'

//-source/assets/css/module/_ownbox.scss

<div id="form-popup" class="form form-city mfp-hide">
  <div class="header">
    <div class="title"><span class="vertical">Выберите свой город</span></div>
    <a href="#" class="close"></a>
  </div><!-- end .header -->

  <div class="content">
    <div class="text">Бесплатная доставка по всей Украине</div>

    <div class="field">
      <div class="name">Введите Ваш населенный пункт</div>
      <input type="text" class="input-text">

      <ul class="drop">
        <li class="item">
          <a href="#" class="link">123</a>
        </li>

        <li class="item">
          <a href="#" class="link">456</a>
        </li>

        <li class="item">
          <a href="#" class="link">789</a>
        </li>

        <li class="item">
          <a href="#" class="link">234</a>
        </li>

        <li class="item">
          <a href="#" class="link">567</a>
        </li>

        <li class="item">
          <a href="#" class="link">912</a>
        </li>

        <li class="item">
          <a href="#" class="link">912</a>
        </li>

        <li class="item">
          <a href="#" class="link">345</a>
        </li>
      </ul>

      <div class="note">Например: <a href="#" class="link">Подгорцы</a></div>
    </div><!-- end .field -->

    <div class="row">
      <ul class="list">
        <li class="item">
          <a href="#" class="link">АР Крым</a>
        </li>

        <li class="item">
          <a href="#" class="link">Винница</a>
        </li>

        <li class="item">
          <a href="#" class="link"><strong>Днепропетровск</strong></a>
        </li>

        <li class="item">
          <a href="#" class="link">Донецк</a>
        </li>

        <li class="item">
          <a href="#" class="link"><strong>Житомир</strong></a>
        </li>


        <li class="item">
          <a href="#" class="link">Запорожье</a>
        </li>

        <li class="item">
          <a href="#" class="link">Ивано-Франковск</a>
        </li>

        <li class="item">
          <a href="#" class="link">Киев</a>
        </li>

        <li class="item">
          <a href="#" class="link">Кировоград</a>
        </li>
      </ul>

      <ul class="list">
        <li class="item">
          <a href="#" class="link">Луганск</a>
        </li>

        <li class="item">
          <a href="#" class="link"><strong>Луцк</strong></a>
        </li>

        <li class="item">
          <a href="#" class="link"><strong>Львов</strong></a>
        </li>

        <li class="item">
          <a href="#" class="link">Николаев</a>
        </li>

        <li class="item">
          <a href="#" class="link"><strong>Одесса</strong></a>
        </li>

        <li class="item">
          <a href="#" class="link">Полтава</a>
        </li>

        <li class="item">
          <a href="#" class="link"><strong>Ровно</strong></a>
        </li>

        <li class="item">
          <a href="#" class="link">Сумы</a>
        </li>

        <li class="item">
          <a href="#" class="link">Тернополь</a>
        </li>
      </ul>

      <ul class="list">
        <li class="item">
          <a href="#" class="link">Ужгород</a>
        </li>

        <li class="item">
          <a href="#" class="link"><strong>Харьков</strong></a>
        </li>

        <li class="item">
          <a href="#" class="link">Херсон</a>
        </li>

        <li class="item">
          <a href="#" class="link">Хмельницк</a>
        </li>

        <li class="item">
          <a href="#" class="link">Черкассы</a>
        </li>

        <li class="item">
          <a href="#" class="link">Чернигов</a>
        </li>

        <li class="item">
          <a href="#" class="link">Черновец</a>
        </li>
      </ul>
    </div><!-- end .row -->

    <div class="info">Выбор города предоставит актуальную информацию о наличии товара, его цены и способов доставки в вашем городе! Это поможет сохранить больше свободного времени для вас!</div>
  </div><!-- end .content -->
</div><!-- end .ownbox-content -->
