//- ION RANGE SLIDER
//------------------------------------------------

$ionRangeSlider__lineBackgroundColor:   #dfdfdf !default;

$ionRangeSlider__barBackgroundColor:    $brandPrimary !default;

$ionRangeSlider__sliderBorderColor:     $brandPrimary !default;
$ionRangeSlider__sliderBackgroundColor: $base !default;
