//- TAB
//------------------------------------------------

$tab__baseFontSize:             $fontSizeBase !default;

$tab__menuTextFontSize:         $fontSizeH6 !default;
$tab__menuTextColor:            $grayExtraLight !default;
$tab__menuTextColor2:           $grayExtraLight !default;
$tab__menuBorderColor:          $borderColor !default;
$tab__menuBorderColor--active:  $brandPrimary !default;
$tab__menuBackgroundColor:      $brandInfo !default;

$tab__contentBackgroundColor:   $base !default;
$tab__contentBackTextColor:     #51d256 !default;
$tab__contentBorderColor:     	#DBDBDB !default;
$tab__itemBorderColor:     		#FDBF00 !default;
