include vars/_variable.pug

= '\n'
//= Details =
.details.hide-sm-max
    .row
        .details__container
            .details__section

                include module/characteristics/_characteristics.pug

            .row
                .details__description
                    .details__section
                        .details__sectionTop
                            h3.details__sectionTitle Описание

                        include module/description/_description.pug

                .details__video
                    .details__section

                        include module/video/_video.pug

        .details__container
            .details__section
                - modifier = (mainReview) ? 'review' : ''
                .details__sectionTop(class= modifier)
                    h3.details__sectionTitle Отзывы покупателей
                    span Написать отзыв

                include module/reviews/_reviews.pug
 

    .details__section
        .details__sectionTop
            h3.details__sectionTitle Фото

        include module/photo/_photo.pug

    .details__section

        include module/presentation/_presentation.pug

//= End details =
= '\n'
