@import 'vars/_variable.scss';

.details {
    position: relative;

    &__container {
        position: relative;
        padding: 0 15px;
        height: auto;

        &Inner {
            position: relative;
            float: left;
            width: 100%;
        }
    }

    &__description {
        position: relative;
        padding: 0 15px;
    }

    &__video {
        position: relative;
        padding: 0 15px;
    }

    &__section {
        position: relative;
        margin: 30px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &Top {
            position: relative;
            margin: 0 0 3px;

            &Container {
                position: relative;
                padding: 0 15px;

                &--left {
                    float: left;
                }

                &--right {
                    float: right;
                }
            }

            &.review {
                display: flex;
                align-items: center;

                span {
                    color: inherit;
                    border-radius: 4px;
                    width: 180px;
                    font-size: 15px;
                    padding: 6px;
                    margin: -4px 0 0 42px;
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    background-color: #fdcd39;
                }
            }
        }

        &Title {
            font-size: $details__titleTextFontSize;
            font-weight: 700;
            line-height: 1;
            position: relative;
            top: -4px;
            margin: 0;
        }

        &--scrollmagic {
            height: 100%;
            margin: 0;
        }
    }

    .sort {
        margin-top: 1px;
    }

    @import 'module/characteristics/_characteristics.scss';
    @import 'module/description/_description.scss';
    @import 'module/photo/_photo.scss';
    @import 'module/presentation/_presentation.scss';
    @import 'module/productBar/_productBar.scss';
    @import 'module/reviews/_reviews.scss';
    @import 'module/settingsPackages/_settingsPackages.scss';
    @import 'module/video/_video.scss';
    @import 'module/write/_write.scss';
    @import 'module/addphoto/_addphoto.scss';



    @media (min-width: 540px) {
        .catalog {
            &--grid {
                .catalog {
                    &__item {
                        width: 50%;
                    }
                }
            }
        }

        @media (max-width: 599px) {
            .catalog {
                &--grid {
                    .catalog {
                        &__item {
                            float: left;

                            &:nth-child(2n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 780px) {
        .catalog {
            &--grid {
                .catalog {
                    &__item {
                        width: 33.333334%;
                    }
                }
            }
        }

        @media (max-width: 899px) {
            .catalog {
                &--grid {
                    .catalog {
                        &__item {
                            &:nth-child(2n+1) {
                                clear: none;
                            }

                            &:nth-child(3n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1020px) {
        .catalog {
            &--grid {
                .catalog {
                    &__item {
                        width: 25%;
                    }
                }
            }
        }

        @media (max-width: 1079px) {
            .catalog {
                &--grid {
                    .catalog {
                        &__item {
                            &:nth-child(3n+1) {
                                clear: none;
                            }

                            &:nth-child(4n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screenMdMin) {
        &__container {
            float: left;
            width: 50%;

            &--right {
                float: right;
                width: 310px;

                &Fixed {
                    float: none;
                    width: auto;
                    padding-right: 325px;
                }
            }
        }

        .catalog {
            &--grid {
                .catalog {
                    &__item {
                        width: 33.333334%;
                    }
                }
            }
        }

        @media (max-width: 1319px) {
            &__container {
                &--mdFullWidth {
                    padding-right: 15px;
                }
            }

            .catalog {
                &--grid {
                    .catalog {
                        &__item {
                            &:nth-child(2n+1) {
                                clear: none;
                            }

                            &:nth-child(3n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1319px) {
        &__container {
            &--mdFullWidth {
                padding-right: 15px;
            }
        }
    }

    @media (min-width: 1320px) {
        .catalog {
            &--grid {
                .catalog {
                    &__item {
                        width: 25%;

                        &:nth-child(3n+1) {
                            clear: none;
                        }

                        &:nth-child(4n+1) {
                            clear: both;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1319px) {
        &__description {
            margin-bottom: 10px;
        }
    }

    @media (min-width: 1320px) {
        &__description {
            float: left;
            width: 50%;
        }

        &__video {
            float: left;
            width: 50%;
        }
    }
}

@import 'module/characteristics/module/info/_info.scss';
