//- DROP
//------------------------------------------------

$searchDrop__baseFontSize:          $fontSizeBase !default;

$searchDrop__borderColor:           $borderColor !default;
$searchDrop__backgrondColor:        $base !default;
$searchDrop__shadowColor:           transparentize($grayBase, .8) !default;

$searchDrop__listTextColor--active: $brandPrimary !default;

$searchDrop__priceTextFontSize:     $fontSizeH6 !default;

$searchDrop__resultTextColor:       $brandPrimary !default;
