//- DROP
//------------------------------------------------

-
    searchDropList = ['Продукция XIAOMI', 'Мобильные телефоны', 'Защищенные смартфоны', 'Планшеты', 'Аксессуары', 'Уцененный товар', 'Apple', 'Игровые приставки', 'Спорт, отдых, туризм', 'Пневматическое оружие']
