@import 'vars/_variable.scss';

.footer {
    padding: 33px 0;
    text-align: center;
    background: $footer__bgColor;

    &__box {
        position: relative;
        padding: 0 15px;
    }

    &__title {
        font-size: $footer__titleFontSize;
        font-weight: 300;
        position: relative;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    @import 'module/32x32/_32x32.scss';
    @import 'module/contacts/_contacts.scss';
    @import 'module/copyright/_copyright.scss';
    @import 'module/menu/_menu.scss';
    @import 'module/socnet/_socnet.scss';
    @import 'module/subscribe/_subscribe.scss';
    @import 'module/workTime/_workTime.scss';

    @media (max-width: $screenSmMax) {

        &__box {
            margin-bottom: 20px;
        }

    }

    @media (min-width: $screenXsMin) {

        &__box {
            float: left;
            width: 50%;
        }

        &__title {
            margin-bottom: 30px;
        }

    }

    @media (min-width: $screenMdMin) {

        &__box {
            width: 25%;
        }

    }
}
