@import 'vars/_variable.scss';

.togetherCheaper {
    position: relative;
    border: 1px solid $togetherCheaper__borderColor;
    border-radius: 10px;

    &__container {
        position: relative;
        padding: 30px 44px 25px 44px;

        &Inner {
            position: relative;
            margin: 0 -44px;

            @include clearfix;
        }
    }

    &__item {
        position: relative;

        &--large {
            padding-left: 199px;

            .togetherCheaper {
                &__image {
                    float: left;
                    margin: 0 15px 0 -199px;
                }

                &__content {
                    font-size: 0;
                    position: relative;
                    height: 160px;
                    text-align: left;

                    &:before {
                        position: relative;
                        display: inline-block;
                        width: 0;
                        height: 100%;
                        content: '';
                        vertical-align: middle;
                    }

                    &Inner {
                        font-size: $togetherCheaper__baseFontSize;
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }

        &Inner {
            position: relative;
            max-width: 184px;
            margin: 0 auto;

            @include clearfix;
        }
    }

    &__image {
        font-size: 0;
        position: relative;
        display: block;
        height: 160px;
        margin: 0 0 9px;
        text-align: center;

        &:before {
            position: relative;
            display: inline-block;
            width: 0;
            height: 100%;
            content: '';
            vertical-align: middle;
        }

        img {
            font-size: $togetherCheaper__baseFontSize;
            display: inline-block;
            max-height: 100%;
        }
    }

    &__special {
        font-weight: 700;
        line-height: (24px / $togetherCheaper__baseFontSize);
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
        color: $togetherCheaper__specialTextColor;

        &List {
            position: relative;
        }

        &Item {
            position: relative;
            height: 24px;
            margin: 0 0 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &Content {
            position: relative;
            display: inline-block;
            padding: 0 10px;
            border-radius: (24px / 2);

            &--discount {
                background: $togetherCheaper__specialDiscountBackgroundColor;
            }
        }
    }

    &__content {
        position: relative;
        text-align: center;

        &Inner {
            position: relative;
        }
    }

    &__title {
        font-weight: 700;
        position: relative;
        overflow: hidden;
        height: 63px;
        margin: 0 0 3px;

        &Link {
            text-decoration: none;
            color: inherit;
            outline: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__price {
        font-size: $togetherCheaper__priceTextFontSize;
        font-weight: 700;
        position: relative;
        color: $togetherCheaper__priceTextColor;

        &Old {
            font-size: $togetherCheaper__baseFontSize;
            font-weight: 400;
            position: relative;
            display: inline-block;
            margin: 0 10px 0 0;
            text-decoration: line-through;
            color: $togetherCheaper__priceOldTextColor;
        }
    }

    &__plus {
        position: relative;
        z-index: 1;
        display: block;
        width: 29px;
        height: 30px;
        background: url('../images/content/icon/togetherCheaper.png') no-repeat;
    }

    &__equals {
        position: relative;
        display: block;
        width: 28px;
        height: 30px;
        background: url('../images/content/icon/togetherCheaper.png') -29px 0 no-repeat;
    }

    &__total {
        text-align: center;

        &Text {
            font-size: $togetherCheaper__totalTextFontSize;
            position: relative;
            margin: 0 -20px;
            color: $togetherCheaper__totalTextColor;
        }

        &Price {
            font-size: $togetherCheaper__totalPriceTextFontSize;
            font-weight: 700;
            line-height: (36px / $togetherCheaper__totalSumTextFontSize);
            position: relative;
            margin: 0 0 13px;
        }

        &Sum {
            font-size: $togetherCheaper__totalSumTextFontSize;
        }
    }

    &__slick {
        &Dots {
            position: absolute;
            right: 0;
            bottom: -24px;
            left: 0;
            overflow: hidden;
            height: 48px;
            padding: 15px 0;
            text-align: center;

            .slick {
                &-dots {
                    position: relative;
                    display: inline-block;
                    height: 18px;
                    padding: 0 10px;
                    background: $togetherCheaper__slickDotsBackgroundColor;
                }
            }

            button {
                border-color: $togetherCheaper__slickBorderColor;

                &:hover {
                    border-color: $togetherCheaper__slickBorderColor--active;
                }
            }
        }
    }

    .button {
        width: 100%;
        height: 36px;
    }

    .slick {
        &-slider {
            overflow: visible;
        }
    }

    @media (max-width: $screenMbMax) {
        &__plus {
            margin: 10px auto;
        }

        &__equals {
            margin: 10px auto;
        }

        &__total {
            max-width: 200px;
            margin: 0 auto;
        }
    }

    @media (min-width: $screenXsMin) {
        &__container {
            padding-right: 208px;
        }

        &__item {
            float: left;
            width: 50%;
        }

        &__plus {
            top: 50%;
            left: 50%;
            margin: -15px 0 0 -14px;
            position: absolute;
        }

        &__equals {
            position: absolute;
            top: 50%;
            right: 0;
            margin: -15px -14px 0 0;
        }

        &__total {
            position: absolute;
            top: 50%;
            right: -156px;
            width: 140px;
            height: 112px;
            margin: -56px 0 0;
        }
    }

    @media (min-width: 720px) {
        @media (max-width: 1199px) {
            &__container {
                padding-right: 248px;
            }

            &__total {
                right: -174px;
            }
        }
    }

    @media (max-width: $screenMdMax) {
        margin: 0 0 30px;
    }

    @media (min-width: $screenLgMin) {
        &__container {
            padding-right: 248px;
        }

        &__total {
            right: -174px;
        }
    }
}
