//- CONTACTS
//------------------------------------------------

$contacts__borderColor:                     $brandPrimary !default;

$contacts__titleTextFontSize:               $fontSizeLarge !default;
$contacts__titleTextColor:                  $brandPrimary !default;

$contacts__addressTitleTextFontSize:        $fontSizeH4 !default;

$contacts__addressItemTitleTextFontSize:    $fontSizeSmall !default;
$contacts__addressItemTitleTextColor:       $brandPrimary !default;
