//- SEARCH
//------------------------------------------------

-
    var searchOptions = ['Milavitsa', 'Milavits', 'Milav']
    var searchShare = ['Подарункові сертифікати від 100 гривень у Milavitsa', 'Акція 1+1=3 на весь асортимент у Milavitsa', 'Вигідні пропозиції від  Milavitsa']
    var searchNews = ['Магазин "Milavitsa" тепер знаходиться на -1 поверсі ТРЦ', 'У магазинах Milavitsa - осінні колекції']
