//- SEARCH
//------------------------------------------------

$search__backgroundColor:       transparentize(#ebebeb, .05) !default;

$search__dropTextFontSize:      16px !default;
$search__dropTextColor:         #7a7a7a !default;
$search__dropBorderColor:       #dcdbdb !default;
$search__dropBackgroundColor:   #f9f9f9 !default;

$search__titleTextFontSize:     $fontSizeLarge !default;
$search__titleTextColor:        #e6007e !default;
