@import 'vars/_variable.scss';

.greeting {
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin: 0 0 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .greeting__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
    }
}
