include vars/_variable.pug

= '\n'
//= Secondary menu =
.secondary-menu
    ul.secondary-menu__list
        each val in secondaryMenu
            li.secondary-menu__item
                if (val.active && pageTitle !== 'Main page')
                    .secondary-menu__box.secondary-menu__box--count(class='secondary-menu__box--' + val.class)
                        a.secondary-menu__link(href='#' data-count='120')= val.name

                        ul.secondary-menu__sublist
                            each sublist in val.sublist
                                li.secondary-menu__subitem
                                    a.secondary-menu__sublink(href='#')= sublist
                else
                    .secondary-menu__box(class='secondary-menu__box--' + val.class)
                        a.secondary-menu__link(href='#')= val.name

                        ul.secondary-menu__sublist
                            each sublist in val.sublist
                                li.secondary-menu__subitem
                                    a.secondary-menu__sublink(href='#')= sublist
//= End secondary menu =
= '\n'
