include vars/_variable.pug

= '\n'
//= Item =

.glossary__item
    .glossary__char А
    .glossary__box
        .glossary__box-item
            .glossary__box-title Автофокус основной камеры
            .glossary__box-description 
                p Система, которая во время съемки обеспечивает автоматическую фокусировку объектива камеры смартфона на одном или нескольких объектах.
        .glossary__box-item
            .glossary__box-title Автофокус фронтальной камеры
            .glossary__box-description 
                p Система, которая во время съемки обеспечивает автоматическую фокусировку объектива камеры смартфона на одном или нескольких объектах. 
                p Система, которая во время съемки обеспечивает автоматическую фокусировку объектива камеры смартфона на одном или нескольких объектах. Система, которая во время съемки обеспечивает автоматическую фокусировку объектива камеры смартфона на одном или нескольких объектах.

    
//= End item =
