= '\n'
//= Logo =
//-=(layout/header/logo/_logo.scss)=
.logo

    if (pageTitle == 'Main page')
        img.logo__desk(src='assets/images/header/logoh1.png' alt='')
        span салон магазин

    else
        a.logo__link(href='index.html')
            img.logo__desk(src='assets/images/header/logoh-inner.png' alt='')
            span салон магазин

//= End logo =
= '\n'
