
.advice {
    width: 100%;
    background: #EBF1F7;
    padding: 40px 18px 38px;
    margin: 0 auto;

    h2 {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        color: $grayDark;
        font-weight: 600;
        margin: 0 0 34px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            top: 125%;
            border: 2px solid $brandPrimary;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
        flex-flow: row wrap;
    }

    .form-group {
        width: (100 / 1) *1%;
        padding: 0 15px;
        position: relative;
        max-width: 500px;
        margin: 0 auto 18px;

        &-inner {
            &.has-error {
                border: 1px solid $brandDanger !important;
                border-radius: 6px;

                &:after {
                    position: absolute;
                    top: -7px;
                    right: 3px;
                    content: '*';
                    z-index: 1;
                    color: $brandDanger;
                    font-size: 18px;

                }
            }
        }
    }

    input {
        font-size: $fontSize16;
        color: $grayLight;
        border: 1px solid $brandInfo;
        width: 100%;
        border-radius: 6px;
        line-height: 60px;
        padding: 0 18px;
    }

    .help-block {
        display: none;
    }


    .button-white {
        margin: auto;
        cursor: pointer;
        width: 100%;
        background: $base;
        z-index: 1;

        &:hover {
            background: $grayLight;
        }

        &__triangle {

            &-one {
                border-color: #EBF1F7 transparent transparent transparent;

                &::before {
                    border-color: $grayLight transparent transparent transparent;
                }
            }

            &-two {
                border-color: transparent transparent #EBF1F7 transparent;

                &::before {
                    border-color: transparent transparent $grayLight transparent;
                }
            }
        }
    }

    //600px
    @media (min-width: $screen_S_Min) {

        h2 {
            font-size: 30px;
            line-height: 50px;
        }
    }

    //768px
    @media (min-width: $screen_M_Min) {
        padding: 32px 20px 36px;

        .form-group {
            width: (100 / 2) *1%;
            max-width: none;
        }
    }

    @media (min-width: 980px) {

        h2 {
            font-size: 36px;
            line-height: 43px;
        }

        &__form {
            flex-flow: row nowrap;
        }

        .form-group {
            width: (100 / 3) *1%;
            margin: 0;
        }
    }
}
