
.expand {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;

    &__title {
        margin-right: 10px;
    }

    .social {

        svg {
            fill: $grayLight;
        }

        .social__list-link:hover {
            svg {
                fill: $brandPrimary;
            }
        }
    }
}
