.footer-info {
    ul {
        li {
            margin: 0 0 8px;

            &:last-child {
                margin: 0;
            }

            p,
            a,
            span {
                font-size: $fontSize16;
                line-height: 19px;
                color: $base;
            }

            p {
                display: none;
                margin: 0;
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    //1024px
    @media (min-width: $screen_L_Min) {

        ul {
            li {

                p {
                    display: block;
                }

                .phone {
                    display: none;
                }
            }
        }
    }
}
