.inner {

    &__wrap {
        position: relative;
        width: 100%;
        margin: 0 auto 70px;
        min-height: 750px;
        max-width: $gridMaxWidth;
        padding: 0 15px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
    }

    &__swiper {
        position: relative;
        width: 100%;
        max-width: 580px;
        margin: 0 auto 70px;

        .swiper-slider__block {
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            background: transparent;
            height: 64px;

            .swiper-current {
                color: $brandPrimary;
            }

            .swiper-pagination-bullet {
                opacity: .9;

                &-active {
                    background: $brandPrimary;
                }
            }

            .swiper-button-prev,
            .swiper-button-next {

                svg {
                    fill: $brandPrimary;
                }
            }
        }
    }

    &__box {
        width: 100%;
        position: relative;
        max-width: 580px;
        margin: auto;

        .container {
            max-width: 1200px;
            margin-right: auto;
            margin-left: auto;
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &__title {
        margin: 5px 0 44px;

        h1 {
            font-weight: 600;
            font-size: 25px;
            line-height: 30px;
            color: $grayDark;
            margin: 0;
        }

        h6 {
            font-size: $fontSize12;
            line-height: 24px;
            text-transform: uppercase;
            color: $brandPrimary;
            margin: 0;
        }
    }

    &__price {
        font-weight: 500;
        font-size: 26px;
        line-height: 24px;
        color: $brandPrimary;
        display: inline-block;
        padding-right: 2px;
        margin-bottom: 20px;

        &-title {
            font-size: 20px;
            line-height: 24px;
            color: $brandPrimary;
            display: inline-block;
        }
    }

    &__text {
        margin-bottom: 18px;
    }

    &__info {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;

        &-wrap {
            margin-bottom: 24px;
            width: 100%;
            display: flex;
            justify-content: center;

            .plan-box {
                text-align: center;

                i {
                    margin: 0 0 7px;
                    display: block;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 34px;
                    line-height: 34px;
                    color: $base;
                    text-shadow: -0 -1px 0 $brandPrimary,
                    0 -1px 0 $brandPrimary,
                    -0 1px 0 $brandPrimary,
                    0 1px 0 $brandPrimary,
                    -1px -0 0 $brandPrimary,
                    1px -0 0 $brandPrimary,
                    -1px 0 0 $brandPrimary,
                    1px 0 0 $brandPrimary,
                    -1px -1px 0 $brandPrimary,
                    1px -1px 0 $brandPrimary,
                    -1px 1px 0 $brandPrimary,
                    1px 1px 0 $brandPrimary,
                    -1px -1px 0 $brandPrimary,
                    1px -1px 0 $brandPrimary,
                    -1px 1px 0 $brandPrimary,
                    1px 1px 0 $brandPrimary;
                    white-space: nowrap;
                }

                p {
                    font-weight: 300;
                    font-size: $fontSize18;
                    line-height: 24px;
                    color: $grayDark;
                    margin: 0;
                }
            }
        }
    }

    &__types {
        margin-bottom: 14px;

        &-title {
            font-weight: 500;
            font-size: $fontSize18;
            line-height: 24px;
            color: $grayDark;
            margin-bottom: 12px;
        }

        ul {
            li {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 10px;

                svg {
                    margin-top: 6px;
                }

                span {
                    position: relative;
                    padding-left: 20px;
                    flex: 1 0 30%;

                    &::before {
                        position: absolute;
                        content: '';
                        width: 9px;
                        height: 13px;
                        left: 0;
                        top: 10px;
                        background: url(../../images/triangle.svg) no-repeat;
                    }
                }

                span,
                i {
                    font-weight: 600;
                    font-size: $fontSize14;
                    line-height: 24px;
                    color: $grayDark;
                    padding-left: 10px;
                    font-style: normal;
                }

                i {
                    font-weight: 500;
                    flex: 1 0 70%;
                }
            }
        }

        &__table {
            display: table;
            //width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

        &__table-body {
            display: table-row-group;
        }

        &__table-row {
            display: table-row;
        }

        &__table-cell {
            display: table-cell;
            font-weight: 500;
            font-size: $fontSize14;
            line-height: 32px;
            color: $grayDark;
            padding-left: 20px;

            &:first-child {
                padding-left: 20px;
                position: relative;
                font-weight: 600;

                &::before {
                    position: absolute;
                    content: '';
                    width: 9px;
                    height: 13px;
                    left: 2px;
                    top: 10px;
                    background: url(../../images/triangle.svg) no-repeat;
                }
            }
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        margin: 0 -10px 27px;
        flex-flow: row wrap;

        &-dark,
        &-white,
        &-white__download {
            padding: 0 10px;
            width: 80%;
            margin-bottom: 20px;
        }

        &-dark {
            .catalogue__phone {

                &-inner {
                    display: none;
                    width: 125px;
                    text-align: center;

                    &:hover {
                        .catalogue__phone-callus,
                        .catalogue__phone-number {
                            color: $grayLight;
                        }
                    }
                }

                &-callus,
                &-number {
                    font-size: $fontSize14;
                    line-height: 60px;
                    color: $base;
                }

                &-callus {
                    cursor: pointer;
                    position: relative;
                }


                &-number {
                    display: none;
                }
            }

            .button-dark {
                font-size: $fontSize14;
                line-height: 60px;
                margin: 0;

                &.callus {
                    display: block;
                }
            }
        }

        &-white {
            .catalogue__phone {

                &-inner {
                    //display: none;
                    width: 125px;
                    text-align: center;

                    &:hover {
                        .catalogue__phone-callus,
                        .catalogue__phone-number {
                            color: $base;
                        }
                    }
                }

                &-callus,
                &-number {
                    font-size: $fontSize14;
                    line-height: 60px;
                    color: $grayLight;
                }

                &-callus {
                    cursor: pointer;
                    position: relative;
                }

                &-number {
                    display: none;
                }
            }

            .button-white {
                font-size: $fontSize14;
                line-height: 60px;
            }
        }
    }

    //480px
    @media (min-width: $screen_XS_Min) {

        &__info {
            justify-content: space-between;

            &-wrap {
                //width: (100 / 3) * 1%;
                justify-content: flex-start;
                width: auto;

                &:nth-child(1) {
                    //padding-left: (52 / 680) * 100%;
                    padding-right: 2%;
                }

                &:nth-child(2) {
                    //padding-left: (74 / 680) * 100%;
                    padding-right: 2%;

                }

                .plan-box {
                    text-align: left;
                }
            }
        }

        &__button {

            &-dark,
            &-white,
            &-white__download {
                width: 33.3334%;
            }
        }

        &__types {

            &__table-cell {

                &:first-child {
                    white-space: nowrap;
                }
            }
        }

        .button-dark,
        .button-white {
            width: 100%;
        }
    }

    //600px
    @media (min-width: $screen_S_Min) {

        &__title {
            margin: 5px 0 30px;

            h1 {
                font-weight: 600;
                font-size: 36px;
                line-height: 40px;
                color: $grayDark;
            }
        }

        .button-dark,
        .button-white {
            width: 100%;
            max-width: 230px;
            margin: auto;
        }
    }

    //980px
    @media (min-width: 980px) {

        &__title {
            margin: 5px 0 25px;

            h1 {
                font-weight: 600;
                font-size: 36px;
                line-height: 40px;
                color: $grayDark;
            }
        }
    }

    //1024px
    @media (min-width: $screen_L_Min) {

        &__wrap {
            width: 100%;
            max-width: none;
            margin: 0;
            //display: flex;
            //justify-content: space-between;
            //flex-flow: row nowrap;
            display: block;
        }

        &__swiper {
            left: 0;
            top: 9px;
            width: calc(50% + 69px);
            //height: 580px;
            //max-width: none;
            //margin: 0;
            //padding-right: calc(50% - 115px);
            float: left;
            max-width: 850px;
            margin: 0 30px 70px 0;
        }

        &__box {
            //width: calc(50% - 99px);
            //padding-left: calc(50% + 85px);
            max-width: none;
            margin: 0;
        }

        &__info {

            &-wrap {
                //width: 50%;

                &:nth-child(2) {
                    //padding-left: 0;
                }

                &:nth-child(3) {
                    //padding-left: 0;
                }
            }
        }

        &__button {

            &-dark {
                .catalogue__phone-inner {
                    display: block;
                }

                .button-dark {
                    &.callus {
                        display: none;
                    }
                }
            }
        }
    }

    //1300px
    @media (min-width: 1300px) {

        &__wrap {
            padding: 0;
            //padding-right: calc((100% - 1170px) / 2);
        }

        &__info {
            flex-flow: row nowrap;

            &-wrap {

                &:nth-child(2) {
                    //padding-left: (52 / 680) * 100%;
                    //padding-left: (90 / 680) * 100%;
                }

                &:nth-child(3) {
                    //padding-left: (74 / 680) * 100%;
                    //padding-left: (90 / 680) * 100%;
                }
            }
        }
    }

    //1600px
    @media (min-width: 1600px) {
        &__button {
            flex-flow: row nowrap;
            justify-content: center;

            &-dark,
            &-white,
            &-white__download {
                width: (100 / 3) * 1%;
                margin: 0;
            }
        }
    }
}
