.investment-card__text {

    &__wrap {
        padding: 0 20px;
        position: relative;

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 30px;
            height: 30px;
            background: url(../../images/angle-top.svg) no-repeat;
        }

        &::before {
            left: 0;
            top: 0;
        }

        &::after {
            right: 0;
            bottom: 0;
            background: url(../../images/angle-bottom.svg) no-repeat;
        }
    }

    a {
        font-weight: 600;
        font-size: $fontSize30;
        line-height: 36px;
        color: $grayDark;
        margin: 0 0 7px;
        display: block;
        text-decoration: none;
        transition: all .3s ease;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        font-size: $fontSize16;
        line-height: 24px;
        color: $grayLight;
        margin: 0 0 6px;
    }

    &-info {
        display: flex;
        flex-flow: column wrap;

        &__inner {
            display: flex;
            align-items: center;
            margin: 0 0 20px;

            &:last-child {
                margin: 0;
            }

            .icon {
                width: 40px;
                height: 40px;
                position: relative;
                background: $grayDark;
                border-radius: 50%;
                margin-right: 21px;

                svg {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .text-box {
                span {
                    font-weight: 800;
                    font-size: $fontSize14;
                    color: $grayDark;
                }

                i {
                    font-size: $fontSize14;
                    color: $grayDark;
                    padding-left: 3px;
                    font-style: normal;
                }
            }
        }
    }

    //980px
    @media (min-width: 980px) {

        a {
            max-height: 73px;
            height: 100%;
            overflow: hidden;
        }

        p {
            height: 73px;

            &.limited {
                &::after {
                    height: 30px;
                }
            }
        }

        &-info {

            &__inner {

                &:last-child {
                    margin: 0 0 15px;
                }
            }

        }
    }
}
