.name-block {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-weight: normal;
        font-size: 25px;
        line-height: 30px;
        color: $grayDark;
        margin: 0 0 20px;
        width: 100%;
    }

    &__button {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-flow: row nowrap;
        position: relative;

        &-dark,
        &-white {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;

            &:first-child {
                margin: 0 8px 0 0;

                .button-white {
                    min-width: 175px;
                }
            }

            .button-white {
                max-width: 250px;
                font-size: 14px;
                height: 40px;
                line-height: 40px;
            }
        }


        &.fixed {
            position: fixed;
            z-index: 999;
            right: 0;
            top: 0;
            background: $base;
            padding: 5px 15px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            transition: top .5s ease-out;
            width: 100%;

            &-dark,
            &-white {
                width: 100%;
                margin: 0 15px;
            }

            .button-white {
                font-size: 14px;
                height: 30px;
                line-height: 30px;
            }
        }
    }

    &__invest {
        font-weight: 600;
        font-size: $fontSize16;
        text-align: center;
        text-transform: uppercase;
        color: $grayLight;
        border: 1px solid $grayLight;
        display: block;
        position: relative;
        text-decoration: none;
        transition: all .3s ease;
        width: 100%;
        height: 60px;
        line-height: 60px;

        &:hover {
            background: $grayLight;
            color: $base;
        }

        &__triangle {

            &-one {
                position: absolute;
                left: -2px;
                top: -2px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 14px 16px 0 0;
                border-color: $base transparent transparent transparent;

                &::before {
                    content: '';
                    left: 1px;
                    top: -13px;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 14px 16px 0 0;
                    border-color: $grayLight transparent transparent transparent;
                    z-index: -1;
                }
            }

            &-two {
                position: absolute;
                right: -2px;
                bottom: -2px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 14px 16px;
                border-color: transparent transparent $base transparent;

                &::before {
                    content: '';
                    right: 1px;
                    bottom: -13px;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 14px 16px;
                    border-color: transparent transparent $grayLight transparent;
                    z-index: -1;
                }
            }
        }
    }

    //600px
    @media (min-width: $screen_S_Min) {

        h1 {
            font-size: 40px;
            line-height: 50px;
        }

        &__button {
            flex-flow: row nowrap;
            justify-content: flex-end;

            &-dark,
            &-white {
                width: auto;
                margin: 0 15px;

                .button-white {
                    font-size: 16px;
                    height: 60px;
                    line-height: 60px;
                }
            }

            &.fixed {
                position: fixed;
                z-index: 999;
                right: 0;
                top: 0;
                background: $base;
                padding: 5px 0;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
                padding-right: 15px;
                transition: top 1s ease-out 0.5s;

                &-dark,
                &-white {

                    &:first-child {
                        margin: 0 15px;
                    }
                }
            }
        }

        &__draw {
            margin: 0 30px 0 0;
            width: 250px;
        }

        &__invest {
            width: 250px;
        }
    }

    //768px
    @media (min-width: $screen_M_Min) {

        h1 {
            font-size: 40px;
            line-height: 50px;
        }
    }

    @media (min-width: 980px) {
        flex-flow: row nowrap;

        h1 {
            font-size: 50px;
            line-height: 60px;
            margin: 0;
        }
    }
    //1024px
    @media (min-width: $screen_L_Min) {

        &__button {

            &.fixed {

                padding-right: 85px;
            }
        }
    }

    @media (min-width: 1340px) {

        &__button {

            &.fixed {
                display: flex;
                justify-content: center;
            }
        }
    }
}
