.popup {
    max-width: 550px;
    width: 100%;
    background: $base;
    padding: 20px 0px;
    margin: auto;

    &__wrapper {
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        color: $grayDark;
        font-weight: normal;
        margin: 0 0 18px;
    }

    .form-group {
        width: calc(100% - 20px);
        margin: 0 auto 13px;
        position: relative;
        //padding: 0 9px;

        &.popup__button {
            display: flex;
            justify-content: center;
            margin: 16px auto 12px;
        }

        &.has-error {
            border: 1px solid $brandDanger !important;
            border-radius: 6px;

            &:after {
                position: absolute;
                top: -7px;
                right: -13px;
                content: '*';
                z-index: 1;
                color: $brandDanger;
                font-size: 18px;

            }
        }
    }

    input,
    textarea {
        font-size: $fontSize16;
        color: $grayLight;
        border: 1px solid $brandInfo;
        width: 100%;
        border-radius: 6px;
        line-height: 44px;
        padding: 0 18px;
    }

    textarea {
        line-height: 19px;
        padding: 14px 18px;
    }

    .help-block {
        display: none;
    }

    &__button {
        display: flex;
        justify-content: center;
        margin: 0 auto 13px;
    }

    .button-dark {
        margin: auto;
        cursor: pointer;
        width: 100%;
    }

    //600px
    @media (min-width: $screen_S_Min) {

        h2 {
            font-size: 40px;
            line-height: 50px;
        }
    }

    //768px
    @media (min-width: $screen_M_Min) {
        padding: 18px 20px;
    }

    @media (min-width: 980px) {

        h2 {
            font-size: 50px;
            line-height: 60px;
        }
    }
}
