.social {
    position: relative;

    &__list {
        display: flex;
        align-items: center;
        margin: 0 -13px;

        &-item {
            position: relative;
            margin: 0 13px;
        }

        &-link {
            position: relative;
            display: flex;
            justify-content: center;

            &:hover {
                svg {
                    fill: $brandPrimary;
                }
            }
        }
    }
}