include vars/_variable.pug

= '\n'
//= Work time =
.work-time
    .work-time__item Торгова галерея:
        span.work-time__nowrap щодня з
            span.work-time__time 10:00
            |  до
            span.work-time__time 21:00

    .work-time__item «McDonalds»:
        span.work-time__nowrap щодня
            span.work-time__time цілодобово

    .work-time__item «Фуршет»:
        span.work-time__nowrap щодня з
            span.work-time__time 08:00
            |  до
            span.work-time__time 23:00

    .work-time__item «Космо»:
        span.work-time__nowrap щодня з
            span.work-time__time 10:00
            |  до
            span.work-time__time 21:00

    .work-time__item «Леопарк»:
        span.work-time__nowrap щодня з
            span.work-time__time 10:00
            |  до
            span.work-time__time 21:00
//= End work time =
= '\n'
