@import 'vars/_variable.scss';

.work-time {
    font-size: $workTime__textFontSize;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding: 0 0 0 34px;
    text-align: left;
    color: $workTime__textColor;

    &:before {
        position: relative;
        display: block;
        float: left;
        width: 22px;
        height: 22px;
        margin: 0 12px 0 -34px;
        content: '';
        background: url('../images/footer/icon/time.png') no-repeat;
    }

    &__item {
        position: relative;
        margin: 0 0 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__nowrap {
        white-space: nowrap;
    }

    &__time {
        color: $workTime__timeColor;
    }
}
