//- SEARCH
//------------------------------------------------

$search__borderColor:                   $borderColor !default;
$search__backgroundColor:               $base !default;

$search__sectionsTextFontSize:          $fontSizeSmall !default;
$search__sectionsBackgroundColor:       $brandInfo !default;

$search__deviceButtonBackgroundColor:   $brandPrimary !default;
