//== BASE
// --------------------------------------------------

//== Colors

$base:                  #fff !default;
$grayBase:              #000 !default;

$gray:                  #b9b7b9 !default;
$graySoft:              #e8e9ea !default;
$grayLight:             #f8f8f8 !default;
$grayLighter:           #f1f1f1 !default;

$brandPrimary:          #ee2f58 !default;
$brandDirtPurple:       #635d67 !default;

$brandDirtBlue:         #536970 !default;
$brandDarkBlue:         #002a36 !default;
$brandDarkenBlue:       #808d91 !default;
$brandLightBlue:        #99b1b8 !default;
$lineColor:             #c1c8cb !default;

$brandFormBlue:         #c1c8cb !default;
$redFormBorderColor:    #ff819c !default;



//== Reset

$bodyBg:                $grayLight !default;
$textColor:             $brandDirtPurple !default;
$linkColor:             $brandPrimary !default;

$borderColor:           $grayLighter !default;


//== Typography

$fontFamilyVerdana:     'Verdana', sans-serif !default;
$fontFamilyBase:        'Arimo', $fontFamilyVerdana !default;


$fontSizeSmall:         16px !default;
$fontSizeBase:          20px !default;
$fontSizeLarge:         24px !default;


$fontSizeH1:            90px !default;
$fontSizeH2:            54px !default;
$fontSizeH3:            36px !default;
$fontSizeH4:            32px !default;
$fontSizeH5:            14px !default;
$fontSizeH6:            12px !default;

$formControlHeight:     42px !default;
$checkboxSize:          23px !default;

$lineHeightBase:        32 / 20 !default;


//== MODULE
// --------------------------------------------------


//== Components


//== Grid system

$gridMaxWidth:          1470px !default;
$gridColumns:           12 !default;
$gridGutterWidth:       30px !default;


//== Media queries breakpoints
$screen_XXS_Min:        375px !default;
$screen_XS_Min:         480px !default;
$screen_S_Min:          600px !default;
$screen_M_Min:          768px !default;
$screen_L_Min:          1080px !default;
$screen_XL_Min:         1200px !default;
$screen_XXL_Min:        1440px !default;
$screen_3XL_Min:        1560px !default;
