//- MAP
//------------------------------------------------

-
    var mapFeature = [
        {
            class: 'type',
            text: 'Одяг'
        },
        {
            class: 'phone',
            text: '+38 (0362) 222-83-42'
        },
        {
            class: 'time',
            text: 'ПН-НД: 10:00 - 24:00'
        }
    ]

    var mapLegend = [
        {
            image: 'terminal',
            text: 'Платіжні термінали'
        },
        {
            image: 'atm',
            text: 'Банкомати'
        },
        {
            image: 'elevator',
            text: 'Ліфти'
        },
        {
            image: 'supermarket',
            text: 'Супермаркети'
        },
        {
            image: 'toilet',
            text: 'Туалети'
        },
        {
            image: 'caviar',
            text: 'Кавомат'
        },
        {
            image: 'massage-chair',
            text: 'Масажне крісло'
        },
        {
            image: 'parking',
            text: 'Парковка'
        },
        {
            image: 'infostructure',
            text: 'Інфостійка'
        },
        {
            image: 'wheelchair',
            text: 'Колясочна'
        },
        {
            image: 'stairs',
            text: 'Сходи'
        },
        {
            image: 'wardrobe',
            text: 'Гардероб'
        },
        {
            image: 'mother-and-baby-room',
            text: 'Кімната матері та дитини'
        },
        {
            image: 'photo-print-terminal',
            text: 'Термінал для друку фото'
        }
    ]
