.form {
    position: relative;

    .form-group {
        display: flex;
        align-items: flex-start;
        margin: 7px 0;

        &.has-error {
            input,
            textarea {
                border-color: $brandPrimary;
            }
        }
    }

    .control-label {
        line-height: 1;
        margin: 0 0 7px 0;
        //font-weight: bold;

        + div {
            display: flex;
            align-items: flex-start;

            label {
                margin: 7px 0;
            }
        }
    }

    .form-control {
        position: relative;
        height: $formControlHeight;
        // padding: 0 0 17px 0;
        width: 100%;
        border-radius: 20px;
        transition: all .3s;

        &::placeholder {
            transition: all .3s;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }

    .help-block {
        display: none;
    }

    input,
    textarea {
        border: 1px solid $borderColor;
        background: transparent;
    }

    textarea {
        &.form-control {
            padding: 17px;
            height: 160px;
            resize: none;
        }
    }
    &--callback {
        margin-top: 30px;
        background: $white;
        border: 1px solid $grayLighter;
        border-radius: 6px;
        max-width: 265px;
        width: 100%;
        padding: 15px 15px;

        form {
            h2 {
                font-family: $fontFamilyOswald;
                font-size: $fontSizeH3;
                color: $grayBase;
                font-weight: 600;
                text-align: center;
                line-height: 1.5;
                text-transform: none;
                margin: 0 0 48px 0;
            }

            .form-control {
                border: none;
                border-bottom: 1px solid $grayLighter;
                border-radius: 0;
                padding: 0;
                height: auto;
                font-family: $fontFamilyBase;
                font-size: $fontSizeBase;
                color: $grayBase;
                position: relative;
                margin-bottom: 25px;

                &:focus ~ label {
                    transform: translateY(-20px);
                }

                &:valid ~ label {
                    transform: translateY(-20px);
                }
            }

            .control-label {
                font-family: $fontFamilyBase;
                font-size: $fontSizeSmall;
                color: $gray;
                position: absolute;
                transition: .3s;
                pointer-events: none;
                font-weight: 400;
                top: 2px;
                left: 0;
            }

            .form-group {
                flex-direction: column;
                position: relative;
                margin: 7px 0 20px 0;
            }
        }
    }
}
