// Color shemas

$base:                  #fff !default;
$grayBase:              #000 !default;

$grayDarker:            #2C2C2C !default;  //*SS серый очень темный
$grayDark:              #000615 !default;  //*SS серый темнее
$gray:                  #515142 !default;  //*SS серый
$grayLight:             #999999 !default;  //*SS серый светлый
$grayLighter:           #D9D9D9 !default;  //*SS

$primaryColor:          #212223 !default;  //*SS
$secongaryColor:        #40AC60 !default;  //*SS  #10B024 #4FC371
$tertiaryColor:         #000 !default;

$activeColor:           #000 !default; //активный
$backgroundColor_blue:  #EFFBF2 !default; //*SS светло-голубой
$backgroundColor_pink:  #FDFBE0 !default; //*SS светло-розовый #FDFAF6

$infoColor:             #000 !default; //информация
$successColor: 			#000 !default; //успех
$warningColor: 			#000 !default; //предупреждения
$dangerColor:  			#000 !default; //ошибки

$inputTextColor: 		#000 !default; //цвет ввода текста
$tooltipColor: 			#000 !default; //всплывающая подсказка Цвет

// Typography
$fontMediumSize: 16px; //footer
$fontBaseSize: 15px; //base

$fontSize12: 12px !default; //*SS
$fontSize13: 13px !default; //*SS
$fontSize14: 14px !default; //*SS
$fontSize15: 15px !default; //*SS
$fontSize16: 16px !default; //*SS
$fontSize18: 18px !default; //*SS
$fontSize20: 20px !default; //*SS
$fontSize30: 30px !default; //*SS

$fontSizeH1:            64px !default; //*SS 45 28
$fontSizeH2:            56px !default; //*SS 50 35
$fontSizeH3:            44px !default; //*SS 38 28
$fontSizeH4:            38px !default; //*SS 28
$fontSizeH5:            34px !default; //*SS
$fontSizeH6:            28px !default; //*SS

$formControlHeight:     40px !default;
$checkboxSize:          26px !default;

$lineHeightBase:        21 / 14 !default;


// Fonts
$baseFont: 		'Arial', sans-serif !default;
$headingFont:	'Neo Display', $baseFont; //$fontFamilyNeoDisplay_Rg
$bodyFont:		'Gilroy', $baseFont;


//== Components

//== Grid system
//-source/assets/style/modules/_container.scss
$containerMaxWidth:     1374px !default;
$containerPadding:      15px !default;


//== Media queries breakpoints
$screen_XXS_Min:        380px !default;
$screen_XS_Min:         480px !default;
$screen_S_Min:          600px !default;
$screen_M_Min:          768px !default;
//980
$screen_L_Min:          1024px !default;
$screen_XL_Min:         1200px !default;
//1300px
$screen_XXL_Min:        1440px !default;
