//- SETTINGS PACKEGES
//------------------------------------------------

-
    settingsPackeges = [
        {
            image: 'google',
            name: 'Установка карты Google Maps - прокладывай маршруты и путешествуй легко',
            base: true,
            standard: true,
            parental: true,
            children: true,
            maximum: true
        },
        {
            image: 'chrome',
            name: 'Установка Google Chrome для быстрой и безопасной работы в интернете',
            base: true,
            standard: true,
            parental: true,
            children: true,
            maximum: true
        },
        {
            image: 'translate',
            name: 'Установка переводчика Google - перевод слов, фраз, текстов',
            base: true,
            standard: true,
            parental: true,
            children: true,
            maximum: true
        },
        {
            image: 'security',
            name: 'CM Security - антивирусная защита. Защита личных данных.',
            base: true,
            standard: true,
            parental: true,
            children: true,
            maximum: true
        },
        {
            image: 'audio',
            name: 'Установка Аудиопроигрывателя с расширенным пакетом кодеков',
            base: true,
            standard: true,
            parental: true,
            children: true,
            maximum: true
        },
        {
            image: 'video',
            name: 'Установка Видеопроигрывателя с расширенным пакетом кодеков',
            base: false,
            standard: true,
            parental: true,
            children: true,
            maximum: true
        },
        {
            image: 'socnet',
            name: 'Установка популярных соцсетей: Facebook, Instagram',
            base: false,
            standard: false,
            parental: true,
            children: true,
            maximum: true
        },
        {
            image: 'talk',
            name: 'Приложения для неограниченного общения: Skype, Viber',
            base: false,
            standard: false,
            parental: false,
            children: true,
            maximum: true
        },
        {
            image: 'shazam',
            name: 'Установка Shazam - распознавания и поиск музыки, чартов и текстов песен.',
            base: false,
            standard: false,
            parental: false,
            children: false,
            maximum: true
        }
    ]

    var settingsPackagesTitle = [ 'Базовый пакет', 'Стандартный пакет', 'Родительский пакет', 'Детский пакет', 'Максимальный пакет'
    ]
