//- SETTINGS PACKEGES
//------------------------------------------------

$settingsPackeges__baseTextFontSize:        $fontSizeBase !default;

$settingsPackeges__borderColor:             #cac7c7 !default;

$settingsPackeges__headTextFontSize:        $fontSizeH6 !default;
$settingsPackeges__headBackgroundColor:     #dfdfdf !default;

$settingsPackeges__footTextFontSize:        $fontSizeH6 !default;
$settingsPackeges__footBackgroundColor:     #dfdfdf !default;
$settingsPackeges__footBackgroundColor2:    #fefecf !default;
