//- DEVICE MENU
//------------------------------------------------

$deviceMenu__backgroundColor:   $base !default;
$deviceMenu__shadowColor:       rgba(156, 53, 127, .4) !default;

$deviceMenu__shopBgColor:              #f72498 !default;
$deviceMenu__foodBgColor:              #b14191 !default;
$deviceMenu__serviceBgColor:           #ed6939 !default;
$deviceMenu__entertainmentBgColor:     #f7a600 !default;
