@import 'vars/_variable.scss';

.logo {
    position: relative;
    z-index: 1;
    text-align: center;

    &__link {
        position: relative;
        display: inline-block;
        height: 100%;
    }

    @media (max-width: $screenSmMax) {

        height: 40px;
        margin: 5px 0;

        img {
            height: 100%;
        }

    }

    @media (min-width: $screenMdMin) {

        float: left;
        margin: 0 30px 0 0;

    }
}
