-
    var navigationCatalog = [
        {
            menu: 'Каталог продукції',
            image:'<svg id="matrix" data-name="" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><circle cx="2" cy="2" r="2"/><circle cx="9" cy="2" r="2"/><circle cx="16" cy="2" r="2"/><circle cx="2" cy="9" r="2"/><circle cx="9" cy="9" r="2"/><circle cx="16" cy="9" r="2"/><circle cx="2" cy="16" r="2"/><circle cx="9" cy="16" r="2"/><circle cx="16" cy="16" r="2"/></svg>',
        },
        {
            menu: 'Плитка',
            image:'<svg id="" data-name="" xmlns="http://www.w3.org/2000/svg" width="22.94" height="23" viewBox="0 0 22.94 23"><path d="M0,0H23V23H0ZM11.58,4.43q-3.6,3.6-7,7l6.89,6.93,7-7ZM1.19,5.82c-.11.57-.08,11,0,11.33H4.93L6.7,15.37,4.79,13.45c-.64-.64-1.29-1.27-1.93-1.95L6.71,7.65,4.91,5.82Zm4.69,16H17.15V18.09l-1.81-1.8-3.85,3.83L7.64,16.26,5.88,18Zm16-4.67V5.84H18.07L16.33,7.61l3.84,3.84-3.86,3.87,1.78,1.82ZM11.53,2.83l3.9,3.88L17.14,5V1.16H5.87V4.93l1.75,1.8ZM1.19,18.34a19,19,0,0,0,0,3.47H4.65V18.34Zm0-13.72H4.65V1.16H1.16Zm17.19,0h3.48V1.13c-1.18,0-2.33,0-3.48,0Zm3.47,17.18V18.35H18.36v3.46Z" transform="translate(-0.04 0.01)"/></svg>',
            submenu: [
                'Плитка для ваної',
                'Плитка для кухні',
                'Плитка для підлоги',
                'Фасадна плитка',
                'Плитка для басейнів',
                'Вітальня'
            ]
        },
        {
            menu: 'Клінкер',
            image:'<svg id="" data-name="" xmlns="http://www.w3.org/2000/svg" width="23" height="16" viewBox="0 0 23 16"><path d="M21.83,10.05H19.25V10a.07.07,0,0,1,0-.05V6.19a1.13,1.13,0,0,0-1.11-1.14H15.59V5s0,0,0,0V1.19A1.11,1.11,0,0,0,14.5.06H8.38A1.12,1.12,0,0,0,7.27,1.19V5s0,0,0,0v0H4.71A1.12,1.12,0,0,0,3.6,6.18V10s0,0,0,0v0H1.05A1.13,1.13,0,0,0-.06,11.18v3.74a1.12,1.12,0,0,0,1.11,1.14H21.83a1.13,1.13,0,0,0,1.11-1.14V11.18A1.12,1.12,0,0,0,21.83,10.05ZM18.21,6.14V10H12V6.14Zm-9.88-5h6.21V5H8.33Zm-3.66,5h6.2V10H4.67ZM7.2,15H1V11.13H7.2Zm7.34,0H8.33V11.13h6.21V15Zm7.33,0h-6.2V11.13h6.2Z"/></svg>',
            submenu: [
                'Плитка для ваної',
                'Плитка для кухні',
                'Плитка для підлоги',
                'Фасадна плитка',
                'Плитка для басейнів',
                'Вітальня'
            ]
        },
        {
            menu: 'Мозаїка',
            image:'<svg id="" data-name="" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><path d="M20.42,0H13.81a.58.58,0,0,0-.58.58v6h-6a.58.58,0,0,0-.57.57v6h-6a.58.58,0,0,0-.58.58v6.61A.58.58,0,0,0,.58,21H7.19a.58.58,0,0,0,.58-.58v-6H9.92v2.73a.58.58,0,0,0,.58.58h6.62a.58.58,0,0,0,.57-.58V10.5a.58.58,0,0,0-.57-.58H14.39V7.77h6A.58.58,0,0,0,21,7.19V.58A.58.58,0,0,0,20.42,0ZM6.62,19.85H1.15V14.38H6.62Zm6.61-3.31H11.08V14.39h2.15Zm0-3.31H7.77V7.77h5.46v5.46Zm3.31,3.31H14.39V14.39h2.15Zm0-5.46v2.15H14.39V11.08Zm3.31-4.46H14.38V1.15h5.47Z"/></svg>',
            submenu: [
                'Плитка для ваної',
                'Плитка для кухні',
                'Плитка для підлоги',
                'Фасадна плитка',
                'Плитка для басейнів',
                'Вітальня'
            ]
        },
        {
            menu: 'Будхімія',
            image:'<svg id="" data-name="" xmlns="http://www.w3.org/2000/svg" width="19" height="23" viewBox="0 0 19 23"><path d="M17.13,0a1.31,1.31,0,0,1,1.41,1.18,2,2,0,0,1-.15.9c-.2.53-.44,1-.68,1.55a1.56,1.56,0,0,0,0,1.41,14.76,14.76,0,0,1,1.14,3.84A15.66,15.66,0,0,1,19,12.73,16.4,16.4,0,0,1,17.66,18a1.46,1.46,0,0,0,0,1.29c.25.54.47,1.09.72,1.63A1.42,1.42,0,0,1,17.1,23C12.05,23,7,23,2,23a1.38,1.38,0,0,1-1.31-2c.23-.57.49-1.12.75-1.66a1.41,1.41,0,0,0,0-1.25A16,16,0,0,1,.11,13.18a16.48,16.48,0,0,1,0-3.44,16.58,16.58,0,0,1,1.3-4.8,1.37,1.37,0,0,0,0-1.2C1.13,3.15.86,2.55.62,1.94A1.37,1.37,0,0,1,1.46,0,2,2,0,0,1,2.06,0ZM2.68,4.77c-.16.39-.31.75-.45,1.11a15.1,15.1,0,0,0-.74,8.77A21.88,21.88,0,0,0,2.59,18c.08.2.21.22.38.22.51,0,1,0,1.52,0,.3,0,.45.14.47.36s-.15.4-.47.41a5.57,5.57,0,0,1-1,0,.86.86,0,0,0-1.11.72,13.56,13.56,0,0,1-.7,1.63c-.12.29-.05.42.25.46.11,0,.23,0,.35,0H16.87c.59,0,.66-.1.42-.64a10,10,0,0,1-.62-1.43A.88.88,0,0,0,15.54,19a7.1,7.1,0,0,1-1.13,0,.33.33,0,0,1-.34-.34.62.62,0,0,1,.22-.38c.08-.07.23-.05.34-.05h1.48a.32.32,0,0,0,.36-.24c.09-.31.22-.61.34-.92a14.7,14.7,0,0,0,.69-9C17.25,7,16.81,6,16.47,5c-.06-.19-.18-.21-.34-.21H14.69q-.62,0-.63-.39c0-.28.21-.43.64-.44h1.39c.15,0,.29,0,.36-.17.3-.73.61-1.45.91-2.18.13-.32.05-.45-.27-.48-.12,0-.24,0-.35,0H2.1c-.5,0-.57.13-.37.59.29.67.58,1.33.85,2A.33.33,0,0,0,3,3.94H4.3A.78.78,0,0,1,4.68,4c.12.08.27.23.27.35a.5.5,0,0,1-.25.37.81.81,0,0,1-.42.06Z"/><path d="M9.64,11c.33-.3.61-.56.9-.81a.9.9,0,0,1,1.53.26c.63,1.12,1.23,2.26,1.85,3.39A1,1,0,0,1,14,15a1,1,0,0,1-1.08.38l-3.26-.56L8.2,14.53a1,1,0,0,1-.89-.69,1,1,0,0,1,.35-1.07c.31-.29.62-.58.95-.86a.46.46,0,0,0,.15-.55c-.18-.58-.35-1.16-.51-1.75a.52.52,0,0,0-.43-.42L5.67,8.63a1.83,1.83,0,0,1-.33-.11.45.45,0,0,1-.28-.58.46.46,0,0,1,.55-.32c1,.24,1.91.49,2.86.76a1,1,0,0,1,.62.76c.14.49.29,1,.44,1.49A2.6,2.6,0,0,0,9.64,11ZM8.3,13.47l0,.11,4.82.82-1.95-3.58Z"/><path d="M6.27,4.77H6a.4.4,0,0,1-.39-.41c0-.24.17-.36.4-.4H8.8c.23,0,.39.15.38.41a.38.38,0,0,1-.38.4Z"/><path d="M11.59,4.77H10.46c-.12,0-.26,0-.34,0s-.26-.23-.26-.35S10,4.1,10.09,4s.17,0,.25,0c.86,0,1.71,0,2.57,0a.43.43,0,0,1,.49.4c0,.25-.17.41-.51.42Z"/><path d="M11.57,19H10.31c-.33,0-.47-.14-.47-.39s.14-.38.48-.39h2.6c.32,0,.48.15.48.39s-.16.38-.49.39Z"/><path d="M7.4,19H6.1c-.32,0-.48-.15-.48-.39s.16-.38.48-.39H8.71c.32,0,.48.14.47.38S9,19,8.7,19Z"/></svg>',
            submenu: [
                'Плитка для ваної',
                'Плитка для кухні',
                'Плитка для підлоги',
                'Фасадна плитка',
                'Плитка для басейнів',
                'Вітальня'
            ]
        },
    ]
    var topMenu = [
        {
            name:'Про нас',
            link: '#0'
        },
        {
            name: 'Колекції',
            link: 'collection.html'
        },
        {
            name:'Бренди',
            link: 'brands.html'
        },
        {
            name:'Проекти',
            link: 'projects.html'
        },
        {
            name: 'Блог',
            link:'blog.html'
        },
        {
            name: 'Де купити?',
            link: 'buy.html'
        }
    ]
    var advantages = [
        {
            image: '1.svg',
            value: 'Дистрибуція',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore'
        },
        {
            image: '2.svg',
            value: 'Сервіс',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore '
        },
        {
            image: '3.svg',
            value: 'Навчання',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore '
        },
        {
            image: '4.svg',
            value: 'Комплектація  об`єктів будівництва',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore '
        },
    ]
    var collections = [
        {
            id: '#tab1',
            class: 'active',
            name: 'Ванна кімната'
        },
        {
            id: '#tab2',
            class: '',
            name: 'Кухня'
        },
        {
            id: '#tab3',
            class: '',
            name: 'Вітальня'
        },
        {
            id: '#tab4',
            class: '',
            name: 'Тераса і балкон'
        },
        {
            id: '#tab5',
            class: '',
            name: 'Сад'
        },
        {
            id: '#tab6',
            class: '',
            name: 'Сходи'
        },
    ]
    var brands = [
        '1.png',
        '2.png',
        '3.png',
        '4.png',
        '5.png',
        '6.png',
    ]
    var footerMenu = [
        {
            name: 'Каталог товарів',
            product: [
                'Плитка',
                'Клінкер',
                'Мозаїка',
                'Будхімія',
            ]
        },
        {
            name: 'Mirad',
            product: [
                'Про нас',
                'Колекції',
                'Бренди',
                'Проекти',
                'Блог',
                'Де купити?'
            ]
        },
        {
            name: 'Служба підтримки',
            product: [
                'Зворотній зв\'язок',
                'Повернення товару',
                'Виробники',
                'Бренди',
                'Проекти',
                'Поради',
                'Карта сайту'
            ]
        },
        {
            name: 'Особистий кабінет',
            product: [
                'Особистий кабінет',
                'Історія замовлень',
                'Закладки',
                'Розсилка',
            ]
        },
        {
            name: 'Контакти',
            product: [
                {
                    name: 'м. Рівне, вул. Дубенська, 3',
                    href:''
                },
                {
                    name: '(050) 505-50-50',
                    href:'tel:0505055050'
                },
                {
                    name: 'dubenskaja@gmail.com',
                    href:'mailto:dubenskaja@gmail.com'
                },
            ]
        },
    ]

    var popItems = [
        {
            image:'1.png',
            title: 'Увійти до особистого кабінету',
            text: '',
            placeholder: '+38(___)___-__-__',
            labelFirst: 'Номер телефону',
            labelSecond: 'Пароль',
            pass: 'Я забув пароль',
            enter:'Увійти',
            registr: 'Зареєструватися',
            login: true
        },
        {
            image:'1.png',
            title: 'Контактні дані',
            text: '',
            placeholder: '',
            labelFirst: 'Ім\'я',
            labelSecond: 'Email',
            labelThird: 'Телефон',
            pass:'',
            enter:'Зареєструватися',
            registr: '',
            registartion: true
        },
        {
            image:'1.png',
            title: 'Забули пароль?',
            text: 'Вкажіть номер телефону, на який ви реєстрували обліковий запис і ми надішлемо СМС з кодом для встановлення нового пароля',
            placeholder: '',
            labelFirst: 'Пароль',
            labelSecond: '',
            labelThird: '',
            pass:'',
            enter:'Отримати код',
            registr: 'увійти',
            passwordForgot: true
        },
        {
            image:'2.png',
            title: 'Зворотній зв\'язок',
            text: '',
            placeholder: '',
            labelFirst: 'Ім\'я',
            labelSecond: 'Email',
            labelThird: 'Коментар',
            pass:'',
            enter:'Відправити',
            registr: '',
            callback: true
        },
    ]
    var bookmarksItem = [
        'Ванна кімната',
        'Almera Ceramica',
        'Очистити фільтр',
    ]
    var sortItems = [
        {
            name: 'По замовчуванню'
        },
        {
            name:'Новинки'
        },
        {
            name: 'Скидки'
        },
        {
            name: 'Від дешевих до дорогих'
        },
        {
            name: 'Від дорогих до дешевих'
        },
        {
            name:'',
            class: 'filters__close'
        }
    ]
    var productCharacter = [
        {
            name: 'Бренд:',
            value: 'DEVIT',
        },
        {
            name: 'Країна:',
            value: 'Італія',
        },
        {
            name: 'Розмір',
            value: '60 х 60',
        },
    ]
    var leftMenuList = [
        {
            title:'Бренд',
            sublist: [
                {
                   name:'APE Ceramica',
                   counter: '(0)',
                   class: 'disabled',
                   disabled: 'disabled'
                },
                {
                   name:'Almera Ceramica',
                   counter: '(374)'
                },
                {
                   name:'Argenta Ceramica',
                   counter: '(121)'
                },
                {
                   name:'CERRAD ',
                   counter: '(96)'
                },
                {
                   name:'Cersanit',
                   counter: '(282)'
                },
                {
                   name:'GEOTILES',
                   counter: '(207)'
                },
                {
                   name:'GOLDEN TILE',
                   counter: '(281)'
                },
            ],
            class:'arrow-rotate',
        },
        {
            title:'Призначення',
            sublist: [
                {
                   name:'Ванна кімната',
                   counter: '(20)'
                },
                {
                   name:'Кухня',
                   counter: '(40)'
                },
                {
                   name:'Вітальня',
                   counter: '(68)'
                },
                {
                   name:'Зал',
                   counter: '(15)'
                },
                {
                   name:'Тераса та балкон',
                   counter: '(28)'
                },
                {
                   name:'Сад',
                   counter: '(7)'
                },
                {
                   name:'Сходи',
                   counter: '(1)'
                },
            ],
            class:'arrow-rotate',
        },
    ]
    var collectionList = [
        {
            title:'Бренд',
            sublist: [
                {
                   name:'APE Ceramica',
                   counter: '(0)',
                   class: 'disabled',
                   disabled: 'disabled'
                },
                {
                   name:'Almera Ceramica',
                   counter: '(374)'
                },
                {
                   name:'Argenta Ceramica',
                   counter: '(121)'
                },
                {
                   name:'CERRAD ',
                   counter: '(96)'
                },
                {
                   name:'Cersanit',
                   counter: '(282)'
                },
                {
                   name:'GEOTILES',
                   counter: '(207)'
                },
                {
                   name:'GOLDEN TILE',
                   counter: '(281)'
                },
            ],
            class:'arrow-rotate',
        },
        {
            title:'Призначення',
            sublist: [
                {
                   name:'Ванна кімната',
                   counter: '(20)'
                },
                {
                   name:'Кухня',
                   counter: '(40)'
                },
                {
                   name:'Вітальня',
                   counter: '(68)'
                },
                {
                   name:'Зал',
                   counter: '(15)'
                },
                {
                   name:'Тераса та балкон',
                   counter: '(28)'
                },
                {
                   name:'Сад',
                   counter: '(7)'
                },
                {
                   name:'Сходи',
                   counter: '(1)'
                },
            ],
            class:'arrow-rotate',
        },
        {
            title:'Дизайн',
            sublist: [
                {
                   name:'Бетон',
                   counter: '(20)'
                },
                {
                   name:'Дерево',
                   counter: '(40)'
                },
                {
                   name:'Камінь',
                   counter: '(68)'
                },
                {
                   name:'Котто',
                   counter: '(15)'
                },
                {
                   name:'Малі формати',
                   counter: '(28)'
                },
                {
                   name:'Мармур',
                   counter: '(7)'
                },
                {
                   name:'Метал',
                   counter: '(1)'
                },
                {
                   name:'Моноколор',
                   counter: '(1)'
                },
                {
                   name:'Рустик',
                   counter: '(1)'
                },
                {
                   name:'Текстиль',
                   counter: '(1)'
                },
                {
                   name:'Цегла',
                   counter: '(1)'
                },
            ],
            class:'arrow-rotate',
        },
        {
            title:'Колір',
            sublist: [
                {
                   name:'Бежевий',
                   counter: '(20)'
                },
                {
                   name:'Бежевий темний',
                   counter: '(40)'
                },
                {
                   name:'Бронза',
                   counter: '(68)'
                },
                {
                   name:'Білий',
                   counter: '(15)'
                },
                {
                   name:'Жовтий і золотий',
                   counter: '(28)'
                },
                {
                   name:'Коричневий',
                   counter: '(7)'
                },
                {
                   name:'Мультиколор',
                   counter: '(1)'
                },
                {
                   name:'Помаранчевий',
                   counter: '(1)'
                },
                {
                   name:'Рожевий',
                   counter: '(1)'
                },
                {
                   name:'Рожевий',
                   counter: '(1)'
                },
                {
                   name:'Синій і голубий',
                   counter: '(1)'
                },
                {
                   name:'Сірий',
                   counter: '(1)'
                },
                {
                   name:'Фіолетовий і бузковий',
                   counter: '(1)'
                },
                {
                   name:'Червоний і рожевий',
                   counter: '(1)'
                },
            ],
            class:'arrow-rotate',
        },
        {
            title:'Тип продукції',
            sublist: [
                {
                   name:'Бордюр',
                   counter: '(20)'
                },
                {
                   name:'Декор',
                   counter: '(40)'
                },
                {
                   name:'Керамічна плитка',
                   counter: '(68)'
                },
                {
                   name:'Мозаїка',
                   counter: '(15)'
                },
                {
                   name:'Плінтус',
                   counter: '(28)'
                },
                {
                   name:'Сходинка',
                   counter: '(7)'
                }
            ],
            class:'arrow-rotate',
        },
    ]
    var menuFilters = [
        {
            title:'Дизайн',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Колір',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Вид матеріалу',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Тип продукції',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Тип поверхні',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Розміри колекції',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Формат',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Країна виробник',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Рельєф',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Варіативність',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'РЕІ',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Стиль',
            sublist: [

            ],
            class:'arrow',
        },
        {
            title:'Коефіцієнт ковзання',
            sublist: [

            ],
            class:'arrow',
        }
    ]
    var placeBlock = [
        {
            image: '1.svg',
            name:'Ванна кімната'
        },
        {
            image: '2.svg',
            name:'Кухня'
        },
        {
            image: '3.svg',
            name:'Вітальня та зал'
        },
        {
            image: '4.svg',
            name:'Тераса та балкон'
        },
        {
            image: '5.svg',
            name:'Сад'
        },
        {
            image: '6.svg',
            name:'Сходи'
        },
    ]

    var catalogCarouselBig = [
        {
            href: 'data/collectionSlider/big/1.png',
            image: '1.png',
            class: 'image'
        },
        {
            href: 'data/collectionSlider/big/2.png',
            image: '2.png',
            class: 'image'
        }
    ]
    var otherCollections = [
        {
            id: '#tabOne',
            class: 'active',
            name: 'Стіни'
        },
        {
            id: '#tabTwo',
            class: '',
            name: 'Підлога'
        },
        {
            id: '#tabThree',
            class: '',
            name: 'Сходи'
        },
        {
            id: '#tabFour',
            class: '',
            name: 'Плінтус'
        },
        {
            id: '#tabFive',
            class: '',
            name: 'Декор'
        },
        {
            id: '#tabSix',
            class: '',
            name: 'Мозаїка'
        },
    ]
    var productContent = [
        {
            name: 'Бренд',
            value: 'Cersanit',
            link: true
        },
        {
            name: 'Країна виробник',
            value: 'Україна',
        },
        {
            name: 'Колекція',
            value: 'Linen Blanco',
            link: true
        },
        {
            name: 'Розмір',
            value: '6х300х200',
        },
    ]
    var productChar = [
        {
            name: 'Дизайн',
            value: 'Бетон'
        },
        {
            name: 'Колір',
            value: 'Коричневий'
        },
        {
            name: 'Вид матеріалу',
            value: 'Керамограніт'
        },
        {
            name: 'Тип продукції',
            value: 'Керамічна плитка'
        },
        {
            name: 'Тип поверхні',
            value: 'Структурована'
        },
        {
            name: 'Формат',
            value: '10*30'
        },
        {
            name: 'Рельєф',
            value: 'Рельєфна'
        },
        {
            name: 'Варіативність',
            value: 'V3'
        },
        {
            name: 'РЕІ',
            value: 'РЕІ V'
        },
        {
            name: 'Стиль',
            value: 'Ар-деко'
        },
        {
            name: 'Коефіцієнт ковзання',
            value: 'Немає'
        }
    ]
    var realisedProjects = [
        {
            id: '#tab-a',
            class: 'active',
            name: 'Житловий будинок'
        },
        {
            id: '#tab-b',
            class: '',
            name: 'Комунальне господарство'
        },
        {
            id: '#tab-c',
            class: '',
            name: 'Адміністративна будівля'
        },
        {
            id: '#tab-d',
            class: '',
            name: 'Торговий центр'
        },
        {
            id: '#tab-e',
            class: '',
            name: 'Готель'
        },
        {
            id: '#tab-f',
            class: '',
            name: 'Спортивний комплекс'
        },
        {
            id: '#tab-g',
            class: '',
            name: 'Лікарня'
        },
        {
            id: '#tab-h',
            class: '',
            name: 'Офіс'
        },
    ]
    var projectInfo = [
        {
            name: 'Категорія:',
            value: 'Житловий будинок',
            link: true
        },
        {
            name: 'Адреса:',
            value: 'м. Київ, вул. Велика Васильківська, 139'
        },
        {
            name: 'Введення в експлуатацію:',
            value: '4 квартал 2017 (1 черга, 5 домів)'
        },
        {
            name: 'Застосування:',
            value: 'всередені приміщення, підлога (хол і МОПи)'
        }
    ]
    var projectCarouselBig = [
        {
            href: 'data/project/1.png',
            image: '1.png',
            class: 'image'
        },
        {
            href: 'data/project/2.png',
            image: '2.png',
            class: 'image'
        }
    ]
    var topTags = [
        'Плитка','Туалет','Ванна кімната', 'Плитка','Плитка','Туалет','Плитка','Ванна кімната','Плитка'
    ]
    var brandsLogo = [
        {
            image:'1.png',
            name: 'Аestetica'
        },
        {
            image:'2.png',
            name: 'Apavisa'
        },
        {
            image:'3.png',
            name: 'Argenta'
        },
        {
            image:'4.png',
            name: 'Atrium'
        },
        {
            image:'5.png',
            name: 'Azteca'
        }
    ]
    var brandsLogosList = [
        {
            title:'Бренди',
            alphabet: ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'],
            sublist: [
                {
                   name:'Аestetica',
                   counter: '(0)',
                   class: 'disabled'
                },
                {
                   name:'Apavisa',
                   counter: '(374)'
                },
                {
                   name:'Argenta',
                   counter: '(121)'
                },
                {
                   name:'Atrium ',
                   counter: '(96)'
                },
                {
                   name:'Azteca',
                   counter: '(282)'
                },
            ],
            class:'arrow-rotate',
        },
        {
            title:'Тип продукції',
            sublist: [
                {
                   name:'Плитка',
                   counter: ''
                },
                {
                   name:'Клінкер',
                   counter: ''
                },
                {
                   name:'Мозаїка',
                   counter: ''
                },
                {
                   name:'Будхімія',
                   counter: ''
                },
            ],
            class:'arrow-rotate',
        },
    ]
    var adressPoints = [
        'Відділення №1, ул. Князя Володимира,1',
        'Відділення №2, вул. Чорновола, б. 14/16',
        'Відділення №4, вул. Відінська, б. 5в',
        'Відділення №5, просп. Миру, б. 12',
        'Відділення №6, вул. Київська, б. 44',
        'Відділення №6, вул. Київська, б. 44',
        'Відділення №6, вул. Київська, б. 44',
        'Відділення №6, вул. Київська, б. 44',
        'Відділення №5, просп. Миру, б. 12'
    ]
    var orderItems = [
        {
            name: 'Товарів',
            number: '3'
        },
        {
            name: 'Сума',
            number: '2 100 грн.'
        },
    ]
    var accountItems = [
        {
            image:'<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.5859 14.377C17.9956 13.7868 17.0078 13.2717 15.4506 12.4928C14.6656 12.1003 13.3591 11.4473 13.0423 11.1482C14.3687 9.51789 15.1386 7.67647 15.1386 6.06458C15.1386 4.97082 15.1386 3.60972 14.5264 2.3958C13.9745 1.30251 12.7412 0 10.0003 0C7.25876 0 6.02548 1.30251 5.47423 2.39564C4.86127 3.60972 4.86127 4.97066 4.86127 6.06442C4.86127 7.67694 5.63048 9.51789 6.95767 11.1481C6.64017 11.4477 5.33377 12.1009 4.54877 12.4926C2.99205 13.2714 2.00425 13.7865 1.41347 14.3768C0.105814 15.6854 0.00690822 17.8809 0.000189487 18.3081C-0.00652924 18.7537 0.165658 19.1845 0.479407 19.5031C0.791906 19.8205 1.2205 20 1.66612 20H18.3331C18.78 20 19.2075 19.8206 19.5206 19.5031C19.8337 19.1845 20.0065 18.7536 19.9998 18.3075C19.9931 17.8811 19.8934 15.6856 18.5859 14.377ZM18.6304 18.6256C18.5511 18.7056 18.4454 18.7501 18.3331 18.7501H1.66612C1.55565 18.7501 1.44768 18.705 1.37003 18.6256C1.29253 18.5469 1.24862 18.4383 1.24972 18.3272C1.25331 18.1178 1.31081 16.2483 2.29737 15.2614C2.75284 14.8061 3.70627 14.3123 5.10799 13.6109C6.60423 12.8632 7.43391 12.4176 7.8161 12.0563L8.65969 11.2587L7.92719 10.359C6.77345 8.94179 6.11111 7.37615 6.11111 6.06458C6.11111 5.05316 6.11111 3.90753 6.5897 2.95909C7.16282 1.82501 8.30922 1.25001 10.0003 1.25001C11.69 1.25001 12.8376 1.82501 13.4103 2.95846C13.8889 3.90753 13.8889 5.05316 13.8889 6.06458C13.8889 7.37568 13.2272 8.94116 12.072 10.359L11.3395 11.2593L12.1833 12.0565C12.5653 12.4173 13.3944 12.8628 14.8912 13.611C16.2929 14.3117 17.2464 14.8056 17.7018 15.2615C18.5047 16.0642 18.7384 17.5662 18.7493 18.3273C18.7514 18.4383 18.7079 18.5469 18.6304 18.6256Z" fill="white"/></svg>',
            name:'Особиста інформація',
            id: '#selfInfo',
            class: 'active'
        },
        {
            name:'Мої замовлення',
            id: '#myOrders',
            class: '',
            image:'<svg width="17" height="22" viewBox="0 0 17 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.04926 8.45212C7.78113 8.18399 7.34526 8.18262 7.07576 8.45074L4.81251 10.7154L3.92426 9.82574C3.65613 9.55762 3.22026 9.55762 2.95213 9.82574C2.68401 10.0939 2.68401 10.5297 2.95213 10.7979L4.32713 12.1729C4.46051 12.3076 4.63651 12.375 4.81251 12.375C4.98851 12.375 5.16451 12.3076 5.29926 12.1742L8.04926 9.42424C8.31738 9.15612 8.31738 8.72024 8.04926 8.45212Z" fill="white"/><path d="M8.04926 13.9521C7.78113 13.684 7.34526 13.6826 7.07576 13.9507L4.81251 16.2154L3.92426 15.3271C3.65613 15.059 3.22026 15.059 2.95213 15.3271C2.68401 15.5952 2.68401 16.0311 2.95213 16.2992L4.32713 17.6742C4.46051 17.8076 4.63651 17.875 4.81251 17.875C4.98851 17.875 5.16451 17.8076 5.29926 17.6742L8.04926 14.9242C8.31738 14.6561 8.31738 14.2202 8.04926 13.9521Z" fill="white"/><path d="M13.0625 9.625H10.3125C9.933 9.625 9.625 9.933 9.625 10.3125C9.625 10.692 9.933 11 10.3125 11H13.0625C13.442 11 13.75 10.692 13.75 10.3125C13.75 9.933 13.442 9.625 13.0625 9.625Z" fill="white"/><path d="M13.0625 15.125H10.3125C9.933 15.125 9.625 15.433 9.625 15.8125C9.625 16.192 9.933 16.5 10.3125 16.5H13.0625C13.442 16.5 13.75 16.192 13.75 15.8125C13.75 15.433 13.442 15.125 13.0625 15.125Z" fill="white"/><path d="M15.125 2.75H12.375V2.0625C12.375 1.683 12.067 1.375 11.6875 1.375H10.1956C9.911 0.57475 9.1465 0 8.25 0C7.3535 0 6.589 0.57475 6.30438 1.375H4.8125C4.433 1.375 4.125 1.683 4.125 2.0625V2.75H1.375C0.617375 2.75 0 3.36737 0 4.125V20.625C0 21.3826 0.617375 22 1.375 22H15.125C15.8826 22 16.5 21.3826 16.5 20.625V4.125C16.5 3.36737 15.8826 2.75 15.125 2.75ZM5.5 2.75H6.875C7.2545 2.75 7.5625 2.442 7.5625 2.0625C7.5625 1.683 7.8705 1.375 8.25 1.375C8.6295 1.375 8.9375 1.683 8.9375 2.0625C8.9375 2.442 9.2455 2.75 9.625 2.75H11V4.125H5.5V2.75ZM15.125 20.625H1.375V4.125H4.125V4.8125C4.125 5.192 4.433 5.5 4.8125 5.5H11.6875C12.067 5.5 12.375 5.192 12.375 4.8125V4.125H15.125V20.625Z" fill="white"/></svg>'
        },
        {
            name:'Список бажань',
            id: '#wishList',
            class: '',
            image:'<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 16C8.74336 16 8.49727 15.9087 8.30391 15.7401C7.57617 15.1043 6.87656 14.5071 6.25781 13.9802L6.2543 13.9767C4.44023 12.4347 2.87578 11.0999 1.78594 9.78617C0.566016 8.31789 0 6.92689 0 5.40593C0 3.92711 0.50625 2.56422 1.42734 1.56663C2.35898 0.554994 3.63867 0 5.02734 0C6.06797 0 7.01719 0.326674 7.85391 0.976509C8.27578 1.30318 8.65898 1.70362 8.99648 2.1708C9.33398 1.70362 9.71719 1.30318 10.1391 0.976509C10.9828 0.326674 11.932 0 12.9727 0C14.3613 0 15.641 0.554994 16.5727 1.56663C17.4937 2.56422 18 3.92711 18 5.40593C18 6.92689 17.434 8.31789 16.2141 9.78617C15.1242 11.0999 13.5598 12.4347 11.7457 13.9767C11.127 14.5036 10.4238 15.1008 9.69609 15.7401C9.50273 15.9087 9.25664 16 9 16ZM5.02734 1.05379C3.9375 1.05379 2.93203 1.48935 2.2043 2.27969C1.4625 3.08408 1.05469 4.19407 1.05469 5.40593C1.05469 6.68452 1.5293 7.82964 2.59805 9.11526C3.62812 10.3587 5.16445 11.6654 6.93984 13.1759L6.94336 13.1794C7.56563 13.7098 8.26875 14.3069 9 14.9462C9.73828 14.3034 10.4414 13.7063 11.0637 13.1759C12.8391 11.6619 14.3719 10.3587 15.4055 9.11526C16.4707 7.82964 16.9488 6.68452 16.9488 5.40593C16.9488 4.19407 16.541 3.08408 15.7992 2.27969C15.068 1.48935 14.0625 1.05379 12.9727 1.05379C12.1711 1.05379 11.4363 1.3067 10.7895 1.809C10.2129 2.2551 9.80859 2.82064 9.57305 3.21405C9.45 3.41778 9.23906 3.53721 9 3.53721C8.76094 3.53721 8.55 3.41427 8.42695 3.21405C8.19141 2.81712 7.78711 2.2551 7.21055 1.809C6.56367 1.3067 5.82891 1.05379 5.02734 1.05379Z" fill="white"/></svg>'
        },
        {
            name:'Вихід',
            id:'javascript:void(0)',
            image:'<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.146955 8.60134C0.143281 8.60502 0.14328 8.60502 0.139606 8.60869C0.128583 8.62339 0.117562 8.63441 0.110213 8.64911C0.106539 8.65278 0.106538 8.65646 0.102865 8.66013C0.0955157 8.67483 0.0844931 8.68952 0.0771441 8.70422C0.0771441 8.7079 0.0734705 8.71157 0.0734705 8.71157C0.0661225 8.72627 0.0587734 8.74096 0.0514254 8.75933C0.0514254 8.76301 0.0514254 8.76301 0.0477509 8.76668C0.0404028 8.78138 0.0367283 8.79975 0.0293802 8.81812C0.0293802 8.8218 0.0293793 8.82547 0.0257057 8.82547C0.0220312 8.84384 0.0146832 8.85854 0.0146832 8.87691C0.0146832 8.88426 0.0146832 8.88793 0.0110086 8.89528C0.00733414 8.90998 0.00733413 8.92467 0.00365963 8.93937C-1.39289e-05 8.96142 -1.39305e-05 8.97979 -1.39324e-05 9.00183C-1.39344e-05 9.02388 -1.3936e-05 9.04225 0.00365962 9.0643C0.00365961 9.07899 0.00733412 9.09369 0.0110086 9.10839C0.0110086 9.11573 0.0110086 9.11941 0.0146831 9.12676C0.0183576 9.14513 0.0220312 9.15982 0.0257057 9.1782C0.0257057 9.18187 0.0257057 9.18554 0.0293802 9.18554C0.0330538 9.20392 0.0404028 9.21861 0.0477508 9.23698C0.0477508 9.24066 0.0477508 9.24066 0.0514253 9.24433C0.0587734 9.25903 0.0661224 9.2774 0.0734705 9.2921C0.0734705 9.29577 0.077144 9.29944 0.077144 9.29944C0.084493 9.31414 0.0918411 9.32884 0.102865 9.34354C0.106538 9.34721 0.106539 9.35088 0.110213 9.35456C0.121235 9.36926 0.128583 9.38395 0.139606 9.39498C0.14328 9.39865 0.143281 9.39865 0.146955 9.40232C0.161652 9.41702 0.172675 9.43539 0.191045 9.45009L3.82485 13.0802C4.07102 13.3264 4.47151 13.3264 4.71768 13.0802C4.96385 12.834 4.96385 12.4336 4.71768 12.1874L2.16043 9.63012L12.327 9.63013C12.676 9.63013 12.959 9.34721 12.959 9.00183C12.959 8.65278 12.676 8.36987 12.327 8.36987L2.15675 8.36987L4.69564 5.83098C4.94181 5.58481 4.94181 5.18432 4.69564 4.93815C4.57439 4.8169 4.41272 4.75444 4.25106 4.75444C4.08939 4.75444 3.92773 4.8169 3.80648 4.93815L0.19472 8.5499C0.176348 8.57195 0.161652 8.58665 0.146955 8.60134Z" fill="white"/><path d="M13.286 16.7397L8.58297 16.7397C8.23392 16.7397 7.951 17.0227 7.951 17.368C7.951 17.7171 8.23392 18 8.58297 18L13.286 18C15.1708 18 16.7067 16.4642 16.7067 14.5793L16.7067 3.4207C16.7067 1.53583 15.1708 3.68043e-06 13.286 3.51565e-06L8.66013 3.11125e-06C8.31108 3.08073e-06 8.02816 0.282918 8.02816 0.628295C8.02816 0.977346 8.31108 1.26026 8.66013 1.26026L13.286 1.26026C14.4764 1.26026 15.4464 2.23026 15.4464 3.4207L15.4464 14.5793C15.4427 15.7734 14.4764 16.7397 13.286 16.7397Z" fill="white"/></svg>'
        },
    ]
    var cityList = [
        'Рівне',
        'Київ',
        'Житомир',
    ]
    var adressItems = [
        {
            city: 'Рівне',
            name: '«Атіта»,',
            adress: 'вул. Крейдяна, 9',
            type: 'Салон-магазин',
            phone: [
                {
                    tel:'tel:0631757606',
                    num: '+380 (63) 175 76 06',
                },
                {
                    tel:'tel:0503751399',
                    num: '+380 (63) 175 76 06',
                },
                {
                    tel:'tel:0974148038',
                    num: '+380 (97) 414 80 38',
                }
            ]
        },
        {
            city: 'Рівне',
            name: '«Мірад»,',
            adress: 'вул. Дубенська, 3',
            type: 'Магазин',
            phone: [
                {
                    tel:'tel:0503756022',
                    num: '+380 (50) 375 60 22',
                },
                {
                    tel:'tel:0967023047',
                    num: '+380 (96) 702 30 47',
                }
            ]
        },
        {
            city: 'Рівне',
            name: '«Мірад»,',
            adress: 'вул. Відінська, 50',
            type: 'Магазин',
            phone: [
                {
                    tel:'tel:0959426086',
                    num: '+380 (95) 942 60 86',
                },
                {
                    tel:'tel:0689589567',
                    num: '+380 (68) 958 95 67',
                },
            ]
        },
    ]
    
    var sitemapListFirst = [
        {
            title: 'Плитка',
            list: [
                {
                    title: 'Плитка для ванной',
                    list: [
                        'Ceramika Paradyz',
                        'Cerrad',
                        'Cersanit',
                        'Opoczno',
                        'Интеркерама'
                    ]
                },
                {
                    title: 'Плитка для кухни',
                    list: [
                        'Ceramika Paradyz',
                        'Cersanit',
                        'Opoczno',
                        'Интеркерама'
                    ]
                },
                {
                    title: 'Плитка для пола',
                    list: [
                        'Ceramika Paradyz',
                        'Cerrad',
                        'Opoczno',
                        'Интеркерама'
                    ]
                },
                {
                    title: 'Фасадная плитка',
                    list: [
                        'Cerrad'
                    ]
                },
                {
                    title: 'Гостиная',
                    list: [
                        'Opoczno'
                    ]
                },
                {
                    title: 'Клинкер',
                    list: [
                        'Ceramika Paradyz',
                        'Cerrad',
                        'Opoczno'
                    ]
                },
                {
                    title: 'Мозаика',
                    list: [
                        'Ceramika Paradyz'
                    ]
                },
                {
                    title: 'Плитка для бассейнов',
                    list: [
                        'Ceramika Paradyz'
                    ]
                }
            ]
        }
    ]
    var sitemapListSecond = [
        {
            title: 'Сантехника',
            list: [
                {
                    title: 'Биде',
                    list: [
                        'Cersanit',
                        'Kolo'
                    ]
                },
                {
                    title: 'Мебель для ванной',
                    list: [
                        '1Cersanit'
                    ]
                },
                {
                    title: 'Панель',
                    list: [
                        'Cersanit'
                    ]
                },
                {
                    title: 'Полотенцесушители',
                    list: [
                        'Margaroli',
                        'Марио',
                        'Электрические полотенцесушители'
                    ]
                },
                {
                    title: 'Ванны',
                    list: [
                        'KOLLER POOL',
                        'Прямоугольные ванны',
                        'Угловые ванны'
                    ]
                },
                {
                    title: 'Унитазы',
                    list: [
                        'Cersanit',
                        'Kolo',
                        'Villeroy&Boch'
                    ]
                },
                {
                    title: 'Раковины',
                    list: [
                        'Cersanit',
                        'Kolo'
                    ]
                },
                {
                    title: 'Смесители',
                    list: [
                        'GROHE',
                        'Imprese',
                        'Invena',
                        'Кухонные смесители',
                        'Смесители для ванны',
                        'Смесители для душа',
                        'Смесители для умывальника'
                    ]
                },
                {
                    title: 'Душевые кабины',
                    list: [
                        'GROHE'
                    ]
                }
            ]
        }
    ]
    var sitemapListThird = [
        {
            title: 'Сопутствующие товары',
            list: [
                {
                    title: '',
                    list: [
                        'Затирки',
                        'Клей',
                        'Средства по уходу за плиткой'
                    ]
                },
                {
                    title: 'Акции',
                },
                {
                    title: 'Личный кабинет',
                    list: [
                        'Личная информация',
                        'Пароль',
                        'Мои адреса',
                        'История заказов',
                        'Файлы для скачивания'
                    ]
                },
                {
                    title: 'Корзина'
                },
                {
                    title: 'Оформление заказа'
                },
                {
                    title: 'Поиск'
                },
                {
                    title: 'Информация',
                    list: [
                        'Наши Контакты',
                        'Оплата и доставка',
                        'Наши контакты'
                    ]
                }
            ]
        }
    ]