/* Avenir Next Cyr */

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/avenirnextcyr/bold/avenirnextcyr.woff2') format('woff2'),
    url('../fonts/avenirnextcyr/bold/avenirnextcyr.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/avenirnextcyr/demi/avenirnextcyr.woff2') format('woff2'),
    url('../fonts/avenirnextcyr/demi/avenirnextcyr.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/avenirnextcyr/heavy/avenirnextcyr.woff2') format('woff2'),
    url('../fonts/avenirnextcyr/heavy/avenirnextcyr.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/avenirnextcyr/light/avenirnextcyr.woff2') format('woff2'),
    url('../fonts/avenirnextcyr/light/avenirnextcyr.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/avenirnextcyr/medium/avenirnextcyr.woff2') format('woff2'),
    url('../fonts/avenirnextcyr/medium/avenirnextcyr.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/avenirnextcyr/regular/avenirnextcyr.woff2') format('woff2'),
    url('../fonts/avenirnextcyr/regular/avenirnextcyr.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/avenirnextcyr/thin/avenirnextcyr.woff2') format('woff2'),
    url('../fonts/avenirnextcyr/thin/avenirnextcyr.woff') format('woff');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}


