//@import 'footer/_logo32x32.scss';
.footer {
    //height: 89px;
    background: $base;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.08);
    position: fixed;
    bottom: 0;
    z-index: 95;
    width: 100%;

    &--main {
        display: block;
    }

    &__main {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;


        @media (min-width: 720px) {
            flex-flow: row nowrap;
        }
    }

    &__logo {
        flex-shrink: 0;
        display: none;
    }

    &__menu {
        margin-top: 0;
        text-align: center;
        flex-grow: 1;

        .primary {
            &-menu {
                .item {
                    padding: 0 10px;
                }
                .list {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                }
                .link {
                    padding-top: 8px;
                    color: $grayLighter;
                    text-decoration: none;
                    font-size: $fontSizeExtraSmall;
                }
            }
        }
    }

    &__logo32x32 {
        flex-shrink: 0;
        display: none;
    }

    @media (min-width: 480px) {
        &__menu {

            .primary {
                &-menu {
                    .link {
                        font-size: $fontSizeBase;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {

        &__main {
            flex-flow: row nowrap;
        }
    }

    @media (min-width: 1024px) {

        background: $brandPrimary;
        box-shadow: none;
        position: relative;
        bottom: auto;

        &--main {
            display: none;
        }

        &__main {
            align-items: center;
        }

        &__logo,
        &__logo32x32 {
            display: block;
        }

        &__menu {
            .primary {
                &-menu {
                    .list {
                        justify-content: center;

                        .item {
                            padding: 0 20px;
                            img {
                                display: none;
                            }
                            &:last-child {
                                display: none;
                            }
                        }
                        .link {
                            font-size: $fontSizeLarge;
                            color: $base;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
