.layout {
    position: relative;
    min-width: 320px;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;

    .parallax {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../../data/parallax/5.png) no-repeat;
        background-size: cover;
        position: relative;

        img {
            position: absolute;
            left: -30px;
            max-width: inherit;
            display: none;
        }
    }

    &__box {
        position: relative;

        h3 {
            font-size: $fontSizeH3;
            font-weight: 400;
        }

        &--example {
            display: flex;
        }

        &-content {
            padding: 0 0 0 17px;
            flex-grow: 1;
        }

        &-apartment {
            position: relative;
            z-index: 2;

            .description {
                &-aside {
                    padding-top: 0;
                    margin-left: 0;
                    max-width: none;

                    &__apartment {
                        flex-wrap: wrap-reverse;
                        align-items: center;
                    }

                    &__map {
                        max-width: none;
                        width: 100%;
                    }
                }
            }
        }

        &-recomended {
            margin: 0 -13px;
            display: flex;
            flex-wrap: wrap;
        }

        &-card {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
        }

        &-basket {
            display: flex;
            flex-wrap: wrap;

            div {
                flex-grow: 1;
            }
        }

        &-order {
            form {
                padding: 0 15px;
            }

            h3 {
                font-size: $fontSizeH3;
                font-weight: 400;
            }

            .delivery {
                margin-top: 0;
                width: 100%;
                max-width: 477px;

                .form-group {

                    justify-content: flex-start;
                    padding-left: 0;

                    label {
                        margin: 0 20px;

                        &:first-child {
                            margin: 0 20px;
                        }
                    }
                }
            }
        }
    }

    &--scrollmagic {
        height: 100%;
        margin: 0;
        overflow: hidden;

        main {
            height: 100%;
            margin: 0;
        }

        .header {

            &__searchButton {
                display: block;
            }
        }
    }

    &.l-active {
        padding-top: 6px;
    }

    progress {
        max-width: 1920px;
        width: 100%;
        height: 6px;
        background: rgba(95, 180, 110, 0.25);
        position: absolute;
        bottom: 0;
    }

    //Стили для заголовков
    h1 {
        font-size: $checkboxSize;
        color: $grayDarker;
    }

    // Добавить .checked для стилизации чекбоксов
    .checked {
        input[type=checkbox] {
            order: -1;
            width: 24px;
            height: 24px;
            border: 1px solid $grayLight;
            background: $base;
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;

            &:checked {
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 14px;
                    background: url(../images/check.svg)no-repeat;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    // Стили для кнопки
    .button {
        display: inline-block;
        text-align: center;
        background: $brandPrimary;
        color: $base;
        font-size: $fontSizeLarge;
        border-radius: 5px;
        border: none;
        line-height: 60px;
        padding: 0 20px;
        position: relative;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }

    // Стили для сердечка
    .like {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        border: 2px solid $base;
        position: relative;
        margin-left: 8px;
        flex-shrink: 0;


        &:hover {
            cursor: pointer;
        }

        &:before {
            content: '';
            width: 30px;
            height: 26px;
            position: absolute;
            //background: 26px 30px url(../images/route/heart.svg)no-repeat;
            background: url(../images/route/heart.svg)no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.active {
            &:before {
                background: url(../images/route/heart1.svg)no-repeat;
            }
        }
    }

    .eye,
    .chat {
        position: relative;
        padding-left: 12px;
        margin: 0 20px;
        text-decoration: none;
        color: $grayLighter;

        &:before {
            content: '';
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -20px;
        }
    }

    // Стили для иконки просмотров
    .eye {
        &:before {
            background: url(../images/route/eye.svg)no-repeat;
            filter: grayscale(100%) brightness(110%) contrast(0.5);
            transform: translateY(-50%) scale(0.7);
        }
    }

    // Стили для иконки чата
    .chat {
        &:before {
            background: url(../images/route/com.svg)no-repeat;
            filter: grayscale(100%) brightness(110%) contrast(0.5);
            transform: translateY(-50%) scale(0.7);
        }
    }

    // Стили для показа геолокации
    .geo {
        padding-left: 20px;
        text-decoration: none;
        color: $grayLighter;
        transition: all .2s;

        &:before {
            content: '';
            width: 14px;
            height: 19px;
            position: absolute;
            background: url(../images/route/geo.svg)no-repeat;
            top: 50%;
            margin-top: -9px;
            left: 0;
        }

        &:hover {
            text-decoration: underline;

            &:before {
                animation-name: bounce;
                transform-origin: center bottom;
                animation-duration: 1s;
                animation-fill-mode: both;
            }
        }
    }

    // Стили для цены
    .price {
        color: $brandPrimary;
        font-size: 28px;
        white-space: nowrap;
    }

    // Стили для плашки размеров
    .size {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4px;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid rgba(153, 153, 153, 0.5);
        font-size: $fontSizeLarge;
        position: relative;

        label {
            position: relative;
            width: 100%;
            height: 100%;
            line-height: 1.5;
            margin: 0 5px;
            text-align: center;
            top: 0;
            left: 0;
        }

        input[type=radio] {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            &:checked {

                &+label {
                    background: $brandPrimary;
                    color: $base;
                }
            }
        }
    }

    // Стили для выбора цвета
    .color {
        position: relative;

        label {
            width: 28px;
            height: 24px;
            border-radius: 3px;
            margin: 4px;
            position: relative;
            display: inline-block;
        }

        input[type=radio] {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            &:checked {

                &+label {
                    background: url(../images/container/check.svg)no-repeat center center;
                }
            }
        }
    }

    &--store {

        // .header {
        //     margin-bottom: -92px;
        //     background: transparent;
        // }
        .tab {
            &-item {
                margin: 5px;

                &.active {
                    .tab {
                        &-link {
                            font-weight: 700;
                            color: $brandPrimary;
                        }
                    }
                }
            }

            &-list {
                justify-content: center;
                flex-wrap: wrap;
            }

            &-link {
                text-decoration: none;
                font-size: $fontSizeH3;
                color: $grayDarker;
            }

            // Настройка контейнера
            &-box {
                //display: flex;
                display: none;
                flex-wrap: wrap;
                margin: 0 -13px;

                &.active {
                    display: flex;
                }
            }
        }
    }

    @media (min-width: 480px) {
        h1 {
            font-size: $fontSizeH2;
        }

        &__box {
            &-order {
                .delivery {
                    .form-group {
                        flex-direction: row;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {

        &__box {

            &-apartment {

                .description {

                    &-aside {

                        &__apartment {
                            flex-wrap: nowrap;
                            align-items: flex-start;
                        }

                        &__wrapper {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 960px) {
        &__box {
            &-card {
                flex-wrap: nowrap;
                justify-content: flex-start;
            }
        }
    }

    @media (min-width: 1024px) {
        padding-bottom: 0;

        .eye,
        .chat {
            color: $base;

            &:before {
                filter: unset;
                transform: translateY(-50%) scale(1);
            }
        }

        .geo {
            color: rgba(255, 255, 255, 0.75);
        }

        &--store {
            .tab {
                &-item {
                    margin: 25px;
                }

                &-list {
                    flex-wrap: nowrap;
                }
            }
        }

        &__box {
            &-order {
                form {
                    padding: 0;
                }
            }
        }

        .parallax {

            background-size: 100% 150%;

            img {
                display: inline;
            }
        }
    }

    @media (min-width: 1320px) {
        &__box {
            &-basket {
                margin-bottom: 80px;
                flex-wrap: nowrap;
            }
        }
    }

    @media (min-width: 1560px) {
        .parallax {
            img {
                width: calc(100% + 60px);
            }
        }
    }
}

#footer {
    //position: relative;
    min-width: 320px;
    flex-shrink: 0;
}

#gl {

    canvas {
        height: 100vh !important;
    }
}

%flex {
    display: flex;
    flex-flow: row wrap;
}

.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    background-color: $brandPrimary;
    width: 2px;
    border-radius: 0;
}

.ps:hover>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y {
    background-color: $brandPrimary;
}

.ps>.ps__scrollbar-x-rail>.ps__scrollbar-x {
    background-color: $brandPrimary;
    height: 2px;
    border-radius: 0;
}

.ps>.ps__scrollbar-x-rail,
.ps>.ps__scrollbar-y-rail {
    opacity: 0.6;
}

.perfect-scrollbar-modal>.ps__scrollbar-y-rail {
    top: 0 !important;
}

.select2-container {
    z-index: 101;
}

.button {
    display: inline-block;
    text-align: center;
    background: $brandPrimary;
    color: $base;
    font-size: $fontSizeLarge;
    border-radius: 5px;
    border: none;
    line-height: 60px;
    padding: 0 20px;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

.like {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid $base;
    position: relative;
    margin-left: 8px;
    flex-shrink: 0;

    &:hover {
        cursor: pointer;
    }

    &:before {
        content: '';
        width: 30px;
        height: 26px;
        position: absolute;
        background: url(../images/route/heart.svg)no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.active {
        &:before {
            background: url(../images/route/heart1.svg)no-repeat;
        }
    }
}

.like-green {
    width: 31px;
    height: 26px;
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    margin: 0 0 -4px 0;
    flex-shrink: 0;

    &:hover {
        cursor: pointer;
    }

    &:before {
        content: '';
        width: 18px;
        height: 15px;
        position: absolute;
        background: url(../images/container/favorite-icon-white.svg)no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.active {
        &:before {
            background: url(../images/container/favorite-icon-white-active.svg)no-repeat;
        }
    }

    @media (min-width: 768px) {
        background: transparent;
        border-radius: 0;
        padding: 0;
        width: 30px;
        height: 26px;

        &:before {
            content: '';
            width: 30px;
            height: 26px;
            position: absolute;
            background: url(../images/container/favorite-icon.svg)no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.active {
            &:before {
                background: url(../images/container/favorite-icon-active.svg)no-repeat;
            }
        }
    }
}

.schema {
    display: none !important;
}

// .deviceFilter {
//     position: fixed;
//     z-index: 102;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background: rgba(0, 0, 0, .5);
//     background: rgba(18, 18, 18, 0.75);
//     backdrop-filter: blur(8px);
// }

.swiper-wrapper.disabled {
    transform: translate3d(0px, 0, 0) !important;
}
.swiper-button-prev.swiper-button-disabled.disabled,
.swiper-button-next.swiper-button-disabled.disabled {
    display: none;
}
.swiper-button-prev.disabled,
.swiper-button-next.disabled {
    display: none;
}
//>1024px
@media (min-width: $screenMdMin) {
    .hide-md-min {
        display: none !important;
    }

}

@media (max-width: $screenMdMax) {
    .hide-md-max {
        display: none !important;
    }
}

@keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -7px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}
