.modaal {

    &-gallery {
        &-next,
        &-prev {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-inline {
        &--modifier {
            .modaal {

                &-content {
                    &-container {
                        padding: 0;
                    }
                }

                &-container {
                    max-width: 740px;
                    border-radius: 20px;
                }
            }
        }
    }
}
