.select2 {
    &-container {
        width: 100% !important;
        position: absolute;
        z-index: 3;

        &--default {
            .select2-selection--single {
                height: $formControlHeight;
                border: none;
                border-bottom: 1px solid $redFormBorderColor;
                background-color: transparent;
                border-radius: 0;
                outline: none;

                .select2-selection__rendered {
                    line-height: $formControlHeight;
                    padding-left: 17px;
                }
                .select2-selection__arrow {
                    height: $formControlHeight;
                    right: 3px;

                    b {
                        transform: translate(-50%, -50%);
                        transition: all .3s;
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 9px solid #fff;
                        margin: 0;
                    }
                }
            }

            .select2-search--dropdown {
                .select2-search__field {
                    border: 1px solid $redFormBorderColor;
                    padding: 4px 13px 4px 13px;
                    height: 32px;
                }
            }

            .select2 {
                &-results {
                    &__option {
                        color: $brandDarkenBlue;
                        background-color: $base;
                        position: relative;
                        font-size: $fontSizeSmall;
                        font-weight: bold;
                        display: flex;
                        align-items: center;

                        &--highlighted {
                            background-color: $grayLighter;
                            color: $base;

                            &[aria-selected] {
                                background-color: $grayLighter;
                                color: $brandDarkBlue;
                            }
                        }

                        &.select2-results__message {
                            background-color: $grayLighter;
                            color: $base;
                        }

                        &[aria-selected=true] {
                            background-color: $grayLighter;
                            color: $brandDarkBlue;
                        }
                    }

                    > .select2-results__options {
                        position: relative;
                        margin: 7px 10px 7px 0;
                        padding: 0 10px 0 0;

                        &::-webkit-scrollbar {
                            width: 10px;
                        }

                        &::-webkit-scrollbar-track {
                            background-color: $base;
                            width: 10px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: $lineColor;
                            border-radius: 0;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background-color: $lineColor;
                        }
                    }
                }
            }

            &.select2-container--open {
                .select2-selection--single {
                    .select2-selection__arrow {
                        right: 11px;

                        b {
                            transform: translate(-50%, -50%) rotate(180deg);
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-top: 9px solid $brandPrimary;
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        &--open {
            .select2-selection--single {
                border-bottom-color: $base;
            }

            &.select2-container--open {
                width: calc(100% + 16px) !important;
                background: $base;
                left: -8px;

                + label {
                    &.control-label {
                        color: #ee2f58;
                        z-index: 4;
                    }
                }
            }
        }
    }

    &-results {
        &__option {
            height: $formControlHeight;
            line-height: 28px;
            padding: 6px 8px 6px 8px;
            text-transform: uppercase;
        }
    }

    &-dropdown {
        border: 1px solid $base;

        &.select2 {
            &-dropdown {
                &--below {
                    background: $base;

                    &:before {
                        content: '';
                        position: absolute;
                        width: calc(100% - 16px);
                        height: 1px;
                        left: 50%;
                        top: 0;
                        transform: translateX(-50%);
                        background: #ee2f58;
                        z-index: 1;
                    }

                    .ps {
                        > .ps__scrollbar-y-rail {
                            width: 22px;

                            &:hover {
                                > .ps__scrollbar-y {
                                    width: 8px;
                                }
                            }

                            > .ps__scrollbar-y {
                                right: 7px;
                                width: 8px !important;
                                border-radius: 0;
                                background-color: $brandFormBlue !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
