.footerMenu {

    &__list {

    }

    &__item {
        margin-bottom: 11px;
    }

    &__link {
        color: $base;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
