.address {
    position: relative;
    white-space: nowrap;
    color: $base;
    &.dark {
        color: $grayDark;
    }
    &--pointer {
        padding: 0 0 0 24px;

        &:before {
            position: absolute;
            content: '';
            width: 15px;
            height: 21px;
            left: 0;
            top: 0;
            background: url(../images/icons/place.svg) no-repeat;
        }
    }
}
