.bout {

	ul {
		border-bottom: 1px solid $grayLighter;
		padding-bottom: 4px;

		li {
			display: flex;
			align-items: flex-start;
			margin-bottom: 15px;

			span {
				font-weight: bold;
				font-size: $fontSizeBase;
				line-height: 22px;
				color: $grayDark;

				&:first-child {
					color: $grayDark;
				}

				&:nth-child(2) {
					flex-grow: 1;
					//border-bottom: 2px dotted #C3C3C3;
					//margin: 0 5px 9px 5px;
					align-self: flex-end;
					min-width: 15px;
				}

				&:nth-child(3) {
					font-weight: normal;
				}
			}
		}
	}
}
