.enter {

	display: none;

	a {
		color: $base;
		font-size: $fontSizeExtraSmall;
		font-weight: 700;
		text-decoration: none;
		position: relative;
		background: linear-gradient($base,$base)no-repeat;
		background-size: 100% 1px;
		background-position: 0 1.15em;

		&:hover {
			background: none;
		}
	}

	&__in {

		&:before{
		    content: '';
		    position: absolute;
		    top: 50%;
			left: -25px;
		    transform: translateY(-50%);
			background: url("../images/icons/user.svg")no-repeat;
		    width: 18px;
		    height: 18px;
		}

		&:after {
			content: '/';
			position: absolute;
			top: 50%;
			right: -15px;
			transform: translateY(-50%);
			color: $brandPrimary;
			font-size: $fontSizeExtraSmall;
		}
	}

	&__registration {
		margin: 0 0 0 20px;
	}

	@media (min-width: 1024px) {
		display: block;
	}
}
