.hotel-menu {
    position: relative;
    padding: 7px 0 7px 0;
    &:before {
       content:'';
       width: 300%;
       height: 1px;
       position: absolute;
       background:rgba(51, 42, 28, 0.2);
       bottom: 0;
       left: -100%;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            margin: 0 10px;
            font-weight: 500;
            &.active {
                font-weight: 800;
            }
            a {
                font-size: $fontSizeSmall;
                color: $grayDark;
                text-decoration: none;
            }
        }
    }
}
