.hotel {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__search {
        width: 100%;
        display: flex;
		flex-wrap: wrap;
        align-items: center;
        min-height: 80px;
        background: $grayBg;
        position: relative;

        &:before,
        &:after {
            content: '';
            height: 100%;
            width: 100%;
            background: $grayBg;
            position: absolute;
            top: 0;
        }

        &:before {
            left: -100%;
        }

        &:after {
            right: -100%;
        }

    }

	&__catalog {

		text-align: center;
		padding: 20px 0;


		h2 {
			font-size: $fontSizeLarge;
			color: $grayDark;
			font-weight: 700;
			margin: 0;
		}

		p {
			font-size: $fontSizeSmall;
			color: $grayDark;
		}

		.pin {
			max-width: 166px;
			margin: auto;
			color: $base;
			box-shadow: none;
		}
	}

    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    a {
        text-decoration: none;
        font-size: $fontSizeSmall;
        color: $grayLight;
        display: block;
        margin-bottom: 20px;
    }

    .popular {

        &__wrapper {
            margin-bottom: 30px;
            padding: 0;
            max-width: 570px;
            width: 100%;

            img {
                max-width: 570px;
                max-height: 500px;
                height: 100%;
            }
        }

        &__info {
            &-price {
                color: $bodyBg;
                font-size: $fontSizeH2;
            }
        }
    }

    @media (min-width: 600px) {
        .popular {
            width: 48%;
            margin: 0 5px;

            &__wrapper {
                flex-basis: 49%;
                max-width: none;
            }

            &__info {
                &-price {
                    font-size: $fontSizeBase;
                }
            }
        }
    }

    @media (min-width: 768px) {

        .popular {
            &__info {
                &-price {
                    font-size: $fontSizeH4;
                }
            }
        }

    }

    @media (min-width: 1200px) {

        .popular {
            &__wrapper {
                flex-basis: auto;
                max-width: 570px;
            }

            &__info {
                &-price {
                    font-size: $fontSizeH2;
                }
            }
        }

		&__catalog {
			padding: 56px 0;

			h2 {
				font-size: 32px;
			}
		}
    }
}
