.languages {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 -9px;
    padding: 15px 0;
    a {
        text-decoration: underline;
    }
    &__item {
        color: $brandPrimary;
        transition: color .3s;
        position: relative;
        padding: 0 9px;
        text-decoration: none;

        &:hover,
        &.active {
            color: $base;

        }
        &.active {
            display: inline-flex;
            align-items: center;

            &:before {
                position: relative;
                content: '';
                width: 5px;
                height: 5px;
                background: $base;
                border-radius: 50%;
                margin: 0 5px 0 0;
            }
        }
    }
    &--dark {
        .languages {
            &__item {
                color: $brandPrimary;
                &.active {
                    color: $grayBase;
                    &:before {
                        background: $grayBase;
                    }
                }
            }
        }
    }
}
