.menology {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;

	.pin {
		box-shadow: none;
	}

	.form-group {

		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		background: white;
		overflow: hidden;

		&.calendar {

			border: 1px solid rgba(51, 42, 28, 0.15);
			overflow: hidden;
			padding-top: 10px;

			::-webkit-inner-spin-button {
				-webkit-appearance: none;
				display: none;
			}

			::-webkit-calendar-picker-indicator {
				-webkit-appearance: none;
				opacity: 0;
			}

			&:first-child {
				border-right: 1px solid rgba(51, 42, 28, 0.15);
			}

			&:before {
				content: '';
				width: 34px;
				height: 34px;
				position: absolute;
				background: url(../images/reserve/calendar.svg)no-repeat;
				top: 50%;
				transform: translateY(-50%);
				left: 10px;
				z-index: 1;
			}

			input {
				border: none;
				padding: 0 0 10px 55px;
				position: relative;
				font-size: $fontSizeSmall;

				&::-webkit-input-placeholder {
					color: $grayDark;
				}

				&::-moz-placeholder {
					color: $grayDark;
				}

				&:-ms-input-placeholder {
					color: $grayDark;
				}
			}

			label {
				padding: 0 0 0 55px;
			}
		}

		label {
			//font-size: $fontSizeExtraSmall;
			font-size: $fontSizeH5;
			color: rgba(51, 42, 28, 0.5);
		}

		.arrow {
			position: absolute;
			width: 11px;
			height: 6px;
			right: 8px;
			transition: all .2s ease;
			cursor: pointer;

			&:before{
				left: auto;
				right: 0;
				top: 0;
				height: 6px;
				transition: all .2s ease;
			}
		}
	}

	&__room {
		display: flex;
		flex-direction: column;
		width: 100%;
		background: $base;


		.select2 {
			&-container {
				&--default {
					.select2 {
						&-selection {
							&--single {
								padding: 19px 0 0 51px;
							}
						}
					}
				}
			}
		}

		.select2-results__option {
			padding: 12px;
		}

		&:before {
			content: '';
			width: 28px;
			height: 39px;
			position: absolute;
			background: url(../images/reserve/lux.svg) no-repeat;
			top: 50%;
			transform: translateY(-50%);
			left: 12px;
		}

		label {
			color: $grayLight;
			font-size: $fontSizeExtraSmall;
			position: absolute;
			top: 0;
			left: 51px;
		}

		.form-control {
			font-size: $fontSizeSmall;
			color: $grayDark;
			border: none;
		}
	}

	&__quantity {
		display: flex;
		flex-direction: column;
		width: 100%;
		background: $base;
		padding: 0 5px 0 53px;
		position: relative;

		&:before {
			content: '';
			background: url("../images/icons/bed.svg")no-repeat;
			position: absolute;
			top: 50%;
			left: 9px;
			transform: translateY(-50%);
			width: 39px;
			height: 39px;
		}

		label {
			color: $grayLight;
			font-size: $fontSizeExtraSmall;
		}

		input[type=number] {
			border: none;
			font-weight: 500;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {

				-webkit-appearance: none;

			}
		}

		.button {

			&--plus,
			&--minus {
				position: absolute;
				right: 7px;
				background: url("../images/icons/arrow-sprite.svg")no-repeat;
				border: none;
				width: 11px;
				height: 6px;
				cursor: pointer;
			}

			&--plus {
				top: 12px;
				background-position: 0 0;
			}

			&--minus {
				bottom: 12px;
				background-position: 0px -8px;
			}

			&:before{
				content: '';
				position: absolute;
				width: 25px;
				height: 25px;
				transform: translate(-50%, -50%);
			}
		}
	}

	&--hotel {

		flex-wrap: wrap;

		.form-group {

			margin: 2px;

			&:not(&:last-child) {

				width: 100%;
				height: 50px;
				border: 1px solid rgba(51, 42, 28, 0.15);
				//margin: 0 16px 0 0;
			}
		}

		.pin {
			//max-width: 166px;
			min-height: 50px;
		}
	}

	@media (min-width: 375px) {



	}

	@media (min-width: $screenXsMin) {

		flex-direction: row;
		
		.form-group {

			width: 50%;

			&.calendar {

				&:before{
					//left: 18px;
				}

				input {
					//padding: 0 0 10px 65px;
				}

				label {
					//padding: 0 0 0 65px;
				}
			}
		}

		&--hotel {
			.form-group {
				width: 48%;
			}
		}
	}

	@media (min-width: 768px) {

		&--hotel {

			.form-group {

				&.menology {

					&__button {
						width: 100%;
						max-width: 166px;
					}
				}
			}
		}

		.form-group {

			label {
				font-size: $fontSizeExtraSmall;
			}
		}
	}

	@media (min-width: 960px) {
	    &--hotel {

			flex-wrap: nowrap;

			.form-group {

				&:not(&:last-child) {

					max-width: 235px;
					//margin: 0 16px 0 0;
				}
			}
		}
	}

	@media (min-width: 1200px) {
		&--hotel {

			.form-group {

				&:not(&:last-child) {

					margin: 0 16px 0 0;
				}
			}
		}
	}
}
