.pagin {
    margin: 60px 0;
    ul {
        display: flex;
        align-items: center;
        li {
            margin: 0 15px;
            font-size: $fontSizeLarge;
            &.active {
                font-size: $fontSizeH4;
            }
            a {
                text-decoration: none;
                color: $grayDark;
            }
            &.prev {
                background: url(../images/pagination/left.svg)no-repeat;
                width: 8px;
                height: 16px;
            }
            &.next {
                background: url(../images/pagination/right.svg)no-repeat;
                width: 8px;
                height: 16px;
            }
        }
    }
}
