.respond {
	display: flex;
	flex-flow: row wrap;
	max-width: 650px;
	margin: auto;

	&__info {
		width: 100%;
		margin-bottom: 9px;
	}

	&__effect {
		width: 100%;
		margin-bottom: 9px;
	}

	//1024px
	@media (min-width: $screenMdMin) {
		max-width: none;

		flex-flow: row nowrap;
		&__info {
			width: (650 / 1170) * 100%;
		}

		&__effect {
			width: (490 / 1170) * 100%;
			padding-left: 30px;
		}
	}
}
