.restourant-top {
    position: relative;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: 1024px) {
        &:before {
            content: '';
            width: 1px;
            height: 60px;
            position: absolute;
            background: $base;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &:after {
            content: '';
            width: 1px;
            height: 60px;
            position: absolute;
            background: $brandPrimary;
            bottom: -60px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
