.reserve {
    max-width: 330px;
    width: 100%;
    background: #fff;
    margin: auto;
    position: relative;

    .mfp-close {
        height: 16px;
        width: 16px;
        position: absolute;
        right: 5px;
        top: -10px;
    }

    form {

        .form-group {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-top: 10px;

            .help-block {
                display: none;
                font-size: 0;
            }

            &.has-error {

                input,
                textarea {
                    border-bottom: 1px solid red;
                }
            }

            &.face {
                &:before {
                   content:'';
                   width: 33px;
                   height: 39px;
                   position: absolute;
                   background: url(../images/reserve/face.svg)no-repeat;
                   top: 50%;
                   transform: translateY(-50%);
                   left: 20px;
                   z-index: 1;
                }
            }

            &.phone {
                &:before {
                    content: '';
                    width: 22px;
                    height: 37px;
                    position: absolute;
                    background: url(../images/reserve/phone.svg)no-repeat;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 24px;
                    z-index: 1;
                }
            }



            input {
                border: none;
                border-bottom: 1px solid rgba(51, 42, 28, 0.15);
                padding: 0 0 10px 65px;
                position: relative;
                font-size: $fontSizeSmall;
                &::-webkit-input-placeholder {
                    color: $grayDark;
                }
                &::-moz-placeholder {
                    color: $grayDark;
                }
                &:-ms-input-placeholder {
                    color: $grayDark;
                }
            }

            label {
                padding-left: 65px;
                font-size: $fontSizeExtraSmall;
                color: rgba(51, 42, 28, 0.5);
            }
        }
    }

    &__number {
        font-size: $fontSizeExtraSmall;
        color: rgba(51, 42, 28, 0.5);
        position: relative;
        padding: 0 20px 10px 65px;
        margin: 15px 0 0 0;

        .reserve__wrapper {
            border: none;
            font-size: $fontSizeSmall;
            color: $grayDark;
            padding: 0;
            .price {
                font-size: $fontSizeBase;
            }
            &:hover {
                outline: none;
            }
        }

        &:after {
            content: '';
            width: 28px;
            height: 39px;
            position: absolute;
            background: url(../images/reserve/lux.svg)no-repeat;
            top: 0;
            left: 20px;
        }

        &:hover {
            cursor: pointer;
        }

    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #EBEAE9;
        padding: 10px 0;
        &:hover {
            outline: 1px solid $brandPrimary;
            cursor: pointer;
        }
        .room {
            max-width: 200px;
        }
        .price {
            white-space: nowrap;
            font-size: $fontSizeBase;
            margin-right: 10px;
        }
    }

    &__list {

        color: $grayDark;
        display: none;
        li {
            font-size: $fontSizeSmall;
            position: relative;

            .reserve__wrapper {
                .room {
                    margin-left: 20px;
                }
            }

            &:before {
               content:'';
               width: 6px;
               height: 6px;
               position: absolute;
               background: url(../images/popup/dot.png)no-repeat;
               top: 22px;
               left: 8px;
               transform: translateY(-50%);
            }

            ul {
                display: none;
                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    margin: 0;
                    &:before {
                        display: none;
                    }
                    .reserve__wrapper {
                        .room {
                            padding-left: 20px;
                            font-size: $fontSizeSmall;
                        }
                        .price {
                            font-size: $fontSizeBase;
                        }
                    }
                }
            }
        }
    }

    .menology {

        .form-group {

            width: 49%;

            &.calendar {

                margin: 0;
                border: none;

                &:first-child {
                    border-right: 1px solid rgba(51, 42, 28, 0.15);
                }
            }
        }
    }
}
