.textarea {

	label.control-label {
		font-weight: 500;
		font-size: $fontSizeBase;
		line-height: 21px;
		color: $grayDark;
		margin-bottom: 8px;
	}

	textarea {
		border: 1px solid $borderColor;
		background: transparent;
		width: 100%;

		&.form-control {
			padding: 15px;
			height: 120px;
			resize: none;
		}
	}
}
