.timeline {
	margin-bottom: 40px;
	display: flex;
	flex-flow: row wrap;
	padding-right: 15px;

	&__wrap {
		width: 100%;
		border: 1px solid $grayLighter;
		//border-right: 0;
		position: relative;

		&:first-child {

			.timeline {

				&__circle-left {
					display: none;
				}

				&__img {
					&::before {
						background: url(../images/timeline/1.svg) no-repeat;
					}
				}
			}
		}

		&:nth-child(2) {
			.timeline {
				&__img {
					&::before {
						background: url(../images/timeline/2.svg) no-repeat;
					}
				}
			}
		}

		&:last-child {
			border: 1px solid $grayLighter;

			.timeline {
				&__circle-right {
					display: none;
				}

				&__img {
					&::before {
						background: url(../images/timeline/3.svg) no-repeat;
					}
				}
			}
		}

		&.active {
			border: 1px solid $brandPrimary;

			&:nth-child(2) {
				.timeline {
					&__img {
						&::before {
							background: url(../images/timeline/2a.svg) no-repeat;
						}
					}
				}
			}

			&:last-child {

				.timeline {
					&__img {
						&::before {
							background: url(../images/timeline/3a.svg) no-repeat;
						}
					}
				}
			}

			.timeline {
				&__text {
					color: $brandPrimary;
				}

				&__circle-left,
				&__circle-right {
					border: 1px solid $brandPrimary;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}

				&__circle-right {

					//&::before,
					//&::after {
					//	display: none;
					//}
				}
			}
		}
	}

	&__inner {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 40px 0 21px;
	}

	&__img,
	&__text {
		display: flex;
		justify-content: center;

		p {
			margin: 0;
		}
	}

	&__img {
		margin-bottom: 25px;

		&::before {
			content: '';
			width: 48px;
			height: 48px;
		}
	}

	&__circle-left,
	&__circle-right {
		width: 58px;
		height: 58px;
		border-radius: 50%;
		box-sizing: border-box;
		position: absolute;
		right: -30px;
		top: 50%;
		transform: translateY(-50%) rotate(225deg);
		z-index: 1;
		//background-color: white;

		&::before {
			content: '';
			position: absolute;
			width: 40px;
			height: 40px;
			left: 50%;
			box-sizing: border-box;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			background-color: $brandPrimary;
			box-shadow: 0 0 0 8px rgba(255, 255, 255, 1);
		}

		&::after {
			content: '';
			position: absolute;
			width: 20px;
			height: 8px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(135deg);
			background: url(../images/timeline/arrow.svg) no-repeat;

		}
	}

	&__circle-left {
		left: -30px;
		transform: translateY(-50%) rotate(45deg);
		border: 1px solid $grayLighter;
		border-bottom-color: transparent;
		border-left-color: transparent;
		background-color: $base;

		&::before,
		&::after {
			display: none;
		}
	}

	&__circle-right {
		border: 1px solid $grayLighter;
		border-bottom-color: transparent;
		border-left-color: transparent;
		display: block;
	}

	&__icon {
		position: absolute;
		width: 24px;
		height: 24px;
		left: 9px;
		top: 9px;
		background: url(../images/timeline/0.svg) no-repeat;
	}

	//480px
	@media (min-width: $screenXsMin) {
		flex-flow: row nowrap;
		padding: 0;

		&__wrap {
			width: 100 / 3 * 1%;
		}

		&__circle-left {
			background-color: transparent;
		}
	}
}
