.title-head {
    h1 {
        margin: 0 0 30px 0;
        text-align: left;
        font-size: $fontSizeH4;
        color: $grayDark;
        font-weight: 400;
        position: relative;
    }

    &:before {
       content:'';
       width: 40px;
       height: 1px;
       position: absolute;
       background: $brandPrimary;
       bottom: -15px;
       left: 0;
    }
}
