.top-button {
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: 10;
    text-decoration: none;
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: url(../images/up.svg)no-repeat;

    // @media (min-width: $screenMdMin) {
    //     bottom: 120px;
    // }
    &:hover {
        animation: spinner .6s ease;
        transform-origin: center bottom;
    }

    &.absolute {
        position: absolute;
        top: -30px;
        background: #fff url(../images/up.svg)no-repeat;
    }
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }

    to {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg)
    }
}
