.visitor {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	&__wrap {
		border: 1px solid $grayLighter;
		width: 100%;
		margin-bottom: 40px;
	}

	&__aside {
		width: 100%;
	}

	&__inner {
		border: 1px solid $grayLighter;
		padding: 24px 24px 21px;

		.guests {

			ul {
				border-bottom: 1px solid $grayLighter;
				padding: 23px 0 14px;

				li {
					font-weight: bold;
					font-size: 18px;
					line-height: 22px;
					color: $grayDark;
					margin-bottom: 8px;

					&:last-child {
						font-weight: 500;
						color: $grayText;
					}

					span {
						padding-left: 5px;
					}
				}
			}
		}

		.total {
			border-top: 1px dashed $grayLighter;
			margin: 0 -24px;

			ul {
				padding: 25px 24px 0;

				li {
					display: flex;
					align-items: flex-end;

					span {
						font-weight: bold;
						font-size: $fontSizeBase;
						line-height: 22px;
						color: $grayDark;

						&:first-child {
							color: $grayDark;
						}

						&:nth-child(2) {
							flex-grow: 1;
							align-self: flex-end;
						}

						&:nth-child(3) {
							font-weight: normal;

							i {
								font-weight: 500;
								font-style: normal;
								font-size: $fontSizeLarge;
								line-height: 28px;
								padding-right: 3px;
							}
						}
					}
				}
			}
		}
	}

	//768px
	@media (min-width: $screenSmMin) {
		&__wrap,
		&__aside {
			max-width: 740px;

		}
	}

	//1024px
	@media (min-width: $screenMdMin) {
		flex-flow: row nowrap;
		&__wrap {
			width: (740 / 1170) * 100%;
		}

		&__aside {
			width: (430 / 1170) * 100%;
			padding-left: 40px;
		}
	}
}
