/* Ubuntu */

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/Ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('../fonts/Ubuntu/ubuntu-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('../fonts/Ubuntu/ubuntu-italic-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/Ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('../fonts/Ubuntu/ubuntu-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/Ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('../fonts/Ubuntu/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/Ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('../fonts/Ubuntu/ubuntu-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('../fonts/Ubuntu/ubuntu-italic-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/Ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
    url('../fonts/Ubuntu/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Roboto */
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/Roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/Roboto/roboto-thin-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat */
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/Montserrat/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/Montserrat/montserrat-light-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/Montserrat/montserrat-medium-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/Montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold_italic';
    src: url('../fonts/Montserrat/montserrat-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/Montserrat/montserrat-thin-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Gilroy */
@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/Gilroy/gilroy-bold-webfont.woff2') format('woff2'),
    url('../fonts/Gilroy/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroymedium';
    src: url('../fonts/Gilroy/gilroy-medium-webfont.woff2') format('woff2'),
    url('../fonts/Gilroy/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyregular';
    src: url('../fonts/Gilroy/gilroy-regular-webfont.woff2') format('woff2'),
    url('../fonts/Gilroy/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroysemibold';
    src: url('../fonts/Gilroy/gilroy-semibold-webfont.woff2') format('woff2'),
    url('../fonts/Gilroy/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
