@import 'vars/_variable.scss';

.news {
    position: relative;

    @import 'module/item/_item.scss';

    &--grid {
        margin: -15px 0;

        .news {
            &__item {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }

    @media (max-width: $screenMbMax) {
        &--latest {
            .news {
                &__item {
                    &:nth-last-child(3) {
                        display: none;
                    }
                }
            }
        }
    }

    @media (min-width: $screenXsMin) {
        &--latest {
            .news {
                &__item {
                    float: left;
                    width: 50%;
                }
            }
        }

        &--grid {
            .news {
                &__item {
                    float: left;
                    width: 50%;
                }
            }
        }

        @media (max-width: 959px) {
            &--grid {
                .news {
                    &__item {
                        &:nth-child(2n+1) {
                            clear: both;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 959px) {
        &--latest {
            .news {
                &__item {
                    &:nth-last-child(2) {
                        display: none;
                    }
                }
            }
        }
    }

    @media (min-width: 960px) {
        &--latest {
            .news {
                &__item {
                    width: 33.333334%;
                }
            }
        }

        &--grid {
            .news {
                &__item {
                    width: 33.333334%;
                }
            }
        }

        @media (max-width: $screenMdMax) {
            &--grid {
                .news {
                    &__item {
                        &:nth-child(3n+1) {
                            clear: both;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screenMdMax) {
        &--latest {
            .news {
                &__item {
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }

    @media (min-width: $screenLgMin) {
        &--latest {
            .news {
                &__item {
                    width: 25%;
                }
            }
        }

        &--grid {
            .news {
                &__item {
                    width: 25%;

                    &:nth-child(4n+1) {
                        clear: both;
                    }
                }
            }
        }
    }
}
