.benefit {
    width: 100%;
    padding: 145px 25px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    //margin: 65px 15px 0;
    margin: 35px 15px 0;
    position: relative;
    display: flex;
    box-shadow: 0px 25px 32px -10px $gray;
    min-height: 500px;

    > svg {
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .3s;
    }

    &:before {
        background-image: linear-gradient(to top right, #c4cfd3, #e6e6e6);
        opacity: .9;
    }

    &:after {
        background: $base;
        opacity: 0;
    }

    .info-mask {
        z-index: 1;

        &__inner {
            align-items: center;
            margin: 0 0 46px;
        }

        &__title {
            margin: 0 0 44px;
            color: $brandDarkBlue;
            font-size: $fontSizeH4;
        }
    }

    @media (min-width: $screen_XXS_Min) {
        padding: 145px 48px 50px;
    }

    @media (min-width: $screen_S_Min) {
        .info-mask {
            &__text {
                p {
                    font-size: $fontSizeSmall;
                    line-height: 26px;
                }
            }
        }
    }

    @media (min-width: $screen_L_Min) {
        min-height: 490px;
        max-width: 460px;
        padding: 60px 30px;
        margin: 195px 8px 0;

        > svg {
            bottom: calc(100% + 90px);
            top: auto;
            width: 70px;
            height: 70px;
        }

        .info-mask {
            &__inner {
                margin: 0 0 17px;
            }

            &__title {
                margin: 0 0 37px;
                font-size: $fontSizeH3;
            }
        }

        &:hover {
            &:after {
                opacity: 1;
            }

            .info-mask {

                &__title {
                    color: $brandPrimary;
                }

                a {
                    &.button {
                        background: $brandPrimary;
                        color: $base;
                    }
                }
            }
        }
    }

    @media (min-width: $screen_XL_Min) {
        padding: 77px 60px 60px;
        margin: 195px 15px 0;
    }
}
