.languages {
    display: flex;
    margin: 0 -16px;

    a {
        display: block;
        margin: 0 16px;
        color: $brandDarkenBlue;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $fontSizeH5;
        text-align: center;
        position: relative;
        transition: color .3s;

        &:after {
            display: block;
            content: attr(data-expansion);
            font-weight: bold;
            height: 0;
            color: transparent;
            overflow: hidden;
            visibility: hidden;
        }

        &:hover {
            color: $brandPrimary;
        }

        &.active {
            color: $brandPrimary;
            font-weight: bold;
        }
    }

    @media (min-width: $screen_XL_Min) {
        margin: 0 -22px;

        a {
            margin: 0 22px;
            font-size: $fontSizeSmall;
        }
    }
}
