.logo {
    position: relative;
    display: flex;
    align-items: center;

    svg {
        flex-shrink: 0;
        width: 183px;
        height: 57px;
    }

    &__link {
        position: relative;
        display: block;
        flex-shrink: 0;
        height: 57px;
    }

    img {
        width: 100%;
    }

    @media (min-width: $screen_L_Min) {

        &--mascot {
            > svg {
                margin: 38px 0 0;
            }

            .logo {
                &__link {
                    margin: 38px 0 0;
                }
            }

            &:after {
                content: '';
                position: relative;
                width: 63px;
                height: 75px;
                background: url(../images/icons/mascot.svg) no-repeat;
                flex-shrink: 0;
                margin: 0 0 0 4px;
            }
        }
    }
}
