.mobile-menu {
    transition: top .3s ease-out;

    &__button {
        position: absolute;
        top: 38px;
        left: 15px;
        z-index: 1;
        display: block;
        width: 25px;
        height: 20px;
        background: url(../images/icons/button.svg) no-repeat;
    }

    &__drop {
        position: fixed;
        z-index: 100;
        top: 0;
        transform: translateX(-100%);
        width: 100%;
        height: 100%;
        transition: transform .3s ease-out;
        background: $base;
        overflow-y: auto;
        background: rgba(0, 42, 54, .95);
    }

    &__close {
        position: absolute;
        top: 34px;
        left: 19px;
        z-index: 1;
        text-align: center;
        text-decoration: none;
        width: 26px;
        height: 27px;
        display: flex;
        background: url(../images/icons/close.png) no-repeat;
    }

    &__wrapper {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &__head {
        height: 100px;
        display: flex;
        align-items: center;
    }

    &__content {
        position: relative;
        height: 100%;
        overflow: scroll;
        padding: 0 18px;
    }

    .logo {
        max-width: 183px;
        margin: 4px auto 0;

        > svg {
            fill: $base;
        }

        &__link {
            > svg {
                fill: $base;
            }
        }
    }

    .languages {
        margin: 16px -22px 51px;
        justify-content: center;

        a {
            font-size: $fontSizeSmall;
            line-height: 1;
            margin: 0 22px;
        }
    }

    .nav {
        //margin: 0 0 74px;
        margin: 0 0 66px;

        &__list {
            flex-direction: column;
            align-items: flex-start;

            &-item {
                a {
                    font-size: $fontSizeLarge;
                    font-weight: bold;
                    line-height: 1;
                    color: $base;
                }

                &:nth-last-child(n+2) {
                    //margin: 0 0 35px;
                    margin: 0 0 24px;
                }

                &.active {
                    a {
                        color: $brandPrimary;
                    }
                }
            }
        }
    }

    .contacts {
        margin: 0;
        width: 100%;
        align-items: center;

        &__phone {
            margin: 0 0 12px;

            a {
                //font-size: $fontSizeH3;
                font-size: $fontSizeLarge;
            }
        }

        &__mail {
            a {
                font-size: $fontSizeSmall;
            }
        }
    }

    @media (min-width: $screen_M_Min) {//768
        .nav {
            margin: 0 0 74px;

            &__list {

                &-item {
                    a {
                        font-size: $fontSizeH4;
                    }

                    &:nth-last-child(n+2) {
                        margin: 0 0 35px;
                    }
                }
            }
        }

        .contacts {

            &__phone {

                a {
                    font-size: $fontSizeH3;
                }
            }
        }
    }
}
