.pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 -50px;

    &__prev,
    &__next {

        span,
        a {
            font-size: $fontSizeSmall;
            font-weight: bold;
            color: $brandPrimary;
            text-decoration: none;
        }

        &:before {
            content: '';
            width: 9px;
            height: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: url(../images/icons/pag-arrow.svg) no-repeat;
        }

        span {
            display: none;
        }

        &.disabled {
            opacity: .55;

            span {
                display: block;
                cursor: default;
            }

            a {
                display: none;
            }
        }
    }

    &__prev {
        position: relative;
        padding: 0 0 0 16px;

        &:before {
            left: 0;
        }
    }

    &__next {
        position: relative;
        padding: 0 16px 0 0;

        &:before {
            right: 0;
            transform: translateY(-40%) rotate(180deg);
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
        position: relative;
        color: $brandDarkBlue;
        font-size: $fontSizeSmall;
        margin: 0 11px;

        > span {
            margin: 0 14px;
        }

        &-current {
            position: relative;

            input {
                -moz-appearance: textfield;
                border: none;
                background: $graySoft;
                color: $brandDarkBlue;
                font-size: $fontSizeSmall;
                text-align: center;
                height: 32px;
                width: 32px;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        &-total {
            position: relative;
        }
    }

    @media (min-width: $screen_XS_Min) {
        &__prev {
            padding: 0 0 0 26px;
        }

        &__next {
            padding: 0 26px 0 0;
        }

        &__quantity {
            margin: 0 50px;
        }
    }
}
