.play {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background: $brandPrimary;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;

    &__image {
        position: absolute;
        left: calc(50% + 3px);
        top: 50%;
        transform: translate(-50%, -50%);
        height: 42px;
        cursor: pointer;
    }
}

.heartBeat {
    animation: heartBeatStart 2s linear;
}

@keyframes heartBeatStart {
    0%, 25%, 26.5%, 50%, 51.5%, 75%, 77.5%, 100%  {
        transform: scale(1);
    }

    26%, 51%, 76% {
        transform: scale(1.4);
    }
}

@keyframes heartBeatEnd {
    0%, 100%  {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }
}

.rotateIn {
    transform-origin: 15px 21px;
    animation: rotateIn 1.4s ease-out .5s;
}

@keyframes rotateIn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lightSpeedIn {
    animation: lightSpeedInStart 1s ease-out .5s, lightSpeedInEnd .5s ease-out 1.5s;
}

@keyframes lightSpeedInStart {
    0% {
        transform: translate3d(-160%, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(140%, 0, 0);
    }

    20.01%, 40.01%, 60.01%, 80.01% {
        transform: translate3d(-160%, 0, 0);
    }

    100% {
        transform: translate3d(140%, 0, 0);
    }
}

@keyframes lightSpeedInEnd {
    0% {
        transform: translate3d(-160%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
