.privacy {
    position: relative;
    margin: 0 -6px;
    display: flex;
    align-items: center;

    a {
        position: relative;
        font-size: $fontSizeH6;
        text-decoration: none;
        color: $brandDirtBlue;
        transition: all .3s;
        margin: 0 6px;

        &:nth-child(n+2) {
            &:before {
                position: absolute;
                content: '';
                width: 1px;
                height: 16px;
                background: $brandDirtBlue;
                left: -6px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &:hover {
            color: $brandLightBlue;
        }
    }

    @media (min-width: $screen_L_Min) {
        a {
            font-size: $fontSizeSmall;
        }
    }
}
