.section {
    position: relative;

    &--benefits {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        padding: 0 0 95px;
        position: relative;

        > span {
            position: absolute;
            top: 0;
            height: calc(100% - 195px);
            background: url(../images/bg_play.jpg) top center no-repeat;
            background-size: cover;
            width: 100%;
            display: none;

            &.stretch {
                margin: 0;
            }
        }
    }

    &--games {
        padding: 0 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $grayLighter;
        position: relative;
        overflow: hidden;

        h2 {
            font-size: $fontSizeH4;
            margin: 34px 0 20px;
            position: relative;
        }

        > div {
            display: flex;
            flex-direction: column;
            margin: 0 -15px 22px;
        }

        &list {
            position: relative;

            > p {
                font-weight: bold;
                font-size: 20px;
                line-height: 1;
                margin: 0 0 17px;
                display: none;
            }

            > div {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 -7.5px;
                padding: 7.5px 0 0;
                position: relative;
            }
        }
    }

    &--mission {
        padding: 35px 0 60px;
        margin: 0 0 -60px;

        h2 {
            font-size: $fontSizeH4;
            text-align: center;
            margin: 0 0 31px;
        }

        p {
            font-size: $fontSizeH5;
            line-height: 20px;
            margin: 0 0 20px;

            &:last-of-type {
                margin: 0 0 12px;
            }
        }
    }

    &--title {
        min-height: 100px;
        display: flex;
        align-items: center;
        background: url(../images/bg_title.jpg) top right no-repeat;
        background-size: cover;
        justify-content: center;

        h1 {
            font-size: $fontSizeH4;
            text-align: center;
        }
    }

    &--career {
        position: relative;
    }

    &--career-inner {
        padding: 0 0 39px;
        background: $grayLight;

        .career-inner {
            padding: 17px 10px 0 0;
        }
    }

    &--form {
        background: url(../images/bg_form-inner.jpg) center bottom no-repeat;
        background-size: cover;
        padding: 100px 0 0;
    }

    &--resume {
        background-image: url(../images/bg_main-full.jpg);
        background-position: center bottom ;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 28px 0 60px;
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            content: '';
            width: 494px;
            height: 175px;
            left: 60%;
            bottom: -6%;
            background: url(../images/play.png) no-repeat;
            background-size: cover;
        }
    }

    &--news {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .news {
            border-bottom: 1px solid $lineColor;
        }
    }

    @media (min-width: 860px) {
        &--games {
            > div {
                flex-direction: row;
            }
        }
    }

    @media (min-width: $screen_L_Min) {

        &--benefits {
            flex-wrap: nowrap;
            padding: 50px 0 95px;
            margin: 0 -8px;

            > span {
                display: block;
            }
        }

        &--resume {
            padding: 88px 0 0;
        }

        &--games {
            padding: 6px 0 70px;

            &:before {
                position: absolute;
                content: '';
                width: 521px;
                height: 200px;
                left: 60%;
                top: -17%;
                background: url(../images/play-fill.png) no-repeat;
                background-size: cover;
            }

            h2 {
                margin: 70px 0 55px;
                font-size: $fontSizeH3;
            }

            > div {
                margin: 0 -15px 44px;
            }

            &list {
                margin: 0 0 -15px;

                > div {
                    margin: 0 -15px;
                    padding: 10px 0 0;
                }

                > p {
                    display: block;
                    text-transform: uppercase;
                    font-size: 24px;
                    margin: 0 0 25px;
                }
            }
        }

        &--mission {
            padding: 70px 17px 100px 0;
            margin: 0 0 -110px;

            h2 {
                font-size: $fontSizeH3;
                margin: 0 0 50px;
            }

            p {
                margin: 0 0 25px;
                font-size: $fontSizeSmall;
                line-height: 26px;

                &:last-of-type {
                    margin: 0 0 15px;
                }
            }
        }

        &--title {
            min-height: 175px;
            margin: 0 0 53px;

            h1 {
                font-size: $fontSizeH3;
            }
        }

        &--career {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: -53px 0 0;

            .tab {
                width: 100%;
                max-width: 1010px;
            }
        }

        &--career-inner {
            padding: 0 0 47px;
            margin: -60px 0 0;

            .career-inner {
                padding: 40px 0 0 215px;

                h1 {
                    font-size: 24px;
                    margin: 0 0 36px;
                }

                b {
                    margin: 0 0 11px;

                    &:nth-of-type(n+2) {
                        margin: 40px 0 11px;
                    }
                }

                ul {
                    li {
                        &:nth-last-child(n+2) {
                            margin: 0 0 11px;
                        }
                    }
                }
            }
        }

        &--form {
            padding: 65px 0 45px;
        }

        &--news {
            margin: -43px 0 0;
        }
    }

    @media (min-width: $screen_XL_Min) {
        &--benefits {
            margin: 0 -15px;
        }
    }

    @media (min-width: $screen_XXL_Min) {
        &--career {
            padding: 0 0 0 219px;
            align-items: flex-start;
        }
    }
}
