.social {
    display: flex;
    align-items: center;
    margin: 22px 0 9px;

    &__item {
        display: flex;
        margin: 0 24px;
        text-decoration: none;

        > svg {
            fill: $brandDirtBlue;
        }

        &:hover {
            > svg {
                fill: $brandLightBlue;
            }
        }
    }

    @media (min-width: $screen_L_Min) {
        margin: 0 -24px 0 -38px;
    }
}
