.text {
    position: relative;
    color: $brandDarkBlue;

    h1 {
        font-size: 30px;
        color: $brandDarkBlue;
        margin: 0 0 24px;
        text-transform: uppercase;
    }

    h2 {
        line-height: 1;
        font-weight: 600;
        color: $brandDarkBlue;
        margin: 0 0 24px;
        text-transform: uppercase;
        font-size: $fontSizeLarge;
    }

    h3 {
        font-size: $fontSizeSmall;
        font-weight: normal;
        color: $brandDarkBlue;
        margin: 0 0 24px;
        text-transform: uppercase;
    }

    h4 {
        font-weight: 600;
        font-size: $fontSizeH3;
        color: $brandDarkBlue;
        margin: 0 0 24px;
        text-transform: uppercase;
    }

    hr {
        height: 0px;
        margin: 12px 0 28px;
        border: 0.5px solid $brandFormBlue;
    }

    section {

        a {
            text-decoration: none;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    li,
    dt {
        margin: 0 0 12px 0;
    }

    ul {
        position: relative;

        li {
            position: relative;
            margin: 5px 0;
            padding-left: 25px;
            line-height: 23px;
            color: $brandDarkBlue;

            &:before {
                content: '';
                width: 6px;
                height: 6px;
                position: absolute;
                background: $brandPrimary;
                top: 5px;
                left: 0;
                border-radius: 50%;
            }
        }
    }

    ol {
        counter-reset: myCounter;

        li {
            position: relative;
            padding: 0 0 0 17px;
            font-size: $fontSizeBase;
            color: $brandDarkBlue;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                counter-increment: myCounter;
                content: counter(myCounter) '.';
                font-weight: bold;
                color: $brandPrimary;
            }
        }
    }

    table {
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        margin: 25px 0;

        th,
        td {
            border: 1px solid $grayLighter;
            text-align: center;
            color: $brandDarkBlue;

            &:first-child {
                min-width: 120px;
            }

            p {
                margin: 0;
                font-size: $fontSizeBase;
                color: $brandDarkBlue;
            }
        }

        th {
            padding: 20px 10px;

            p {
                line-height: 1;
            }
        }

        td {
            border: 1px solid $grayLight;
            padding: 10px;

            p {
                white-space: nowrap;
            }
        }
    }

    i {
        font-size: $fontSizeBase;
        margin: 13px 0;
        color: $brandDarkBlue;
    }

    p {
        margin: 0 0 15px;
        line-height: 20px;
        font-size: $fontSizeH5;
        color: $brandDarkBlue;
    }

    b,
    strong {
        display: block;
        margin: 0 0 15px;
        line-height: 20px;
        font-size: $fontSizeH5;
        color: $brandDarkBlue;
    }

    blockquote {
        max-width: 750px;
        width: 100%;
        border: 2px solid $brandPrimary;
        position: relative;
        margin: 17px 0 0 0;
        padding: 20px 5px;
        text-align: center;
    }

    img {
        margin: 0 0 15px;
    }

    @media (min-width: $screen_S_Min) {//600
        table {
            th,
            td {
                p {
                    font-size: $fontSizeSmall;
                    line-height: 1.428571429;
                }
            }
        }
    }

    @media (min-width: $screen_M_Min) {

        p {
            margin: 0;
        }

        b,
        strong {
            margin: 17px 0 25px 0;
        }

        img {
            &:nth-of-type(odd) {
                float: left;
                margin: 20px 30px 30px 0;
            }

            &:nth-of-type(even) {
                float: right;
                margin: 20px 0 30px 30px;
            }
        }
    }


    @media (min-width: $screen_L_Min) {

        h1 {
            margin: 0 auto 35px;
            max-width: 1010px;
            font-size: $fontSizeLarge;
        }

        h2 {
            margin: 0 auto 35px;
            font-size: $fontSizeLarge;
            max-width: 1010px;
        }

        h3 {
            margin: 0 auto 35px;
            max-width: 1010px;
            font-size: $fontSizeLarge;
        }

        h4 {
            margin: 0 auto 35px;
            max-width: 1010px;
            font-size: $fontSizeLarge;
        }

        hr {
            margin: 50px auto 50px;
        }

        h2 {
            line-height: inherit;
        }

        p {
            line-height: 26px;
            font-size: $fontSizeSmall;
        }

        b,
        strong {
            line-height: 26px;
            font-size: $fontSizeSmall;
        }
    }

    @media (min-width: 1200px) {

        hr {
            width: 1010px;
        }
    }
}


