@mixin calcGridColumn($index, $class, $type) {
    @if ($type == width) and ($index > 0) {
        .col-#{$class}-#{$index} {
            width: percentage(($index / $gridColumns));
        }
    }

    @if ($type == push) and ($index > 0) {
        .col-#{$class}-push-#{$index} {
            left: percentage(($index / $gridColumns));
        }
    }

    @if ($type == push) and ($index == 0) {
      .col-#{$class}-push-0 {
            left: auto;
      }
    }

    @if ($type == pull) and ($index > 0) {
        .col-#{$class}-pull-#{$index} {
            right: percentage(($index / $gridColumns));
        }
    }

    @if ($type == pull) and ($index == 0) {
        .col-#{$class}-pull-0 {
            right: auto;
        }
    }

    @if ($type == offset) {
        .col-#{$class}-offset-#{$index} {
            margin-left: percentage(($index / $gridColumns));
        }
    }
}
