/* skeleton's structure for forms

// delete after use

form.form(action='' method='')
    .form-group.has-error
        label.control-label ФИО
        input.form-control(type='text' placeholder='ФИО)
        .help-block
    .form-group
        label.control-label Комментарий
        textarea.form-control(type='text' placeholder='Комментарий')
        .help-block
    .form-group
        label.control-label Город:
        select.form-control
            option(value='1') 1
            option(value='1') 2
        .help-block
    .form-group.appearance
        label.control-label Куда доставлять
        div
            label на службу
                input(type='radio' name='radio' checked)
            label на наш склад
                input(type='radio' name='radio')
        .help-block
    .form-group.appearance
        label                            
            input.form-control(type='checkbox' checked) 
            | На все согласен(на)
        .help-block
    .form-group
        button.form-control.button(type='submit' disabled) submit
*/

.form {
    position: relative;

    .form-group {
        display: flex;
        align-items: flex-start;
        margin: 0 0 10px;
        position: relative;

        .help-block {
            font-size: 0;
            line-height: 0;
        }

        &.has-error {
            .help-block {
                display: block;
                width: 100%;
                max-width: 250px;
                position: absolute;
                top: 38px;
                font-weight: 400;
                color: $grayBase;
                font-size: $fontSize16;
                padding: 10px;
                background: $brandPrimary;
                z-index: 3;
                line-height: 20px;
                //margin: 0 0 0 15px;
                align-self: flex-start;
                left: 50%;
                transform: translateX(-50%);

                &:after {
                    content: '';
                    position: absolute;
                    top: -17px;
                    left: 39%;
                    border: 12px solid transparent;
                    border-right: 25px solid $brandPrimary;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .control-label {
        line-height: 1;
        margin: 0 7px 0 0;
        flex-basis: 50%;

        +div {
            flex-basis: 50%;
            margin: -7px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
                margin: 7px 0;
            }
        }
    }

    .select2 {
        flex-basis: 50%;
    }

    .form-control {
        position: relative;
        height: $formControlHeight;
        padding: 5px 18px 0;
        //flex-basis: 50%;
        width: 100%;
        //border-radius: 4px;
        transition: all .3s;

        &::placeholder {
            transition: all .3s;
            font-size: $fontSize16;
            //line-height: 10px;
            color: #332A1C;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }

    // .help-block {
    //     display: none;
    // }

    input,
    textarea {
        background: $base;
        border: 1px solid $grayLighter;
    }

    textarea {
        &.form-control {
            padding: 9px 23px;
            height: 240px;
            resize: none;
        }
    }

    button {
        &.form-control {
            flex-basis: auto;
            width: auto;
        }
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__inner {
        width: 100%;

        .field {
            font-size: $fontSize12;
            line-height: 15px;
            color: $base;
            display: block;
            padding: 0 0 17px 13px;
        }
    }

    //600px
    @media (min-width: $screen_S_Min) {

        .form-group {
            display: flex;
            align-items: flex-start;
            margin: 0 0 10px;
            position: relative;

            .help-block {
                font-size: 0;
                line-height: 0;
            }

            &.has-error {
                .help-block {
                    left: 90%;
                    top: 27px;
                    transform: none;

                    &:after {
                        top: -14px;
                        left: -23px;
                    }
                }
            }
        }

        &__inner {
            width: (480 / 990) * 100%;
        }

        .form__bottom {
            .form__inner {
                width: 100%;
            }
        }
    }

    //1080px
    @media (min-width: $screen_L_Min) {
        
        .form__bottom {
            .form__inner {
                width: (480 / 990) * 100%;
            }
        }
    }
}
