@import 'vars/_variable.scss';

.owl {
    &-carousel {
        .owl {
            &-item {
                img {
                    display: inline-block;
                    width: auto;
                }
            }
        }
    }

    &-prev,
    &-next {
        position: absolute;
        top: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
        margin: -20px 0 0;
        text-indent: 100%;
        border-radius: 50%;
        background: $owlCarousel__navBackgroundColor;
        box-shadow: 0 0 20px $owlCarousel__navShadowColor;

        &:before,
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 12px;
            height: 22px;
            margin: -11px 0 0 -6px;
            content: '';
            transition: all .2s linear;
            background: url('../images/content/icon/owlCarousel__arrow.png') no-repeat;
        }

        &:after {
            opacity: 0;
        }

        &:hover {
            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    &-prev {
        left: 0;

        &:before {
            background-position: 0 0;
        }

        &:after {
            background-position: 0 -23px;
        }
    }

    &-next {
        right: 0;

        &:before {
            background-position: -13px 0;
        }

        &:after {
            background-position: -13px -23px;
        }
    }
}
