-
    viewedListItems = [
        {
            name: 'Все смартфоны',
            counter: '(128)',
            active: true
        },
        {
            name: 'Samsung',
            counter: '(10)'
        },
        {
            name: 'Huawei',
            counter: '(15)'
        },
        {
            name: 'Xiaomi',
            counter: '(15)'
        },
        {
            name: 'Meizu',
            counter: '(12)'
        },
        {
            name: 'Ноутбуки',
            counter: '(17)'
        },
        {
            name: 'Мобильные телефоны',
            counter: '(17)'
        },
        {
            name: 'Аксессуары',
            counter: '(23)'
        },
        {
            name: 'Планшеты',
            counter: '(19)'
        },
    ]