= '\n'
//= blog-inner =
//- (source/assets/css/module/_blog-inner.scss)
.blog-inner.text
    .blog-inner__img
        //proportions and the maximum size of images 670x380
        img(src="data/inner/1.jpg", alt="")
    h1 Став партнером літньої школи урбаністики в клуба
    include _date.pug 
    p Development в рамках Академії KAN приєднався до Літньої Школи Урбаністики КНУБА, що проходить за підтримки німецького фонду: Stiffing zur Foerderung des Bauwesens, Kyjiw. Літня Школа Урбаністики об`єднує студентів-урбаністів та викладачів з усієї України, провідних вітчизняних та німецьких експертів в галузі містобудування, а також фахівців компанії KAN.
    p Тема цьогорічної школи, що триватиме з 1 до 6 липня: «Формування сучасного житлового середовища».
    p З нагоди відкриття Школи та з метою надання студентам технічного завдання на проектування виступив заступник генерально директора KAN Володимир Кочума. Доповідач розповів про цінності компанії, розкрив секрет успіху наших проектів та презентував територію ділянки для проектування, яку KAN дає студентам Школи для опрацювання. Цього разу ділянкою для розробки слугує частина території живого кварталу Республіка - Respublika, де ідеї командної роботи Школи будуть використанні в створенні наступних черг проекту. 
    span Також, упродовж подальших днів студенти матимуть можливість прослухати лекції від провідних архітекторів та містобудівників України, поближче познайомитися з столицею та вивчити досвід реалізованих архітектурних символів Києва від KAN.  
    p Результатом роботи Школи стане створення учасниками проектів декількох варіативних сценаріїв, які пройдуть через призму досвіду світових та українських експертів, та будуть використані нашими фахівцями при створенні наступних етапів Respublika.
    blockquote Development в рамках Академії KAN приєднався до Літньої Школи Урбаністики КНУБА, що проходить за підтримки німецького фонду: Stiffing zur Foerderung des Bauwesens, Kyjiw. Літня Школа Урбаністики об`єднує студентів-урбаністів та викладачів з усієї України, провідних вітчизняних та німецьких експертів в галузі містобудування, а також фахівців компанії KAN.
    p(style='font-weight: 600; color: #323232;') Тема цьогорічної школи, що триватиме з 1 до 6 липня: 
    ul
        li «Формування сучасного житлового середовища».
        li Також, упродовж подальших днів студенти матимуть можливість прослухати лекції від провідних архітекторів та містобудівників України
        li Результатом роботи Школи стане створення учасниками проектів декількох варіативних сценаріїв, які пройдуть через призму досвіду світових та українських експертів, та будуть використані нашими фахівцями при створенні наступних етапів Respublika.
    //-include _text-audit.pug
//= End blog-inner =
= '\n'