= '\n'
//= Breadcrumb =

ul.breadcrumb
    each val, index in breadcrumbItems
        if (breadcrumbItems.length > 1 && index == breadcrumbItems.length - 1)
            li.active= val
        else
            li
                a(href='javascript:void(0);')= val
    
//= End breadcrumb =
= '\n'