= '\n'
//= button-white =
//-=(source\scss\layout\_layout.scss)=
a.button-white.button-white__download(href="/filename.pdf" download)
    .button-white__triangle-one
    .button-white__triangle-two
    +icon('icon-pdf')
    i= buttonNameWhiteDown
//= End button-white =
= '\n'