= '\n'
//= button-dark =
//-=(source\scss\layout\_layout.scss)=
if (pageTitle == 'catalogue-inner')
    .catalogue__phone-inner.button-dark
        .button-dark__triangle-one
        .button-dark__triangle-two
        .catalogue__phone-callus Зателефонувати
        .catalogue__phone-number (068) 25-68-987
    a.button-dark(class= classButtonDark, href= hrefButtonDark)= buttonNameDark
        .button-dark__triangle-one
        .button-dark__triangle-two
else
    a.button-dark(class= classButtonDark, href= hrefButtonDark)= buttonNameDark
        .button-dark__triangle-one
        .button-dark__triangle-two



//= End button-dark =
= '\n'
