= '\n'
//= button-white =
//-=(source\scss\layout\_layout.scss)=
if (pageTitle == 'investment-inner' && classButtonWhite == 'cart')
    a.button-white(class= classButtonWhite, href= hrefButtonWhite data-el="custom-gallery" data-target="course-of-construction")= buttonNameWhite
        .button-white__triangle-one
        .button-white__triangle-two

else if (pageTitle == 'catalogue-inner')
    .catalogue__phone-inner.button-white
        .button-white__triangle-one
        .button-white__triangle-two
        .catalogue__phone-callus Зателефонувати
        .catalogue__phone-number (068) 25-68-987

else
    a.button-white(class= classButtonWhite, href= hrefButtonWhite)= buttonNameWhite
        .button-white__triangle-one
        .button-white__triangle-two
//= End button-white =
= '\n'
