= '\n'
//= catalogue =
//- (source/assets/css/module/_catalogue.scss)
.catalogue
    .catalogue__wrap

        - for(var i = 0; i < cycleNumber; i++)
            each val in catalogue
                .catalogue__inner

                    = '\n'
                    //= swiper =
                    //- (source/assets/css/module/_swiper-slider.scss)
                    .swiper-container
                        .swiper-wrapper
                            - for(var i = 0; i < 3; i++)
                                .swiper-slide
                                    a.catalogue__img(href="catalogue-inner.html")
                                        //proportions and the maximum size of images 570x340
                                        img(src='data/catalogue/' + val.img + '.jpg' alt='')

                        .swiper-button-prev
                            +icon('icon-swiper-button-prev')
                        .swiper-button-next
                            +icon('icon-swiper-button-next')
                    //= End swiper =
                    = '\n'

                    .catalogue__info
                        a.catalogue__title(href="catalogue-inner.html")= val.title
                        .catalogue__text
                            //- (source/assets/css/module/_scroller.scss)
                            p.mCustomScrollbar.limited= val.text
                        .catalogue__purpose
                            .catalogue__purpose__goal
                                //-name
                                p Цільове призначення:
                                p.limited Землі промисловості, транспорту, зв'язку, енергетики, оборони та іншого призначення
                            .catalogue__purpose__area
                                //-value
                                p Площа:
                                p= val.value
                        .catalogue__pricphon
                            .catalogue__price
                                .catalogue__price-name Ціна:
                                .catalogue__price-number= val.number
                            .catalogue__phone
                                .catalogue__phone-inner
                                    .catalogue__phone-callus Зателефонувати
                                    .catalogue__phone-number (068) 25-68-987
                                a(href='tel:+380682568987') Зателефонувати
    .catalogue__pagination
        include _pagination.pug
//= End catalogue =
= '\n'

