= '\n'
//= date =
//- (source/assets/css/module/_date.scss)
.date

    if (realizationDate)
        +icon('icon-data')
        p Термін реалізації:
            span #[u 12]місяців
    else
        +icon('icon-data')
        i 07.07.2019
//= End date =
= '\n'
