= '\n'
//= Footer info =
//-=(/assets/css/layout/_footerInfo.scss)=
.footer-info

    ul
        li
            p (067) 30-58-569
            a.phone(href='tel:+380673058569') (067) 30-58-569
        li
            a(href='mailto:uadevelopment@gmail.com') uadevelopment@gmail.com

        li
            span м. Рівне, вул. Київська, 65


//= End Footer info =
= '\n'