= '\n'
//= index-services =
//- (source/assets/css/module/_index-services.scss)
.index-services
    .container
        h2 Послуги
        .index-services__main
            each item in indexServices
                .index-services__wrap
                    a.index-services__inner(href='#')

                        .index-services__img
                            //proportions and the maximum size of images 700x460
                            img(src='data/index/services/' + item.imageFull alt='')
                        .index-services__info
                            .index-services__icon
                                +icon(`icon-${item.icon}`)
                            .index-services__block
                                .index-services__title= item.title
                                .index-services__text= item.text
            .index-services__center--border
            .index-services__center
                +icon('icon-logoinner')
//= End index-services =
= '\n'
