= '\n'
//= index-convoy =
//- (source/assets/css/module/_index-convoy.scss)
.index-convoy
    .container
        .index-convoy__wrap
            .index-convoy__info
                a.title-h2(href="investment-inner.html") ЖК «Престиж»
                .index-convoy__text.mCustomScrollbar.limited Девелоперський супровід проектів нерухомості різних масштабів і рівнів складності. Девелоперський супровід проектів нерухомості різних масштабів і рівнів складності.
                - realizationDate = true
                include _date.pug
                - realizationDate = false
                .index-convoy__img
                    img(src='../../images/points.svg' alt='')
            .index-convoy__swiper
                .swiper-object
                    .swiper-container
                        .swiper-wrapper

                            - for(var i = 0; i < 3; i++)
                                .swiper-slide
                                    //proportions and the maximum size of images 700x460
                                    .index-convoy__picture
                                        img(src="data/index/convoy/1.jpg", alt="")

                    .index-convoy__block
                        .swiper-button-next(data-el='swiper-button-next')
                            +icon('icon-swiper-button-next')
                        .swiper-button-prev(data-el='swiper-button-prev')
                            +icon('icon-swiper-button-prev')
//= End index-convoy =
= '\n'
