= '\n'
//= inner =
//- (source/assets/css/module/_inner.scss)
.inner
    .inner__wrap
        .inner__swiper
            - swiperImg = 'investment/i1.jpg'
            .swiper-object
                include _slider-swiper.pug
        .inner__box
            .container
                .inner__title
                    h1 Житловий квартал «Respublika»

                    if (pageTitle == 'catalogue-inner')
                        h6 Земельна ділянка
                            p
                                span.line-text
                if (pageTitle == 'catalogue-inner')
                    .inner__price
                        .inner__price-title Ціна:
                        |#[span 130 000] грн

                .inner__text.text
                    //-span.line-text
                    span Живий квартал Respublika — це продовження проектів малоповерхової квартальної забудови, що розвиваються спільними зусиллями компаній Development і архітектурної майстерні ARCHIMATIKA.
                    br
                    span Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини.

                    if (pageTitle == 'investment-inner')
                        br
                        span Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини. Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини. Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини. Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини. Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини. Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини. Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини. Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини.
                        br
                        span У живому кварталі Respublika реалізована концепція дворів без автомобілів, що дозволяю повноцінно використовувати весь простір навколо будинків та відкривати для себе щось нове кожен день.

                if (pageTitle == 'investment-inner')
                    .inner__info

                        .inner__info-wrap
                            .plan-box
                                i 20%
                                p
                                    |очікуваний
                                    br
                                    |результат
                        .inner__info-wrap
                            .plan-box
                                i 12
                                p
                                    |місяців термін
                                    br
                                    |реалізації
                        .inner__info-wrap
                            .plan-box
                                i $1000-100000
                                p діапазон інвестиціЇ

                if (pageTitle == 'catalogue-inner')
                    .inner__types
                        .inner__types-title Типи характеристик:

                        //- ul
                        //-     li
                        //-         span Форма власності:
                        //-         i Приватна
                        //-     li
                        //-         span Місцезнаходження:
                        //-         i Рівненська обл., Рівненський р-н., м. Рівне
                        //-     li
                        //-         span Власність:
                        //-         i Приватна
                        //-     li
                        //-         span Площа:
                        //-         i 7 га
                        //-     li
                        //-         span Цільове призначення:
                        //-         i Землі промисловості, транспорту, зв\'язку, енергетики, оборони та іншого призначення

                        .inner__types__table
                            .inner__types__table-body
                                .inner__types__table-row
                                    .inner__types__table-cell Форма власності:
                                    .inner__types__table-cell Приватна
                                .inner__types__table-row
                                    .inner__types__table-cell Місце&shy;знаход&shy;жен&shy;ня:
                                    .inner__types__table-cell Рівненська обл., Рівненський р-н., м. Рівне
                                .inner__types__table-row
                                    .inner__types__table-cell Власність:
                                    .inner__types__table-cell Приватна
                                .inner__types__table-row
                                    .inner__types__table-cell Площа:
                                    .inner__types__table-cell 7 га
                                .inner__types__table-row
                                    .inner__types__table-cell Цільове призначення:
                                    .inner__types__table-cell Землі промисловості, транспорту, зв'язку, енергетики, оборони та іншого призначення
                .inner__button
                    if (pageTitle == 'catalogue-inner')
                        //-.inner__button-dark
                            - classButtonDark = 'callus'
                            - hrefButtonDark = 'tel:+380682568987'
                            - buttonNameDark = 'Зателефонувати'
                            include _button-dark.pug
                        .inner__button-white
                            //- classButtonWhite = 'progressconstr-modal'
                            - classButtonWhite = 'callus'
                            - hrefButtonWhite = 'tel:+380682568987'
                            - buttonNameWhite = 'Зателефонувати'
                            include _button-white.pug
                    if (pageTitle == 'investment-inner')
                        //-.inner__button-dark
                            - classButtonDark = 'invest-modal'
                            - hrefButtonDark = '#invest-drive'
                            - buttonNameDark = 'Інвестувати'
                            include _button-dark.pug
                        .inner__button-white
                            - classButtonWhite = 'invest-modal'
                            - hrefButtonWhite = '#invest-drive'
                            - buttonNameWhite = 'Інвестувати'
                            include _button-white.pug
                    if (pageTitle == 'investment-inner')
                        .inner__button-white
                            //- classButtonWhite = 'progressconstr-modal'
                            - classButtonWhite = 'cart'
                            - hrefButtonWhite = '#progressconstr-drive'
                            - buttonNameWhite = 'Хід будівництва'
                            include _button-white.pug
                    if (pageTitle == 'investment-inner')
                        .inner__button-white__download
                            - buttonNameWhiteDown = 'Завантажити PDF'
                            include _button-white-download.pug

                include _expand.pug

                a.message(href='#message') ссылка
//= End inner =
= '\n'
