= '\n'
//= investment-inner =
//- (source/assets/css/module/_investment-inner.scss)
.investment-inner
    .investment-inner__wrap
        .investment-inner__swiper
            - swiperImg = 'investment/i1.jpg'
            .swiper-object 
                include _slider-swiper.pug
        .investment-inner__box
            h1 Житловий квартал «Respublika»
            .investment-inner__text.line-text.text
                span Живий квартал Respublika — це продовження проектів малоповерхової квартальної забудови, що розвиваються спільними зусиллями компаній Development і архітектурної майстерні ARCHIMATIKA.
                br
                span Новий житловий квартал відрізняється збалансованістю всіх складових сучасного життя людини, адже тут враховані  інтереси мами з коляскою, пішохода і водія, дитини та літньої людини.
                br
                span У живому кварталі Respublika реалізована концепція дворів без автомобілів, що дозволяю повноцінно використовувати весь простір навколо будинків та відкривати для себе щось нове кожен день.
                //include _text-audit.pug

            .investment-inner__info
                .investment-inner__info-wrap
                    .plan-box
                        i 6
                        p 
                            |планові строки
                            br
                            |реалізації проекту
                .investment-inner__info-wrap
                    .plan-box
                        i 20
                        p 
                            |очікуваний
                            br
                            |результат
                .investment-inner__info-wrap
                    .plan-box
                        i 12
                        p 
                            |місяців термін 
                            br
                            |реалізації

            .investment-inner__button
                .investment-inner__button-dark
                    - classButtonDark = 'invest-modal'
                    - hrefButtonDark = '#invest-drive'
                    - buttonNameDark = 'Інвестувати'
                    include _button-dark.pug
                .investment-inner__button-white
                    //- classButtonWhite = 'progressconstr-modal'
                    - classButtonWhite = 'cart'
                    - hrefButtonWhite = '#progressconstr-drive'
                    - buttonNameWhite = 'Хід будівництва'
                    include _button-white.pug
                .investment-inner__button-white__download
                    - buttonNameWhiteDown = 'Завантажити PDF'
                    include _button-white-download.pug

            .investment-inner__soc
                .investment-inner__soc__title Поширити:
                include _social.pug

//= End investment-inner =
= '\n'