= '\n'
//= investment-card =
//- (source/assets/css/module/_investment-card.scss)
- modifier = (card) ? 'investment-card--right' : ''

.investment-card(class= modifier)
    .investment-card__slider
        include _investment-slider.pug
    .investment-card__text
        include _investment-text.pug
//= End investment-card =
= '\n'