= '\n'
//= investment-text =
//- (source/assets/css/module/_investment-card-text.scss)
.investment-card__text__wrap
    a(href="investment-inner.html") Житловий квартал «Respublika»
    p.mCustomScrollbar.limited Юридичний супровід об'єктів будівництва. Допомога у інвестуванні та пошуку інвесторів. База об'єктів нерухомості та земельних ділянок
    .investment-card__text-info
        .investment-card__text-info__inner
            .icon
                +icon('icon-save')
            .text-box
                span Тернмін реалізації:
                i 12 місяців
        .investment-card__text-info__inner
            .icon
                +icon('icon-text')
            .text-box
                span Діапазон інвестиції:
                i $1000-100000
        .investment-card__text-info__inner
            .icon
                +icon('icon-interest')
            .text-box
                span Очікуваний результат:
                i 20%
//= End investment-text =
= '\n'
