= '\n'
//= Mobile menu =

.mobile-menu.hide-screen-l-min
    .mobile-menu__drop.mobile-sidebar
        .mobile-menu__wrapper
            a.mobile-menu__close.close(href='javascript:void(0);') &times;
            .mobile-menu__content
                .mobile-menu__primary-menu
                    //- header = true
                    include ../layout/header/primaryMenu/_primaryMenu.pug
                .mobile-menu__second-menu
                    include ../layout/header/secondMenu/_secondMenu.pug
                .mobile-menu__contacts-info
                    include _contacts-list.pug
                //- Nested recursive menu
                //-include _nested-menu.pug

//= End mobile menu =
= '\n'
