= '\n'
//= Pagination =

ul.pagination
    li.prev.disabled
        span
            +icon('icon-swiper-button-prev')
        a(href='javascript:void(0);')
            +icon('icon-swiper-button-prev')
    li.active
        a(href='javascript:void(0);') 1
    li
        a(href='javascript:void(0);') 2
    li
        a(href='javascript:void(0);') 3
    li 
        a(href='javascript:void(0);') 4
    li
        a(href='javascript:void(0);') 5
    li
        a(href='javascript:void(0);') 6
    li.next
        span
            +icon('icon-swiper-button-next')
        a(href='javascript:void(0);')
            +icon('icon-swiper-button-next')

//= End pagination =
= '\n'