= '\n'
//= swiper =
//- (source/assets/css/module/_swiper-slider.scss)
.swiper-container
    .swiper-wrapper

        - for(var i = 0; i < 8; i++)
            .swiper-slide
                if (pageTitle == 'main')
                    //proportions and the maximum size of images 1820x750
                    .swiper-slider__picture(style='background-image: url(data/'+ swiperImg + ');')
                        img.hide-screen-l-min(src='data/' + swiperImg, alt="")

                        .swiper-slider__slogan
                            //.marquee
                            h1
                                span Юридичне консультування з питань будівництва
                else
                    //proportions and the maximum size of images 850x580
                    .swiper-slider__picture
                        img(src='data/' + swiperImg, alt="")
.swiper-slider__block
    .swiper-fraction
        span.swiper-current(data-el="swiper-current")
        span.swiper-total(data-el="swiper-total")
    .swiper-pagination
    .swiper-button-prev
        +icon('icon-swiper-button-prev')
    .swiper-button-next
        +icon('icon-swiper-button-next')
//= End swiper =
= '\n'
