@import 'vars/_variable.scss';

.invoice {
    position: relative;
    max-width: 765px;

    &__note {
        font-size: $invoice__noteTextFontSize;
        line-height: (20px / $invoice__noteTextFontSize);
        position: relative;
        margin: 0 0 7px;
    }

    &__print {
        font-size: $invoice__printTextFontSize;
        position: relative;
        display: inline-block;
        margin: 0 0 14px;
        text-decoration: none;
        color: $invoice__printTextColor;

        &:before {
            position: relative;
            top: 4px;
            display: inline-block;
            width: 21px;
            height: 19px;
            margin: 0 9px 0 0;
            content: '';
            background: url('../images/content/icon/print.png') no-repeat;
        }
    }

    &__info {
        position: relative;
        padding: 13px 0;
        border-top: 1px solid $invoice__infoBorderColor;
    }

    &__item {
        position: relative;
        margin: 0 0 10px;

        @include clearfix;
    }

    &__name {
        position: relative;
        float: left;
        width: (100 / 270 * 100%);
    }

    &__value {
        position: relative;
        float: left;
        width: (170 / 270 * 100%);
    }

    &__title {
        font-size: $invoice__titleTextFontSize;
        line-height: (22px / $invoice__titleTextFontSize);
        position: relative;
        margin: 0 0 14px;
        text-align: center;
    }

    &__table {
        margin: 0 0 9px;
    }

    &__thead {
        font-size: $invoice__theadTextFontSize;
        white-space: nowrap;
        background: $invoice__theadBackgroundColor;

        .invoice {
            &__td {
                font-weight: 400;
            }
        }
    }

    &__tbody {
        .invoice {
            &__tr {
                border-bottom: 1px solid $invoice__theadBackgroundColor;
            }
        }
    }

    &__td {
        padding: 10px 20px;

        &--number {
            width: 20px;
        }

        &--narrow {
            width: 50px;
        }
    }

    &__list {
        position: relative;

        &Item {
            position: relative;
            margin: 0 0 10px;
        }

        .invoice {
            &__name {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                padding: 10px;
                background: $invoice__theadBackgroundColor;
            }

            &__value {
                padding: 10px;
            }
        }
    }

    &__string {
        position: relative;
        padding-left: (100 / 270 * 100%);
        border-bottom: 1px solid $invoice__theadBackgroundColor;

        @include clearfix;
    }

    &__total {
        font-size: $invoice__totalTextFontSize;
        position: relative;
        text-align: right;

        &Text {
            position: relative;
        }
    }

    @media (min-width: $screenXsMin) {
        &__total {
            font-size: ($invoice__totalTextFontSize + 2px);
        }
    }
}
