//- SITEMAP
//------------------------------------------------

-
    sitemap = [
        {
            list: [
                {
                    title: 'Каталог товаров',
                    sublist: [
                        {
                            title: 'Продукция XIAOMI',
                            thirdlist: [
                                {
                                    title: 'Смартфоны Xiaomi'
                                },
                                {
                                    title: 'Наушники Xiaomi',
                                    thirdlist2: [
                                        {
                                            title: 'Наушники Xiaomi EP-21 HD Earphone'
                                        },
                                        {
                                            title: 'Наушники Xiaomi EP-51 Bluetooth Sports Earphone (Blue)'
                                        },
                                        {
                                            title: 'Наушники Xiaomi EP-51 Bluetooth Sports Earphone (Green)'
                                        }
                                    ]
                                },
                                {
                                    title: 'Акустика Xiaomi'
                                },
                                {
                                    title: 'Смарт-часы Xiaomi'
                                },
                                {
                                    title: 'Портативные батареи Xiaomi'
                                }
                            ]
                        },
                        {
                            title: 'Apple',
                            thirdlist: [
                                {
                                    title: 'iPhone 7'
                                },
                                {
                                    title: 'iPhone 7 Plus'
                                },
                                {
                                    title: 'iPhone 6s'
                                },
                                {
                                    title: 'iPhone 6s Plus'
                                },
                                {
                                    title: 'iPhone 6s Plus'
                                },
                                {
                                    title: 'iPhone SE'
                                },
                                {
                                    title: 'Apple Watch'
                                },
                                {
                                    title: 'Series 3'
                                },
                                {
                                    title: 'Series 3'
                                },
                                {
                                    title: 'iPhone 8 Plus'
                                },
                                {
                                    title: 'iPhone X'
                                }
                            ]
                        },
                        {
                            title: 'Samsung',
                            thirdlist: [
                                {
                                    title: 'Смартфоны'
                                },
                                {
                                    title: 'Планшеты'
                                },
                                {
                                    title: 'Смарт-часы'
                                },
                                {
                                    title: 'Телевизоры'
                                },
                                {
                                    title: 'Акустика и наушники'
                                },
                                {
                                    title: 'Фитнес-трекеры'
                                },
                                {
                                    title: 'Гаджеты виртуальной реальности'
                                },
                                {
                                    title: 'Аксессуары'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            list: [
                {
                    sublist: [
                        {
                            title: 'Планшеты',
                            thirdlist: [
                                {
                                    title: 'Apple'
                                },
                                {
                                    title: 'Assistant'
                                },
                                {
                                    title: 'Chuwinew'
                                },
                                {
                                    title: 'Huawei'
                                },
                                {
                                    title: 'Lenovo'
                                },
                                {
                                    title: 'Microsoft'
                                },
                                {
                                    title: 'Pixusnew'
                                },
                                {
                                    title: 'Samsung'
                                },
                                {
                                    title: 'Teclastnew'
                                }
                            ]
                        },
                        {
                            title: 'Аксессуары',
                            thirdlist: [
                                {
                                    title: 'Акустические системы'
                                },
                                {
                                    title: 'Флеш память USB'
                                },
                                {
                                    title: 'Сумки и рюкзаки для ноутбуков'
                                },
                                {
                                    title: 'Подставки и столики для ноутбуков'
                                },
                                {
                                    title: 'Веб-камеры'
                                }
                            ]
                        },
                        {
                            title: 'Фото и видео',
                            thirdlist: [
                                {
                                    title: 'Фотоаппараты'
                                },
                                {
                                    title: 'Видеокамеры'
                                },
                                {
                                    title: 'Объективы'
                                },
                                {
                                    title: 'Экшн-камеры и аксессуары'
                                },
                                {
                                    title: 'Аккумуляторы и батарейки'
                                },
                                {
                                    title: 'Штативы'
                                },
                                {
                                    title: 'Зарядные устройства'
                                },
                                {
                                    title: 'Вспышки'
                                },
                                {
                                    title: 'Аккумуляторы для фото- и видеокамер'
                                },
                                {
                                    title: 'Студийное оборудование'
                                },
                                {
                                    title: 'Сумки и чехлы'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            list: [
                {
                    sublist: [
                        {
                            title: 'Продукция XIAOMI',
                            thirdlist: [
                                {
                                    title: 'Смартфоны Xiaomi'
                                },
                                {
                                    title: 'Наушники Xiaomi',
                                    thirdlist2: [
                                        {
                                            title: 'Наушники Xiaomi EP-21 HD Earphone'
                                        },
                                        {
                                            title: 'Наушники Xiaomi EP-51 Bluetooth Sports Earphone (Blue)'
                                        },
                                        {
                                            title: 'Наушники Xiaomi EP-51 Bluetooth Sports Earphone (Green)'
                                        }
                                    ]
                                },
                                {
                                    title: 'Акустика Xiaomi'
                                },
                                {
                                    title: 'Смарт-часы Xiaomi'
                                },
                                {
                                    title: 'Портативные батареи Xiaomi'
                                }
                            ]
                        },
                        {
                            title: 'Apple',
                            thirdlist: [
                                {
                                    title: 'iPhone 7'
                                },
                                {
                                    title: 'iPhone 7 Plus'
                                },
                                {
                                    title: 'iPhone 6s'
                                },
                                {
                                    title: 'iPhone 6s Plus'
                                },
                                {
                                    title: 'iPhone 6s Plus'
                                },
                                {
                                    title: 'iPhone SE'
                                },
                                {
                                    title: 'Apple Watch'
                                },
                                {
                                    title: 'Series 3'
                                },
                                {
                                    title: 'Series 3'
                                },
                                {
                                    title: 'iPhone 8 Plus'
                                },
                                {
                                    title: 'iPhone X'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            list: [
                {
                    title: 'Информация',
                    thirdlist: [
                        {
                            title: 'Гарантия и сервис'
                        },
                        {
                            title: 'Доставка и оплата'
                        },
                        {
                            title: 'Статьи',
                            thirdlist2: [
                                {
                                    title: 'Как сделать красивое МАКРО-фото - Уроки мобильной фотографии'
                                },
                                {
                                    title: 'Самые ожидаемые новинки смартов 2018 года'
                                }
                            ]
                        },
                        {
                            title: 'Контакты'
                        }
                    ]
                }
            ]
        },
        {
            list: [
                {
                    title: 'Моя учетная запись',
                    thirdlist: [
                        {
                            title: 'Акции'
                        },
                        {
                            title: 'Личный кабинет'
                        },
                        {
                            title: 'Личная информация'
                        },
                        {
                            title: 'Пароль'
                        },
                        {
                            title: 'Мои адреса'
                        },
                        {
                            title: 'История заказов'
                        },
                        {
                            title: 'Корзина'
                        },
                        {
                            title: 'Оформление заказа'
                        },
                        {
                            title: 'Поиск'
                        }
                    ]
                }
            ]
        }
    ]
