include vars/_variable.pug

= '\n'
//= Header =
header.header#header
    .container
        .row
            .header__container.header__container--leftXsMin
                - valentine = true
                include module/logo/_logo.pug

            .header__container.header__container--right.hide-mb-max

                include module/menu/_menu.pug

            .header__container.header__container--content
                .row
                    .header__container.header__container--left

                        include module/phone/_phone.pug

                    .header__container.header__container--content

                        include module/search/_search.pug

    include module/phone/module/drop/_drop.pug
    include module/search/module/drop/_drop.pug

//= End header =
= '\n'
