@import 'vars/_variable.scss';

.header {
    padding: 20px 0;

    &__container {
        padding: 0 15px;

        &--left {
            float: left;
        }

        &--right {
            float: right;
        }
    }

    @import 'module/logo/_logo.scss';
    @import 'module/menu/_menu.scss';
    @import 'module/phone/_phone.scss';
    @import 'module/search/_search.scss';

    @media (min-width: $screenXsMin) {
        &__container {
            &--left {
                &XsMin {
                    float: left;
                }
            }
        }
    }

    @media (max-width: $screenSmMax) {
        &__container {
            &--content {
                float: left;
            }
        }
    }

    @media (min-width: $screenMdMin) {
        &__container {
            &--content {
                overflow: hidden;
            }
        }
    }

    /*@media (min-width: $screenMdMin) {
        padding: 20px 0;

        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 16px;
            left: 0;
            bottom: -5px;
            background: url(../images/header/NY/new-year.png) repeat-x;
            z-index: 1;
        }
    }*/
}
