include vars/_variable.pug

= '\n'
//= Accessories =
.accessories
    each item in accessories
        a.accessories__box(href= item.link)
            img.accessories__image(src='data/accessories/' + item.image + '.png', alt= item.imageTitle)
            span.accessories__title= item.title

//= End accessories =
= '\n'