= '\n'
//= Logo =
//-=(layout/header/logo/_logo.scss)=
.logo

    if main
        - modifierLogo = (main) ? 'logoh' : 'logoh1'
        img.logo__desk(src='assets/images/header/' + modifierLogo + '.svg' alt='')
        //-img.logo__desk-sea(src='assets/images/header/'+ modifierLogo + '.svg' alt='')
    else
        - modifierLogo = (!main && footer) ? 'logoh' : 'logoh1'
        a.logo__link(href='index.html')
            img.logo__desk(src='assets/images/header/' + modifierLogo + '.svg' alt='')

//= End logo =
= '\n'
