-
    var pageTitle = 'О нас'
//- Utilites
include utils/_variables.pug

//- Mixin
include layout/header/_menu.pug
include layout/header/_socnet.pug
include layout/header/_phone.pug

include layout/nav/_primary-menu.pug

include layout/footer/_socnet.pug
include layout/footer/_menu.pug

include module/_search.pug
include module/_catalog.pug
include module/_breadcrumbs.pug


doctype html
html(lang="ru")
    include layout/_head.pug

    body(itemscope itemtype='http://schema.org/WebPage')
        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug

            //= Main =
            main#main.main
                .container
                    +breadcrumbs(['Главная'], 'О нас')

                    = '\n'
                    //= Section =
                    .text
                        p Приветствуем Вас! Мы — молодая, амбициозная команда будущего.
                            strong Наша мечта
                            |  — кардинально перевернуть Ваше представление о покупках. А точнее, повернуть
                            strong возможности современного рынка продуктов к Вам лицом.
                            |  Все мы хотим употреблять свежие, качественные, самые лучшие продукты по доступным ценам. И при этом не утруждать себя бегом по супермаркетам и рынкам в попытках отыскать их.
                            strong С нашим интернет-рынком
                            |  легкая покупка качественных продуктов станет реальностью.

                        .text__box(style='background-image: url(assets/images/content/section-icon-2.png)')
                            h2 Мы стремимся:
                            ol.text__number-list
                                li
                                    h3 Сделать Вашу жизнь легче
                                    p Вам и Вашим близким больше не придется часами разыскивать нужные продукты, стоять в длиннющих очередях, а потом тащить огромные сумки домой по невыносимой жаре или холоду. За Вас это сделаем мы! Делая заказ на нашем интернет-рынке, Вы экономите драгоценное время, которого всегда так не хватает.
                                li
                                    h3 Стать для Вас интернет-рынком высшего качества
                                    p Мы стремимся к совершенству, а, как известно, совершенству нет предела. И кто же, как не Вы, наш уважаемый Клиент, в этом нам поможет? Мы строим долгосрочные и доверительные отношения и ценим каждого клиента. Поэтому нет ничего важнее Вашего мнения, пожеланий и критики, ведь мы стремимся максимально соответствовать Вашим потребностям.
                                li
                                    h3 Предоставить Вам лучшие товары по выгодным ценам
                                    p Лучшие товары в нашем понимании — это самые свежие и отборные продукты от проверенных поставщиков и производителей. Выгодные цены на них подразумевают устранение лишних звеньев в цепочке производитель — потребитель. Это значит, что если продукт произведен в Украине, то он попадает на наш сайт непосредственно от производителя, без посредников. Если же продукт производят в других странах, то мы получаем его от проверенных импортеров, без участия перекупщиков. Возможности для всего этого у нас есть благодаря наличию более пяти лет опыта работы в оптовых продажах. А также налаженным контактам и проверенным партнерам.

                            blockquote.text__note Выбирайте нас, и Ваша жизнь станет легче и вкуснее!
                    //= End section =
                    = '\n'

                include module/_questions.pug

                include layout/_navigation-bottom.pug

            //= End main =

            = '\n'
        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
