-
    pageTitle = 'Выгодное соседство'
//- Utilites
include utils/_variables.pug

//- Mixin
include layout/header/_menu.pug
include layout/header/_socnet.pug
include layout/header/_phone.pug

include layout/nav/_primary-menu.pug

include layout/footer/_socnet.pug
include layout/footer/_menu.pug

include module/_search.pug
include module/_catalog.pug
include module/_breadcrumbs.pug


doctype html
html(lang="ru")
    include layout/_head.pug

    body(itemscope itemtype='http://schema.org/WebPage')
        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug

            //= Main =
            main#main.main
                .container
                    +breadcrumbs(['Главная'], 'Выгодное соседство')

                    = '\n'
                    //= Section =
                    .text
                        .text__box(style='background-image: url("assets/images/content/section-icon.png")')
                            p На интернет-рынке FreshMart действует постоянная акция –
                                strong Выгодное соседство.
                                |  Теперь, совершая заказ вместе со своими друзьями и соседями, Вы сможете существенно сэкономить.

                            p Заказы на один адрес мы суммируем по стоимости и
                                strong начисляем скидку 3%, 5% и 7%
                                |  соответственно. Кроме этого, Вы
                                strong экономите на доставке
                                | , ведь она может стать
                                strong бесплатной
                                | .

                            p Для участия в акции необходимо оформить два и более заказа на один день и в одно временное окно.
                                strong Условие
                                |  – дома должна быть расположены по соседству (рядом). Просто укажите в комментариях к заказу адрес (контактные данные) Ваших соседей, и Вы автоматически станете участником данной акции.
                    //= End section =
                    = '\n'


                include module/_questions.pug


                include layout/_navigation-bottom.pug

            //= End main =

            = '\n'
        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
