-
    pageTitle = 'Овощи'
    //-slick = true

//- Utilites
include utils/_variables.pug

//- Mixin
include layout/header/_menu.pug
include layout/header/_socnet.pug
include layout/header/_phone.pug

include layout/nav/_primary-menu.pug

include layout/footer/_socnet.pug
include layout/footer/_menu.pug

include module/_search.pug
include module/_breadcrumbs.pug
include module/_write.pug
include module/_blog-menu.pug
include module/_tags.pug

include module/_catalog.pug
include module/_filter.pug
include module/_pagination.pug

doctype html
html(lang="ru")
    include layout/_head.pug

    body(itemscope itemtype='http://schema.org/WebPage')
        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug

            //= Main =
            main#main.main
                .container
                    +breadcrumbs(['Главная', 'Овощи'])

                //= Layout box =
                .layout-box.layout-box--catalog.layout-box--category
                    aside.layout-box__aside
                        include module/_cart.pug

                    .layout-box__menu

                        .layout-box__menu-drop
                            .layout-box__menu-title Фильтр
                            a.layout-box__menu-close(href='javascript:void(0)')
                            .layout-box__menu-wrapper
                                .layout-box__menu-content
                                    +filter(catalogCatalogMenu)

                    .layout-box__content

                        .catalog-header
                            include module/_sort.pug
                            h1.breadcrumbs__title.breadcrumbs__title--left Овощи

                        - var sliderInfoModifier = 'catalog'
                        include module/_slider-info.pug

                        +catalog(catalogSaleList, 'category')
                        +pagination('more')
                .container
                    //= Section =
                    .section
                        .section__title Онлайн интернет-магазин продуктов
                        include module/_seotext.pug
                    //= End section =
                    = '\n'


                include layout/_navigation-bottom.pug
            //= End main =

            = '\n'
        //= End layout =

        include layout/_footer.pug

        include module/_cart-mobile.pug
        include module/_device-bottom.pug

        include module/_infobox.pug

        include layout/_scripts.pug

        script.
            $('select.device-bottom__select').selectric({
                disableOnMobile: false,
                nativeOnMobile: true
            });

            //$('.slider-info__list').slick();

            $('.slider-info__list').bxSlider({
                mode: 'fade',
                controls: true,
                auto: true,
                touchEnabled: true,
                pagerCustom: '.slider-info .bx__pager',
            });
