-
    pageTitle = 'Контакты'
//- Utilites
include utils/_variables.pug

//- Mixin
include layout/header/_menu.pug
include layout/header/_socnet.pug
include layout/header/_phone.pug

include layout/nav/_primary-menu.pug

include layout/footer/_socnet.pug
include layout/footer/_menu.pug

include module/_search.pug
include module/_breadcrumbs.pug
include module/_write.pug

doctype html
html(lang="ru")
    include layout/_head.pug

    body(itemscope itemtype='http://schema.org/WebPage')
        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug

            //= Main =
            main#main.main
                .container
                    +breadcrumbs(['Главная'])

                    = '\n'
                    //= Layout box =
                    .layout-box.layout-box--write
                        .layout-box__content
                            section.section.section--reviews
                                h1.breadcrumbs__title Контакты
                                include module/_contacts.pug

                        aside.layout-box__aside
                            .section.section
                                .section__title Написать коментарий
                                +write()
                    //= End layout box =
                    = '\n'

                include layout/_navigation-bottom.pug
            //= End main =

            = '\n'
        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
