-
    pageTitle = 'Оплата и доставка'
//- Utilites
include utils/_variables.pug

//- Mixin
include layout/header/_menu.pug
include layout/header/_socnet.pug
include layout/header/_phone.pug

include layout/nav/_primary-menu.pug

include layout/footer/_socnet.pug
include layout/footer/_menu.pug

include module/_search.pug
include module/_catalog.pug
include module/_breadcrumbs.pug


doctype html
html(lang="ru")
    include layout/_head.pug

    body(itemscope itemtype='http://schema.org/WebPage')
        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug

            //= Main =
            main#main.main
                .container
                    +breadcrumbs(['Главная'], 'Оплата и доставка')

                    = '\n'
                    //= Section =
                    .text.text--payment
                        p.
                            У нас существует три типа оплаты для Вашего удобства. Также мы работаем над внедрением виртуальных систем расчета.<br>
                            При получении заказа у курьера, Вы имеете возможность отказаться от любого товара, поставив при этом отметку и подпись в нашем экземпляре товарного чека.

                        h3 Как Вы можете оплатить заказ
                        include module/_payment.pug

                        h2 Доставка
                        h3 Доставка по Киеву при заказе на сумму от 450 гривен БЕСПЛАТНАЯ

                        p.
                            Стоимость доставки на сумму меньше 450 гривен составляет 49 гривен.
                        p.
                            Наша доставка осуществляется с помощью собственной службы доставки «FreshMart» с соблюдением всех температурных режимов и целостности каждого заказа.
                        p.
                            Доставка производится по указанному адресу под дверь квартиры или к подъезду дома, в зависимости от веса Вашего заказа. Покупки суммарным весом до 40 кг мы доставим под дверь квартиры бесплатно. Заказы весом более 40 кг доставляются к подъезду дома или под дверь квартиры по предварительной договоренности.

                        h3 Доставка по Киеву
                        p.
                            Менеджеры обработки заказов работают с 9.00 до 19.00. Заказы через сайт принимаются КРУГЛОСУТОЧНО.

                        h3 Время доставки:
                        ul
                            li.
                                Заказы, оформленные до 9.00, доставляются в тот же день с 12.00 до 18.00.
                            li.
                                Заказы, оформленные до 12.00, доставляются в тот же день с 19.00 до 22.00.
                            li.
                                Заказы, оформленные после 12.00, доставляются на следующий день.

                        h3 Доставка за пределы Киева
                        p.
                            Доставка за черту города Киева оплачивается по стандартному тарифу 49 гривен, плюс доплата по 5 гривен за каждый километр в одном направлении. Расчет километража начинается от границы города. При заказе на сумму более 450 гривен, из стоимости доставки будет вычтен стандартный тариф 49 гривен, учитывается только километраж от черты города.

                        h3 Доставка по Украине
                        img(src='assets/images/content/logos/5.png' alt='')
                        p.
                            Интернет-рынок FreshMart осуществляет доставку товаров по Украине с помощью курьерской службы Новая Почта. Все товары тщательно упакованы и максимально защищены от возможной деформации при транспортировке.
                        p
                            strong.text__strong Отправка заказов Новой Почтой осуществляется исключительно после 100% предоплаты на карточку «ПриватБанка».<br>Услуги по доставке Новой Почты оплачивает покупатель.
                        p.
                            При заказе на сумму менее 450 гривен, Вы оплачиваете 49 гривен за упаковку товара и его транспортировку на отделение Новой Почты. Все заказы на сумму свыше 450 гривен пакуются и транспортируются бесплатно до отделения Новой Почты.
                        p
                            strong Сообщаем Вам!
                            |  Что к сожалению существуют очень хрупкие и скоропортящиеся виды продукции, например салаты и зелень, а также ягоды и мягкие фрукты. И мы не можем гарантировать 100% сохранность товарного вида данной продукции во время осуществления доставки Новой Почтой.
                        p
                            strong.text__strong Уважаемые клиенты, просим обратить Ваше ВНИМАНИЕ!
                        p.
                            Ввиду возможного отсутствия отдельных позиций на складе в момент заказа или небольшого различия в весовых показателях стоимость и комплектация Вашего Заказа, указанная на сайте при оформлении, может незначительно измениться.
                    //= End section =
                    = '\n'

                include module/_questions.pug
                include layout/_navigation-bottom.pug

            //= End main =

            = '\n'
        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
