
-
    pageTitle = 'Личный кабинет'
    subTitle = 'Мои подписки'
//- Utilites
include utils/_variables.pug

//- Mixin
include layout/header/_menu.pug
include layout/header/_socnet.pug
include layout/header/_phone.pug

include layout/nav/_primary-menu.pug

include layout/footer/_socnet.pug
include layout/footer/_menu.pug

include module/_search.pug
include module/_breadcrumbs.pug
include module/_write.pug

doctype html
html.ownbox-lock(lang="ru")
    include layout/_head.pug

    body(itemscope itemtype='http://schema.org/WebPage')
        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug

            //= Main =
            main#main.main
                .container
                    //- (source/assets/css/layout/_layout-box.scss.scss)
                    .layout-top
                        +breadcrumbs(['Главная'])
                        h1.user__title Личный кабинет
                        button.button-exit(type="button") Выход
                    //= Layout box =
                    .layout-box.layout-box--profile
                        aside.layout-box__aside
                            include module/_user-aside.pug
                            include module/_profile-menu.pug
                        .layout-box__content
                            .layout-box__content-section
                                .layout-box__content-title Действующие подписки:
                                - subscribe = 'Отписатся'
                                include module/_profile-subscriptions.pug
                            .layout-box__content-section
                                .layout-box__content-title История:
                                - subscribe = 'Подписаться снова'
                                include module/_profile-subscriptions.pug
                    //= End layout box =
                    = '\n'

                include layout/_navigation-bottom.pug
            //= End main =

            = '\n'
        //= End layout =

        include layout/_footer.pug
        = '\n'
        //= Ownbox =
        #ownbox(style='display: block')
            #box
                #ownbox-mask
                .ownbox-content.form.my-orders
                    a.ownbox-close(href='#')
                    include module/_my-orders.pug
        //= End ownbox =
        include layout/_scripts.pug
        script(src=bowerDir + 'select2/dist/js/select2.min.js')
        script(src=bowerDir + 'air-datepicker/dist/js/datepicker.min.js')
        script.
            $(document).ready(function(){

                $('.select2').select2({
                    minimumResultsForSearch: -1
                });

                $('.date-picker__calendar').datepicker();
                $(document).on('click', '.calendar-button', function(){
                    $('.date-picker__wrapper').addClass('show-calendar');
                });

                $('.date-picker__select select').change(function(event) {
                    let pickerWrapper = $('.date-picker__wrapper'),
                        closeButton = $(this).parent().find('.date-picker__remove');

                    if($(this).val() > 0 && pickerWrapper.hasClass('show-calendar')) {

                        closeButton.addClass('show');
                    }
                });

                $(document).on('click', '.date-picker__remove', function(){
                    $(this).parent().hide();
                });

            });
