-
    pageTitle = 'Овощи'
//- Utilites
include utils/_variables.pug

//- Mixin
include layout/header/_menu.pug
include layout/header/_socnet.pug
include layout/header/_phone.pug

include layout/nav/_primary-menu.pug

include layout/footer/_socnet.pug
include layout/footer/_menu.pug

include module/_search.pug
include module/_breadcrumbs.pug
include module/_write.pug
include module/_blog-menu.pug
include module/_tags.pug

include module/_catalog.pug
include module/_filter.pug
include module/_pagination.pug

doctype html
html(lang="ru")
    include layout/_head.pug

    body(itemscope itemtype='http://schema.org/WebPage')
        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug

            //= Main =
            main#main.main
                .container
                    +breadcrumbs(['Главная'])
                    h1.breadcrumbs__title.breadcrumbs__title--left(style='margin: 15px 0 22px 0;') Поиск

                //= Layout box =
                .layout-box.layout-box--full
                    //.layout-box--search
                    aside.layout-box__aside
                        include module/_cart.pug

                    .layout-box__content(style='padding-top: 0')
                        //-.catalog-header
                            h1.breadcrumbs__title.breadcrumbs__title--left Поиск

                        +catalog(catalogSaleList, 'category')
                        +pagination()

                include layout/_navigation-bottom.pug
            //= End main =

            = '\n'
        //= End layout =

        include layout/_footer.pug
        include module/_cart-mobile.pug
        include layout/_scripts.pug
