-
    var pageTitle = 'sms1'


doctype html
html(lang="ru")
    include layout/_head.pug

    body(itemscope itemtype='http://schema.org/WebPage')
        = '\n'
        //= Layout =
        #layout

            //= Main =
            main#main.main

                ='\n'
                //= smsBlock =
                //- =(module/_smsBlock.scss)=
                .smsBlock-rate
                    .smsBlock-rate__logo
                        img(src='data/new-logo-freshmart.png' alt='')
                    .smsBlock-rate__title Оцените, пожалуйста, нашу работу
                    //- =(module/_rating4.scss)=
                    .rating4
                        ul.rating__list
                            li.rating__item
                                span 1
                            li.rating__item
                                span 2
                            li.rating__item
                                span 3
                            li.rating__item
                                span 4
                            li.rating__item
                                span 5

                //= End smsBlock =
                ='\n'

            //= End main =

            = '\n'
        //= End layout =

        include layout/_scripts.pug
        script(src='assets/js/rating.min.js')
        script.

            $(document).ready(function () {

                $('.rating4').rating({
                    max: 5,
                    createNode: false
                });

            });
