include vars/_variable.pug

= '\n'
//= Menu =
.menu(class= hideClass)
    ul.menu__list

        each val in menu
            li.menu__item
                a.menu__link.menu__link--empty(href='#' class='menu__link--' + val.image data-img='data/header/' + val.image + '.png')
                    span.menu__image

                        if ('count' in val)
                            span.menu__count.active 10

                    span.hide-xs-max= val.title

    .menu__drop
        .menu__drop__wrapper
            img(src='data/header/comparison.png', alt='')
            .menu__drop-content
                .menu__drop-title Нет товаров в сравнении
                p Добавляйте товары к сравнению характеристик и выбирайте самый подходящий для вас товар



//= End menu =
= '\n'
