@import 'vars/_variable.scss';

.menu {
    line-height: (16px / $menu__baseFontSize);
    position: relative;

    &__list {
        position: relative;

        @include clearfix;
    }

    &__item {
        position: relative;
        padding: 0 15px;
        border-right: 1px solid $menu__borderColor;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }

    &__link {
        position: relative;
        display: block;
        padding: 0 0 1px;
        transition: all .2s linear;
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $menu__textColor--active;

            .menu {
                &__image {
                    &:before {
                        opacity: 0;
                    }

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        &--comparison {
            .menu {
                &__image {
                    width: 40px;

                    &:before {
                        background-position: 0 0;
                    }

                    &:after {
                        background-position: 0 -40px;
                    }
                }
            }
        }

        &--myFavorites {
            .menu {
                &__image {
                    width: 42px;

                    &:before {
                        background-position: -41px 0;
                    }

                    &:after {
                        background-position: -41px -40px;
                    }
                }
            }
        }

        &--cart {
            .menu {
                &__image {
                    width: 40px;

                    &:before {
                        background-position: -83px 0;
                    }

                    &:after {
                        background-position: -83px -40px;
                    }
                }
            }
        }
    }

    &__image {
        position: relative;
        display: block;
        height: 40px;
        margin: 0 auto;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            transition: all .2s linear;
            background: url('../images/header/icon/menu.svg') no-repeat;
        }

        &:after {
            opacity: 0;
        }
    }

    &__count {
        font-size: $menu__countTextFontSize;
        font-weight: 700;
        line-height: (18px / $menu__countTextFontSize);
        position: absolute;
        z-index: 1;
        top: 0;
        right: -6px;
        display: none;
        width: 18px;
        height: 18px;
        content: attr(data-count);
        text-align: center;
        color: $menu__countTextColor;
        border-radius: 50%;
        background: $menu__countBackgroundColor;

        &.active {
            display: block;
        }
    }

    &__drop {
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        z-index: 5;
        background: $base;
        //min-width: 400px;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(219,219,219,1);
        display: none;
        color: $grayDark;

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            position: relative;
            opacity: 0.5;
        }

        &-content {
            text-align: left;
            padding: 17px 0 0 0;
            //padding: 0 0 0 25px;
            font-size: $fontSizeBase;
        }

        &-title {
            font-weight: bold;
        }

        p {
            margin-bottom: 0;
        }
    }

    @media (min-width: 360px) {
        &__item {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    @media (min-width: 480px) {
        &__drop {
            &__wrapper {
                flex-direction: row;
            }
    
            &-content {
                padding: 0 0 0 25px;
            }
        }
    }

    @media (max-width: $screenMbMax) {
        font-size: 0;
        text-align: center;

        &__item {
            font-size: 14px;
            display: inline-block;
            padding-top: 3px;
            padding-bottom: 2px;
        }
    }

    @media (min-width: $screenXsMin) {        
        &__item {
            float: left;
        }

        &__drop {
            min-width: 400px;
        }

        @media (max-width: $screenXsMax) {
            margin: 7px 0;

            &__item {
                padding-bottom: 1px;
            }
        }
    }

    @media (min-width: $screenLgMin) {
        &__item {
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}
