//- SHARE PAGE
//------------------------------------------------

$sharePage__baseFontSize:           $fontSizeBase !default;

$sharePage__titleTextFontSize:      $fontSizeLarge !default;
$sharePage__titleTextColor:         $grayDark !default;

$sharePage__descriptionTextColor:   #7a7a7a !default;

$sharePage_shareTextFontSize:       $fontSizeH4 !default;
$sharePage_shareTextColor:          #e6007e !default;

$sharePage__borderColor:            #dcdbdb !default;
$sharePage__shadowColor:            transparentize(#8d8d8d, .6) !default;
