//- SHARE PAGE
//------------------------------------------------

-
    var sharePage = [
        {
            logo: 'yves',
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн.',
            description: 'До 1 жовтня здійсніть покупку на суму від 600 грн. в бутику або на сайті yves-rocher.ua та станьте учасником розіграшу кошику Рослинної Косметики® вартістю понад 4400 грн! вартістю понад 4400 грн! вартістю понад 4400 грн!',
            date: 'з 28.08 по 01.10.2017'
        },
        {
            logo: 'yves',
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн. Усі бестселлери по ціні від 55 грн.',
            description: 'До 1 жовтня здійсніть покупку на суму від 600 грн. в бутику або на сайті yves-rocher.ua та станьте учасником розіграшу кошику Рослинної Косметики® вартістю понад 4400 грн! вартістю понад 4400 грн! вартістю понад 4400 грн!',
            date: 'з 28.08 по 01.10.2017'
        },
        {
            logo: 'yves',
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн.',
            description: 'До 1 жовтня здійсніть покупку на суму від 600 грн. в бутику або на сайті yves-rocher.ua та станьте учасником розіграшу кошику Рослинної Косметики® вартістю понад 4400 грн! вартістю понад 4400 грн! вартістю понад 4400 грн!',
            date: 'з 28.08 по 01.10.2017'
        },
        {
            logo: 'yves',
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн. Усі бестселлери по ціні від 55 грн.',
            description: 'До 1 жовтня здійсніть покупку на суму від 600 грн. в бутику або на сайті yves-rocher.ua та станьте учасником розіграшу кошику Рослинної Косметики® вартістю понад 4400 грн! вартістю понад 4400 грн! вартістю понад 4400 грн!',
            date: 'з 28.08 по 01.10.2017'
        },
        {
            logo: 'yves',
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн.',
            description: 'До 1 жовтня здійсніть покупку на суму від 600 грн. в бутику або на сайті yves-rocher.ua та станьте учасником розіграшу кошику Рослинної Косметики® вартістю понад 4400 грн! вартістю понад 4400 грн! вартістю понад 4400 грн!',
            date: 'з 28.08 по 01.10.2017'
        },
        {
            logo: 'yves',
            image: 'image3',
            title: 'Усі бестселлери по ціні від 55 грн. Усі бестселлери по ціні від 55 грн.',
            description: 'До 1 жовтня здійсніть покупку на суму від 600 грн. в бутику або на сайті yves-rocher.ua та станьте учасником розіграшу кошику Рослинної Косметики® вартістю понад 4400 грн! вартістю понад 4400 грн! вартістю понад 4400 грн!',
            date: 'з 28.08 по 01.10.2017'
        }
    ]
