//== BASE
// --------------------------------------------------

//== Colors

$base:                  #fff !default;
$grayBase:              #000 !default;

$grayDarker:            #111 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #777 !default;
$grayLighter:           #999 !default;

$brandPrimary:          #FF8383 !default;
$brandSuccess:          #000 !default;
$brandInfo:             #000 !default;
$brandWarning:          #000 !default;
$brandDanger:           #000 !default;


//== Reset

$bodyBg:                #3e3f40 !default;
$textColor:             $base !default;
$linkColor:             $base !default;

$borderColor:           $grayLighter !default;


//== Typography
$fontFamilySansSerif:   'Arial', sans-serif !default;

$ub:   'ubuntubold', $fontFamilySansSerif, sans-serif !default;
$um:   'ubuntumedium', $fontFamilySansSerif, sans-serif !default;
$ur:   'ubunturegular', $fontFamilySansSerif, sans-serif !default;
$rr:   'robotoregular', $fontFamilySansSerif, sans-serif !default;
$rm:   'robotomedium', $fontFamilySansSerif, sans-serif !default;
$msb:  'montserratsemibold', $fontFamilySansSerif, sans-serif !default;
$gm:   'gilroymedium', $fontFamilySansSerif, sans-serif !default;

$fontFamilyBase:        $ur !default;


$fontSizeSmall:         12px !default;
$fontSizeBase:          20px !default;
$fontSizeLarge:         18px !default;


$fontSizeH1:            20px !default;
$fontSizeH2:            20px !default;
$fontSizeH3:            20px !default;

$formControlHeight:     40px !default;
$checkboxSize:          26px !default;

$lineHeightBase:        21 / 14 !default;


//== MODULE
// --------------------------------------------------


//== Components


//== Grid system

$gridMaxWidth:          1660px !default;
$gridColumns:           12 !default;
$gridGutterWidth:       30px !default;


//== Media queries breakpoints
$screen_XXS_Min:        375px !default;
$screen_XS_Min:         480px !default;
$screen_S_Min:          600px !default;
$screen_M_Min:          768px !default;
$screen_L_Min:          1080px !default;
$screen_XL_Min:         1200px !default;
$screen_XXL_Min:        1440px !default;

$screen_S_Max:          ($screen_M_Min - 1) !default;
$screen_M_Max:          ($screen_L_Min - 1) !default;
