//- SELECT 2
//------------------------------------------------

$select2__textFontSize:             $fontSizeH4 !default;
$select2__textColor--active:        #e6007e !default;
$select2__textColor--error:         $brandDanger !default;
$select2__textPlaceholderColor:     #7a7a7a !default;
$select2__borderColor:              #dcdbdb !default;
$select2__borderColor--active:      #01a643 !default;
$select2__borderColor--error:       $brandDanger !default;
$select2__backgroundColor:          $base !default;
$select2__backgroundColor--active:  $select2__borderColor--active !default;
