.button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    transition: all .25s;
    text-align: center;
    text-decoration: none;
    color: $white;
    border: none;
    outline: none;
    border-radius: 20px; // $formControlHeight / 2
    background: $brandPrimary;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    line-height: $formControlHeight;
    font-family: $fontFamilyOswald;
    text-align: center;

    &:disabled {
        background: $grayLighter;
    }
}