.callback {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__phone {
        font-family: $fontFamilyOswald;
        font-size: $fontSizeH2;
        text-decoration: none;
        white-space: nowrap;
        line-height: 30px;
        margin: 0 0 3px 0;
        overflow: hidden;
        transition: all .3s;
        transition-delay: .2s;
        color: $white;
    }

    &__request {
        position: relative;
        font-size: $fontSizeBase;
        white-space: nowrap;
        line-height: 1;
        text-decoration: none;
        border-bottom: 1px solid;
        transition: all .3s;
        transition: width .3s;
        transition-delay: .2s;
        color: $white;
        overflow: visible;

        &:before {
            position: absolute;
            content: '';
            left: -28px;
            top: 0;
            width: 18px; 
            height: 18px;
            background: url(../images/icons/phone.svg) no-repeat;
            transition-delay: .2s;
            transition: all .3s;
        }

        &:hover {
            border-bottom-color: transparent;
        }
    }

    @media (min-width: $screenMdMin) {
        &__phone {
            width: 0;
            color: transparent;
        }
    
        &__request {
            overflow: hidden;
            color: transparent;
            width: 18px; 
            height: 18px;

            &:before {
                left: 0;
            }
        }
    }
}