.contacts {
    margin-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__list {
        padding: 0 0 17px 25px;
        border-bottom: 1px solid $grayLighter;

        &-item {
            margin-bottom: 10px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 3.5px;
                left: -25px;
                width: 16px;
                height: 20px;
            }

            &--adress {
                &:before {
                    background: url(../images/contacts/geo.svg) no-repeat;
                }
            }

            &--tel {
                &:before {
                    background: url(../images/contacts/phone.svg)no-repeat;
                }
            }

            &--mail {
                &:before {
                    background: url(../images/contacts/mail.svg)no-repeat;
                }
            }
        }

        &-inner {
            color: $grayBase;
            font-family: $fontFamilyBase;
            font-size: $fontSizeBase;
            font-weight: 500;
            position: relative;
            text-decoration: none;
            display: block;
            max-width: 250px;
        }
    }

    &__info {
        max-width: 424px;
        width: 100%;
        margin-right: 30px;

        h3 {
            margin: 0 0 10px 0;
            font-family: $fontFamilyOswald;
            font-weight: 600;
            font-size: $fontSizeH3;
        }
    }

    &__buy {
        padding: 16px 0;
        border-bottom: 1px solid $grayLighter;

        h4 {
            font-family: $fontFamilyOswald;
            font-size: $fontSizeH3;
            color: $black;
            font-weight: 600;
            margin: 0 0 10px 0;
        }
    }

    &__manager {
        display: flex;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__position {
        margin: 0 10px;
        font-family: $fontFamilyBase;
        font-size: $fontSizeSmall;

        img {
            max-width: 197px;
            width: 100%;
        }

        &-name {
            color: $grayBase;
            font-weight: 700;
            margin-bottom: 5px;
            a {
                text-decoration: none;
                display: block;
                color: inherit;
            }
        }

        span {
            color: #73737C;

        }
    }
    @media (min-width: $screenXXsMin) { //480
        &__position {
            font-size: $fontSizeBase;
        }
    }
    @media (min-width: $screenSmMin) {//768
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
