.conditions {
    display: flex;
    flex-direction: column;
    margin: 0 -17px;

    &__item {
        position: relative;
        padding: 0 17px;

        h3 {
            font-weight: 600;
            font-size: $fontSizeH3;
            font-family: $fontFamilyOswald;
            margin: 0 0 6px;
        }

        p {
            margin: 0 0 15px;
        }
    }

    &__list {
        position: relative;

        &-item {
            display: flex;
            align-items: center;
            min-height: 30px;
            margin: 0 0 15px;

            img {
                margin: 0 10px 0 0;
            }
        }
    }

    @media (min-width: $screenSmMin) {
        flex-direction: row;
        width: 100%;
        max-width: 1190px;

        &__item {
            width: 50%;
        }
    }
}