.coordinates {
    padding: 20px;
    background: $white;
    border-radius: 6px;

    h3 {
        font-size: $fontSizeH3;
        font-family: $fontFamilyOswald;
        line-height: 1;
        margin: 0 0 30px;
        padding: 0 0 9px;
        border-bottom: 1px solid $grayLighter;
    }

    > span {
        font-size: $fontSizeSmall;
        display: block;
        line-height: 21px;
        margin: 15px 0 10px;
    }

    &.form {
        .form-group {
            margin: 0 0 15px;
            //align-items: center;
            flex-direction: column;

            &--textarea {
                align-items: flex-start;

                .form-control {
                    padding: 7px 15px;
                }
            }
        }

        .form-control {
            padding: 0 15px;

            &.button {
                margin: 0 0 -15px;
                width: auto;
                padding: 0 42px;
            }
        }

        .control-label {
            flex-basis: 30%;
            min-height: 40px;
            display: flex;
            align-items: center;
            margin: 0 15px 0 0;
        }
    }

    @media (min-width: $screenSmMin) {
        &.form {
            .form-group {
                flex-direction: row;
            }
        }
    }
}
