.destination {
    //max-width: 649px;
    background: $white;
    padding: 16px 22px;
    flex-grow: 1;

    h1,
    h2,
    h3,
    h4 {
        padding-bottom: 10px;
        margin: 0 0 5px 0;
        position: relative;

        &:before {
            content: '';
            width: 100px;
            height: 1px;
            position: absolute;
            background: $brandPrimary;
            bottom: 0;
            left: 0;
        }
    }

    p,
    span {
        display: block;
        margin-bottom: 12px;
        font-family: $fontFamilyBase;
        font-size: $fontSizeBase;
    }

    ul {
        width: 100%;
        column-count: 1;
        column-gap: 10px;

        li {
            position: relative;
            margin: 5px 0;
            padding-left: 25px;
            &:before {
               content:'';
               width: 15px;
               height: 10px;
               position: absolute;
               background: url(../images/icons/check.svg)no-repeat;
               top: 8px;
               left: 0;
            }
        }
    }

    @media (min-width: $screenXXsMin) {//480
        ul,
        ol {
            column-count: 2;
        }
    }

    @media (min-width: $screenSmMin) {//768
        max-width: 100%;

        ul,
        ol {
            column-count: 1;
        }
    }

    @media (min-width: $screenMdMin) {
        ul,
        ol {
            column-count: 2;
        }
    }
}
