.filter {

    &__section {
        position: relative;

        &-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &.appearance {
                label {
                    padding-left: 35px;
                    line-height: 35px;

                    &.disabled {
                        color: lighten($grayLight, 15%);
            
                        input {
                            border-color: lighten($grayLight, 25%)
                        }          
                    }
                }
            }
        }
        
        &-title {
            position: relative;
            font-family: $fontFamilyBase;
            font-size: $fontSizeBase;
            font-weight: bold;
            color: $grayBase;
        }

        &.hide {
            .filter {
                &__section {
                    &-block {
                        display: none;
                    }
                }
            }
        }

        &-arrow {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%) rotate(-180deg);
            right: 0;
            width: 21px;
            height: 21px;
            text-decoration: none;
            outline: none;
            background: url(../images/icons/arrow.svg)no-repeat center center;
            cursor: pointer;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

        .arrow {
            &-rotate {
                transform: translateY(-50%) rotate(0);
            }
        }
    }


    &__section {
        margin-bottom: 20px;
    }

    .form {
        &-group {
            display: flex;
            flex-direction: column;

            label {
                font-family: $fontFamilyBase;
                font-size: $fontSizeBase;
                color: $grayBase;
                font-weight: 700;
                padding: 19px 0 6px 0;
            }

            select {
                margin-bottom: 15px;
            }
            .range {

                &__controls {
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    padding: 0;

                    &-text {
                        border: 1px solid $grayLighter;
                        border-radius: 50px;
                        padding: 5px 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 110px;
                        margin: 0;
                    }

                    &-input {
                        border: none;
                        color: #000;
                        font-size: $fontSizeBase;
                        font-weight: 500;
                        padding-left: 5px;
                    }
                }
            }

            .price {
                border: 1px solid $grayLighter;
                border-radius: 50px;
                position: relative;

                &:before {
                   content:'';
                   width: 1px;
                   height: calc(100% - 10px);
                   position: absolute;
                   background: $grayLighter;
                   left: 50%;
                }
                .range {

                    &__controls {

                        &-text {
                            border: none;
                            width: auto;
                            padding: 5px 10px;
                        }
                    }
                }
            }
            // Стили для ionRangeSlider
            .irs {
                width: 200px;
                margin: auto;
                &-line {
                    height: 1px;
                    margin-top: -1px;
                }
                &-bar {
                    height: 2px;
                    background: $brandPrimary;
                }
                &-slider {
                    &.from,
                    &.to {
                        border: 2px solid $brandPrimary;
                        width: 10px;
                        height: 10px;
                        position: relative;
                        background: $white;
                        top: -7px;
                    }
                    &.to {
                        width: 16px;
                        height: 16px;
                        top: -20px;
                        &:before {
                           content:'';
                           width: 6px;
                           height: 6px;
                           position: absolute;
                           background: $brandPrimary;
                           top: 50%;
                           left: 50%;
                           transform: translate(-50%, -50%);
                           border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
    .button {
        margin: 30px auto;
    }
    @media (min-width: $screenMdMin) {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        position: relative;
        border: 1px solid $grayLighter;
        border-radius: 6px;
        padding: 15px;
        width: 265px;
        height: 100%;
        background: $white;
        right: auto;
        left: 0;
        overflow: visible;

        &__close {
            display: none;
        }

        &__button {
            display: none;
        }
    }
}
