.index-services {

    &__wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: -15px;
    }

    &__inner {
        width: (100 / 1) * 1%;
        padding: 15px;
        display: flex;
    }

    &__block {
        background: $white;
        position: relative;
        border: 1px solid $grayLighter;
        border-radius: 6px;
        padding: 80px 10px 34px;
        width: 100%;
    }

    &__circle {
        border-radius: 50%;
        background: $bodyColor;
        height: 50px;
        width: 100px;
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        text-align:center;
        border: 1px solid $grayLighter;
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        border-top: 0;
    }

    &__title {
        font-family: $fontFamilyOswald;
        font-weight: 600;
        font-size: $fontSizeH3;
        text-align: center;
        color: $grayBase;
        margin-bottom: 8px;
    }

    &__text {
        font-family: $fontFamilyBase;
        font-size: $fontSizeBase;
        line-height: 21px;
        text-align: center;
        color: $gray;
    }

    //480px
    @media (min-width: 481px) {

        &__inner {
            width: (100 / 2) * 1%;
        }
    }

    //840px
    @media (min-width: $screenSMin) {

        &__inner {
            width: (100 / 3) * 1%;
        }
    }

    //1200px
    @media (min-width: $screenLgMin) {

        &__inner {
            width: (100 / 4) * 1%;
        }
    }

    @media (min-width: 1560px) {

        &__block {
            padding: 80px 40px 34px;
        }
    }
}
