.languages {
    position: relative;
    margin: 10px 0 0;
    background: $black;
    border-top: 1px solid #323236;

    &__list {
        font-family: $fontFamilyOswald;
        text-transform: uppercase;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        transition: all .3s;

        &:hover,
        &.active {
            background: $brandPrimary;
        }

        &-link {
            position: relative;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 44px;
            width: 100%;
            transition: all .3s;
            transition: opacity .3s;
            transition-delay: .2s;
            z-index: 1;
            font-size: $fontSizeBase;
            color: $white;
            opacity: 1;
        }
    }

    &__abbr {
        display: inline-block;
        line-height: 1;
        text-align: center;
        width: 70px;
        font-weight: bold;
        position: absolute;
        font-size: $fontSizeBase;
        color: $white;
        left: 0;
    }

    @media (min-width: $screenMdMin) {

        &__item {
            &-link {
                font-size: 0;
                opacity: 0;
                color: transparent;
            }
        }
    }
}