.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 344px;
    width: 100%;
    border: 1px solid $grayLighter;
    border-radius: 6px;
    overflow: hidden;
    font-family: $fontFamilyBase;
    margin: 15px;
    padding-bottom: 30px;
    background: $white;

    &__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    &__date,
    h3,
    p {
        padding: 0 15px 0 30px;
    }

    img {
        margin-bottom: 25px;
    }

    &__date {
        color: $gray;
        font-size: $fontSizeSmall;
    }

    h3 {
        font-size: $fontSizeLarge;
        color: $grayBase;
        font-weight: 600;
        margin: 10px 0;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin: 0;
    }

    @media (min-width: 480px) {//480
        margin: 4px;
        width: 48%;
    }

    @media (min-width: 768px) {//768
        margin: 4px;
        width: 32%;
    }

    @media (min-width: 1320px) {//1320
        width: 24%;
    }

    @media (min-width: 1560px) {//1560
        margin: 15px;
        width: 100%;
    }

}
