.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 293px;
    min-height: 332px;
    padding: 11px 11px 14px;
    border-radius: 6px;
    background: $white;
    border: 1px solid $grayLighter;
    overflow: hidden;
    position: relative;
    transition: box-shadow .3s;
    margin: 2px;

    .button {
        transition: none;
    }

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0;
        left: 0;
        bottom: 0;
        background: $brandPrimary;
        transition: height .2s;
    }

    &:hover {
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);

        &:after {
            height: 2px;
        }
    }

    &--test-drive {
        .product {
            &__buy {
                &.button {
                    right: 40px;
                }
            }

            &__test {
                visibility: visible;
                display: flex;
            }
        }

        &:hover {
            .product {
                &__test {
                    > span {
                        &:after {
                            border-bottom-width: 80px;
                            border-left-width: 80px;
                        }
                    }
                }
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__image {
        border-radius: 6px 6px 0 0;
        margin-bottom: 16px;
        position: relative;
        overflow: hidden;
    }

    &__wrapper {
        padding: 0 0 20px 0;
    }

    &__name {
        display: block;
        font-weight: 500;
        font-size: $fontSizeBase;
        color: $grayBase;
        line-height: 21px;
        margin: 14px 0 18px;
        height: 46px;
    }

    &__price {
        margin: 0 -5px;
        display: flex;
        flex-grow: 1;
        align-items: flex-end;

        &-old {
            font-size: $fontSizeSmall;
            line-height: 21px;
            color: $gray;
            padding: 0 5px;
            text-decoration: line-through;
        }

        &-new {
            font-weight: bold;
            font-size: $fontSizeBase;
            color: $brandPrimary;
            line-height: 21px;
            padding: 0 5px;
        }
    }

    &__body {
        display: flex;
    }

    &__spec {
        margin: 7px 0;
        flex-grow: 1;
        position: relative;
        
        &-inner {
            display: flex;
            flex-direction: column;
            font-size: $fontSizeSmall;
            color: $black;
        }

        &-block {
            position: relative;
            line-height: 24px;
            display: flex;
            align-items: center;

            span {
                font-weight: bold;
                line-height: 1;
            }

            &:nth-child(n+3) {
                display: none;
            }
        }
        &-title {
            flex-basis: 50%;
            font-weight: 400;
            padding: 0 7px 0 0;
        }
    }

    &__buy {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &.button {
            max-width: 40px;
            height: 40px;
            font-size: 0;
            border-radius: 6px 0 0 0;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        > span {
            position: relative;

            &:before {
                content: '';
                //width: 24px;
                //height: 19px;
                width: 18px;
                height: 18px;
                position: absolute;
                //background: url(../images/icons/basket.svg)no-repeat;
                background: url(../images/icons/phone-white.svg)no-repeat;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    &__test {
        visibility: hidden;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        bottom: 0;
        font-size: 0;
        display: none;

        > span {
            position: absolute;
            width: 100%;
            height: 100%;

            &:before {
                position: absolute;
                content: '';
                width: 36px;
                height: 36px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: $white url(../images/icons/test-drive1.svg) no-repeat center center;
                z-index: 1;
                border-radius: 0 0 3px 0;
            }

            &:after {
                position: absolute;
                content: '';
                right: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-bottom: 0 solid $brandPrimary;
                border-left: 0 solid transparent;
                transition: all .3s;
            }
        }
    }
}
