.search {
    position: relative;
    border-color: transparent;
    width: 100%;
    height: 32px;
    display: flex;
    margin: 0 auto;
    padding: 0 21px;

    &__link {
        display: block;
        position: absolute;
        top: 50%;
        left: auto;
        border-radius: 0;
        width: 16px;
        height: 16px;
        background: url(../images/search/magnifier.svg);
        transition: all .3s;
        transition-delay: .1s;

        right: 21px;
        transform: translateY(-50%);
    }

    form {
        position: relative;
        width: 100%;
        transition: all .3s;

        &:after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: url(../images/search/magnifier.svg);
            background-size: contain;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__input {
        width: calc(100% - 24px);
        height: 32px;
        padding: 0 21px 0 0;
        transition : border .5s;
        border: none;
        border-bottom: 1px solid $white;
        font-size: $fontSizeBase;
        color: $white;
        background: $grayBase;

        &::placeholder {
            color: transparent;
            transition: all .2s;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }

        &:-webkit-autofill {
            &:hover,
            &:focus,
            &:active {
                -webkit-box-shadow: 0 0 0 30px $grayBase inset !important;
            }
        }

        &:-webkit-autofill {
            -webkit-text-fill-color: white !important;
        }
    }

    &__submit {
        border: none;
        background: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 16px;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        padding: 0;
    }

    @media (min-width: $screenMdMin) {
        &__link {
            right: 50%;
            transform: translate(50%, -50%);
        }

        form {
            // opacity: 0;
            // visibility: hidden;
            width: 0;
            overflow: hidden;
            opacity: 0;
        }
    }
}
