.services {
    margin: 0 0 30px;

    h4 {
        margin-top: 0;
        font-family: $fontFamilyOswald;
        font-weight: 600;
        font-size: $fontSizeH3;
        color: $grayBase;
    }

    p {
        font-family: $fontFamilyBase;
        font-size: $fontSizeBase;
        color: $grayBase;
        max-width: 684px;
        width: 100%;
    }

    > span {
        display: block;
        max-width: 890px;
        width: 100%;
        text-align: center;
        margin: 0 auto 60px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
    }

    &__block {
        max-width: 750px;
        width: 100%;
        margin: 0 5px;

        &:first-child {
            h1,
            h2,
            h3,
            h4 {
                margin: 10px 0 0 50px;
            }

            img {
                max-width: 40px;
                max-height: 40px;
                position: relative;
                top: 40px;
            }
        }

        img {
            max-width: 750px;
            width: 100%;
        }
    }

    &__points {
        display: flex;
        align-items: center;
        max-width: 684px;
        width: 100%;

        &-image {
            max-width: 50px;
            width: 100%;
            margin-right: 17px;
            img {
                max-width: none;
                width: auto;
            }
        }

        h4 {
            position: relative;
            margin: 0;
        }
    }
    blockquote {
        max-width: 750px;
        width: 100%;
        border: 2px solid $brandPrimary;
        position: relative;
        margin: 17px 0 0 0;
        padding: 20px 5px;
        text-align: center;

        h4 {
            margin: 0;
        }

        //скобки
        &:before,
        &:after {
           content:'';
           width: 40px;
           height: 30px;
           position: absolute;
           background: $bodyColor url(../images/icons/quote.svg)no-repeat center;
        }

        &:before {
            top: -6px;
            left: 10px;
        }

        &:after {
            bottom: -5px;
            right: 10px;
        }
    }
    @media (min-width: 768px) {
        &__wrapper {
            flex-wrap: nowrap;
        }
    }
}

