.swiper {
    position: relative;
    width: 100%;
    overflow: hidden;

    &-container {
        width: 100%;
    }

    &-slide {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    &--customers {
        .swiper {

            &-container {
                max-width: 960px;
                overflow: visible;

                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    right: 100%;
                    top: 0;
                    height: 100%;
                    width: 9999px;
                    background: $bodyColor;
                    z-index: 2;
                }

                &:after {
                    left: 100%;
                }
            }

            &-slide {
                > div {
                    text-align: center;
                    background: $white;
                    opacity: 0.93;
                    border: 1px solid $borderColor;
                    border-radius: 6px;
                    height: 100px;
                    width: 100%;
                    max-width: 218px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                }
            }
        }
    }

    &-button {
        &-next,
        &-prev {
            position: absolute;
            width: 30px;
            height: 30px;
            margin-top: -3px;
            outline: none;
            z-index: 3;
            transform: translateY(-50%);
            background: $brandPrimary;
            border: 1px solid $brandPrimary;
            border-radius: 50%;
            outline: none;

            &:before {
                content: '';
                width: 10px;
                height: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-disabled {
            border: 1px solid $borderColor;
            background-color: $white;
            opacity: 1 !important;
        }

        &-next {
            right: 0;

            &:before {
                background: url(../images/icons/swiper-button.svg) -10px 0 no-repeat;
            }
        }

        &-prev {
            left: 0;

            &:before {
                background: url(../images/icons/swiper-button.svg) 0 0 no-repeat;
            }
        }
    }

    &--advantages {
        .swiper {
            &-slide {
                height: auto;
                display: flex;
            }

            &-button {
                &-next,
                &-prev {
                    display: none;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        &--customers {
            .swiper {
                &-button {
                    &-next {
                        right: -10px;
                    }

                    &-prev {
                        left: -10px;
                    }
                }
            }
        }
    }

    @media (min-width: $screenLgMin) {
        &--customers {
            .swiper {
                &-button {
                    &-next {
                        right: -70px;
                    }

                    &-prev {
                        left: -70px;
                    }
                }
            }
        }
    }

    @media (min-width: 1440px) {
        &--customers {
            .swiper {
                &-button {
                    &-next {
                        right: -190px;
                    }

                    &-prev {
                        left: -190px;
                    }
                }
            }
        }
    }
}
