.table {
    display: flex;
    flex-wrap: wrap;
    border-radius: 14px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        border: 1px solid $grayLighter;

        li {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;
            min-height: 40px;

            p {
                flex-basis: 50%;
                font-family: $fontFamilyBase;
                font-size: $fontSizeSmall;
                font-weight: 700;
                line-height: 1.1;
            }

            span {
                flex-basis: 50%;
                font-size: $fontSizeSmall;
                font-family: $fontFamilyBase;
                text-align: left;
                padding: 0 20px;
            }

            &:nth-child(odd) {
                background: #E4E5E8;
            }

            &:nth-child(even) {
                background: #F2F3F6;
            }
        }

        &--details {
            border-radius: none;

            li {
                display: flex;
                flex-direction: column;

                &.table__booklet {
                    p {
                        flex-basis: auto;
                        font-size: $fontSizeSmall;
                        font-family: $fontFamilyBase;
                        font-weight: 400;
                        padding-right: 15px;
                    }

                    a {
                        font-size: $fontSizeSmall;
                        position: relative;
                        padding-left: 20px;
                        margin: 0 0 12px;

                        &:before {
                            content: '';
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            background: url(../images/icons/pdf-red.svg)no-repeat;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -5px;
                        }
                    }
                }

                &:nth-child(odd) {
                    background: $bodyColor;
                }
            }

            .table {
                &__list {
                    &-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;
                        margin: 0 -20px;
                        width: calc(100% + 40px);

                        &:nth-child(odd) {
                            background: #E4E5E8;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screenSmMin) {//768
        flex-wrap: nowrap;
    }

    @media (min-width: $screenMdMin) {
        &__list {
            &--details {
                max-width: (700px * 100%) / 1460px;
            }
        }
    }

    @media (min-width: $screenLgMin) {
        &__list {
            li {
                flex-wrap: nowrap;
            }

            &--details {
                li {
                    flex-direction: row;

                    &.table__booklet {  
                        a {
                            margin: 0;
                        }
                    }

                    &:nth-child(odd) {
                        background: #E4E5E8;
                    }
                }

                .table {
                    &__list {
                        &-item {
                            padding: 0;
                            margin: 0;
                            width: 50%;
    
                            &:nth-child(odd) {
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1440px) {
        &__list {
            &--details {
                max-width: (814px * 100%) / 1460px;
            }
        }
    }
}
