.text {
    position: relative;

    h1 {
        font-size: 30px;
        color: $grayBase;
        margin: 0;
    }

    h2 {
        line-height: 1;
        font-weight: 600;
        color: $grayBase;
        font-family: $fontFamilyOswald;
        margin: 10px 0;
    }

    h3 {
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 14px 0;
        color: $grayBase;
        font-family: $fontFamilyOswald;
    }

    h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: $fontFamilyOswald;
        font-weight: 600;
        font-size: $fontSizeH3;
        color: $grayBase;
    }

    li,
    dt {
        margin: 0 0 12px 0;
    }

    ul {
        position: relative;

        li {
            position: relative;
            margin: 5px 0;
            padding-left: 25px;
            line-height: 23px;

            &:before {
                content: '';
                width: 6px;
                height: 6px;
                position: absolute;
                background: $brandPrimary;
                top: 5px;
                left: 0;
                border-radius: 50%;
            }
        }
    }

    ol {
        counter-reset: myCounter;

        li {
            position: relative;
            padding: 0 0 0 17px;
            font-size: $fontSizeBase;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                counter-increment: myCounter;
                content: counter(myCounter) '.';
                font-weight: bold;
                color: $brandPrimary;
            }
        }
    }

    dl {
        dt {
            position: relative;
            padding: 0 0 0 30px;
            font-size: $fontSizeBase;

            &:before {
                position: absolute;
                top: 2px;
                left: 0;
                width: 20px;
                height: 20px;
                content: '';
                background: url(../images/details/check.png) no-repeat;
            }
        }
    }

    table {
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        margin: 25px 0;


        th,
        td {
            border: 1px solid $grayLighter;
            text-align: center;

            &:first-child {
                min-width: 120px;
            }

            p {
                margin: 0;
                font-size: $fontSizeBase;
            }
        }

        th {
            padding: 20px 10px;

            p {
                line-height: 1;
            }
        }

        td {
            border: 1px solid $grayLight;
            padding: 10px;

            p {
                white-space: nowrap;
            }
        }
    }

    i {
        font-size: $fontSizeBase;
        margin: 13px 0;
    }

    p {
        margin: 0 0 11px 0;
        line-height: 1.3;
        font-size: $fontSizeBase;
        color: $grayBase;
    }
    blockquote {
        max-width: 750px;
        width: 100%;
        border: 2px solid $brandPrimary;
        position: relative;
        margin: 17px 0 0 0;
        padding: 20px 5px;
        text-align: center;
        //скобки
        &:before,
        &:after {
            content: '';
            width: 40px;
            height: 30px;
            position: absolute;
            background: $bodyColor url(../images/icons/quote.svg)no-repeat center;
        }

        &:before {
            top: -6px;
            left: 10px;
        }

        &:after {
            bottom: -5px;
            right: 10px;
        }
    }
    @media (min-width: $screenXsMin) {//600
        table {

            th,
            td {
                p {
                    font-size: $fontSizeBase;
                    line-height: 1.428571429;
                }
            }
        }
    }

    @media (min-width: $screenSmMin) {//768
        h2 {
            line-height: inherit;
        }

        p {
            line-height: 1.54;
        }
    }
}
