//- MAP CATEGORY
//------------------------------------------------

$mapCategory__textFontSize:                 $fontSizeH4 !default;

$mapCategory__boxBackgroundColor:           #fbeef5 !default;
$mapCategory__boxShadowColor:               rgba(156, 53, 127, .4) !default;

$mapCategory__countTextColor:               #a2a2a2 !default;

$mapCategory__typeColor1:                   #e6007e !default;
$mapCategory__typeColor2:                   #d2072a !default;
$mapCategory__typeColor3:                   #b24493 !default;
$mapCategory__typeColor4:                   #f7a600 !default;
$mapCategory__typeColor5:                   #ed6939 !default;

$mapCategory__listTextColor:                $grayDark !default;
$mapCategory__listBackgroundColor--active:  #febee1 !default;

$mapCategory__shopTextColor:                #f72498 !default;
$mapCategory__foodTextColor:                #b14191 !default;
$mapCategory__serviceTextColor:             #ed6939 !default;
$mapCategory__entertainmentTextColor:       #f7a600 !default;
