//- ABOUT
//------------------------------------------------

$about__baseFontSize:           $fontSizeBase !default;

$about__backgroundColor:        #f3f3f4 !default;

$about__titleTextFontSize:      34px !default;

$about__historyBackgroundColor: #f7a600 !default;

$about__yearTextFontSize:       $fontSizeH1 !default
$about__yearTextColor:          #e6007e !default

$about__textTextFontSize:       24px !default;
$about__textAwardsTextFontSize: $fontSizeLarge !default;
$about__textAwardsTextColor:    #858585 !default;

$about__textH2FontSize:         44px !default;
$about__textH2Color:            #e56835 !default;
$about__textAwardsH2Color:      #f1a607 !default;

$about__valuesTextFontSize:     $fontSizeH3 !default;
$about__valuesBackgroundColor:  #e6007e !default;

$about__projectTextFontSize:    24px !default;
$about__projectTextColor:       $grayDark !default;

$about__quoteTextFontSize:      24px !default;
$about__quoteTextColor:         #858585 !default;

$about__historyTextFontSize:    $fontSizeLarge !default;
$about__historyTextColor:       $grayLight !default;
