= '\n'
//= Footer =

footer#footer.footer
    .container
        .footer__wrapper
            .footer__logo
                include ../module/_logo.pug
            .footer__menu
                - primaryMenu = primaryMenuFooter
                include ../module/_primaryMenu.pug
            .footer__info
                include ../module/_info.pug
            .footer__soc
                include ../module/_social.pug
            .footer__pic
                include ../module/_pic.pug
            
    .footer__bottom
        .container
            .footer__cover
                p © 2020 «Мережа 100 відсотків життя Рівне».Всі права захищені.

    include ../module/_up.pug
//= End footer =
