= '\n'
//= Header =
//- (source/scss/layout/_header.scss)
header.header
    .container
        .header__main
            = '\n'
            //= Mobile menu => button =

            .mobile-menu.hide-screen-l-min
                a.mobile-menu__button(href='javascript:void(0);')
                    i.button-line

            //= End mobile menu => button =
            = '\n'
            .header__logo
                include ../module/_logo.pug
            .header__menu.hide-screen-m-max
                - primaryMenu = primaryMenuHeader
                include ../module/_primaryMenu.pug
            .header__button
                a(href='#complaint') Скарга
            .header__info.hide-screen-m-max
                include ../module/_info.pug
//= End header =
= '\n'
