= '\n'
//= Header-device =
//-=(layout/header/device/_device.scss)=
.header-device
    - deviceFlag = true
    - headerDevice = false

    a.button-close(href='javascript:void(0);')
        //-i.button-line

    .drop.scrollMobailMenu
        .drop-content

            .drop-box(style='display:none;')
                .header-device__registration
                    a.person-modal(href='#person-modal')

            .drop-box
                .header-device__head
                    include header/logo/_logo.pug
                    include header/language/_language.pug
                    //-include _header.pug

            .drop-box
                = '\n'
                //= Nav =
                - primaryMenu = primaryMenuForMobile
                include _primary-menu.pug
                //= End nav =
                = '\n'
        .drop-bottom
            = '\n'

//= End Header-device =
= '\n'
