= '\n'
//= add-comment =
//- (source/assets/css/layout/_add-comment.scss)
.add-comment.active
    img(src="data/route/add.svg", alt="")
    a(href="javascript:void(0)") Додати коментар

//= End add-comment =
= '\n'
