= '\n'
//= advices =
//- (source/assets/css/module/_advices.scss)
.advices
    .container
        h1 Поради
        ul
            each item in advices
                li= item.text
                    if item.list
                        ul
                            each val in item.list
                                li=val
    //- include _photos.pug
//= End advices =
= '\n'
