= '\n'
//= answer =
//- (source/assets/css/module/_answer.scss)
.answer
    .answer__wrapper
        button.answer__button Відповісти
        a.answer__link(href="javascript:void(0)")
    .answer__wrapper
        //-.--active
        .answer__like
            .__like
            i 125
        .answer__dislike
            .__dislike
            i 125
//= End answer =
= '\n'
