= '\n'
//= apartment =
//- (source/assets/css/module/_apartment.scss)
.apartment
    each val in apartment
        .apartment__inner
            img(src='data/apartment/' + val.img  alt='')
            p= val.name
//= End apartment =
= '\n'
