= '\n'
//= apartment-aside =
//- (source/assets/css/module/_apartment-aside.scss)

//-.apartment-aside
    a.button(href="javascript:void(0)") Зв’язатися

//-.apartment-section__call_to_action
.apartment-aside
    .apartment-aside__wrapper
        .contacts-block
            ul.contacts-list.no-js
                li +38 (067) 211-00-77
                li +38 (096) 480-54-00 (Viber)

                li +38 (066) 511-00-77

                li www.gorycvit.com

                li cvitkarpat@gmail.com

            ul.contacts-list.js
                li
                    a.mask(href="javascript:void(0)") +38 (06 ...контакти власника

//= End apartment-aside =
= '\n'
