= '\n'
//= bigboard =
//- (source/assets/css/module/_bigboard.scss)
if (pageTitle =='route')
    - modifier = (pageTitle) ? 'bigboard--' + pageTitle : ''
    //-.no-img
    .bigboard(class= modifier).--no-img
        img(src="data/route/1.png", alt="")
        .bigboard__blur.bigboard__blur--fixed
            .container
                .bigboard__wrapper
                    .bigboard__title
                        a.geo(href='javascript:void(0)') Хребет Кукул
                        h1 Скелі «Слон», Вершини Львівщини: зимній Пікуй
                        .bigboard__comments
                            a.bigboard__comments.eye(href="javascript:void(0)") 1079
                            a.bigboard__comments.chat(href="javascript:void(0)") 1079
                    .bigboard__action
                        button.button Я пройшов цей маршрут
                        .like.--liked
            progress
if (pageTitle =='textual')
    - modifier = (pageTitle) ? 'bigboard--' + pageTitle : ''
    .bigboard(class= modifier).--no-img
        img(src="data/route/1.png", alt="")
        .bigboard__blur.bigboard__blur--fixed
            .container
                .bigboard__wrapper
                    .bigboard__title
                        a.geo(href='javascript:void(0)') Хребет Кукул
                        h1 Скелі «Слон», Вершини Львівщини: зимній Пікуй
                        .bigboard__comments
                            a.bigboard__comments.eye(href="javascript:void(0)") 1079
                            a.bigboard__comments.chat(href="javascript:void(0)") 1079
                    .bigboard__action
                        .like.--liked
            progress

if (pageTitle =='apartment')
    - modifier = (pageTitle) ? 'bigboard--' + pageTitle : ''
    -
        micromarking = true

        itemscope = (micromarking) ? true : false
        itemtype = (micromarking) ? 'http://schema.org/Product' : false

    .bigboard.swiper-container(data-breakpoints='{"9999":{"slidesPerView":1}}' class= modifier itemscope= itemscope itemtype= itemtype)
        -
            itempropInnerName       = (micromarking) ? 'name' : false
            itempropInnerSku        = (micromarking) ? 'sku' : false
            itempropInnerImage      = (micromarking) ? 'image' : false

            itempropBrand           = (micromarking) ? 'brand' : false
            itempropBrandContent    = (micromarking) ? 'it\'s Ukraine' : false

        meta(itemprop= itempropBrand content= itempropBrandContent)
        .swiper-wrapper
            .swiper-slide
                img(src="data/route/1.png", alt="" itemprop= itempropInnerImage)
            //-.swiper-slide
                img(src="data/route/1.png", alt="" itemprop= itempropInnerImage)
        .bigboard__blur.bigboard__blur--fixed
            .container
                .bigboard__wrapper
                    .bigboard__title
                        -
                            itemprop                    = (micromarking) ? 'offers' : false
                            itemtype                    = (micromarking) ? 'http://schema.org/Offer' : false
                        a.geo(href='javascript:void(0)' itemprop="description") Хребет Кукул
                        h1(itemprop= itempropInnerName) Садиба лісника
                        .bigboard__comments
                            a.bigboard__comments.chat(href="javascript:void(0)") 1079
                    .bigboard__action(itemprop= itemprop itemscope= itemscope itemtype= itemtype)
                        -
                            itempropPrice           = (micromarking) ? 'price' : false
                            itempropPriceContent    = (micromarking) ? '1866' : false

                            itempropCurr            = (micromarking) ? 'priceCurrency' : false
                            itempropCurrContent     = (micromarking) ? 'UAH' : false

                        .bigboard__action--price(itemprop= itempropPrice content= itempropPriceContent) $ 1500
                        link(itemprop="availability" href="http://schema.org/InStock")

                        meta(itemprop="url" content="https://it's-ukraine.com/")
                        button.button Бронювати
                        .like.--liked
        .swiper-button-prev.bigboard-button-prev
        .swiper-button-next.bigboard-button-next

if (pageTitle =='guide')
    - modifier = (pageTitle) ? 'bigboard--' + pageTitle : ''
    .bigboard(class= modifier)
        img(src="data/route/2.png", alt="")
        .bigboard__blur.bigboard__blur--fixed
            .container
                .bigboard__wrapper
                    each item in guide
                        include _review.pug
                    = '\n'
                    //= Tab =
                    .tab-menu
                        ul.tab-list
                            li.tab-item
                                a.tab-link(href='#one') Профіль
                            li.tab-item
                                a.tab-link(href='#two') Маршрути
                            li.tab-item
                                a.tab-link(href='#three') Статті

                    .bigboard__title
                        .bigboard__comments

                            //-a.eye(href="javascript:void(0)") 1079
                            //-a.chat(href="javascript:void(0)") 1079

                            .bigboard__watch
                                span 1079
                            .bigboard__report
                                a(href='#') 1079

                    .bigboard__action
                        button.button Слідкувати за оновленнями
                        .like.--liked

if (pageTitle =='user-blogs')
    - modifier = (pageTitle) ? 'bigboard--' + pageTitle : ''
    .bigboard(class= modifier)
        img(src="data/user/1.png", alt="")
        .bigboard__blur
            .bigboard__wrapper
                - guide = guideBlogs
                each item in guide
                    include _review.pug
                = '\n'
                //= Tab =
                .tab-menu
                    ul.tab-list
                        li.tab-item
                            a.tab-link(href='#userone') Маршрути
                        li.tab-item
                            a.tab-link(href='#usertwo') Статті

                .bigboard__title
                    .bigboard__comments
                        .bigboard__watch
                            span 1079
                        .bigboard__report
                            a(href='#') 1079

                .bigboard__action
                    button.button Слідкувати за оновленнями

if (pageTitle =='pursuit' || pageTitle =='pursuit-tag')
    - modifier = (pageTitle) ? 'bigboard--' + pageTitle : ''
    .bigboard(class= modifier)
        .bigboard__img
            //proportions and the maximum size of images 1530x145
            img(src="data/pursuit/1.png", alt="")
        if (pageTitle =='pursuit-tag')
            .bigboard__title #Карпати
        if (pageTitle =='pursuit')
            .bigboard__search
                //-=(/layout/header/search/_search.scss)=
                .search
                    form.box(action='#' method='post')

                        input.input-text(type='text')

                        .input-btn.icon-zoom
                            input.input-button(type="submit")
        = '\n'
        //= Tab =
        .tab-menu
            ul.tab-list
                li.tab-item
                    a.tab-link(href='#pursuitone') Маршрути
                li.tab-item
                    a.tab-link(href='#pursuittwo') Статті
                li.tab-item
                    a.tab-link(href='#pursuitthree') Житло
                li.tab-item
                    a.tab-link(href='#pursuitfour') Гіди
        //= End Tab =
        = '\n'

//= End bigboard =
= '\n'
