= '\n'
//= card =
//- (source/assets/css/module/_card.scss)

.card
    a(href="javascript:void(0)")
        img(src="data/card/1.png", alt="")
    .card__info
        h3 Консерви Its Ukraine
        span.card__price 349грн
        a.button.ware-modal(href='#test-drive') Придбати
//= End card =
= '\n'
