= '\n'
//= carousel =
//- (source/assets/css/module/_carousel.scss)
.carousel.swiper
    .swiper-container(data-breakpoints='{"9999":{"slidesPerView":3}, "1024":{"slidesPerView":2},"480":{"slidesPerView":1}}')
        .swiper-wrapper
            if (val.routes)
                - for(var i = 0; i < 3; i++)
                    - modifier = ''
                    .swiper-slide
                        include _routes.pug
            if (val.dwelling)
                - for(var i = 0; i < 6; i++)
                    - modifier = ''
                    .swiper-slide
                        include _dwellings.pug
            if (val.state)
                - for(var i = 0; i < 6; i++)
                    - modifier = ''
                    - transparent = true
                    .swiper-slide
                        include _state.pug
            if (val.blog)
                - for(var i = 0; i < 6; i++)
                    - modifier = ''
                    - transparent = true
                    - review = true
                    .swiper-slide
                        include _blogs.pug

    .swiper-button.swiper-button-next
    .swiper-button.swiper-button-prev
    if (swiper__recommended)
        .swiper__recommended= swiper__recommended
//= End carousel =
= '\n'
