= '\n'
//= cart-item =
//- (source/assets/css/module/_cart-item.scss)
.cart-item
    .cart__cell.cart__cell--remove
        span

    .cart__cell.cart__cell--name
        a.cart__picture(href='#')
            img.cart__image(src='data/slider/big/1.png' alt='')
        .div
            h3 Футболка базова чорна
            p Koд: 19793

    .cart__adaptive
        .cart__cell.cart__cell--size
            .size
                input(type="radio" name= 'size' checked)
                label(for="") XS

        .cart__cell.cart__cell--color
            a.color(href="javascript:void(0)" class='active' style='background:#B30909')


    .cart__cell.cart__cell--quantity
        include _quantity.pug

    .cart__cell.cart__cell--price
        span.price ₴ 1500
//= End cart-item =
= '\n'
