= '\n'
//= comments =
//- (source/assets/css/module/_comments.scss)
.comments
    .container

        //= Tab =
        .tab
            .tab-menu
                ul.tab-list
                    li.tab-item
                        a.tab-link(href='#all') Всі
                    li.tab-item
                        a.tab-link(href='#top') Топ
                    li.tab-item
                        a.tab-link(href='#gid') Гід
                    li.tab-item
                        a.tab-link(href='#expert') Експерти
            .tab-wrapper
                .tab-content
                    #all.tab-box.active
                        h2 Відгуків
                            span 128
                        each item in commentItems
                            include _review.pug
                        - comments = true
                        include _photo-list.pug
                        include _answer.pug
                        .tab-content.tab-content--response
                            include _response.pug
                        each item in commentItem
                            include _review.pug
                        include _answer.pug
                        .tab-content.tab-content--response
                            include _response.pug


                        .tab-subcomment
                            - for (var i = 0; i < 2; i++)
                                each item in subcomment
                                    include _review.pug
                                include _answer.pug
                                .tab-content.tab-content--response
                                    include _response.pug
                        .tab-favorite
                            each item in commentItems
                                include _review.pug
                            - comments = true
                            include _photo-list.pug
                            include _answer.pug
                            .tab-content.tab-content--response
                                include _response.pug
                        each item in commentItem
                            include _review.pug
                        include _answer.pug
                        .tab-content.tab-content--response
                            include _response.pug
                        include _pagination.pug

                    #top.tab-box
                        h2 Відгуків
                            span 50
                    #gid.tab-box
                        h2 Відгуків
                            span 12
                    #expert.tab-box
                        h2 Відгуків
                            span 5
                .tab-aside
                    include _add-comment.pug
                    include _response.pug
//= End comments =
= '\n'
