= '\n'
//= day =
//- (source/assets/css/module/_day.scss)
ul.day
    li
        .day__number День 1.
        .day__content
            p Поодаль від центру Яремче розташована одна з найвищих вершин тутешніх місць – гора Маковиця (984.5 м). Її західний схил впирається у стрімкі води Прута: ці оголені від лісу скелі з будь-якої точки огляду важко не помітити!

            p Так звані «флішеві виходи» здалеку нагадують велетенського слона. Можна підійти ближче, спустившись від центру міста до річки. Тут силует ссавця зникає, проте зблизька можна роздивитись кам’янисту структуру цієї частини Українських Карпат, зручно влаштувавшись на одній з кількох просторих зелених галявин.

            each item in dayList
                include _review.pug

    li
        .day__number День 2.
        .day__content
            p Так звані «флішеві виходи» здалеку нагадують велетенського слона. Можна підійти ближче, спустившись від центру міста до річки. Тут силует ссавця зникає, проте зблизька можна роздивитись кам’янисту структуру цієї частини Українських Карпат, зручно влаштувавшись на одній з кількох просторих зелених галявин.

            each item in dayListSecond
                include _review.pug

            include _photo-list.pug
//= End day =
= '\n'
