= '\n'
//= description =
//- (source/assets/css/module/_description.scss)

.description
    .container
        .description__wrapper
            -
                micromarking                    = true

                itemscope                       = (micromarking) ? true : false
                itemprop                        = (micromarking) ? 'article' : false
                itemtype                        = (micromarking) ? 'http://schema.org/Article' : false
            .description__content(itemscope itemprop=itemprop itemtype= itemtype)
                if (pageTitle == 'route')
                    each item in reviewItems
                        include _review.pug

                .text(itemprop="articleBody")
                    meta(itemprop="headline" content="Название Статьи")
                    div(itemprop="publisher" itemscope itemtype="http://schema.org/Organization")
                        p.schema(itemprop="name") Скелі «Слон», Вершини Львівщини: зимній Пікуй
                        div.schema(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
                            link(itemprop="url" href="https://www.usa-reisetipps.net/images/usa-amp-logo.png")
                        meta.schema(itemprop="url" content="http://www.mycorp.com/logo.jpg")

                    img.schema(itemprop="image" src="" alt="")
                    p.schema(itemprop="author") Автор статті

                    span.schema(itemprop="datePublished" content="2018-06-18")
                    span.schema(itemprop="dateModified" content="2018-06-18")
                    img.schema(itemprop="image" src="image" alt="")

                    h3 Поодаль від центру Яремче розташована одна з найвищих вершин тутешніх місць – гора Маковиця (984.5 м). Її західний схил впирається у стрімкі води Прута: ці оголені від лісу скелі з будь-якої точки огляду важко не помітити!

                    p Так звані «флішеві виходи» здалеку нагадують велетенського слона. Можна підійти ближче, спустившись від центру міста до річки. Тут силует ссавця зникає, проте зблизька можна роздивитись кам’янисту структуру цієї частини Українських Карпат, зручно влаштувавшись на одній з кількох просторих зелених галявин.

                    p <b>Поодаль</b>  від центру Яремче розташована одна з найвищих вершин тутешніх місць – гора Маковиця (984.5 м). Її західний схил впирається у стрімкі води Прута: ці оголені від лісу скелі з будь-якої точки огляду важко не помітити!
                    p <b>Так звані</b> «флішеві виходи» здалеку нагадують велетенського слона. Можна підійти ближче, спустившись від центру міста до річки. Тут силует ссавця зникає, проте зблизька можна роздивитись кам’янисту структуру цієї частини Українських Карпат, зручно влаштувавшись на одній з кількох просторих зелених галявин.

                    ol
                        li Прогулятися по старовинній фортеці в Кам’янці-Подільському, відкрити сезон водних прогулянок, катаючись на катері по каньйону <a>Дністра</a>, побачити скельно-печерний комплекс  монастиря в Бакотіта потужну Хотинську фортецю можна під час триденного туру з виїздом зі Львова від туристичної агенції Tour-U.

                        li Всього за один день мандрівники побувають на території польової ставки Гітлера “Вервольф” в селі Стрижавка, відвідають садибу Пирогова з трьома музеями в Вінниці, погуляють по місту та побачать яскраве шоу світломузичного <a>фонтану Roshen</a> на набережній.

                        li Дводенний тур по Волині познайомить з відомими архітектурними пам’ятками регіону. Програма подорожі включає екскурсію по Острогу з відвідуванням заповідника, Острозького замку та академії, знайомство із замком Любарта, <a>Дубенським замком</a> і містичними руїнами Тараканівського форту.

                        h3 Поодаль від центру Яремче розташована одна з найвищих вершин тутешніх місць – гора Маковиця (984.5 м).
                        p Так звані «флішеві виходи» здалеку нагадують велетенського слона. Можна підійти ближче, спустившись від центру міста до річки. Тут силует ссавця зникає, проте зблизька можна роздивитись кам’янисту структуру цієї частини Українських Карпат, зручно влаштувавшись на одній з кількох просторих зелених галявин.

                        h3 Познайомитися з мальовничим Українським Подніпров’ям

                        p Так звані «флішеві виходи» здалеку нагадують велетенського слона. Можна підійти ближче, спустившись від центру міста до річки. Тут силует ссавця зникає, проте зблизька можна роздивитись кам’янисту структуру цієї частини Українських Карпат, зручно влаштувавшись на одній з кількох просторих зелених галявин.

                        ul
                            li Під час одноденної подорожі туристи вирушать в Радомишль, де побувають в замку
                            li Під час одноденної подорожі туристи вирушать в Радомишль, де побувають в замку
                            li Під час одноденної подорожі туристи вирушать в Радомишль, де побувають в замку

                if (pageTitle =='route')
                    include _day.pug
                if (pageTitle =='apartment')
                    include _apartment.pug
                    p <strong>На першому поверсі</strong> — гостинна в гуцульському стилі (3 розкладні дивани, 2 м'яких крісла, обідній стіл з кріслами, меблева стінка, телевізор); кімнати господарів.

                    p <strong>На другому поверсі</strong> — прихожа (вішаки, кладова для сушки білизни та взуття); 3 кімнати (в кожній — двоспальне ліжко, розкладний дивани, приліжкові тумби, столик з табуретками, шафа, телевізор; у одній з кімнат 2 рокладних дивани); санвузол (душ, туалет, умивальник); столовка (столики з лавками, електрочайник, кавоварка, телевізор, магнітофон); кухня (електроплита, холодильник, мікрохвильова піч, необхідний посуд та прибори).

            if (pageTitle =='route')
                include _description-aside.pug

            if (pageTitle =='guide')
                include _description-aside.pug

            if (pageTitle =='textual')
                include _description-aside.pug
            
            if (pageTitle =='apartment')
                include _apartment-aside.pug
- micromarking = false
//= End description =
= '\n'
