= '\n'
//= dwelling-filter =
//-=(module/_filter.scss)=
.dwelling-filter
    .dwelling-filter__filter.filters.filters-mobile-slide
        .dwelling-filter__wrap.filters__wrap
            form.form(method='' action='')
                .dwelling-filter__top

                    .dwelling-filter__close &times;
                    .dwelling-filter__title Фільтр
                    .dwelling-filter__cancel
                        a(href="#") Скасувати
                if (allFilter && areaCity && priceMob)
                    include _filter.pug

                if (areaCity && popularity && blockCenter)
                    .filter#filter
                        .filter__left.filter__inner
                            .filter__container
                                .filter__title Розміщення
                                .filter__box
                                    include _filterAreaCity.pug

                            .filter__container
                                .filter__title За популярністю
                                ul.filter__box.overflow
                                    li.filter__list-item
                                        label.filter__item Популярне
                                            input(type='checkbox')
                                    li.filter__list-item
                                        label.filter__item Дуже популярне
                                            input(type='checkbox')

                        .filter__right.filter__inner

                            .filter__container
                                .filter__title Складність
                                ul.filter__box.overflow
                                    li.filter__list-item
                                        label.filter__item Низька
                                            input(type='checkbox')
                                    li.filter__list-item
                                        label.filter__item Середня
                                            input(type='checkbox')
                                    li.filter__list-item
                                        label.filter__item Висока
                                            input(type='checkbox')
                            .filter__container
                                .filter__title Сезонність
                                ul.filter__box.overflow
                                    li.filter__list-item
                                        label.filter__item Літо
                                            input(type='checkbox')
                                    li.filter__list-item
                                        label.filter__item Зима
                                            input(type='checkbox')
                                    li.filter__list-item
                                        label.filter__item Весна
                                            input(type='checkbox')
                                    li.filter__list-item
                                        label.filter__item Осінь
                                            input(type='checkbox')
                            .filter__container
                                .filter__title Тривалість
                                ul.filter__box.overflow
                                    li.filter__list-item
                                        label.filter__item 1 день
                                            input(type='checkbox')
                                    li.filter__list-item
                                        label.filter__item 2 деня
                                            input(type='checkbox')
                                    li.filter__list-item
                                        label.filter__item 3 деня
                                            input(type='checkbox')
                                    li.filter__list-item
                                        label.filter__item 4 деня
                                            input(type='checkbox')

                if (areaCityMob)
                    .filter#filter
                        .filter__left.filter__inner
                            .filter__container
                                .filter__title Розміщення
                                .filter__box
                                    include _filterAreaCity.pug

                if (categoriesMob)
                    .filter#filter
                        .filter__left.filter__inner
                            .filter__container
                                .filter__title Категорії
                                .filter__box
                                    include _filterСategories.pug

                if (categories && areaCity)
                    .filter#filter
                        .filter__left.filter__inner
                            .filter__container
                                .filter__title Категорії
                                .filter__box
                                    include _filterСategories.pug

                        .filter__right.filter__inner
                            .filter__container
                                .filter__title Розміщення
                                .filter__box
                                    include _filterAreaCity.pug
    .toggle-filters-mobile-slide
        i
        //span.toggleClose

//= End dwelling-filter =
= '\n'
