//= filter =
//- (source/assets/css/module/_filters.scss)
.filters
    .filters__wrap
        form.form(method='' action='')
            - modifierSearchRight = (searchright) ? 'filters__search' : ''
            .filters__left(class= modifierSearchRight)
                if (allFilter)
                    include _filter_all-filter.pug
                    include _filterAreaCity.pug
                if (categories)
                    include _filterСategories.pug
                if (searchright)
                    include _filterSearch.pug
                if (areaCity)
                    include _filterAreaCity.pug
            if (blockCenter)
                .filters__center
                    include _filter_complexity-seasonality-duration.pug

            .filters__right
                if (price)
                    include _filterPrice.pug
                if (popularity)
                    include _filterPopularity.pug
                if (areaCityright)
                    include _filterAreaCity.pug

            .filters__top
                a(href="#") Скасувати фільтри

//= End filter =
= '\n'
