//= filter =
//- (source/assets/css/module/_filters.scss)
.form-group.form-group__search
    input(type="text" class="form-control" name="")
    a.search__button
        img.search__button-image(src='assets/images/container/search.svg' alt='')
    .help-block

//= End filter =
= '\n'
