-
    filters = [
        {
            label: 'Область',
            select: [
                {
                    name: 'Складність',
                    value: '1',
                    selected: true
                },
                {
                    name: 'Низька',
                    value: '2'
                },
                {
                    name: 'Середня',
                    value: '3'
                },
                {
                    name: 'Висока',
                    value: '4'
                }
            ]
        },
        {
            select: [
                {
                    name: 'Сезонність',
                    value: '1',
                    selected: true
                },
                {
                    name: 'Літо',
                    value: '2'
                },
                {
                    name: 'Зима',
                    value: '3'
                },
                {
                    name: 'Весна',
                    value: '4'
                },
                {
                    name: 'Осінь',
                    value: '5'
                }
            ]
        },
        {
            select: [
                {
                    name: 'Тривалість',
                    value: '1',
                    selected: true
                },
                {
                    name: '1 день',
                    value: '2'
                },
                {
                    name: '2 деня',
                    value: '3'
                },
                {
                    name: '3 деня',
                    value: '4'
                },
                {
                    name: '4 деня',
                    value: '5'
                }
            ]
        }

    ]

each item in filters
    .form-group
        select.form-control.js-example-basic-single
            each val in item.select
                if val.selected
                    option(value= val.value selected)= val.name
                else
                    option(value= val.value)= val.name
        .help-block
