-
    var routesSelect = [
        {
            label: '',
            select: [
                {
                    name: 'За популярністю',
                    value: '1',
                    selected: true
                },
                {
                    name: 'Популярне',
                    value: '2'
                },
                {
                    name: 'Дуже популярне',
                    value: '3'
                }
            ]
        }
    ]

each item in routesSelect
    .form-group
        label.control-label.control-img= item.label

        select.form-control.js-example-basic-single
            each val in item.select
                if val.selected
                    option(value= val.value selected)= val.name
                else
                    option(value= val.value)= val.name
        .help-block
