//= filter =
//- (source/assets/css/module/_filter-all.scss)
.filter-all
    .filter-all__button
        p
        a(href='javascript:void(0)') Фильтр
    .drop
        include _filter.pug
//= End filter =
= '\n'
