= '\n'
//=guides-wrapper =
//- (source/assets/css/module/_guides.scss)

each val in guides
    .guides__item
        //proportions and the maximum size of images 500x120
        .guides__img
            img(src='data/indexBlock/' + val.img + '.png')

            .guides__top
                //- (source/assets/css/module/_review.scss)
                -
                    micromarking = true
                    itemscope = (micromarking) ? true : false
                    itemprop = (micromarking) ? 'review' : false
                    itemtype = (micromarking) ? 'http://schema.org/Review' : false

                .review(itemscope= itemscope itemprop= itemprop itemtype= itemtype)
                    -
                        itempropInnerReviewed = 'itemReviewed'
                        contentReviewed = 'Назва товару статті'
                        itempropInnerImage = 'image'

                    meta(itemprop= itempropInnerReviewed content= contentReviewed)

                    .review__title
                        .review__title-photo
                            img(src='data/reviews/' + val.imgtop + '.png' alt='' itemprop= itempropInnerImage)

                .guides__watch-report
                    .guides__watch
                        span= val.watch
                    .guides__report
                        a(href='#')= val.report

                .guides__rating 7.9
                    p
                        a(href="#")
                            i 256567
                            span оцінок

        .guides__info
            .guides__info-top
                .guides__info-top-column
                    a.guides__title(href='#')= val.title
                    .guides__city
                        a(href='#')
                            span= val.city
            ul.guides__info-tags
                li
                    a(href='#') #гид
                li
                    a(href='#') #запорожье
                li
                    a(href='#') #катер
                li
                    a(href='#') #екскурсии
                li
                    a(href='#') #днепр

            .guides__info-text Автор экскурсии, которая стала брендом Запорожье на теплоходе через шлюз.
//= End guides-wrapper =
= '\n'
