= '\n'
//= list =
//- (source/assets/css/module/_list.scss)
.list
    ul
        each item in routeList
            if (item.class)
                li(class= item.class)
                    span=item.value
                    span
                    span=item.name
            else
                li
                    span=item.value
                    span
                    span=item.name
//= End list =
= '\n'
