= '\n'
//= Mobile menu =

.mobile-menu.hide-md-min
    a.mobile-menu__button(href='javascript:void(0);')

    .mobile-menu__drop.mobile-sidebar
        .mobile-menu__wrapper
            a.mobile-menu__close.close(href='javascript:void(0);') &times;
            .mobile-menu__content

                //- Nested recursive menu
                include _nested-menu.pug
                
      
//= End mobile menu =
= '\n'