= '\n'
//= Nested-menu =

.nested-menu
    include ../mixin/_nested-menu.pug
    ul.nested-menu__list
        li.nested-menu__list-item
            a.nested-menu__list-link.main(href='javascript:void(0);') Меню
        +nested-menu(listItems)

//= End nested-menu =
= '\n'