= '\n'
//=objects-wrapper =
//- (source/assets/css/module/_objects.scss)

each val in objects
    .objects__item(class = (modifier) ? modifier : '')
        //proportions and the maximum size of images 470x320
        a.objects__img(href='#')
            img(src='data/indexBlock/' + val.img + '.png')
        a.objects__icon(href='#') Міста
        .objects__info
            .objects__info-top
                .objects__info-top-column
                    a.objects__title(href='#')= val.title
                    .objects__city
                        a(href='#')
                            span= val.city
                        a.objects__guide(href='#')
                            span Міста
//= End objects-wrapper =
= '\n'
