= '\n'
//= ordering =
//- (source/assets/css/module/_ordering.scss)
.ordering
    .ordering__field
        .form-group.required.has-error
            input.form-control(type='text', placeholder='Ім`я')
            .help-block
        .form-group
            input.form-control(type='text', placeholder='Прізвище')
        .form-group
            input.form-control(type='text', placeholder='Телефон')
        .form-group
            input.form-control(type='text', placeholder='Пошта')
        .form-group
            input.form-control(type='text', placeholder='Регіон')
        .form-group
            input.form-control(type='text', placeholder='Місто')
        .form-group
            input.form-control(type='text', placeholder='Склад')
        .form-group
            label.checked Підпишіться на наші email-новини
                input.form-control(type='checkbox')
    .ordering__note
        .form-group
            textarea.form-control(col='25', rows='10') Нотатка до замовлення

//= End ordering =
= '\n'
