= '\n'
//= photo-list =
//- (source/assets/css/module/_photo-list.scss)
- modifierNew = (comments) ? 'photo-list--comments' : ''

.photo-list.drop-item(class= modifierNew)
    //- (source/assets/css/module/_mCustomScrollbar.scss)
    .photomCustomScrollbar
        each item in photoList
            a.gallery(href=item.href)
                img(src="data/route/photos/" + item.img, alt="")
//= End photo-list =
= '\n'
