= '\n'
//= photos =
//- (source/assets/css/module/_photos.scss)
.photos.swiper-container(data-breakpoints='{"9999":{"slidesPerView":3}, "1025":{"slidesPerView":2}, "768":{"slidesPerView":1}}')
    .swiper-wrapper
        each elem in photosAdvice
            .photos__picture.swiper-slide
                img(src="data/route/advices/" + elem, alt="")
    .swiper-button-prev.bigboard-button-prev
    .swiper-button-next.bigboard-button-next
//= End photos =
= '\n'
