//= places =
//- (source/assets/css/module/_places.scss)
.places
    .places__wrap
        each val, index in blogPlaces
            if (index == 0)
                .places__inner(class=val.class1)
                    //proportions and the maximum size of images 480x160
                    .places__inner-img(style='background-image: url(data/blog/b' + val.img + '.png);')
                        p(lang="ru")= val.name
            else
                .places__inner
                    //proportions and the maximum size of images 480x160
                    .places__inner-img(style='background-image: url(data/blog/b' + val.img + '.png);')
                        p(lang="ru")= val.name
//= End places =
= '\n'
