= '\n'
//= popup =
//- (source/assets/css/layout/_popup.scss)

form.popup(action='#' method='post')
    if (ware)
        .popup__wrapper
            .popup__img
                img(src='assets/images/icons/success.svg' alt='')
            p Товар додано до кошика
    if (admission)
        .popup__wrapper.popup--inner
            h2 Вхід
            .form-group
                label.control-label.user
                    input.form-control(type='text', placeholder='логін')
                .help-block
            .form-group
                label.control-label.password
                    input.form-control(type='text', placeholder='пароль')
                .help-block

            .form-group.popup__button
                button.button(type='button' disabled) Увійти
            i Ще немає аккаунту?
                a.person-img.registration-modal(href='#registration-drive') Реєстрація

    if (registration)
        .popup__wrapper.popup--inner
            h2 Реєстрація
            .form-group
                label.control-label.user
                    input.form-control(type='text', placeholder='логін')
                .help-block
            .form-group
                label.control-label.e-mail
                    input.form-control(type='text', placeholder='e-mail')
                .help-block
            .form-group
                label.control-label.password
                    input.form-control(type='text', placeholder='пароль')
                .help-block
            .form-group
                label.control-label.password
                    input.form-control(type='text', placeholder='повторіть пароль')
                .help-block
            .form-group.popup__button
                button.button(type='button' disabled) Зареєструватися

    if (leave)
        .popup__wrapper
            .popup__img
                img(src='assets/images/icons/success.svg' alt='')
            p Дякуємо за Ваш коментар!
            span Коментар відправлений на модерацію

    if (fotoVideo)
        .popup__image-video
            //= Tab =
            .tab
                .tab-menu
                    ul.tab-list
                        li.tab-item.tab-item-foto.active
                            a.tab-link(href='#ps-foto') Фотографії
                        li.tab-item.tab-item-video
                            a.tab-link(href='#ps-video') Відео
                .tab-wrapper
                    .tab-content
                        #ps-foto.tab-box.active
                            .add-user-media-main
                                .add-user-media-select
                                    .add-user-media-select-wrap
                                        form.add-user-media-select-files
                                            .add-user-media-select-files-inner
                                                input.add-user-media-select-input(type='file')
                                                button.btn-link-i Вибрати файли
                                    .add-user-media-select-caption Додавайте зображення в форматах .jpg, .gif, .png, розміром файлу до 5 МБ

                                .add-user-media-collection-wrap.perfect-scrollbar-modal(style='display: none;')
                                    .add-user-media-collection-inner

                                        .add-user-media-collection-inner-image
                                            figure.add-user-media-collection-inner-image-i
                                                img(src="../../data/example/1.png" alt="")
                                            .add-user-media-collection-inner-image-close ×

                                        .add-user-media-collection-inner-image
                                            figure.add-user-media-collection-inner-image-i
                                                img(src="../../data/example/1.png" alt="")
                                            .add-user-media-collection-inner-image-close ×

                                        .add-user-media-collection-inner-image
                                            figure.add-user-media-collection-inner-image-i
                                                img(src="../../data/example/1.png" alt="")
                                            .add-user-media-collection-inner-image-close ×

                                        .add-user-media-collection-inner-image
                                            figure.add-user-media-collection-inner-image-i
                                                img(src="../../data/example/1.png" alt="")
                                            .add-user-media-collection-inner-image-close ×

                                        .add-user-media-collection-inner-image
                                            figure.add-user-media-collection-inner-image-i
                                                img(src="../../data/example/1.png" alt="")
                                            .add-user-media-collection-inner-image-close ×

                                        .add-user-media-collection-inner-image
                                            figure.add-user-media-collection-inner-image-i
                                                img(src="../../data/example/1.png" alt="")
                                            .add-user-media-collection-inner-image-close ×

                                        .add-user-media-collection-inner-image
                                            figure.add-user-media-collection-inner-image-i
                                                img(src="../../data/example/1.png" alt="")
                                            .add-user-media-collection-inner-image-close ×

                                        .add-user-media-collection-inner-image
                                            figure.add-user-media-collection-inner-image-i
                                                img(src="../../data/example/1.png" alt="")
                                            .add-user-media-collection-inner-image-close ×

                                        .add-user-media-collection-inner-image
                                            form.add-user-media-select-files
                                                .add-user-media-select-files-inner
                                                    input.add-user-media-select-input(type='file')

                                                    .add-user-media-collection-inner-more
                                                        .add-user-media-collection-inner-more-icon
                                                        span.add-user-media-collection-inner-more-text Завантажити ще

                        #ps-video.tab-box
                            .add-user-media-main
                                .add-user-media-video(style='display: none;')
                                    .add-user-media-video-input
                                        .add-user-media-video-input-caption Вставте посилання на YouTube-відео
                                        .add-user-media-video-input-inner
                                            input.input-text-wide(type="text")
                                    .add-user-media-video-caption
                                        .add-user-media-video-caption-text Якщо посилання правильне, то тут ви побачите превью відео

                                .add-user-media-video-collection.perfect-scrollbar-modal
                                    .add-user-media-video-collection-wrap
                                        .add-user-media-video-collection-inner
                                            figure.add-user-media-video-collection-img
                                                img(src="../../data/route/youtube/hqdefault.jpg" alt="")
                                            .add-user-media-video-collection-name Сваты 5 (5-й сезон, 13-я серия) Сваты 5 (5-й сезон, 13-я серия) Сваты 5 (5-й сезон, 13-я серия) Сваты 5 (5-й сезон, 13-я серия) Сваты 5 (5-й сезон, 13-я серия)
                                            .add-user-media-video-collection-close ×

                                    .add-user-media-video-collection-wrap
                                        .add-user-media-video-collection-inner
                                            figure.add-user-media-video-collection-img
                                                //proportions and the maximum size of images 480x360
                                                img(src="../../data/route/youtube/hqdefault.jpg" alt="")
                                            .add-user-media-video-collection-name Сваты 5 (5-й сезон, 13-я серия))
                                            .add-user-media-video-collection-close ×

                                    .add-user-media-video-collection-wrap
                                        .add-user-media-video-collection-inner
                                            figure.add-user-media-video-collection-img
                                                //proportions and the maximum size of images 480x360
                                                img(src="../../data/route/youtube/hqdefault.jpg" alt="")
                                            .add-user-media-video-collection-name Сваты 5 (5-й сезон, 13-я серия))
                                            .add-user-media-video-collection-close ×

                                    .add-user-media-video-collection-wrap
                                        .add-user-media-video-collection-inner
                                            figure.add-user-media-video-collection-img
                                                //proportions and the maximum size of images 480x360
                                                img(src="../../data/route/youtube/hqdefault.jpg" alt="")
                                            .add-user-media-video-collection-name Сваты 5 (5-й сезон, 13-я серия))
                                            .add-user-media-video-collection-close ×

                                    .add-user-media-video-collection-more
                                        a.add-user-media-video-collection-more-link(href="#")
                                            .add-user-media-video-collection-more-icon
                                            span.add-user-media-video-collection-more-text Завантажити ще відео

                .add-user-media-footer
                    button.btn-link-i OK

//= End popup =
= '\n'
