= '\n'
//= quantity =
//- (source/assets/css/module/_quantity.scss)
.quantity
    button.quantity__button.quantity__button--minus(disabled) -
    input(type='text' min ='1' max='10000' value='1' size='1')
    button.quantity__button.quantity__button--plus +
//= End quantity =
= '\n'
