= '\n'
//= remuneration =
//- (source/assets/css/module/_remuneration.scss)
.remuneration
    h3 Нагороди за цей маршрут
    .remuneration__items
        - for(var i = 0; i < 11; i++)
            .remuneration__medal
                .hint
                    a(href="javascript:void(0)") 27
                    span оцінок

//= End remuneration =
= '\n'
