= '\n'
//= response =
//- (source/assets/css/layout/_response.scss)
.response
	a.close(href="javascript:void(0)")
	h4 Відгук про маршрут
	include _rating.pug

	form(id='form' action='#' method='post')
		.form-group.has-error.required
			label Ім’я та прізвище
			input.form-control(type='text', placeholder='')
		.form-group.checked
			label Повідомляти про відповіді ел. поштою
				input.form-control(type='checkbox', placeholder='')
		.form-group
			label Коментар
			textarea.form-control(col='25', row='3') Текст коментар...
		.response__send
			.response__user-content-add
				.response__user-content-add-preview
					a.response__user-content-add-preview-link.responsive-img(href='#image-drive')
						img(src="../../data/example/1.png", alt="")
						.response__user-content-add-preview-close ×
				.response__user-content-add-preview
					a.response__user-content-add-preview-link.responsive-video(href='#image-drive')
						img(src="../../data/example/5.png", alt="")
						.response__user-content-add-preview-close ×

			.response__wrap
				.response__inner
					a.image.responsive-img(href='#image-drive')
						//-label
							input(type="file")
					a.movie.responsive-video(href='#image-drive')
						//-label
							input(type="file")

				button.button.leave-review-modal Залишити відгук
//= End response =
= '\n'
