= '\n'
//= slider =
//- (source/assets/css/module/_slider.scss)
.slider
    .container
        .swiper-container(data-breakpoints='{"9999":{"slidesPerView":1}}')
            .swiper-wrapper
                .slider__picture.swiper-slide
                    img(src="data/guide/1.png", alt="")
            .swiper-button-prev.bigboard-button-prev
            .swiper-button-next.bigboard-button-next
//= End slider =
= '\n'
