= '\n'
//=catalog-wrapper =
//- (source/assets/css/module/_catalog.scss)

each val, index in state
    .catalog__item(class = (modifier) ? modifier : '' class= transparent ? 'transparent' : '')
        //proportions and the maximum size of images 410x270
        a.catalog__img(href='#')
            img.__bg(src='data/main/catalog-small' + i + '.jpg' data-src='data/main/' + val.src + i + '.jpg')
        .catalog__info.catalog__state
            a.catalog__title(href='#')= val.title
            ul
                li
                    a(href='#')= val.li1
                li
                    a(href='#')= val.li2
                li
                    a(href='#')= val.li3

//= End catalog-wrapper =
= '\n'
