//- BREADCRUMBS
//------------------------------------------------

$breadcrumbs__baseFontSize:         $fontSizeBase !default;

$breadcrumbs__textColor:            $grayLighter !default;

$breadcrumbs__textActiveColor:      $brandActive !default;

$breadcrumbs__borderColor:          $borderColor !default;
$breadcrumbs__backgroundColor:      $base !default;
$breadcrumbs__shadowColor:          transparentize($grayBase, .8) !default;

$breadcrumbs__priceTextFontSize:    $fontSizeH6 !default;

$breadcrumbs__moreTextColor:        $brandPrimary !default;
