//- SHARE PAGE INNER
//------------------------------------------------

$sharePageInner__dateTextFontSize:      $fontSizeH4 !default;
$sharePageInner__dateTextColor:         $base !default;
$sharePageInner__dateBackgroundColor:   #e6007e !default;

$sharePageInner__titleTextColor:        $grayDark !default;

$sharePageInner__linkTextColor:         #e6007e !default;
