//- CHECKBOX
//------------------------------------------------

$checkbox__baseFontSize:            $fontSizeBase !default;

$checkbox__textFontSize:            $fontSizeSmall !default;
$checkbox__textColor:               $grayExtraLight !default;
$checkbox__borderColor:             $borderColor !default;
$checkbox__backgroundColor:         $base !default;
$checkbox__backgroundColor--acitve: $brandSecondary !default;

$checkbox__linkTextColor--active:   $brandPrimary !default;
