@import 'vars/_variable.scss';

.lang {
    font-size: $lang__textFontSize;
    line-height: (28px / $lang__textFontSize);
    position: relative;
    z-index: 1;
    float: right;
    margin: 5px 0 0 20px;

    .greeting & {
        &__link {
            color: $lang__greetingLinkColor;
        }
    }

    &__list {
        position: relative;
        margin: 0 -3px;

        @include clearfix;
    }

    &__item {
        position: relative;
        float: left;
        margin: 0 3px;

        &--active {
            .lang {
                &__link {
                    cursor: default;
                    color: $lang__linkColor--active;
                }
            }
        }
    }

    &__link {
        transition: all .2s linear;
        text-decoration: none;
        color: $lang__linkColor;

        &:hover {
            color: $lang__linkColor--active;
        }
    }
}
