
-
    var filterData = {};

    filterData.manufacturers = [{
            title: '5 м.',
            active: true
        },
        {
            title: '6-8 м.',
        },
        {
            title: '+8 м.',
        }
    ];

    filterData.availability = [{
            title: 'Бетонні',
            active: true
        },
        {
            title: 'Збірно-розбірні',
        },
        {
            title: 'Поліпропілен',
            disabled: true
        },
        {
            title: 'Арматурні',
        }
    ];

    filterData.goods = [{
            title: 'Спа - басейни',
        },
        {
            title: 'Спа та купелі',
        }
    ];

