include vars/_variable.pug

= '\n'
//= Contacts =
.contacts
    //-.contacts__item.contacts__item--address м. Рівне, вул. Короленка, 1
    a.contacts__item.contacts__item--phone(href="tel:+380503393158") (050)-339-31-58
    .contacts__item.contacts__item--work-time щодня 10.00-21.00
//= End contacts =
= '\n'
