@import 'vars/_variable.scss';

.contacts {
    line-height: (18px / $contacts__baseFontSize);
    position: relative;

    & a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .greeting & {
        color: $contacts__greetingTextColor;

        &__item {
            &--address {
                &:before {
                    background-position: 0 0;
                }
            }

            &--work-time {
                &:before {
                    background-position: 0 0;
                }
            }

            &--phone {
                &:before {
                    background-position: 0 0;
                }
            }
        }
    }

    &__mobitem {
        padding-left: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 17px;
            height: 17px;
            background: url(../images/footer/icon/phone.png) no-repeat;
        }


        &-value {
            text-decoration: none;
            color: #313131;
            font-size: 16px;
            line-height: 1;

            &:hover {
                text-decoration: underline;
            }
        }

        &-text {
            color: #313131;
            display: block;
            font-size: 14px;
        }
    }

    &__item {
        position: relative;

        &:before {
            position: relative;
            display: inline-block;
            content: '';
        }

        &--address {
            margin: 0 0 1px;

            &:before {
                top: 2px;
                width: 10px;
                height: 15px;
                margin-right: 10px;
                background: url('../images/header/icon/address.png') 0 -16px no-repeat;
            }
        }

        &--phone {
            margin: 0 0 1px;
            color: inherit;

            &:before {
                top: 1px;
                width: 11px;
                height: 11px;
                margin-right: 9px;
                background: url('../images/header/icon/phone.png') 0 -12px no-repeat;            }
        }

        &--work-time {
            &:before {
                top: 1px;
                width: 11px;
                height: 11px;
                margin-right: 9px;
                background: url('../images/header/icon/work-time.png') 0 -12px no-repeat;
            }
        }
    }
}
