//- PRODUCT
//------------------------------------------------

-
    productOptions = [
        {
            title: 'Гарантия',
            select: [
                {
                    title: '3 месяца'
                },
                {
                    title: '6 месяцев'
                },
                {
                    title: '12 месяцев'
                }
            ],
            price: '+120 грн'
        },
        {
            title: 'Программы',
            select: false,
            select: [
                {
                    title: 'Базовые программы'
                },
                {
                    title: 'Стандарт. пакет настроек'
                },
                {
                    title: 'Макс. пакет настроек'
                },
                {
                    title: 'Детский пакет'
                },
                {
                    title: 'Пакет для родителей'
                }
            ],
            price: '+160 грн'
        },
        {
            title: 'Защита',
            select: [
                {
                    title: 'Базовые программы'
                },
                {
                    title: 'Стандарт. пакет настроек'
                },
                {
                    title: 'Макс. пакет настроек'
                },
                {
                    title: 'Детский пакет'
                },
                {
                    title: 'Пакет для родителей'
                }
            ],
            price: '+160 грн'
        },
        {
            title: 'Чехол',
            select: [
                {
                    title: 'Чехол №1',
                    image: 'image'
                },
                {
                    title: 'Чехол Huawei',
                    image: 'image2'
                }
            ],
            price: '+160 грн'
        }
    ]

    productColor = [
        {
            color: '#f9bcad',
            text: 'color',
            class: 'not-available'
        },
        {
            color: '#fff',
            text: 'color'
        },
        {
            color: '#1b008f',
            text: 'color'
        },
        {
            color: '#2a2a29',
            text: 'Black',
            active: true
        }
    ]

    productColorDrop = [
        {
            image: 'color',
            color: '#decbad',
            colorTitle: 'Gold',
            title: 'Xiaomi Redmi 4A 2/16Gb (Grey)',
            price: '20 000 грн',
            size: '2/16Gb'
        },
        {
            image: 'color2',
            color: '#2a2a29',
            colorTitle: 'Black',
            title: 'Xiaomi Redmi 4A 2/32Gb (Dark Grey)',
            price: '10 000 грн',
            size: '2/16Gb'
        },
        {
            image: 'color3',
            color: '#a0a1a3',
            colorTitle: 'Silver',
            title: 'Xiaomi Redmi 4A 2/16Gb (Rose Gold)',
            price: '10 000 грн',
            size: '2/16Gb'
        },
        {
            image: 'color4',
            color: '#3a6699',
            colorTitle: 'Blue',
            title: 'Samsung Galaxy A5 2017 Duos SM-A520 Black',
            price: '10 000 грн',
            size: '2/16Gb'
        }
    ]

    productSizeDrop = [
        {
            image: 'color',
            title: '2/16Gb',
            price: '20 000 грн'
        },
        {
            image: 'color2',
            color: '#2a2a29',
            colorTitle: 'Black',
            title: '2/32Gb',
            price: '10 000 грн'
        },
        {
            image: 'color3',
            color: '#a0a1a3',
            colorTitle: 'Silver',
            title: '3/32Gb',
            price: '8 000 грн'
        }
    ]

    productSize = [
        {
            text: '2/16 Gb',
            active: true
        },
        {
            text: '3/32 Gb'
        }
    ]

    productFeature = [
        {
            class: 'cpu',
            iconText: '4',
            title: 'Ядра'
        },
        {
            class: 'ips'
        },
        {
            class: 'os',
            title: 'Android 5.1'
        },
        {
            class: 'camera',
            title: '13 Mp'
        },
        {
            class: 'threeG'
        },
        {
            class: 'threeG-no'
        },
        {
            class: 'sim2',
            title: '2 Сим карты'
        },
        {
            class: 'sim',
            title: 'Мини сим'
        },
        {
            class: 'micro-sim',
            title: 'Микро сим'
        },
        {
            class: 'nano-sim',
            title: 'Нано сим'
        },
        {
            class: 'battery',
            title: '4000 мА*ч'
        },
        {
            class: 'fingerprint'
        },
        {
            class: 'hybrid',
            title: '2 (или 1 SIM + карта памяти)'
        },
        {
            class: 'ram',
            title: '4000 мА*ч'
        }
    ]

    special = [
        {
            class: 'discount',
            title: '- 30%'
        },
        {
            class: 'recommended',
            title: 'Рекомендуем'
        },
        {
            class: 'new',
            title: 'Новинка'
        }
    ]

