//- WORK TIME
//------------------------------------------------

$workTime__textFontSize:    $fontSizeSmall !default;
$workTime__textColor:       $gray !default;

$workTime__timeColor:       $footer__linkColor--active !default;
